Repository cloudquery/cloudquery, pull requests merged in 2022-03, with the labels that each got.

#508 fix: Missing views in history mode
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/database/database.go
  pkg/client/database/postgres/executor.go
  pkg/client/database/timescale/ddlmanager.go
  pkg/client/database/timescale/timescale.go
  pkg/client/database/timescale/timescale_test.go
Labels: fix

#510 fix: Validate DB connection with an explicit timeout, rather than the…
  pkg/client/database/postgres/executor.go
  pkg/client/database/timescale/timescale.go
Labels: fix

#516 fix: Keep binary reference consistent
  cmd/provider.go
Labels: fix

#518 fix: Handle if Path doesn't exist
  pkg/policy/snapshot_testing.go
  pkg/policy/snapshot_testing_test.go
Labels: fix

#521 fix: Diag: Don't report errors we don't care about
  go.mod
  go.sum
  internal/telemetry/error.go
  internal/telemetry/error_test.go
  pkg/client/client.go
  pkg/ui/console/fetch.go
Labels: fix

#515 feat: Drift: Add @getbool modifier
  pkg/module/drift/terraform.go
Labels: feat

#522 feat: Add file() func to config parser
  pkg/config/parser.go
  pkg/ui/console/client.go
Labels: feat

#525 fix: Foreign Keys in Snapshots
  pkg/policy/snapshots.go
Labels: fix

#523 feat: Store cq_fetch_id in meta
  go.mod
  go.sum
  pkg/client/client.go
Labels: feat

#531 fix: Downgrade provider
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/plugin/manager.go
  pkg/ui/console/client.go
Labels: fix

#537 feat: Support timeouts in fetch
  go.mod
  go.sum
  pkg/client/client.go
  pkg/config/provider.go
Labels: feat

#540 fix: Validate Timescale Version
  pkg/client/database/postgres/executor.go
  pkg/client/database/timescale/timescale.go
  pkg/client/database/timescale/timescale_test.go
Labels: fix

#542 chore: Clean up db version checks
  pkg/client/database/postgres/executor.go
  pkg/client/database/timescale/timescale.go
Labels: ignore-for-release

#527 chore: Update from .github
  .github/dependabot.yml
  .github/release.yml
  .github/workflows/README
  .github/workflows/history_test.yml
  .github/workflows/lint_golang.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  CODEOWNERS
Labels: ignore-for-release

#545 feat: Ignore ignored diags unless -v is specified
  cmd/root.go
  pkg/ui/console/client.go
  pkg/ui/console/fetch.go
Labels: feat

#444 feat: Added checking of finished fetches before running policy
  pkg/client/client.go
  pkg/client/meta_storage/client.go
  pkg/client/meta_storage/fetch_summary.go
  pkg/client/meta_storage/fetch_summary_test.go
  pkg/client/meta_storage/migrations/postgres/1_v0.19.2.down.sql
  pkg/client/meta_storage/migrations/postgres/1_v0.19.2.up.sql
  pkg/client/meta_storage/migrations/postgres/2_v0.19.3.down.sql
  pkg/client/meta_storage/migrations/postgres/2_v0.19.3.up.sql
  pkg/client/migrations/postgres/1_v0.19.2.down.sql
  pkg/policy/execute.go
  pkg/policy/execute_test.go
Labels: feat

#553 chore: Sync form .github
  .github/workflows/issue_to_project.yml
Labels: ignore-for-release

#555 fix: Add ProviderVersion to the 'cloudquery.fetches' meta table
  pkg/client/client.go
Labels: fix

#554 feat: Simplify fetch warning/error counts (unless -v is on)
  go.mod
  go.sum
  pkg/ui/console/client.go
Labels: feat

#556 feat: Limit scope of views
  pkg/policy/execute.go
  pkg/policy/execute_test.go
Labels: feat

#546 fix: Policy describe should run without config.hcl requirement
  cmd/util.go
  pkg/ui/console/client.go
  pkg/ui/console/client_test.go
  pkg/ui/console/fixtures/example-policy/policy.hcl
Labels: fix

#558 feat: Drift: List unimplemented resources in debug mode
  pkg/module/drift/drift.go
Labels: feat

#559 feat: Add console colour disable
  cmd/root.go
  internal/logging/logger.go
  pkg/ui/output.go
Labels: feat
