Repository cloudquery/cloudquery, pull requests merged in 2022-08, with the labels that each got.

#1195 chore(release): Disable GitHub release notes
  release-please-config.json
Labels: ignore-for-release

#1196 chore: Fix release process
  .release-please-manifest.json
  release-please-config.json
Labels: ignore-for-release

#1199 chore: Rename CLI module and imports
  cli/Makefile
  cli/cmd/fetch/fetch.go
  cli/cmd/fetch/fetch_test.go
  cli/cmd/init/init.go
  cli/cmd/init_test.go
  cli/cmd/provider/drop.go
  cli/cmd/provider/provider.go
  cli/cmd/provider/purge.go
  cli/cmd/provider/sync.go
  cli/cmd/root.go
  cli/cmd/sentry.go
  cli/cmd/version.go
  cli/docs/index.md
  cli/go.mod
  cli/internal/analytics/client.go
  cli/internal/file/file.go
  cli/internal/file/file_test.go
  cli/internal/getter/hub.go
  cli/internal/logging/hclog.go
  cli/internal/logging/logger.go
  cli/internal/logging/logger_test.go
  cli/main.go
  cli/pkg/config/config.go
  cli/pkg/config/config_parser.go
  cli/pkg/config/convert/stdlib.go
  cli/pkg/config/convert/stdlib_test.go
  cli/pkg/config/loader_test.go
  cli/pkg/core/core.go
  cli/pkg/core/database/database.go
  cli/pkg/core/database/postgres/executor.go
  cli/pkg/core/diagnostics.go
  cli/pkg/core/download.go
  cli/pkg/core/download_test.go
  cli/pkg/core/fetch.go
  cli/pkg/core/provider.go
  cli/pkg/core/provider_test.go
  cli/pkg/core/purge.go
  cli/pkg/core/purge_test.go
  cli/pkg/core/schema.go
  cli/pkg/core/schema_test.go
  cli/pkg/core/state/client.go
  cli/pkg/core/state/provider.go
  cli/pkg/core/sync.go
  cli/pkg/core/sync_test.go
  cli/pkg/core/version.go
  cli/pkg/plugin/manager.go
  cli/pkg/plugin/manager_test.go
  cli/pkg/plugin/plugin.go
  cli/pkg/plugin/registry/hub.go
  cli/pkg/plugin/registry/hub_test.go
  cli/pkg/plugin/registry/mock_registry.go
  cli/pkg/ui/console/client.go
  cli/pkg/ui/console/client_test.go
  cli/pkg/ui/console/diagnostics.go
  cli/pkg/ui/console/progress.go
  cli/pkg/ui/console/summary.go
Labels: ignore-for-release, automerge

#1204 chore: Rename plugin/source/cloudflare module and imports
  plugins/source/cloudflare/client/mocks/mock_client.go
  plugins/source/cloudflare/docs/docs.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/main.go
  plugins/source/cloudflare/resources/provider/provider.go
  plugins/source/cloudflare/resources/services/access_groups.go
  plugins/source/cloudflare/resources/services/access_groups.hcl
  plugins/source/cloudflare/resources/services/access_groups_mock_test.go
  plugins/source/cloudflare/resources/services/accounts.go
  plugins/source/cloudflare/resources/services/accounts.hcl
  plugins/source/cloudflare/resources/services/accounts_mock_test.go
  plugins/source/cloudflare/resources/services/certificate_packs.go
  plugins/source/cloudflare/resources/services/certificate_packs.hcl
  plugins/source/cloudflare/resources/services/certificate_packs_mock_test.go
  plugins/source/cloudflare/resources/services/dns_records.go
  plugins/source/cloudflare/resources/services/dns_records.hcl
  plugins/source/cloudflare/resources/services/dns_records_mock_test.go
  plugins/source/cloudflare/resources/services/ips.go
  plugins/source/cloudflare/resources/services/ips.hcl
  plugins/source/cloudflare/resources/services/waf.go
  plugins/source/cloudflare/resources/services/waf.hcl
  plugins/source/cloudflare/resources/services/waf_mock_test.go
  plugins/source/cloudflare/resources/services/workers.hcl
  plugins/source/cloudflare/resources/services/workers_routes.go
  plugins/source/cloudflare/resources/services/workers_routes_mock_test.go
  plugins/source/cloudflare/resources/services/workers_scripts.go
  plugins/source/cloudflare/resources/services/workers_scripts_mock_test.go
  plugins/source/cloudflare/resources/services/zones.go
  plugins/source/cloudflare/resources/services/zones.hcl
  plugins/source/cloudflare/resources/services/zones_mock_test.go
Labels: ignore-for-release, automerge

#1205 chore: Rename plugin/source/digitalocean module and imports
  plugins/source/digitalocean/docs/docs.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/main.go
  plugins/source/digitalocean/resources/account.go
  plugins/source/digitalocean/resources/account_test.go
  plugins/source/digitalocean/resources/alert_policies.go
  plugins/source/digitalocean/resources/alert_policies_test.go
  plugins/source/digitalocean/resources/balance.go
  plugins/source/digitalocean/resources/balance_test.go
  plugins/source/digitalocean/resources/billing_history.go
  plugins/source/digitalocean/resources/billing_history_test.go
  plugins/source/digitalocean/resources/cdn.go
  plugins/source/digitalocean/resources/cdn_test.go
  plugins/source/digitalocean/resources/certificates.go
  plugins/source/digitalocean/resources/certificates_test.go
  plugins/source/digitalocean/resources/databases.go
  plugins/source/digitalocean/resources/databases_test.go
  plugins/source/digitalocean/resources/domains.go
  plugins/source/digitalocean/resources/domains_test.go
  plugins/source/digitalocean/resources/droplets.go
  plugins/source/digitalocean/resources/droplets_test.go
  plugins/source/digitalocean/resources/firewalls.go
  plugins/source/digitalocean/resources/firewalls_test.go
  plugins/source/digitalocean/resources/floating_ips.go
  plugins/source/digitalocean/resources/floating_ips_test.go
  plugins/source/digitalocean/resources/images.go
  plugins/source/digitalocean/resources/images_test.go
  plugins/source/digitalocean/resources/keys.go
  plugins/source/digitalocean/resources/keys_test.go
  plugins/source/digitalocean/resources/load_balancers.go
  plugins/source/digitalocean/resources/load_balancers_test.go
  plugins/source/digitalocean/resources/projects.go
  plugins/source/digitalocean/resources/projects_test.go
  plugins/source/digitalocean/resources/provider/provider.go
  plugins/source/digitalocean/resources/regions.go
  plugins/source/digitalocean/resources/regions_test.go
  plugins/source/digitalocean/resources/registry.go
  plugins/source/digitalocean/resources/registry_test.go
  plugins/source/digitalocean/resources/size.go
  plugins/source/digitalocean/resources/size_test.go
  plugins/source/digitalocean/resources/snapshots.go
  plugins/source/digitalocean/resources/snapshots_test.go
  plugins/source/digitalocean/resources/spaces.go
  plugins/source/digitalocean/resources/spaces_test.go
  plugins/source/digitalocean/resources/volumes.go
  plugins/source/digitalocean/resources/volumes_test.go
  plugins/source/digitalocean/resources/vpc.go
  plugins/source/digitalocean/resources/vpc_test.go
Labels: ignore-for-release, automerge

#1206 chore: Rename plugin/source/fuzz module and imports
  plugins/source/fuzz/go.mod
  plugins/source/fuzz/main.go
Labels: ignore-for-release, automerge

#1208 chore: Rename plugin/source/github module and imports
  plugins/source/github/client/mocks/mock_billing.go
  plugins/source/github/client/mocks/mock_issues.go
  plugins/source/github/client/mocks/mock_orgs.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/mocks/mock_teams.go
  plugins/source/github/docs/docs.go
  plugins/source/github/go.mod
  plugins/source/github/main.go
  plugins/source/github/resources/action_billing.go
  plugins/source/github/resources/action_billing_test.go
  plugins/source/github/resources/billing.hcl
  plugins/source/github/resources/external_groups.go
  plugins/source/github/resources/external_groups.hcl
  plugins/source/github/resources/external_groups_test.go
  plugins/source/github/resources/hooks.go
  plugins/source/github/resources/hooks.hcl
  plugins/source/github/resources/hooks_test.go
  plugins/source/github/resources/installations.go
  plugins/source/github/resources/installations.hcl
  plugins/source/github/resources/installations_test.go
  plugins/source/github/resources/issues.go
  plugins/source/github/resources/issues.hcl
  plugins/source/github/resources/issues_test.go
  plugins/source/github/resources/organizations.go
  plugins/source/github/resources/organizations.hcl
  plugins/source/github/resources/organizations_test.go
  plugins/source/github/resources/package_billing.go
  plugins/source/github/resources/packing_billing_test.go
  plugins/source/github/resources/provider/provider.go
  plugins/source/github/resources/repositories.go
  plugins/source/github/resources/repositories_test.go
  plugins/source/github/resources/respositories.hcl
  plugins/source/github/resources/storage_billing.go
  plugins/source/github/resources/storage_billing_test.go
  plugins/source/github/resources/teams.go
  plugins/source/github/resources/teams.hcl
  plugins/source/github/resources/teams_test.go
Labels: ignore-for-release, automerge

#1210 chore: Rename plugin/source/okta module and imports
  plugins/source/okta/docs/docs.go
  plugins/source/okta/go.mod
  plugins/source/okta/main.go
  plugins/source/okta/resources/provider.go
  plugins/source/okta/resources/users.go
Labels: ignore-for-release, automerge

#1211 chore: Rename plugin/source/terraform module and imports
  plugins/source/terraform/docs/docs.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/provider.go
  plugins/source/terraform/resources/tfdata.go
Labels: ignore-for-release, automerge

#1212 chore: Add versions site
  sites/versions/v1/cli.json
  sites/versions/v1/source-aws.json
  sites/versions/v1/source-azure.json
  sites/versions/v1/source-cloudflare.json
  sites/versions/v1/source-digitalocean.json
  sites/versions/v1/source-fuzz.json
  sites/versions/v1/source-gcp.json
  sites/versions/v1/source-github.json
  sites/versions/v1/source-k8s.json
  sites/versions/v1/source-okta.json
  sites/versions/v1/source-terraform.json
Labels: ignore-for-release

#1215 chore: Fix Go releaser
  plugins/.goreleaser.yaml
  plugins/source/aws/.goreleaser.yaml
  plugins/source/azure/.goreleaser.yaml
  plugins/source/cloudflare/.goreleaser.yaml
  plugins/source/digitalocean/.goreleaser.yaml
  plugins/source/fuzz/.goreleaser.yaml
  plugins/source/gcp/.goreleaser.yaml
  plugins/source/github/.goreleaser.yaml
  plugins/source/k8s/.goreleaser.yaml
  plugins/source/okta/.goreleaser.yaml
  plugins/source/terraform/.goreleaser.yaml
Labels: ignore-for-release

#1220 chore(ci-drift-generated): Don't run on push events
  .github/workflows/check_generated_code_drift.yml
Labels: ignore-for-release

#1223 chore: Add test provider version (monorepo)
  sites/versions/v1/source-test.json
Labels: ignore-for-release

#1227 chore: Update plugin versions (monorepo)
  sites/versions/v1/source-aws.json
  sites/versions/v1/source-azure.json
  sites/versions/v1/source-cloudflare.json
  sites/versions/v1/source-digitalocean.json
  sites/versions/v1/source-gcp.json
  sites/versions/v1/source-github.json
  sites/versions/v1/source-k8s.json
  sites/versions/v1/source-okta.json
  sites/versions/v1/source-terraform.json
Labels: ignore-for-release

#1202 chore: Add docs linting (monorepo)
  .github/workflows/check_generated_code_drift.yml
  .github/workflows/lint_doc.yml
  plugins/source/aws/.github/.kodiak.toml
  plugins/source/aws/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/aws/.github/release.yml
  plugins/source/aws/.github/renovate.json5
  plugins/source/azure/.github/.kodiak.toml
  plugins/source/azure/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/azure/.github/release.yml
  plugins/source/azure/.github/renovate.json5
  plugins/source/cloudflare/.github/.kodiak.toml
  plugins/source/cloudflare/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/cloudflare/.github/release.yml
  plugins/source/cloudflare/.github/renovate.json5
  plugins/source/digitalocean/.github/.kodiak.toml
  plugins/source/digitalocean/.github/ISSUE_TEMPLATE/bug_report.md
  plugins/source/digitalocean/.github/ISSUE_TEMPLATE/config.yml
  plugins/source/digitalocean/.github/ISSUE_TEMPLATE/feature_request.md
  plugins/source/digitalocean/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/digitalocean/.github/release.yml
  plugins/source/digitalocean/.github/renovate.json5
  plugins/source/fuzz/.github/.kodiak.toml
  plugins/source/fuzz/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/fuzz/.github/renovate.json5
  plugins/source/gcp/.github/.kodiak.toml
  plugins/source/gcp/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/gcp/.github/release.yml
  plugins/source/gcp/.github/renovate.json5
  plugins/source/github/.github/.kodiak.toml
  plugins/source/github/.github/ISSUE_TEMPLATE/bug_report.md
  plugins/source/github/.github/ISSUE_TEMPLATE/config.yml
  plugins/source/github/.github/ISSUE_TEMPLATE/feature_request.md
  plugins/source/github/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/github/.github/renovate.json5
  plugins/source/k8s/.github/.kodiak.toml
  plugins/source/k8s/.github/ISSUE_TEMPLATE/bug_report.md
  plugins/source/k8s/.github/ISSUE_TEMPLATE/config.yml
  plugins/source/k8s/.github/ISSUE_TEMPLATE/feature_request.md
  plugins/source/k8s/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/k8s/.github/release.yml
  plugins/source/k8s/.github/renovate.json5
  plugins/source/okta/.github/.kodiak.toml
  plugins/source/okta/.github/ISSUE_TEMPLATE/bug_report.md
  plugins/source/okta/.github/ISSUE_TEMPLATE/config.yml
  plugins/source/okta/.github/ISSUE_TEMPLATE/feature_request.md
  plugins/source/okta/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/okta/.github/release.yml
  plugins/source/okta/.github/renovate.json5
  plugins/source/terraform/.github/.kodiak.toml
  plugins/source/terraform/.github/PULL_REQUEST_TEMPLATE.md
  plugins/source/terraform/.github/release.yml
  plugins/source/terraform/.github/renovate.json5
  plugins/target/.gitignore
Labels: ignore-for-release

#1231 chore: Sync versions
  .release-please-manifest.json
  release-please-config.json
  sites/versions/v1/cli.json
  sites/versions/v1/source-fuzz.json
  sites/versions/v1/source-test.json
Labels: ignore-for-release

#1235 chore: Cherry pick missing commits from main branch
  cli/CHANGELOG.md
  cli/internal/versions/providers.go
  cli/internal/versions/providers_test.go
  cli/pkg/plugin/registry/hub.go
  cli/pkg/plugin/registry/hub_test.go
Labels: ignore-for-release

#1250 chore: Cherry pick latest commits from cq-provider-cloudflare
  plugins/source/cloudflare/CHANGELOG.md
  plugins/source/cloudflare/client/mocks/mock_client.go
  plugins/source/cloudflare/client/services.go
  plugins/source/cloudflare/docs/index.md
  plugins/source/cloudflare/docs/tables/cloudflare_images.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_overrides.md
  plugins/source/cloudflare/resources/provider/provider.go
  plugins/source/cloudflare/resources/services/images.go
  plugins/source/cloudflare/resources/services/images.hcl
  plugins/source/cloudflare/resources/services/images_mock_test.go
  plugins/source/cloudflare/resources/services/waf.hcl
  plugins/source/cloudflare/resources/services/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_overrides_mock_test.go
  release-please-config.json
Labels: ignore-for-release

#1253 chore: Update workflows, fix linting
  .github/workflows/README
  .github/workflows/add_tags.yml
  .github/workflows/check_generated_code_drift.yml
  .github/workflows/endpoints.yml
  .github/workflows/lint_doc.yml
  .github/workflows/lint_golang.yml
  .github/workflows/pr_title.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_pr.yml
  .github/workflows/sanity.yml
  .github/workflows/test.yml
  .github/workflows/test_policy_sql.yml
  .github/workflows/test_unit.yml
  .github/workflows/validate_release.yml
  cli/internal/versions/providers.go
Labels: ignore-for-release

#1255 chore: Ignore go work files
  .gitignore
Labels: ignore-for-release

#1256 fix(cli-docs): Fix typos in docs/index
  cli/docs/index.md
Labels: fix

#1257 feat(plugin-source-docs): Add docs
  plugins/source/fuzz/index.md
Labels: feat

#1262 chore: Fix CLI release
  .github/workflows/release_cli.yml
  .release-please-manifest.json
  cli/CHANGELOG.md
Labels: ignore-for-release

#1264 fix(cli): Don't prepend cq-provider to monorepo binary name
  cli/pkg/plugin/registry/hub.go
Labels: fix

#1269 chore(plugin-source-aws): Fix endpoints workflow
  .github/workflows/endpoints.yml
Labels: ignore-for-release

#1260 chore(release): Switch to public releases
  cli/.goreleaser.prerelease.yaml
  cli/.goreleaser.yaml
  plugins/.goreleaser.yaml
Labels: ignore-for-release

#1276 chore: Add validate release workflow
  .github/workflows/validate_release.yml
Labels: ignore-for-release

#1281 chore(deps): Add renovate config to update Go version and linter
  .github/renovate.json5
Labels: ignore-for-release

#1282 chore(release): Pass --snapshot flag for release validation
  .github/workflows/validate_release.yml
Labels: ignore-for-release

#1285 chore(site-versions): Disable PR comments
  sites/versions/vercel.json
Labels: ignore-for-release

#1287 chore(release): Fix docker release
  cli/Dockerfile.goreleaser
Labels: ignore-for-release

#1292 fix(deps): Update to Go 1.18
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Labels: fix

#1297 fix(cli): Keep docker old entrypoint name
  cli/Dockerfile.goreleaser
Labels: fix

#1300 chore(release): Use PrefixedTag for Homebrew download URLs
  cli/.goreleaser.yaml
Labels: ignore-for-release

#1299 chore: Add PR labels for plugins
  .github/.labeler.yml
  .github/workflows/add_tags.yml
Labels: ignore-for-release

#1302 chore(deps): Update to postgres 11 in tests
  .github/renovate.json5
Labels: ignore-for-release

#1304 fix(cli): Update binary name
  cli/.goreleaser.prerelease.yaml
  cli/Dockerfile.goreleaser
Labels: fix

#1301 chore: Remove issue_reporting.md from plugin directories
  .github/workflows/add_tags.yml
  plugins/CONTRIBUTING.md
  plugins/source/aws/docs/contributing/issue_reporting.md
  plugins/source/azure/docs/contributing/issue_reporting.md
  plugins/source/cloudflare/docs/contributing/issue_reporting.md
  plugins/source/digitalocean/docs/contributing/issue_reporting.md
  plugins/source/fuzz/docs/contributing/issue_reporting.md
  plugins/source/gcp/docs/contributing/issue_reporting.md
  plugins/source/github/docs/contributing/issue_reporting.md
  plugins/source/k8s/docs/contributing/issue_reporting.md
  plugins/source/okta/docs/contributing/issue_reporting.md
  plugins/source/terraform/docs/contributing/issue_reporting.md
Labels: aws, azure, ignore-for-release, cloudflare, digitalocean, fuzz, gcp, github, k8s, okta, terraform

#1312 chore(docs): Fix logo image path in readme
  README.md
Labels: ignore-for-release

#1315 chore(ci): Add repo settings sync workflow
  .github/repo_settings.yml
  .github/workflows/sync_repo_settings.yml
Labels: ignore-for-release

#1320 chore(test): Update postgres version to 11 in policy tests
  .github/repo_settings.yml
  .github/workflows/test_policy_sql.yml
Labels: ignore-for-release

#1314 chore(release): Add fillers to manifest file to avoid conflicts
  .release-please-manifest.json
Labels: ignore-for-release, automerge

#1317 chore(docs): Update readme and add `build-cli` command
  Makefile
  README.md
  scripts/build.sh
Labels: ignore-for-release

#1321 chore: Remove plugin gitignore files
  plugins/source/aws/.gitignore
  plugins/source/azure/.gitignore
  plugins/source/cloudflare/.gitignore
  plugins/source/digitalocean/.gitignore
  plugins/source/fuzz/.gitignore
  plugins/source/gcp/.gitignore
  plugins/source/github/.gitignore
  plugins/source/k8s/.gitignore
  plugins/source/okta/.gitignore
  plugins/source/terraform/.gitignore
Labels: ignore-for-release

#1323 chore(deps): Support updating go version in cache paths
  .github/renovate.json5
Labels: ignore-for-release

#1283 fix!: Fix Azure credential chain
  plugins/source/azure/client/client.go
Labels: azure, fix, breaking

#1325 feat: Implement EC2 Key Pairs (#1403)
  plugins/source/aws/client/mocks/mock_ec2.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_ec2_key_pairs.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/ec2/gen.hcl
  plugins/source/aws/resources/services/ec2/key_pairs.go
  plugins/source/aws/resources/services/ec2/key_pairs_mock_test.go
Labels: aws, feat

#1333 chore(ci): Sync repo settings only if changed
  .github/workflows/sync_repo_settings.yml
Labels: ignore-for-release

#1335 chore: Fix Azure version in manifest file
  .release-please-manifest.json
Labels: ignore-for-release

#1338 chore: Fix some wrong find replace strings
  plugins/source/aws/client/mocks/firehose.go
  plugins/source/aws/client/mocks/inspector.go
  plugins/source/aws/client/mocks/inspector_v2.go
  plugins/source/aws/client/mocks/mock_appsync.go
  plugins/source/aws/client/mocks/mock_eventbridge.go
  plugins/source/aws/client/mocks/mock_resourcegroups.go
  plugins/source/aws/resources/services/apigateway/rest_apis.go
Labels: aws, ignore-for-release

#1339 fix(ec2): Add ARN to key pair
  plugins/source/aws/docs/tables/aws_ec2_key_pairs.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/ec2/gen.hcl
  plugins/source/aws/resources/services/ec2/key_pairs.go
  plugins/source/aws/resources/services/ec2/key_pairs_mock_test.go
Labels: aws, fix, automerge

#1356 fix(website): Fix features cards content on the main page
  website/content/features.ts
Labels: fix

#1422 chore: Add website dir
  website/.gitkeep
Labels: ignore-for-release

#1425 chore: Silence vercel for website deploys
  website/vercel.json
Labels: ignore-for-release

#1337 chore: Handle no tables in resource view
  plugins/source/aws/views/resources.sql
  plugins/source/azure/views/resource.sql
  plugins/source/gcp/views/resource.sql
  plugins/source/k8s/views/resource.sql
Labels: aws, azure, ignore-for-release, gcp, k8s

#1277 feat: Add fsx filesystems
  plugins/source/aws/client/mocks/fsx.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_fsx_filesystem_lustre_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_filesystem_ontap_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_filesystem_open_zfs_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_filesystem_windows_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_filesystems.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/fsx/backups.go
  plugins/source/aws/resources/services/fsx/filesystems.go
  plugins/source/aws/resources/services/fsx/filesystems.hcl
  plugins/source/aws/resources/services/fsx/filesystems_test.go
Labels: aws, feat

#1222 feat: Add AWS SSM Parameters resource
  plugins/source/aws/client/mocks/mock_ssm.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_ssm_parameter_policies.md
  plugins/source/aws/docs/tables/aws_ssm_parameters.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/ssm/parameters.go
  plugins/source/aws/resources/services/ssm/parameters.hcl
  plugins/source/aws/resources/services/ssm/parameters_mock_test.go
Labels: aws, feat

#1423 chore(aws): Update AWS Xray code
  plugins/source/aws/docs/tables/aws_xray_encryption_config.md
  plugins/source/aws/docs/tables/aws_xray_groups.md
  plugins/source/aws/docs/tables/aws_xray_sampling_rules.md
  plugins/source/aws/resources/services/xray/encryption_config.go
  plugins/source/aws/resources/services/xray/gen.hcl
  plugins/source/aws/resources/services/xray/groups.go
  plugins/source/aws/resources/services/xray/sampling_rules.go
Labels: aws, ignore-for-release

#1433 feat: Add IAM policy tags
  plugins/source/aws/client/mocks/mock_iam.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policies_mock_test.go
Labels: aws, feat

#1440 chore: Add doc to title
  .github/workflows/pr_title.yml
Labels: ignore-for-release

#1439 chore: Add website labler
  .github/labeler.yml
Labels: ignore-for-release

#1441 chore: Add doc label for titles
  .github/workflows/add_tags.yml
Labels: ignore-for-release

#1443 chore: Website docs fixes
  website/components/pages/home.tsx
  website/pages/docs/index.mdx
Labels: ignore-for-release

#1421 chore(aws): Use paginator for Elasticache pagination
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/engine_versions.go
  plugins/source/aws/resources/services/elasticache/global_replication_groups.go
  plugins/source/aws/resources/services/elasticache/parameter_groups.go
  plugins/source/aws/resources/services/elasticache/replication_groups.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes_offerings.go
  plugins/source/aws/resources/services/elasticache/service_updates.go
  plugins/source/aws/resources/services/elasticache/snapshots.go
  plugins/source/aws/resources/services/elasticache/subnet_groups.go
  plugins/source/aws/resources/services/elasticache/user_groups.go
  plugins/source/aws/resources/services/elasticache/users.go
Labels: aws, ignore-for-release

#1326 feat: Add tags for Glue Databases
  plugins/source/aws/docs/tables/aws_glue_databases.md
  plugins/source/aws/resources/services/glue/classifiers.go
  plugins/source/aws/resources/services/glue/classifiers.hcl
  plugins/source/aws/resources/services/glue/connections.hcl
  plugins/source/aws/resources/services/glue/crawlers.go
  plugins/source/aws/resources/services/glue/crawlers.hcl
  plugins/source/aws/resources/services/glue/databases.go
  plugins/source/aws/resources/services/glue/databases.hcl
  plugins/source/aws/resources/services/glue/databases_mock_test.go
  plugins/source/aws/resources/services/glue/datacatalog_encryption_settings.hcl
  plugins/source/aws/resources/services/glue/dev_endpoints.hcl
  plugins/source/aws/resources/services/glue/jobs.go
  plugins/source/aws/resources/services/glue/jobs.hcl
  plugins/source/aws/resources/services/glue/ml_transforms.hcl
  plugins/source/aws/resources/services/glue/registries.hcl
  plugins/source/aws/resources/services/glue/security_configurations.hcl
  plugins/source/aws/resources/services/glue/triggers.hcl
  plugins/source/aws/resources/services/glue/workflows.hcl
Labels: aws, feat, automerge

#1447 chore(docs): Add defaultMenuCollapsed prop to the theme config
  website/theme.config.tsx
Labels: ignore-for-release, website

#1446 chore(docs): Fix landing page links
  website/components/Footer.tsx
  website/components/pages/home.tsx
Labels: ignore-for-release, website

#1449 chore(docs): Add docs about adding new resources and fix install-tools command
  Makefile
  contributing/adding_a_new_resource.md
  contributing/creating_a_new_plugin.md
  tools/tool.go
Labels: ignore-for-release

#1448 chore(docs): Remove some stale policy stuff
  website/pages/docs/faq.md
  website/pages/docs/getting-started/getting-started-with-aws.mdx
  website/pages/docs/getting-started/getting-started-with-azure.mdx
  website/pages/docs/getting-started/getting-started-with-gcp.mdx
  website/pages/docs/troubleshooting.md
Labels: ignore-for-release, website

#1438 fix: Validate github config
  plugins/source/github/client/client.go
Labels: fix, github

#1437 chore(docs): Fix landing page
  website/components/pages/home.tsx
  website/content/features.ts
Labels: ignore-for-release

#1451 chore(docs): Update CONTRIBUTING.md and issue_reporting.md
  CONTRIBUTING.md
  issue_reporting.md
Labels: ignore-for-release

#1278 feat: Add fsx snapshots
  plugins/source/aws/client/mocks/fsx.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_fsx_snapshots.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/fsx/snapshots.go
  plugins/source/aws/resources/services/fsx/snapshots.hcl
  plugins/source/aws/resources/services/fsx/snapshots_test.go
Labels: aws, feat

#1456 chore: Update renovate to update go version in workflow files
  .github/renovate.json5
Labels: ignore-for-release

#1450 fix: Blog titles and og:image from config hook
  website/components/BlogHeader.tsx
Labels: fix, website

#1459 doc: Fix links
  website/pages/docs/policies.md
Labels: website, doc

#1457 fix(docs): Add the missing path 'cli' for compiled bin
  README.md
Labels: fix

#1424 feat: Extend sns subscription data
  plugins/source/aws/client/mocks/sns.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_sns_subscriptions.md
  plugins/source/aws/docs/tables/aws_sns_topics.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/subscriptions.hcl
  plugins/source/aws/resources/services/sns/subscriptions_mock_test.go
  plugins/source/aws/resources/services/sns/topics.go
  plugins/source/aws/resources/services/sns/topics.hcl
  plugins/source/aws/resources/services/sns/topics_mock_test.go
  plugins/source/aws/resources/services/sns/types.go
Labels: aws, feat

#1284 feat: Add transfer servers
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/transfer.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_transfer_server_workflow_details_on_upload.md
  plugins/source/aws/docs/tables/aws_transfer_servers.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/transfer/servers.go
  plugins/source/aws/resources/services/transfer/servers.hcl
  plugins/source/aws/resources/services/transfer/servers_test.go
Labels: aws, feat

#1461 fix: Website fixes
  website/components/mdx/_getting-started-download-section.mdx
  website/components/mdx/_getting-started-explore-section.mdx
  website/components/mdx/_getting-started-readonly-tip.mdx
  website/components/mdx/_getting-started-spawn-section.mdx
  website/pages/blog.mdx
  website/pages/docs/getting-started/getting-started-with-aws.mdx
  website/pages/docs/getting-started/getting-started-with-azure.mdx
  website/pages/docs/getting-started/getting-started-with-gcp.mdx
Labels: fix, website

#1462 chore(docs): Update plugins readme
  plugins/README.md
Labels: ignore-for-release

#1467 chore: Build status
  README.md
Labels: ignore-for-release

#1471 feat: Website sitemap
  website/next-sitemap.config.js
  website/package.json
  website/yarn.lock
Labels: feat, website

#1472 feat: Add queries examples section to the landing page
  website/components/Integrations.tsx
  website/components/QueriesExamples.tsx
  website/components/pages/home.tsx
Labels: feat, website

#1477 fix: Website links
  website/components/BlogHeader.tsx
  website/components/HeaderOgImage.tsx
  website/theme.config.tsx
  website/vercel.json
Labels: fix, website

#1480 chore(docs+website): Fix typos found by misspell tool
  plugins/source/gcp/policies/cis_v1.2.0/section_1.sql
  plugins/source/gcp/policies/queries/iam/kms_separation_of_duties.sql
  plugins/source/gcp/policies/queries/iam/separation_of_duties.sql
  plugins/source/github/docs/index.md
  website/content/features.ts
  website/pages/blog/announcing-cloudquery-terraform-drift-detection.md
Labels: ignore-for-release, gcp, github, website

#1486 chore: Fix version update PR body
  .github/workflows/release_plugin.yml
Labels: ignore-for-release

#1489 chore: Format query examples on the landing page
  website/components/QueriesExamples.tsx
Labels: ignore-for-release, website

#1464 fix: Fix output path of build-cli make command
  Makefile
  README.md
Labels: fix, cli

#1465 chore: Add acm certificates cq-gen file
  plugins/source/aws/docs/tables/aws_acm_certificates.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/acm/certificates.go
  plugins/source/aws/resources/services/acm/certificates.hcl
  plugins/source/aws/resources/services/acm/certificates_mock_test.go
Labels: aws, ignore-for-release

#1280 feat: Add fsx data repo associations
  plugins/source/aws/client/mocks/fsx.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_fsx_data_repo_associations.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/fsx/data_repo_associations.go
  plugins/source/aws/resources/services/fsx/data_repo_associations.hcl
  plugins/source/aws/resources/services/fsx/data_repo_associations_test.go
Labels: aws, feat

#1296 feat: Add fsx storage virtual machines
  plugins/source/aws/client/mocks/fsx.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_fsx_storage_vms.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/fsx/storage_vms.go
  plugins/source/aws/resources/services/fsx/storage_vms.hcl
  plugins/source/aws/resources/services/fsx/storage_vms_test.go
Labels: aws, feat

#1453 feat: Add cq-gen hcl and a new field to sqs queues
  plugins/source/aws/docs/tables/aws_sqs_queues.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/sqs/queues.go
  plugins/source/aws/resources/services/sqs/queues.hcl
  plugins/source/aws/resources/services/sqs/queues_mock_test.go
  plugins/source/aws/resources/services/sqs/types.go
Labels: aws, feat

#1502 chore: Add image to landing page hero section
  website/components/pages/home.tsx
  website/custom.css
  website/public/images/hero/section1.svg
  website/public/images/hero/section2.svg
  website/public/images/hero/section3.svg
  website/public/images/hero/section4.svg
Labels: ignore-for-release, website

#1508 fix(website): Fix position of corner in top image
  website/public/images/hero/section1.svg
Labels: fix, website

#1511 chore(build): Add `cli` to labeler config
  .github/labeler.yml
Labels: ignore-for-release

#1512 chore: Add Erez as reviewer for .github
  CODEOWNERS
Labels: ignore-for-release

#1510 fix(cli): Fix cli version checking to work with monorepo
  cli/internal/versions/versions.go
  cli/internal/versions/versions_test.go
  cli/pkg/core/provider_test.go
  cli/pkg/core/version.go
  cli/pkg/core/version_test.go
Labels: fix, automerge, cli

#1515 fix: ECS Tags
  plugins/source/aws/client/mocks/mock_ecs.go
  plugins/source/aws/client/services.go
  plugins/source/aws/resources/services/ecs/cluster_mock_test.go
  plugins/source/aws/resources/services/ecs/clusters.go
Labels: aws, fix, automerge

#1497 chore(website-hub): Generate Hub from repo data
  plugins/source/aws/docs/index.md
  plugins/source/azure/docs/index.md
  plugins/source/cloudflare/docs/index.md
  plugins/source/digitalocean/docs/index.md
  plugins/source/gcp/docs/index.md
  plugins/source/github/docs/index.md
  plugins/source/k8s/docs/index.md
  plugins/source/okta/docs/index.md
  plugins/source/terraform/docs/index.md
  website/.gitignore
  website/content/hub.ts
  website/package.json
  website/pages/hub/index.mdx
  website/pages/hub/meta.json
  website/pages/meta.json
  website/scripts/generate-hub.js
Labels: aws, azure, ignore-for-release, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, website

#1529 chore: Set vercel status
  .github/workflows/approve_vercel.yml
Labels: ignore-for-release

#1525 chore(website): Rename Hub to Plugins
  .github/workflows/broken_links.yml
  website/.gitignore
  website/pages/hub/index.mdx
  website/pages/hub/meta.json
  website/pages/meta.json
  website/scripts/generate-hub.js
Labels: ignore-for-release, website

#1530 chore: Fix approve Vercel workflow
  .github/workflows/approve_vercel.yml
Labels: ignore-for-release

#1532 chore: Vercel workflow fix
  .github/workflows/approve_vercel.yml
Labels: ignore-for-release

#1527 chore: Update readme
  README.md
Labels: ignore-for-release, automerge

#1460 feat: Added azure cdn profiles
  plugins/source/azure/client/services/cdn.go
  plugins/source/azure/client/services/mocks/cdn.go
  plugins/source/azure/client/services/services.go
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_custom_domains.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_delivery_policy_rules.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_geo_filters.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_origin_groups.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_origins.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_routes.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoint_url_signing_keys.md
  plugins/source/azure/docs/tables/azure_cdn_profile_endpoints.md
  plugins/source/azure/docs/tables/azure_cdn_profile_rule_set_rules.md
  plugins/source/azure/docs/tables/azure_cdn_profile_rule_sets.md
  plugins/source/azure/docs/tables/azure_cdn_profile_security_policies.md
  plugins/source/azure/docs/tables/azure_cdn_profiles.md
  plugins/source/azure/resources/provider/provider.go
  plugins/source/azure/resources/services/cdn/profiles.go
  plugins/source/azure/resources/services/cdn/profiles.hcl
  plugins/source/azure/resources/services/cdn/profiles_test.go
  plugins/source/azure/resources/services/cdn/types.go
Labels: azure, feat

#1322 feat: Add fsx volumes
  plugins/source/aws/client/mocks/fsx.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_fsx_volume_ontap_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_volume_open_zfs_configuration.md
  plugins/source/aws/docs/tables/aws_fsx_volumes.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/fsx/volumes.go
  plugins/source/aws/resources/services/fsx/volumes.hcl
  plugins/source/aws/resources/services/fsx/volumes_test.go
Labels: aws, feat, automerge

#1536 chore: Don't run test,build,lint on release PRs
  .github/workflows/lint_doc.yml
  .github/workflows/lint_golang.yml
  .github/workflows/test_build.yml
  .github/workflows/test_policy_sql.yml
  .github/workflows/test_unit.yml
Labels: ignore-for-release, automerge

#1541 feat: Add cq-gen config for apigateway
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/apigateway.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_apigateway_api_keys.md
  plugins/source/aws/docs/tables/aws_apigateway_client_certificates.md
  plugins/source/aws/docs/tables/aws_apigateway_domain_name_base_path_mappings.md
  plugins/source/aws/docs/tables/aws_apigateway_domain_names.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_authorizers.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_deployments.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_documentation_parts.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_documentation_versions.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_gateway_responses.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_models.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_request_validators.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_resources.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_api_stages.md
  plugins/source/aws/docs/tables/aws_apigateway_rest_apis.md
  plugins/source/aws/docs/tables/aws_apigateway_usage_plan_api_stages.md
  plugins/source/aws/docs/tables/aws_apigateway_usage_plan_keys.md
  plugins/source/aws/docs/tables/aws_apigateway_usage_plans.md
  plugins/source/aws/docs/tables/aws_apigateway_vpc_links.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/apigateway/api_keys.go
  plugins/source/aws/resources/services/apigateway/api_keys.hcl
  plugins/source/aws/resources/services/apigateway/api_keys_mock_test.go
  plugins/source/aws/resources/services/apigateway/client_certificates.go
  plugins/source/aws/resources/services/apigateway/client_certificates.hcl
  plugins/source/aws/resources/services/apigateway/client_certificates_mock_test.go
  plugins/source/aws/resources/services/apigateway/domain_names.go
  plugins/source/aws/resources/services/apigateway/domain_names.hcl
  plugins/source/aws/resources/services/apigateway/domain_names_mock_test.go
  plugins/source/aws/resources/services/apigateway/rest_apis.go
  plugins/source/aws/resources/services/apigateway/rest_apis.hcl
  plugins/source/aws/resources/services/apigateway/rest_apis_mock_test.go
  plugins/source/aws/resources/services/apigateway/types.go
  plugins/source/aws/resources/services/apigateway/usage_plans.go
  plugins/source/aws/resources/services/apigateway/usage_plans.hcl
  plugins/source/aws/resources/services/apigateway/usage_plans_mock_test.go
  plugins/source/aws/resources/services/apigateway/vpc_links.go
  plugins/source/aws/resources/services/apigateway/vpc_links.hcl
  plugins/source/aws/resources/services/apigateway/vpc_links_mock_test.go
Labels: aws, feat

#1544 chore: Hub redirects
  website/vercel.json
Labels: ignore-for-release, website

#1548 feat(website): Plugins layout
  website/components/Integrations.tsx
  website/components/Plugins.tsx
  website/components/integrationsData.tsx
  website/components/logos/integrations/GithubLogo.tsx
  website/scripts/generate-hub.js
Labels: feat, website

#1550 feat(website): Remove Tempus logo until permission
  website/components/clients/LogosBlock.tsx
Labels: feat, website

#1547 fix: Fix broken links on website
  website/pages/logo.mdx
Labels: fix, website

#1546 feat: Added throttling for digitalocean API calls
  plugins/source/digitalocean/client/helpers.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/digitalocean/resources/account.go
Labels: feat, digitalocean

#1556 chore: Fix workflows changed files
  .github/repo_settings.yml
  .github/workflows/check_generated_code_drift.yml
  .github/workflows/lint_doc.yml
  .github/workflows/lint_golang.yml
  .github/workflows/test_build.yml
  .github/workflows/test_policy_sql.yml
  .github/workflows/test_unit.yml
Labels: ignore-for-release

#1545 chore: Add the Open Graph metadata to the logo page
  website/pages/logo.mdx
Labels: ignore-for-release, website

#1549 chore: Vale linter
  .github/styles/Vocab/Base/accept.txt
  .github/styles/Vocab/Base/reject.txt
  .github/styles/proselint/Airlinese.yml
  .github/styles/proselint/AnimalLabels.yml
  .github/styles/proselint/Annotations.yml
  .github/styles/proselint/Apologizing.yml
  .github/styles/proselint/Archaisms.yml
  .github/styles/proselint/But.yml
  .github/styles/proselint/Cliches.yml
  .github/styles/proselint/CorporateSpeak.yml
  .github/styles/proselint/Currency.yml
  .github/styles/proselint/Cursing.yml
  .github/styles/proselint/DateCase.yml
  .github/styles/proselint/DateMidnight.yml
  .github/styles/proselint/DateRedundancy.yml
  .github/styles/proselint/DateSpacing.yml
  .github/styles/proselint/DenizenLabels.yml
  .github/styles/proselint/Diacritical.yml
  .github/styles/proselint/GenderBias.yml
  .github/styles/proselint/GroupTerms.yml
  .github/styles/proselint/Hedging.yml
  .github/styles/proselint/Hyperbole.yml
  .github/styles/proselint/Jargon.yml
  .github/styles/proselint/LGBTOffensive.yml
  .github/styles/proselint/LGBTTerms.yml
  .github/styles/proselint/Malapropisms.yml
  .github/styles/proselint/Needless.yml
  .github/styles/proselint/Nonwords.yml
  .github/styles/proselint/Oxymorons.yml
  .github/styles/proselint/P-Value.yml
  .github/styles/proselint/RASSyndrome.yml
  .github/styles/proselint/README.md
  .github/styles/proselint/Skunked.yml
  .github/styles/proselint/Spelling.yml
  .github/styles/proselint/Typography.yml
  .github/styles/proselint/Uncomparables.yml
  .github/styles/proselint/Very.yml
  .github/styles/proselint/meta.json
  .github/workflows/lint_website_doc.yml
  .vale.ini
  README.md
  website/pages/docs/glossary.md
  website/pages/docs/tutorials/assume_role.md
Labels: ignore-for-release, website

#1568 fix: Remove deprecated firebase
  cli/pkg/core/download_test.go
  cli/pkg/plugin/registry/hub.go
Labels: fix, cli

#1571 chore: Use GitHub changelog format
  release-please-config.json
Labels: ignore-for-release

#1572 fix: Update Okta docs
  plugins/source/okta/docs/index.md
Labels: fix, okta

#1573 fix: Update Terraform docs
  plugins/source/terraform/docs/index.md
Labels: terraform

#1574 chore: Revert "chore: Use GitHub changelog format (#1571)"
  release-please-config.json
Labels: ignore-for-release

#1582 chore: Use GitHub changelog type
  release-please-config.json
Labels: ignore-for-release

#1589 chore(release): Revert GitHub changelog type
  .github/release.yml
  .github/workflows/add_tags.yml
  release-please-config.json
Labels: ignore-for-release

#1567 fix: IAM Users
  plugins/source/aws/client/helpers.go
  plugins/source/aws/client/mocks/mock_iam.go
  plugins/source/aws/client/services.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
Labels: aws, fix

#1566 fix: IAM roles
  plugins/source/aws/client/mocks/mock_iam.go
  plugins/source/aws/client/services.go
  plugins/source/aws/docs/tables/aws_iam_role_policies.md
  plugins/source/aws/docs/tables/aws_iam_roles.md
  plugins/source/aws/resources/provider/provider.go
  plugins/source/aws/resources/services/iam/gen.hcl
  plugins/source/aws/resources/services/iam/role_policies.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/roles_mock_test.go
Labels: aws, fix

#1603 chore: Update Build Tests
  .github/workflows/test_build.yml
Labels: automerge

#1612 chore: Cleanup renovate config
  .github/renovate.json5
Labels: automerge

#1622 feat(source-test): Add zip release to test plugin
  plugins/source/test/plugin/plugin.go
Labels: source-test

#1632 chore: Remove Heroku from website
  website/scripts/generate-hub.js
Labels: automerge

#1637 fix: Checksum validation
  cli/pkg/plugin/registry/hub.go
  cli/pkg/plugin/registry/validate.go
Labels: automerge
