Repository cloudquery/cloudquery, pull requests merged in 2022-09, with the labels that each got.

#1690 chore: Update test plugin-sdk to v0.0.10
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Labels: automerge

#1645 feat: Write to config file instead of stdout (v2)
  cli/cmd/generate.go
  cli/cmd/generate_test.go
  cli/go.mod
Labels: automerge

#1699 chore: Run broken links check periodically
  .github/workflows/broken_links.yml
Labels: check_broken_links

#1708 fix: Tags in users.go
  plugins/source/aws/resources/services/iam/users.go
Labels: automerge

#1713 chore(docs): Update adding_a_new_resource.md
  contributing/adding_a_new_resource.md
Labels: automerge

#1705 fix: Handle SNS Subscriptions in Pending State
  plugins/source/aws/resources/services/sns/subscriptions.go
Labels: automerge

#1723 doc: GitHub Plugin Grammar fixes
  plugins/source/github/docs/index.md
Labels: documentation, docs, doc

#1722 chore: Reduce broken links checker requests
  .github/workflows/broken_links.yml
Labels: automerge

#1727 chore(ci): Remove broken links workflow concurrency group
  .github/workflows/broken_links.yml
Labels: automerge

#1726 fix: Query on Main page
  website/components/QueriesExamples.tsx
Labels: automerge

#1753 fix(plugin-test): Update for new SDK version
  plugins/source/test/client/client.go
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/plugin/plugin.go
Labels: automerge

#1765 chore: Remove deprecated linters (and dec-order)
  cli/.golangci.yml
  plugins/.golangci.yml
Labels: automerge

#1775 feat: Generate v2 table docs for website
  website/components/EditLink.tsx
  website/scripts/generate-hub.js
Labels: automerge

#1782 fix: Enable GCP to find all Active Projects
  plugins/source/gcp/client/client.go
Labels: automerge

#1779 chore: Update heroku docs, remove backoff from config
  plugins/source/heroku/docs/index.md
  plugins/source/heroku/plugin/plugin.go
Labels: automerge

#1807 chore: Sync `main` with release v1
  .release-please-manifest.json
  cli/CHANGELOG.md
  sites/versions/v1/cli.json
  website/components/mdx/_getting-started-download-section.mdx
  website/pages/blog/how-to-aws-cis-compliance.md
Labels: automerge

#1811 chore(ci): Bring back PR labeler, add issue labeler
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
Labels: automerge

#1812 chore: Delete stale integration tests
  plugins/source/k8s/resources/integration_tests/infra/k8s_apps_daemon_sets.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_apps_deployments.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_apps_replica_sets.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_apps_stateful_sets.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_batch_cron_jobs.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_batch_jobs.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_endpoints.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_limit_ranges.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_namespaces.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_nodes.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_pods.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_resource_quotas.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_service_accounts.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_core_services.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_networking_network_policies.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_rbac_role_bindings.tf
  plugins/source/k8s/resources/integration_tests/infra/k8s_rbac_roles.tf
  plugins/source/k8s/resources/integration_tests/infra/postgres.yml
  plugins/source/k8s/resources/integration_tests/infra/provider.tf
  plugins/source/k8s/resources/integration_tests/infra/terraform.tf
  plugins/source/k8s/resources/integration_tests/infra/variables.tf
  plugins/source/k8s/resources/services/apps/daemon_sets_integration_test.go
  plugins/source/k8s/resources/services/batch/cron_jobs_integration_test.go
  plugins/source/k8s/resources/services/batch/jobs_integration_test.go
  plugins/source/k8s/resources/services/core/endpoints_integration_test.go
  plugins/source/k8s/resources/services/core/limit_ranges_integration_test.go
  plugins/source/k8s/resources/services/core/namespaces_integration_test.go
  plugins/source/k8s/resources/services/core/nodes_integration_test.go
  plugins/source/k8s/resources/services/core/pods_integration_test.go
  plugins/source/k8s/resources/services/core/resource_quotas_integration_test.go
  plugins/source/k8s/resources/services/core/service_accounts_integration_test.go
  plugins/source/k8s/resources/services/core/services_integration_test.go
  plugins/source/k8s/resources/services/networking/network_policies_integration_test.go
  plugins/source/k8s/resources/services/rbac/role_bindings_integration_test.go
  plugins/source/k8s/resources/services/rbac/roles_integration_test.go
Labels: k8s

#1781 feat!: Migrate Okta plugin to v2
  plugins/source/okta/client/client.go
  plugins/source/okta/client/config.go
  plugins/source/okta/client/error.go
  plugins/source/okta/client/filter.go
  plugins/source/okta/client/spec.go
  plugins/source/okta/docs/docs.go
  plugins/source/okta/docs/index.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/main.go
  plugins/source/okta/plugin/plugin.go
  plugins/source/okta/resources/provider/provider.go
  plugins/source/okta/services/users.go
Labels: automerge, okta

#1819 test: Fix GCP mock test
  plugins/source/gcp/resources/services/kms/keyrings_mock_test.go
Labels: automerge, gcp

#1814 fix: Add Sentry DSN
  plugins/source/github/main.go
Labels: github

#1823 chore: Add more labels to issues
  .github/issue_labeler.yml
Labels: automerge

#1824 fix: Quote kind string in generated yml files
  cli/cmd/generate_test.go
  cli/cmd/templates/destination.go.tpl
  cli/cmd/templates/source.go.tpl
Labels: automerge, cli

#1825 chore: Update Okta doc
  plugins/source/okta/docs/index.md
Labels: automerge, okta

#1829 feat: Use spinner instead of progress bar
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#1780 feat!: Migrate Terraform plugin to v2
  plugins/source/terraform/client/backend.go
  plugins/source/terraform/client/client.go
  plugins/source/terraform/client/config.go
  plugins/source/terraform/client/filter.go
  plugins/source/terraform/client/multiplexers.go
  plugins/source/terraform/client/spec.go
  plugins/source/terraform/client/testing.go
  plugins/source/terraform/docs/docs.go
  plugins/source/terraform/docs/index.md
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
  plugins/source/terraform/plugin/plugin.go
  plugins/source/terraform/resources/provider/provider.go
  plugins/source/terraform/resources/tfdata_test.go
  plugins/source/terraform/services/testdata/terraform.tfstate
  plugins/source/terraform/services/tfdata.go
  plugins/source/terraform/services/tfdata_test.go
Labels: automerge, terraform

#1842 chore(wesbite): Enable docs for all plugins
  website/package.json
  website/scripts/generate-hub.js
  website/yarn.lock
Labels: website

#1845 feat: Create directory structure when generating configuration
  cli/cmd/generate.go
Labels: automerge, cli

#1846 fix: Use postgres defaults in destination config
  cli/internal/destinations/postgresql/postgresql.go
Labels: automerge, cli

#1856 fix: Resolve plugin version from GitHub registry instead of gRPC call
  cli/cmd/generate.go
  cli/cmd/generate_test.go
  cli/cmd/sync.go
  cli/internal/plugins/plugin_test.go
  cli/internal/plugins/plugins.go
Labels: automerge, cli

#1863 feat: Generate `postgresql` as default destination in `gen` command
  cli/cmd/generate_test.go
  cli/cmd/templates/source.go.tpl
Labels: automerge, cli

#1864 fix: CLI dev version
  cli/.goreleaser.prerelease.yaml
  cli/cmd/root.go
Labels: automerge, cli

#1859 fix(aws): Nil pointer in config unmarshal
  plugins/source/aws/client/client.go
Labels: aws, fix

#1866 chore: Upgrade plugin-sdk for AWS to v0.7.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/main.go
Labels: aws, automerge

#1868 chore: Update SDK
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/main.go
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/heroku/main.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/main.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
Labels: automerge, cloudflare, okta, terraform

#1873 chore: Generate plugin docs from GitHub files instead of go command
  website/package.json
  website/scripts/generate-hub.js
  website/yarn.lock
Labels: website

#1876 fix: IAM users PK should be account_id + id, not ARN
  plugins/source/aws/codegen/recipes/iam.go
Labels: aws, automerge

#1835 feat: AWS v2: Split users and credential report users into separate resources
  plugins/source/aws/client/mocks/mock_iam.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/iam/credential_reports_fetch.go
  plugins/source/aws/resources/services/iam/credential_reports_mock_test.go
  plugins/source/aws/resources/services/iam/user_policies_fetch.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_fetch.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
Labels: aws, automerge

#1877 fix: Small fixes to example.yml and typos in cloudtrail errors
  plugins/source/aws/resources/plugin/example.yml
  plugins/source/aws/resources/services/cloudtrail/trails_fetch.go
Labels: aws, automerge

#1888 fix: Regenerate iam users + some fixes
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/iam/user_access_keys.go
  plugins/source/aws/resources/services/iam/user_attached_policies.go
  plugins/source/aws/resources/services/iam/user_groups.go
  plugins/source/aws/resources/services/iam/user_policies.go
  plugins/source/aws/resources/services/iam/users.go
Labels: aws, automerge

#1875 fix: Regenerate Azure resources
  plugins/source/azure/codegen/recipes/authorization.go
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/codegen/recipes/compute.go
  plugins/source/azure/codegen/recipes/storage.go
  plugins/source/azure/codegen/recipes/subscriptions.go
  plugins/source/azure/resources/services/authorization/role_definitions.go
  plugins/source/azure/resources/services/compute/virtual_machine_scale_sets.go
  plugins/source/azure/resources/services/compute/virtual_machines.go
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/subscriptions/subscriptions.go
Labels: azure, automerge

#1894 fix: Use correct binary path on Windows
  cli/internal/plugins/plugins.go
Labels: automerge, cli

#1896 chore: Remove fuzz plugin
  .github/repo_settings.yml
  plugins/source/fuzz/.goreleaser.yaml
  plugins/source/fuzz/CHANGELOG.md
  plugins/source/fuzz/Makefile
  plugins/source/fuzz/go.mod
  plugins/source/fuzz/go.sum
  plugins/source/fuzz/index.md
  plugins/source/fuzz/main.go
  plugins/source/fuzz/resources/provider/provider.go
Labels: fuzz

#1885 fix: Generate Azure date.time as Timestamps
  plugins/source/azure/resources/services/compute/disks.go
  plugins/source/azure/resources/services/container/registries.go
  plugins/source/azure/resources/services/datalake/analytics_accounts.go
  plugins/source/azure/resources/services/datalake/store_accounts.go
  plugins/source/azure/resources/services/eventhub/namespaces.go
  plugins/source/azure/resources/services/logic/workflows.go
  plugins/source/azure/resources/services/mariadb/servers.go
  plugins/source/azure/resources/services/monitor/activity_logs.go
  plugins/source/azure/resources/services/mysql/servers.go
  plugins/source/azure/resources/services/postgresql/servers.go
  plugins/source/azure/resources/services/servicebus/namespaces.go
  plugins/source/azure/resources/services/servicebus/topics.go
  plugins/source/azure/resources/services/sql/database_vulnerability_assessment_scans.go
  plugins/source/azure/resources/services/sql/databases.go
  plugins/source/azure/resources/services/sql/managed_database_vulnerability_assessment_scans.go
  plugins/source/azure/resources/services/sql/managed_databases.go
  plugins/source/azure/resources/services/sql/managed_instances.go
  plugins/source/azure/resources/services/sql/server_security_alert_policies.go
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/containers.go
  plugins/source/azure/resources/services/streamanalytics/streaming_jobs.go
  plugins/source/azure/resources/services/web/apps.go
Labels: azure, automerge

#1910 chore(test): Don't run tests in verbose mode
  .github/workflows/test_unit.yml
Labels: automerge

#1902 fix: Fix date parsing in Credential Report CSVs (v2)
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/iam/credential_reports_fetch.go
  plugins/source/aws/resources/services/iam/credential_reports_mock_test.go
Labels: aws, automerge, v2

#1870 feat: Use jsonb for json columns
  cli/internal/destinations/postgresql/postgresql.go
Labels: automerge, cli

#1883 feat: Remove global region
  plugins/source/aws/client/client.go
  plugins/source/aws/client/config.go
  plugins/source/aws/client/multiplexers.go
  plugins/source/aws/resources/plugin/example.yml
Labels: aws, automerge

#1914 chore(ci): Use cq-bot token where applicable
  .github/workflows/approve_vercel.yml
  .github/workflows/issue_labeler.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/pr_title.yml
  .github/workflows/release_pr.yml
Labels: automerge

#1915 fix: Can't gen with specific version
  cli/cmd/generate.go
Labels: automerge, cli

#1918 fix: Fix some AWS resources with postResolvers
  plugins/source/aws/codegen/recipes/backup.go
  plugins/source/aws/codegen/recipes/fsx.go
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/codegen/recipes/ssm.go
  plugins/source/aws/codegen/recipes/wafv2.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/backup/vaults.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  plugins/source/aws/resources/services/fsx/file_systems.go
  plugins/source/aws/resources/services/fsx/snapshots.go
  plugins/source/aws/resources/services/fsx/volumes.go
  plugins/source/aws/resources/services/iam/user_access_keys.go
  plugins/source/aws/resources/services/iot/thing_groups.go
  plugins/source/aws/resources/services/iot/things.go
  plugins/source/aws/resources/services/kms/keys.go
  plugins/source/aws/resources/services/ssm/documents.go
  plugins/source/aws/resources/services/ssm/documents_fetch.go
  plugins/source/aws/resources/services/wafv2/managed_rule_groups.go
  plugins/source/aws/resources/services/wafv2/managed_rule_groups_fetch.go
Labels: aws

#1903 fix: Naming fixes in gcp plugin
  plugins/source/gcp/codegen/base.go
  plugins/source/gcp/codegen/bigquery.go
  plugins/source/gcp/codegen/compute.go
  plugins/source/gcp/codegen/container.go
  plugins/source/gcp/codegen/iam.go
  plugins/source/gcp/codegen/sqladmin.go
  plugins/source/gcp/codegenmain/main.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/compute/networks.go
  plugins/source/gcp/resources/services/compute/subnetworks.go
  plugins/source/gcp/resources/services/container/clusters.go
  plugins/source/gcp/resources/services/dns/managed_zones.go
  plugins/source/gcp/resources/services/dns/policies.go
  plugins/source/gcp/resources/services/iam/service_accounts.go
  plugins/source/gcp/resources/services/sql/instances.go
Labels: automerge, gcp

#1892 fix(aws): Fix cloudtrail status column not defined
  plugins/source/aws/codegen/recipes/backup.go
  plugins/source/aws/codegen/recipes/cloudtrail.go
  plugins/source/aws/codegen/recipes/ssm.go
  plugins/source/aws/codegen/recipes/wafv2.go
  plugins/source/aws/go.mod
  plugins/source/aws/resources/services/backup/vaults.go
  plugins/source/aws/resources/services/backup/vaults_fetch.go
  plugins/source/aws/resources/services/cloudtrail/trail_event_selectors.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/cloudtrail/trails_fetch.go
  plugins/source/aws/resources/services/fsx/filesystems_test.go
  plugins/source/aws/resources/services/fsx/snapshots_test.go
  plugins/source/aws/resources/services/fsx/volumes_test.go
  plugins/source/aws/resources/services/ssm/documents.go
  plugins/source/aws/resources/services/ssm/documents_fetch.go
  plugins/source/aws/resources/services/wafv2/managed_rule_groups.go
  plugins/source/aws/resources/services/wafv2/managed_rule_groups_fetch.go
Labels: aws

#1931 fix: Fix AWS JSON issues found by new SDK check (v2)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/backup/vaults_fetch.go
  plugins/source/aws/resources/services/iam/roles_fetch.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/lightsail/instances_fetch.go
  plugins/source/aws/resources/services/rds/cluster_snapshots_fetch.go
  plugins/source/aws/resources/services/rds/db_snapshots_fetch.go
  plugins/source/aws/resources/services/wafv2/rule_groups_fetch.go
Labels: aws, automerge

#1932 fix: Fix some issues with AWS S3 resource (v2)
  plugins/source/aws/codegen/recipes/s3.go
  plugins/source/aws/resources/services/s3/bucket_cors_rules.go
  plugins/source/aws/resources/services/s3/bucket_encryption_rules.go
  plugins/source/aws/resources/services/s3/bucket_grants.go
  plugins/source/aws/resources/services/s3/bucket_lifecycles.go
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/buckets_fetch.go
Labels: aws, automerge

#1933 fix: Add config_exists field back to aws_s3_accounts (v2)
  plugins/source/aws/codegen/recipes/s3.go
  plugins/source/aws/resources/services/s3/accounts.go
  plugins/source/aws/resources/services/s3/accounts_fetch.go
Labels: aws, automerge

#1934 fix: Add logging_configuration field to aws_wafv2_web_acls
  plugins/source/aws/codegen/recipes/wafv2.go
  plugins/source/aws/resources/services/wafv2/web_acls.go
Labels: aws, automerge

#1937 fix: Add missing `azure_keyvault_secrets` tables
  plugins/source/azure/client/services/keyvault.go
  plugins/source/azure/client/services/mocks/keyvault.go
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/codegen/recipes/keyvault.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/services/keyvault/managed_hsms.go
  plugins/source/azure/resources/services/keyvault/secrets.go
  plugins/source/azure/resources/services/keyvault/secrets_mock_test.go
  plugins/source/azure/resources/services/keyvault/vaults.go
  plugins/source/azure/resources/services/keyvault/vaults_mock_test.go
Labels: azure, automerge

#1939 feat(cli): Disable sentry in development
  cli/cmd/generate.go
  cli/cmd/root.go
Labels: cli

#1938 fix(pg): Fix PKs recreation when nothing changed
  cli/internal/destinations/postgresql/postgresql.go
Labels: cli

#1943 fix: Used DefaultTransformer from plugin-sdk for name transformations
  plugins/source/gcp/codegen/base.go
  plugins/source/gcp/codegen/functions.go
  plugins/source/gcp/codegen/kms.go
  plugins/source/gcp/codegen/logging.go
  plugins/source/gcp/codegen/secretmanager.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Labels: automerge, gcp

#1936 fix: Update Azure codegen
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/services/datalake/analytics_accounts.go
  plugins/source/azure/resources/services/datalake/store_accounts.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/databases.go
  plugins/source/azure/resources/services/sql/server_admins.go
  plugins/source/azure/resources/services/sql/server_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/server_dev_ops_auditing_settings.go
  plugins/source/azure/resources/services/web/apps.go
Labels: azure, automerge

#1985 feat: Use new tag format to download plugins
  cli/cmd/generate_test.go
  cli/internal/plugins/plugins.go
  cli/internal/versions/versions.go
  cli/internal/versions/versions_test.go
Labels: automerge, cli

#1987 fix: Add Github table docs back
  plugins/source/github/docs/tables/github_action_billing.md
  plugins/source/github/docs/tables/github_external_group_members.md
  plugins/source/github/docs/tables/github_external_group_teams.md
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_installations.md
  plugins/source/github/docs/tables/github_issue_assignees.md
  plugins/source/github/docs/tables/github_issue_labels.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_member_membership.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_package_billing.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_storage_billing.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_teams.md
Labels: automerge, github

#1998 fix: Remove underscores in ec_2, s_3 and others
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/config/conformance_packs.go
  plugins/source/aws/resources/services/directconnect/connections.go
  plugins/source/aws/resources/services/directconnect/lags.go
  plugins/source/aws/resources/services/directconnect/virtual_interfaces.go
  plugins/source/aws/resources/services/ec2/eips.go
  plugins/source/aws/resources/services/ec2/instances.go
  plugins/source/aws/resources/services/ec2/network_interfaces.go
  plugins/source/aws/resources/services/ec2/subnets.go
  plugins/source/aws/resources/services/ec2/vpcs.go
  plugins/source/aws/resources/services/ecs/cluster_container_instances.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/fsx/data_repository_associations.go
  plugins/source/aws/resources/services/glue/dev_endpoints.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/iam/virtual_mfa_devices.go
  plugins/source/aws/resources/services/iot/security_profiles.go
  plugins/source/aws/resources/services/lambda/function_versions.go
  plugins/source/aws/resources/services/lightsail/instance_port_states.go
  plugins/source/aws/resources/services/lightsail/instances.go
  plugins/source/aws/resources/services/qldb/ledger_journal_s3_exports.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_security_groups.go
  plugins/source/aws/resources/services/ssm/documents.go
Labels: aws, automerge

#2006 fix: Use uppercase downloading during progress
  cli/internal/plugins/download.go
Labels: automerge, cli

#2009 fix: Fix applicationautoscaling multiplexing (v2)
  plugins/source/aws/codegen/recipes/applicationautoscaling.go
  plugins/source/aws/resources/services/applicationautoscaling/policies.go
Labels: aws, automerge

#2005 fix: Add missing fields to aws_iam_policies
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/policies.go
Labels: aws, automerge

#1993 chore: Update Code of Conduct and Contributing guide
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  issue_reporting.md
Labels: automerge

#2022 feat(cli)!: Remove gen command
  cli/cmd/doc_test.go
  cli/cmd/generate.go
  cli/cmd/generate_test.go
  cli/cmd/root.go
  cli/cmd/templates/destination.go.tpl
  cli/cmd/templates/source.go.tpl
Labels: cli, v2, v2-blocker

#2008 fix: Don't print skip download message to console
  cli/internal/plugins/plugins.go
Labels: automerge, cli

#2001 fix: Fix columns of aws_iam_openid_connect_identity_providers (v2)
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/openid_connect_identity_providers.go
Labels: aws, automerge

#2020 feat: Provide a decoded policy document field inside aws_iam_policies.policy_version_list
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policies_fetch.go
Labels: aws, automerge

#1992 feat: Add first draft of AWS v2 migration guide
  plugins/source/aws/docs/v2-migration.md
  scripts/v2-migration/go.mod
  scripts/v2-migration/go.sum
  scripts/v2-migration/internal/convert/pg.go
  scripts/v2-migration/main.go
  scripts/v2-migration/templates/output.go.tpl
Labels: aws, automerge

#2036 chore: Fix some typos and missing docs across aws, azure, gcp
  plugins/source/aws/README.md
  plugins/source/aws/docs/configuration.md
  plugins/source/aws/docs/tutorials/multi_account.md
  plugins/source/azure/README.md
  plugins/source/gcp/README.md
  plugins/source/gcp/docs/configuration.md
Labels: aws, azure, gcp

#2039 chore(website): Fix build with new plugin page
  website/next-sitemap.config.js
  website/package.json
  website/pages/_meta.json
  website/pages/docs/plugins/_meta.json
  website/pages/docs/plugins/sources.md
  website/scripts/generate-hub.js
Labels: website

#1991 chore(release): Zip policies with plugins
  plugins/.goreleaser.yaml
Labels: automerge

#2045 chore: Fix website redirects
  website/pages/_meta.json
  website/pages/docs/plugins/_meta.json
  website/pages/docs/plugins/source.md
  website/vercel.json
Labels: website

#2049 chore(release): Add postgres sql stub plugin
  .github/issue_labeler.yml
  .github/pr_labeler.yml
  .github/repo_settings.yml
  .release-please-manifest.json
  plugins/destination/README.md
  plugins/destination/postgresql/.gitignore
  plugins/destination/postgresql/.goreleaser.yaml
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/main.go
  release-please-config.json
Labels: automerge

#2034 chore: Add migration guides for v1 plugins
  plugins/source/aws/docs/v1-migration.md
  plugins/source/azure/docs/v1-migration.md
  plugins/source/cloudflare/docs/v1-migration.md
  plugins/source/digitalocean/docs/v1-migration.md
  plugins/source/gcp/docs/v1-migration.md
  plugins/source/github/docs/v1-migration.md
  plugins/source/heroku/docs/v1-migration.md
  plugins/source/okta/docs/v1-migration.md
  scripts/v1-migration/go.mod
  scripts/v1-migration/go.sum
  scripts/v1-migration/internal/convert/pg.go
  scripts/v1-migration/main.go
  scripts/v1-migration/templates/output.go.tpl
Labels: aws, azure, cloudflare, digitalocean, gcp, github, okta

#2059 fix: Remove accidentally added config
  postgresql.yml
Labels: automerge

#2063 fix: AWS redshift cluster parameters
  plugins/source/aws/codegen/recipes/redshift.go
  plugins/source/aws/resources/services/redshift/cluster_parameter_groups.go
  plugins/source/aws/resources/services/redshift/cluster_parameter_groups_fetch.go
  plugins/source/aws/resources/services/redshift/cluster_parameters.go
  plugins/source/aws/resources/services/redshift/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/redshift/clusters.go
  plugins/source/aws/resources/services/redshift/clusters_mock_test.go
Labels: aws, automerge

#2060 fix: AWS Policy for RDS public accessibility
  plugins/source/aws/policies/queries/rds/rds_db_instances_should_prohibit_public_access.sql
Labels: aws, automerge

#2075 fix: AWS EBS Snapshots attributes column type
  plugins/source/aws/codegen/recipes/ec2.go
Labels: aws, automerge

#2077 fix: AWS EBS Snapshots attributes column type (take two)
  plugins/source/aws/resources/services/ec2/ebs_snapshots.go
Labels: aws, automerge

#2070 doc: Fix grammar/spelling in intro doc
  website/pages/docs/index.mdx
Labels: website

#2089 feat: Remove spinner
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
  cli/internal/plugins/download.go
  cli/internal/plugins/manager.go
Labels: cli

#2096 fix(website): Some edits to v1 blog post
  website/pages/blog/cloudquery-v1-release.md
Labels: website

#2087 fix: Re-add AWS EC2 Instance state_transition_reason_time
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/resources/services/ec2/instances.go
  plugins/source/aws/resources/services/ec2/instances_fetch.go
Labels: aws, automerge

#2042 chore(pg): Add README
  cli/internal/destinations/postgresql/README.md
Labels: cli

#2099 fix: Add ARNs to resources that were missing them
  plugins/source/aws/codegen/recipes/autoscaling.go
  plugins/source/aws/codegen/recipes/backup.go
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/codegen/recipes/elasticbeanstalk.go
  plugins/source/aws/codegen/recipes/lambda.go
  plugins/source/aws/codegen/recipes/resourcegroups.go
  plugins/source/aws/codegen/recipes/xray.go
  plugins/source/aws/resources/services/autoscaling/group_scaling_policies.go
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
  plugins/source/aws/resources/services/ecs/task_definitions.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments.go
  plugins/source/aws/resources/services/lambda/function_aliases.go
  plugins/source/aws/resources/services/resourcegroups/resource_groups.go
  plugins/source/aws/resources/services/xray/sampling_rules.go
Labels: aws, automerge, v1

#2101 chore(pg): Move docs to plugins
  plugins/destination/postgresql/README.md
Labels: postgresql

#2100 feat: Update SDK to v0.10.1
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
  cli/internal/plugins/manager_test.go
Labels: cli

#2058 chore: PR template
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge

#2104 chore(docs): Fix some markdown related issues
  contributing/adding_a_new_resource.md
Labels: automerge

#2097 fix: Version fetching code and test
  cli/internal/plugins/versions.go
  cli/internal/plugins/versions_test.go
Labels: automerge, cli

#2110 chore(website): Some v1 docs fixes
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/podcast-software-engineer-daily.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/plugins/source_plugins_release_stages.md
  website/pages/docs/quickstart.mdx
Labels: website

#2117 fix: Use custom resolver for Id fields
  plugins/source/aws/codegen/recipes/waf.go
  plugins/source/aws/resources/services/ec2/regional_config.go
  plugins/source/aws/resources/services/ec2/security_groups_fetch.go
  plugins/source/aws/resources/services/waf/subscribed_rule_groups.go
Labels: aws, automerge

#2109 fix: Remove unused codegen fields in GCP
  plugins/source/gcp/codegen/base.go
  plugins/source/gcp/codegen/container.go
  plugins/source/gcp/codegen/kms.go
  plugins/source/gcp/codegen/resourcemanager.go
  plugins/source/gcp/codegen/storage.go
Labels: gcp

#2127 chore(site-versions): Add latest redirect
  .github/workflows/release_cli.yml
  sites/versions/vercel.json
  website/components/mdx/_getting-started-download-section.mdx
  website/pages/blog/how-to-aws-cis-compliance.md
Labels: automerge, website

#2119 chore(gcp): Regenerate GCP with new timestamp resolver
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/codegen/compute.go
  plugins/source/gcp/codegen/storage.go
  plugins/source/gcp/codegenmain/main.go
  plugins/source/gcp/docs/tables/gcp_domains_registrations.md
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/docs/tables/gcp_kms_keyrings.md
  plugins/source/gcp/docs/tables/gcp_logging_metrics.md
  plugins/source/gcp/docs/tables/gcp_logging_sinks.md
  plugins/source/gcp/docs/tables/gcp_redis_instances.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/docs/tables/gcp_secretmanager_secrets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/kms/keyrings.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/projects.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
Labels: gcp

#2126 fix: Use ParentResourceFieldResolver instead of ParentPathResolver
  plugins/source/aws/codegen/recipes/accessanalyzer.go
  plugins/source/aws/resources/services/accessanalyzer/analyzer_archive_rules.go
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
Labels: aws, automerge

#2125 fix: Use ParentResourceFieldResolver instead of ParentIDResolver
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/resources/services/cdn/custom_domains.go
  plugins/source/azure/resources/services/cdn/endpoints.go
  plugins/source/azure/resources/services/cdn/routes.go
  plugins/source/azure/resources/services/cdn/rule_sets.go
  plugins/source/azure/resources/services/cdn/rules.go
  plugins/source/azure/resources/services/cdn/security_policies.go
  plugins/source/azure/resources/services/compute/instance_views.go
  plugins/source/azure/resources/services/compute/virtual_machine_extensions.go
  plugins/source/azure/resources/services/container/replications.go
  plugins/source/azure/resources/services/cosmosdb/mongo_db_databases.go
  plugins/source/azure/resources/services/cosmosdb/sql_databases.go
  plugins/source/azure/resources/services/eventhub/network_rule_sets.go
  plugins/source/azure/resources/services/keyvault/keys.go
  plugins/source/azure/resources/services/keyvault/secrets.go
  plugins/source/azure/resources/services/logic/diagnostic_settings.go
  plugins/source/azure/resources/services/mariadb/configurations.go
  plugins/source/azure/resources/services/monitor/diagnostic_settings.go
  plugins/source/azure/resources/services/mysql/configurations.go
  plugins/source/azure/resources/services/network/flow_logs.go
  plugins/source/azure/resources/services/network/virtual_network_gateway_connections.go
  plugins/source/azure/resources/services/network/virtual_network_gateways.go
  plugins/source/azure/resources/services/postgresql/configurations.go
  plugins/source/azure/resources/services/postgresql/firewall_rules.go
  plugins/source/azure/resources/services/servicebus/access_keys.go
  plugins/source/azure/resources/services/servicebus/authorization_rules.go
  plugins/source/azure/resources/services/servicebus/topics.go
  plugins/source/azure/resources/services/sql/backup_long_term_retention_policies.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/database_threat_detection_policies.go
  plugins/source/azure/resources/services/sql/database_vulnerability_assessment_scans.go
  plugins/source/azure/resources/services/sql/database_vulnerability_assessments.go
  plugins/source/azure/resources/services/sql/databases.go
  plugins/source/azure/resources/services/sql/encryption_protectors.go
  plugins/source/azure/resources/services/sql/firewall_rules.go
  plugins/source/azure/resources/services/sql/managed_database_vulnerability_assessment_scans.go
  plugins/source/azure/resources/services/sql/managed_database_vulnerability_assessments.go
  plugins/source/azure/resources/services/sql/managed_databases.go
  plugins/source/azure/resources/services/sql/managed_instance_encryption_protectors.go
  plugins/source/azure/resources/services/sql/managed_instance_vulnerability_assessments.go
  plugins/source/azure/resources/services/sql/server_admins.go
  plugins/source/azure/resources/services/sql/server_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/server_dev_ops_auditing_settings.go
  plugins/source/azure/resources/services/sql/server_security_alert_policies.go
  plugins/source/azure/resources/services/sql/server_vulnerability_assessments.go
  plugins/source/azure/resources/services/sql/transparent_data_encryptions.go
  plugins/source/azure/resources/services/sql/virtual_network_rules.go
  plugins/source/azure/resources/services/storage/blob_services.go
  plugins/source/azure/resources/services/storage/containers.go
  plugins/source/azure/resources/services/web/publishing_profiles.go
  plugins/source/azure/resources/services/web/site_auth_settings.go
  plugins/source/azure/resources/services/web/vnet_connections.go
Labels: azure, automerge

#2124 fix: Generate EC2 resources that were not being generated
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_regional_config.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/models/ec2.go
  plugins/source/aws/resources/services/ec2/regional_config.go
  plugins/source/aws/resources/services/ec2/regional_config_fetch.go
  plugins/source/aws/resources/services/ec2/regional_config_mock_test.go
  plugins/source/aws/resources/services/ec2/security_groups_fetch.go
  plugins/source/aws/resources/services/ec2/security_groups_mock_test.go
Labels: aws, automerge

#2129 chore: Remove old makefile targets
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
Labels: aws, azure, cloudflare, digitalocean, k8s, okta, terraform

#2108 fix: Re-add GCP project policies
  plugins/source/gcp/codegen/resourcemanager.go
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
Labels: automerge, gcp

#2133 fix(postgresql): Upsert in postgresql
  plugins/destination/postgresql/client/postgresql.go
  plugins/destination/postgresql/client/postgresql_test.go
Labels: postgresql

#2131 chore(aws): Contributing guide update
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/aws/docs/contributing/adding_a_new_resource.md
  plugins/source/aws/docs/contributing/development_environment.md
  plugins/source/aws/docs/contributing/release.md
Labels: aws, automerge

#2137 fix(website): Add plugins redirect
  website/vercel.json
Labels: automerge, website

#2123 feat: Encryption in AWS and multi-account access blog
  website/content/team.ts
  website/pages/blog/_meta.json
  website/pages/blog/aws-encryption-and-multi-account-access.md
  website/public/images/blog/aws-encryption-and-multi-account-access/aws-kms-table.png
  website/public/images/blog/aws-encryption-and-multi-account-access/aws-managed-key-s3.png
  website/public/images/blog/aws-encryption-and-multi-account-access/cross-account-diagram.png
  website/public/images/blog/aws-encryption-and-multi-account-access/encrypt-like-watching.png
  website/public/images/blog/aws-encryption-and-multi-account-access/not-allowed-to-access-key.png
  website/public/images/blog/aws-encryption-and-multi-account-access/s3-default-encryption.png
  website/public/images/people/jason.png
Labels: website

#2143 chore(ci): Fix golangci-lint
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Labels: automerge

#2141 chore(ci): Add missing workflows
  .github/workflows/source_azure.yml
  .github/workflows/source_github.yml
Labels: automerge

#2148 chore(docs-v1): Point to README in source plugin table
  plugins/source/cloudflare/README.md
  plugins/source/digitalocean/README.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
  website/pages/docs/plugins/sources.md
Labels: cloudflare, digitalocean, github, okta, terraform, website

#2149 chore(docs): Move plugin index.md to README.md
  plugins/source/cloudflare/README.md
  plugins/source/digitalocean/README.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
Labels: cloudflare, digitalocean, github, okta, terraform

#2139 feat(pg): Add sentry
  plugins/destination/postgresql/main.go
Labels: automerge, postgresql

#2153 chore(docs): Add readme to v1 migration script
  scripts/v1-migration/README.md
Labels: automerge

#2151 chore(docs-v1): AWS Contribution guide
  plugins/source/aws/CONTRIBUTING.md
  tools/tool.go
Labels: aws

#2154 chore(ci): Add go cache
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/destination/postgresql/README.md
Labels: postgresql

#2158 chore(docs): Refactor GCP codegen recipes and update contribution docs
  plugins/source/gcp/CONTRIBUTING.md
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/codegen/recipes/storage.go
  plugins/source/gcp/codegen/templates/autogen_tables.go.tpl
  plugins/source/gcp/codegen/templates/newapi_get.go.tpl
  plugins/source/gcp/codegen/templates/newapi_get_rest_mock.go.tpl
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/codegen/templates/newapi_list_grpc_mock.go.tpl
  plugins/source/gcp/codegen/templates/newapi_list_rest_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_get_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
Labels: automerge, gcp

#2160 chore(docs): Fix filename of source plugins release stages (V1)
  website/pages/docs/plugins/source-plugin-release-stages.md
  website/pages/docs/plugins/source.md
Labels: website

#2163 fix: ProgressBar output fix
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
Labels: cli

#2165 feat(cli): Use SourceClient and DestinationClient directly
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
  cli/internal/plugins/destination.go
  cli/internal/plugins/download.go
  cli/internal/plugins/manager.go
  cli/internal/plugins/manager_test.go
  cli/internal/plugins/random.go
  cli/internal/plugins/source.go
  cli/internal/versions/versions.go
  cli/internal/versions/versions_test.go
Labels: cli

#2159 chore(docs): Update contribution docs
  contributing/adding_a_new_resource.md
  contributing/creating_a_new_plugin.md
  contributing/development_environment.md
  plugins/CONTRIBUTING.md
Labels: automerge
