Repository cloudquery/cloudquery, pull requests merged in 2022-05, with the labels that each got.

#613 fix(policy): Add missing GitHub policy getter
  internal/getter/getter.go
Labels: fix

#620 chore(test): Ignore files generated during tests
  .gitignore
Labels: ignore-for-release

#618 fix(policy): Use firebase instead of GitHub to get latest version
  internal/firebase/client.go
  internal/getter/github.go
  internal/getter/github_test.go
  pkg/client/client.go
  pkg/client/purge_test.go
  pkg/client/schema_test.go
  pkg/plugin/registry/hub.go
Labels: fix

#627 chore: Some fixes
  cmd/command.go
  cmd/drift.go
  cmd/init.go
  cmd/provider.go
  pkg/core/fetch.go
  pkg/ui/console/client.go
  pkg/ui/console/model.go
Labels: ignore-for-release

#622 refactor: Rename firebase client type
  internal/firebase/client.go
Labels: refactor

#640 chore(deps): Delete `dependabot.yml`
  .github/dependabot.yml
Labels: ignore-for-release

#621 test(policy): Don't prompt for GitHub user:pass when running the test
  pkg/policy/source_test.go
Labels: test

#642 fix: Sync support optional provider args
  pkg/ui/console/client.go
Labels: fix

#651 fix: Policy selector
  .gitignore
  pkg/config/config.go
  pkg/policy/policy.go
  pkg/policy/run.go
  pkg/ui/console/client.go
  pkg/ui/console/policy.go
Labels: fix

#653 fix: Validate db version before proceeding
  pkg/ui/console/client.go
Labels: fix

#652 feat: Track db installations
  go.mod
  go.sum
  pkg/core/database/database.go
  pkg/core/database/postgres/dbid_test.go
  pkg/core/database/postgres/executor.go
  pkg/core/database/postgres/executor_test.go
  pkg/core/database/timescale/timescale.go
  pkg/core/database/timescale/timescale_test.go
Labels: feat

#655 chore: Include db installation id in analytics
  pkg/ui/console/client.go
Labels: ignore-for-release

#657 test: Add cq-config for policy tests
  internal/test/test_policies_config.hcl
Labels: test

#717 fix: Remove unused lambda dependency
  go.mod
  go.sum
Labels: automerge

#716 fix: Classify policy parse errors as User
  pkg/policy/parser.go
  pkg/policy/run.go
  pkg/ui/console/client.go
Labels: bug

#729 fix: Don't generate telemetry-random-id in current dir
  internal/analytics/client.go
  pkg/ui/console/client_test.go
Labels: automerge

#734 fix: Space trimming in telemetry file
  internal/analytics/client.go
Labels: automerge

#733 test(fetch): Report error on failure
  pkg/core/fetch_test.go
Labels: automerge

#742 feat: Classify some policy download errors as USER
  pkg/policy/source.go
Labels: automerge

#743 fix: Classify "no policies in config" as USER error
  pkg/ui/console/policy.go
Labels: automerge

#741 fix: Handle DeadlineExceeded errors
  pkg/core/fetch.go
  pkg/core/fetch_test.go
Labels: automerge

#748 fix: Don't attempt to download provider in re-attach mode
  cmd/root.go
  pkg/plugin/manager.go
Labels: automerge

#753 fix: Use consistent descriptions for flags
  cmd/root.go
  cmd/sentry.go
Labels: automerge

#764 chore: Update SDK version
  go.mod
  go.sum
Labels: automerge

#770 fix: Policy output file name
  pkg/policy/execute.go
  pkg/policy/execute_test.go
Labels: automerge

#776 test(fetch): Pin test provider version
  pkg/core/fetch_test.go
Labels: automerge

#777 test(fetch): Fix assertions to match new test provider
  pkg/core/fetch_test.go
Labels: automerge

#781 refactor: Use copy instead of loop
  cmd/fetch.go
Labels: automerge

#782 refactor: Use pointer for connection receiver
  pkg/config/config.go
  pkg/config/config_parser.go
Labels: automerge
