Repository cloudquery/cloudquery, pull requests merged in 2022-10, with the labels that each got.

#2198 chore(ci): Add missing docs drift check
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/source/azure/docs/tables/azure_network_route_filters.md
  plugins/source/azure/docs/tables/azure_network_virtual_network_gateway_connections.md
  plugins/source/cloudflare/docs/tables/cloudflare_account_members.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_groups.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_rules.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_cron_triggers.md
  plugins/source/cloudflare/docs/tables/cloudflare_workers_secrets.md
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_project_policies.md
  plugins/source/terraform/docs/tables/tf_resource_instances.md
  plugins/source/terraform/docs/tables/tf_resources.md
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_some_table.md
Labels: azure, cloudflare, gcp, terraform

#2134 fix(gcp): Re-add gcp_iam_service_account_keys
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/docs/tables/gcp_iam_service_accounts.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/iam/service_account_keys.go
  plugins/source/gcp/resources/services/iam/service_account_keys_fetch.go
  plugins/source/gcp/resources/services/iam/service_accounts.go
  plugins/source/gcp/resources/services/iam/service_accounts_mock_test.go
Labels: automerge, gcp

#2222 chore(ci): Approve Vercel status only on Website changes
  .github/workflows/approve_vercel.yml
Labels: automerge

#2018 fix: Don't multiplex subscriptions
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/codegen/recipes/subscriptions.go
  plugins/source/azure/docs/tables/azure_subscriptions.md
  plugins/source/azure/resources/services/subscriptions/subscriptions.go
Labels: azure, automerge

#2249 fix: Drop directory from console log
  cli/cmd/sync.go
Labels: automerge, cli

#2161 chore(docs): Add releases and changelog links to plugins table
  README.md
  website/pages/docs/plugins/destinations.md
  website/pages/docs/plugins/source.md
  website/pages/docs/plugins/sources.md
Labels: website

#2246 chore(docs): Some improvements to v1 spec docs
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/reference/_meta.json
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/destination_spec.md
  website/pages/docs/reference/source-spec.md
  website/pages/docs/reference/source_spec.md
Labels: website

#2274 fix: Run tinypng on GCP dashboard screenshots
  plugins/source/gcp/dashboards/grafana/asset_inventory.png
  plugins/source/gcp/dashboards/grafana/compliance.png
Labels: automerge, gcp

#2273 chore(ci): Add missing Heroku labeler configuration
  .github/pr_labeler.yml
Labels: automerge

#2286 chore: Set empty code owners for dependencies updates
  CODEOWNERS
Labels: automerge

#2288 chore: This should allow us to bump PRs in the merge queue
  .github/.kodiak.toml
Labels: priority merge

#2276 chore(website): Tweak landing page copy
  website/components/pages/home.tsx
Labels: automerge, website

#2290 chore(blog): Add V1 migration blog post
  website/content/team.ts
  website/pages/blog/_meta.json
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/public/images/people/hermanschaaf.jpg
Labels: website

#2305 chore(azure): Update migration guide
  plugins/source/azure/docs/v1-migration.md
  scripts/v1-migration/main.go
Labels: azure, automerge

#2295 fix(cli): Fix tests and remove push triggers
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Labels: automerge, cli

#2306 chore(blog): Some V1 migration blog improvements
  website/pages/blog/migrating-from-v0-to-v1.md
Labels: automerge, website, priority merge

#2132 fix(gcp): Re-add missing field in crypto_keys (rotation_period)
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/policies_v1/queries/kms/keys_not_rotated_within_90_days.sql
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_mock_test.go
Labels: automerge, gcp

#2320 chore(docs): Fix typos in blogs, docs, website
  .github/styles/Vocab/Base/accept.txt
  .vale.ini
  contributing/adding_a_new_resource.md
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/gcp/CONTRIBUTING.md
  plugins/source/k8s/dashboards/README.md
  plugins/source/test/docs/README.md
  plugins/source/test/docs/test_some_table.md
  website/pages/blog/aws-encryption-and-multi-account-access.md
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/core-concepts/migrations.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/developers/architecture.md
  website/pages/docs/developers/codegen.md
  website/pages/docs/index.mdx
  website/pages/docs/plugins/source-plugin-release-stages.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
  website/pages/privacy.mdx
  website/pages/terms.mdx
Labels: aws, gcp, k8s, website

#2321 chore!: Official v1 release
  .release-please-manifest.json
  cli/Makefile
Labels: cli

#2332 chore: Fix plugins link in header tab
  website/pages/_meta.json
Labels: automerge, website, priority merge

#2335 chore!: Official v1 release
  .release-please-manifest.json
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
Labels: aws, azure, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, heroku

#2336 chore(docs): Update plugin stages doc
  website/pages/docs/plugins/source-plugin-release-stages.md
Labels: automerge, website, priority merge

#2379 chore: Fix redirects
  website/vercel.json
Labels: automerge, website

#2364 fix(aws): Fix throttle errors
  plugins/source/aws/Makefile
  plugins/source/aws/client/client.go
  plugins/source/aws/client/client_test.go.backup
  plugins/source/aws/client/ratelimit.go
  plugins/source/aws/client/retry.go
Labels: aws, automerge

#2384 fix(cli): Dont truncate log (append only)
  cli/cmd/root.go
Labels: automerge, cli

#2389 fix: Add back missing plugin logs
  cli/cmd/sync.go
  cli/cmd/sync_test.go
Labels: automerge, cli

#2431 chore(cli): Make sentry only send errors on panic
  cli/cmd/root.go
  cli/main.go
Labels: automerge, cli

#2415 fix: Remove unnecessary error wrapping
  cli/cmd/sync.go
Labels: automerge, cli

#2411 feat(aws): EMR Clusters to use PreResourceResolver
  plugins/source/aws/codegen/recipes/emr.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/emr/clusters_fetch.go
Labels: aws, automerge

#2464 chore(website): Improve Quickstart docs
  cli/Makefile
  cli/cmd/doc_test.go
  cli/cmd/root.go
  website/components/mdx/_getting-started-download-section.mdx
  website/pages/docs/quickstart.mdx
  website/pages/docs/reference/cli/_meta.json
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_generate.md
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, cli, website

#2318 fix(gcp): Re-add gcp_storage_bucket_policies
  plugins/source/gcp/codegen/recipes/storage.go
  plugins/source/gcp/docs/tables/gcp_storage_bucket_policies.md
  plugins/source/gcp/docs/tables/gcp_storage_buckets.md
  plugins/source/gcp/policies_v1/queries/storage/buckets_publicly_accessible.sql
  plugins/source/gcp/policies_v1/views/buckets_permissions.sql
  plugins/source/gcp/resources/services/storage/bucket_policies.go
  plugins/source/gcp/resources/services/storage/bucket_policies_fetch.go
  plugins/source/gcp/resources/services/storage/buckets.go
  plugins/source/gcp/resources/services/storage/buckets_mock_test.go
Labels: automerge, gcp

#2468 doc: Tiny fix
  website/pages/blog/cloudquery-v1-release.md
Labels: automerge, website

#2470 chore(website): Use specific versions in examples
  website/pages/docs/quickstart.mdx
Labels: automerge, website

#2469 chore(blog): Remove gen reference from v1 blog
  website/pages/blog/migrating-from-v0-to-v1.md
Labels: automerge, website

#2473 fix: AWS codegen: fix ec2 naming
  plugins/source/aws/codegen/recipes/base.go
Labels: aws

#2463 fix!: Store some JSON columns as jsonb not as a text
  plugins/source/aws/client/resolvers.go
  plugins/source/aws/client/resolvers_test.go
  plugins/source/aws/codegen/recipes/codepipeline.go
  plugins/source/aws/codegen/recipes/dax.go
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/codegen/recipes/sns.go
  plugins/source/aws/codegen/recipes/sqs.go
  plugins/source/aws/docs/tables/aws_codepipeline_pipelines.md
  plugins/source/aws/docs/tables/aws_dax_clusters.md
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/docs/tables/aws_route53_traffic_policy_versions.md
  plugins/source/aws/docs/tables/aws_sns_subscriptions.md
  plugins/source/aws/docs/tables/aws_sns_topics.md
  plugins/source/aws/docs/tables/aws_sqs_queues.md
  plugins/source/aws/resources/services/codepipeline/pipelines.go
  plugins/source/aws/resources/services/dax/clusters.go
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/route53/traffic_policies_mock_test.go
  plugins/source/aws/resources/services/route53/traffic_policy_versions.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/subscriptions_mock_test.go
  plugins/source/aws/resources/services/sns/topics.go
  plugins/source/aws/resources/services/sqs/queues.go
Labels: aws

#2472 chore(website): Minor nits to migration blog
  website/pages/blog/migrating-from-v0-to-v1.md
Labels: automerge, website

#2410 fix!: Update all AWS Client Versions
  plugins/source/aws/codegen/recipes/emr.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/docs/tables/aws_config_conformance_packs.md
  plugins/source/aws/docs/tables/aws_eks_clusters.md
  plugins/source/aws/docs/tables/aws_emr_block_public_access_configs.md
  plugins/source/aws/docs/tables/aws_fsx_data_repository_associations.md
  plugins/source/aws/docs/tables/aws_fsx_data_repository_tasks.md
  plugins/source/aws/docs/tables/aws_glue_job_runs.md
  plugins/source/aws/docs/tables/aws_glue_jobs.md
  plugins/source/aws/docs/tables/aws_inspector2_findings.md
  plugins/source/aws/docs/tables/aws_iot_ca_certificates.md
  plugins/source/aws/docs/tables/aws_lambda_function_event_source_mappings.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_db_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/docs/tables/aws_sagemaker_endpoint_configurations.md
  plugins/source/aws/docs/tables/aws_sagemaker_training_jobs.md
  plugins/source/aws/docs/tables/aws_workspaces_directories.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/accessanalyzer/analyzers_fetch.go
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters_fetch.go
  plugins/source/aws/resources/services/config/conformance_packs.go
  plugins/source/aws/resources/services/eks/clusters.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes_offerings_fetch.go
  plugins/source/aws/resources/services/elasticache/service_updates_fetch.go
  plugins/source/aws/resources/services/emr/block_public_access_configs.go
  plugins/source/aws/resources/services/fsx/data_repository_associations.go
  plugins/source/aws/resources/services/fsx/data_repository_tasks.go
  plugins/source/aws/resources/services/glue/job_runs.go
  plugins/source/aws/resources/services/glue/jobs.go
  plugins/source/aws/resources/services/glue/jobs_test.go
  plugins/source/aws/resources/services/inspector2/findings.go
  plugins/source/aws/resources/services/iot/ca_certificates.go
  plugins/source/aws/resources/services/lambda/function_event_source_mappings.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/instances.go
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations.go
  plugins/source/aws/resources/services/sagemaker/training_jobs.go
  plugins/source/aws/resources/services/workspaces/directories.go
  plugins/source/aws/resources/services/workspaces/directories_fetch.go
  plugins/source/aws/resources/services/workspaces/workspaces_fetch.go
Labels: aws, automerge

#2403 feat: Add new fields to Lightsail and EC2
  plugins/source/aws/docs/tables/aws_ec2_flow_logs.md
  plugins/source/aws/docs/tables/aws_ec2_images.md
  plugins/source/aws/docs/tables/aws_ec2_transit_gateway_peering_attachments.md
  plugins/source/aws/docs/tables/aws_lightsail_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/ec2/flow_logs.go
  plugins/source/aws/resources/services/ec2/images.go
  plugins/source/aws/resources/services/ec2/transit_gateway_peering_attachments.go
  plugins/source/aws/resources/services/lightsail/instances.go
Labels: aws, automerge

#2479 fix(aws): Re-add Cloudtrail tags
  plugins/source/aws/codegen/recipes/cloudtrail.go
  plugins/source/aws/docs/tables/aws_cloudtrail_trails.md
  plugins/source/aws/resources/services/cloudtrail/models/cloudtrail.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/cloudtrail/trails_fetch.go
  plugins/source/aws/resources/services/cloudtrail/trails_mock_test.go
Labels: aws, automerge

#2480 fix(aws): Re-add Route53 hosted zone tags
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/docs/tables/aws_route53_hosted_zones.md
  plugins/source/aws/resources/services/route53/hosted_zones.go
  plugins/source/aws/resources/services/route53/hosted_zones_fetch.go
  plugins/source/aws/resources/services/route53/hosted_zones_mock_test.go
  plugins/source/aws/resources/services/route53/models/route53.go
Labels: aws, automerge

#2486 fix: Fixed crashes when json field is nil
  plugins/source/aws/client/resolvers.go
  plugins/source/aws/client/resolvers_test.go
  plugins/source/aws/resources/services/sns/subscriptions_mock_test.go
Labels: aws

#2494 chore: Sanitize migrator log messages
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#2459 fix(cli): Close stdout when using --log-console
  cli/cmd/root.go
  cli/cmd/sync.go
  cli/main.go
Labels: automerge, cli

#2522 fix: SourceName
  cli/cmd/sync.go
Labels: cli

#2523 chore(aws): Delete unused DeleteFilters
  plugins/source/aws/client/filters.go
Labels: aws, automerge

#2527 doc: Add section about starting from clean db to migration blog post
  website/pages/blog/migrating-from-v0-to-v1.md
Labels: automerge, website

#2493 fix: Show sync time
  cli/cmd/sync.go
Labels: automerge, cli

#2204 chore(ci): Run CLI tests on Mac and Windows
  .github/workflows/cli.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#2477 chore: Add step to update versions in docs
  .github/workflows/release_plugin.yml
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/plugins/destinations.md
  website/pages/docs/plugins/sources.md
  website/pages/docs/quickstart.mdx
Labels: automerge, website

#2564 chore: Redirect getting started links
  website/vercel.json
Labels: automerge, website

#2531 feat(pg): Support CockroachDB
  .github/workflows/dest_postgresql.yml
  plugins/destination/postgresql/CONTRIBUTING.md
  plugins/destination/postgresql/Makefile
  plugins/destination/postgresql/README.md
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/migrate_test.go
  plugins/destination/postgresql/client/type_test.go
  plugins/destination/postgresql/client/types.go
Labels: enhancement, feat, automerge, postgresql, cockroachdb

#2543 chore(website): Remove deprecated dev docs
  website/pages/docs/advanced-topics/docker.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/architecture.md
  website/pages/docs/developers/creating-new-plugin.md
  website/pages/docs/developers/developing-source-plugin.md
  website/pages/docs/developers/testing.md
  website/vercel.json
Labels: automerge, website

#2578 fix(azure): Skip resource if SiteConfig is nil
  plugins/source/azure/resources/services/web/vnet_connections.go
Labels: azure, automerge

#2577 chore(website): Remove mention of providers. Use plugins.
  website/pages/docs/core-concepts/migrations.md
  website/pages/docs/core-concepts/policies.md
  website/pages/docs/cq-vs-others/cspms.md
  website/pages/docs/developers/architecture.md
  website/pages/docs/developers/codegen.md
Labels: automerge, website

#2576 chore: Update README to be consistent with docs
  README.md
Labels: automerge

#2575 chore(website): Add recipes section
  website/pages/docs/_meta.json
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/aws-postgresql.md
  website/pages/docs/recipes/azure-postgresql.md
  website/pages/docs/recipes/gcp-postgresql.md
  website/pages/docs/recipes/overview.md
Labels: automerge, website

#2528 feat: Add Support For KMS Aliases
  plugins/source/aws/client/mocks/mock_kms.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/recipes/kms.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_kms_aliases.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/kms/aliases.go
  plugins/source/aws/resources/services/kms/aliases_fetch.go
  plugins/source/aws/resources/services/kms/aliases_mock_test.go
Labels: aws, automerge

#2606 chore(website): Fix developers sidebar titles
  website/pages/docs/developers/_meta.json
Labels: automerge, website

#2587 fix: Update postgresql plugin to work with new sdk (deleteStale feature)
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/deletestale_test.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#2604 feat(pg): Use pgx batch to improve performance
  plugins/destination/postgresql/README.md
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/deletestale_test.go
  plugins/destination/postgresql/client/migrate_test.go
  plugins/destination/postgresql/client/spec.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/client/write_test.go
Labels: automerge, postgresql

#2603 fix(docs): Add more info on adding Resource
  plugins/source/aws/CONTRIBUTING.md
Labels: aws, automerge

#2620 chore: Remove issue labeler
  .github/issue_labeler.yml
  .github/workflows/issue_labeler.yml
Labels: automerge

#2614 chore: Remove redundant function
  cli/internal/versions/versions.go
  cli/internal/versions/versions_test.go
Labels: automerge, cli

#2622 chore(tests): Remove use of github.com/bxcodec/faker
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups_mock_test.go
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters_mock_test.go
  plugins/source/aws/resources/services/firehose/delivery_streams_mock_test.go
  plugins/source/aws/resources/services/kinesis/streams_mock_test.go
Labels: aws, automerge

#2627 fix!: Use JSON tag for column names
  .github/workflows/source_cloudflare.yml
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource_manual.go.tpl
  plugins/source/cloudflare/docs/tables/cloudflare_images.md
  plugins/source/cloudflare/docs/tables/cloudflare_workers_secrets.md
  plugins/source/cloudflare/docs/tables/cloudflare_zones.md
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/zones/zones.go
Labels: automerge, cloudflare

#2626 chore(ci-azure): Test for code gen drift
  .github/workflows/source_azure.yml
  plugins/source/azure/Makefile
  plugins/source/azure/codegen/recipes/web.go
Labels: azure, automerge

#2629 fix!: Rename certificates `sha_1_fingerprint` to `sha1_fingerprint`
  .github/workflows/source_digitalocean.yml
  plugins/source/digitalocean/Makefile
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/docs/tables/digitalocean_certificates.md
  plugins/source/digitalocean/resources/services/certificates/certificates.go
Labels: automerge, digitalocean

#2632 chore(ci-gcp): Test for code gen drift
  .github/workflows/source_gcp.yml
  plugins/source/gcp/Makefile
Labels: automerge, gcp

#2634 fix(gcp): Migrate Grafana dashboards
  plugins/source/gcp/dashboards/grafana/asset_inventory.json
  plugins/source/gcp/dashboards/grafana/compliance.json
  plugins/source/gcp/views/README.md
  plugins/source/gcp/views/resource.sql
Labels: automerge, gcp

#2636 doc(AWS): Add paragraph about keeping tags consistent in AWS
  plugins/source/aws/CONTRIBUTING.md
Labels: aws, automerge

#2640 feat(k8s): Add jobs.spec_pod_failure_policy and pods.spec_host_users columns
  .github/workflows/source_k8s.yml
  plugins/source/k8s/Makefile
  plugins/source/k8s/docs/tables/k8s_batch_jobs.md
  plugins/source/k8s/docs/tables/k8s_core_pods.md
  plugins/source/k8s/resources/services/batch/jobs.go
  plugins/source/k8s/resources/services/core/pods.go
Labels: automerge, k8s

#2530 feat: Add Support for HSMv2 Clusters and Backups
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/mock_cloudhsmv2.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/cloudhsmv2.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_cloudhsmv2_backups.md
  plugins/source/aws/docs/tables/aws_cloudhsmv2_clusters.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudhsmv2/backups.go
  plugins/source/aws/resources/services/cloudhsmv2/backups_fetch.go
  plugins/source/aws/resources/services/cloudhsmv2/backups_mock_test.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters_fetch.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters_mock_test.go
Labels: aws, automerge

#2633 chore(ci-github): Test for code gen drift
  .github/workflows/source_github.yml
  plugins/source/github/Makefile
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipies/base.go
  plugins/source/github/codegen/recipies/billing.go
  plugins/source/github/codegen/recipies/columns.go
  plugins/source/github/codegen/recipies/external.go
  plugins/source/github/codegen/recipies/hooks.go
  plugins/source/github/codegen/recipies/installations.go
  plugins/source/github/codegen/recipies/issues.go
  plugins/source/github/codegen/recipies/multiplex.go
  plugins/source/github/codegen/recipies/organizations.go
  plugins/source/github/codegen/recipies/repositories.go
  plugins/source/github/codegen/recipies/teams.go
  plugins/source/github/codegen/recipies/templates/resource.go.tpl
Labels: automerge, github

#2637 chore(website): Update Grafana dashboards blog post with new URLs
  website/pages/blog/open-source-cloud-asset-inventory-with-cloudquery-and-grafana.md
Labels: automerge, website, priority merge

#2624 chore(website): Add abit of info about support tiers
  website/pages/docs/_meta.json
  website/pages/docs/support.md
Labels: automerge, website

#2651 fix: Flush destination plugins when sync finish
  cli/cmd/sync.go
Labels: automerge, cli, priority merge

#2655 chore(ci-cli): Check for docs drift
  .github/workflows/cli.yml
  cli/Makefile
Labels: automerge, cli

#2668 chore: Codegen for elasticache engine_versions
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elasticache_engine_versions.md
  plugins/source/aws/resources/services/elasticache/engine_versions.go
  plugins/source/aws/resources/services/elasticache/engine_versions_fetch.go
Labels: aws, automerge

#2643 chore(ci): Fix Azure code gen
  .github/workflows/source_azure.yml
Labels: automerge

#2670 fix: Upgrade terraform sdk
  plugins/source/terraform/client/testing.go
  plugins/source/terraform/docs/tables/README.md
  plugins/source/terraform/docs/tables/tf_data.md
  plugins/source/terraform/docs/tables/tf_resource_instances.md
  plugins/source/terraform/docs/tables/tf_resources.md
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/services/tfdata_test.go
Labels: automerge, terraform

#2460 feat(aws): Use PreResourceResolver when necessary, remove ListAndDetailResolver
  plugins/source/aws/client/helpers.go
  plugins/source/aws/codegen/recipes/athena.go
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/codegen/recipes/firehose.go
  plugins/source/aws/codegen/recipes/glue.go
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/codegen/recipes/kinesis.go
  plugins/source/aws/codegen/recipes/resourcegroups.go
  plugins/source/aws/codegen/recipes/sagemaker.go
  plugins/source/aws/codegen/recipes/sns.go
  plugins/source/aws/resources/services/athena/data_catalogs.go
  plugins/source/aws/resources/services/athena/data_catalogs_fetch.go
  plugins/source/aws/resources/services/athena/work_groups.go
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/ecs/task_definitions.go
  plugins/source/aws/resources/services/ecs/task_definitions_fetch.go
  plugins/source/aws/resources/services/firehose/delivery_streams.go
  plugins/source/aws/resources/services/firehose/delivery_streams_fetch.go
  plugins/source/aws/resources/services/glue/triggers.go
  plugins/source/aws/resources/services/glue/triggers_fetch.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/roles_fetch.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_fetch.go
  plugins/source/aws/resources/services/kinesis/streams.go
  plugins/source/aws/resources/services/kinesis/streams_fetch.go
  plugins/source/aws/resources/services/resourcegroups/resource_groups.go
  plugins/source/aws/resources/services/resourcegroups/resource_groups_fetch.go
  plugins/source/aws/resources/services/sagemaker/training_jobs.go
  plugins/source/aws/resources/services/sagemaker/training_jobs_fetch.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/subscriptions_fetch.go
Labels: aws, automerge, priority merge

#2649 chore: Fix proxy docs
  website/pages/docs/advanced-topics/proxy-configuration.md
Labels: automerge, website

#2641 chore(k8s): Remove some outdated files
  plugins/source/k8s/plugin/views_test.go.backup
  plugins/source/k8s/resources/integration_tests/README.md
  plugins/source/k8s/test/gen-tables.go.backup
  plugins/source/k8s/test/policy_cq_config.yml
Labels: automerge, k8s

#2692 fix(deps): Update SDK to v0.13.5 for test destination plugin
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge

#2691 chore: Remove unused `plugins/destination/.goreleaser.yaml` file
  plugins/destination/.goreleaser.yaml
Labels: automerge

#2685 chore: Remove duplicate natgateway ec2 codegen entry
  plugins/source/aws/codegen/recipes/ec2.go
Labels: aws, automerge

#2645 feat: Add Support for ECR Public Repositories
  plugins/source/aws/client/client.go
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/client/mocks/mock_ecrpublic.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/ecrpublic.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ecrpublic_repositories.md
  plugins/source/aws/docs/tables/aws_ecrpublic_repository_images.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ecrpublic/repositories.go
  plugins/source/aws/resources/services/ecrpublic/repositories_fetch.go
  plugins/source/aws/resources/services/ecrpublic/repositories_mock_test.go
  plugins/source/aws/resources/services/ecrpublic/repository_images.go
  plugins/source/aws/tools/endpoints/main.go
Labels: aws, automerge

#2696 feat: Warn on usage with plugins with SDK < v0.13
  cli/cmd/sync.go
Labels: automerge, cli, priority merge

#2727 fix: Fix multiplexer for AWS Organizations
  plugins/source/aws/codegen/recipes/organizations.go
  plugins/source/aws/resources/services/organizations/accounts.go
Labels: aws, automerge

#2693 chore: Add Issue to public roadmap project
  .github/workflows/issue_to_project.yml
Labels: automerge, priority merge

#2648 feat(aws): Add Column for WAFRegional for ListResourcesForWebACL
  plugins/source/aws/client/mocks/wafregional.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/recipes/wafregional.go
  plugins/source/aws/docs/tables/aws_wafregional_web_acls.md
  plugins/source/aws/resources/services/wafregional/web_acls.go
  plugins/source/aws/resources/services/wafregional/web_acls_fetch.go
  plugins/source/aws/resources/services/wafregional/web_acls_mock_test.go
Labels: aws, automerge

#2687 chore(website): Use client side submit
  website/components/Footer.tsx
  website/pages/api/subscribe.ts
Labels: automerge, website

#2749 fix: Improperly Configured Service Clients
  plugins/source/aws/client/client.go
Labels: aws

#2167 feat(postgresql): Add interval column type for `schema.TimeInterval`
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/drop.go
  plugins/destination/postgresql/client/types.go
Labels: enhancement, automerge, postgresql

#2618 doc: Add docs about concurrency options
  website/pages/docs/advanced-topics/rate-limiting.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#2755 chore(ci): Remove approve Vercel workflow
  .github/workflows/approve_vercel.yml
Labels: automerge

#2758 chore(ci): Use 'make gen-docs' in Azure workflow
  .github/workflows/source_azure.yml
Labels: automerge

#2763 fix(gcp): Use duration properly
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/resources/services/functions/functions.go
Labels: gcp

#2775 fix(gcp-policy): Only show user defined service accounts in service accounts with admin privileges query
  plugins/source/gcp/policies_v1/queries/iam/service_account_admin_priv.sql
Labels: policy, automerge, gcp

#2774 chore(docs): Update source-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#2772 chore(k8s): Remove old faker
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/resources/services/apps/deployments_mock_test.go
  plugins/source/k8s/resources/services/apps/replica_sets_mock_test.go
  plugins/source/k8s/resources/services/apps/stateful_sets_mock_test.go
  plugins/source/k8s/resources/services/batch/cron_jobs_mock_test.go
  plugins/source/k8s/resources/services/batch/jobs_mock_test.go
  plugins/source/k8s/resources/services/core/endpoints_mock_test.go
  plugins/source/k8s/resources/services/core/limit_ranges_mock_test.go
  plugins/source/k8s/resources/services/core/namespaces_mock_test.go
  plugins/source/k8s/resources/services/core/resource_quotas_mock_test.go
  plugins/source/k8s/resources/services/core/service_accounts_mock_test.go
  plugins/source/k8s/resources/services/networking/network_policies_mock_test.go
  plugins/source/k8s/resources/services/rbac/role_bindings_mock_test.go
  plugins/source/k8s/resources/services/rbac/roles_mock_test.go
  plugins/source/k8s/resources/services/testing/data.go
Labels: automerge, k8s

#2773 doc: Improve Information about spec
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#2698 fix(GCP Policy): DNSSEC check gives incorrect results
  plugins/source/gcp/policies_v1/cis_v1.2.0/section_3.sql
  plugins/source/gcp/policies_v1/queries/dns/zones_with_dnssec_disabled.sql
Labels: policy, automerge, gcp

#2806 doc: Fix typo
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website, priority merge

#2765 chore(website): Fix recipes versions
  website/pages/docs/recipes/aws-postgresql.md
  website/pages/docs/recipes/azure-postgresql.md
  website/pages/docs/recipes/gcp-postgresql.md
Labels: automerge, website

#2762 chore(ci): Remove redundant condition in issues triage
  .github/workflows/issue_to_project.yml
Labels: automerge

#2759 fix(k8s): Structure plugin so version is embedded by Go Releaser
  plugins/source/k8s/main.go
  plugins/source/k8s/resources/plugin/plugin.go
Labels: automerge, k8s

#2761 fix(terraform): Structure plugin so version is embedded by Go Releaser
  .gitignore
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/plugin/plugin.go
  plugins/source/terraform/resources/services/testdata/terraform.tfstate
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/resources/services/tfdata_test.go
Labels: automerge, terraform

#2760 fix(okta): Structure plugin so version is embedded by Go Releaser
  plugins/source/okta/main.go
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/users.go
Labels: automerge, okta

#2776 fix(aws): Clean up tag fields
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/aws_ec2_network_interfaces.md
  plugins/source/aws/docs/tables/aws_rds_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_db_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/resources/services/ec2/network_interfaces.go
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/instances.go
  plugins/source/aws/views/resources.sql
Labels: aws, automerge

#2675 doc: Change default write_mode to 'overwrite-delete-stale'
  website/pages/docs/faq.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/reference/destination-spec.md
Labels: automerge, website

#2807 feat(aws): CQ Policies to Validate IMDSv2 Usage and Enforcement across EC2, Lightsail, and AMIs
  plugins/source/aws/policies_v1/imds_v2/policy.sql
  plugins/source/aws/policies_v1/policy.sql
  plugins/source/aws/policies_v1/queries/ec2/images_imdsv2_required.sql
  plugins/source/aws/policies_v1/queries/lightsail/not_imdsv2_instances.sql
Labels: aws, policy, automerge

#2840 doc: Add authentication section to quickstart section
  website/pages/docs/quickstart.mdx
Labels: automerge, website

#2845 fix!: Rollback: Remove the 'functions.Timeout' column
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/resources/services/functions/functions.go
Labels: automerge, gcp

#2887 fix: Improve PG Write Speeds
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#2839 fix: Log timestamps in UTC and RFC3339
  cli/cmd/root.go
Labels: automerge, cli

#2837 fix!: More tag cleanup
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/docs/tables/aws_ec2_internet_gateways.md
  plugins/source/aws/docs/tables/aws_ec2_network_acls.md
  plugins/source/aws/docs/tables/aws_ec2_route_tables.md
  plugins/source/aws/docs/tables/aws_ec2_vpc_endpoint_services.md
  plugins/source/aws/resources/services/ec2/internet_gateways.go
  plugins/source/aws/resources/services/ec2/network_acls.go
  plugins/source/aws/resources/services/ec2/route_tables.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services.go
Labels: aws, automerge

#2703 feat(aws): Glacier resources
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/glacier.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/glacier.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_glacier_data_retrieval_policies.md
  plugins/source/aws/docs/tables/aws_glacier_vault_access_policies.md
  plugins/source/aws/docs/tables/aws_glacier_vault_lock_policies.md
  plugins/source/aws/docs/tables/aws_glacier_vault_notifications.md
  plugins/source/aws/docs/tables/aws_glacier_vaults.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/glacier/data_retrieval_policies.go
  plugins/source/aws/resources/services/glacier/data_retrieval_policies_fetch.go
  plugins/source/aws/resources/services/glacier/data_retrieval_policies_mock_test.go
  plugins/source/aws/resources/services/glacier/vault_access_policies.go
  plugins/source/aws/resources/services/glacier/vault_access_policies_fetch.go
  plugins/source/aws/resources/services/glacier/vault_lock_policies.go
  plugins/source/aws/resources/services/glacier/vault_lock_policies_fetch.go
  plugins/source/aws/resources/services/glacier/vault_notifications.go
  plugins/source/aws/resources/services/glacier/vault_notifications_fetch.go
  plugins/source/aws/resources/services/glacier/vaults.go
  plugins/source/aws/resources/services/glacier/vaults_fetch.go
  plugins/source/aws/resources/services/glacier/vaults_mock_test.go
Labels: aws, automerge

#2812 fix(cli): Deprecate color flag
  cli/cmd/root.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, cli, website

#2701 fix: Add codegen for AWS regions
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_regions.md
  plugins/source/aws/resources/services/ec2/regions.go
  plugins/source/aws/resources/services/ec2/regions_fetch.go
Labels: aws, automerge

#2896 chore(release): Ensure only 1 release please workflow runs at the same time
  .github/workflows/release_pr.yml
Labels: automerge

#2796 feat: Deprecate --data-dir in favor of --cq-dir
  cli/cmd/root.go
  cli/cmd/sync.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, cli, website

#2907 chore(website): Fix broken links in comparison page
  website/pages/docs/cq-vs-others/overview.md
Labels: automerge, website

#2911 fix(gcp-policy): Correct broken file path
  plugins/source/gcp/policies_v1/cis_v1.2.0/section_3.sql
Labels: policy, automerge, gcp

#2826 fix: Improve IAM Policy sync performance
  plugins/source/aws/resources/services/iam/policies_fetch.go
Labels: aws, automerge

#2909 chore(release): Improve release workflow caching
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/validate_release.yml
Labels: automerge

#2925 chore(release): Use correct step id in release workflow
  .github/workflows/release_plugin.yml
Labels: automerge

#2946 fix(destination-test): Structure plugin so version is embedded by Go Releaser
  plugins/destination/test/main.go
  plugins/destination/test/resources/plugin/plugin.go
Labels: automerge

#2949 chore(release): Revert caching changes
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/validate_release.yml
Labels: automerge

#2918 feat(aws): EMR Fetch only running clusters
  plugins/source/aws/resources/services/emr/clusters_fetch.go
  plugins/source/aws/resources/services/emr/clusters_mock_test.go
Labels: aws, automerge

#2970 chore(ci): Run lint,built,test on `main` to prime cache
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Labels: automerge, priority merge

#2979 doc(aws): Fix Source Plugin Configuration Reference
  plugins/source/aws/docs/configuration.md
Labels: aws, automerge

#2974 fix: A few fixes for analytics
  cli/cmd/analytics.go
  cli/cmd/root.go
  cli/cmd/sync.go
  cli/internal/pb/analytics.pb.go
  cli/internal/pb/analytics_grpc.pb.go
Labels: cli

#2947 fix(postgresql): Structure plugin so version is embedded by Go Releaser
  plugins/destination/postgresql/main.go
  plugins/destination/postgresql/resources/plugin/plugin.go
Labels: automerge, postgresql

#2983 doc: Add troubleshooting section about migration failures
  website/pages/docs/troubleshooting.md
Labels: website

#2923 feat: Add Support for Neptune
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/mock_neptune.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/neptune.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_parameter_group_parameters.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_parameter_groups.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_neptune_clusters.md
  plugins/source/aws/docs/tables/aws_neptune_db_parameter_group_db_parameters.md
  plugins/source/aws/docs/tables/aws_neptune_db_parameter_groups.md
  plugins/source/aws/docs/tables/aws_neptune_event_subscriptions.md
  plugins/source/aws/docs/tables/aws_neptune_instances.md
  plugins/source/aws/docs/tables/aws_neptune_subnet_groups.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_group_parameters.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups_fetch.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups_mock_test.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots_fetch.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots_mock_test.go
  plugins/source/aws/resources/services/neptune/clusters.go
  plugins/source/aws/resources/services/neptune/clusters_fetch.go
  plugins/source/aws/resources/services/neptune/db_parameter_group_db_parameters.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups_fetch.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups_mock_test.go
  plugins/source/aws/resources/services/neptune/event_subscriptions.go
  plugins/source/aws/resources/services/neptune/event_subscriptions_fetch.go
  plugins/source/aws/resources/services/neptune/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/neptune/global_clusters.go
  plugins/source/aws/resources/services/neptune/global_clusters_fetch.go
  plugins/source/aws/resources/services/neptune/global_clusters_mock_test.go
  plugins/source/aws/resources/services/neptune/instances.go
  plugins/source/aws/resources/services/neptune/instances_fetch.go
  plugins/source/aws/resources/services/neptune/mock_test.go
  plugins/source/aws/resources/services/neptune/subnet_groups.go
  plugins/source/aws/resources/services/neptune/subnet_groups_fetch.go
Labels: aws, automerge

#2978 chore(docs): Add example postgres connection strings
  plugins/destination/postgresql/README.md
Labels: automerge, postgresql, priority merge

#3007 doc: Document that path is not optional
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: website

#2997 feat(aws): Add Support for App Runner Services
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/mock_apprunner.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/Apprunner.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_services.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/services.go
  plugins/source/aws/resources/services/apprunner/services_fetch.go
  plugins/source/aws/resources/services/apprunner/services_mock_test.go
Labels: aws, automerge

#3010 chore(ci): Use fetch-depth: 0, update changed-files
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, priority merge

#3047 chore(ci): Add caching to docs command trigger
  .github/workflows/manual_commands_triggers.yml
Labels: automerge

#3056 chore(docs): AWS: Add missing configuration and example config
  .github/workflows/release_plugin.yml
  plugins/source/aws/docs/configuration.md
Labels: aws, automerge

#3065 fix(aws-grafana-ec2_public_private): Fix Name column
  plugins/source/aws/dashboards/grafana/aws_ec2_public_private.json
Labels: aws

#3029 chore(website): Fix broken links
  .github/workflows/broken_links.yml
  cli/cmd/doc.go
  cli/cmd/root.go
  website/components/Footer.tsx
  website/components/Integrations.tsx
  website/pages/blog/2022-may-monthly.md
  website/pages/blog/announcing-cloudquery-history.md
  website/pages/blog/announcing-cloudquery-hub.md
  website/pages/blog/announcing-cloudquery-policies.md
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-resources-view.md
  website/pages/blog/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/blog/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/blog/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/blog/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/blog/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/blog/cloudquery-postgraphile.md
  website/pages/blog/cloudquery-postgrest.md
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/how-to-aws-cis-compliance.md
  website/pages/blog/introducing-cloudquery-sdk.md
  website/pages/blog/introducing-the-digital-ocean-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/open-source-cspm.md
  website/pages/blog/our-open-source-journey-building-cloudquery.md
  website/pages/blog/releasing-cloudquery-0.20.0.md
  website/pages/blog/running-aws-foundational-security-best-practices-with-cloudquery-policies.md
  website/pages/blog/running-aws-pci-dss-with-cloudquery-policies.md
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.md
  website/pages/docs/advanced-topics/docker.md
  website/pages/docs/plugins/source-plugin-release-stages.md
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_sync.md
  website/vercel.json
Labels: cli, website

#3070 chore(website): Add analytics
  website/pages/_app.tsx
Labels: website

#3080 fix(cli): Update binary names to use Go releaser defaults
  cli/.goreleaser.prerelease.yaml
Labels: automerge

#3081 chore(docs): Update CLI download links
  website/components/mdx/_getting-started-download-section.mdx
  website/pages/blog/how-to-aws-cis-compliance.md
Labels: website

#3079 doc: Add documentation about telemetry / data collection
  website/pages/docs/_meta.json
  website/pages/docs/telemetry.md
Labels: automerge, website

#3059 chore(ci): Move validate release workflow to each component so caching works
  .github/workflows/cli.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/validate_release.yml
Labels: automerge
