Repository cloudquery/cloudquery, pull requests merged in 2022-04, with the labels that each got.

#476 fix: Added error when connection configuration is not set
  pkg/ui/console/client.go
Labels: fix

#563 feat: Drift: Improvements
  .github/workflows/lint_golang.yml
  cmd/drift.go
  internal/sort/sort.go
  internal/sort/sort_test.go
  pkg/module/drift/combination.go
  pkg/module/drift/combination_test.go
  pkg/module/drift/config.go
  pkg/module/drift/config_test.go
  pkg/module/drift/drift.go
  pkg/module/drift/model.go
  pkg/module/drift/terraform.go
  pkg/module/drift/terraform/state.go
  pkg/module/drift/terraform_test.go
Labels: feat

#565 feat: Purge stale data
  cmd/provider.go
  internal/logging/logger.go
  internal/test/providertest/migrations/postgres/1_v0.0.1.down.sql
  internal/test/providertest/migrations/postgres/1_v0.0.1.up.sql
  internal/test/providertest/migrations/postgres/2_v0.0.2.down.sql
  internal/test/providertest/migrations/postgres/2_v0.0.2.up.sql
  internal/test/providertest/migrations/postgres/3_v0.0.3.down.sql
  internal/test/providertest/migrations/postgres/3_v0.0.3.up.sql
  internal/test/providertest/migrations/timescale/1_v0.0.1.down.sql
  internal/test/providertest/migrations/timescale/1_v0.0.1.up.sql
  internal/test/providertest/migrations/timescale/2_v0.0.2.down.sql
  internal/test/providertest/migrations/timescale/2_v0.0.2.up.sql
  internal/test/providertest/migrations/timescale/3_v0.0.3.down.sql
  internal/test/providertest/migrations/timescale/3_v0.0.3.up.sql
  internal/test/providertest/provider.go
  internal/test/providertest/test_policy_success.yml
  internal/test/tools/migrations.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/purge.go
  pkg/client/purge_test.go
  pkg/client/schema.go
  pkg/client/schema_test.go
  pkg/client/storage.go
  pkg/plugin/manager.go
  pkg/ui/console/client.go
  pkg/ui/console/fetch.go
Labels: feat

#574 fix: Include all responses in log, log invocation params
  cmd/root.go
  cmd/util.go
  internal/logging/logger.go
  pkg/ui/console/client.go
  pkg/ui/console/policy.go
  pkg/ui/console/progress.go
  pkg/ui/output.go
Labels: fix

#575 fix: Drift: Remove version constraints, always include all parents
  pkg/module/drift/config.go
  pkg/module/drift/config_parser.go
  pkg/module/drift/config_test.go
  pkg/module/drift/drift.go
Labels: fix

#576 fix: Replace non-supported satori/go.uuid with google/uuid
  go.mod
  internal/telemetry/telemetry.go
  pkg/policy/manager.go
  pkg/ui/progress.go
Labels: fix

#579 fix: Handle panic level diags
  go.mod
  go.sum
  pkg/client/client.go
  pkg/ui/console/client.go
  pkg/ui/console/fetch.go
Labels: fix

#577 feat: Update plugin manager to support versions
  .github/workflows/history_test.yml
  .github/workflows/lint_golang.yml
  .github/workflows/test.yml
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/purge.go
  pkg/client/purge_test.go
  pkg/client/schema.go
  pkg/client/schema_test.go
  pkg/config/config.go
  pkg/plugin/manager.go
  pkg/plugin/manager_test.go
  pkg/plugin/plugin.go
  pkg/plugin/registry/hub.go
  pkg/plugin/registry/hub_test.go
  pkg/plugin/registry/mock_registry.go
  pkg/plugin/registry/registry.go
  pkg/plugin/registry/test/providers/cloudqueryx/test/v0.0.1
  pkg/plugin/registry/test/providers/cloudqueryx/test/v0.0.4
  pkg/ui/console/client.go
Labels: feat

#568 feat: Remote config
  .gitignore
  go.mod
  go.sum
  pkg/config/load_config.go
  pkg/config/load_config_test.go
  pkg/config/parser.go
Labels: feat

#580 fix: Add safeguard for drop provider
  .github/workflows/history_test.yml
  cmd/provider.go
Labels: fix

#582 fix: Provider version check
  pkg/plugin/registry/hub.go
Labels: fix

#583 fix: Revert remote config
  .gitignore
  go.mod
  go.sum
  pkg/config/load_config.go
  pkg/config/load_config_test.go
  pkg/config/parser.go
Labels: fix

#589 feat: Update number of args purge command
  cmd/provider.go
Labels: feat

#590 fix: Ignore warning/access diagnostics
  pkg/client/client.go
Labels: fix

#591 feat: Enable remote fetch
  .gitignore
  go.mod
  go.sum
  pkg/config/load_config.go
  pkg/config/load_config_test.go
  pkg/config/parser.go
Labels: feat

#595 fix: Go Dependencies for `go-fsimpl`
  go.mod
  go.sum
Labels: fix

#594 feat: Configure to return diagnostics, upgrade SDK
  cmd/util.go
  go.mod
  go.sum
  internal/telemetry/error.go
  internal/test/providertest/provider.go
  pkg/client/client.go
  pkg/ui/console/client.go
Labels: feat

#602 chore: Update SDK
  go.mod
  go.sum
Labels: ignore-for-release

#607 feat: Add policy analytics
  internal/analytics/client.go
  internal/analytics/env.go
  pkg/core/fetch.go
  pkg/core/fetch_test.go
  pkg/policy/policy.go
  pkg/policy/run.go
  pkg/policy/run_test.go
  pkg/policy/source.go
  pkg/policy/source_test.go
  pkg/ui/console/client.go
  pkg/ui/console/diagnostics.go
  pkg/ui/output.go
Labels: feat

#604 fix: Enable logging config through HCL
  cmd/root.go
  internal/logging/logger.go
  pkg/config/config_parser.go
  pkg/config/parser_test.go
Labels: fix
