Repository cloudquery/cloudquery, pull requests merged in 2022-01, with the labels that each got.

#394 Fix pathing for hub to use real source path
  internal/getter/getter.go
  pkg/policy/source.go
  pkg/policy/source_test.go
Labels: bug

#385 Fix isLevel functions for log level comparison
  internal/logging/hclog.go
  internal/logging/hclog_test.go
  internal/logging/logger.go
Labels: bug

#415 chore: Synced file(s) with cloudquery/.github
  .github/release.yml
  .github/workflows/add_tags.yml
  .github/workflows/golang_lint.yml
  .github/workflows/pr_title.yml
Labels: chore

#417 fix: Fetch summary fixes
  pkg/client/client.go
  pkg/client/fetch.go
  pkg/client/fetch_test.go
  pkg/client/migrations/1_v0.19.2.down.sql
  pkg/client/migrations/1_v0.19.2.up.sql
Labels: fix

#416 feat: Increase ulimit in unix environment
  cmd/root.go
  cmd/ulimit_unix.go
  cmd/util.go
Labels: feat

#418 fix: Don't show telemetry notice when it's not enabled
  cmd/util.go
  internal/telemetry/telemetry.go
Labels: fix

#421 chore: Synced file(s) with cloudquery/.github
  .github/workflows/add_tags.yml
Labels: ignore-for-release

#406 feat: Testable Migrations (core)
  go.mod
  go.sum
  internal/test/provider/migrations/1_v0.0.1.down.sql
  internal/test/provider/migrations/1_v0.0.1.up.sql
  internal/test/provider/migrations/2_v0.0.2.down.sql
  internal/test/provider/migrations/2_v0.0.2.up.sql
  internal/test/provider/migrations/postgres/1_v0.0.1.down.sql
  internal/test/provider/migrations/postgres/1_v0.0.1.up.sql
  internal/test/provider/migrations/postgres/2_v0.0.2.down.sql
  internal/test/provider/migrations/postgres/2_v0.0.2.up.sql
  internal/test/provider/migrations/postgres/3_v0.0.3.down.sql
  internal/test/provider/migrations/postgres/3_v0.0.3.up.sql
  internal/test/provider/migrations/timescale/1_v0.0.1.down.sql
  internal/test/provider/migrations/timescale/1_v0.0.1.up.sql
  internal/test/provider/migrations/timescale/2_v0.0.2.down.sql
  internal/test/provider/migrations/timescale/2_v0.0.2.up.sql
  internal/test/provider/migrations/timescale/3_v0.0.3.down.sql
  internal/test/provider/migrations/timescale/3_v0.0.3.up.sql
  internal/test/test_history_config.hcl
  internal/test/tools/migrations.go
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/client/database/database.go
  pkg/client/database/postgres/executor.go
  pkg/client/database/postgres/executor_test.go
  pkg/client/database/timescale/ddlmanager.go
  pkg/client/database/timescale/timescale.go
  pkg/client/database/timescale/timescale_test.go
  pkg/client/fetch.go
  pkg/client/fetch_test.go
  pkg/client/history/history.go
  pkg/client/history/table.go
  pkg/client/history/table_test.go
  pkg/client/migrations/postgres/1_v0.19.2.down.sql
  pkg/client/migrations/postgres/1_v0.19.2.up.sql
  pkg/module/drift/config.go
  pkg/module/drift/drift.go
  pkg/module/drift/terraform.go
  pkg/module/manager.go
  pkg/module/types.go
  pkg/plugin/plugin.go
  pkg/policy/execute.go
  pkg/policy/execute_test.go
  pkg/policy/manager.go
  pkg/ui/console/client.go
Labels: feat

#430 fix: Better drift tfstate error
  pkg/module/drift/terraform/terraform.go
Labels: fix

#425 feat: Support selector on describe
  pkg/policy/policy.go
  pkg/policy/policy_test.go
  pkg/ui/console/client.go
Labels: feat

#424 feat: Added execution time to policy output file
  pkg/client/client.go
  pkg/policy/execute.go
Labels: feat

#422 fix: Updated the policy download command message
  cmd/policy_describe.go
  cmd/policy_download.go
  cmd/policy_run.go
Labels: documentation, fix

#436 fix: Don't connect on cloudquery init
  cmd/init.go
Labels: fix

#435 feat: Upgrade SDK v0.7.0
  go.mod
  go.sum
Labels: feat

#438 fix: Panic On Policy Describe
  pkg/ui/console/client.go
Labels: fix

#441 fix: Typo in error message
  pkg/policy/execute.go
  pkg/policy/execute_test.go
Labels: fix

#434 feat: Update drift for AWS IOT resources
  go.mod
  go.sum
  pkg/module/drift/drift.hcl
  pkg/module/drift/terraform.go
Labels: feat

#442 fix: Nil connection
  pkg/client/client.go
Labels: fix

#443 fix: Panic when canceled
  pkg/ui/console/client.go
Labels: fix

#429 feat: Remove filtering from executor
  pkg/client/client.go
  pkg/policy/execute.go
  pkg/policy/execute_test.go
  pkg/policy/manager.go
  pkg/policy/policy.go
  pkg/policy/policy_test.go
Labels: feat

#445 fix: Validate provider semantic version
  pkg/config/config_parser.go
  pkg/config/parser_test.go
Labels: fix

#447 fix: DB version validation shouldn't block on vanilla PG
  pkg/client/client.go
  pkg/client/database/database.go
  pkg/client/database/postgres/executor.go
Labels: fix

#450 fix: Getter implementation
  .gitignore
  internal/getter/getter.go
Labels: fix

#451 chore: Remove extra linter workflow
  .github/workflows/lint.yml
Labels: ignore-for-release

#452 docs: Small fixes
  README.md
Labels: docs

#453 chore: Synced file(s) with cloudquery/.github
  .github/workflows/lint_golang.yml
Labels: ignore-for-release

#454 chore: Remove duplicate lint workflow
  .github/workflows/golang_lint.yml
Labels: ignore-for-release
