Repository cloudquery/cloudquery, pull requests merged in 2022-11, with the labels that each got.

#3434 feat: Add CSV Destination plugin
  .github/pr_labeler.yml
  .github/workflows/dest_csv.yml
  plugins/destination/csv/.gitignore
  plugins/destination/csv/.goreleaser.yaml
  plugins/destination/csv/Makefile
  plugins/destination/csv/README.md
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/client/deletestale.go
  plugins/destination/csv/client/metrics.go
  plugins/destination/csv/client/migrate.go
  plugins/destination/csv/client/migrate_test.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/client/spec.go
  plugins/destination/csv/client/write.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/csv/main.go
  plugins/destination/csv/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations.md
Labels: automerge, website, csv

#3271 fix: Filtering for DocDB + Neptune
  plugins/source/aws/resources/services/docdb/clusters_fetch.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups_fetch.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups_mock_test.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots_fetch.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots_mock_test.go
  plugins/source/aws/resources/services/neptune/clusters_fetch.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups_fetch.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups_mock_test.go
  plugins/source/aws/resources/services/neptune/event_subscriptions_fetch.go
  plugins/source/aws/resources/services/neptune/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/neptune/instances_fetch.go
  plugins/source/aws/resources/services/neptune/subnet_groups_fetch.go
Labels: aws, automerge

#3324 feat: Update AWS Services (new fields)
  plugins/source/aws/docs/tables/aws_apprunner_services.md
  plugins/source/aws/docs/tables/aws_cognito_user_pools.md
  plugins/source/aws/docs/tables/aws_neptune_clusters.md
  plugins/source/aws/docs/tables/aws_wafv2_web_acls.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/apprunner/services.go
  plugins/source/aws/resources/services/cognito/user_pools.go
  plugins/source/aws/resources/services/neptune/clusters.go
  plugins/source/aws/resources/services/wafv2/web_acls.go
Labels: aws, automerge

#3444 fix: Add id to aws_cloudfront_cache_policies, region to aws_ec2_transit_gateways
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/codegen/recipes/cloudfront.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/docs/tables/aws_cloudfront_cache_policies.md
  plugins/source/aws/docs/tables/aws_ec2_transit_gateways.md
  plugins/source/aws/resources/services/cloudfront/cache_policies.go
  plugins/source/aws/resources/services/ec2/transit_gateways.go
Labels: aws, automerge, priority merge

#3076 feat(aws): Fraud Detector support
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/frauddetector.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/frauddetector.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_frauddetector_batch_imports.md
  plugins/source/aws/docs/tables/aws_frauddetector_batch_predictions.md
  plugins/source/aws/docs/tables/aws_frauddetector_detectors.md
  plugins/source/aws/docs/tables/aws_frauddetector_entity_types.md
  plugins/source/aws/docs/tables/aws_frauddetector_event_types.md
  plugins/source/aws/docs/tables/aws_frauddetector_external_models.md
  plugins/source/aws/docs/tables/aws_frauddetector_labels.md
  plugins/source/aws/docs/tables/aws_frauddetector_model_versions.md
  plugins/source/aws/docs/tables/aws_frauddetector_models.md
  plugins/source/aws/docs/tables/aws_frauddetector_outcomes.md
  plugins/source/aws/docs/tables/aws_frauddetector_rules.md
  plugins/source/aws/docs/tables/aws_frauddetector_variables.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/frauddetector/batch_imports.go
  plugins/source/aws/resources/services/frauddetector/batch_imports_fetch.go
  plugins/source/aws/resources/services/frauddetector/batch_imports_mock_test.go
  plugins/source/aws/resources/services/frauddetector/batch_predictions.go
  plugins/source/aws/resources/services/frauddetector/batch_predictions_fetch.go
  plugins/source/aws/resources/services/frauddetector/batch_predictions_mock_test.go
  plugins/source/aws/resources/services/frauddetector/detectors.go
  plugins/source/aws/resources/services/frauddetector/detectors_fetch.go
  plugins/source/aws/resources/services/frauddetector/detectors_mock_test.go
  plugins/source/aws/resources/services/frauddetector/entity_types.go
  plugins/source/aws/resources/services/frauddetector/entity_types_fetch.go
  plugins/source/aws/resources/services/frauddetector/entity_types_mock_test.go
  plugins/source/aws/resources/services/frauddetector/event_types.go
  plugins/source/aws/resources/services/frauddetector/event_types_fetch.go
  plugins/source/aws/resources/services/frauddetector/event_types_mock_test.go
  plugins/source/aws/resources/services/frauddetector/external_models.go
  plugins/source/aws/resources/services/frauddetector/external_models_fetch.go
  plugins/source/aws/resources/services/frauddetector/external_models_mock_test.go
  plugins/source/aws/resources/services/frauddetector/labels.go
  plugins/source/aws/resources/services/frauddetector/labels_fetch.go
  plugins/source/aws/resources/services/frauddetector/labels_mock_test.go
  plugins/source/aws/resources/services/frauddetector/model_versions.go
  plugins/source/aws/resources/services/frauddetector/model_versions_fetch.go
  plugins/source/aws/resources/services/frauddetector/model_versions_mock_test.go
  plugins/source/aws/resources/services/frauddetector/models.go
  plugins/source/aws/resources/services/frauddetector/models_fetch.go
  plugins/source/aws/resources/services/frauddetector/models_mock_test.go
  plugins/source/aws/resources/services/frauddetector/outcomes.go
  plugins/source/aws/resources/services/frauddetector/outcomes_fetch.go
  plugins/source/aws/resources/services/frauddetector/outcomes_mock_test.go
  plugins/source/aws/resources/services/frauddetector/rules.go
  plugins/source/aws/resources/services/frauddetector/rules_fetch.go
  plugins/source/aws/resources/services/frauddetector/rules_mock_test.go
  plugins/source/aws/resources/services/frauddetector/tags_fetch.go
  plugins/source/aws/resources/services/frauddetector/tags_mock_test.go
  plugins/source/aws/resources/services/frauddetector/variables.go
  plugins/source/aws/resources/services/frauddetector/variables_fetch.go
  plugins/source/aws/resources/services/frauddetector/variables_mock_test.go
Labels: aws, resource

#3445 chore: Blog: Scaling out ELT with CQ and CSV
  website/pages/blog/_meta.json
  website/pages/blog/scaling-out-elt-with-cq-and-csv.md
  website/pages/docs/recipes/_meta.json
Labels: automerge, website

#3447 doc: Add examples to readmes, and update stale docs
  plugins/source/cloudflare/README.md
  plugins/source/cloudflare/docs/configuration.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/heroku/client/spec.go
  plugins/source/heroku/docs/configuration.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
Labels: automerge, cloudflare, github, okta, terraform, heroku

#3449 feat: Add unique constraint on _cq_id column
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/migrate.go
Labels: postgresql

#3160 feat: Add eventbridge resources
  plugins/source/aws/client/mocks/mock_eventbridge.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/eventbridge.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/README.md
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/mock_test.go.tpl
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_eventbridge_api_destinations.md
  plugins/source/aws/docs/tables/aws_eventbridge_archives.md
  plugins/source/aws/docs/tables/aws_eventbridge_connections.md
  plugins/source/aws/docs/tables/aws_eventbridge_endpoints.md
  plugins/source/aws/docs/tables/aws_eventbridge_event_sources.md
  plugins/source/aws/docs/tables/aws_eventbridge_replays.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/eventbridge/api_destinations.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_fetch.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_mock_test.go
  plugins/source/aws/resources/services/eventbridge/archives.go
  plugins/source/aws/resources/services/eventbridge/archives_fetch.go
  plugins/source/aws/resources/services/eventbridge/archives_mock_test.go
  plugins/source/aws/resources/services/eventbridge/arn_resolvers.go
  plugins/source/aws/resources/services/eventbridge/connections.go
  plugins/source/aws/resources/services/eventbridge/connections_fetch.go
  plugins/source/aws/resources/services/eventbridge/connections_mock_test.go
  plugins/source/aws/resources/services/eventbridge/endpoints.go
  plugins/source/aws/resources/services/eventbridge/endpoints_fetch.go
  plugins/source/aws/resources/services/eventbridge/endpoints_mock_test.go
  plugins/source/aws/resources/services/eventbridge/event_sources.go
  plugins/source/aws/resources/services/eventbridge/event_sources_fetch.go
  plugins/source/aws/resources/services/eventbridge/event_sources_mock_test.go
  plugins/source/aws/resources/services/eventbridge/replays.go
  plugins/source/aws/resources/services/eventbridge/replays_fetch.go
  plugins/source/aws/resources/services/eventbridge/replays_mock_test.go
Labels: aws, automerge

#3269 feat(Azure): Add site auth settings v2
  plugins/source/azure/client/services/mocks/web.go
  plugins/source/azure/client/services/web.go
  plugins/source/azure/codegen/recipes/base.go
  plugins/source/azure/codegen/recipes/web.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_web_apps.md
  plugins/source/azure/docs/tables/azure_web_site_auth_settings_v2.md
  plugins/source/azure/resources/services/web/apps.go
  plugins/source/azure/resources/services/web/apps_mock_test.go
  plugins/source/azure/resources/services/web/site_auth_settings_v2.go
  plugins/source/azure/resources/services/web/site_auth_settings_v2_mock_test.go
Labels: azure, automerge, resource

#3181 fix(azure): Handle nil `VnetName`
  plugins/source/azure/codegen/recipes/web.go
  plugins/source/azure/resources/services/web/vnet_connections.go
Labels: azure, automerge

#3457 chore(blog): Add own avatar (Alex)
  website/content/team.ts
  website/public/images/people/alex.png
Labels: website

#3182 feat: Add Azure functions
  plugins/source/azure/client/services/mocks/web.go
  plugins/source/azure/client/services/web.go
  plugins/source/azure/codegen/recipes/web.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_web_apps.md
  plugins/source/azure/docs/tables/azure_web_functions.md
  plugins/source/azure/resources/services/web/apps.go
  plugins/source/azure/resources/services/web/apps_mock_test.go
  plugins/source/azure/resources/services/web/functions.go
  plugins/source/azure/resources/services/web/functions_mock_test.go
Labels: azure, automerge

#3454 doc: Remove duplicate source plugin entries
  website/pages/docs/plugins/sources.md
Labels: automerge, website

#3458 fix: Properly set default telemetry level in cobra
  cli/cmd/root.go
Labels: automerge, cli

#3460 chore(ci): Exclude work-bench from broken links checks
  .github/workflows/broken_links.yml
Labels: automerge

#3463 chore(plugin-csv): Add missing configurations
  .github/workflows/wait_for_required_workflows.yml
  .release-please-manifest.json
  plugins/destination/csv/Makefile
Labels: automerge, csv

#3455 fix: Delete broken spec parameters
  plugins/source/heroku/client/spec.go
Labels: automerge, heroku

#3468 doc: Update
  .github/ISSUE_TEMPLATE/bug_report.md
  cli/docs/index.md
  plugins/destination/postgresql/README.md
  plugins/source/terraform/README.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, cli, terraform, website, postgresql

#3472 doc: Followup
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#3448 feat(aws): Add AppRunner Operations and Custom Domain Support
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_custom_domains.md
  plugins/source/aws/docs/tables/aws_apprunner_operations.md
  plugins/source/aws/docs/tables/aws_apprunner_services.md
  plugins/source/aws/resources/services/apprunner/custom_domains.go
  plugins/source/aws/resources/services/apprunner/custom_domains_fetch.go
  plugins/source/aws/resources/services/apprunner/operations.go
  plugins/source/aws/resources/services/apprunner/operations_fetch.go
  plugins/source/aws/resources/services/apprunner/services.go
  plugins/source/aws/resources/services/apprunner/services_mock_test.go
Labels: aws, automerge

#3305 chore(ci): Convert `set-output` to `GITHUB_OUTPUT` env variable
  .github/workflows/manual_commands_triggers.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
Labels: automerge

#3482 chore(ci-broken-links): Exclude work-bench host instead of www
  .github/workflows/broken_links.yml
Labels: automerge

#3480 chore(docs): Fix typos
  .github/styles/Vocab/Base/accept.txt
  plugins/destination/csv/README.md
  plugins/destination/postgresql/CONTRIBUTING.md
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/README.md
  plugins/source/cloudflare/README.md
  plugins/source/cloudflare/docs/configuration.md
  plugins/source/github/README.md
  plugins/source/heroku/docs/configuration.md
  plugins/source/okta/README.md
  website/pages/docs/advanced-topics/rate-limiting.md
  website/pages/docs/advanced-topics/running-cloudquery-in-parallel.mdx
  website/pages/docs/developers/creating-new-plugin.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/reference/source-spec.md
  website/pages/docs/troubleshooting.md
Labels: aws, automerge, cloudflare, github, okta, website, heroku, postgresql, priority merge, csv

#3483 chore(blog): Add CSV recipe, update blog
  .gitignore
  website/pages/blog/scaling-out-elt-with-cq-and-csv.md
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/aws-csv.md
Labels: automerge, website

#3476 chore(ci): Fail on markdown errors
  .github/workflows/lint_markdown.yml
Labels: automerge

#3485 chore: Fix links to CSV Plugin
  website/pages/docs/plugins/destinations.md
Labels: automerge, website

#3488 chore(docs): Add paths to gcp-k8s-postgresql.md
  website/pages/docs/recipes/gcp-k8s-postgresql.md
Labels: automerge, website

#3475 feat(aws): SES ConfigurationSet, ConfigurationSetEventDestination, ContactList, EmailIdentities
  plugins/source/aws/client/mocks/ses.go
  plugins/source/aws/client/services.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_configuration_set_event_destinations.md
  plugins/source/aws/docs/tables/aws_ses_configuration_sets.md
  plugins/source/aws/docs/tables/aws_ses_contact_lists.md
  plugins/source/aws/docs/tables/aws_ses_identities.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations_fetch.go
  plugins/source/aws/resources/services/ses/configuration_sets.go
  plugins/source/aws/resources/services/ses/configuration_sets_fetch.go
  plugins/source/aws/resources/services/ses/configuration_sets_mock_test.go
  plugins/source/aws/resources/services/ses/contact_lists.go
  plugins/source/aws/resources/services/ses/contact_lists_fetch.go
  plugins/source/aws/resources/services/ses/contact_lists_mock_test.go
  plugins/source/aws/resources/services/ses/identities.go
  plugins/source/aws/resources/services/ses/identities_fetch.go
  plugins/source/aws/resources/services/ses/identities_mock_test.go
  plugins/source/aws/resources/services/ses/models/ses.go
Labels: aws, automerge, priority merge

#3491 chore(docs): Align gcp+k8s recipe with other recipes
  website/pages/docs/recipes/gcp-k8s-postgresql.md
Labels: automerge, website

#3197 chore: Add GitHub Action section to deployment
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/github-actions.md
Labels: automerge, website

#3493 chore: Remove v1 migration tool
  scripts/v1-migration/README.md
  scripts/v1-migration/go.mod
  scripts/v1-migration/go.sum
  scripts/v1-migration/internal/convert/pg.go
  scripts/v1-migration/main.go
  scripts/v1-migration/templates/output.go.tpl
Labels: automerge

#3496 chore(ci): Exclude `mailchimp.com` from broken links checker
  .github/workflows/broken_links.yml
Labels: automerge

#3498 chore: Remove deprecated header from Azure changelog
  plugins/source/azure/CHANGELOG.md
Labels: azure, automerge

#3451 chore: Add import versions instead of search/replace
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/release_plugin.yml
  website/pages/docs/plugins/destinations.mdx
  website/pages/docs/plugins/sources.mdx
  website/utils/versions.ts
Labels: automerge, website

#3346 chore(ci): Generate code and docs for dependencies updates
  .github/workflows/deps_trigger_gen.yml
Labels: automerge

#3531 doc: Fix typo in AWS contribution guide
  plugins/source/aws/CONTRIBUTING.md
Labels: aws, automerge

#3431 feat(aws): Managed Workflows for Apache Airflow (MWAA) environments
  plugins/source/aws/client/mocks/mwaa.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/mwaa.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/mwaa.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_mwaa_environments.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/mwaa/environments.go
  plugins/source/aws/resources/services/mwaa/environments_fetch.go
  plugins/source/aws/resources/services/mwaa/environments_mock_test.go
Labels: aws, automerge, priority merge

#3543 chore: Remove migrate.go
  plugins/source/aws/resources/services/migrate.go
Labels: aws, automerge

#3441 feat(aws): KMS Key Grants, better key fetch
  plugins/source/aws/codegen/recipes/kms.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_kms_key_grants.md
  plugins/source/aws/docs/tables/aws_kms_keys.md
  plugins/source/aws/resources/services/kms/key_grants.go
  plugins/source/aws/resources/services/kms/key_grants_fetch.go
  plugins/source/aws/resources/services/kms/keys.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
Labels: aws, automerge, priority merge

#3005 feat(aws): Support identitystore and ssoadmin
  plugins/source/aws/client/mocks/identitystore.go
  plugins/source/aws/client/mocks/ssoadmin.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/identitystore.go
  plugins/source/aws/client/services/ssoadmin.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/identitystore.go
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_identitystore_group_memberships.md
  plugins/source/aws/docs/tables/aws_identitystore_groups.md
  plugins/source/aws/docs/tables/aws_identitystore_users.md
  plugins/source/aws/docs/tables/aws_ssoadmin_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/identitystore/group_memberships.go
  plugins/source/aws/resources/services/identitystore/group_memberships_fetch.go
  plugins/source/aws/resources/services/identitystore/groups.go
  plugins/source/aws/resources/services/identitystore/groups_fetch.go
  plugins/source/aws/resources/services/identitystore/groups_mock_test.go
  plugins/source/aws/resources/services/identitystore/instance_fetch.go
  plugins/source/aws/resources/services/identitystore/users.go
  plugins/source/aws/resources/services/identitystore/users_fetch.go
  plugins/source/aws/resources/services/identitystore/users_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/instances_fetch.go
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
Labels: aws, automerge, resource

#3562 fix(aws): Elasticache Engine Versions PK
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/aws_elasticache_engine_versions.md
  plugins/source/aws/resources/services/elasticache/engine_versions.go
Labels: aws, automerge, priority merge

#3565 fix: Fix bug in s3_cross_region_replication policy
  plugins/source/aws/policies_v1/queries/s3/s3_cross_region_replication.sql
Labels: aws, automerge

#3602 feat: AppRunner add support for Connections
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_connections.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/connections.go
  plugins/source/aws/resources/services/apprunner/connections_fetch.go
  plugins/source/aws/resources/services/apprunner/connections_mock_test.go
Labels: aws, automerge

#3450 feat(aws): AppRunner Resources: VPC Connector, VPC Ingress Connection And Autotscaling
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_auto_scaling_configuration.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_connector.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_ingress_connection.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_fetch.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_connector.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_mock_test.go
Labels: aws, automerge, priority merge

#3603 feat(aws): AppRunner support ObservabilityConfiguration
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_observability_configurations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/observability_configuration_fetch.go
  plugins/source/aws/resources/services/apprunner/observability_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/observability_configurations.go
Labels: aws, automerge

#3606 chore: Split recipes to sources and destinations
  website/pages/blog/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/blog/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/blog/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/blog/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/blog/scaling-out-elt-with-cq-and-csv.md
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/aws-csv.md
  website/pages/docs/recipes/aws-postgresql.md
  website/pages/docs/recipes/azure-postgresql.md
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/gcp-k8s-postgresql.md
  website/pages/docs/recipes/gcp-postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/_meta.json
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp.md
  website/vercel.json
Labels: website

#3608 fix: Fix documentation
  plugins/source/aws/docs/configuration.md
Labels: aws

#3611 chore(website): Fix recipes redirects
  website/pages/blog/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/vercel.json
Labels: website

#3568 doc: Add example to CSV README
  plugins/destination/csv/README.md
Labels: automerge, csv

#3626 chore(website): Update GitHub Actions tutorial
  website/pages/docs/deployment/github-actions.md
Labels: website

#3567 feat: Appstream resources
  plugins/source/aws/client/mocks/appstream.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/appstream.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/appstream.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/mock_test.go.tpl
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_appstream_app_blocks.md
  plugins/source/aws/docs/tables/aws_appstream_application_fleet_associations.md
  plugins/source/aws/docs/tables/aws_appstream_applications.md
  plugins/source/aws/docs/tables/aws_appstream_directory_configs.md
  plugins/source/aws/docs/tables/aws_appstream_fleets.md
  plugins/source/aws/docs/tables/aws_appstream_image_builders.md
  plugins/source/aws/docs/tables/aws_appstream_images.md
  plugins/source/aws/docs/tables/aws_appstream_stack_entitlements.md
  plugins/source/aws/docs/tables/aws_appstream_stack_user_associations.md
  plugins/source/aws/docs/tables/aws_appstream_stacks.md
  plugins/source/aws/docs/tables/aws_appstream_usage_report_subscriptions.md
  plugins/source/aws/docs/tables/aws_appstream_users.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/appstream/app_blocks.go
  plugins/source/aws/resources/services/appstream/app_blocks_fetch.go
  plugins/source/aws/resources/services/appstream/app_blocks_mock_test.go
  plugins/source/aws/resources/services/appstream/application_fleet_associations.go
  plugins/source/aws/resources/services/appstream/application_fleet_associations_fetch.go
  plugins/source/aws/resources/services/appstream/applications.go
  plugins/source/aws/resources/services/appstream/applications_fetch.go
  plugins/source/aws/resources/services/appstream/applications_mock_test.go
  plugins/source/aws/resources/services/appstream/directory_configs.go
  plugins/source/aws/resources/services/appstream/directory_configs_fetch.go
  plugins/source/aws/resources/services/appstream/directory_configs_mock_test.go
  plugins/source/aws/resources/services/appstream/fleets.go
  plugins/source/aws/resources/services/appstream/fleets_fetch.go
  plugins/source/aws/resources/services/appstream/fleets_mock_test.go
  plugins/source/aws/resources/services/appstream/image_builders.go
  plugins/source/aws/resources/services/appstream/image_builders_fetch.go
  plugins/source/aws/resources/services/appstream/image_builders_mock_test.go
  plugins/source/aws/resources/services/appstream/images.go
  plugins/source/aws/resources/services/appstream/images_fetch.go
  plugins/source/aws/resources/services/appstream/images_mock_test.go
  plugins/source/aws/resources/services/appstream/stack_entitlements.go
  plugins/source/aws/resources/services/appstream/stack_entitlements_fetch.go
  plugins/source/aws/resources/services/appstream/stack_user_associations.go
  plugins/source/aws/resources/services/appstream/stack_user_associations_fetch.go
  plugins/source/aws/resources/services/appstream/stacks.go
  plugins/source/aws/resources/services/appstream/stacks_fetch.go
  plugins/source/aws/resources/services/appstream/stacks_mock_test.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_fetch.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_mock_test.go
  plugins/source/aws/resources/services/appstream/users.go
  plugins/source/aws/resources/services/appstream/users_fetch.go
  plugins/source/aws/resources/services/appstream/users_mock_test.go
Labels: aws, automerge

#3720 chore: Set empty code owners for release PRs
  CODEOWNERS
Labels: automerge

#3725 chore(website): Track 404s
  website/components/CustomErrorPage.tsx
  website/pages/404.mdx
  website/pages/_app.tsx
Labels: automerge, website

#3727 fix: Update SDK to v0.13.23
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#3729 fix: Update CSV plugin to v0.13.23
  plugins/destination/csv/client/read.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Labels: automerge, csv

#3739 fix(deps): Update SDK to v0.13.23
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/storage/bucket_policies_fetch.go
Labels: automerge, gcp

#3736 fix(deps): Update SDK to v0.13.23
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Labels: automerge, k8s

#3743 fix(deps): Update SDK to v0.13.23
  plugins/source/aws/client/helpers_test.go
  plugins/source/aws/client/resolvers_test.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/lambda/functions_fetch.go
  plugins/source/aws/resources/services/s3/buckets_fetch.go
Labels: aws, automerge

#3741 fix(deps): Update SDK to v0.13.23
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Labels: automerge, cloudflare

#3737 fix(deps): Update SDK to v0.13.23
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Labels: automerge, heroku

#3742 fix(deps): Update SDK to v0.13.23
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Labels: azure, automerge

#3740 fix(deps): Update SDK to v0.13.23
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Labels: automerge, digitalocean

#3738 fix(deps): Update SDK to v0.13.23
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Labels: automerge, github

#3735 fix(deps): Update SDK to v0.13.23
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Labels: automerge, okta

#3783 fix: ServiceQuotas resource performance improvement
  plugins/source/aws/resources/services/servicequotas/max_results.go
  plugins/source/aws/resources/services/servicequotas/quotas_fetch.go
  plugins/source/aws/resources/services/servicequotas/services_fetch.go
Labels: aws, automerge, priority merge

#3789 test: Add Azure policy tests
  .github/workflows/source_azure.yml
  plugins/source/azure/test/policy_cq_config.yml
Labels: azure, automerge

#3621 chore(ci): Fix gen trigger workflow job id and description
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/manual_commands.yml
Labels: automerge

#3805 test: Add GCP policy tests
  .github/workflows/source_gcp.yml
  plugins/source/gcp/test/policy_cq_config.yml
Labels: automerge, gcp, priority merge

#3817 fix(k8s): Use `automount_service_account_token` in policy
  .github/workflows/source_k8s.yml
  plugins/source/k8s/policies_v1/queries/pod_security/service_account_token_disabled.sql
  plugins/source/k8s/test/policy_cq_config.yml
Labels: automerge, k8s, priority merge

#3816 test: Add AWS policy tests
  .github/workflows/source_aws.yml
  plugins/source/aws/test/policy_cq_config.yml
Labels: aws, automerge, priority merge

#3872 fix!: Make path a required config parameter
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#3890 chore(website): Use Github shield in top bar
  website/theme.config.tsx
Labels: automerge, website

#3889 fix(deps): Upgrade plugin-sdk to v1.0.4 for plugins
  cli/go.sum
  plugins/source/aws/client/testing.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/client/testing.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/cloudflare/client/testing.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/digitalocean/client/testing.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/github/client/testing.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/client/testing.go
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/test/policy_cq_config.yml
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/resources/services/tfdata_test.go
Labels: aws, azure, automerge, cli, cloudflare, digitalocean, gcp, github, k8s, terraform, heroku

#3844 feat(aws): ECR Repository Policy
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
Labels: aws, automerge

#3908 fix: Silence zerolog until initialized
  cli/main.go
Labels: automerge, cli

#3904 chore(codegen): Replace CloudQueryServiceName with function
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/eventbridge.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/mock_test.go.tpl
Labels: aws, automerge

#3766 feat(okta): Add groups, group users, applications, app users
  plugins/source/okta/docs/tables/README.md
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/application_group_assignments.go
  plugins/source/okta/resources/services/application_users.go
  plugins/source/okta/resources/services/applications.go
  plugins/source/okta/resources/services/group_users.go
  plugins/source/okta/resources/services/groups.go
Labels: enhancement, automerge, okta

#3818 chore(ci): Enforce policy tests in CI
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, priority merge

#3842 feat: Update destination to more managed SDK
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/client/transformer.go
  plugins/destination/csv/client/write.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql, csv

#3607 feat(aws): ECR Image Scan Findings
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/docs/tables/aws_ecr_repository_image_scan_findings.md
  plugins/source/aws/docs/tables/aws_ecr_repository_images.md
  plugins/source/aws/resources/services/ecr/models/ecr.go
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
  plugins/source/aws/resources/services/ecr/repository_image_scan_findings.go
  plugins/source/aws/resources/services/ecr/repository_images.go
Labels: aws, automerge

#3762 fix: Optionally send --no-sentry when using managed plugins
  cli/cmd/clients.go
  cli/cmd/root.go
  cli/cmd/sync.go
Labels: automerge, cli

#3954 fix(codegen): Fix issues related to missing codegen for AWS
  plugins/source/aws/Makefile
  plugins/source/aws/codegen/recipes/docdb.go
  plugins/source/aws/docs/tables/aws_docdb_cluster_parameters.md
  plugins/source/aws/resources/services/appstream/users_fetch.go
  plugins/source/aws/resources/services/docdb/cluster_parameters.go
  plugins/source/aws/resources/services/docdb/cluster_snapshot_attributes.go
  plugins/source/aws/resources/services/docdb/cluster_snapshot_attributes_fetch.go
Labels: aws, automerge

#3958 chore: Update README.md: providers -> plugins
  README.md
Labels: automerge

#3841 chore(website): Update AWS Recipe
  website/pages/docs/recipes/sources/aws.md
Labels: automerge, website

#3946 chore(docs): Remove stale destination plugins readme
  plugins/README.md
  plugins/destination/README.md
Labels: automerge

#3965 feat(aws): Update AWS packages
  plugins/source/aws/docs/tables/aws_athena_work_group_query_executions.md
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/docs/tables/aws_elasticache_replication_groups.md
  plugins/source/aws/docs/tables/aws_elasticache_subnet_groups.md
  plugins/source/aws/docs/tables/aws_rds_db_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/athena/work_group_query_executions.go
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/replication_groups.go
  plugins/source/aws/resources/services/elasticache/subnet_groups.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/instances.go
Labels: aws, automerge

#3968 feat(aws): Support AppRunner Tags
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/docs/tables/aws_apprunner_auto_scaling_configuration.md
  plugins/source/aws/docs/tables/aws_apprunner_connections.md
  plugins/source/aws/docs/tables/aws_apprunner_observability_configurations.md
  plugins/source/aws/docs/tables/aws_apprunner_services.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_connector.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_ingress_connection.md
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/connections.go
  plugins/source/aws/resources/services/apprunner/connections_mock_test.go
  plugins/source/aws/resources/services/apprunner/observability_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/observability_configurations.go
  plugins/source/aws/resources/services/apprunner/services.go
  plugins/source/aws/resources/services/apprunner/services_mock_test.go
  plugins/source/aws/resources/services/apprunner/tag_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_connector.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_mock_test.go
Labels: aws, automerge

#3979 fix: Respect --no-migrate option in sync2
  cli/cmd/sync.go
  cli/cmd/sync2.go
Labels: automerge, cli

#3982 chore: Delete root Makefile
  .pre-commit-config.yaml
  Makefile
  tools/tool.go
Labels: automerge

#3972 test: Enable renovate to match versions in test configs
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Labels: automerge, cli

#3613 chore(ci-cli): Add large runner for CLI workflow
  .github/workflows/cli.yml
Labels: automerge

#4106 fix!: Update SDK for Heroku, update code gen
  plugins/source/heroku/codegen/main.go
  plugins/source/heroku/codegen/recipes/recipes.go
  plugins/source/heroku/docs/tables/heroku_add_on_webhook_deliveries.md
  plugins/source/heroku/docs/tables/heroku_add_on_webhook_events.md
  plugins/source/heroku/docs/tables/heroku_app_webhooks.md
  plugins/source/heroku/docs/tables/heroku_pipeline_builds.md
  plugins/source/heroku/docs/tables/heroku_pipeline_deployments.md
  plugins/source/heroku/docs/tables/heroku_pipeline_releases.md
  plugins/source/heroku/docs/tables/heroku_team_spaces.md
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/heroku/resources/services/add_on_webhook_delivery.go
  plugins/source/heroku/resources/services/add_on_webhook_event.go
  plugins/source/heroku/resources/services/app_webhook.go
  plugins/source/heroku/resources/services/pipeline_build.go
  plugins/source/heroku/resources/services/pipeline_deployment.go
  plugins/source/heroku/resources/services/pipeline_release.go
  plugins/source/heroku/resources/services/team_space.go
Labels: automerge, heroku

#4117 refactor(heroku): Gen using SDK structs
  plugins/source/heroku/codegen/recipes/recipes.go
Labels: heroku

#4128 refactor: Remove unsed option from Heroku code gen
  plugins/source/heroku/codegen/main.go
Labels: automerge, heroku

#4131 test: Revert "chore(deps): Update CloudQuery monorepo modules (#4066)"
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Labels: aws, azure, cli, gcp, k8s

#4130 chore(ci): Add timeout to CI workflows
  .github/workflows/cli.yml
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/endpoints.yml
  .github/workflows/greetings.yml
  .github/workflows/issue_to_project.yml
  .github/workflows/lint_markdown.yml
  .github/workflows/manual_commands.yml
  .github/workflows/manual_commands_triggers.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_pr.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/validate_pr_title.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, priority merge

#4121 feat(aws): Support RDS Database Versions
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_rds_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/rds/cluster_parameters.go
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/rds/engine_versions_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions_mock_test.go
  website/pages/docs/recipes/sources/aws.md
Labels: aws, automerge, website

#4158 fix: Fix test destination plugin hang
  cli/cmd/testdata/source.test.yml
  plugins/destination/test/client/client.go
Labels: automerge, cli, priority merge

#4143 chore(tests): Use temp dir for .cq and log file in cmd tests
  cli/cmd/doc_test.go
  cli/cmd/migrate_test.go
  cli/cmd/sync_test.go
Labels: automerge, cli

#4142 chore(website): Redirect some broken links
  website/vercel.json
Labels: automerge, website, priority merge

#4296 chore: Revert "chore: Update plugin `destination-postgresql` version to v1.7.6"
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Labels: website

#4342 fix: Quote tables and columns for SQLite
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/write.go
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/docs/plugins/destinations.mdx
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/sqlite.md
Labels: automerge, website, sqlite

#4338 fix: Fix links in Grafana compliance dashboards
  plugins/source/aws/dashboards/grafana/compliance.json
  plugins/source/azure/dashboards/grafana/compliance.json
  plugins/source/gcp/dashboards/grafana/compliance.json
Labels: aws, azure, Customer Issue, automerge, gcp

#4377 feat: Increase MaxResults for appstream resources
  plugins/source/aws/codegen/recipes/appstream.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/fetch.go.tpl
  plugins/source/aws/resources/services/appstream/app_blocks_fetch.go
  plugins/source/aws/resources/services/appstream/directory_configs_fetch.go
  plugins/source/aws/resources/services/appstream/fleets_fetch.go
  plugins/source/aws/resources/services/appstream/image_builders_fetch.go
  plugins/source/aws/resources/services/appstream/images_fetch.go
  plugins/source/aws/resources/services/appstream/stack_user_associations_fetch.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_fetch.go
Labels: aws

#4138 chore: Wait for all `validate-release` and `test-policies` workflows
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#4427 doc(website): Add tables links to source plugins
  website/pages/docs/plugins/sources.mdx
Labels: automerge, website

#4456 fix: Update link to gcp config docs
  website/pages/docs/recipes/sources/gcp.md
Labels: automerge, website, priority merge

#3964 feat(aws): Debug logging to include body
  plugins/source/aws/client/client.go
Labels: aws, automerge

#4116 feat(aws): Quicksight resources
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/quicksight.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/quicksight.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_quicksight_analyses.md
  plugins/source/aws/docs/tables/aws_quicksight_dashboards.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sets.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sources.md
  plugins/source/aws/docs/tables/aws_quicksight_folders.md
  plugins/source/aws/docs/tables/aws_quicksight_group_members.md
  plugins/source/aws/docs/tables/aws_quicksight_groups.md
  plugins/source/aws/docs/tables/aws_quicksight_ingestions.md
  plugins/source/aws/docs/tables/aws_quicksight_templates.md
  plugins/source/aws/docs/tables/aws_quicksight_users.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/quicksight/analyses.go
  plugins/source/aws/resources/services/quicksight/analyses_fetch.go
  plugins/source/aws/resources/services/quicksight/analyses_mock_test.go
  plugins/source/aws/resources/services/quicksight/dashboards.go
  plugins/source/aws/resources/services/quicksight/dashboards_fetch.go
  plugins/source/aws/resources/services/quicksight/dashboards_mock_test.go
  plugins/source/aws/resources/services/quicksight/data_sets.go
  plugins/source/aws/resources/services/quicksight/data_sets_fetch.go
  plugins/source/aws/resources/services/quicksight/data_sets_mock_test.go
  plugins/source/aws/resources/services/quicksight/data_sources.go
  plugins/source/aws/resources/services/quicksight/data_sources_fetch.go
  plugins/source/aws/resources/services/quicksight/data_sources_mock_test.go
  plugins/source/aws/resources/services/quicksight/folders.go
  plugins/source/aws/resources/services/quicksight/folders_fetch.go
  plugins/source/aws/resources/services/quicksight/folders_mock_test.go
  plugins/source/aws/resources/services/quicksight/group_members.go
  plugins/source/aws/resources/services/quicksight/group_members_fetch.go
  plugins/source/aws/resources/services/quicksight/groups.go
  plugins/source/aws/resources/services/quicksight/groups_fetch.go
  plugins/source/aws/resources/services/quicksight/groups_mock_test.go
  plugins/source/aws/resources/services/quicksight/ingestions.go
  plugins/source/aws/resources/services/quicksight/ingestions_fetch.go
  plugins/source/aws/resources/services/quicksight/tag_fetch.go
  plugins/source/aws/resources/services/quicksight/templates.go
  plugins/source/aws/resources/services/quicksight/templates_fetch.go
  plugins/source/aws/resources/services/quicksight/templates_mock_test.go
  plugins/source/aws/resources/services/quicksight/users.go
  plugins/source/aws/resources/services/quicksight/users_fetch.go
  plugins/source/aws/resources/services/quicksight/users_mock_test.go
Labels: aws, automerge

#4469 chore(ci): Align gen command for source plugins
  .github/workflows/manual_commands_triggers.yml
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  plugins/source/test/Makefile
Labels: azure, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, heroku

#4378 feat: Add flag to force test destination plugin to return an error
  plugins/destination/test/client/client.go
  plugins/destination/test/client/spec.go
Labels: testing, automerge

#4091 feat(aws): Add support for FSX File Caches
  plugins/source/aws/codegen/recipes/fsx.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_fsx_file_caches.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/fsx/file_caches.go
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
  plugins/source/aws/resources/services/fsx/file_caches_test.go
Labels: aws, automerge

#4376 fix(aws): Remove NotFound checks in PreResourceResolvers
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
Labels: aws, automerge

#4487 fix: Error handling omissions in sync2
  cli/cmd/sync2.go
Labels: automerge, cli

#4486 fix: Error handling omissions
  cli/cmd/sync.go
Labels: automerge, cli

#4492 chore: Revert postgres plugin version in docs
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Labels: aws, azure, gcp, k8s, website

#4493 fix: Revert "fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: postgresql

#4490 chore(release): Fix policies archives
  plugins/.goreleaser.template.yaml
Labels: automerge

#4382 fix: RDS fixes
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions.go
Labels: aws

#4548 fix(website): Point "Get Started" to Quickstart
  website/components/pages/home.tsx
Labels: automerge, website

#4553 feat(aws): Implement Timestream resources
  plugins/source/aws/Makefile
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/mocks/elasticsearchservice.go
  plugins/source/aws/client/mocks/iot.go
  plugins/source/aws/client/mocks/mock_docdb.go
  plugins/source/aws/client/mocks/timestreamwrite.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/client/services/elasticsearchservice.go
  plugins/source/aws/client/services/iot.go
  plugins/source/aws/client/services/timestreamwrite.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/timestream.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_timestream_databases.md
  plugins/source/aws/docs/tables/aws_timestream_tables.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/docdb/event_categories_mock_test.go
  plugins/source/aws/resources/services/docdb/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/docdb/events_mock_test.go
  plugins/source/aws/resources/services/timestream/databases.go
  plugins/source/aws/resources/services/timestream/databases_fetch.go
  plugins/source/aws/resources/services/timestream/databases_mock_test.go
  plugins/source/aws/resources/services/timestream/tables.go
  plugins/source/aws/resources/services/timestream/tables_fetch.go
Labels: aws, automerge, resource

#4532 feat(gcp)!: Update libraries
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/docs/tables/gcp_bigquery_datasets.md
  plugins/source/gcp/docs/tables/gcp_compute_addresses.md
  plugins/source/gcp/docs/tables/gcp_compute_instances.md
  plugins/source/gcp/docs/tables/gcp_container_clusters.md
  plugins/source/gcp/docs/tables/gcp_domains_registrations.md
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/docs/tables/gcp_logging_metrics.md
  plugins/source/gcp/docs/tables/gcp_logging_sinks.md
  plugins/source/gcp/docs/tables/gcp_monitoring_alert_policies.md
  plugins/source/gcp/docs/tables/gcp_redis_instances.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/docs/tables/gcp_serviceusage_services.md
  plugins/source/gcp/docs/tables/gcp_storage_buckets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/policies/queries/kms/keys_not_rotated_within_90_days.sql
  plugins/source/gcp/resources/services/bigquery/datasets.go
  plugins/source/gcp/resources/services/compute/addresses.go
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/container/clusters.go
  plugins/source/gcp/resources/services/container/clusters_fetch.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_mock_test.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/project_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/projects.go
  plugins/source/gcp/resources/services/resourcemanager/projects_mock_test.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/serviceusage/services.go
  plugins/source/gcp/resources/services/storage/buckets.go
Labels: gcp, no automerge

#4584 chore(blog): Update personal link to Github
  website/content/team.ts
Labels: automerge, website

#4590 chore(gcp): Simplify iterator usage
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Labels: automerge, gcp

#4431 fix(aws): RDS Version Errors
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions_mock_test.go
Labels: aws, automerge, priority merge

#4513 chore(website): Redirect some broken links v2
  website/vercel.json
Labels: automerge, website

#4583 feat(website): Chose guide based on OS
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/components/mdx/_getting-started-download-section.mdx
  website/components/mdx/_intro.mdx
  website/middleware.ts
  website/pages/docs/quickstart/_meta.json
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
Labels: automerge, website

#4485 chore(ci-aws): Increase CI timeout
  .github/workflows/source_aws.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#4625 chore: Use same phrasing for all plugins README
  plugins/source/aws/README.md
  plugins/source/azure/README.md
  plugins/source/cloudflare/README.md
  plugins/source/digitalocean/README.md
  plugins/source/gcp/README.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/k8s/README.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
Labels: aws, azure, automerge, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, heroku

#4630 test: Simplify drift test workflow
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/source/aws/Makefile
  plugins/source/test/Makefile
Labels: aws, automerge

#4341 fix(aws): Ensure all AWS table names are plural
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/lightsail.go
  plugins/source/aws/codegen/recipes/xray.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_auto_scaling_configurations.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_connectors.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_ingress_connections.md
  plugins/source/aws/docs/tables/aws_ec2_regional_configs.md
  plugins/source/aws/docs/tables/aws_lightsail_disk_snapshots.md
  plugins/source/aws/docs/tables/aws_lightsail_disks.md
  plugins/source/aws/docs/tables/aws_xray_encryption_configs.md
  plugins/source/aws/policies/queries/ec2/ebs_encryption_by_default_disabled.sql
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_fetch.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configurations.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_connectors.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connections.go
  plugins/source/aws/resources/services/ec2/regional_config_fetch.go
  plugins/source/aws/resources/services/ec2/regional_config_mock_test.go
  plugins/source/aws/resources/services/ec2/regional_configs.go
  plugins/source/aws/resources/services/lightsail/disk_snapshots.go
  plugins/source/aws/resources/services/lightsail/disks.go
  plugins/source/aws/resources/services/lightsail/disks_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_mock_test.go
  plugins/source/aws/resources/services/xray/encryption_configs.go
Labels: aws, automerge

#4617 fix(terraform): Update to new AWS SDK
  plugins/source/terraform/client/backend.go
  plugins/source/terraform/client/client.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Labels: automerge, terraform

#4639 doc: Add performance tuning section
  website/components/mdx/_configure.mdx
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/performance-tuning.md
  website/pages/docs/advanced-topics/rate-limiting.md
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
  website/pages/docs/reference/cli/_meta.json
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#4468 test: Validate Go Releaser ZIP files
  plugins/.goreleaser.yaml
  plugins/destination/csv/.goreleaser.yaml
  plugins/destination/postgresql/.goreleaser.yaml
  plugins/destination/sqlite/.goreleaser.yaml
  plugins/destination/test/.goreleaser.yaml
  plugins/source/aws/.goreleaser.yaml
  plugins/source/azure/.goreleaser.yaml
  plugins/source/cloudflare/.goreleaser.yaml
  plugins/source/digitalocean/.goreleaser.yaml
  plugins/source/gcp/.goreleaser.yaml
  plugins/source/github/.goreleaser.yaml
  plugins/source/heroku/.goreleaser.yaml
  plugins/source/k8s/.goreleaser.yaml
  plugins/source/okta/.goreleaser.yaml
  plugins/source/terraform/.goreleaser.yaml
  plugins/source/test/.goreleaser.yaml
Labels: automerge

#4690 chore: Remove dead code
  plugins/source/aws/client/errors.go
Labels: aws, automerge

#4688 feat(aws): Add Support for ECS Scale In Task protection
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/docs/tables/aws_ecs_cluster_tasks.md
  plugins/source/aws/resources/services/ecs/cluster_mock_test.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/ecs/clusters_fetch.go
Labels: aws, automerge

#4693 feat(aws): Add Support for Eventbridge scheduler
  plugins/source/aws/client/mocks/scheduler.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/scheduler.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/scheduler.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_scheduler_schedule_groups.md
  plugins/source/aws/docs/tables/aws_scheduler_schedules.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/scheduler/schedule_groups.go
  plugins/source/aws/resources/services/scheduler/schedule_groups_fetch.go
  plugins/source/aws/resources/services/scheduler/schedule_groups_mock_test.go
  plugins/source/aws/resources/services/scheduler/schedules.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
  plugins/source/aws/resources/services/scheduler/schedules_mock_test.go
Labels: aws, automerge

#4381 feat(aws): More SSM resources
  plugins/source/aws/codegen/recipes/ssm.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ssm_associations.md
  plugins/source/aws/docs/tables/aws_ssm_compliance_summary_items.md
  plugins/source/aws/docs/tables/aws_ssm_instance_patches.md
  plugins/source/aws/docs/tables/aws_ssm_instances.md
  plugins/source/aws/docs/tables/aws_ssm_inventories.md
  plugins/source/aws/docs/tables/aws_ssm_inventory_schemas.md
  plugins/source/aws/docs/tables/aws_ssm_patch_baselines.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ssm/associations.go
  plugins/source/aws/resources/services/ssm/associations_fetch.go
  plugins/source/aws/resources/services/ssm/associations_mock_test.go
  plugins/source/aws/resources/services/ssm/compliance_summary_items.go
  plugins/source/aws/resources/services/ssm/compliance_summary_items_fetch.go
  plugins/source/aws/resources/services/ssm/compliance_summary_items_mock_test.go
  plugins/source/aws/resources/services/ssm/instance_patches.go
  plugins/source/aws/resources/services/ssm/instance_patches_fetch.go
  plugins/source/aws/resources/services/ssm/instances.go
  plugins/source/aws/resources/services/ssm/instances_mock_test.go
  plugins/source/aws/resources/services/ssm/inventories.go
  plugins/source/aws/resources/services/ssm/inventories_fetch.go
  plugins/source/aws/resources/services/ssm/inventories_mock_test.go
  plugins/source/aws/resources/services/ssm/inventory_schemas.go
  plugins/source/aws/resources/services/ssm/inventory_schemas_fetch.go
  plugins/source/aws/resources/services/ssm/inventory_schemas_mock_test.go
  plugins/source/aws/resources/services/ssm/parameters.go
  plugins/source/aws/resources/services/ssm/patch_baselines.go
  plugins/source/aws/resources/services/ssm/patch_baselines_fetch.go
  plugins/source/aws/resources/services/ssm/patch_baselines_mock_test.go
Labels: aws, automerge, priority merge

#4708 fix: Improve AWS credentials error message and local profile docs
  plugins/source/aws/client/client.go
  plugins/source/aws/docs/configuration.md
Labels: aws, automerge

#4710 chore(azure): Contributing guide follow up fixes
  plugins/source/azure/CONTRIBUTING.md
Labels: azure, automerge

#4721 fix!: DigitalOcean
  plugins/source/digitalocean/README.md
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/docs/tables/digitalocean_space_cors.md
  plugins/source/digitalocean/resources/services/spaces/cors.go
Labels: digitalocean

#4720 fix: Remove codegen files before re-generating for GCP
  plugins/source/gcp/Makefile
  plugins/source/gcp/resources/services/container/clusters_mock_test.go
Labels: automerge, gcp

#4725 fix(website): Add running locally
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/running-locally.md
Labels: automerge, website

#4692 chore: Remove dead resolvers
  plugins/source/aws/client/resolvers.go
  plugins/source/aws/client/resolvers_test.go
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/codegen/recipes/glacier.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/codegen/recipes/sns.go
  plugins/source/aws/codegen/recipes/sqs.go
  plugins/source/aws/resources/services/ecr/registry_policies.go
  plugins/source/aws/resources/services/glacier/vault_access_policies.go
  plugins/source/aws/resources/services/glacier/vault_lock_policies.go
  plugins/source/aws/resources/services/route53/traffic_policy_versions.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/topics.go
  plugins/source/aws/resources/services/sqs/queues.go
Labels: aws, automerge

#4714 fix(aws): Remove ARN helper usage
  plugins/source/aws/client/client.go
  plugins/source/aws/client/helpers.go
  plugins/source/aws/client/helpers_test.go
  plugins/source/aws/resources/services/apigateway/api_keys_fetch.go
  plugins/source/aws/resources/services/apigateway/client_certificates_fetch.go
  plugins/source/aws/resources/services/apigateway/domain_names_fetch.go
  plugins/source/aws/resources/services/apigateway/rest_apis_fetch.go
  plugins/source/aws/resources/services/apigateway/types.go
  plugins/source/aws/resources/services/apigateway/usage_plans_fetch.go
  plugins/source/aws/resources/services/apigateway/vpc_links_fetch.go
  plugins/source/aws/resources/services/athena/data_catalogs_fetch.go
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/config/configuration_recorders_fetch.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments_fetch.go
  plugins/source/aws/resources/services/glue/connections_fetch.go
  plugins/source/aws/resources/services/glue/crawlers_fetch.go
  plugins/source/aws/resources/services/glue/databases_fetch.go
  plugins/source/aws/resources/services/glue/dev_endpoints_fetch.go
  plugins/source/aws/resources/services/glue/jobs_fetch.go
  plugins/source/aws/resources/services/glue/ml_transforms_fetch.go
  plugins/source/aws/resources/services/glue/triggers_fetch.go
  plugins/source/aws/resources/services/glue/workflows_fetch.go
  plugins/source/aws/resources/services/redshift/event_subscriptions_fetch.go
  plugins/source/aws/resources/services/redshift/snapshots_fetch.go
  plugins/source/aws/resources/services/route53/hosted_zones_fetch.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
  plugins/source/aws/resources/services/ssm/documents_fetch.go
  plugins/source/aws/resources/services/ssm/instance_compliance_items_fetch.go
  plugins/source/aws/resources/services/ssm/instances_fetch.go
  plugins/source/aws/resources/services/waf/rule_groups_fetch.go
  plugins/source/aws/resources/services/waf/rules_fetch.go
  plugins/source/aws/resources/services/wafregional/rate_based_rules_fetch.go
  plugins/source/aws/resources/services/wafregional/rule_groups_fetch.go
  plugins/source/aws/resources/services/wafregional/rules_fetch.go
Labels: aws, automerge

#4767 fix: Add filenames to quickstart
  website/components/mdx/_configure.mdx
Labels: automerge, website

#4735 fix(aws): Cloudfront control fails for specific configuration
  plugins/source/aws/policies/queries/cloudfront/viewer_policy_https.sql
Labels: aws, automerge

#4734 feat(aws): Support AWS Account Contacts
  plugins/source/aws/client/mocks/account.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/account.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/account.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_account_alternate_contacts.md
  plugins/source/aws/docs/tables/aws_account_contacts.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/account/alternate_contacts.go
  plugins/source/aws/resources/services/account/alternate_contacts_fetch.go
  plugins/source/aws/resources/services/account/alternate_contacts_mock_test.go
  plugins/source/aws/resources/services/account/contacts.go
  plugins/source/aws/resources/services/account/contacts_fetch.go
  plugins/source/aws/resources/services/account/contacts_mock_test.go
Labels: aws, automerge

#4730 feat(aws): Add Support For Config Rules and Compliance
  plugins/source/aws/codegen/recipes/config.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_config_config_rule_compliances.md
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/config/config_rule_compliances.go
  plugins/source/aws/resources/services/config/config_rule_compliances_fetch.go
  plugins/source/aws/resources/services/config/config_rules.go
  plugins/source/aws/resources/services/config/config_rules_fetch.go
  plugins/source/aws/resources/services/config/config_rules_mock_test.go
Labels: aws, automerge
