Repository cloudquery/cloudquery, pull requests merged in 2022-02, with the labels that each got.

#456 feat: Configurable data folder
  cmd/root.go
  deploy/lambda.go
  internal/persistentdata/persistentdata.go
  internal/persistentdata/persistentdata_test.go
  pkg/client/version_test.go
  pkg/config/config_parser.go
  pkg/config/parser_test.go
Labels: feat

#458 fix: Use provider source
  cmd/init.go
  internal/test/test_config.hcl
  internal/test/test_history_config.hcl
  pkg/client/client_test.go
  pkg/plugin/manager.go
  pkg/plugin/registry/hub.go
Labels: fix

#460 fix: Relax tfstate version check
  pkg/module/drift/drift.go
  pkg/module/drift/terraform/state.go
  pkg/module/drift/terraform/terraform.go
  pkg/module/drift/terraform/terraform_test.go
Labels: fix

#459 feat: Small improvements
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/plugin/registry/hub.go
  pkg/plugin/registry/hub_test.go
  pkg/plugin/registry/organization.go
  pkg/ui/console/client.go
Labels: feat

#461 feat: Use redacted errors for sentry/telemetry
  cmd/fetch.go
  go.mod
  go.sum
  internal/telemetry/error.go
  pkg/client/client.go
  pkg/client/fetch.go
  pkg/module/drift/drift.go
  pkg/module/drift/terraform.go
  pkg/module/manager.go
  pkg/module/types.go
  pkg/policy/execute.go
  pkg/policy/execute_test.go
  pkg/policy/manager.go
  pkg/ui/console/client.go
  pkg/ui/console/fetch.go
Labels: feat

#466 fix: Policy Describe command
  pkg/policy/policy_test.go
  pkg/ui/console/client.go
Labels: fix

#467 fix: Update SDK, report squashed diagnostics
  go.mod
  go.sum
  pkg/client/client.go
  pkg/ui/console/fetch.go
Labels: fix

#471 fix: Max resource parallel limit
  pkg/config/provider.go
Labels: fix

#468 feat: Fetch only specified providers/resources
  cmd/fetch.go
  cmd/fetch_test.go
  cmd/util.go
  pkg/ui/console/client.go
  pkg/ui/console/client_test.go
Labels: feat

#478 chore: Synced file(s) with cloudquery/.github
  .github/dependabot.yml
Labels: ignore-for-release

#475 feat: Use provider name/version as exception type when reporting diagnostics to Sentry
  cmd/sentry.go
  pkg/client/client.go
Labels: feat

#477 feat: Add max_goroutines to providers
  go.mod
  go.sum
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/config/provider.go
Labels: feat

#479 docs: Add link to the 'Getting Started with Azure' guide
  README.md
Labels: docs

#482 fix: Use URI DSNs
  cmd/init.go
  pkg/ui/console/fixtures/config.yaml
Labels: fix

#483 feat: Use firestore for releases
  pkg/client/client.go
  pkg/client/client_test.go
  pkg/plugin/registry/hub.go
  pkg/plugin/registry/hub_test.go
Labels: feat

#480 feat: Update SDK and show resource id on diagnostics
  go.mod
  go.sum
  pkg/ui/console/fetch.go
Labels: feat

#484 docs: Update suggested deployment to helm charts
  README.md
Labels: docs

#487 fix: Fetch summary SQL state 54000
  pkg/client/client.go
  pkg/client/fetch.go
Labels: fix

#486 fix: Don't return an error if encountering an empty subpolicy
  pkg/policy/execute.go
  pkg/policy/execute_test.go
Labels: fix

#488 chore: Remove '--debug' flag from issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: ignore-for-release

#490 chore: Synced file(s) with cloudquery/.github
  .github/dependabot.yml
Labels: ignore-for-release

#489 feat: Modules v2 support
  go.mod
  go.sum
  pkg/client/client.go
  pkg/module/drift/config_parser.go
  pkg/module/drift/drift.go
  pkg/module/drift/drift.hcl
  pkg/module/drift/drift_test.go
  pkg/module/manager.go
  pkg/module/manager_test.go
  pkg/module/types.go
  pkg/ui/console/client.go
Labels: feat

#492 fix: Don't report unmanaged provider diags to sentry
  pkg/client/client.go
Labels: fix

#494 fix: Upgrade schema in history mode
  .github/workflows/history_test.yml
  internal/test/test_history_config_oldversion.hcl
  pkg/client/database/timescale/ddlmanager.go
  pkg/client/database/timescale/timescale.go
  pkg/module/manager.go
Labels: fix

#495 fix: Remove enable_partial_fetch and support for migrationless providers
  pkg/client/client.go
  pkg/config/provider.go
  pkg/ui/console/client.go
Labels: fix

#449 feat: Policy Snapshot Testing
  .gitignore
  cmd/policy_snapshot.go
  cmd/policy_snapshottest.go
  go.mod
  go.sum
  pkg/module/drift/drift.go
  pkg/module/manager.go
  pkg/policy/execute.go
  pkg/policy/execute_test.go
  pkg/policy/manager.go
  pkg/policy/snapshot_testing.go
  pkg/policy/snapshot_testing_test.go
  pkg/policy/snapshots.go
  pkg/ui/console/client.go
Labels: feat

#500 fix: Snapshot Persistance
  pkg/policy/snapshot_testing.go
  pkg/policy/snapshots.go
Labels: fix

#498 fix: Upgrade/downgrade providers cleanup
  pkg/config/config.go
  pkg/config/parser_test.go
  pkg/ui/console/client.go
Labels: fix

#502 fix: Init command cleanup
  cmd/init.go
  go.mod
  go.sum
  pkg/config/parser.go
  pkg/module/drift/drift.go
  pkg/module/manager.go
  pkg/module/types.go
  pkg/plugin/registry/hub.go
  pkg/plugin/registry/organization.go
Labels: fix
