Repository cloudquery/cloudquery, pull requests merged in 2022-12, with the labels that each got.

#5251 chore(deps): Don't update major versions for pgx
  .github/renovate.json5
Labels: automerge

#5253 fix(website): Use `>=` instead of `>` for database versions
  website/pages/docs/plugins/destinations/postgresql/overview.md
Labels: automerge, website

#5254 chore(ci): Remove postgres service from CSV plugin workflow
  .github/workflows/dest_csv.yml
Labels: automerge

#5249 fix: Handling of NULL bytes in Postgresql Text fields
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/sqlite/client/transformer.go
Labels: automerge, postgresql, sqlite

#5194 chore: Add comment to section about closing destination clients
  cli/cmd/sync2.go
Labels: automerge, cli

#5259 feat(website): Add plugins tables
  .github/workflows/lint_markdown.yml
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/datadog/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gandi/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/tables.md
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/azure/tables.md
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/cloudflare/tables.md
  website/pages/docs/plugins/sources/datadog/_meta.json
  website/pages/docs/plugins/sources/datadog/tables.md
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/tables.md
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/gcp/tables.md
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/github/tables.md
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/heroku/tables.md
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/k8s/tables.md
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/okta/tables.md
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/terraform/_meta.json
  website/pages/docs/plugins/sources/terraform/tables.md
Labels: aws, azure, automerge, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, website, heroku, gandi, datadog

#5252 chore(k8s): Fix k8s mocks targets
  plugins/source/k8s/Makefile
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/mockgen.go
  plugins/source/k8s/mocks/discovery/v1/event.go
  plugins/source/k8s/mocks/discovery/v1beta1/client.go
  plugins/source/k8s/mocks/discovery/v1beta1/event.go
  plugins/source/k8s/tools/tool.go
Labels: automerge, k8s

#5268 fix: AWS Endpoint Generation
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/tools/endpoints/main.go
Labels: aws, automerge

#5274 chore(website): Add Datadog to overview table
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website, priority merge

#5276 doc: Remove link to Github repo from word "open source"
  README.md
Labels: automerge

#5278 doc(website): Sort plugins
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#5277 doc(website): Add version badge to overview pages
  website/components/Badge.tsx
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/pages/docs/plugins/sources/azure/overview.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/pages/docs/plugins/sources/datadog/overview.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/gcp/overview.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/overview.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
Labels: automerge, website

#5270 fix(website): Remove search
  website/next.config.mjs
  website/theme.config.tsx
Labels: automerge, website

#5281 chore: Remove unused scripts from aws
  plugins/source/aws/scripts/regenerate-changed-directories.sh
  plugins/source/aws/scripts/terraform-apply-all.sh
  plugins/source/aws/scripts/terraform-apply-changes-only.sh
  plugins/source/aws/scripts/terraform-fmt-change-only.sh
  plugins/source/aws/scripts/terraform-init-change-only.sh
  plugins/source/aws/scripts/terraform-plan-change-only.sh
  plugins/source/aws/scripts/terraform-validate-all.sh
  plugins/source/aws/scripts/terraform-validate-change-only.sh
Labels: aws, automerge

#5282 refactor(website): Add PluginsTable component
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/overview.mdx
Labels: website

#5102 feat: BigQuery destination plugin
  .github/pr_labeler.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/wait_for_required_workflows.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  plugins/destination/bigquery/.gitignore
  plugins/destination/bigquery/.goreleaser.yaml
  plugins/destination/bigquery/CHANGELOG.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/bigquery/Makefile
  plugins/destination/bigquery/README.md
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/metrics.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/bigquery/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/bigquery/_meta.json
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
  website/versions/destination-bigquery.json
Labels: automerge, website, new-destination-plugin, bigquery

#5291 chore(build): Fix workflow references in BigQuery and Snowflake plugins
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_snowflake.yml
Labels: automerge

#5294 fix: Filter results of getTablesForSpec to top-level tables in CLI
  cli/cmd/sync2.go
Labels: automerge, cli

#5280 feat(aws): Add inline_policy field to permission_sets table
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Labels: aws, automerge

#5346 chore(ci): Remove large runners from small plugins
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Labels: automerge

#5347 chore(ci): Add comment with summary for changed tables
  .github/workflows/docs_changes_summary.yml
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_4768_diff.txt
  scripts/table_diff/go.mod
  scripts/table_diff/go.sum
  scripts/table_diff/main.go
Labels: automerge

#5275 chore(website): Gandi blog post
  website/content/team.ts
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/overview.md
  website/public/images/people/kemal.jpg
Labels: automerge, website

#5376 fix(website): PostgreSQL overview spec typo
  website/pages/docs/plugins/destinations/postgresql/overview.md
Labels: automerge, website

#5378 fix(aws): Unused EIP policy - check associations not instance_ids
  plugins/source/aws/policies/queries/ec2/eips_unused.sql
Labels: aws, automerge

#5377 chore(ci): Fail renovate updates with breaking changes
  .github/workflows/docs_changes_summary.yml
Labels: automerge

#5382 chore(website): Use append mode in BigQuery recipe
  website/pages/docs/recipes/destinations/bigquery.md
Labels: automerge, website

#5386 feat(gcp): Increase PageSize for ServiceUsage
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Labels: automerge, gcp

#5388 feat(gcp): More PageSize increases
  plugins/source/gcp/resources/services/iam/roles_fetch.go
  plugins/source/gcp/resources/services/iam/service_accounts_fetch.go
  plugins/source/gcp/resources/services/sql/instances_fetch.go
Labels: automerge, gcp

#5415 fix(ci): Set `allow_inactive: true` for wait-for-vercel action
  .github/workflows/broken_links.yml
Labels: automerge

#5383 doc(website): Add BigQuery blog post
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/announcing-cloudquery-bigquery-destination.md
  website/public/images/blog/announcing-cloudquery-bigquery-destination/bigquery-get-public-buckets.png
Labels: automerge, website

#5424 fix: Migrate only tables specified in config
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Labels: automerge, cli

#5423 chore(website): Remove recipes section and refactor docs
  website/pages/blog/announcing-cloudquery-snowflake-destination.md
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/blog/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/blog/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/blog/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/blog/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/blog/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/scaling-out-elt-with-cq-and-csv.md
  website/pages/docs/_meta.json
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/docker.md
  website/pages/docs/advanced-topics/migrations.md
  website/pages/docs/core-concepts/_meta.json
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/overview.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/_meta.json
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/pages/docs/reference/source-spec.md
  website/vercel.json
Labels: automerge, website, priority merge

#5448 fix(ci): Increase wait for Vercel timeout
  .github/workflows/broken_links.yml
Labels: automerge, priority merge

#5452 fix: Prevent concurrent map read & write in snowflake write function
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#5481 fix(website): Update CLI to latest version
  website/versions/cli.json
Labels: automerge, website

#5480 fix(ci): Typo in release CLI
  .github/workflows/release_cli.yml
Labels: automerge

#5484 fix(website): Broken CLI download links
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
Labels: automerge, website

#5485 fix(website): Remove copy from code blocks that have version placeholders
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#5488 fix: Revert "chore: Update plugin `source-aws` version to v7.3.1"
  website/versions/source-aws.json
Labels: automerge, website, priority merge

#5482 feat(website): Document Homebrew specific version
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/next.config.mjs
  website/pages/docs/deployment/github-actions.md
Labels: automerge, website

#5498 chore: Remove dead code
  plugins/source/aws/client/client.go
Labels: aws, automerge

#5504 chore(gcp): Remove unused codegen templates
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_get_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
Labels: automerge, gcp

#5505 fix(gcp)!: Remove `private_key_type` field from `gcp_iam_service_account_keys`
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/resources/services/iam/service_account_keys.go
Labels: automerge, gcp, resource-attributes

#5513 fix(aws): Deterministic Multiplexer
  plugins/source/aws/client/multiplexers.go
Labels: aws, automerge

#5503 chore(ci): Add AWS sanity test
  .github/workflows/source_aws.yml
  plugins/source/aws/test/sanity.yml
Labels: aws, automerge

#5122 feat(crowdstrike): CrowdStrike source plugin
  .github/pr_labeler.yml
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/source_crowdstrike.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/crowdstrike/.gitignore
  plugins/source/crowdstrike/.goreleaser.yaml
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/client/mocks/mock_alerts_client.go
  plugins/source/crowdstrike/client/mocks/mock_incidents_client.go
  plugins/source/crowdstrike/client/services.go
  plugins/source/crowdstrike/client/spec.go
  plugins/source/crowdstrike/client/testing.go
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/codegen/recipes/templates/resource.go.tpl
  plugins/source/crowdstrike/docs/tables/README.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_alerts_query.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_incidents_crowdscore.md
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
  plugins/source/crowdstrike/main.go
  plugins/source/crowdstrike/resources/plugin/plugin.go
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
  plugins/source/crowdstrike/resources/services/alerts/query_mock_test.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_mock_test.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/crowdstrike/_meta.json
  website/pages/docs/plugins/sources/crowdstrike/overview.md
  website/pages/docs/plugins/sources/crowdstrike/tables.md
  website/pages/docs/plugins/sources/overview.mdx
  website/versions/source-crowdstrike.json
Labels: website

#5526 feat: Add more cases where DateTime types in CSV responses of AWS IAM…
  plugins/source/aws/resources/services/iam/models/iam.go
Labels: aws, automerge

#5533 chore: Update _meta.json to remove Crowdstrike
  website/pages/docs/plugins/sources/_meta.json
Labels: automerge, website

#5537 fix(aws-functions): Return error in case of access denied
  plugins/source/aws/client/helpers.go
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Labels: aws, automerge

#5540 fix(ci): Don't wait for Azure policy tests
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#5538 feat(aws): Add IAM SSH Public Keys
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_ssh_public_keys.md
  plugins/source/aws/docs/tables/aws_iam_users.md
  plugins/source/aws/resources/services/iam/ssh_public_keys.go
  plugins/source/aws/resources/services/iam/ssh_public_keys_fetch.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#5545 chore(gcp): Minor recipe changes
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/codegen/recipes/storage.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#3195 feat: Add GH Workflow support
  plugins/source/github/Makefile
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/multiplex.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/codegen/recipes/templates/resource.go.tpl
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/issues/issues_fetch.go
  website/pages/docs/plugins/sources/github/tables.md
Labels: automerge, github, website

#5544 fix: BigQuery destination: wait for table migrations to complete
  plugins/destination/bigquery/client/migrate.go
Labels: automerge, bigquery

#5552 feat(postgres): Log table name with pg errors
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#5556 fix(gcp)!: Only List Project Roles
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Labels: automerge, gcp

#5563 chore(ci): Add slash when matching actions to files
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#5560 fix: Documentation for AWS: Get Session Token Language
  website/pages/docs/plugins/sources/aws/multi_account.md
Labels: automerge, website

#5550 fix: Fix deadlock in BigQuery destination if error occurs during write
  plugins/destination/bigquery/client/write.go
Labels: automerge, bigquery

#5553 fix: Fix potential deadlock in Snowflake destination
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#5551 fix(azure): Remove azure_storage_deleted_accounts
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/storage.go
  plugins/source/azure/codegen2/recipes/storage.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_storage_deleted_accounts.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/storage/deleted_accounts.go
  plugins/source/azure/resources/services/storage/deleted_accounts_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website, priority merge

#5558 chore: Bootstrap AzureDevOps plugin
  .github/pr_labeler.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/azuredevops/.gitignore
  plugins/source/azuredevops/.goreleaser.yaml
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/docs/tables/README.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/main.go
  plugins/source/azuredevops/resources/plugin/plugin.go
  release-please-config.json
Labels: automerge, priority merge

#5564 feat(azure): Add keyvaults and network_gateways
  plugins/source/azure/client/client.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen2/recipes/keyvault_e.go
  plugins/source/azure/codegen2/recipes/network_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_keys.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_managed_hsms.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_secrets.md
  plugins/source/azure/docs/tables/azure_network_express_route_gateways.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/keyvault/keyvault.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys_fetch.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_managed_hsms.go
  plugins/source/azure/resources/services/keyvault/keyvault_managed_hsms_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets_fetch.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets_mock_test.go
  plugins/source/azure/resources/services/network/express_route_gateways.go
  plugins/source/azure/resources/services/network/express_route_gateways_fetch.go
  plugins/source/azure/resources/services/network/express_route_gateways_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#5612 chore: Github Actions: Print `git status -s` on failure
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Labels: automerge

#5611 feat(azuredevops): Create client, fetch project ids
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/client/spec.go
  plugins/source/azuredevops/docs/tables/README.md
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/plugin.go
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
Labels: automerge, azuredevops

#5622 feat(gcp): Add SQL users
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_sql_instances.md
  plugins/source/gcp/docs/tables/gcp_sql_users.md
  plugins/source/gcp/resources/services/sql/instances.go
  plugins/source/gcp/resources/services/sql/instances_mock_test.go
  plugins/source/gcp/resources/services/sql/users.go
  plugins/source/gcp/resources/services/sql/users_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#5144 fix(gcp): ResourceManager folders listing (add OrgMultiplexing)
  plugins/source/gcp/Makefile
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/billing_accounts_mock_test.go
  plugins/source/gcp/resources/services/billing/services.go
  plugins/source/gcp/resources/services/billing/services_mock_test.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/domains/registrations_mock_test.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/functions/functions_mock_test.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/monitoring/alert_policies_mock_test.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/redis/instances_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/folders_mock_test.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/run/services_mock_test.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
  plugins/source/gcp/resources/services/secretmanager/secrets_mock_test.go
  plugins/source/gcp/resources/services/serviceusage/services.go
  plugins/source/gcp/resources/services/serviceusage/services_mock_test.go
Labels: automerge, gcp

#5640 chore(website): Inconsistent yml vs. yaml in markdown format, remove extra doc
  plugins/source/gandi/docs/configuration.md
Labels: automerge, gandi

#5637 fix(website): Default to `Unpublished` in `getLatestVersion`
  website/utils/versions.ts
Labels: automerge, website, priority merge

#5636 fix(gcp-resources): Set primary keys for `gcp_resourcemanager_projects`
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/resources/services/resourcemanager/projects.go
Labels: automerge, gcp

#5562 chore: Fix lint targets
  plugins/destination/bigquery/Makefile
  plugins/destination/csv/Makefile
  plugins/destination/postgresql/Makefile
  plugins/destination/snowflake/Makefile
  plugins/destination/sqlite/Makefile
  plugins/destination/test/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gcp/Makefile
  plugins/source/heroku/Makefile
  plugins/source/terraform/Makefile
  plugins/source/test/Makefile
Labels: automerge, digitalocean, gcp, terraform, heroku, postgresql, csv, sqlite, snowflake, bigquery

#5652 fix(website): Show correct Vercel version in docs
  website/pages/docs/plugins/sources/vercel/configuration.md
  website/pages/docs/plugins/sources/vercel/overview.md
Labels: automerge, website

#5660 chore(blog): GCP cost with BigQuery
  website/pages/blog/_meta.json
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/public/images/blog/analysing-gcp-cost-with-bigquery-and-cq/bigquery_billing.png
Labels: automerge, website

#5659 chore(ci-lint): Add some markdown lint rules
  .github/styles/proselint/BestPractice.yml
  .github/styles/proselint/RealWorld.yml
  website/pages/blog/introducing-the-gandi-source-plugin.md
Labels: automerge, website

#5654 fix(gcp): Remove error wrapping
  plugins/source/gcp/resources/services/bigquery/datasets_fetch.go
  plugins/source/gcp/resources/services/bigquery/tables_fetch.go
  plugins/source/gcp/resources/services/dns/managed_zones_fetch.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
  plugins/source/gcp/resources/services/iam/service_account_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
  plugins/source/gcp/resources/services/storage/bucket_policies_fetch.go
Labels: automerge, gcp

#5669 fix(gcp): Remove error wrapping
  plugins/source/gcp/go.mod
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Labels: automerge, gcp

#5618 feat: Add codegen
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/codegen/main.go
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/codegen/recipes/core.go
  plugins/source/azuredevops/codegen/recipes/templates/resource.go.tpl
  plugins/source/azuredevops/codegen/recipes/templates/tables.go.tpl
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
Labels: automerge, azuredevops

#5643 feat(website): Vercel introductory blog post
  website/pages/blog/_meta.json
  website/pages/blog/announcing-the-vercel-source-plugin.md
Labels: automerge, website

#5670 chore(website): Clean up blog meta.json file
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/docs/_meta.json
Labels: automerge, website

#5672 chore: Add Vercel to release please
  release-please-config.json
Labels: automerge

#5675 chore(website): The => the
  website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/introducing-the-digital-ocean-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Labels: automerge, website

#5668 feat: AWS S3 Security Settings Blog Post Draft
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Labels: website

#5680 chore: Update aws s3 default behavior queries
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Labels: automerge, website

#5681 feat(bigquery): Add configurable batch size
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/write.go
  website/pages/docs/plugins/destinations/bigquery/overview.md
Labels: website, bigquery

#5684 fix(bigquery): BQ batch size
  plugins/destination/bigquery/client/client.go
Labels: bigquery

#5756 fix(azure): Remove extra `fmt.Println`
  plugins/source/azure/resources/plugin/plugin.go
Labels: azure, automerge

#5757 feat(postgresql): Update pgx to v5
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#5655 fix(gcp-resources): Add `projects/` prefix when listing IAM roles
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Labels: automerge, gcp

#5793 fix(aws-codegen): Check error returned by formatAndWriteFile
  plugins/source/aws/codegen/services/generate.go
Labels: aws, automerge

#5638 fix(table-diff): Support PK changes
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5636_diff.txt
Labels: automerge

#5799 chore: Add a script to codegen for all plugins
  scripts/update-codegen.sh
Labels: automerge

#5798 chore: Use make target for root update docs script
  scripts/update-docs.sh
Labels: automerge

#5801 chore(website): Product update fix
  website/pages/blog/product-updates-2.md
Labels: automerge, website, priority merge

#5800 fix(table-diff): Improve primary keys comments
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
Labels: automerge

#5792 feat(aws): AWS SES resources: `aws_ses_active_receipt_rule_sets` & `aws_ses_custom_verification_email_templates`
  plugins/source/aws/client/mocks/ses.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ses.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_active_receipt_rule_sets.md
  plugins/source/aws/docs/tables/aws_ses_custom_verification_email_templates.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_mock_test.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_fetch.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#5804 feat(aws): Add Elastic Transcoder resources
  plugins/source/aws/client/mocks/elastictranscoder.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/elastictranscoder.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/elastictranscoder.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipeline_jobs.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipelines.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_presets.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_mock_test.go
  plugins/source/aws/resources/services/elastictranscoder/presets.go
  plugins/source/aws/resources/services/elastictranscoder/presets_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/presets_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, resource

#5803 fix(deps): Migrate GCP to new proto imports
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/compute/projects_fetch.go
  plugins/source/gcp/resources/services/compute/projects_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
Labels: automerge, gcp

#5806 fix(aws)!: Fix PK in `aws_elasticsearch_domains`
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/aws/Makefile
  plugins/source/aws/codegen/recipes/elasticsearch.go
  plugins/source/aws/docs/tables/aws_elasticsearch_domains.md
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/domains_fetch.go
  plugins/source/aws/resources/services/elasticsearch/domains_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch_mock_test.go
Labels: aws, resource-attributes

#5833 chore: Add missing code blocks languages, enforce via linter
  .github/workflows/lint_markdown.yml
  .markdownlint.yaml
  contributing/development_environment.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/sqlite/CONTRIBUTING.md
  plugins/source/aws/policies/README.md
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/cloudquery-postgrest.md
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/gcp/policies.md
  website/pages/docs/plugins/sources/k8s/policies.md
  website/pages/docs/plugins/sources/okta/overview.md
Labels: aws, azure, automerge, gcp, k8s, website, priority merge, sqlite, snowflake, bigquery

#5831 chore(website): Add callout about Azure policies
  website/pages/docs/plugins/sources/azure/policies.md
Labels: automerge, website, priority merge

#5677 feat(aws): Add aws_organizations
  plugins/source/aws/client/client.go
  plugins/source/aws/client/multiplexers.go
  plugins/source/aws/codegen/recipes/organizations.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_organizations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/organizations/organizations.go
  plugins/source/aws/resources/services/organizations/organizations_fetch.go
  plugins/source/aws/resources/services/organizations/organizations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#5845 fix(digitalocean)!: Remove invoice_id from PK for billing history
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/docs/tables/digitalocean_billing_history.md
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
Labels: automerge, digitalocean

#5852 chore: Revert "chore: Update plugin `destination-postgresql` version to v1.9.0"
  website/versions/destination-postgresql.json
Labels: automerge, website

#5807 doc(website): Slack plugin blog post
  website/pages/blog/introducing-the-slack-source-plugin.md
Labels: automerge, website

#5653 feat(gcp-resources): Add deny policies
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_iam_deny_policies.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/iam/deny_policies.go
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/gcp/resources/services/iam/deny_policies_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#5861 fix: Add goreleaser file
  plugins/source/pagerduty/.goreleaser.yaml
Labels: automerge, priority merge

#5859 doc: Update docker page
  website/pages/docs/advanced-topics/docker.md
Labels: automerge, website

#5862 doc: Update new-plugin-contribution-guide
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#5866 fix(ci-broken-links): Update `wait-for-vercel` to latest commit sha
  .github/workflows/broken_links.yml
Labels: automerge, priority merge

#5869 chore(aws): Fix gen makefile target
  plugins/source/aws/Makefile
Labels: aws, automerge, priority merge

#5868 doc(website): Update AWS multi-account docs
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.md
  website/pages/docs/plugins/sources/aws/multi_account.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/vercel.json
Labels: automerge, website

#5871 chore(style): Use `any` instead of `interface`
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/resources/services/services/service_rules_fetch.go
  scripts/lint.sh
Labels: automerge, gcp, priority merge, pagerduty

#5874 chore(release): Increase Go releaser timeout
  .github/workflows/release_plugin.yml
  .github/workflows/source_aws.yml
Labels: automerge

#5888 fix: Update Azure auto provisioning queries
  plugins/source/azure/policies/queries/security/asc_automatic_provisioning_log_analytics_monitoring_agent.sql
  plugins/source/azure/policies/queries/security/auto_provisioning_monitoring_agent_enabled.sql
Labels: azure, automerge

#5890 fix: Update pagerduty to sdk 1.12.7
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_addons.md
  plugins/source/pagerduty/docs/tables/pagerduty_business_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_escalation_policies.md
  plugins/source/pagerduty/docs/tables/pagerduty_extension_schemas.md
  plugins/source/pagerduty/docs/tables/pagerduty_extensions.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_alerts.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/docs/tables/pagerduty_maintenance_windows.md
  plugins/source/pagerduty/docs/tables/pagerduty_priorities.md
  plugins/source/pagerduty/docs/tables/pagerduty_ruleset_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_rulesets.md
  plugins/source/pagerduty/docs/tables/pagerduty_schedules.md
  plugins/source/pagerduty/docs/tables/pagerduty_service_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_tags.md
  plugins/source/pagerduty/docs/tables/pagerduty_teams.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_contact_methods.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_notification_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_users.md
  plugins/source/pagerduty/docs/tables/pagerduty_vendors.md
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/pagerduty/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Labels: automerge, website, pagerduty

#5875 feat(aws): Add AWS Managed Service for Prometheus
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/client/mocks/amp.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/amp.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/amp.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_amp_rule_groups_namespaces.md
  plugins/source/aws/docs/tables/aws_amp_workspaces.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces_fetch.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces_mock_test.go
  plugins/source/aws/resources/services/amp/workspaces.go
  plugins/source/aws/resources/services/amp/workspaces_fetch.go
  plugins/source/aws/resources/services/amp/workspaces_mock_test.go
  plugins/source/aws/tools/endpoints/main.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, resource, resource-attributes

#5894 chore(tailscale): Do not scan environment variables directly
  plugins/source/tailscale/client/spec.go
  website/pages/docs/plugins/sources/tailscale/configuration.md
Labels: automerge, website

#5867 feat(aws): Add more Elastic Search resources
  plugins/source/aws/codegen/recipes/elasticsearch.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elasticsearch_domains.md
  plugins/source/aws/docs/tables/aws_elasticsearch_packages.md
  plugins/source/aws/docs/tables/aws_elasticsearch_versions.md
  plugins/source/aws/docs/tables/aws_elasticsearch_vpc_endpoints.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/domains_fetch.go
  plugins/source/aws/resources/services/elasticsearch/domains_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/packages.go
  plugins/source/aws/resources/services/elasticsearch/packages_fetch.go
  plugins/source/aws/resources/services/elasticsearch/packages_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/versions.go
  plugins/source/aws/resources/services/elasticsearch/versions_fetch.go
  plugins/source/aws/resources/services/elasticsearch/versions_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/vpc_endpoints.go
  plugins/source/aws/resources/services/elasticsearch/vpc_endpoints_fetch.go
  plugins/source/aws/resources/services/elasticsearch/vpc_endpoints_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, resource, resource-attributes

#5895 chore(website): Fix margin above nested tables
  website/custom.css
Labels: automerge, website

#5878 feat(aws): Paginate Ec2 Describe Images
  plugins/source/aws/resources/services/ec2/images_fetch.go
Labels: aws, automerge

#5896 feat: Pagerduty incident notes
  plugins/source/pagerduty/codegen/recipes/base.go
  plugins/source/pagerduty/codegen/recipes/incidents.go
  plugins/source/pagerduty/codegen/recipes/rulesets.go
  plugins/source/pagerduty/codegen/recipes/templates/mock_test_nested.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_no_options/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_paginated_no_options/fetch.go.tpl
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_notes.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/resources/services/incidents/incident_notes.go
  plugins/source/pagerduty/resources/services/incidents/incident_notes_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incidents.go
  plugins/source/pagerduty/resources/services/incidents/incidents_mock_test.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Labels: automerge, website, pagerduty

#5902 fix(azure)!: Rename e_tag to etag
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/docs/tables/azure_datafactory_factories.md
  plugins/source/azure/resources/services/costmanagement/views.go
  plugins/source/azure/resources/services/datafactory/factories.go
Labels: azure, automerge

#5908 fix: Update Azure Storage Queries
  plugins/source/azure/policies/queries/storage/accounts_with_unrestricted_access.sql
  plugins/source/azure/policies/queries/storage/secure_transfer_to_storage_accounts_should_be_enabled.sql
Labels: azure, automerge

#5909 feat(table-diff): Mark newly added PKs as breaking changes
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5802_diff.txt
Labels: automerge, priority merge

#5913 refactor(gcp-codegen): Infer `RequestStructName`, `UnimplementedServerName` and `ResponseStructName`
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
Labels: automerge, gcp, priority merge

#5911 feat(aws): Fetch tags for aws_elasticache_clusters
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/clusters_fetch.go
  plugins/source/aws/resources/services/elasticache/clusters_mock_test.go
Labels: aws, automerge, priority merge

#5805 feat(destinations): Migrate to managed batching SDK
  .github/workflows/dest_postgresql.yml
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, postgresql, csv, sqlite, snowflake, bigquery

#5919 fix(gcp): List locations before getting run services
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/run/locations.go
  plugins/source/gcp/resources/services/run/locations_fetch.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/run/services_fetch.go
  plugins/source/gcp/resources/services/run/services_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#5222 feat: New Gitlab (Self Hosted) Plugin
  .github/pr_labeler.yml
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/source_gitlab.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/gitlab/.gitignore
  plugins/source/gitlab/.goreleaser.yaml
  plugins/source/gitlab/CHANGELOG.md
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/README.md
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/resolvers.go
  plugins/source/gitlab/client/services/groups.go
  plugins/source/gitlab/client/services/projects.go
  plugins/source/gitlab/client/services/releases.go
  plugins/source/gitlab/client/services/settings.go
  plugins/source/gitlab/client/services/users.go
  plugins/source/gitlab/client/spec.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/groups.go
  plugins/source/gitlab/codegen/recipes/projects.go
  plugins/source/gitlab/codegen/recipes/settings.go
  plugins/source/gitlab/codegen/recipes/templates/resource.go.tpl
  plugins/source/gitlab/codegen/recipes/users.go
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_groups.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/docs/tables/gitlab_projects_releases.md
  plugins/source/gitlab/docs/tables/gitlab_settings.md
  plugins/source/gitlab/docs/tables/gitlab_users.md
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/main.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/group_members_fetch.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/groups/groups_mock_test.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  plugins/source/gitlab/resources/services/projects/projects_releases.go
  plugins/source/gitlab/resources/services/projects/projects_releases_fetch.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
  plugins/source/gitlab/resources/services/settings/settings_mock_test.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
  plugins/source/gitlab/resources/services/users/users_mock_test.go
  release-please-config.json
  website/pages/docs/plugins/sources/gitlab/_meta.json
  website/pages/docs/plugins/sources/gitlab/configuration.md
  website/pages/docs/plugins/sources/gitlab/overview.md
  website/pages/docs/plugins/sources/gitlab/tables.md
Labels: automerge, website

#5912 doc: Pagerduty blog
  website/content/team.ts
  website/pages/blog/announcing-pagerduty-plugin.md
  website/public/images/people/shimon.jpg
Labels: automerge, website

#5930 feat: MongoDB destination
  .github/pr_labeler.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/mongodb/.gitignore
  plugins/destination/mongodb/.goreleaser.yaml
  plugins/destination/mongodb/CHANGELOG.md
  plugins/destination/mongodb/CONTRIBUTING.md
  plugins/destination/mongodb/Makefile
  plugins/destination/mongodb/README.md
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/client/transformer.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
  plugins/destination/mongodb/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/mongodb/_meta.json
  website/pages/docs/plugins/destinations/mongodb/overview.md
Labels: automerge, website

#5870 feat(aws)!: Support recursive listing of AWS orgs and skipping of OUs and accounts
  plugins/source/aws/client/client.go
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/organizations_test.go
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/spec_test.go
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.md
Labels: aws, automerge, website

#5942 feat(aws): Support Custom endpoints
  plugins/source/aws/client/client.go
  plugins/source/aws/client/spec.go
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: aws, automerge, website

#5947 fix(website): Fix aws config
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, website

#5941 feat: Add instance_view to azure_compute_virtual_machines table
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/compute.go
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/codegen2/recipes/compute.go
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machines.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/virtual_machine_instance_views_fetch.go
  plugins/source/azure/resources/services/compute/virtual_machines.go
  plugins/source/azure/resources/services/compute/virtual_machines_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#5954 feat(salesforce): New Salesforce source plugin
  .github/workflows/check_file_size.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/salesforce/.gitignore
  plugins/source/salesforce/.goreleaser.yaml
  plugins/source/salesforce/CHANGELOG.md
  plugins/source/salesforce/Makefile
  plugins/source/salesforce/README.md
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/http.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/spec.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/docs/tables/README.md
  plugins/source/salesforce/docs/tables/salesforce_objects.md
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
  plugins/source/salesforce/resources/services/objects_jobs_api.go
  plugins/source/salesforce/resources/services/objects_mock_jobs_api_test.go
  plugins/source/salesforce/resources/services/objects_mock_query_api_test.go
  plugins/source/salesforce/resources/services/objects_query_api.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/salesforce/_meta.json
  website/pages/docs/plugins/sources/salesforce/creating_connected_app.md
  website/pages/docs/plugins/sources/salesforce/overview.md
  website/pages/docs/plugins/sources/salesforce/tables.md
  website/public/images/docs/sf/step1.png
  website/public/images/docs/sf/step2.png
  website/public/images/docs/sf/step3.png
  website/public/images/docs/sf/step4.png
  website/public/images/docs/sf/step5.png
Labels: automerge, website

#5952 feat(azure): Add search,logic,monitor,redis tables
  plugins/source/azure/client/client.go
  plugins/source/azure/codegen2/recipes/logic_e.go
  plugins/source/azure/codegen2/recipes/monitor_e.go
  plugins/source/azure/codegen2/recipes/redis_e.go
  plugins/source/azure/codegen2/recipes/search_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_logic_workflows.md
  plugins/source/azure/docs/tables/azure_monitor_tenant_activity_log_alerts.md
  plugins/source/azure/docs/tables/azure_redis_caches.md
  plugins/source/azure/docs/tables/azure_search_services.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/logic/workflows.go
  plugins/source/azure/resources/services/logic/workflows_mock_test.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts_mock_test.go
  plugins/source/azure/resources/services/redis/caches.go
  plugins/source/azure/resources/services/redis/caches_mock_test.go
  plugins/source/azure/resources/services/search/services.go
  plugins/source/azure/resources/services/search/services_fetch.go
  plugins/source/azure/resources/services/search/services_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#5926 feat(resources): Add API Gateway
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apigateway_apis.md
  plugins/source/gcp/docs/tables/gcp_apigateway_gateways.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/apigateway/apis.go
  plugins/source/gcp/resources/services/apigateway/apis_mock_test.go
  plugins/source/gcp/resources/services/apigateway/gateways.go
  plugins/source/gcp/resources/services/apigateway/gateways_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#5959 chore(website): Add latest blog post to footer
  website/components/Footer.tsx
Labels: automerge, website

#5960 chore(website): Fix broken links in 2022 May update
  website/pages/blog/2022-may-monthly.md
Labels: automerge, website

#5973 fix(ci): Skip broken links checks if build is ignored on Vercel
  .github/workflows/broken_links.yml
Labels: automerge

#5980 fix(ci): Skip broken links checks if build is ignored on Vercel
  .github/workflows/broken_links.yml
Labels: automerge

#5992 fix(aws_ses_active_receipt_rule_sets): Don't sync empty return values from DescribeActiveReceiptRuleSet
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
Labels: aws, automerge, priority merge

#5997 fix(aws_ses_active_receipt_rule_sets): Don't call DescribeActiveReceiptRuleSet on unsupported regions
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
Labels: aws, automerge, priority merge

#6009 fix(gcp_run_locations): Use correct description link
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/resources/services/run/locations.go
Labels: automerge, gcp, priority merge

#6013 chore(website): Update home page
  website/components/QueriesExamples.tsx
  website/components/pages/home.tsx
  website/content/features.ts
Labels: automerge, website

#6012 fix(github): Fix PK order in `github_hook_deliveries`, `github_team_members`, `github_team_repositories`
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
Labels: automerge, github

#6022 feat(aws): Route53 Add transfer lock Status
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/route53/domains_fetch.go
Labels: aws, automerge

#5946 doc(website): New Guide for CQ + LocalStack
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Labels: automerge, website

#6021 chore(go): Make PK order be breaking
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_6012_diff.txt
Labels: automerge
