Repository cloudquery/cloudquery, pull requests merged in 2023-11, with the labels that each got.

#15079 feat: Don't require team and name during publish
  cli/cmd/plugin_publish.go
  cli/cmd/plugin_publish_test.go
  cli/cmd/testdata/dist-v1-no-team-package-json/docs/Custom-Doc.md
  cli/cmd/testdata/dist-v1-no-team-package-json/docs/configuration.md
  cli/cmd/testdata/dist-v1-no-team-package-json/docs/overview.md
  cli/cmd/testdata/dist-v1-no-team-package-json/package.json
  cli/cmd/testdata/dist-v1-no-team-package-json/plugin-test-v1.2.3-darwin-amd64.zip
  cli/cmd/testdata/dist-v1-no-team-package-json/plugin-test-v1.2.3-linux-amd64.zip
  cli/cmd/testdata/dist-v1-no-team-package-json/tables.json
  cli/cmd/testdata/dist-v1-with-team-package-json/docs/Custom-Doc.md
  cli/cmd/testdata/dist-v1-with-team-package-json/docs/configuration.md
  cli/cmd/testdata/dist-v1-with-team-package-json/docs/overview.md
  cli/cmd/testdata/dist-v1-with-team-package-json/package.json
  cli/cmd/testdata/dist-v1-with-team-package-json/plugin-test-v1.2.3-darwin-amd64.zip
  cli/cmd/testdata/dist-v1-with-team-package-json/plugin-test-v1.2.3-linux-amd64.zip
  cli/cmd/testdata/dist-v1-with-team-package-json/tables.json
  website/pages/docs/reference/cli/cloudquery_plugin_publish.md
Labels: automerge, area/cli, area/website

#15078 doc: Add an invitation to Community Hours to the latest newsletter
  website/pages/blog/product-updates-9.mdx
Labels: automerge, kind/docs, area/website

#15086 chore: Fix docs publishing for DuckDB, Snowflakse, SQLite
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: area/ci

#15088 chore: Use relative link in product updates, exclude www.g2.com
  .github/workflows/broken_links_scheduled.yml
  website/pages/blog/product-updates-9.mdx
Labels: automerge, area/ci, area/website

#15093 fix: Trigger release
  plugins/destination/snowflake/README.md
Labels: automerge, area/plugin/destination/snowflake

#15101 chore: Add import in windows
  plugins/destination/snowflake/client/escape_windows.go
Labels: automerge, area/plugin/destination/snowflake, priority merge

#15083 chore: Remove team and plugin name arg from Hub publish
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, area/ci

#15104 feat: Add docs on how to publish plugins to the Hub
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.md
Labels: automerge, area/website

#15105 chore: Fix link to documentation format
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.md
Labels: automerge, area/website

#15106 chore: Add latest version to public paid plugins
  website/next.config.mjs
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.md
  website/pages/docs/plugins/sources/file/_configuration.md
  website/pages/docs/plugins/sources/file/overview.md
  website/pages/docs/plugins/sources/heroku/_configuration.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/slack/_configuration.md
  website/pages/docs/plugins/sources/slack/overview.md
  website/pages/docs/plugins/sources/tailscale/_configuration.md
  website/pages/docs/plugins/sources/tailscale/overview.md
Labels: automerge, priority merge, area/website

#15119 fix: Set team context when logging in, and don't clear it when logging out
  cli/cmd/login.go
  cli/cmd/switch.go
  cli/internal/auth/logout.go
Labels: automerge, area/cli

#15126 chore: Rename overview.mdx to overview.md
  website/pages/docs/plugins/sources/bitbucket/overview.md
Labels: automerge, area/website

#15123 fix: Athena Compatibility
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
Labels: automerge, area/plugin/destination/s3

#15127 doc: Add utm tags to the most important links in the November 2023 newsletter
  website/pages/blog/product-updates-9.mdx
Labels: automerge, kind/docs, area/website

#15128 doc: Update publishing-a-plugin-to-the-hub.md
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.md
Labels: automerge, area/website

#15129 fix: Improve error message if version is specified incorrectly
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/source.go
Labels: automerge, area/cli

#15135 fix: Set global retry policy to `common.DefaultRetryPolicy`
  plugins/source/oracle/client/client.go
  plugins/source/oracle/client/multiplex.go
Labels: automerge

#15138 doc: Update configuration.md to fix broken link
  website/pages/docs/plugins/sources/googleads/configuration.md
Labels: automerge, area/website

#15137 chore: Migrating mysql source plugin to premium paid
  .github/pr_labeler.yml
  .github/workflows/source_mysql.yml
  plugins/source/mysql/.gitignore
  plugins/source/mysql/.goreleaser.yaml
  plugins/source/mysql/CHANGELOG.md
  plugins/source/mysql/CONTRIBUTING.md
  plugins/source/mysql/Makefile
  plugins/source/mysql/README.md
  plugins/source/mysql/client/client.go
  plugins/source/mysql/client/list_tables.go
  plugins/source/mysql/client/spec.go
  plugins/source/mysql/client/sync.go
  plugins/source/mysql/client/transformer.go
  plugins/source/mysql/client/types.go
  plugins/source/mysql/client/types_test.go
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/main.go
  plugins/source/mysql/resources/plugin/plugin.go
  plugins/source/mysql/resources/plugin/plugin_test.go
  release-please-config.json
Labels: automerge, area/ci, area/plugin/source/source-mysql

#15136 doc: Containers with read-only file system
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/overview.md
  website/pages/docs/deployment/read-only-containers.mdx
Labels: automerge, kind/docs, area/website

#15139 fix: Use Arrow marshaling code for `arrow.Time32` & `arrow.Time64` types
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/client/transform.go
Labels: automerge, area/plugin/source/source-postgresql

#15143 chore: Migrate OracleDB source plugin to premium paid
  .github/pr_labeler.yml
  .github/workflows/source_oracledb.yml
  plugins/source/oracledb/.gitignore
  plugins/source/oracledb/.goreleaser.yaml
  plugins/source/oracledb/CHANGELOG.md
  plugins/source/oracledb/CONTRIBUTING.md
  plugins/source/oracledb/Makefile
  plugins/source/oracledb/README.md
  plugins/source/oracledb/client/client.go
  plugins/source/oracledb/client/list_tables.go
  plugins/source/oracledb/client/spec.go
  plugins/source/oracledb/client/sync.go
  plugins/source/oracledb/client/transformer.go
  plugins/source/oracledb/client/types.go
  plugins/source/oracledb/client/types_test.go
  plugins/source/oracledb/docs/_configuration.md
  plugins/source/oracledb/docs/overview.md
  plugins/source/oracledb/go.mod
  plugins/source/oracledb/go.sum
  plugins/source/oracledb/main.go
  plugins/source/oracledb/resources/plugin/plugin.go
  plugins/source/oracledb/resources/plugin/plugin_test.go
  release-please-config.json
  website/components/pluginData.tsx
Labels: automerge, area/ci, area/website, area/plugin/source/oracledb

#15142 chore: Change MySQL to premium plugin
  website/components/pluginData.tsx
Labels: automerge, area/website

#15144 chore: Migrate postgres source to premium
  .github/pr_labeler.yml
  .github/workflows/source_postgresql.yml
  plugins/source/postgresql/.gitignore
  plugins/source/postgresql/.goreleaser.yaml
  plugins/source/postgresql/CHANGELOG.md
  plugins/source/postgresql/CONTRIBUTING.md
  plugins/source/postgresql/Makefile
  plugins/source/postgresql/README.md
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/client/errors.go
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/pgx_log_level.go
  plugins/source/postgresql/client/spec.go
  plugins/source/postgresql/client/sql/list_tables.sql
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/client/transform.go
  plugins/source/postgresql/client/types.go
  plugins/source/postgresql/docs/_configuration.md
  plugins/source/postgresql/docs/cdc.md
  plugins/source/postgresql/docs/overview.md
  plugins/source/postgresql/go.mod
  plugins/source/postgresql/go.sum
  plugins/source/postgresql/main.go
  plugins/source/postgresql/pgarrow/to_arrow.go
  plugins/source/postgresql/pgarrow/to_arrow_test.go
  plugins/source/postgresql/pgarrow/to_pg.go
  plugins/source/postgresql/resources/plugin/plugin.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
  release-please-config.json
  website/components/pluginData.tsx
Labels: automerge, area/ci, area/website, area/plugin/source/source-postgresql

#15152 chore: Update table links to link to the Hub directly
  website/pages/blog/aws-kms-key-grants-deep-dive.mdx
  website/pages/blog/aws-priv-esc-identity-center.mdx
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.mdx
  website/pages/blog/migrating-from-v0-to-v1.mdx
  website/pages/blog/product-updates-6.mdx
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
  website/pages/how-to-guides/aws-resource-limits-and-service-quotas.mdx
  website/pages/how-to-guides/how-to-load-infrastructure-data-into-athena.mdx
Labels: automerge, area/website

#15156 chore: Remove `plugins/source/mysql/docs` directory
  plugins/source/mysql/docs/_configuration.md
  plugins/source/mysql/docs/overview.md
Labels: automerge

#15158 doc: Add tutorial on how to generate a CloudQuery API key
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/generate-api-key.md
  website/public/images/docs/deployment/generate-api-key/01-api-keys.png
  website/public/images/docs/deployment/generate-api-key/02-generate-new-key.png
  website/public/images/docs/deployment/generate-api-key/03-generate-key.png
  website/public/images/docs/deployment/generate-api-key/04-save-key.png
Labels: area/website

#15160 doc: Add documentation about publishing addons
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/publishing-an-addon-to-the-hub.md
Labels: automerge, area/website

#15161 chore(website): Add plugin documentation directories
  plugins/source/mysql/docs/overview.md
  plugins/source/oracledb/docs/overview.md
  plugins/source/postgresql/docs/overview.md
  website/components/pluginData.tsx
Labels: automerge, area/website

#15163 fix: Make `cloudquery addon` command visible
  cli/Makefile
  cli/cmd/addon_publish.go
  cli/cmd/doc_test.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_addon.md
  website/pages/docs/reference/cli/cloudquery_addon_publish.md
Labels: automerge, area/cli, area/website

#15164 fix!: Map `date32` and `date64` to `date` column type
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/pgarrow/to_arrow.go
  plugins/destination/postgresql/pgarrow/to_pg.go
  plugins/destination/postgresql/pgarrow/to_pg_test.go
Labels: automerge, area/plugin/destination/postgresql

#15179 fix: Better publish command messages
  cli/cmd/addon_publish.go
  cli/cmd/plugin_publish.go
  website/pages/docs/reference/cli/cloudquery_addon_publish.md
  website/pages/docs/reference/cli/cloudquery_plugin_publish.md
Labels: automerge, area/cli, area/website

#15182 chore: Migrate Jira source plugin to premium paid
  .github/pr_labeler.yml
  .github/workflows/source_jira.yml
  plugins/source/jira/.gitignore
  plugins/source/jira/.goreleaser.yaml
  plugins/source/jira/CHANGELOG.md
  plugins/source/jira/Makefile
  plugins/source/jira/README.md
  plugins/source/jira/client/client.go
  plugins/source/jira/docs/_authentication.md
  plugins/source/jira/docs/_configuration.md
  plugins/source/jira/docs/overview.md
  plugins/source/jira/docs/tables/README.md
  plugins/source/jira/docs/tables/jira_boards.md
  plugins/source/jira/docs/tables/jira_fields.md
  plugins/source/jira/docs/tables/jira_issues.md
  plugins/source/jira/docs/tables/jira_priorities.md
  plugins/source/jira/docs/tables/jira_projects.md
  plugins/source/jira/go.mod
  plugins/source/jira/go.sum
  plugins/source/jira/main.go
  plugins/source/jira/resources/boards/boards.go
  plugins/source/jira/resources/fields/fields.go
  plugins/source/jira/resources/issues/issues.go
  plugins/source/jira/resources/plugin/plugin.go
  plugins/source/jira/resources/priorities/priorities.go
  plugins/source/jira/resources/projects/projects.go
  plugins/source/jira/sync/client.go
  plugins/source/jira/sync/columns.go
  plugins/source/jira/test/config.yml
  release-please-config.json
Labels: area/plugin/source/jira, area/ci

#15181 fix: Fail insert if the table to insert to is unknown to the client
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/go.mod
Labels: automerge, area/plugin/destination/postgresql

#15187 fix: Remove irrelevant docs
  plugins/source/aws/docs/policies.md
  plugins/source/aws/docs/views.md
Labels: automerge, area/plugin/source/aws

#15188 fix: Remove old policy docs
  plugins/source/azure/docs/policies.md
  plugins/source/azure/docs/views.md
  plugins/source/gcp/docs/policies.md
  plugins/source/gcp/docs/views.md
  plugins/source/k8s/docs/policies.md
Labels: automerge, area/plugin/source/gcp, area/plugin/source/azure, area/plugin/source/k8s

#15192 fix: Move terraform to premium
  .github/workflows/source_terraform.yml
  plugins/source/terraform/.gitignore
  plugins/source/terraform/.goreleaser.yaml
  plugins/source/terraform/CHANGELOG.md
  plugins/source/terraform/Makefile
  plugins/source/terraform/README.md
  plugins/source/terraform/client/backend.go
  plugins/source/terraform/client/client.go
  plugins/source/terraform/client/multiplexers.go
  plugins/source/terraform/client/spec.go
  plugins/source/terraform/client/state.go
  plugins/source/terraform/docs/_authentication.md
  plugins/source/terraform/docs/_configuration.md
  plugins/source/terraform/docs/overview.md
  plugins/source/terraform/docs/tables/README.md
  plugins/source/terraform/docs/tables/tf_data.md
  plugins/source/terraform/docs/tables/tf_resource_instances.md
  plugins/source/terraform/docs/tables/tf_resources.md
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/plugin/client.go
  plugins/source/terraform/resources/plugin/plugin.go
  plugins/source/terraform/resources/plugin/plugin_test.go
  plugins/source/terraform/resources/plugin/tables.go
  plugins/source/terraform/resources/plugin/testdata/terraform.tfstate
  plugins/source/terraform/resources/services/tf_resource_instances.go
  plugins/source/terraform/resources/services/tf_resources.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/test/config.yml
Labels: area/plugin/source/terraform, area/ci

#15191 fix: Move snyk to premium
  .github/workflows/source_snyk.yml
  plugins/source/snyk/.gitignore
  plugins/source/snyk/.goreleaser.yaml
  plugins/source/snyk/CHANGELOG.md
  plugins/source/snyk/Makefile
  plugins/source/snyk/README.md
  plugins/source/snyk/client/client.go
  plugins/source/snyk/client/columns.go
  plugins/source/snyk/client/errors.go
  plugins/source/snyk/client/errors_test.go
  plugins/source/snyk/client/multiplexer.go
  plugins/source/snyk/client/organizations.go
  plugins/source/snyk/client/resolvers.go
  plugins/source/snyk/client/spec.go
  plugins/source/snyk/client/spec_test.go
  plugins/source/snyk/client/testing.go
  plugins/source/snyk/client/transform.go
  plugins/source/snyk/docs/_authentication.md
  plugins/source/snyk/docs/_configuration.md
  plugins/source/snyk/docs/configuration.md
  plugins/source/snyk/docs/overview.md
  plugins/source/snyk/docs/tables/README.md
  plugins/source/snyk/docs/tables/snyk_dependencies.md
  plugins/source/snyk/docs/tables/snyk_group_members.md
  plugins/source/snyk/docs/tables/snyk_groups.md
  plugins/source/snyk/docs/tables/snyk_integrations.md
  plugins/source/snyk/docs/tables/snyk_organization_members.md
  plugins/source/snyk/docs/tables/snyk_organization_provisions.md
  plugins/source/snyk/docs/tables/snyk_organizations.md
  plugins/source/snyk/docs/tables/snyk_projects.md
  plugins/source/snyk/docs/tables/snyk_reporting_issues.md
  plugins/source/snyk/docs/tables/snyk_reporting_latest_issues.md
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/snyk/main.go
  plugins/source/snyk/resources/plugin/client.go
  plugins/source/snyk/resources/plugin/plugin.go
  plugins/source/snyk/resources/plugin/plugin_test.go
  plugins/source/snyk/resources/plugin/tables.go
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/dependency/dependencies_mock_test.go
  plugins/source/snyk/resources/services/group/group_members.go
  plugins/source/snyk/resources/services/group/groups.go
  plugins/source/snyk/resources/services/group/groups_mock_test.go
  plugins/source/snyk/resources/services/integration/integration_mock_test.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/members.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/organization/organizations_mock_test.go
  plugins/source/snyk/resources/services/organization/provisions.go
  plugins/source/snyk/resources/services/project/projects.go
  plugins/source/snyk/resources/services/project/projects_mock_test.go
  plugins/source/snyk/resources/services/reporting/issues.go
  plugins/source/snyk/resources/services/reporting/issues_mock_test.go
  plugins/source/snyk/resources/services/reporting/latest_issues.go
  plugins/source/snyk/resources/services/reporting/latest_issues_mock_test.go
  plugins/source/snyk/test/config.yml
Labels: area/plugin/source/snyk, area/ci

#15190 fix: Move homebrew to premium
  .github/workflows/source_homebrew.yml
  plugins/source/homebrew/.gitignore
  plugins/source/homebrew/.goreleaser.yaml
  plugins/source/homebrew/CHANGELOG.md
  plugins/source/homebrew/Makefile
  plugins/source/homebrew/README.md
  plugins/source/homebrew/client/client.go
  plugins/source/homebrew/client/errors.go
  plugins/source/homebrew/client/errors_test.go
  plugins/source/homebrew/client/spec.go
  plugins/source/homebrew/client/testing.go
  plugins/source/homebrew/docs/_configuration.md
  plugins/source/homebrew/docs/overview.md
  plugins/source/homebrew/docs/tables/README.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_build_errors_30d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_build_errors_365d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_build_errors_90d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_cask_installs_30d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_cask_installs_365d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_cask_installs_90d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_installs_30d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_installs_365d.md
  plugins/source/homebrew/docs/tables/homebrew_analytics_installs_90d.md
  plugins/source/homebrew/go.mod
  plugins/source/homebrew/go.sum
  plugins/source/homebrew/internal/homebrew/analytics.go
  plugins/source/homebrew/internal/homebrew/analytics_test.go
  plugins/source/homebrew/internal/homebrew/client.go
  plugins/source/homebrew/main.go
  plugins/source/homebrew/resources/plugin/client.go
  plugins/source/homebrew/resources/plugin/plugin.go
  plugins/source/homebrew/resources/services/analytics/build_errors.go
  plugins/source/homebrew/resources/services/analytics/build_errors_test.go
  plugins/source/homebrew/resources/services/analytics/cask_installs.go
  plugins/source/homebrew/resources/services/analytics/cask_installs_test.go
  plugins/source/homebrew/resources/services/analytics/installs.go
  plugins/source/homebrew/resources/services/analytics/installs_test.go
  plugins/source/homebrew/test/config.yml
  plugins/source/homebrew/tools/tool.go
Labels: area/plugin/source/homebrew, area/ci

#15198 chore: Update .release-please-manifest.json
  .release-please-manifest.json
Labels: automerge

#15206 fix(ci): Account for deleted files in CI as well
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, area/ci

#15205 fix: Remove policy doc gen
  plugins/source/azure/Makefile
  plugins/source/azure/scripts/policy_docs/main.go
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/gcp/Makefile
  plugins/source/gcp/scripts/policy_docs/main.go
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/k8s/Makefile
  plugins/source/k8s/scripts/policy_docs/main.go
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
Labels: area/plugin/source/gcp, area/plugin/source/azure, area/plugin/source/k8s

#15186 doc: Remove `isolation` column from `gcp_bigtableadmin_app_profiles`
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_app_profiles.md
Labels: automerge, area/plugin/source/gcp, priority merge

#15207 chore: Cleanup pr_labeler and release please
  .github/pr_labeler.yml
  release-please-config.json
Labels: automerge

#15208 chore: Remove vault ready for migration to premium
  .github/pr_labeler.yml
  .github/workflows/source_vault.yml
  plugins/source/vault/.gitignore
  plugins/source/vault/.goreleaser.yaml
  plugins/source/vault/CHANGELOG.md
  plugins/source/vault/Makefile
  plugins/source/vault/README.md
  plugins/source/vault/client/client.go
  plugins/source/vault/client/services.go
  plugins/source/vault/client/services/api/api.go
  plugins/source/vault/client/services/mocks/api.go
  plugins/source/vault/client/spec.go
  plugins/source/vault/client/spec_test.go
  plugins/source/vault/client/testing.go
  plugins/source/vault/codegen/main.go
  plugins/source/vault/docs/_authentication.md
  plugins/source/vault/docs/_configuration.md
  plugins/source/vault/docs/overview.md
  plugins/source/vault/docs/tables/README.md
  plugins/source/vault/docs/tables/vault_sys_audits.md
  plugins/source/vault/docs/tables/vault_sys_auths.md
  plugins/source/vault/docs/tables/vault_sys_mounts.md
  plugins/source/vault/docs/tables/vault_sys_plugins.md
  plugins/source/vault/docs/tables/vault_sys_policies.md
  plugins/source/vault/go.mod
  plugins/source/vault/go.sum
  plugins/source/vault/main.go
  plugins/source/vault/resources/plugin/client.go
  plugins/source/vault/resources/plugin/plugin.go
  plugins/source/vault/resources/services/vault_sys_audits.go
  plugins/source/vault/resources/services/vault_sys_audits_mock_test.go
  plugins/source/vault/resources/services/vault_sys_auths.go
  plugins/source/vault/resources/services/vault_sys_auths_mock_test.go
  plugins/source/vault/resources/services/vault_sys_mounts.go
  plugins/source/vault/resources/services/vault_sys_mounts_mock_test.go
  plugins/source/vault/resources/services/vault_sys_plugins.go
  plugins/source/vault/resources/services/vault_sys_plugins_mock_test.go
  plugins/source/vault/resources/services/vault_sys_policies.go
  plugins/source/vault/resources/services/vault_sys_policies_mock_test.go
  plugins/source/vault/test/config.yml
  plugins/source/vault/tools/tool.go
  release-please-config.json
Labels: automerge, area/plugin/source/vault, area/ci

#15209 chore(website): Update integration links for premium plugins to point to Hub
  website/components/Plugins.tsx
  website/components/pluginData.tsx
  website/pages/_meta.json
  website/scripts/prebuild.tsx
Labels: automerge, area/website

#15210 chore(website): Set up redirects
  website/components/Footer.tsx
  website/vercel.json
Labels: automerge, area/website

#15212 chore(ci): Update `golangci-lint` to `v1.55.2`
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_firehose.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_meilisearch.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/scaffold.yml
  .github/workflows/scripts_ci.yml
  .github/workflows/source_alicloud.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_awspricing.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_firestore.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_notion.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_stripe.yml
  .github/workflows/source_test.yml
  cli/.golangci.yml
  plugins/.golangci.yml
  plugins/source/aws/Makefile
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
Labels: automerge, area/plugin/source/aws, area/ci

#15214 doc: Add sign up and sign in information in our getting started pages
  website/components/mdx/_cloudquery_sign_in.mdx
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
Labels: automerge, kind/docs, area/website

#15215 fix: Improve error messages when downloads fail (upgrades plugin-pb-go to v1.13.5)
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#15220 chore: Update vercel.json redirects
  website/components/pluginData.tsx
  website/vercel.json
Labels: automerge, area/website

#15225 chore: Redirect destination plugins
  website/pages/docs/plugins/_meta.json
  website/pages/docs/plugins/destinations/_meta.js
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/overview.md
  website/vercel.json
Labels: automerge, area/website

#15231 chore: Update links to destinations overview
  website/components/mdx/_configure-destination.mdx
  website/components/mdx/_intro.mdx
  website/components/pages/IntegrationSource.tsx
  website/components/pages/home.tsx
  website/components/pages/integrations.tsx
  website/components/pages/landing/elt.tsx
  website/pages/blog/adopting-apache-arrow-at-cloudquery.mdx
  website/pages/blog/announcing-aws-partnership.mdx
  website/pages/blog/announcing-pagerduty-plugin.mdx
  website/pages/blog/building-cloudquery.mdx
  website/pages/blog/go-sdk-v4.mdx
  website/pages/blog/migrating-from-v0-to-v1.mdx
  website/pages/blog/postgres-cdc-to-any-destination.mdx
  website/pages/blog/proto-v3.mdx
  website/pages/docs/core-concepts/dashboards.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/cq-vs-others/cloudsploit-alternative-cloudquery.md
  website/pages/docs/deployment/google-cloud-vm.mdx
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
  website/pages/docs/plugins/sources/airtable/overview.md
  website/pages/docs/plugins/sources/bitbucket/overview.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/googleads/overview.md
  website/pages/docs/plugins/sources/launchdarkly/overview.md
  website/pages/docs/plugins/sources/mixpanel/overview.md
  website/pages/docs/plugins/sources/mongodbatlas/overview.md
  website/pages/docs/plugins/sources/plausible/overview.md
  website/pages/docs/plugins/sources/render/overview.md
  website/pages/docs/plugins/sources/square/overview.md
  website/pages/docs/plugins/sources/typeform/overview.md
  website/pages/docs/plugins/sources/vercel/overview.md
  website/pages/docs/reference/destination-spec.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.mdx
  website/pages/how-to-guides/manage-resilience-with-aws-backup.mdx
  website/vercel.json
Labels: automerge, area/website

#15232 chore: Disable github.com/cloudquery/cloudquery-api-go updates for plugins
  .github/renovate.json5
Labels: automerge

#15223 fix: Optimize batch writing
  plugins/destination/postgresql/client/insert.go
Labels: automerge, area/plugin/destination/postgresql

#15236 feat: Added plugins for azure adaptive application controls
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_security_adaptive_application_controls.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/security/adaptive_application_controls.go
  plugins/source/azure/resources/services/security/adaptive_application_controls_mock_test.go
Labels: automerge, area/plugin/source/azure

#15268 chore: Better names for sub-tests
  plugins/source/aws/client/testing.go
Labels: automerge, area/plugin/source/aws

#15269 fix: Validate `tags` in relations
  plugins/source/aws/resources/plugin/tables.go
Labels: automerge, area/plugin/source/aws

#15134 feat: Add more details to GitHub source app auth
  .github/styles/Vocab/Base/accept.txt
  plugins/source/github/docs/_authentication.md
Labels: automerge, kind/docs, area/plugin/source/github

#15264 feat: Add `plugin docs` commands for doc updates
  cli/cmd/hub_util.go
  cli/cmd/plugin_docs_download.go
  cli/cmd/plugin_docs_upload.go
  cli/cmd/plugin_publish.go
  cli/cmd/root.go
Labels: automerge, area/cli

#15173 fix: Better addon downloads
  cli/cmd/addon_download.go
  cli/cmd/addon_download_test.go
  cli/cmd/login.go
  cli/cmd/switch.go
  cli/go.mod
  cli/go.sum
  cli/internal/auth/token.go
Labels: automerge, area/cli

#15270 fix: Check proper table options for `aws_alpha_costexplorer_cost_custom`
  plugins/source/aws/resources/services/costexplorer/cost_custom.go
Labels: automerge, area/plugin/source/aws

#15278 feat: Add teamName to managed plugin configuration
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/tables.go
  cli/internal/auth/team.go
  cli/internal/auth/token.go
Labels: automerge, area/cli

#15286 fix: Add missing launchdarkly redirects
  website/vercel.json
Labels: automerge, priority merge

#15283 chore: Update CLI `plugin docs` command help text
  cli/cmd/plugin_docs_download.go
  cli/cmd/plugin_docs_upload.go
Labels: automerge, area/cli

#15275 fix: Hide plugins link in the sidebar
  website/pages/docs/_meta.json
  website/pages/docs/plugins/_meta.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/airtable/_meta.json
  website/pages/docs/plugins/sources/bitbucket/_meta.json
  website/pages/docs/plugins/sources/square/_meta.json
  website/pages/docs/plugins/sources/typeform/_meta.json
Labels: automerge, priority merge, area/website

#15273 fix: Increase test and lint timeouts in tests, fix caching
  scaffold/cmd/templates/source/.github/workflows/test.yaml.tpl
  scaffold/cmd/templates/source/Makefile.tpl
Labels: automerge, area/scaffold

#15285 fix: Simplify `addon download` team reading
  cli/cmd/addon_download.go
  cli/internal/auth/team.go
Labels: automerge, area/cli

#15279 chore: Embed latest version in docs during publish
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, area/ci

#15288 chore: Fix Release summary workflow
  .github/workflows/release_summary.yml
Labels: area/ci

#15290 chore: Fix latest tag step
  .github/workflows/release_summary.yml
Labels: priority merge, area/ci

#15274 chore: Update transformations
  website/pages/_meta.json
  website/pages/blog/2022-may-monthly.mdx
  website/pages/blog/announcing-aws-fsbp-policies-snowflake.mdx
  website/pages/blog/announcing-aws-partnership.mdx
  website/pages/blog/announcing-cloudquery-history.mdx
  website/pages/blog/announcing-cloudquery-policies.mdx
  website/pages/blog/announcing-gcp-partnership.mdx
  website/pages/blog/announcing-policies-in-cloudquery-hub.mdx
  website/pages/blog/aws-improvements-Q1-2022.mdx
  website/pages/blog/aws-resources-view.mdx
  website/pages/blog/cloudquery-v1-release.mdx
  website/pages/blog/continuous-aws-iam-security-best-practices.mdx
  website/pages/blog/how-to-aws-cis-compliance.mdx
  website/pages/blog/our-open-source-journey-building-cloudquery.mdx
  website/pages/blog/product-updates-7.mdx
  website/pages/blog/releasing-cloudquery-0.20.0.mdx
  website/pages/blog/running-aws-foundational-security-best-practices-with-cloudquery-policies.mdx
  website/pages/blog/running-aws-pci-dss-with-cloudquery-policies.mdx
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.mdx
  website/pages/docs/core-concepts/_meta.json
  website/pages/docs/core-concepts/dashboards.md
  website/pages/docs/core-concepts/policies.md
  website/pages/docs/core-concepts/transformations.md
  website/pages/how-to-guides/open-source-cspm.mdx
  website/pages/solutions/open-source-cspm.mdx
  website/vercel.json
Labels: automerge, priority merge, area/website

#15293 fix: Include `aws_batch_compute_environments` in list of tables
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_batch_compute_environments.md
  plugins/source/aws/resources/plugin/tables.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: automerge, area/plugin/source/aws, area/website

#15297 chore: Delete website/pages/docs/plugins/sources/aws directory
  website/pages/docs/plugins/sources/aws/tables.md
Labels: automerge, area/website

#15310 chore: Update website dashboards to hub
  website/pages/_meta.json
  website/pages/docs/core-concepts/dashboards.md
Labels: automerge, area/website

#15359 fix: Event-based sync doc
  plugins/source/aws/docs/event-based-sync.md
Labels: automerge, area/plugin/source/aws

#15353 fix: Fix `snake_case` parsing for `table_options`
  plugins/source/aws/client/spec/tableoptions/change_case.go
  plugins/source/aws/client/spec/tableoptions/table_options_test.go
  plugins/source/aws/docs/configuration.md
Labels: automerge, area/plugin/source/aws

#15380 feat!: Drop `url_config` column from `aws_lambda_function_aliases` table
  plugins/source/aws/docs/tables/aws_lambda_function_aliases.md
  plugins/source/aws/docs/tables/aws_lambda_function_url_configs.md
  plugins/source/aws/resources/services/lambda/function_aliases.go
  plugins/source/aws/resources/services/lambda/function_url_configs.go
  plugins/source/aws/resources/services/lambda/functions_mock_test.go
  plugins/source/aws/resources/services/lambda/models/lambda.go
  plugins/source/aws/resources/services/lambda/runtimes.go
  plugins/source/aws/resources/services/lambda/runtimes_mock_test.go
Labels: automerge, area/plugin/source/aws

#15373 fix!: Change table names that are singular to be plural to align with convention
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_redshift_clusters.md
  plugins/source/aws/docs/tables/aws_redshift_endpoint_accesses.md
  plugins/source/aws/docs/tables/aws_redshift_endpoint_authorizations.md
  plugins/source/aws/resources/plugin/plugin_test.go
  plugins/source/aws/resources/services/redshift/endpoint_access.go
  plugins/source/aws/resources/services/redshift/endpoint_authorization.go
Labels: automerge, area/plugin/source/aws

#15377 fix!: Add `image_arn` to `aws_ec2_image_launch_permissions` primary keys
  plugins/source/aws/docs/tables/aws_ec2_image_launch_permissions.md
  plugins/source/aws/resources/services/ec2/image_attributes.go
  plugins/source/aws/resources/services/ec2/images_mock_test.go
Labels: automerge, area/plugin/source/aws

#15375 fix!: Remove invalid ARNs
  plugins/source/aws/docs/tables/aws_ec2_instance_statuses.md
  plugins/source/aws/docs/tables/aws_ec2_instance_types.md
  plugins/source/aws/docs/tables/aws_ec2_vpc_endpoint_service_configurations.md
  plugins/source/aws/docs/tables/aws_ec2_vpc_endpoint_services.md
  plugins/source/aws/docs/tables/aws_elasticache_reserved_cache_nodes_offerings.md
  plugins/source/aws/resources/services/ec2/instance_statuses.go
  plugins/source/aws/resources/services/ec2/instance_types.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_service_configurations.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes_offerings.go
Labels: automerge, area/plugin/source/aws

#15383 feat: Single title transformation pass
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
Labels: automerge, area/plugin/source/aws

#15378 fix!: Change `aws_ec2_images` table `creation_date` & `deprecation_time` columns type to `timestamp`
  plugins/source/aws/docs/tables/aws_ec2_images.md
  plugins/source/aws/resources/services/ec2/images.go
  plugins/source/aws/resources/services/ec2/images_mock_test.go
Labels: automerge, area/plugin/source/aws

#15385 chore: Fix broken link to govcert blog
  website/pages/blog/aws-log4j-and-finding-unrestricted-outbound-access.mdx
Labels: automerge

#15390 chore: Update contribution guide
  CODE_OF_CONDUCT.md
  README.md
Labels: automerge

#15393 fix: Logout should unset team
  cli/internal/auth/logout.go
Labels: automerge

#15389 fix: Provide primary keys for tables (A-C)
  plugins/source/aws/docs/tables/aws_accessanalyzer_analyzer_archive_rules.md
  plugins/source/aws/docs/tables/aws_apprunner_custom_domains.md
  plugins/source/aws/docs/tables/aws_apprunner_operations.md
  plugins/source/aws/docs/tables/aws_athena_work_group_named_queries.md
  plugins/source/aws/docs/tables/aws_athena_work_group_prepared_statements.md
  plugins/source/aws/docs/tables/aws_athena_work_group_query_executions.md
  plugins/source/aws/docs/tables/aws_autoscaling_group_lifecycle_hooks.md
  plugins/source/aws/docs/tables/aws_backup_plan_selections.md
  plugins/source/aws/docs/tables/aws_backup_plans.md
  plugins/source/aws/docs/tables/aws_cloudformation_stack_instance_summaries.md
  plugins/source/aws/docs/tables/aws_cloudformation_stack_resources.md
  plugins/source/aws/docs/tables/aws_cloudformation_stack_set_operation_results.md
  plugins/source/aws/resources/services/accessanalyzer/analyzer_archive_rules.go
  plugins/source/aws/resources/services/apprunner/custom_domains.go
  plugins/source/aws/resources/services/apprunner/operations.go
  plugins/source/aws/resources/services/athena/work_group_named_queries.go
  plugins/source/aws/resources/services/athena/work_group_prepared_statements.go
  plugins/source/aws/resources/services/athena/work_group_query_executions.go
  plugins/source/aws/resources/services/autoscaling/group_lifecycle_hooks.go
  plugins/source/aws/resources/services/backup/plan_selections.go
  plugins/source/aws/resources/services/backup/plans.go
  plugins/source/aws/resources/services/backup/plans_mock_test.go
  plugins/source/aws/resources/services/cloudformation/stack_instances.go
  plugins/source/aws/resources/services/cloudformation/stack_resources.go
  plugins/source/aws/resources/services/cloudformation/stackset_operation_results.go
  plugins/source/aws/resources/services/cloudformation/stackset_operations.go
  plugins/source/aws/resources/services/cloudtrail/trail_event_selectors.go
  plugins/source/aws/resources/services/cloudtrail/trails_mock_test.go
Labels: automerge, area/plugin/source/aws

#15398 feat!: Remove `aws_alpha_*` tables
  plugins/source/aws/docs/configuration.md
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_alpha_cloudwatch_metric_statistics.md
  plugins/source/aws/docs/tables/aws_alpha_cloudwatch_metrics.md
  plugins/source/aws/docs/tables/aws_alpha_costexplorer_cost_custom.md
  plugins/source/aws/resources/plugin/plugin_test.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudwatch/metric_statistics.go
  plugins/source/aws/resources/services/cloudwatch/metrics.go
  plugins/source/aws/resources/services/cloudwatch/metrics_mock_test.go
  plugins/source/aws/resources/services/costexplorer/cost_custom.go
Labels: automerge, area/plugin/source/aws

#15401 chore: Migrate cloudflare redirects
  website/vercel.json
Labels: area/website

#15386 feat!: Change default scheduler from `dfs` to `shuffle`
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/client/spec/spec_test.go
  plugins/source/aws/resources/plugin/client.go
Labels: automerge, area/plugin/source/aws

#15394 fix(deps)!: Update `aws-sdk-go-v2/service/quicksight` package
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services/quicksight.go
  plugins/source/aws/docs/tables/aws_quicksight_analyses.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Labels: automerge, area/plugin/source/aws

#15402 chore: Redirect root to /docs
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  website/theme.config.tsx
  website/vercel.json
Labels: automerge, area/ci, area/website

#15410 fix!: Change `googleapi.RawMessage` column type from binary to JSON
  plugins/source/gcp/client/transformers.go
  plugins/source/gcp/docs/tables/gcp_artifactregistry_locations.md
  plugins/source/gcp/docs/tables/gcp_cloudscheduler_locations.md
  plugins/source/gcp/docs/tables/gcp_networkconnectivity_locations.md
  plugins/source/gcp/docs/tables/gcp_run_locations.md
Labels: automerge, area/plugin/source/gcp

#15416 chore: Update policy tests to use `cloudquery` registry
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Labels: automerge, area/plugin/source/aws, area/plugin/source/gcp, area/plugin/source/azure, area/plugin/source/k8s

#15417 fix(deps): Update plugin-pb-go to v1.14.1
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli, priority merge

#15407 fix!: Set `EfsFilesystemBackupPolicyStatus` value to `nil` when API returns 404
  plugins/source/aws/resources/services/efs/filesystems.go
Labels: automerge, area/plugin/source/aws

#15405 fix!: Remove deprecated `table_options`
  plugins/source/aws/client/client.go
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/client/spec/spec_test.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings_test.go
  plugins/source/aws/client/spec/tableoptions/change_case.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events_test.go
  plugins/source/aws/client/spec/tableoptions/cloudwatch.go
  plugins/source/aws/client/spec/tableoptions/cloudwatch_test.go
  plugins/source/aws/client/spec/tableoptions/costexplorer.go
  plugins/source/aws/client/spec/tableoptions/costexplorer_test.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks_test.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings_test.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings_test.go
  plugins/source/aws/client/spec/tableoptions/table_options.go
  plugins/source/aws/client/spec/tableoptions/table_options_test.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/docs/_configuration.md
  plugins/source/aws/docs/configuration.md
  plugins/source/aws/docs/versioning.md
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/cloudtrail/events.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/inspector2/findings.go
  plugins/source/aws/resources/services/securityhub/findings.go
Labels: automerge, area/plugin/source/aws

#15422 fix!: Change primary key for `aws_organizations` such that it can accurately handle all data
  plugins/source/aws/docs/tables/aws_organizations.md
  plugins/source/aws/resources/services/organizations/organizations.go
Labels: automerge, area/plugin/source/aws

#15423 doc: Simplify `aws_alpha_` wording
  plugins/source/aws/docs/versioning.md
Labels: automerge, area/plugin/source/aws

#15429 chore: Add missing redirects
  website/vercel.json
Labels: area/website

#15409 feat!: Make `registry: cloudquery` the default registry instead of `registry: github`
  cli/cmd/infer_test.go
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/registry.go
  cli/cmd/specs.go
  cli/cmd/sync.go
  cli/cmd/tables.go
  cli/cmd/testdata/different-backend-from-destination.yml
  cli/cmd/testdata/multiple-destinations.yml
  cli/cmd/testdata/multiple-sources-destinations.yml
  cli/cmd/testdata/multiple-sources.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success-sourcev1-destv0.yml
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/destination_test.go
  cli/internal/specs/v0/registry.go
  cli/internal/specs/v0/registry_test.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
Labels: automerge, area/cli

#15435 feat: Addon downloads should use the team assigned to api key
  cli/cmd/addon_download.go
  cli/cmd/addon_download_test.go
  cli/internal/auth/team.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#15446 chore: Use relative links instead of absolute where applicable
  website/pages/blog/2022-may-monthly.mdx
  website/pages/blog/adopting-apache-arrow-at-cloudquery.mdx
  website/pages/blog/announcing-aws-fsbp-policies-snowflake.mdx
  website/pages/blog/announcing-aws-partnership.mdx
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/pages/blog/announcing-cloudquery-history.mdx
  website/pages/blog/announcing-cloudquery-hub.mdx
  website/pages/blog/announcing-cloudquery-java-sdk.mdx
  website/pages/blog/announcing-cloudquery-javascript-sdk.mdx
  website/pages/blog/announcing-cloudquery-seed-funding.mdx
  website/pages/blog/announcing-cloudquery-terraform-drift-detection.mdx
  website/pages/blog/announcing-gcp-partnership.mdx
  website/pages/blog/announcing-policies-in-cloudquery-hub.mdx
  website/pages/blog/aws-log4j-and-finding-unrestricted-outbound-access.mdx
  website/pages/blog/aws-priv-esc-identity-center.mdx
  website/pages/blog/aws-sso-and-the-lost-iam-keys.mdx
  website/pages/blog/aws-sso-if-deleted-sso-identity-provider.mdx
  website/pages/blog/building-an-infrastructure-data-lake-with-mongodb.mdx
  website/pages/blog/building-cloudquery.mdx
  website/pages/blog/cloudquery-raises-15m-series-a.mdx
  website/pages/blog/cloudquery-v1-release.mdx
  website/pages/blog/exploring-api-data-with-duckdb.mdx
  website/pages/blog/how-hexagon-built-an-infrastructure-data-lake.mdx
  website/pages/blog/how-to-setup-aws-cli-with-aws-sso.mdx
  website/pages/blog/introducing-cloudquery-sdk.mdx
  website/pages/blog/introducing-the-github-cloudquery-provider.mdx
  website/pages/blog/migration-and-history-deprecation.mdx
  website/pages/blog/our-open-source-journey-building-cloudquery.mdx
  website/pages/blog/outdated-aws-iam-policy-language.mdx
  website/pages/blog/postgres-cdc-to-any-destination.mdx
  website/pages/blog/product-updates-1.mdx
  website/pages/blog/product-updates-2.mdx
  website/pages/blog/product-updates-7.mdx
  website/pages/blog/product-updates-8.mdx
  website/pages/blog/releasing-cloudquery-0.20.0.mdx
  website/pages/blog/terraform-drift-deprecation.mdx
  website/pages/blog/what-is-the-modern-data-stack.mdx
  website/pages/case-studies/how-hexagon-built-an-infrastructure-data-lake.mdx
  website/pages/docs/deployment/google-cloud-vm.mdx
  website/pages/docs/developers/build.md
  website/pages/how-to-guides/aws-resource-limits-and-service-quotas.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-apache-superset.mdx
  website/pages/how-to-guides/cloudquery-postgraphile.mdx
  website/pages/how-to-guides/cloudquery-postgrest.mdx
  website/pages/logo.mdx
Labels: automerge, area/website

#15448 fix: Change shutdown sequence after cloudquery login
  cli/cmd/login.go
Labels: automerge, area/cli

#15466 feat: Add `azure_resources_providers` table
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_resources_providers.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/resources/providers.go
  plugins/source/azure/resources/services/resources/providers_mock_test.go
Labels: area/plugin/source/azure

#15471 chore: Disable publishing for open source test plugin
  release-please-config.json
Labels: automerge

#15462 chore: Fix canonical URLs
  website/components/_app.tsx
Labels: automerge, area/website

#15472 feat: Add indication of Paid Tables in documents generated by tables command
  cli/internal/docs/templates/table.md.go.tpl
Labels: automerge, area/cli

#15425 feat!: Move `aws_ecr_repositories.policy_text` to its own table `aws_ecr_repository_policies`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/docs/tables/aws_ecr_repository_policies.md
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repository_policy.go
Labels: automerge, area/plugin/source/aws

#15481 chore: Don't publish tables file with docs
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci

#15474 chore: Announce CQ Marketplace
  website/pages/blog/announcing-cloudquery-marketplace.mdx
Labels: automerge, area/website

#15424 feat!: Move `aws_organizations_delegated_services` to be a relation of `aws_organizations_delegated_administrators`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_organizations_accounts.md
  plugins/source/aws/docs/tables/aws_organizations_delegated_administrators.md
  plugins/source/aws/docs/tables/aws_organizations_delegated_services.md
  plugins/source/aws/resources/services/organizations/accounts.go
  plugins/source/aws/resources/services/organizations/accounts_mock_test.go
  plugins/source/aws/resources/services/organizations/delegated_admins.go
  plugins/source/aws/resources/services/organizations/delegated_admins_mock_test.go
  plugins/source/aws/resources/services/organizations/delegated_services.go
Labels: automerge, area/plugin/source/aws

#15488 chore: Don't use collapsible content in GitHub docs
  plugins/source/github/docs/_authentication.md
Labels: automerge, area/plugin/source/github

#15489 chore: Update index.mdx with a type fix
  website/pages/docs/index.mdx
Labels: automerge, area/website

#15490 fix: Add missing new line for paid tables docs
  cli/internal/docs/generator_test.go
  cli/internal/docs/templates/table.md.go.tpl
  cli/internal/docs/testdata/TestGeneratePluginDocs-JSON-__tables.json
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-README.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-paid_table.md
Labels: automerge, area/cli, priority merge

#15395 fix!: Refactor `aws_s3_buckets` to use nested tables rather than that column resolvers
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_s3_bucket_loggings.md
  plugins/source/aws/docs/tables/aws_s3_bucket_ownership_controls.md
  plugins/source/aws/docs/tables/aws_s3_bucket_policies.md
  plugins/source/aws/docs/tables/aws_s3_bucket_public_access_blocks.md
  plugins/source/aws/docs/tables/aws_s3_bucket_replications.md
  plugins/source/aws/docs/tables/aws_s3_bucket_versionings.md
  plugins/source/aws/docs/tables/aws_s3_buckets.md
  plugins/source/aws/resources/plugin/plugin_test.go
  plugins/source/aws/resources/services/s3/bucket_logging.go
  plugins/source/aws/resources/services/s3/bucket_ownership_controls.go
  plugins/source/aws/resources/services/s3/bucket_policies.go
  plugins/source/aws/resources/services/s3/bucket_public_access_block.go
  plugins/source/aws/resources/services/s3/bucket_replications.go
  plugins/source/aws/resources/services/s3/bucket_versioning.go
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/models/s3.go
Labels: automerge, area/plugin/source/aws

#15463 chore: Update publishing instructions in go source guide
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
Labels: automerge, area/website

#15413 fix!: Provide primary keys for tables (C)
  plugins/source/aws/docs/tables/aws_cognito_user_pool_identity_providers.md
  plugins/source/aws/docs/tables/aws_config_config_rule_compliance_details.md
  plugins/source/aws/docs/tables/aws_config_config_rule_compliances.md
  plugins/source/aws/docs/tables/aws_config_remediation_configurations.md
  plugins/source/aws/resources/services/cognito/user_pool_identity_providers.go
  plugins/source/aws/resources/services/config/config_rule_compliance_details.go
  plugins/source/aws/resources/services/config/config_rule_compliances.go
  plugins/source/aws/resources/services/config/remediation_configurations.go
Labels: automerge, area/plugin/source/aws

#15494 fix!: Provide primary keys for tables (S3)
  plugins/source/aws/docs/tables/aws_s3_bucket_cors_rules.md
  plugins/source/aws/docs/tables/aws_s3_bucket_lifecycles.md
  plugins/source/aws/docs/tables/aws_s3_bucket_loggings.md
  plugins/source/aws/docs/tables/aws_s3_bucket_ownership_controls.md
  plugins/source/aws/docs/tables/aws_s3_bucket_policies.md
  plugins/source/aws/docs/tables/aws_s3_bucket_public_access_blocks.md
  plugins/source/aws/docs/tables/aws_s3_bucket_replications.md
  plugins/source/aws/docs/tables/aws_s3_bucket_versionings.md
  plugins/source/aws/docs/tables/aws_s3_bucket_websites.md
  plugins/source/aws/resources/services/s3/bucket_cors_rules.go
  plugins/source/aws/resources/services/s3/bucket_lifecycles.go
  plugins/source/aws/resources/services/s3/bucket_logging.go
  plugins/source/aws/resources/services/s3/bucket_ownership_controls.go
  plugins/source/aws/resources/services/s3/bucket_policies.go
  plugins/source/aws/resources/services/s3/bucket_public_access_block.go
  plugins/source/aws/resources/services/s3/bucket_replications.go
  plugins/source/aws/resources/services/s3/bucket_versioning.go
  plugins/source/aws/resources/services/s3/bucket_websites.go
Labels: automerge, area/plugin/source/aws

#15495 feat!: Decouple AWS Account Authorization from IAM Policies
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_account_authorization_details.md
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/docs/tables/aws_iam_policy_versions.md
  plugins/source/aws/policies_v1/queries/iam/no_star.sql
  plugins/source/aws/policies_v1/queries/iam/wildcard_access_policies.sql
  plugins/source/aws/policies_v1/queries/kms/customer_policy_blocked_kms_actions.sql
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/iam/account_authorization_details.go
  plugins/source/aws/resources/services/iam/account_authorization_details_mock_test.go
  plugins/source/aws/resources/services/iam/last_accessed_details.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policies_mock_test.go
  plugins/source/aws/resources/services/iam/policy_versions.go
Labels: automerge, area/plugin/source/aws

#15483 chore: Fix link to image in docs
  plugins/source/aws/docs/event-based-sync.md
Labels: automerge, area/plugin/source/aws

#15500 chore: Disable publishing for open source AWS plugin
  release-please-config.json
Labels: automerge

#15503 chore: Disable publishing for open source GCP plugin
  release-please-config.json
Labels: automerge

#15496 doc: Product Updates - November 2023
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/product-updates-10.mdx
  website/public/images/blog/aws-scheduler-change-chart.png
Labels: automerge, kind/docs, area/website

#15505 doc: Fix links in the newsletter
  website/pages/blog/product-updates-10.mdx
Labels: area/website

#15469 fix!: Provide primary keys for tables (L)
  plugins/source/aws/docs/tables/aws_lambda_function_concurrency_configs.md
  plugins/source/aws/docs/tables/aws_lambda_function_event_invoke_configs.md
  plugins/source/aws/docs/tables/aws_lambda_function_event_source_mappings.md
  plugins/source/aws/docs/tables/aws_lambda_layer_version_policies.md
  plugins/source/aws/docs/tables/aws_lightsail_bucket_access_keys.md
  plugins/source/aws/docs/tables/aws_lightsail_container_service_deployments.md
  plugins/source/aws/docs/tables/aws_lightsail_container_service_images.md
  plugins/source/aws/docs/tables/aws_lightsail_database_events.md
  plugins/source/aws/docs/tables/aws_lightsail_database_log_events.md
  plugins/source/aws/docs/tables/aws_lightsail_database_parameters.md
  plugins/source/aws/docs/tables/aws_lightsail_instance_port_states.md
  plugins/source/aws/go.mod
  plugins/source/aws/resources/services/lambda/function_aliases.go
  plugins/source/aws/resources/services/lambda/function_concurrency_configs.go
  plugins/source/aws/resources/services/lambda/function_event_invoke_configs.go
  plugins/source/aws/resources/services/lambda/function_event_source_mappings.go
  plugins/source/aws/resources/services/lambda/function_url_configs.go
  plugins/source/aws/resources/services/lambda/function_versions.go
  plugins/source/aws/resources/services/lambda/functions.go
  plugins/source/aws/resources/services/lambda/functions_mock_test.go
  plugins/source/aws/resources/services/lambda/layer_version_policies.go
  plugins/source/aws/resources/services/lightsail/bucket_access_keys.go
  plugins/source/aws/resources/services/lightsail/container_service_deployments.go
  plugins/source/aws/resources/services/lightsail/container_service_images.go
  plugins/source/aws/resources/services/lightsail/database_events.go
  plugins/source/aws/resources/services/lightsail/database_log_events.go
  plugins/source/aws/resources/services/lightsail/database_parameters.go
  plugins/source/aws/resources/services/lightsail/instance_port_states.go
Labels: automerge, area/plugin/source/aws

#15447 fix!: Provide primary keys for tables (E)
  plugins/source/aws/docs/tables/aws_ecs_cluster_container_instances.md
  plugins/source/aws/docs/tables/aws_elasticache_update_actions.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_configuration_options.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_configuration_settings.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_environments.md
  plugins/source/aws/docs/tables/aws_elbv1_load_balancer_policies.md
  plugins/source/aws/docs/tables/aws_elbv2_listener_certificates.md
  plugins/source/aws/docs/tables/aws_elbv2_load_balancer_attributes.md
  plugins/source/aws/docs/tables/aws_elbv2_target_group_target_health_descriptions.md
  plugins/source/aws/resources/services/ecs/cluster_container_instances.go
  plugins/source/aws/resources/services/elasticache/update_actions.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_options.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_settings.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments.go
  plugins/source/aws/resources/services/elasticbeanstalk/models/elasticbeanstalk.go
  plugins/source/aws/resources/services/elbv1/load_balancer_policies.go
  plugins/source/aws/resources/services/elbv2/listener_certificates.go
  plugins/source/aws/resources/services/elbv2/load_balancer_attributes.go
  plugins/source/aws/resources/services/elbv2/target_group_target_health_descriptions.go
Labels: automerge, area/plugin/source/aws

#15434 fix!: Streamline primary keys for `aws_ecr_repository_*`
  plugins/source/aws/docs/tables/aws_ecr_registry_policies.md
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/docs/tables/aws_ecr_repository_image_scan_findings.md
  plugins/source/aws/docs/tables/aws_ecr_repository_images.md
  plugins/source/aws/docs/tables/aws_ecr_repository_lifecycle_policies.md
  plugins/source/aws/docs/tables/aws_ecr_repository_policies.md
  plugins/source/aws/resources/services/ecr/lifecycle_policy.go
  plugins/source/aws/resources/services/ecr/models/ecr.go
  plugins/source/aws/resources/services/ecr/registries.go
  plugins/source/aws/resources/services/ecr/registry_policies.go
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repository_image_scan_findings.go
  plugins/source/aws/resources/services/ecr/repository_images.go
  plugins/source/aws/resources/services/ecr/repository_policy.go
Labels: automerge, area/plugin/source/aws
