Repository cloudquery/cloudquery, pull requests merged in 2023-04, with the labels that each got.

#9611 fix(aws): Tag Pagination Properly Handled
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations.go
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations_fetch.go
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations_mock_test.go
  plugins/source/aws/resources/services/sagemaker/models.go
  plugins/source/aws/resources/services/sagemaker/models_fetch.go
  plugins/source/aws/resources/services/sagemaker/models_mock_test.go
  plugins/source/aws/resources/services/sagemaker/notebook_instances.go
  plugins/source/aws/resources/services/sagemaker/notebook_instances_fetch.go
  plugins/source/aws/resources/services/sagemaker/notebook_instances_mock_test.go
  plugins/source/aws/resources/services/sagemaker/training_jobs.go
  plugins/source/aws/resources/services/sagemaker/training_jobs_fetch.go
  plugins/source/aws/resources/services/sagemaker/training_jobs_mock_test.go
Labels: aws, automerge

#9556 fix(aws)!: Remove `region` from `aws_neptune_global_clusters`
  plugins/source/aws/resources/services/neptune/global_clusters.go
  plugins/source/aws/resources/services/neptune/global_clusters_fetch.go
  plugins/source/aws/resources/services/neptune/global_clusters_mock_test.go
  website/tables/aws/aws_neptune_global_clusters.md
Labels: aws, automerge, website

#9555 fix(aws)!: GuardDuty detector findings PK should include detector
  plugins/source/aws/resources/services/guardduty/detector_findings.go
  website/tables/aws/aws_guardduty_detector_findings.md
Labels: aws, automerge, website

#9558 fix(aws)!: Remove `region` from `aws_docdb_global_clusters`
  plugins/source/aws/resources/services/docdb/global_clusters.go
  website/tables/aws/aws_docdb_global_clusters.md
Labels: aws, automerge, website

#9559 fix(aws)!: Add `cluster_arn` to `aws_ecs_cluster_services` primary key
  plugins/source/aws/resources/services/ecs/cluster_services.go
  website/tables/aws/aws_ecs_cluster_services.md
Labels: aws, automerge, website

#9615 fix(github)!: Add `repository_id` to `github_issues` primary key
  plugins/source/github/client/mocks/mock_issues.go
  plugins/source/github/client/services.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/issues/issues_test.go
  website/tables/github/github_issues.md
Labels: automerge, github, website

#9642 chore(website): Document append-only mode for ClickHouse
  website/pages/docs/plugins/destinations/clickhouse/_configuration.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website

#9641 fix(clickhouse): Migration has to look only at `not null` option
  plugins/destination/clickhouse/queries/types.go
Labels: automerge, clickhouse

#9554 fix(github): Use cursor-based sync for `github_repository_dependabot_alerts`
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/repositories/alerts.go
Labels: automerge, github

#9649 fix(website): Fix Apache Superset Broken Link
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-apache-superset.mdx
Labels: automerge, website

#9645 chore(aws): Pagination improvements
  plugins/source/aws/resources/services/codebuild/projects.go
  plugins/source/aws/resources/services/codepipeline/webhooks.go
  plugins/source/aws/resources/services/eks/clusters.go
  plugins/source/aws/resources/services/elbv2/listeners.go
  plugins/source/aws/resources/services/elbv2/target_groups.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/iam/accounts.go
  plugins/source/aws/resources/services/iam/group_policies.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/user_access_keys.go
  plugins/source/aws/resources/services/iam/user_policies.go
  plugins/source/aws/resources/services/iam/virtual_mfa_devices.go
  plugins/source/aws/resources/services/kafka/cluster_operations.go
  plugins/source/aws/resources/services/kafka/clusters.go
  plugins/source/aws/resources/services/kafka/nodes.go
  plugins/source/aws/resources/services/kinesis/streams.go
  plugins/source/aws/resources/services/kinesis/streams_mock_test.go
  plugins/source/aws/resources/services/ssm/instances.go
  plugins/source/aws/resources/services/ssm/parameters.go
  plugins/source/aws/resources/services/ssm/sessions.go
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/transfer/servers.go
  plugins/source/aws/resources/services/workspaces/directories.go
  plugins/source/aws/resources/services/workspaces/workspaces.go
Labels: aws, automerge

#9639 fix(alicloud)!: Add `billing_date` and `instance_id` to `alicloud_bss_bill_details` primary key
  plugins/source/alicloud/resources/services/bss/bill_details.go
  website/tables/alicloud/alicloud_bss_bill_details.md
Labels: automerge, website, alicloud

#9646 fix(aws): Implement proper tag pagination
  plugins/source/aws/resources/services/codepipeline/pipelines.go
  plugins/source/aws/resources/services/codepipeline/pipelines_mock_test.go
  plugins/source/aws/resources/services/dax/clusters.go
  plugins/source/aws/resources/services/dax/clusters_mock_test.go
  plugins/source/aws/resources/services/dynamodb/global_tables.go
  plugins/source/aws/resources/services/dynamodb/global_tables_mock_test.go
  plugins/source/aws/resources/services/dynamodb/tables.go
  plugins/source/aws/resources/services/dynamodb/tables_mock_test.go
  plugins/source/aws/resources/services/waf/rule_groups.go
  plugins/source/aws/resources/services/wafv2/ipsets.go
Labels: aws, automerge

#9650 fix(aws)!: Change `aws_inspector2_findings` Primary Key to Include `request_account_id` and `request_region`
  plugins/source/aws/resources/services/inspector2/findings.go
  website/tables/aws/aws_inspector2_findings.md
Labels: aws, automerge, website

#9648 fix(aws)!: Fix Errors in `aws_eventbridge_event_bus_targets`
  plugins/source/aws/resources/services/eventbridge/event_bus_targets.go
  website/tables/aws/aws_eventbridge_event_bus_targets.md
Labels: aws, automerge, website

#9660 chore(snyk): Move fetch to table definitions
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/dependency/dependencies_fetch.go
  plugins/source/snyk/resources/services/integration/integration_fetch.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/organization_fetch.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/project/projects.go
  plugins/source/snyk/resources/services/project/projects_fetch.go
Labels: automerge, snyk

#9673 fix(website): Default DESTINATION_NAME to postgresql
  website/next.config.mjs
Labels: automerge, website

#9708 chore: Fix Tests in table_diff
  scripts/table_diff/changes/changes_test.go
Labels: automerge

#9737 feat(ci): Add CI for our scripts
  .github/workflows/scripts_ci.yml
  scripts/table_diff/main.go
Labels: automerge

#9732 fix(aws)!: Add `request_account_id` to `aws_organizations_roots` primary key
  plugins/source/aws/resources/services/organizations/roots.go
  website/tables/aws/aws_organizations_roots.md
Labels: aws, automerge, website

#9746 fix(aws): Properly Handle Pagination for Guardduty Findings
  plugins/source/aws/resources/services/guardduty/detector_findings.go
Labels: aws, automerge

#9748 fix(website): Revert To last stable AWS version
  website/versions/source-aws.json
Labels: automerge, website

#9750 fix: Use aws.ToString(output.NextToken) when checking tokens
  plugins/source/aws/resources/services/appstream/application_fleet_associations.go
  plugins/source/aws/resources/services/appstream/applications.go
  plugins/source/aws/resources/services/appstream/stack_entitlements.go
  plugins/source/aws/resources/services/appstream/stack_user_associations.go
  plugins/source/aws/resources/services/appstream/stacks.go
  plugins/source/aws/resources/services/appstream/users.go
  plugins/source/aws/resources/services/config/conformance_pack_rule_compliances.go
  plugins/source/aws/resources/services/config/conformance_packs.go
  plugins/source/aws/resources/services/ecs/cluster_container_instances.go
  plugins/source/aws/resources/services/ecs/cluster_services.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/vpc_endpoints.go
  plugins/source/aws/resources/services/guardduty/detector_filters.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/guardduty/detector_threat_intel_sets.go
  plugins/source/aws/resources/services/guardduty/detectors.go
Labels: aws

#9757 fix: Fix case on arn attribute
  plugins/source/aws/policies/queries/iam/hardware_mfa_enabled_for_root.sql
Labels: aws, automerge

#9754 fix(aws): Replace more manual pagination with Paginator objects
  plugins/source/aws/resources/services/config/conformance_pack_rule_compliances.go
  plugins/source/aws/resources/services/config/conformance_packs.go
  plugins/source/aws/resources/services/ec2/byoip_cidrs.go
  plugins/source/aws/resources/services/ecs/cluster_container_instances.go
  plugins/source/aws/resources/services/ecs/cluster_services.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/guardduty/detector_filters.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/guardduty/detector_threat_intel_sets.go
  plugins/source/aws/resources/services/guardduty/detectors.go
  plugins/source/aws/resources/services/lambda/function_aliases.go
  plugins/source/aws/resources/services/lambda/function_concurrency_configs.go
  plugins/source/aws/resources/services/lambda/function_event_invoke_configs.go
  plugins/source/aws/resources/services/lambda/function_event_source_mappings.go
  plugins/source/aws/resources/services/lambda/function_versions.go
  plugins/source/aws/resources/services/lambda/layers.go
  plugins/source/aws/resources/services/quicksight/folders.go
  plugins/source/aws/resources/services/quicksight/group_members.go
  plugins/source/aws/resources/services/quicksight/users.go
  plugins/source/aws/resources/services/ram/resource_share_invitations.go
  plugins/source/aws/resources/services/rds/cluster_parameter_groups.go
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_parameter_groups.go
  plugins/source/aws/resources/services/rds/db_proxies.go
  plugins/source/aws/resources/services/rds/db_security_groups.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/event_subscriptions.go
  plugins/source/aws/resources/services/redshift/cluster_parameters.go
  plugins/source/aws/resources/services/redshift/clusters.go
  plugins/source/aws/resources/services/redshift/data_shares.go
  plugins/source/aws/resources/services/redshift/endpoint_access.go
  plugins/source/aws/resources/services/redshift/endpoint_authorization.go
  plugins/source/aws/resources/services/redshift/event_subscriptions.go
  plugins/source/aws/resources/services/redshift/events.go
  plugins/source/aws/resources/services/redshift/snapshots.go
  plugins/source/aws/resources/services/redshift/subnet_groups.go
  plugins/source/aws/resources/services/route53/delegation_sets.go
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/route53/health_checks.go
  plugins/source/aws/resources/services/route53/hosted_zone_query_logging_configs.go
  plugins/source/aws/resources/services/route53/hosted_zone_traffic_policy_instances.go
  plugins/source/aws/resources/services/route53/hosted_zones.go
  plugins/source/aws/resources/services/route53/traffic_policies.go
  plugins/source/aws/resources/services/sagemaker/models.go
  plugins/source/aws/resources/services/sagemaker/notebook_instances.go
  plugins/source/aws/resources/services/savingsplans/savingsplans.go
  plugins/source/aws/resources/services/servicecatalog/products.go
  plugins/source/aws/resources/services/servicecatalog/provisioned_products.go
  plugins/source/aws/resources/services/shield/protection_groups.go
  plugins/source/aws/resources/services/shield/protections.go
  plugins/source/aws/resources/services/ssm/compliance_summary_items.go
  plugins/source/aws/resources/services/ssm/document_versions.go
  plugins/source/aws/resources/services/ssm/documents.go
  plugins/source/aws/resources/services/ssm/instance_compliance_items.go
Labels: aws, automerge

#9761 fix(website): Glossary fixes
  website/pages/docs/glossary/_meta.json
  website/pages/docs/glossary/overview.md
  website/pages/docs/glossary/what-is-cnapp.md
  website/pages/docs/glossary/what-is-cspm.md
  website/pages/docs/glossary/what-is-cwpp.md
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
  website/pages/docs/glossary/what-is-the-modern-data-stack.mdx
Labels: automerge, website

#9734 feat(workflows): Reusable `resolve-runner` workflow
  .github/workflows/cli.yml
  .github/workflows/resolve_runner.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
Labels: automerge

#9766 chore(googleads): Use `maps.Copy`
  plugins/source/googleads/client/testing.go
  plugins/source/googleads/resources/ads/group_ad_labels_test.go
  plugins/source/googleads/resources/ads/group_ads_test.go
  plugins/source/googleads/resources/ads/group_criteria_test.go
  plugins/source/googleads/resources/ads/group_criterion_labels_test.go
  plugins/source/googleads/resources/ads/group_labels_test.go
  plugins/source/googleads/resources/ads/groups_test.go
  plugins/source/googleads/resources/campaigns/campaign_criteria_test.go
  plugins/source/googleads/resources/campaigns/campaign_labels_test.go
  plugins/source/googleads/resources/campaigns/campaigns_test.go
  plugins/source/googleads/resources/customers/customer_labels_test.go
  plugins/source/googleads/resources/customers/customers_test.go
Labels: automerge

#9759 fix(ci): Skip pkg & build cache in lint steps
  .github/workflows/source_alicloud.yml
  .github/workflows/source_awspricing.yml
  .github/workflows/source_facebookmarketing.yml
  .github/workflows/source_googleads.yml
  .github/workflows/source_googleanalytics.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_homebrew.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_snyk.yml
  .github/workflows/source_stripe.yml
Labels: automerge

#9768 feat: Product updates 5
  website/pages/blog/product-updates-5.mdx
Labels: automerge, website

#9772 fix(duckdb): Support multiple PKs
  plugins/destination/duckdb/client/migrate.go
Labels: automerge, duckdb

#9775 fix(duckdb): Fix multiple pks in delete from
  plugins/destination/duckdb/client/write.go
Labels: automerge, duckdb

#9778 chore(website): Update s3 security setting blog with change from AWS
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.mdx
Labels: automerge, website

#9770 fix(website): Use `registry: "local"` instead of `registry: "path"` in new plugin docs
  website/pages/docs/developers/creating-new-plugin.md
Labels: automerge, website

#9793 chore(ci): Log check run ID to detect duplicates
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#9799 fix(ci): Revert remove duplicates from check runs in wait for all workflow
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#9801 fix(website): Link to Postgres backend issue rather than Redis one
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/advanced-topics/managing-incremental-tables.md
Labels: automerge, website

#9802 refactor(aws): Consolidate IoT Tag Resolvers
  plugins/source/aws/resources/services/iot/billing_groups.go
  plugins/source/aws/resources/services/iot/jobs.go
  plugins/source/aws/resources/services/iot/policies.go
  plugins/source/aws/resources/services/iot/security_profiles.go
  plugins/source/aws/resources/services/iot/tags.go
  plugins/source/aws/resources/services/iot/thing_groups.go
  plugins/source/aws/resources/services/iot/thing_types.go
  plugins/source/aws/resources/services/iot/topic_rules.go
Labels: aws, automerge

#9803 feat(aws): Parallelize resolution of `aws_iot_topic_rules`
  plugins/source/aws/resources/services/iot/topic_rules.go
Labels: aws, automerge

#9805 feat(aws): Parallelize resolution of `aws_iot_thing_groups`
  plugins/source/aws/resources/services/iot/thing_groups.go
Labels: aws, automerge

#9806 feat(aws): Parallelize resolution of `aws_iot_policies`
  plugins/source/aws/resources/services/iot/policies.go
Labels: aws, automerge

#9807 feat(aws): Parallelize resolution of `aws_iot_security_profiles`
  plugins/source/aws/resources/services/iot/security_profiles.go
Labels: aws, automerge

#9808 feat(aws): Parallelize resolution of `aws_iot_ca_certificates`
  plugins/source/aws/resources/services/iot/ca_certificates.go
Labels: aws, automerge

#9810 feat(aws): Parallelize resolution of `aws_iot_jobs`
  plugins/source/aws/resources/services/iot/jobs.go
Labels: aws, automerge

#9809 feat(aws): Parallelize resolution of `aws_iot_billing_groups`
  plugins/source/aws/resources/services/iot/billing_groups.go
Labels: aws, automerge

#9815 fix(aws-policies): Update Query to properly handle a string and array
  plugins/source/aws/policies/queries/lambda/lambda_function_prohibit_public_access.sql
Labels: aws, automerge

#9816 fix(aws): Inspector Classic fetch details use proper limits
  plugins/source/aws/resources/services/inspector/findings.go
Labels: aws, automerge

#9812 fix(workflows): Properly use caches in AWS, Azure, GCP, K8s workflows
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
Labels: automerge

#9820 fix(website): Fix asm example code
  website/pages/how-to-guides/attack-surface-management-with-graph.mdx
Labels: automerge, website

#9822 fix(ci): Remove duplicated check runs
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge

#9780 feat(ci): Reuse `validate-release` in AWS Source plugin workflow
  .github/workflows/source_aws.yml
  .github/workflows/validate_release.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, ci

#9823 chore(ci): Automatically add `ci` label
  .github/pr_labeler.yml
Labels: automerge

#9779 feat(azure-resources): Add Compute Availability Sets
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/availability_sets.go
  plugins/source/azure/resources/services/compute/availability_sets_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_compute_availability_sets.md
Labels: azure, automerge, website

#9811 feat(azure): Add discovery concurrency setting
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec.go
  website/pages/docs/plugins/sources/azure/configuration.mdx
Labels: azure, automerge, website

#9835 fix(ci): Don't fail on deleted files
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, ci

#9834 fix(ci): Revert "feat(ci): Reuse `validate-release` in AWS Source plugin workflow"
  .github/workflows/source_aws.yml
  .github/workflows/validate_release.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, ci, priority merge

#9818 feat(aws): Add Support for Cloudwatch Logs Data Protection Policy
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/cloudwatchlogs/data_protection_policies.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_cloudwatchlogs_log_group_data_protection_policies.md
  website/tables/aws/aws_cloudwatchlogs_log_groups.md
Labels: aws, automerge, website

#9857 fix(gcp): Update module github.com/cloudquery/plugin-sdk to v1.45.0
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Labels: automerge, gcp

#9923 fix(azure): Fix detecting conditions in CIS Section 8
  plugins/source/azure/policies/queries/keyvault/keys_without_expiration_date.sql
  plugins/source/azure/policies/queries/keyvault/secrets_without_expiration_date.sql
Labels: azure, automerge

#9947 chore(docs): Consolidate formatting for configs
  website/pages/docs/plugins/destinations/clickhouse/_configuration.mdx
  website/pages/docs/plugins/destinations/meilisearch/_configuration.mdx
  website/pages/docs/plugins/destinations/mssql/_configuration.mdx
  website/pages/docs/plugins/destinations/mysql/_configuration.mdx
  website/pages/docs/plugins/sources/tailscale/_configuration.mdx
Labels: automerge, website

#9951 feat(snyk): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/snyk/client/client.go
  plugins/source/snyk/client/columns.go
  plugins/source/snyk/client/multiplexer.go
  plugins/source/snyk/client/resolvers.go
  plugins/source/snyk/client/testing.go
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/snyk/main.go
  plugins/source/snyk/resources/plugin/plugin.go
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/dependency/dependencies_mock_test.go
  plugins/source/snyk/resources/services/integration/integration_mock_test.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/organization/organizations_mock_test.go
  plugins/source/snyk/resources/services/project/projects.go
  plugins/source/snyk/resources/services/project/projects_mock_test.go
  plugins/source/snyk/resources/services/reporting/issues.go
  plugins/source/snyk/resources/services/reporting/issues_mock_test.go
Labels: automerge, snyk

#9653 feat(firestore): Add firestore source
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/source_firestore.yml
  plugins/source/firestore/.gitignore
  plugins/source/firestore/.goreleaser.yaml
  plugins/source/firestore/Makefile
  plugins/source/firestore/README.md
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/spec.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/main.go
  plugins/source/firestore/resources/plugin/plugin.go
  plugins/source/firestore/resources/plugin/plugin_test.go
  plugins/source/firestore/resources/plugin/tables.go
  plugins/source/firestore/resources/plugin/tables_test.go
Labels: automerge, ci

#10003 feat(firestore): Add Sentry
  plugins/source/firestore/main.go
Labels: automerge, priority merge

#10004 feat(ci): Add Firestore to PR labeler
  .github/pr_labeler.yml
Labels: automerge, priority merge

#10006 feat(ci): Add firestore to release please
  release-please-config.json
Labels: automerge, priority merge

#10009 fix(website): Remove broken links
  website/pages/docs/plugins/sources/plausible/_authentication.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
Labels: automerge, website, priority merge

#9995 fix(website): Update Broken link
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.mdx
Labels: automerge, website

#10044 feat(github): Add `github_repository_branches` table
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/mocks/mock_billing.go
  plugins/source/github/client/mocks/mock_dependabot.go
  plugins/source/github/client/mocks/mock_issues.go
  plugins/source/github/client/mocks/mock_orgs.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/mocks/mock_teams.go
  plugins/source/github/client/services.go
  plugins/source/github/client/testing.go
  plugins/source/github/client/transformers.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/billing/action.go
  plugins/source/github/resources/services/billing/action_test.go
  plugins/source/github/resources/services/billing/package.go
  plugins/source/github/resources/services/billing/packing_test.go
  plugins/source/github/resources/services/billing/storage.go
  plugins/source/github/resources/services/billing/storage_test.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/external/groups_test.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/hooks/hooks_test.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/installations/installations_test.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/issues/issues_test.go
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/dependabot_mock_test.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/branches.go
  plugins/source/github/resources/services/repositories/dependabot_mock_test.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/teams.go
  plugins/source/github/resources/services/teams/teams_test.go
  plugins/source/github/resources/services/traffic/clones.go
  plugins/source/github/resources/services/traffic/clones_test.go
  plugins/source/github/resources/services/traffic/paths.go
  plugins/source/github/resources/services/traffic/paths_test.go
  plugins/source/github/resources/services/traffic/referrers.go
  plugins/source/github/resources/services/traffic/referrers_test.go
  plugins/source/github/resources/services/traffic/views.go
  plugins/source/github/resources/services/traffic/views_test.go
  website/pages/docs/plugins/sources/github/tables.md
  website/tables/github/github_repositories.md
  website/tables/github/github_repository_branches.md
Labels: automerge, github, website

#10061 feat(okta): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/okta/client/client.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/client/transformers.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/main.go
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/fakes/group.go
  plugins/source/okta/resources/services/fakes/user.go
  plugins/source/okta/resources/services/groups/group_users.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/users/users.go
  plugins/source/okta/resources/services/users/users_fetch.go
Labels: automerge, okta

#10070 feat(salesforce): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
Labels: automerge, salesforce

#10067 feat(plausible): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/plausible/client/client.go
  plugins/source/plausible/client/resolvers.go
  plugins/source/plausible/client/testing.go
  plugins/source/plausible/go.mod
  plugins/source/plausible/go.sum
  plugins/source/plausible/main.go
  plugins/source/plausible/resources/plugin/plugin.go
  plugins/source/plausible/resources/services/stats_timeseries.go
Labels: automerge, plausible

#10068 feat(slack): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/slack/client/client.go
  plugins/source/slack/client/multiplexers.go
  plugins/source/slack/client/resolvers.go
  plugins/source/slack/client/testing.go
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/main.go
  plugins/source/slack/resources/plugin/plugin.go
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_histories.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_histories_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_members.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_replies.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_mock_test.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_mock_test.go
  plugins/source/slack/resources/services/files/files.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/files/files_mock_test.go
  plugins/source/slack/resources/services/teams/teams.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/teams/teams_mock_test.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/user_presences_mock_test.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
  plugins/source/slack/resources/services/users/users_mock_test.go
Labels: automerge, slack

#10069 feat(shopify): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/shopify/client/client.go
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/main.go
  plugins/source/shopify/resources/plugin/plugin.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts_fetch.go
  plugins/source/shopify/resources/services/customer/customers.go
  plugins/source/shopify/resources/services/customer/customers_fetch.go
  plugins/source/shopify/resources/services/customer/customers_mock_test.go
  plugins/source/shopify/resources/services/order/orders.go
  plugins/source/shopify/resources/services/order/orders_fetch.go
  plugins/source/shopify/resources/services/order/orders_mock_test.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes_fetch.go
  plugins/source/shopify/resources/services/price_rule/price_rules.go
  plugins/source/shopify/resources/services/price_rule/price_rules_fetch.go
  plugins/source/shopify/resources/services/product/product_images.go
  plugins/source/shopify/resources/services/product/product_images_fetch.go
  plugins/source/shopify/resources/services/product/product_variants.go
  plugins/source/shopify/resources/services/product/product_variants_fetch.go
  plugins/source/shopify/resources/services/product/products.go
  plugins/source/shopify/resources/services/product/products_fetch.go
  plugins/source/shopify/resources/services/product/products_mock_test.go
Labels: automerge, shopify

#10054 feat(hackernews): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
Labels: automerge, hackernews

#10058 feat(launchdarkly): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/launchdarkly/client/client.go
  plugins/source/launchdarkly/client/resolvers.go
  plugins/source/launchdarkly/client/testing.go
  plugins/source/launchdarkly/client/transformers.go
  plugins/source/launchdarkly/go.mod
  plugins/source/launchdarkly/go.sum
  plugins/source/launchdarkly/main.go
  plugins/source/launchdarkly/resources/plugin/plugin.go
  plugins/source/launchdarkly/resources/services/auditlog/auditlog_entries.go
  plugins/source/launchdarkly/resources/services/auditlog/auditlog_entries_test.go
  plugins/source/launchdarkly/resources/services/projects/project_environments.go
  plugins/source/launchdarkly/resources/services/projects/project_flag_defaults.go
  plugins/source/launchdarkly/resources/services/projects/project_flags.go
  plugins/source/launchdarkly/resources/services/projects/project_metrics.go
  plugins/source/launchdarkly/resources/services/projects/projects.go
  plugins/source/launchdarkly/resources/services/projects/projects_test.go
Labels: automerge, launchdarkly

#10018 feat(cloudflare): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/cloudflare/client/client.go
  plugins/source/cloudflare/client/filter.go
  plugins/source/cloudflare/client/multiplexers.go
  plugins/source/cloudflare/client/resolvers.go
  plugins/source/cloudflare/client/testing.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/main.go
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/access_groups/access_groups_fetch.go
  plugins/source/cloudflare/resources/services/access_groups/access_groups_mock_test.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/accounts/accounts_fetch.go
  plugins/source/cloudflare/resources/services/accounts/accounts_mock_test.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs_fetch.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs_mock_test.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records_fetch.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records_mock_test.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/images/images_fetch.go
  plugins/source/cloudflare/resources/services/images/images_mock_test.go
  plugins/source/cloudflare/resources/services/ips/ips.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides_fetch.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides_mock_test.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages_fetch.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages_mock_test.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_fetch.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_mock_test.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_fetch.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_mock_test.go
  plugins/source/cloudflare/resources/services/zones/zones.go
  plugins/source/cloudflare/resources/services/zones/zones_fetch.go
  plugins/source/cloudflare/resources/services/zones/zones_mock_test.go
Labels: automerge, cloudflare

#10016 feat(azuredevops): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/client/transformers.go
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/main.go
  plugins/source/azuredevops/resources/plugin/plugin.go
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
Labels: automerge, azuredevops

#9987 feat(dest/test): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/destination/test/client/client.go
  plugins/destination/test/client/transformer.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/destination/test/main.go
Labels: test, automerge

#10052 feat(github): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/github/client/client.go
  plugins/source/github/client/columns.go
  plugins/source/github/client/multiplexer.go
  plugins/source/github/client/resolvers.go
  plugins/source/github/client/testing.go
  plugins/source/github/client/transformers.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/main.go
  plugins/source/github/resources/plugin/plugin.go
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/billing/action.go
  plugins/source/github/resources/services/billing/action_test.go
  plugins/source/github/resources/services/billing/package.go
  plugins/source/github/resources/services/billing/packing_test.go
  plugins/source/github/resources/services/billing/storage.go
  plugins/source/github/resources/services/billing/storage_test.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/external/groups_test.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/hooks/hooks_test.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/installations/installations_test.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/issues/issues_test.go
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/dependabot_mock_test.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/branches.go
  plugins/source/github/resources/services/repositories/dependabot_mock_test.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/teams.go
  plugins/source/github/resources/services/teams/teams_test.go
  plugins/source/github/resources/services/traffic/clones.go
  plugins/source/github/resources/services/traffic/clones_test.go
  plugins/source/github/resources/services/traffic/paths.go
  plugins/source/github/resources/services/traffic/paths_test.go
  plugins/source/github/resources/services/traffic/referrers.go
  plugins/source/github/resources/services/traffic/referrers_test.go
  plugins/source/github/resources/services/traffic/views.go
  plugins/source/github/resources/services/traffic/views_test.go
Labels: automerge, github

#10053 feat(gitlab): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/resolvers.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/client/transformers.go
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/main.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/group_members_fetch.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/groups/groups_mock_test.go
  plugins/source/gitlab/resources/services/projects/project_branches.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_branches_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  plugins/source/gitlab/resources/services/projects/projects_releases.go
  plugins/source/gitlab/resources/services/projects/projects_releases_fetch.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
  plugins/source/gitlab/resources/services/settings/settings_mock_test.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
  plugins/source/gitlab/resources/services/users/users_mock_test.go
Labels: automerge, gitlab

#10059 feat(mixpanel): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/mixpanel/client/client.go
  plugins/source/mixpanel/client/resolvers.go
  plugins/source/mixpanel/client/state.go
  plugins/source/mixpanel/client/testing.go
  plugins/source/mixpanel/client/transformers.go
  plugins/source/mixpanel/go.mod
  plugins/source/mixpanel/go.sum
  plugins/source/mixpanel/main.go
  plugins/source/mixpanel/resources/plugin/plugin.go
  plugins/source/mixpanel/resources/services/annotations/annotations.go
  plugins/source/mixpanel/resources/services/annotations/annotations_mock_test.go
  plugins/source/mixpanel/resources/services/cohorts/cohort_members.go
  plugins/source/mixpanel/resources/services/cohorts/cohorts.go
  plugins/source/mixpanel/resources/services/cohorts/cohorts_mock_test.go
  plugins/source/mixpanel/resources/services/engage/revenues.go
  plugins/source/mixpanel/resources/services/engage/revenues_mock_test.go
  plugins/source/mixpanel/resources/services/export/export_events.go
  plugins/source/mixpanel/resources/services/export/export_events_mock_test.go
  plugins/source/mixpanel/resources/services/funnels/funnel_reports.go
  plugins/source/mixpanel/resources/services/funnels/funnels.go
  plugins/source/mixpanel/resources/services/funnels/funnels_mock_test.go
Labels: automerge, mixpanel

#10050 feat(fastly): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/multiplexers.go
  plugins/source/fastly/client/resolvers.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
  plugins/source/fastly/main.go
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/account/account_events.go
  plugins/source/fastly/resources/services/account/account_events_fetch.go
  plugins/source/fastly/resources/services/account/account_events_mock_test.go
  plugins/source/fastly/resources/services/account/account_users.go
  plugins/source/fastly/resources/services/account/account_users_fetch.go
  plugins/source/fastly/resources/services/account/account_users_mock_test.go
  plugins/source/fastly/resources/services/auth/auth_tokens.go
  plugins/source/fastly/resources/services/auth/auth_tokens_fetch.go
  plugins/source/fastly/resources/services/auth/auth_tokens_mock_test.go
  plugins/source/fastly/resources/services/services/service_backends.go
  plugins/source/fastly/resources/services/services/service_backends_fetch.go
  plugins/source/fastly/resources/services/services/service_backends_mock_test.go
  plugins/source/fastly/resources/services/services/service_domains.go
  plugins/source/fastly/resources/services/services/service_domains_fetch.go
  plugins/source/fastly/resources/services/services/service_domains_mock_test.go
  plugins/source/fastly/resources/services/services/service_health_checks.go
  plugins/source/fastly/resources/services/services/service_health_checks_fetch.go
  plugins/source/fastly/resources/services/services/service_health_checks_mock_test.go
  plugins/source/fastly/resources/services/services/service_versions.go
  plugins/source/fastly/resources/services/services/service_versions_fetch.go
  plugins/source/fastly/resources/services/services/service_versions_mock_test.go
  plugins/source/fastly/resources/services/services/services.go
  plugins/source/fastly/resources/services/services/services_fetch.go
  plugins/source/fastly/resources/services/services/services_mock_test.go
  plugins/source/fastly/resources/services/stats/stats_regions.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch_test.go
  plugins/source/fastly/resources/services/stats/stats_services.go
  plugins/source/fastly/resources/services/stats/stats_services_fetch.go
Labels: automerge, fastly

#10046 feat(datadog): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/datadog/client/client.go
  plugins/source/datadog/client/multiplexers.go
  plugins/source/datadog/client/resolvers.go
  plugins/source/datadog/client/testing.go
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/main.go
  plugins/source/datadog/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_fetch.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_mock_test.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/dashboards/dashboards_fetch.go
  plugins/source/datadog/resources/services/dashboards/dashboards_mock_test.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/downtimes/downtimes_fetch.go
  plugins/source/datadog/resources/services/downtimes/downtimes_mock_test.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/hosts/hosts_fetch.go
  plugins/source/datadog/resources/services/hosts/hosts_mock_test.go
  plugins/source/datadog/resources/services/incidents/incident_attachments.go
  plugins/source/datadog/resources/services/incidents/incident_attachments_fetch.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/incidents/incidents_fetch.go
  plugins/source/datadog/resources/services/incidents/incidents_mock_test.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes_fetch.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/monitors/monitors_fetch.go
  plugins/source/datadog/resources/services/monitors/monitors_mock_test.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/notebooks/notebooks_fetch.go
  plugins/source/datadog/resources/services/notebooks/notebooks_mock_test.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/permissions_fetch.go
  plugins/source/datadog/resources/services/roles/permissions_mock_test.go
  plugins/source/datadog/resources/services/roles/role_permissions.go
  plugins/source/datadog/resources/services/roles/role_permissions_fetch.go
  plugins/source/datadog/resources/services/roles/role_users.go
  plugins/source/datadog/resources/services/roles/role_users_fetch.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/roles/roles_fetch.go
  plugins/source/datadog/resources/services/roles/roles_mock_test.go
  plugins/source/datadog/resources/services/synthetics/global_variables.go
  plugins/source/datadog/resources/services/synthetics/global_variables_fetch.go
  plugins/source/datadog/resources/services/synthetics/global_variables_mock_test.go
  plugins/source/datadog/resources/services/synthetics/syntethics_fetch.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/synthetics/synthetics_mock_test.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/user_permissions_fetch.go
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/resources/services/users/users_fetch.go
  plugins/source/datadog/resources/services/users/users_mock_test.go
Labels: automerge, datadog

#9979 feat(terraform): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/terraform/client/client.go
  plugins/source/terraform/client/multiplexers.go
  plugins/source/terraform/client/testing.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/plugin/plugin.go
  plugins/source/terraform/resources/services/tf_resource_instances.go
  plugins/source/terraform/resources/services/tf_resources.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/resources/services/tfdata_test.go
Labels: automerge, terraform

#10056 feat(homebrew): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/homebrew/client/client.go
  plugins/source/homebrew/client/testing.go
  plugins/source/homebrew/go.mod
  plugins/source/homebrew/go.sum
  plugins/source/homebrew/main.go
  plugins/source/homebrew/resources/plugin/plugin.go
  plugins/source/homebrew/resources/services/analytics/build_errors.go
  plugins/source/homebrew/resources/services/analytics/build_errors_test.go
  plugins/source/homebrew/resources/services/analytics/cask_installs.go
  plugins/source/homebrew/resources/services/analytics/cask_installs_test.go
  plugins/source/homebrew/resources/services/analytics/installs.go
  plugins/source/homebrew/resources/services/analytics/installs_test.go
Labels: automerge, homebrew

#9959 feat(vercel): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/multiplexer.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/main.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
Labels: automerge, vercel

#9956 feat(firestore): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/main.go
  plugins/source/firestore/resources/plugin/plugin.go
  plugins/source/firestore/resources/plugin/plugin_test.go
  plugins/source/firestore/resources/plugin/tables.go
  plugins/source/firestore/resources/plugin/tables_test.go
Labels: automerge, firestore

#9949 feat(tailscale): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/resolvers.go
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/client/transformers.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
  plugins/source/tailscale/resources/plugin/tables.go
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_mock_test.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/dns/nameservers.go
  plugins/source/tailscale/resources/services/dns/nameservers_mock_test.go
  plugins/source/tailscale/resources/services/dns/preferences.go
  plugins/source/tailscale/resources/services/dns/preferences_mock_test.go
  plugins/source/tailscale/resources/services/dns/searchpaths.go
  plugins/source/tailscale/resources/services/dns/searchpaths_mock_test.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_mock_test.go
Labels: automerge, tailscale

#9940 feat(awspricing): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/awspricing/client/client.go
  plugins/source/awspricing/go.mod
  plugins/source/awspricing/go.sum
  plugins/source/awspricing/main.go
  plugins/source/awspricing/plugin/plugin.go
  plugins/source/awspricing/resources/products.go
  plugins/source/awspricing/resources/services.go
  plugins/source/awspricing/resources/terms.go
Labels: automerge, awspricing

#9926 feat(googleanalytics): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/googleanalytics/client/client.go
  plugins/source/googleanalytics/client/columns.go
  plugins/source/googleanalytics/client/fetch.go
  plugins/source/googleanalytics/client/report.go
  plugins/source/googleanalytics/client/tables.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
  plugins/source/googleanalytics/main.go
  plugins/source/googleanalytics/resources/plugin/plugin.go
Labels: automerge, googleanalytics

#9933 feat(cli): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  cli/cmd/analytics.go
  cli/cmd/destinations_v0.go
  cli/cmd/migrate.go
  cli/cmd/migrate_v0.go
  cli/cmd/migrate_v1.go
  cli/cmd/sync.go
  cli/cmd/sync_v0.go
  cli/cmd/sync_v0_1.go
  cli/cmd/sync_v0_2.go
  cli/cmd/sync_v1.go
  cli/cmd/tables.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#9936 feat(alicloud): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/alicloud/client/client.go
  plugins/source/alicloud/client/multiplexers.go
  plugins/source/alicloud/client/resolvers.go
  plugins/source/alicloud/client/testing.go
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/go.sum
  plugins/source/alicloud/main.go
  plugins/source/alicloud/resources/plugin/plugin.go
  plugins/source/alicloud/resources/services/bss/bill.go
  plugins/source/alicloud/resources/services/bss/bill_details.go
  plugins/source/alicloud/resources/services/bss/bill_details_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_details_fetch_mock_test.go
  plugins/source/alicloud/resources/services/bss/bill_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_fetch_mock_test.go
  plugins/source/alicloud/resources/services/bss/bill_overview.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch_mock_test.go
  plugins/source/alicloud/resources/services/ecs/instances.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/bucket_stats.go
  plugins/source/alicloud/resources/services/oss/buckets.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_mock_test.go
Labels: automerge, alicloud

#10123 fix(website): Bring back plausible.io links
  .github/workflows/broken_links.yml
  website/pages/docs/plugins/sources/plausible/_authentication.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
Labels: automerge, website, ci

#10007 feat(website): Add Firestore
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/spec.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/resources/plugin/plugin_test.go
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/firestore/_authentication.mdx
  website/pages/docs/plugins/sources/firestore/_configuration.mdx
  website/pages/docs/plugins/sources/firestore/_meta.json
  website/pages/docs/plugins/sources/firestore/overview.mdx
  website/pages/docs/plugins/sources/firestore/tables.md
  website/public/images/logos/plugins/firestore-dark.svg
  website/public/images/logos/plugins/firestore-light.svg
Labels: automerge, website, firestore

#10072 feat(ci): Move `wait-for-required-workflows` logic to a separate file
  .github/workflows/wait_for_required_workflows.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, ci

#10126 feat(website): Move applicable destination to GA
  website/pages/docs/plugins/destinations/azblob/overview.mdx
  website/pages/docs/plugins/destinations/bigquery/overview.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
  website/pages/docs/plugins/destinations/duckdb/overview.mdx
  website/pages/docs/plugins/destinations/elasticsearch/overview.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
  website/pages/docs/plugins/destinations/gcs/overview.mdx
  website/pages/docs/plugins/destinations/mongodb/overview.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
  website/pages/docs/plugins/destinations/sqlite/overview.mdx
Labels: automerge, website

#9851 feat(mongodb): Create unique indexes for PKs
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
Labels: automerge, mongodb

#10141 fix(sqlite): Make arrow work with older sources
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#10144 fix(sqlite): Fix arrow memory leak
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#10125 feat(pg)!: Update postgres to use arrow type system
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/metrics.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/types_cockroach.go
  plugins/destination/postgresql/client/types_pg.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/postgresql/main.go
Labels: automerge, postgresql

#10147 fix: Return error instead of panicking
  plugins/destination/postgresql/client/read.go
Labels: automerge, postgresql

#10149 fix(aws): Update EBS Snapshot Permissions Check Query
  plugins/source/aws/policies/queries/ec2/ebs_snapshot_permissions_check.sql
Labels: aws, automerge

#10153 fix(destination/test): Arrow records memory leak
  plugins/destination/test/client/client.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge

#10137 fix: Sanitize constraint name during migrate and write
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#9511 feat: Add OracleDB source plugin
  .github/workflows/source_oracledb.yml
  plugins/source/oracledb/.gitignore
  plugins/source/oracledb/.goreleaser.yaml
  plugins/source/oracledb/CONTRIBUTING.md
  plugins/source/oracledb/Makefile
  plugins/source/oracledb/README.md
  plugins/source/oracledb/client/client.go
  plugins/source/oracledb/client/list_tables.go
  plugins/source/oracledb/client/spec.go
  plugins/source/oracledb/client/sync.go
  plugins/source/oracledb/client/transformer.go
  plugins/source/oracledb/client/types.go
  plugins/source/oracledb/go.mod
  plugins/source/oracledb/go.sum
  plugins/source/oracledb/main.go
  plugins/source/oracledb/resources/plugin/plugin.go
  plugins/source/oracledb/resources/plugin/plugin_test.go
  plugins/source/oracledb/resources/plugin/tables.go
  release-please-config.json
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/oracledb/_configuration.mdx
  website/pages/docs/plugins/sources/oracledb/_meta.json
  website/pages/docs/plugins/sources/oracledb/overview.mdx
  website/pages/docs/plugins/sources/oracledb/tables.md
Labels: automerge, website, ci

#10013 fix(Azure): Reduce duplicate results of Azure CIS v1.3.0 Section 9.1
  plugins/source/azure/policies/cis_v1.3.0/section_9.sql
Labels: azure, automerge

#10156 feat(neo4j)!: Update to SDK v2 (arrow)
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/migrate.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/neo4j/main.go
Labels: automerge, neo4j

#10150 feat(aws): Add Support for Config Delivery Channels
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/config/deliver_channel_statuses.go
  plugins/source/aws/resources/services/config/delivery_channels.go
  plugins/source/aws/resources/services/config/delivery_channels_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_config_delivery_channel_statuses.md
  website/tables/aws/aws_config_delivery_channels.md
Labels: aws, automerge, website

#10178 refactor(aws): Renamed Variable In Client
  plugins/source/aws/client/client.go
Labels: aws, automerge

#10180 refactor(aws): Naming Refactor
  plugins/source/aws/client/client.go
  plugins/source/aws/client/organizations.go
Labels: aws, automerge

#10181 refactor(aws): Move To Separate files
  plugins/source/aws/client/account.go
  plugins/source/aws/client/aws_sdk.go
  plugins/source/aws/client/client.go
Labels: aws, automerge

#10183 fix(azure): Added missing character
  plugins/source/azure/policies/queries/web/function_app_should_only_be_accessible_over_https.sql
Labels: azure, automerge

#10185 feat(gcp): Update GCP Instance Shielded VM Policy
  plugins/source/gcp/policies/queries/compute/instances_with_shielded_vm_disabled.sql
Labels: automerge, gcp

#10169 feat(mysql): Update to SDK v2 and Arrow
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/deletestale.go
  plugins/destination/mysql/client/migrate.go
  plugins/destination/mysql/client/read.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/transformer.go
  plugins/destination/mysql/client/types.go
  plugins/destination/mysql/client/write.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/mysql/main.go
Labels: automerge, mysql

#10202 fix: Add timestamp type
  plugins/destination/sqlite/client/types.go
Labels: automerge, sqlite

#10177 feat(aws): Parallelize Initialization of Accounts after discovery
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client.go
  plugins/source/aws/client/spec.go
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: aws, automerge, website

#9963 feat(test): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/test/client/client.go
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/main.go
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/services/test.go
  plugins/source/test/resources/services/testdata.go
Labels: automerge

#10212 fix: Update to SDK v2.3.7, remove release calls
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#10060 feat(source/mysql): Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  plugins/source/mysql/client/client.go
  plugins/source/mysql/client/list_tables.go
  plugins/source/mysql/client/sync.go
  plugins/source/mysql/client/transformer.go
  plugins/source/mysql/client/types.go
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/main.go
  plugins/source/mysql/resources/plugin/plugin.go
  plugins/source/mysql/resources/plugin/plugin_test.go
  plugins/source/mysql/resources/plugin/tables.go
Labels: automerge, priority merge, source-mysql

#10217 fix!: Upgrade GCS plugin-sdk and filetypes to v2
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/deletestale.go
  plugins/destination/gcs/client/migrate.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/gcs/main.go
Labels: automerge, gcs

#10218 fix!: Upgrade azblob plugin-sdk and filetypes to v2
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/deletestale.go
  plugins/destination/azblob/client/migrate.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/azblob/main.go
Labels: automerge, azblob

#10220 fix!: Remove deprecated CSV plugin
  .github/pr_labeler.yml
  .github/renovate.json5
  .github/workflows/dest_csv.yml
  .release-please-manifest.json
  plugins/destination/csv/.gitignore
  plugins/destination/csv/.goreleaser.yaml
  plugins/destination/csv/CHANGELOG.md
  plugins/destination/csv/Makefile
  plugins/destination/csv/README.md
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/client/deletestale.go
  plugins/destination/csv/client/metrics.go
  plugins/destination/csv/client/migrate.go
  plugins/destination/csv/client/migrate_test.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/client/spec.go
  plugins/destination/csv/client/transformer.go
  plugins/destination/csv/client/write.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/csv/main.go
  plugins/destination/csv/resources/plugin/plugin.go
  website/pages/blog/announcing-cloudquery-sqlite-destination.mdx
  website/pages/blog/product-updates-1.mdx
  website/pages/blog/scaling-out-elt-with-cq-and-csv.mdx
  website/pages/docs/plugins/destinations/csv/_meta.json
  website/pages/docs/plugins/destinations/csv/overview.mdx
  website/vercel.json
Labels: automerge, website, ci, csv

#10209 fix: Update to SDK v2.3.7, remove release calls
  plugins/destination/mysql/client/read.go
  plugins/destination/mysql/client/write.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
Labels: automerge, mysql

#10222 feat: Update to SDK v2.3.8
  cli/cmd/testdata/multiple-sources-destinations.yml
  cli/cmd/testdata/multiple-sources.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#10224 feat(kafka)!: Migrate to SDK V2 (Apache Arrow types)
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/deletestale.go
  plugins/destination/kafka/client/metrics.go
  plugins/destination/kafka/client/migrate.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/kafka/main.go
Labels: automerge, kafka

#10189 feat(docs): Update docs to reflect tables as a required configuration
  website/components/mdx/_configure-source.mdx
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.mdx
  website/pages/blog/aws-improvements-Q1-2022.mdx
  website/pages/blog/azure-cost-optimization-with-cloudquery.mdx
  website/pages/blog/migrating-from-v0-to-v1.mdx
  website/pages/docs/advanced-topics/performance-tuning.mdx
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/ecs.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/developers/running-locally.md
  website/pages/docs/plugins/sources/aws/_configuration.mdx
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.mdx
  website/pages/docs/plugins/sources/azure/_configuration.mdx
  website/pages/docs/plugins/sources/datadog/_configuration.mdx
  website/pages/docs/plugins/sources/firestore/overview.mdx
  website/pages/docs/plugins/sources/gcp/_configuration.mdx
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/mysql/_configuration.mdx
  website/pages/docs/plugins/sources/oracledb/_configuration.mdx
  website/pages/docs/plugins/sources/pagerduty/_configuration.mdx
  website/pages/docs/plugins/sources/postgresql/_configuration.mdx
  website/pages/docs/plugins/sources/postgresql/overview.mdx
  website/pages/docs/reference/source-spec.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.mdx
  website/pages/how-to-guides/deploying-cloudquery-into-aws-org.mdx
  website/pages/how-to-guides/how-to-load-infrastructure-data-into-athena.mdx
Labels: automerge, website

#10188 feat(gremlin)!: Update to SDK V2 (Arrow Support)
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/client/deletestale.go
  plugins/destination/gremlin/client/migrate.go
  plugins/destination/gremlin/client/read.go
  plugins/destination/gremlin/client/transformer.go
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/gremlin/main.go
Labels: automerge, gremlin

#10194 feat(mongodb)!: Upgrade to SDK V2 (Arrow support)
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/transformer.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
Labels: automerge, mongodb

#10233 fix(aws)!: Fix Primary Key for `aws_directconnect_gateways`
  plugins/source/aws/resources/services/directconnect/gateway_associations.go
  plugins/source/aws/resources/services/directconnect/gateway_attachments.go
  plugins/source/aws/resources/services/directconnect/gateways.go
  website/tables/aws/aws_directconnect_gateways.md
Labels: aws, automerge, website

#10248 fix(website): Product update 5 link
  website/pages/blog/product-updates-5.mdx
Labels: automerge, website

#10235 fix!: Upgrade Firehose plugin-sdk to v2 and remove filetypes dependency
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/client_test.go
  plugins/destination/firehose/client/deletestale.go
  plugins/destination/firehose/client/metrics.go
  plugins/destination/firehose/client/migrate.go
  plugins/destination/firehose/client/read.go
  plugins/destination/firehose/client/spec.go
  plugins/destination/firehose/client/write.go
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/firehose/main.go
  website/pages/docs/plugins/destinations/firehose/overview.mdx
Labels: automerge, website, firehose

#9855 fix!: Migrate file destination to SDK v2
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
  website/pages/docs/plugins/destinations/file/_configuration.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
Labels: automerge, website, file

#10250 fix(aws-docs): Policy docs should include tables used in views
  plugins/source/aws/go.mod
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/docs/plugins/sources/aws/policies.md
Labels: aws, automerge, website

#10251 chore(k8s): Policy docs should include tables used in views
  plugins/source/k8s/scripts/policy_docs/main.go
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/docs/plugins/sources/k8s/policies.md
Labels: automerge, k8s, website

#10243 fix(aws-resources)!: Query issue on `aws_cloudwatchlogs_log_group_data_protection_policies`
  plugins/source/aws/resources/services/cloudwatchlogs/data_protection_policies.go
  website/tables/aws/aws_cloudwatchlogs_log_group_data_protection_policies.md
Labels: aws, automerge, website

#10247 fix(aws)!: Move EC2 EBS Snapshot `attributes` column to standalone table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/policies/queries/ec2/ebs_snapshot_permissions_check.sql
  plugins/source/aws/resources/services/ec2/ebs_snapshot_attributes.go
  plugins/source/aws/resources/services/ec2/ebs_snapshots.go
  plugins/source/aws/resources/services/ec2/ebs_snapshots_mock_test.go
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_ebs_snapshot_attributes.md
  website/tables/aws/aws_ec2_ebs_snapshots.md
Labels: aws, automerge, website

#10255 fix(aws): Remove Resource Specific Parallelization For S3 to use only the SDK parallelization
  plugins/source/aws/resources/services/s3/bucket_grants.go
  plugins/source/aws/resources/services/s3/buckets.go
Labels: aws, automerge

#10167 fix!: Upgrade S3 plugin-sdk and filetypes to v2
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/deletestale.go
  plugins/destination/s3/client/migrate.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/s3/main.go
Labels: automerge, s3

#10254 doc(website): Add Kestra Orchestration turorial
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/kestra.mdx
  website/pages/docs/deployment/overview.md
  website/public/images/docs/deployment/kestra-execution.png
  website/public/images/docs/deployment/kestra-flow.png
Labels: automerge, website

#10257 doc: Update deployment overview.md
  website/pages/docs/deployment/overview.md
Labels: automerge, website

#10246 fix: Add region criteria to inner join
  plugins/source/aws/policies/queries/cloudtrail/enabled_in_all_regions.sql
Labels: aws, automerge

#10252 fix(gcp-docs): Policy docs should include tables used in views
  plugins/source/gcp/scripts/policy_docs/main.go
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/docs/plugins/sources/gcp/policies.md
Labels: automerge, gcp, website

#10253 feat(azure): Add policy docs
  plugins/source/azure/Makefile
  plugins/source/azure/scripts/policy_docs/main.go
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/docs/plugins/sources/azure/policies.md
Labels: azure, automerge, website

#10258 fix(ci-broken-links): Exclude `localhost`
  .github/workflows/broken_links.yml
Labels: automerge, ci

#10263 fix: Update to SDK v2.3.8, remove release calls
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, snowflake

#10262 fix: Update to SDK v2.3.8, remove release calls
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
Labels: automerge, neo4j

#10264 test(issues): Fix race condition in tests, pre-initialize all issues
  plugins/source/snyk/resources/services/reporting/issues_mock_test.go
  plugins/source/snyk/resources/services/reporting/latest_issues_mock_test.go
Labels: automerge, snyk

#10273 doc: Update AWS policies README.md
  plugins/source/aws/policies/README.md
Labels: aws, automerge

#10276 chore(issue-templates): Remove `needs-triage` label from issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/new_destination_plugin.yml
  .github/ISSUE_TEMPLATE/new_resource.yml
  .github/ISSUE_TEMPLATE/new_source_plugin.yml
Labels: automerge

#10286 feat(aws): Store Spec in Client
  plugins/source/aws/client/client.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/resources/services/iam/credential_reports_mock_test.go
Labels: aws, automerge
