Repository cloudquery/cloudquery, pull requests merged in 2023-06, with the labels that each got.

#11160 fix(test): Fix tests and upgrade SDK
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/services/testdata.go
Labels: automerge

#11167 chore(website): Remove plausible analytics
  website/components/_app.tsx
Labels: automerge, website

#11078 fix(deps): Update `github.com/cloudquery/plugin-sdk/v3` to `v3.8.1`
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/typeconv/arrow/values/map.go
  plugins/destination/clickhouse/typeconv/arrow/values/string.go
  plugins/destination/clickhouse/typeconv/arrow/values/time.go
  plugins/destination/clickhouse/typeconv/ch/values/list.go
  plugins/destination/clickhouse/typeconv/ch/values/list_test.go
  plugins/destination/clickhouse/typeconv/ch/values/map.go
  plugins/destination/clickhouse/typeconv/ch/values/map_test.go
  plugins/destination/clickhouse/typeconv/ch/values/special.go
  plugins/destination/clickhouse/typeconv/ch/values/struct.go
  plugins/destination/clickhouse/typeconv/ch/values/struct_test.go
Labels: automerge, priority merge, clickhouse

#11172 doc(gcp): Update Docs to reflect recent changes in v9.0.0
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, website

#11186 chore(duckdb): Refactor
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/transform.go
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
Labels: automerge, duckdb

#11189 refactor(dest-mysql): Preallocate results
  plugins/destination/mysql/client/transformer.go
Labels: automerge, mysql

#11190 refactor(dest-mysql): Remove redundant `isValid` check
  plugins/destination/mysql/client/transformer.go
Labels: automerge, mysql

#11191 fix(dest-mysql): Add missing Float16 case
  plugins/destination/mysql/client/transformer.go
Labels: automerge, mysql

#11192 fix: Add missing LargeString case
  plugins/destination/mysql/client/transformer.go
Labels: automerge, mysql

#11188 chore(refactor): Refactor DuckDB
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/metrics.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
Labels: automerge, duckdb

#11194 feat(azure): Add CIS 1.21, 6.3, 6.4, 8.5 policies
  plugins/source/azure/policies/cis_v1.3.0/section_1.sql
  plugins/source/azure/policies/cis_v1.3.0/section_6.sql
  plugins/source/azure/policies/cis_v1.3.0/section_8.sql
  plugins/source/azure/policies/queries/container/aks_rbac_disabled.sql
  plugins/source/azure/policies/queries/iam/custom_subscription_owner_roles.sql
  plugins/source/azure/policies/queries/network/nsg_log_retention_period.sql
  plugins/source/azure/policies/queries/sql/no_sql_allow_ingress_from_any_ip.sql
  website/pages/docs/plugins/sources/azure/policies.md
Labels: azure, automerge, website

#11195 feat(source): Promote all sources to GA except DB sources
  website/pages/docs/plugins/sources/alicloud/overview.mdx
  website/pages/docs/plugins/sources/awspricing/overview.mdx
  website/pages/docs/plugins/sources/azuredevops/overview.mdx
  website/pages/docs/plugins/sources/cloudflare/overview.mdx
  website/pages/docs/plugins/sources/datadog/overview.mdx
  website/pages/docs/plugins/sources/facebookmarketing/overview.mdx
  website/pages/docs/plugins/sources/fastly/overview.mdx
  website/pages/docs/plugins/sources/firestore/overview.mdx
  website/pages/docs/plugins/sources/gandi/overview.mdx
  website/pages/docs/plugins/sources/gitlab/overview.mdx
  website/pages/docs/plugins/sources/googleads/overview.mdx
  website/pages/docs/plugins/sources/googleanalytics/overview.mdx
  website/pages/docs/plugins/sources/hackernews/overview.mdx
  website/pages/docs/plugins/sources/heroku/overview.mdx
  website/pages/docs/plugins/sources/homebrew/overview.mdx
  website/pages/docs/plugins/sources/hubspot/overview.mdx
  website/pages/docs/plugins/sources/k8s/overview.mdx
  website/pages/docs/plugins/sources/launchdarkly/overview.mdx
  website/pages/docs/plugins/sources/mixpanel/overview.mdx
  website/pages/docs/plugins/sources/okta/overview.mdx
  website/pages/docs/plugins/sources/oracle/overview.mdx
  website/pages/docs/plugins/sources/pagerduty/overview.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
  website/pages/docs/plugins/sources/salesforce/overview.mdx
  website/pages/docs/plugins/sources/shopify/overview.mdx
  website/pages/docs/plugins/sources/slack/overview.mdx
  website/pages/docs/plugins/sources/snyk/overview.mdx
  website/pages/docs/plugins/sources/stripe/overview.mdx
  website/pages/docs/plugins/sources/tailscale/overview.mdx
  website/pages/docs/plugins/sources/terraform/overview.mdx
  website/pages/docs/plugins/sources/vercel/overview.mdx
Labels: automerge, website

#11198 fix(gcp): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.2
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Labels: automerge, gcp

#11213 fix(timestamp): Use `time.Time` in `__created_at` & `__updated_at` resolvers
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/sync.go
Labels: automerge, firestore

#11205 feat(nested): Simplify constructing nested ClickHouse value
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/typeconv/arrow/values/string.go
  plugins/destination/clickhouse/typeconv/arrow/values/values.go
  plugins/destination/clickhouse/typeconv/ch/values/extension.go
  plugins/destination/clickhouse/typeconv/ch/values/list.go
  plugins/destination/clickhouse/typeconv/ch/values/map.go
  plugins/destination/clickhouse/typeconv/ch/values/nested.go
  plugins/destination/clickhouse/typeconv/ch/values/struct.go
  plugins/destination/clickhouse/typeconv/ch/values/struct_test.go
  plugins/destination/clickhouse/typeconv/ch/values/values_test.go
Labels: automerge, clickhouse

#11216 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.3
  scaffold/cmd/templates/source/go.mod.tpl
Labels: automerge

#11217 chore(website): Update links to tables in S3 Blog Post
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.mdx
Labels: automerge

#11218 chore(website): Update links for AWS KMS Grants and Access blog
  website/pages/blog/aws-kms-key-grants-deep-dive.mdx
Labels: automerge, website

#11219 fix(cdc): Allow dashes in source names when using Postgres CDC
  plugins/source/postgresql/client/cdc.go
Labels: automerge, source-postgresql

#11215 fix(race): Fix race in DuckDB delete-stale
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, duckdb

#11222 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.3
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/uint64.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#11223 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.3
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
Labels: automerge, neo4j

#11229 feat: Add `datadog_rum_events` table
  plugins/source/datadog/client/helpers.go
  plugins/source/datadog/client/mocks/rum_api.go
  plugins/source/datadog/client/services.go
  plugins/source/datadog/client/services/rum_api.go
  plugins/source/datadog/client/testing.go
  plugins/source/datadog/codegen/services/clients.go
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/datadog/resources/services/rum/events.go
  plugins/source/datadog/resources/services/rum/events_mock_test.go
  website/pages/docs/plugins/sources/datadog/tables.md
  website/tables/datadog/datadog_rum_events.md
Labels: automerge, website, datadog

#11228 fix(azure): Fix some CIS Azure policies
  plugins/source/azure/policies/cis_v1.3.0/section_1.sql
  plugins/source/azure/policies/queries/iam/custom_subscription_owner_roles.sql
  plugins/source/azure/policies/queries/sql/auditing_off.sql
  plugins/source/azure/policies/queries/sql/data_encryption_off.sql
  website/pages/docs/plugins/sources/azure/policies.md
Labels: azure, automerge, website

#11231 chore(datadog): Refactor
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/dashboards/lists.go
  plugins/source/datadog/resources/services/dashboards/lists_mock_test.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/incidents/attachments.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/monitors/downtimes.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/role_permissions.go
  plugins/source/datadog/resources/services/roles/role_users.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/slos/corrections.go
  plugins/source/datadog/resources/services/slos/corrections_mock_test.go
  plugins/source/datadog/resources/services/slos/slos.go
  plugins/source/datadog/resources/services/synthetics/global_variables.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/users/permissions.go
  plugins/source/datadog/resources/services/users/users.go
Labels: automerge, datadog

#11233 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.3
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#11235 fix(website): External content import notes
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Labels: automerge, website

#11239 fix(cli-deps): Update plugin-pb-go to 1.0.9
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#11238 doc(website): Add Onfleet partner integration pages
  website/components/pluginData.tsx
  website/public/images/logos/plugins/onfleet.svg
Labels: automerge, website

#11237 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.3
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#11234 fix(deps): Update module github.com/cloudquery/plugin-sdk/v3 to v3.10.4
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, priority merge, snowflake

#11266 chore(ci): Ignore non-breaking column ordering changes in changes script
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_11259_diff.txt
Labels: automerge, priority merge

#11224 feat(aws): Add support for EC2 Image Last Launched Time
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/ec2/image_last_launched.go
  plugins/source/aws/resources/services/ec2/images.go
  plugins/source/aws/resources/services/ec2/images_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_image_last_launched_times.md
  website/tables/aws/aws_ec2_images.md
Labels: aws, automerge, website

#11360 feat(dest-mysql): Handle all MySQL types
  plugins/destination/mysql/client/migrate.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/types.go
  plugins/destination/mysql/client/types_test.go
Labels: automerge, mysql

#11387 doc(website): Update example queries scripts for AWS, Azure, GCP
  plugins/source/aws/scripts/example_queries/main.go
  plugins/source/azure/scripts/example_queries/main.go
  plugins/source/gcp/scripts/example_queries/main.go
  website/tables/azure/azure_appservice_web_app_auth_settings.md
  website/tables/azure/azure_appservice_web_app_vnet_connections.md
  website/tables/azure/azure_appservice_web_apps.md
  website/tables/azure/azure_authorization_role_assignments.md
  website/tables/azure/azure_authorization_role_definitions.md
  website/tables/azure/azure_batch_account.md
  website/tables/azure/azure_compute_disks.md
  website/tables/azure/azure_compute_virtual_machine_extensions.md
  website/tables/azure/azure_compute_virtual_machine_scale_sets.md
  website/tables/azure/azure_containerregistry_registries.md
  website/tables/azure/azure_containerservice_managed_clusters.md
  website/tables/azure/azure_cosmos_database_accounts.md
  website/tables/azure/azure_datalakeanalytics_accounts.md
  website/tables/azure/azure_datalakestore_accounts.md
  website/tables/azure/azure_eventhub_namespace_network_rule_sets.md
  website/tables/azure/azure_eventhub_namespaces.md
  website/tables/azure/azure_keyvault_keyvault.md
  website/tables/azure/azure_keyvault_keyvault_keys.md
  website/tables/azure/azure_keyvault_keyvault_managed_hsms.md
  website/tables/azure/azure_keyvault_keyvault_secrets.md
  website/tables/azure/azure_logic_workflows.md
  website/tables/azure/azure_monitor_log_profiles.md
  website/tables/azure/azure_network_interfaces.md
  website/tables/azure/azure_network_security_groups.md
  website/tables/azure/azure_redis_caches.md
  website/tables/azure/azure_resources_links.md
  website/tables/azure/azure_search_services.md
  website/tables/azure/azure_security_assessments.md
  website/tables/azure/azure_servicebus_namespaces.md
  website/tables/azure/azure_streamanalytics_streaming_jobs.md
  website/tables/azure/azure_subscription_subscriptions.md
Labels: aws, azure, automerge, gcp, website

#11392 chore: Use `arrow.ListLikeType`
  plugins/.golangci.yml
  plugins/destination/clickhouse/typeconv/ch/types/column_type.go
  plugins/destination/clickhouse/typeconv/ch/types/list.go
  plugins/destination/clickhouse/typeconv/ch/types/nullable.go
Labels: automerge, clickhouse

#11394 chore(azure): Fix ID normalization
  plugins/source/azure/client/middleware.go
  plugins/source/azure/client/middleware_test.go
Labels: azure, automerge

#11396 doc: Add Attack Surface Management to list of use cases in README
  README.md
Labels: automerge

#11397 chore: Disable `depguard`
  cli/.golangci.yml
Labels: automerge

#11399 doc: Update policies.md
  website/pages/docs/core-concepts/policies.md
Labels: automerge, website

#11401 feat(website): Add Coinpaprika partner
  .github/styles/Vocab/Base/accept.txt
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/overview.mdx
  website/public/images/logos/plugins/coinpaprika.svg
Labels: automerge, website

#11299 fix(ci): When checking number of commits in release summary, only include `cq-bot` commits
  .github/workflows/release_summary.yml
Labels: automerge, ci

#11403 feat: Add public/private IPs & block volume attachments
  plugins/source/oracle/docs/tables/README.md
  plugins/source/oracle/resources/plugin/autogen_tables.go
  plugins/source/oracle/resources/plugin/plugin.go
  plugins/source/oracle/resources/services/compute/volume_attachments.go
  plugins/source/oracle/resources/services/virtualnetwork/private_ips.go
  plugins/source/oracle/resources/services/virtualnetwork/public_ips.go
  website/pages/docs/plugins/sources/oracle/tables.md
  website/tables/oracle/oracle_compute_volume_attachments.md
  website/tables/oracle/oracle_virtualnetwork_assigned_public_ips.md
  website/tables/oracle/oracle_virtualnetwork_ephemeral_public_ips.md
  website/tables/oracle/oracle_virtualnetwork_private_ips.md
  website/tables/oracle/oracle_virtualnetwork_reserved_public_ips.md
Labels: automerge, website, oracle

#11407 doc(website): Add CrowdStrike as community plugin
  website/components/Category.tsx
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/overview.mdx
  website/public/images/logos/plugins/crowdstrike.svg
Labels: automerge, website

#11404 feat(website): How-To Guide on Service Limits in AWS
  website/pages/how-to-guides/aws-resource-limits-and-service-quotas.mdx
  website/public/images/how-to-guides/aws-resource-limits-and-service-quotas/trusted-advisor.png
Labels: website

#11414 fix(website): Grammar fix on how-to-guide main page
  website/pages/how-to-guides.mdx
Labels: automerge, website

#11416 chore(website): Product Updates #6
  website/pages/blog/product-updates-6.mdx
Labels: automerge, website

#11422 doc(website): Fix scaffold command
  website/pages/docs/developers/creating-new-plugin.md
Labels: automerge, website

#11420 fix(aws): Resolve All types of attached Resources in `aws_wafv2_web_acls`
  plugins/source/aws/resources/services/wafv2/web_acls.go
  plugins/source/aws/resources/services/wafv2/web_acls_mock_test.go
Labels: aws, automerge

#11429 fix: Add internal columns
  plugins/source/firestore/resources/plugin/plugin.go
Labels: automerge, priority merge, firestore

#11433 doc(website): Add info about skip_dependent_tables to Performance Tuning docs
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, website

#11435 fix(dest-mysql): Set key prefix for `blob/text` PK columns
  plugins/destination/mysql/client/schema.go
Labels: automerge, priority merge, mysql

#11434 doc(website): Add Google Cloud VM Deployment Tutorial
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/cloud-run.mdx
  website/pages/docs/deployment/google-cloud-vm.mdx
  website/pages/docs/deployment/overview.md
Labels: automerge, website

#11443 chore(website): Add placeholder page for /docs/quickstart to prevent HEAD requests getting 404
  website/pages/docs/quickstart/index.md
Labels: automerge, website

#11440 chore(website): Add optional og:title and og:video meta tags to header
  website/pages/docs/deployment/google-cloud-vm.mdx
  website/theme.config.tsx
Labels: automerge, website

#11441 doc: Update default configurations to use non default concurrency value
  website/pages/docs/plugins/sources/alicloud/_configuration.mdx
  website/pages/docs/plugins/sources/aws/_configuration.mdx
  website/pages/docs/plugins/sources/awspricing/_configuration.mdx
  website/pages/docs/plugins/sources/azure/_configuration.mdx
  website/pages/docs/plugins/sources/azuredevops/_configuration.mdx
  website/pages/docs/plugins/sources/cloudflare/_configuration.mdx
  website/pages/docs/plugins/sources/datadog/_configuration.mdx
  website/pages/docs/plugins/sources/digitalocean/_configuration.mdx
  website/pages/docs/plugins/sources/facebookmarketing/_configuration.mdx
  website/pages/docs/plugins/sources/fastly/_configuration.mdx
  website/pages/docs/plugins/sources/firestore/_configuration.mdx
  website/pages/docs/plugins/sources/gandi/_configuration.mdx
  website/pages/docs/plugins/sources/gcp/_configuration.mdx
  website/pages/docs/plugins/sources/github/_configuration.mdx
  website/pages/docs/plugins/sources/gitlab/_configuration.mdx
  website/pages/docs/plugins/sources/googleads/_configuration.mdx
  website/pages/docs/plugins/sources/googleanalytics/_configuration.mdx
  website/pages/docs/plugins/sources/hackernews/_configuration.mdx
  website/pages/docs/plugins/sources/heroku/_configuration.mdx
  website/pages/docs/plugins/sources/homebrew/_configuration.mdx
  website/pages/docs/plugins/sources/hubspot/_configuration.mdx
  website/pages/docs/plugins/sources/k8s/_configuration.mdx
  website/pages/docs/plugins/sources/launchdarkly/_configuration.mdx
  website/pages/docs/plugins/sources/mixpanel/_configuration.mdx
  website/pages/docs/plugins/sources/mysql/_configuration.mdx
  website/pages/docs/plugins/sources/okta/_configuration.mdx
  website/pages/docs/plugins/sources/oracle/_configuration.mdx
  website/pages/docs/plugins/sources/oracledb/_configuration.mdx
  website/pages/docs/plugins/sources/pagerduty/_configuration.mdx
  website/pages/docs/plugins/sources/plausible/_configuration.mdx
  website/pages/docs/plugins/sources/postgresql/_configuration.mdx
  website/pages/docs/plugins/sources/salesforce/_configuration.mdx
  website/pages/docs/plugins/sources/shopify/_configuration.mdx
  website/pages/docs/plugins/sources/slack/_configuration.mdx
  website/pages/docs/plugins/sources/snyk/_configuration.mdx
  website/pages/docs/plugins/sources/stripe/_configuration.mdx
  website/pages/docs/plugins/sources/tailscale/_configuration.mdx
  website/pages/docs/plugins/sources/terraform/_configuration.mdx
  website/pages/docs/plugins/sources/vercel/_configuration.mdx
Labels: automerge, website

#11436 doc(website): Include deployment tutorials in how-to guides
  website/components/HowToGuideIndex.tsx
  website/pages/docs/deployment/cloud-run.mdx
  website/pages/docs/deployment/docker.mdx
Labels: automerge, website

#11442 chore: Update product-updates-6.mdx
  website/pages/blog/product-updates-6.mdx
Labels: automerge, website

#11447 chore: Exclude _meta pages from sitemap
  website/next-sitemap.config.js
Labels: automerge, website

#11452 chore: Revert "fix: Add internal columns"
  plugins/source/firestore/resources/plugin/plugin.go
Labels: automerge, firestore

#11453 chore(website-firestore): Revert to last working version
  website/versions/source-firestore.json
Labels: automerge, website, priority merge

#11466 fix(website-vercel): Update link to avoid redirect
  website/pages/docs/plugins/sources/vercel/configuration.mdx
Labels: automerge, website, priority merge

#11469 doc(website): Add an example query to Azure for listing VM types
  website/pages/docs/plugins/sources/azure/overview.mdx
Labels: automerge, website, priority merge

#11478 fix(sqlite): Escape PK constraint name
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/write.go
Labels: automerge, priority merge, sqlite

#11494 chore(ci): Ignore PR labeler errors
  .github/workflows/pr_labeler.yml
Labels: automerge, ci, priority merge

#10955 doc(website): Document Arrow string representation
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/arrow-string-representation.md
  website/pages/docs/plugins/destinations/gremlin/types.md
  website/pages/docs/plugins/destinations/neo4j/types.md
Labels: automerge, website, priority merge

#11516 fix: Don't update `UNIQUE` columns (DuckDB contraint)
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, priority merge, duckdb

#11521 fix(ci): Put `continue-on-error: true` in the right level
  .github/workflows/pr_labeler.yml
Labels: automerge, priority merge

#11522 feat(aws): Add support for Protected Resources in AWS Backup
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/backup/protected_resources.go
  plugins/source/aws/resources/services/backup/protected_resources_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_backup_protected_resources.md
Labels: aws, automerge, website

#11526 fix: Change list tables to exclude default namespaces except `USERS`
  plugins/source/oracledb/client/list_tables.go
Labels: automerge, oracledb

#11535 fix: Filter out invisible columns
  plugins/source/oracledb/client/list_tables.go
Labels: automerge, oracledb

#11539 feat(ci): Add workflow to clean GitHub Actions caches
  .github/workflows/clean_actions_cache.yml
Labels: automerge, ci

#11402 feat(aws): Add `aws_alpha_cloudwatch_metric*` tables to fetch Cloudwatch Metrics and statistics
  plugins/source/aws/client/client.go
  plugins/source/aws/client/tableoptions/cloudwatch.go
  plugins/source/aws/client/tableoptions/table_options.go
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudwatch/alarms.go
  plugins/source/aws/resources/services/cloudwatch/metric_statistics.go
  plugins/source/aws/resources/services/cloudwatch/metrics.go
  plugins/source/aws/resources/services/cloudwatch/metrics_mock_test.go
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_alpha_cloudwatch_metric_statistics.md
  website/tables/aws/aws_alpha_cloudwatch_metrics.md
Labels: aws, automerge, website

#11540 feat!: Support number type with precision and scale
  plugins/source/oracledb/client/list_tables.go
  plugins/source/oracledb/client/types.go
  plugins/source/oracledb/client/types_test.go
Labels: automerge, oracledb

#11546 fix: Write buffered parquet files
  plugins/destination/duckdb/client/write.go
Labels: automerge, duckdb

#11548 feat(aws): Table Options Validation
  plugins/source/aws/client/tableoptions/cloudwatch.go
  plugins/source/aws/client/tableoptions/table_options.go
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/resources/services/cloudwatch/metrics_mock_test.go
Labels: aws, automerge

#11612 fix: Fix syncing multiple sources to multiple non-overlapping destinations
  cli/cmd/sync.go
  cli/cmd/testdata/multiple-sources-destinations.yml
Labels: automerge, cli

#11616 fix: Don't show edit on GitHub link for autogenerated table docs
  website/components/EditLink.tsx
Labels: automerge, website

#11618 doc: Update aws-resources-view.mdx
  website/pages/blog/aws-resources-view.mdx
Labels: automerge, website

#11617 doc: Update AWS views.md
  website/pages/docs/plugins/sources/aws/views.md
Labels: automerge, website

#11623 fix(source-mysql): Add schema name condition to list columns query
  plugins/source/mysql/client/list_tables.go
Labels: automerge, priority merge, source-mysql

#10369 feat(resources): Use `resourcemanager/resources/armsubscriptions` for subscription resources
  plugins/source/azure/client/client.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/services/subscription/locations.go
  plugins/source/azure/resources/services/subscription/locations_mock_test.go
  plugins/source/azure/resources/services/subscription/subscription_mock_test.go
  plugins/source/azure/resources/services/subscription/subscriptions.go
  plugins/source/azure/resources/services/subscription/subscriptions_fetch.go
  plugins/source/azure/resources/services/subscription/tenants.go
  plugins/source/azure/resources/services/subscription/tenants_mock_test.go
  website/tables/azure/azure_subscription_subscription_locations.md
  website/tables/azure/azure_subscription_subscriptions.md
  website/tables/azure/azure_subscription_tenants.md
Labels: azure, automerge, website

#11528 feat(shopify)!: Sync all orders not just open orders
  plugins/source/shopify/resources/services/order/orders_fetch.go
Labels: automerge, shopify

#10985 feat(aws)!: Support all policy types in Identity Center
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/customer_managed_policies.go
  plugins/source/aws/resources/services/ssoadmin/inline_policies.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/managed_policies.go
  plugins/source/aws/resources/services/ssoadmin/permission_boundaries.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ssoadmin_account_assignments.md
  website/tables/aws/aws_ssoadmin_instances.md
  website/tables/aws/aws_ssoadmin_permission_set_account_assignments.md
  website/tables/aws/aws_ssoadmin_permission_set_customer_managed_policies.md
  website/tables/aws/aws_ssoadmin_permission_set_inline_policies.md
  website/tables/aws/aws_ssoadmin_permission_set_managed_policies.md
  website/tables/aws/aws_ssoadmin_permission_set_permissions_boundaries.md
  website/tables/aws/aws_ssoadmin_permission_sets.md
Labels: aws, automerge, website

#11633 feat(aws)!: Add support For fully describing the organizational hierarchy
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/organizations/account_parents.go
  plugins/source/aws/resources/services/organizations/accounts.go
  plugins/source/aws/resources/services/organizations/accounts_mock_test.go
  plugins/source/aws/resources/services/organizations/organizational_unit_parents.go
  plugins/source/aws/resources/services/organizations/organizational_units.go
  plugins/source/aws/resources/services/organizations/organizational_units_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_organizations_account_parents.md
  website/tables/aws/aws_organizations_accounts.md
  website/tables/aws/aws_organizations_organizational_unit_parents.md
  website/tables/aws/aws_organizations_organizational_units.md
Labels: aws, automerge, website

#11421 fix(aws)!: Move `web_acl_arn` to its own table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/elbv2/load_balancer_web_acls.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_elbv2_load_balancer_web_acls.md
  website/tables/aws/aws_elbv2_load_balancers.md
Labels: aws, automerge, website

#11620 fix: Fallback to `$insert_id` & random-generated value for `mixpanel_export_events.distinct_id`
  plugins/source/mixpanel/resources/services/export/export_events.go
Labels: automerge, mixpanel

#10184 fix(azure-policies): Fix Syntax for policies
  plugins/source/azure/policies/queries/monitor/activitylog_administrativeoperations_audit.sql
  plugins/source/azure/policies/queries/monitor/azure_monitor_log_profile_should_collect_logs_for_categories_write_delete_and_action.sql
  plugins/source/azure/policies/queries/monitor/azure_monitor_should_collect_activity_logs_from_all_regions.sql
  plugins/source/azure/policies/queries/postgresql/enforce_ssl_connection_should_be_enabled_for_postgresql_database_servers.sql
  plugins/source/azure/policies/queries/web/function_app_should_only_be_accessible_over_https.sql
  plugins/source/azure/policies/queries/web/latest_tls_version_should_be_used_in_your_api_app.sql
Labels: azure, policy, automerge

#11645 feat(azure-resources): Add missing Cognitive Services resources
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/cognitiveservices/account_deployments.go
  plugins/source/azure/resources/services/cognitiveservices/account_deployments_test.go
  plugins/source/azure/resources/services/cognitiveservices/account_private_endpoint_connections.go
  plugins/source/azure/resources/services/cognitiveservices/account_private_endpoint_connections_test.go
  plugins/source/azure/resources/services/cognitiveservices/account_private_link_resources.go
  plugins/source/azure/resources/services/cognitiveservices/account_private_link_resources_test.go
  plugins/source/azure/resources/services/cognitiveservices/account_skus.go
  plugins/source/azure/resources/services/cognitiveservices/account_skus_models.go
  plugins/source/azure/resources/services/cognitiveservices/account_skus_models_test.go
  plugins/source/azure/resources/services/cognitiveservices/account_skus_test.go
  plugins/source/azure/resources/services/cognitiveservices/account_usages.go
  plugins/source/azure/resources/services/cognitiveservices/account_usages_test.go
  plugins/source/azure/resources/services/cognitiveservices/accounts.go
  plugins/source/azure/resources/services/cognitiveservices/accounts_mock_test.go
  plugins/source/azure/resources/services/cognitiveservices/commitment_plans.go
  plugins/source/azure/resources/services/cognitiveservices/commitment_plans_test.go
  plugins/source/azure/resources/services/cognitiveservices/resource_skus.go
  plugins/source/azure/resources/services/cognitiveservices/resource_skus_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_cognitiveservices_account_deployments.md
  website/tables/azure/azure_cognitiveservices_account_models.md
  website/tables/azure/azure_cognitiveservices_account_private_endpoint_connections.md
  website/tables/azure/azure_cognitiveservices_account_private_link_resources.md
  website/tables/azure/azure_cognitiveservices_account_skus.md
  website/tables/azure/azure_cognitiveservices_account_usages.md
  website/tables/azure/azure_cognitiveservices_accounts.md
  website/tables/azure/azure_cognitiveservices_commitment_plans.md
  website/tables/azure/azure_cognitiveservices_resource_skus.md
Labels: azure, automerge, website

#11658 feat: Use chunks while preparing batch
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/typeconv/ch/values/batch.go
Labels: automerge, clickhouse

#11660 test(duckdb): Add debug logs
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/client_test.go
Labels: automerge, duckdb

#11657 feat(aws): Add PolicyStatus to WrappedBucket
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
  plugins/source/aws/resources/services/s3/models/s3.go
  website/tables/aws/aws_s3_buckets.md
Labels: aws, automerge, website

#11674 chore(ci): Cleanup PR cache when it is closed
  .github/workflows/clean_actions_cache.yml
Labels: automerge, ci, priority merge

#11682 doc(website): Remove broken Configuration link from Heroku docs
  website/pages/docs/plugins/sources/heroku/_meta.json
Labels: automerge, website

#11666 feat(aws): Add support for EC2 Capacity Reservations
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/capacity_reservations.go
  plugins/source/aws/resources/services/ec2/capacity_reservations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_capacity_reservations.md
Labels: aws, automerge, website

#11671 feat(aws): Add Support for Cloudtrail Imports
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudtrail/imports.go
  plugins/source/aws/resources/services/cloudtrail/imports_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_cloudtrail_imports.md
Labels: aws, automerge, website

#11668 feat(aws): Add Support for more Cloudfront Resources
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudfront/origin_access_identities.go
  plugins/source/aws/resources/services/cloudfront/origin_access_identities_mock_test.go
  plugins/source/aws/resources/services/cloudfront/origin_request_policies.go
  plugins/source/aws/resources/services/cloudfront/origin_request_policies_mock_test.go
  plugins/source/aws/resources/services/cloudfront/response_headers_policies.go
  plugins/source/aws/resources/services/cloudfront/response_headers_policies_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_cloudfront_origin_access_identities.md
  website/tables/aws/aws_cloudfront_origin_request_policies.md
  website/tables/aws/aws_cloudfront_response_headers_policies.md
Labels: aws, automerge, website

#11685 chore: Homebrew gitignore update (second attempt)
  plugins/source/homebrew/.gitignore
Labels: automerge, priority merge

#11686 fix: Use ServiceAccountRegion multiplexer for aws_availability_zones
  plugins/source/aws/resources/services/ec2/azs.go
Labels: aws, automerge, priority merge

#11692 fix: Update DuckDB driver to v1.4.1
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, duckdb

#11214 feat(mysql)!: Update to SDK V3 Arrow native
  plugins/source/mysql/client/client.go
  plugins/source/mysql/client/list_tables.go
  plugins/source/mysql/client/sync.go
  plugins/source/mysql/client/transformer.go
  plugins/source/mysql/client/types.go
  plugins/source/mysql/client/types_test.go
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/main.go
  plugins/source/mysql/resources/plugin/plugin.go
  plugins/source/mysql/resources/plugin/plugin_test.go
  plugins/source/mysql/resources/plugin/tables.go
Labels: automerge, source-mysql

#11115 feat(oracledb)!: Update to SDK V3 Arrow native
  plugins/source/oracledb/client/client.go
  plugins/source/oracledb/client/list_tables.go
  plugins/source/oracledb/client/sync.go
  plugins/source/oracledb/client/transformer.go
  plugins/source/oracledb/client/types.go
  plugins/source/oracledb/go.mod
  plugins/source/oracledb/go.sum
  plugins/source/oracledb/main.go
  plugins/source/oracledb/resources/plugin/plugin.go
  plugins/source/oracledb/resources/plugin/plugin_test.go
  plugins/source/oracledb/resources/plugin/tables.go
Labels: automerge, oracledb

#11698 feat(aws): Add Support for AWS CodeArtifact Domains and Repositories
  plugins/source/aws/client/mocks/codeartifact.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/codeartifact.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/codeartifact/domains.go
  plugins/source/aws/resources/services/codeartifact/domains_mock_test.go
  plugins/source/aws/resources/services/codeartifact/helpers.go
  plugins/source/aws/resources/services/codeartifact/repositories.go
  plugins/source/aws/resources/services/codeartifact/repositories_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_codeartifact_domains.md
  website/tables/aws/aws_codeartifact_repositories.md
Labels: aws, automerge, website

#11212 feat(postgres)!: Update to SDK V3 Arrow native
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/client/transformer.go
  plugins/source/postgresql/client/types.go
  plugins/source/postgresql/go.mod
  plugins/source/postgresql/go.sum
  plugins/source/postgresql/main.go
  plugins/source/postgresql/pgarrow/to_arrow.go
  plugins/source/postgresql/pgarrow/to_arrow_test.go
  plugins/source/postgresql/pgarrow/to_pg.go
  plugins/source/postgresql/resources/plugin/plugin.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
  plugins/source/postgresql/resources/plugin/tables.go
Labels: automerge, source-postgresql

#11697 feat: Add AWS Well-Architected resources
  plugins/source/aws/client/mocks/wellarchitected.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/wellarchitected.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/wellarchitected/lens_review_improvements.go
  plugins/source/aws/resources/services/wellarchitected/lens_review_improvements_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/lens_reviews.go
  plugins/source/aws/resources/services/wellarchitected/lens_reviews_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/lenses.go
  plugins/source/aws/resources/services/wellarchitected/lenses_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/share_invitations.go
  plugins/source/aws/resources/services/wellarchitected/share_invitations_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/workload_milestones.go
  plugins/source/aws/resources/services/wellarchitected/workload_milestones_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/workload_shares.go
  plugins/source/aws/resources/services/wellarchitected/workload_shares_mock_test.go
  plugins/source/aws/resources/services/wellarchitected/workloads.go
  plugins/source/aws/resources/services/wellarchitected/workloads_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_wellarchitected_lens_review_improvements.md
  website/tables/aws/aws_wellarchitected_lens_reviews.md
  website/tables/aws/aws_wellarchitected_lenses.md
  website/tables/aws/aws_wellarchitected_share_invitations.md
  website/tables/aws/aws_wellarchitected_workload_milestones.md
  website/tables/aws/aws_wellarchitected_workload_shares.md
  website/tables/aws/aws_wellarchitected_workloads.md
Labels: aws, automerge, website

#11713 doc(website): Add MotherDuck how-to guide
  website/pages/how-to-guides/moving-data-from-postgres-to-motherduck.mdx
  website/public/images/how-to-guides/moving-data-from-postgres-to-motherduck/motherduck-token.png
Labels: automerge, website

#11714 doc(website): Hide quickstart index link
  website/pages/docs/quickstart/_meta.json
Labels: automerge, website

#11716 doc(website): Remove brew install command on home page
  website/components/pages/home.tsx
Labels: automerge, website

#11702 feat(aws): Add Support for Cloud Map (servicediscovery) resources
  plugins/source/aws/client/mocks/servicediscovery.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/servicediscovery.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/servicediscovery/helpers.go
  plugins/source/aws/resources/services/servicediscovery/instances.go
  plugins/source/aws/resources/services/servicediscovery/namespaces.go
  plugins/source/aws/resources/services/servicediscovery/namespaces_test.go
  plugins/source/aws/resources/services/servicediscovery/services.go
  plugins/source/aws/resources/services/servicediscovery/services_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_servicediscovery_instances.md
  website/tables/aws/aws_servicediscovery_namespaces.md
  website/tables/aws/aws_servicediscovery_services.md
Labels: aws, automerge, website

#11718 doc(website): Add short video intro to MotherDuck how-to guide
  website/pages/how-to-guides/moving-data-from-postgres-to-motherduck.mdx
Labels: automerge, website

#11727 fix: Github source pagination
  plugins/source/github/client/client.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/teams.go
Labels: Customer Issue, automerge, github

#11740 refactor: Remove refs to deprecated io/ioutil
  plugins/source/gcp/codegen/client/discover.go
Labels: automerge, gcp

#11683 feat(cli): Upgrade to SDK v4, protocol v3
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  cli/cmd/sync_v2.go
  cli/cmd/sync_v3.go
  cli/cmd/tables.go
  cli/go.mod
  cli/go.sum
  cli/internal/transformer/transformer.go
  cli/internal/transformer/transformer_test.go
Labels: automerge, cli

#11759 fix(cli): Set SkipDependentTables, DeterministicCqId
  cli/cmd/sync_v3.go
Labels: automerge, cli

#11762 fix: Remove docker link from advanced topics
  website/pages/docs/advanced-topics/_meta.json
Labels: automerge, website, priority merge

#11736 feat(sqlite): Migrate to SDK V4
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/metrics.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/sqlite/main.go
Labels: automerge, sqlite

#11737 feat(snowflake): Update to SDK V4
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/metrics.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
Labels: snowflake

#11764 feat(aws): Add support for EKS `AddOns` and `IdentityProviderConfigs`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/eks/add_ons.go
  plugins/source/aws/resources/services/eks/clusters.go
  plugins/source/aws/resources/services/eks/clusters_mock_test.go
  plugins/source/aws/resources/services/eks/identity_provider_configs.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_eks_cluster_addons.md
  website/tables/aws/aws_eks_cluster_oidc_identity_provider_configs.md
  website/tables/aws/aws_eks_clusters.md
Labels: aws, automerge, website

#11765 feat(aws): Add support for AWS Signer Profiles
  plugins/source/aws/client/mocks/signer.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/signer.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/signer/profiles.go
  plugins/source/aws/resources/services/signer/profiles_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_signer_signing_profiles.md
Labels: aws, automerge, website

#11767 feat(aws): Add Support for AWS Detective `Graphs` and `GraphMembers`
  plugins/source/aws/client/mocks/detective.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/detective.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/detective/graphs.go
  plugins/source/aws/resources/services/detective/graphs_mock_test.go
  plugins/source/aws/resources/services/detective/members.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_detective_graph_members.md
  website/tables/aws/aws_detective_graphs.md
Labels: aws, automerge, website

#11769 feat(aws): Add support for EC2 VPN Connections
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/vpn_connections.go
  plugins/source/aws/resources/services/ec2/vpn_connections_mock_test.go
  plugins/source/aws/resources/services/eks/clusters_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_hosts.md
  website/tables/aws/aws_ec2_vpn_connections.md
Labels: aws, automerge, website

#11774 refactor(aws): Linting
  plugins/source/aws/resources/services/support/services_test.go
Labels: aws, automerge

#11770 feat(aws): Add Support for ECR `PullThroughCacheRules`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ecr/pull_through_cache_rules.go
  plugins/source/aws/resources/services/ecr/pull_through_cache_rules_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ecr_pull_through_cache_rules.md
Labels: aws, automerge, website

#11786 fix(aws): AppRunner Tag errors
  plugins/source/aws/resources/services/apprunner/tag_fetch.go
Labels: aws, automerge

#11791 fix(CLI): Multiple migrations
  cli/cmd/migrate.go
Labels: automerge, cli

#11789 doc(website): Add `concurrency` to example configs
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.mdx
Labels: automerge, website

#11766 fix: CLI v4: issue config deprecation warnings, pass options to plugin-level spec
  cli/cmd/specs.go
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/destination_test.go
  cli/internal/specs/v0/scheduler.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec.go
  cli/internal/specs/v0/spec_reader.go
  cli/internal/transformer/transformer.go
  cli/internal/transformer/transformer_test.go
Labels: automerge, cli

#11795 fix(aws): Fix Timestream Regional issue
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client.go
  plugins/source/aws/resources/services/timestream/databases.go
Labels: aws, automerge

#11799 fix(mysql): Handle Multiple Schemas
  plugins/destination/mysql/client/schema.go
Labels: automerge, mysql

#11780 feat(gremlin): Upgrade to SDK v4
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/client/deletestale.go
  plugins/destination/gremlin/client/migrate.go
  plugins/destination/gremlin/client/read.go
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/client/transformer.go
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/gremlin/main.go
Labels: automerge, gremlin

#11782 feat(neo4j)!: Upgrade to SDK v4
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/migrate.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/neo4j/main.go
Labels: automerge, neo4j

#11806 fix(neo4j): Don't order for reading
  plugins/destination/neo4j/client/read.go
Labels: automerge, neo4j

#11805 fix(aws): Codebuild builds
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/codebuild/source_credentials.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_codebuild_builds.md
  website/tables/aws/aws_codebuild_source_credentials.md
Labels: aws, automerge, website

#11807 chore(docs): Correctly document `batch_size*` for gremlin, neo4j and snowflake
  website/pages/docs/plugins/destinations/gremlin/_configuration.mdx
  website/pages/docs/plugins/destinations/gremlin/overview.mdx
  website/pages/docs/plugins/destinations/neo4j/_configuration.mdx
  website/pages/docs/plugins/destinations/neo4j/overview.mdx
  website/pages/docs/plugins/destinations/snowflake/_configuration.mdx
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
Labels: automerge, website

#11808 fix(aws): Fix CodeBuild SourceCredentials Mock Test
  plugins/source/aws/resources/services/codebuild/source_credentials_mock_test.go
Labels: aws, automerge

#11804 feat(sqlite): Update to SDK v4.2.0-rc1
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#11802 feat(duckdb): Update to SDK v4.1.0-rc1
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/spec.go
  plugins/destination/duckdb/client/transform.go
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/duckdb/main.go
Labels: automerge, duckdb

#11796 fix(snowflake): Update to SDK v4.1.0-rc1
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, snowflake

#11656 feat(mongodb): Update to SDK V4
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
Labels: mongodb

#11816 fix(aws): Add test to ensure documentation is unique for each table
  plugins/source/aws/resources/plugin/plugin_test.go
  plugins/source/aws/resources/services/apigatewayv2/api_authorizers.go
  plugins/source/aws/resources/services/apigatewayv2/api_deployments.go
  plugins/source/aws/resources/services/apigatewayv2/api_integration_responses.go
  plugins/source/aws/resources/services/apigatewayv2/api_integrations.go
  plugins/source/aws/resources/services/apigatewayv2/api_models.go
  plugins/source/aws/resources/services/apigatewayv2/api_route_responses.go
  plugins/source/aws/resources/services/apigatewayv2/api_routes.go
  plugins/source/aws/resources/services/apigatewayv2/api_stages.go
  plugins/source/aws/resources/services/apigatewayv2/apis.go
  plugins/source/aws/resources/services/apigatewayv2/domain_name_rest_api_mappings.go
  plugins/source/aws/resources/services/apigatewayv2/domain_names.go
  plugins/source/aws/resources/services/apigatewayv2/vpc_links.go
  plugins/source/aws/resources/services/codebuild/builds.go
  plugins/source/aws/resources/services/ec2/azs.go
  plugins/source/aws/resources/services/ec2/regional_configs.go
  plugins/source/aws/resources/services/emr/block_public_access_configs.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/iam/accounts.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/lambda/runtimes.go
  plugins/source/aws/resources/services/rds/cluster_parameter_group_parameters.go
  plugins/source/aws/resources/services/rds/cluster_parameter_groups.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/s3/access_points.go
  plugins/source/aws/resources/services/s3/accounts.go
  plugins/source/aws/resources/services/wellarchitected/share_invitations.go
  website/tables/aws/aws_apigatewayv2_api_authorizers.md
  website/tables/aws/aws_apigatewayv2_api_deployments.md
  website/tables/aws/aws_apigatewayv2_api_integration_responses.md
  website/tables/aws/aws_apigatewayv2_api_integrations.md
  website/tables/aws/aws_apigatewayv2_api_models.md
  website/tables/aws/aws_apigatewayv2_api_route_responses.md
  website/tables/aws/aws_apigatewayv2_api_routes.md
  website/tables/aws/aws_apigatewayv2_api_stages.md
  website/tables/aws/aws_apigatewayv2_apis.md
  website/tables/aws/aws_apigatewayv2_domain_name_rest_api_mappings.md
  website/tables/aws/aws_apigatewayv2_domain_names.md
  website/tables/aws/aws_apigatewayv2_vpc_links.md
  website/tables/aws/aws_availability_zones.md
  website/tables/aws/aws_codebuild_builds.md
  website/tables/aws/aws_ec2_regional_configs.md
  website/tables/aws/aws_emr_block_public_access_configs.md
  website/tables/aws/aws_guardduty_detector_ip_sets.md
  website/tables/aws/aws_guardduty_detector_publishing_destinations.md
  website/tables/aws/aws_iam_accounts.md
  website/tables/aws/aws_iam_credential_reports.md
  website/tables/aws/aws_lambda_runtimes.md
  website/tables/aws/aws_rds_engine_versions.md
  website/tables/aws/aws_s3_access_points.md
  website/tables/aws/aws_s3_accounts.md
  website/tables/aws/aws_wellarchitected_share_invitations.md
Labels: aws, automerge, website

#11822 fix(cli): Fix sync in protov3
  cli/cmd/sync_v3.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#11826 fix(snowflake): Update to SDK v4.4.0-rc1
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, snowflake

#11825 feat(sqlite): Update to SDK V4.4.0-rc1
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#11803 feat(meilisearch): Update to SDK V4.1.0-rc1
  plugins/destination/meilisearch/client/client.go
  plugins/destination/meilisearch/client/client_test.go
  plugins/destination/meilisearch/client/hash.go
  plugins/destination/meilisearch/client/index.go
  plugins/destination/meilisearch/client/migrate.go
  plugins/destination/meilisearch/client/read.go
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/meilisearch/client/transform.go
  plugins/destination/meilisearch/client/write.go
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/meilisearch/main.go
Labels: meilisearch

#11828 fix(mongodb): Update SDK to v4.4.0-rc1
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#11832 fix(meilisearch): Update SDK to v4.4.0-rc1
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
Labels: automerge, meilisearch

#11834 fix(duckdb): Update SDK to v4.4.0-rc1
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: duckdb

#11827 feat(aws): Add AWS CodeCommit Repositories
  plugins/source/aws/client/mocks/codecommit.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/codecommit.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/codecommit/repositories.go
  plugins/source/aws/resources/services/codecommit/repositories_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_codecommit_repositories.md
Labels: aws, automerge, website

#11794 feat(clickhouse): Migrate to SDK v4
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/client/spec.go
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/main.go
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/columns_test.go
  plugins/destination/clickhouse/queries/insert.go
  plugins/destination/clickhouse/queries/read.go
  plugins/destination/clickhouse/queries/read_test.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/create_table_empty_order_by.sql
  plugins/destination/clickhouse/queries/testdata/read.sql
  plugins/destination/clickhouse/typeconv/arrow/types/field.go
  plugins/destination/clickhouse/typeconv/arrow/types/field_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/map_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/struct_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/list_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/primitive_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/struct_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/values.go
  plugins/destination/clickhouse/typeconv/arrow/values/values_test.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions_test.go
  plugins/destination/clickhouse/typeconv/ch/types/extension.go
  plugins/destination/clickhouse/typeconv/ch/types/extension_test.go
  plugins/destination/clickhouse/typeconv/ch/types/list_test.go
  plugins/destination/clickhouse/typeconv/ch/types/map_test.go
  plugins/destination/clickhouse/typeconv/ch/types/nullable.go
  plugins/destination/clickhouse/typeconv/ch/types/struct_test.go
  plugins/destination/clickhouse/typeconv/ch/values/extension.go
  plugins/destination/clickhouse/typeconv/ch/values/extension_test.go
  plugins/destination/clickhouse/typeconv/ch/values/list.go
  plugins/destination/clickhouse/typeconv/ch/values/list_test.go
  plugins/destination/clickhouse/typeconv/ch/values/map.go
  plugins/destination/clickhouse/typeconv/ch/values/map_test.go
  plugins/destination/clickhouse/typeconv/ch/values/struct.go
  plugins/destination/clickhouse/typeconv/ch/values/struct_test.go
  plugins/destination/clickhouse/typeconv/ch/values/values_test.go
  plugins/destination/clickhouse/typeconv/schema.go
  plugins/destination/clickhouse/util/changes.go
  website/pages/docs/plugins/destinations/clickhouse/_configuration.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website, clickhouse

#11841 fix(gremlin): Update to SDK v4.4.1-rc1
  plugins/destination/gremlin/client/deletestale.go
  plugins/destination/gremlin/client/migrate.go
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
Labels: automerge, gremlin
