Repository cloudquery/cloudquery, pull requests merged in 2023-08, with the labels that each got.

#12562 feat(resources): Adding additional EMR cluster resources
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/emr/clusters_mock_test.go
  plugins/source/aws/resources/services/emr/notebook_executions.go
  plugins/source/aws/resources/services/emr/release_labels.go
  plugins/source/aws/resources/services/emr/release_labels_test.go
  plugins/source/aws/resources/services/emr/steps.go
  plugins/source/aws/resources/services/emr/supported_instance_types.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_emr_clusters.md
  website/tables/aws/aws_emr_notebook_executions.md
  website/tables/aws/aws_emr_release_labels.md
  website/tables/aws/aws_emr_steps.md
  website/tables/aws/aws_emr_supported_instance_types.md
Labels: aws, automerge, website

#12673 fix(website): Fix bold policies menu
  website/pages/_meta.json
Labels: automerge, website

#12670 fix: Detecting conditions for CIS AWS v1.5.0 Section 1
  plugins/source/aws/policies/queries/iam/password_policy_prevent_reuse.sql
  plugins/source/aws/policies/queries/iam/policies_attached_to_groups_roles.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_iam_password_policies.md
  website/tables/aws/aws_iam_user_attached_policies.md
  website/tables/aws/aws_iam_user_policies.md
  website/tables/aws/aws_iam_users.md
Labels: aws, automerge, website

#12675 fix: Add name of destination to error on init
  cli/cmd/sync_v3.go
Labels: automerge, cli

#12690 chore(website): Exclude Shopify link
  .github/workflows/broken_links.yml
Labels: automerge, ci

#12684 fix: Add missing `DeleteStale` messages for old destinations
  cli/cmd/sync_v1.go
  cli/cmd/sync_v2.go
Labels: automerge, cli

#12691 fix: Bring chunk traversal back
  plugins/destination/mssql/queries/values.go
  plugins/destination/mssql/queries/values_test.go
Labels: automerge, mssql

#12700 chore: Remove scheduler from spec
  plugins/source/aws/client/spec.go
Labels: aws, automerge

#12557 feat(resources): Add Role Management Policy Assignments
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/authorization/role_management_policy_assignments.go
  plugins/source/azure/resources/services/authorization/role_management_policy_assignments_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_role_management_policy_assignments.md
Labels: azure, automerge, website

#12547 fix: Align premium plugins docs and versions
  website/components/PluginsTable.tsx
  website/pages/blog/cloudquery_tailscale.mdx
  website/pages/docs/plugins/sources/gandi/_configuration.mdx
  website/pages/docs/plugins/sources/gandi/overview.mdx
  website/pages/docs/plugins/sources/googleads/_configuration.mdx
  website/pages/docs/plugins/sources/googleads/overview.mdx
  website/pages/docs/plugins/sources/heroku/_configuration.mdx
  website/pages/docs/plugins/sources/heroku/overview.mdx
  website/pages/docs/plugins/sources/jira/_configuration.mdx
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/pages/docs/plugins/sources/launchdarkly/_configuration.mdx
  website/pages/docs/plugins/sources/launchdarkly/overview.mdx
  website/pages/docs/plugins/sources/mixpanel/_configuration.mdx
  website/pages/docs/plugins/sources/mixpanel/overview.mdx
  website/pages/docs/plugins/sources/mongodb-atlas/_configuration.mdx
  website/pages/docs/plugins/sources/plausible/_configuration.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
  website/pages/docs/plugins/sources/render/_configuration.mdx
  website/pages/docs/plugins/sources/slack/_configuration.mdx
  website/pages/docs/plugins/sources/slack/overview.mdx
  website/pages/docs/plugins/sources/tailscale/_configuration.mdx
  website/pages/docs/plugins/sources/tailscale/overview.mdx
  website/pages/docs/plugins/sources/vercel/_configuration.mdx
  website/pages/docs/plugins/sources/vercel/overview.mdx
  website/versions/source-gandi.json
  website/versions/source-googleads.json
  website/versions/source-heroku.json
  website/versions/source-launchdarkly.json
  website/versions/source-mixpanel.json
  website/versions/source-plausible.json
  website/versions/source-slack.json
  website/versions/source-tailscale.json
  website/versions/source-vercel.json
Labels: automerge, website

#12705 chore(ci): Add square CI
  .github/workflows/source_square.yml
  plugins/source/square/Makefile
  plugins/source/square/plugin/plugin.py
  plugins/source/square/requirements.txt
  plugins/source/square/tests/plugin/plugin.py
  plugins/source/square/tests/plugin/test_plugin.py
Labels: automerge, ci

#12708 chore: Fix typo in `source_square.yml`
  .github/workflows/source_square.yml
Labels: automerge, ci

#12685 fix: Add warning on usage of top level `backend_spec`, add missing quotes
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/source.go
Labels: automerge, cli

#12716 fix(ci): Disable attestations
  .github/workflows/release_plugin.yml
Labels: automerge, ci

#12719 chore: Add missing versions to blog example
  website/pages/blog/proto-v3.mdx
Labels: automerge, website

#12682 fix(ci): Return structs & maps tests
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
Labels: automerge, clickhouse

#12722 chore: Link to the `adding a plugin the monorepo` guide in contributing docs
  CONTRIBUTING.md
Labels: automerge

#12713 chore(deps): Enable python dependencies updates
  .github/renovate.json5
Labels: automerge

#12721 chore: Add missing `a` in contributing guide
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#12726 feat: Add Jira plugin to open-core from premium
  .github/pr_labeler.yml
  .github/workflows/source_jira.yml
  .release-please-manifest.json
  plugins/source/jira/.gitignore
  plugins/source/jira/Makefile
  plugins/source/jira/README.md
  plugins/source/jira/client/client.go
  plugins/source/jira/go.mod
  plugins/source/jira/go.sum
  plugins/source/jira/main.go
  plugins/source/jira/resources/boards/boards.go
  plugins/source/jira/resources/fields/fields.go
  plugins/source/jira/resources/issues/issues.go
  plugins/source/jira/resources/plugin/plugin.go
  plugins/source/jira/resources/priorities/priorities.go
  plugins/source/jira/resources/projects/projects.go
  plugins/source/jira/sync/client.go
  plugins/source/jira/sync/columns.go
  website/pages/docs/plugins/sources/jira/tables.md
  website/pages/docs/plugins/sources/jira/tables/[table].mdx
Labels: automerge, website, ci, jira

#12740 chore(website): Doc config updates (source plugins `A` through `D`)
  plugins/source/datadog/client/spec.go
  website/pages/docs/plugins/sources/alicloud/_configuration.mdx
  website/pages/docs/plugins/sources/alicloud/overview.mdx
  website/pages/docs/plugins/sources/aws/_configuration.mdx
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/awspricing/_configuration.mdx
  website/pages/docs/plugins/sources/awspricing/overview.mdx
  website/pages/docs/plugins/sources/azure/_configuration.mdx
  website/pages/docs/plugins/sources/azure/configuration.mdx
  website/pages/docs/plugins/sources/azuredevops/_configuration.mdx
  website/pages/docs/plugins/sources/azuredevops/overview.mdx
  website/pages/docs/plugins/sources/cloudflare/_configuration.mdx
  website/pages/docs/plugins/sources/cloudflare/configuration.mdx
  website/pages/docs/plugins/sources/datadog/_configuration.mdx
  website/pages/docs/plugins/sources/datadog/configuration.mdx
  website/pages/docs/plugins/sources/digitalocean/_configuration.mdx
  website/pages/docs/plugins/sources/digitalocean/overview.mdx
Labels: automerge, website, datadog

#12741 doc: Use DESTINATION_NAME in Fastly configuration docs
  website/pages/docs/plugins/sources/fastly/_configuration.mdx
Labels: automerge, website

#12743 chore: Pin release please version
  .github/workflows/release_pr.yml
  release-please-config.json
Labels: ci

#12747 chore: Fix typeform release
  .github/workflows/release_pr.yml
  release-please-config.json
Labels: ci

#12745 chore: Add Square plugin docs
  plugins/source/square/Makefile
  plugins/source/square/README.md
  plugins/source/square/plugin/plugin.py
  plugins/source/square/plugin/tables/bookings.py
  plugins/source/square/plugin/tables/disputes.py
  plugins/source/square/plugin/tables/invoices.py
  plugins/source/square/plugin/tables/locations.py
  plugins/source/square/plugin/tables/merchants.py
  plugins/source/square/plugin/tables/payments.py
  plugins/source/square/plugin/tables/payouts.py
  plugins/source/square/plugin/tables/refunds.py
  website/pages/docs/plugins/sources/square/_authentication.mdx
  website/pages/docs/plugins/sources/square/_configuration.mdx
  website/pages/docs/plugins/sources/square/_meta.json
  website/pages/docs/plugins/sources/square/overview.mdx
  website/pages/docs/plugins/sources/square/tables.md
  website/pages/docs/plugins/sources/square/tables/[table].mdx
  website/tables/square/square_bookings.md
  website/tables/square/square_disputes.md
  website/tables/square/square_invoices.md
  website/tables/square/square_locations.md
  website/tables/square/square_merchants.md
  website/tables/square/square_payments.md
  website/tables/square/square_payouts.md
  website/tables/square/square_refunds.md
Labels: automerge, website

#12751 chore: Exclude typeform APIs from broken links checker
  .github/workflows/broken_links.yml
Labels: automerge, ci

#12750 fix: Workaround 10k fetch incident limit in PagerDuty
  plugins/source/pagerduty/resources/services/incidents/incidents_fetch.go
Labels: automerge, pagerduty

#12755 fix: Strip NUL bytes in JSON
  plugins/destination/postgresql/client/transformer.go
Labels: automerge, postgresql

#12763 chore(website): Doc config changes (destination plugins `F` through `K`)
  .github/workflows/dest_kafka.yml
  plugins/destination/gremlin/client/spec.go
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/spec.go
  website/pages/docs/plugins/destinations/azblob/overview.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
  website/pages/docs/plugins/destinations/file/_configuration.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
  website/pages/docs/plugins/destinations/firehose/_configuration.mdx
  website/pages/docs/plugins/destinations/firehose/overview.mdx
  website/pages/docs/plugins/destinations/gcs/_configuration.mdx
  website/pages/docs/plugins/destinations/gcs/overview.mdx
  website/pages/docs/plugins/destinations/gremlin/_configuration.mdx
  website/pages/docs/plugins/destinations/gremlin/overview.mdx
  website/pages/docs/plugins/destinations/kafka/_configuration.mdx
  website/pages/docs/plugins/destinations/kafka/overview.mdx
  website/pages/docs/plugins/destinations/meilisearch/overview.mdx
  website/pages/docs/plugins/destinations/mongodb/overview.mdx
  website/pages/docs/plugins/destinations/mssql/configuration.mdx
  website/pages/docs/plugins/destinations/mysql/configuration.mdx
  website/pages/docs/plugins/destinations/neo4j/overview.mdx
  website/pages/docs/plugins/destinations/postgresql/overview.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
Labels: automerge, website, ci, kafka, gremlin

#12764 chore(ci): Ease up Kafka test
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/spec.go
Labels: automerge, kafka

#12766 fix: Return a datadog client instance instead of nil
  plugins/source/datadog/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/plugin_test.go
Labels: automerge, datadog

#12768 fix(resources): Handle previously missing interface fields
  plugins/source/gcp/client/transformers.go
  website/tables/gcp/gcp_aiplatform_operations.md
  website/tables/gcp/gcp_appengine_versions.md
  website/tables/gcp/gcp_artifactregistry_repositories.md
  website/tables/gcp/gcp_bigtableadmin_app_profiles.md
  website/tables/gcp/gcp_binaryauthorization_assertors.md
  website/tables/gcp/gcp_certificatemanager_certificate_map_entries.md
  website/tables/gcp/gcp_certificatemanager_certificates.md
  website/tables/gcp/gcp_clouddeploy_delivery_pipelines.md
  website/tables/gcp/gcp_clouddeploy_job_runs.md
  website/tables/gcp/gcp_clouddeploy_targets.md
  website/tables/gcp/gcp_cloudscheduler_jobs.md
  website/tables/gcp/gcp_containeranalysis_occurrences.md
  website/tables/gcp/gcp_functions_functions.md
  website/tables/gcp/gcp_kms_crypto_keys.md
  website/tables/gcp/gcp_logging_sinks.md
  website/tables/gcp/gcp_secretmanager_secrets.md
  website/tables/gcp/gcp_translate_glossaries.md
  website/tables/gcp/gcp_videotranscoder_jobs.md
  website/tables/gcp/gcp_vmmigration_source_migrating_vm_clone_jobs.md
  website/tables/gcp/gcp_vmmigration_source_migrating_vm_cutover_jobs.md
  website/tables/gcp/gcp_vmmigration_source_migrating_vms.md
  website/tables/gcp/gcp_vmmigration_sources.md
  website/tables/gcp/gcp_workflows_workflows.md
Labels: gcp, website

#12777 fix: Replace deprecated method
  plugins/destination/s3/client/client.go
  plugins/destination/s3/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/source/aws/client/mocks/cognitoidentityprovider.go
  plugins/source/aws/client/mocks/databasemigrationservice.go
  plugins/source/aws/client/mocks/inspector2.go
  plugins/source/aws/client/mocks/rds.go
  plugins/source/aws/client/mocks/resiliencehub.go
  plugins/source/aws/client/mocks/sagemaker.go
  plugins/source/aws/client/services/cognitoidentityprovider.go
  plugins/source/aws/client/services/databasemigrationservice.go
  plugins/source/aws/client/services/inspector2.go
  plugins/source/aws/client/services/rds.go
  plugins/source/aws/client/services/resiliencehub.go
  plugins/source/aws/client/services/sagemaker.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/views/athena/go.mod
  plugins/source/aws/views/athena/go.sum
  website/tables/aws/aws_rds_cluster_snapshots.md
  website/tables/aws/aws_rds_clusters.md
  website/tables/aws/aws_rds_engine_versions.md
  website/tables/aws/aws_resiliencehub_alarm_recommendations.md
  website/tables/aws/aws_resiliencehub_app_assessments.md
  website/tables/aws/aws_resiliencehub_app_versions.md
  website/tables/aws/aws_resiliencehub_apps.md
  website/tables/aws/aws_scheduler_schedules.md
Labels: aws, automerge, website, snowflake, s3

#12788 chore: Add Jira go releaser file
  plugins/source/jira/.goreleaser.yaml
Labels: automerge, priority merge

#12787 chore(website): Add GTAG
  website/components/_app.tsx
Labels: automerge, website

#12782 chore(website): Move Jira to open core
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/jira/_configuration.mdx
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/pages/docs/plugins/sources/jira/tables.md
Labels: website

#12737 feat: Replace DelegationSetId with full DelegationSet in aws_route53_hosted_zones
  plugins/source/aws/resources/services/route53/hosted_zones.go
  plugins/source/aws/resources/services/route53/models/route53.go
  website/tables/aws/aws_route53_hosted_zones.md
Labels: aws, automerge, website

#12784 chore: Remove large runners note in `adding_a_new_plugin_to_cq_monorepo.md`
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#12789 chore(website): Doc config changes (destination plugins `M` through `S`)
  plugins/destination/meilisearch/client/client_test.go
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/spec.go
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/pgx_log_level.go
  plugins/destination/postgresql/client/spec.go
  website/pages/docs/plugins/destinations/azblob/overview.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
  website/pages/docs/plugins/destinations/duckdb/overview.mdx
  website/pages/docs/plugins/destinations/elasticsearch/overview.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
  website/pages/docs/plugins/destinations/gcs/overview.mdx
  website/pages/docs/plugins/destinations/kafka/overview.mdx
  website/pages/docs/plugins/destinations/meilisearch/_configuration.mdx
  website/pages/docs/plugins/destinations/meilisearch/overview.mdx
  website/pages/docs/plugins/destinations/mongodb/_configuration.mdx
  website/pages/docs/plugins/destinations/mongodb/overview.mdx
  website/pages/docs/plugins/destinations/mssql/_configuration.mdx
  website/pages/docs/plugins/destinations/mssql/configuration.mdx
  website/pages/docs/plugins/destinations/mysql/_configuration.mdx
  website/pages/docs/plugins/destinations/mysql/configuration.mdx
  website/pages/docs/plugins/destinations/neo4j/_configuration.mdx
  website/pages/docs/plugins/destinations/neo4j/overview.mdx
  website/pages/docs/plugins/destinations/postgresql/_configuration.mdx
  website/pages/docs/plugins/destinations/postgresql/overview.mdx
  website/pages/docs/plugins/destinations/s3/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
  website/pages/docs/plugins/destinations/snowflake/_configuration.mdx
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
  website/pages/docs/plugins/destinations/sqlite/overview.mdx
Labels: automerge, website, postgresql, mssql, meilisearch

#12798 doc: Fix typeform path in config
  website/pages/docs/plugins/sources/typeform/_configuration.mdx
Labels: automerge, website

#12838 doc: Update _authentication.mdx
  website/pages/docs/plugins/sources/azure/_authentication.mdx
Labels: automerge, website

#12844 chore: Exclude external links in broken links checker
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, ci, priority merge

#12861 fix: Add missing `skip_dependent_tables` to tables call
  cli/cmd/migrate_v3.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli, priority merge

#12736 feat: Adding support for OIDC Token in Azure plugin
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec.go
  website/pages/docs/plugins/sources/azure/_configuration.mdx
  website/pages/docs/plugins/sources/azure/configuration.mdx
Labels: azure, automerge, website

#12873 chore: Fix Slack notifications
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, ci

#12758 feat: Add protocol v3 tables command (move doc generation to CLI)
  .github/workflows/lint_markdown.yml
  cli/cmd/tables.go
  cli/cmd/tables_v3.go
  cli/docs/images/logo.png
  cli/docs/index.md
  cli/go.mod
  cli/go.sum
  cli/internal/docs/generator.go
  cli/internal/docs/generator_test.go
  cli/internal/docs/json.go
  cli/internal/docs/markdown.go
  cli/internal/docs/templates/all_tables.md.go.tpl
  cli/internal/docs/templates/all_tables_entry.md.go.tpl
  cli/internal/docs/templates/table.md.go.tpl
  cli/internal/docs/testdata/TestGeneratePluginDocs-JSON-__tables.json
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-README.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-incremental_table.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-relation_relation_table_a.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-relation_relation_table_b.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-relation_table.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-test_table.md
Labels: automerge, cli, ci, priority merge

#12865 chore: Use CLI tables command to generate docs
  .github/workflows/source_aws.yml
  plugins/source/aws/Makefile
  plugins/source/aws/test/config.yml
Labels: aws, automerge, ci

#12937 chore: Use CLI tables command to generate docs
  .github/workflows/source_azuredevops.yml
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/test/config.yml
  website/tables/azuredevops/azuredevops_core_projects.md
Labels: automerge, website, ci, azuredevops

#12933 chore: Use CLI tables command to generate docs
  .github/workflows/source_gcp.yml
  plugins/source/gcp/Makefile
  plugins/source/gcp/test/config.yml
Labels: automerge, gcp, ci

#12936 chore: Use CLI tables command to generate docs
  .github/workflows/source_awspricing.yml
  plugins/source/awspricing/Makefile
  plugins/source/awspricing/test/config.yml
Labels: automerge, ci, awspricing

#12932 chore: Use CLI tables command to generate docs
  .github/workflows/source_alicloud.yml
  plugins/source/alicloud/.gitignore
  plugins/source/alicloud/Makefile
  plugins/source/alicloud/test/config.yml
Labels: automerge, ci, alicloud

#12938 chore: Use CLI tables command to generate docs
  .github/workflows/source_cloudflare.yml
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/cloudflare/test/config.yml
Labels: automerge, cloudflare, ci

#12939 chore: Use CLI tables command to generate docs
  .github/workflows/source_datadog.yml
  plugins/source/datadog/Makefile
  plugins/source/datadog/test/config.yml
Labels: automerge, ci, datadog

#12941 chore: Use CLI tables command to generate docs
  .github/workflows/source_facebookmarketing.yml
  plugins/source/facebookmarketing/Makefile
  plugins/source/facebookmarketing/test/config.yml
Labels: automerge, ci, facebookmarketing

#12942 chore: Use CLI tables command to generate docs
  .github/workflows/source_github.yml
  plugins/source/github/Makefile
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/test/config.yml
Labels: automerge, github, ci

#12940 chore: Use CLI tables command to generate docs
  .github/workflows/source_digitalocean.yml
  plugins/source/digitalocean/Makefile
  plugins/source/digitalocean/test/config.yml
Labels: automerge, digitalocean, ci

#12946 chore: Use CLI tables command to generate docs
  .github/workflows/source_hubspot.yml
  plugins/source/hubspot/Makefile
  plugins/source/hubspot/test/config.yml
Labels: automerge, ci, hubspot

#12947 chore: Use CLI tables command to generate docs
  .github/workflows/source_jira.yml
  plugins/source/jira/.gitignore
  plugins/source/jira/Makefile
  plugins/source/jira/test/config.yml
Labels: automerge, ci, jira

#12948 chore: Use CLI tables command to generate docs
  .github/workflows/source_k8s.yml
  plugins/source/k8s/Makefile
  plugins/source/k8s/test/config.yml
Labels: automerge, k8s, ci

#12945 chore: Use CLI tables command to generate docs
  .github/workflows/source_homebrew.yml
  plugins/source/homebrew/.gitignore
  plugins/source/homebrew/Makefile
  plugins/source/homebrew/test/config.yml
Labels: automerge, ci, homebrew

#12944 chore: Use CLI tables command to generate docs
  .github/workflows/source_hackernews.yml
  plugins/source/hackernews/.gitignore
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/test/config.yml
  website/tables/hackernews/hackernews_items.md
Labels: automerge, website, ci, hackernews

#12950 chore: Use CLI tables command to generate docs
  .github/workflows/source_oracle.yml
  plugins/source/oracle/Makefile
  plugins/source/oracle/test/config.yml
Labels: automerge, ci, oracle

#12951 chore: Use CLI tables command to generate docs
  .github/workflows/source_pagerduty.yml
  plugins/source/pagerduty/Makefile
  plugins/source/pagerduty/test/config.yml
Labels: automerge, ci, pagerduty

#12952 chore: Use CLI tables command to generate docs
  .github/workflows/source_salesforce.yml
  plugins/source/salesforce/Makefile
  plugins/source/salesforce/resources/plugin/client.go
  plugins/source/salesforce/test/config.yml
Labels: automerge, ci, salesforce

#12954 chore: Use CLI tables command to generate docs
  .github/workflows/source_snyk.yml
  plugins/source/snyk/Makefile
  plugins/source/snyk/resources/plugin/tables.go
  plugins/source/snyk/test/config.yml
Labels: automerge, ci, snyk

#12955 chore: Use CLI tables command to generate docs
  .github/workflows/source_stripe.yml
  plugins/source/stripe/Makefile
  plugins/source/stripe/resources/plugin/client.go
  plugins/source/stripe/test/config.yml
Labels: automerge, ci, stripe

#12956 chore: Use CLI tables command to generate docs
  .github/workflows/source_terraform.yml
  plugins/source/terraform/Makefile
  plugins/source/terraform/resources/plugin/tables.go
  plugins/source/terraform/test/config.yml
Labels: automerge, terraform, ci

#12957 chore: Use CLI tables command to generate docs
  .github/workflows/source_typeform.yml
  plugins/source/typeform/test/config.yml
Labels: automerge, ci, typeform

#12959 chore: Use CLI tables command to generate docs
  .github/workflows/source_test.yml
  plugins/source/test/.gitignore
  plugins/source/test/Makefile
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_some_table.md
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/testdata/config.yml
Labels: test, automerge, ci

#12960 chore: Add Square and Typeform to PR labeler
  .github/pr_labeler.yml
Labels: automerge

#12962 fix(main): Don't migrate in new plugins if `--no-migrate` is used
  cli/cmd/sync_v3.go
Labels: automerge, cli

#12792 feat(resources): DigitalOcean apps, apps_alerts tables.
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/client/mocks/apps_service.go
  plugins/source/digitalocean/client/services.go
  plugins/source/digitalocean/docs/tables/README.md
  plugins/source/digitalocean/resources/plugin/tables.go
  plugins/source/digitalocean/resources/services/apps/alerts.go
  plugins/source/digitalocean/resources/services/apps/alerts_fetch.go
  plugins/source/digitalocean/resources/services/apps/apps.go
  plugins/source/digitalocean/resources/services/apps/apps_fetch.go
  plugins/source/digitalocean/resources/services/apps/apps_fetch_test.go
  website/pages/docs/plugins/sources/digitalocean/overview.mdx
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/tables/digitalocean/digitalocean_apps.md
  website/tables/digitalocean/digitalocean_apps_alerts.md
Labels: automerge, digitalocean, website

#12972 chore: Fix link to plugin versioning in AWS config docs
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, website

#12975 fix: Normalization logic for new & existing tables differences
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/pgarrow/to_arrow.go
  plugins/destination/postgresql/pgarrow/to_arrow_test.go
Labels: automerge, postgresql

#13003 chore: Fix test plugin docker configuration
  plugins/source/test/Dockerfile.goreleaser
Labels: automerge

#12715 feat(resources): Adding Vault plugin with support for `sys` resources
  .github/pr_labeler.yml
  .github/workflows/source_vault.yml
  plugins/source/vault/.gitignore
  plugins/source/vault/.goreleaser.yaml
  plugins/source/vault/Makefile
  plugins/source/vault/README.md
  plugins/source/vault/client/client.go
  plugins/source/vault/client/services.go
  plugins/source/vault/client/services/api/api.go
  plugins/source/vault/client/services/mocks/api.go
  plugins/source/vault/client/spec.go
  plugins/source/vault/client/spec_test.go
  plugins/source/vault/client/testing.go
  plugins/source/vault/codegen/main.go
  plugins/source/vault/go.mod
  plugins/source/vault/go.sum
  plugins/source/vault/main.go
  plugins/source/vault/resources/plugin/client.go
  plugins/source/vault/resources/plugin/plugin.go
  plugins/source/vault/resources/services/vault_sys_audits.go
  plugins/source/vault/resources/services/vault_sys_audits_mock_test.go
  plugins/source/vault/resources/services/vault_sys_auths.go
  plugins/source/vault/resources/services/vault_sys_auths_mock_test.go
  plugins/source/vault/resources/services/vault_sys_mounts.go
  plugins/source/vault/resources/services/vault_sys_mounts_mock_test.go
  plugins/source/vault/resources/services/vault_sys_plugins.go
  plugins/source/vault/resources/services/vault_sys_plugins_mock_test.go
  plugins/source/vault/resources/services/vault_sys_policies.go
  plugins/source/vault/resources/services/vault_sys_policies_mock_test.go
  plugins/source/vault/tools/tool.go
  release-please-config.json
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/hashicorp-vault/_authentication.mdx
  website/pages/docs/plugins/sources/hashicorp-vault/_configuration.mdx
  website/pages/docs/plugins/sources/hashicorp-vault/_meta.json
  website/pages/docs/plugins/sources/hashicorp-vault/overview.mdx
  website/pages/docs/plugins/sources/hashicorp-vault/tables.md
  website/pages/docs/plugins/sources/hashicorp-vault/tables/[table].mdx
  website/tables/hashicorp-vault/vault_sys_audits.md
  website/tables/hashicorp-vault/vault_sys_auths.md
  website/tables/hashicorp-vault/vault_sys_mounts.md
  website/tables/hashicorp-vault/vault_sys_plugins.md
  website/tables/hashicorp-vault/vault_sys_policies.md
Labels: automerge, website, ci, vault

#13027 chore: Fix `release-please-config.json` syntax
  release-please-config.json
Labels: automerge

#13028 chore(ci): Setup CloudQuery CLI before make gen
  .github/workflows/manual_commands_triggers.yml
  .github/workflows/source_oracle.yml
  plugins/source/oracle/Makefile
Labels: automerge, ci, oracle

#13049 doc: Add back logo
  cli/docs/images/logo.png
Labels: automerge, cli

#13053 feat: Snowflake private_key config option.
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/spec_test.go
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
Labels: automerge, website, snowflake

#13058 chore(website): Update header level
  website/pages/blog/go-sdk-v4.mdx
Labels: automerge, website

#13005 feat: Add ability to generate arbitrary number of rows, add sub table
  plugins/source/test/client/client.go
  plugins/source/test/client/spec.go
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/plugin/client.go
  plugins/source/test/resources/services/test_some_table.go
  plugins/source/test/resources/services/test_sub_table.go
Labels: automerge, priority merge

#13066 chore: Use GH_CQ_BOT token for publishing to Homebrew
  .github/workflows/release_cli.yml
  .github/workflows/release_scaffold.yml
Labels: automerge, ci

#13112 fix: Handle differences in `format_type` implementation between PostgreSQL & CockroachDB
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/types.go
  plugins/source/postgresql/pgarrow/to_arrow.go
  plugins/source/postgresql/pgarrow/to_arrow_test.go
  plugins/source/postgresql/pgarrow/to_pg.go
Labels: automerge, priority merge, source-postgresql

#13129 feat: Simplify value transformation
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/client/transform.go
Labels: automerge, priority merge, source-postgresql

#13057 chore: Remove Hard Coded repo name
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge

#13136 chore(website): Update monitoring.md
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, website

#13065 fix: AWS foundational security controls for S3.8 query reference
  plugins/source/aws/policies/foundational_security/s3.sql
  plugins/source/aws/policies/queries/s3/bucket_level_public_access_blocks.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_s3_buckets.md
Labels: aws, policy, automerge, website

#13152 fix: Remove unused query
  plugins/source/aws/policies/queries/cloudtrail-trail-logs-encrypted-with-kms-keys.sql
Labels: aws, policy, automerge

#13055 fix!: Upgrade SDK to v0.1.1
  plugins/source/typeform/Makefile
  plugins/source/typeform/plugin/plugin.py
  plugins/source/typeform/requirements.txt
  plugins/source/typeform/testdata/config.yml
  website/tables/typeform/typeform_form_responses.md
  website/tables/typeform/typeform_forms.md
Labels: automerge, website, typeform

#13158 fix: Azure dashboards
  plugins/source/azure/dashboards/grafana/asset_inventory.json
  plugins/source/azure/dashboards/grafana/compliance.json
Labels: azure, automerge

#13160 fix(resources): Link to Go docs in `gcp_storage_buckets`
  plugins/source/gcp/resources/services/storage/buckets.go
  website/tables/gcp/gcp_storage_buckets.md
Labels: automerge, gcp, website

#13157 doc: Add guide for writing a plugin in Python
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/developers/build.md
  website/pages/docs/developers/creating-new-plugin/_meta.json
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
  website/pages/docs/developers/creating-new-plugin/index.mdx
  website/pages/docs/developers/creating-new-plugin/python-source.mdx
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#13162 feat: Initial release
  .github/pr_labeler.yml
  .github/workflows/source_airtable.yml
  plugins/source/airtable/.dockerignore
  plugins/source/airtable/.eslintrc
  plugins/source/airtable/.gitignore
  plugins/source/airtable/.prettierrc
  plugins/source/airtable/Dockerfile
  plugins/source/airtable/LICENSE
  plugins/source/airtable/package-lock.json
  plugins/source/airtable/package.json
  plugins/source/airtable/src/airtable.ts
  plugins/source/airtable/src/main.ts
  plugins/source/airtable/src/plugin.ts
  plugins/source/airtable/src/spec.ts
  plugins/source/airtable/src/tables.ts
  plugins/source/airtable/tsconfig.json
  release-please-config.json
Labels: automerge, ci

#13165 fix: Rename spec option from `api_key` to `access_token`
  plugins/source/airtable/src/spec.ts
Labels: airtable

#12752 doc: Python SDK Announcement blog
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/announcing-cloudquery-python-sdk.mdx
Labels: automerge, website

#13167 feat(website): Add Airtable docs
  website/pages/docs/plugins/sources/airtable/_authentication.mdx
  website/pages/docs/plugins/sources/airtable/_configuration.mdx
  website/pages/docs/plugins/sources/airtable/_meta.json
  website/pages/docs/plugins/sources/airtable/overview.mdx
  website/pages/docs/plugins/sources/airtable/tables.md
Labels: automerge, website

#13174 fix: Airtable `dateTime` type handling
  plugins/source/airtable/src/airtable.ts
  plugins/source/airtable/src/plugin.ts
  plugins/source/airtable/src/tables.ts
Labels: automerge, airtable

#13177 fix: Pre-select the default value as `All` in the Azure dashboards
  plugins/source/azure/dashboards/grafana/asset_inventory.json
  plugins/source/azure/dashboards/grafana/compliance.json
Labels: azure, automerge

#13179 feat: Improve logging of discovery phase
  plugins/source/airtable/package-lock.json
  plugins/source/airtable/package.json
  plugins/source/airtable/src/plugin.ts
  plugins/source/airtable/src/tables.ts
Labels: automerge, airtable

#13182 fix: Re-init `RepositoryListByOrgOptions` for each organization when listing repositories
  plugins/source/github/client/client.go
Labels: automerge, github

#13185 fix: Fix JSON logging
  plugins/source/typeform/plugin/plugin.py
Labels: automerge, typeform

#13173 chore: Internal refactor
  plugins/source/aws/client/account.go
  plugins/source/aws/client/aws_sdk.go
  plugins/source/aws/client/client.go
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/testing.go
Labels: aws, automerge

#13188 feat: Add `discovery_concurrency` sync option
  plugins/source/github/client/client.go
  plugins/source/github/client/spec.go
  website/pages/docs/plugins/sources/github/_configuration.mdx
  website/pages/docs/plugins/sources/github/overview.mdx
Labels: automerge, github, website

#13194 chore: Update Airtable availability
  website/components/pluginData.tsx
Labels: automerge, website

#13223 fix: Panic while fetching `aws_codecommit_repositories`
  plugins/source/aws/resources/services/codecommit/repositories.go
  plugins/source/aws/resources/services/codecommit/repositories_mock_test.go
Labels: aws, automerge

#13193 fix: Document limitations of Postgres CDC syncing
  plugins/source/postgresql/client/cdc.go
  website/pages/docs/plugins/sources/postgresql/cdc.md
Labels: automerge, website, source-postgresql

#13254 doc: Fix broken link
  website/pages/blog/announcing-the-vercel-source-plugin.mdx
Labels: automerge, website

#13202 chore(website): Make careers page SEO friendly
  website/components/Footer.tsx
  website/pages/_meta.json
  website/pages/docs/careers/_meta.json
  website/pages/docs/careers/overview.md
  website/pages/docs/careers/senior_backend_engineer.md
  website/pages/docs/careers/senior_frontend_engineer.md
  website/vercel.json
Labels: automerge, website

#13258 doc: Exclude redirects from broken links
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
Labels: ci

#13259 chore: Website add product updates #7
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/product-updates-7.mdx
Labels: automerge, website

#13263 fix: List handling for multi-row records
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
Labels: automerge, priority merge, bigquery

#13275 chore(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.3
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/typeconv/ch/values/values_test.go
Labels: clickhouse

#13267 fix: List columns using current schema during migration
  plugins/destination/snowflake/client/migrate.go
Labels: snowflake

#13278 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.3
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/resources/plugin/plugin_test.go
  plugins/source/oracledb/go.mod
  plugins/source/oracledb/go.sum
  plugins/source/oracledb/resources/plugin/plugin_test.go
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/services/testdata.go
Labels: automerge, source-mysql, oracledb

#13196 chore: Add warning about `table_options` removal
  plugins/source/aws/client/client.go
  website/pages/docs/plugins/sources/aws/configuration.mdx
Labels: aws, automerge, website

#13279 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/elasticsearch/client/read.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: automerge, elasticsearch

#13280 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, duckdb

#13290 feat: Implement CIS AWS v1.5.0 Section 1.16 and 1.20
  plugins/source/aws/policies/cis_v1.5.0/section_1.sql
  plugins/source/aws/policies/queries/accessanalyzer/regions_with_no_accessanalyzers.sql
  website/tables/aws/aws_accessanalyzer_analyzers.md
  website/tables/aws/aws_regions.md
Labels: aws, policy, automerge, website

#13291 fix: Apply schema and record transformations for v2 sources with v3 destinations
  cli/cmd/migrate.go
  cli/cmd/migrate_v2.go
  cli/cmd/sync.go
  cli/cmd/sync_v2.go
Labels: automerge, cli

#13293 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
Labels: automerge, meilisearch

#13294 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#13295 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
Labels: automerge, mysql

#13300 fix: Race condition in Initializing services
  plugins/source/aws/client/client.go
Labels: aws, automerge

#13298 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#13289 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.5.5
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
Labels: automerge, gremlin

#13307 fix: Don't add source name and sync time columns for v2 sources and v3 destinations
  cli/cmd/migrate_v2.go
  cli/cmd/sync_v2.go
Labels: automerge, cli

#13309 feat(resources): Add `gcp_compute_osconfig_inventories` table
  plugins/source/gcp/client/columns.go
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/compute/machine_types.go
  plugins/source/gcp/resources/services/compute/osconfig_inventories.go
  plugins/source/gcp/resources/services/compute/osconfig_inventories_mock_test.go
  plugins/source/gcp/resources/services/compute/zones.go
  plugins/source/gcp/resources/services/compute/zones_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
  website/tables/gcp/gcp_compute_osconfig_inventories.md
  website/tables/gcp/gcp_compute_zones.md
Labels: automerge, gcp, website

#13310 fix: Send delete stale when `--no-migrate` is used
  cli/cmd/sync_v3.go
Labels: automerge, cli, priority merge

#13314 feat(website): Partner announcement
  website/pages/blog/announcing-aws-partnership.mdx
  website/public/images/blog/announcing-aws-partnership/partnerbadge.png
Labels: website

#13315 chore: Bring back plugin checksums, remove signing
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_duckdb.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/release_plugin_source_test.yml
  plugins/.goreleaser.template.yaml
Labels: automerge, ci

#13323 fix: Don't list Postgres tables during insert
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#13326 chore: Revert "chore: Update plugin `destination-postgresql` version to v5.0.6"
  website/versions/destination-postgresql.json
Labels: website

#13327 fix: Call list tables once on insert if `--no-migrate` was used
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
Labels: automerge, postgresql

#13331 refactor: Clean up list tables method
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#13324 feat: Increase default batch size bytes and timeout
  plugins/destination/postgresql/client/spec.go
  website/pages/docs/plugins/destinations/postgresql/_configuration.mdx
  website/pages/docs/plugins/destinations/postgresql/overview.mdx
Labels: automerge, website, postgresql

#13332 fix: Drop include clause from list tables
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#13353 chore: Bring back postgres changelog
  plugins/destination/postgresql/CHANGELOG.md
Labels: automerge, postgresql

#13354 fix(ci): Remove obsolete type diff check workaround
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_10797_diff.txt
  scripts/table_diff/changes/testdata/pr_10831_diff.txt
  scripts/table_diff/changes/testdata/pr_10831_diff_backtick.txt
  scripts/table_diff/changes/types.go
  scripts/table_diff/go.mod
  scripts/table_diff/go.sum
Labels: automerge

#13359 doc: Update performance-tuning.mdx
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, website, priority merge

#13369 doc: Update configuration for some aws, github, gitlab, oracle and typeform
  website/pages/docs/plugins/sources/aws/_configuration.mdx
  website/pages/docs/plugins/sources/aws/configuration.mdx
  website/pages/docs/plugins/sources/github/_configuration.mdx
  website/pages/docs/plugins/sources/gitlab/_configuration.mdx
  website/pages/docs/plugins/sources/gitlab/configuration.mdx
  website/pages/docs/plugins/sources/oracle/_configuration.mdx
  website/pages/docs/plugins/sources/oracle/overview.mdx
  website/pages/docs/plugins/sources/typeform/_configuration.mdx
Labels: automerge, website, priority merge

#13376 doc: Document Oracle environment variables
  website/pages/docs/plugins/sources/oracle/_authentication.mdx
Labels: automerge, website, priority merge

#13392 chore: Revert AWS version in docs to `v22.6.0`
  website/versions/source-aws.json
Labels: website

#13391 fix: Store AWS config per account
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/resources/services/timestream/databases.go
Labels: aws, automerge, priority merge

#13410 feat: Add progress to tables command
  cli/cmd/tables.go
Labels: automerge, cli, priority merge

#13429 fix: Drop include clause from list tables
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#13445 fix: Remove stale code
  plugins/destination/postgresql/client/spec.go
  plugins/source/pagerduty/resources/services/priorities/priorities.go
  plugins/source/pagerduty/resources/services/schedules/schedules.go
  plugins/source/stripe/resources/services/charges/charges.go
  plugins/source/stripe/resources/services/checkout/checkout_sessions.go
  plugins/source/stripe/resources/services/issuing/issuing_cardholders.go
  plugins/source/stripe/resources/services/issuing/issuing_disputes.go
  plugins/source/stripe/resources/services/reporting/reporting_report_runs.go
  plugins/source/stripe/resources/services/treasury/treasury_outbound_payments.go
Labels: automerge, postgresql, pagerduty, stripe

#13430 fix: Flush state backend
  plugins/source/aws/resources/plugin/client.go
Labels: aws, automerge

#13462 fix: Flush state backend so that state is persisted
  plugins/source/hackernews/resources/plugin/client.go
Labels: automerge, hackernews

#13465 fix: Flush state backend so that state is persisted
  plugins/source/stripe/resources/plugin/client.go
Labels: automerge, stripe
