Repository cloudquery/cloudquery, pull requests merged in 2023-12, with the labels that each got.

#15512 chore: Fix quick start guide start syncing
  website/components/mdx/_configure-start-syncing.mdx
Labels: automerge, area/website

#15428 feat!: Add video to what-is-cspm.md
  website/pages/docs/glossary/what-is-cspm.mdx
Labels: automerge, area/website

#15468 fix!: Provide primary keys for tables (G-I)
  plugins/source/aws/client/columns.go
  plugins/source/aws/client/helpers.go
  plugins/source/aws/docs/tables/aws_glue_job_runs.md
  plugins/source/aws/docs/tables/aws_glue_ml_transform_task_runs.md
  plugins/source/aws/docs/tables/aws_glue_ml_transforms.md
  plugins/source/aws/docs/tables/aws_glue_registries.md
  plugins/source/aws/docs/tables/aws_glue_registry_schema_versions.md
  plugins/source/aws/docs/tables/aws_glue_security_configurations.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_filters.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_findings.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_intel_sets.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_ip_sets.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_members.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_publishing_destinations.md
  plugins/source/aws/docs/tables/aws_guardduty_detectors.md
  plugins/source/aws/docs/tables/aws_identitystore_group_memberships.md
  plugins/source/aws/docs/tables/aws_identitystore_groups.md
  plugins/source/aws/docs/tables/aws_identitystore_users.md
  plugins/source/aws/resources/services/glue/arn.go
  plugins/source/aws/resources/services/glue/classifiers.go
  plugins/source/aws/resources/services/glue/connections.go
  plugins/source/aws/resources/services/glue/crawlers.go
  plugins/source/aws/resources/services/glue/database_table_indexes.go
  plugins/source/aws/resources/services/glue/database_tables.go
  plugins/source/aws/resources/services/glue/databases.go
  plugins/source/aws/resources/services/glue/datacatalog_encryption_settings.go
  plugins/source/aws/resources/services/glue/dev_endpoints.go
  plugins/source/aws/resources/services/glue/job_runs.go
  plugins/source/aws/resources/services/glue/jobs.go
  plugins/source/aws/resources/services/glue/ml_transform_task_runs.go
  plugins/source/aws/resources/services/glue/ml_transforms.go
  plugins/source/aws/resources/services/glue/registries.go
  plugins/source/aws/resources/services/glue/registry_schema_versions.go
  plugins/source/aws/resources/services/glue/registry_schemas.go
  plugins/source/aws/resources/services/glue/security_configurations.go
  plugins/source/aws/resources/services/glue/tags.go
  plugins/source/aws/resources/services/glue/triggers.go
  plugins/source/aws/resources/services/glue/workflows.go
  plugins/source/aws/resources/services/guardduty/detector_filters.go
  plugins/source/aws/resources/services/guardduty/detector_findings.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/guardduty/detector_threat_intel_sets.go
  plugins/source/aws/resources/services/guardduty/detectors.go
  plugins/source/aws/resources/services/identitystore/group_memberships.go
  plugins/source/aws/resources/services/identitystore/groups.go
  plugins/source/aws/resources/services/identitystore/users.go
Labels: automerge, area/plugin/source/aws

#15508 fix: Remove Regional Workaround
  plugins/source/aws/client/mocks/sagemaker.go
  plugins/source/aws/client/services/sagemaker.go
  plugins/source/aws/docs/tables/aws_sagemaker_endpoint_configurations.md
  plugins/source/aws/docs/tables/aws_sagemaker_models.md
  plugins/source/aws/docs/tables/aws_sagemaker_training_jobs.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/timestream/databases.go
Labels: automerge, area/plugin/source/aws

#15533 fix!: Fix PK and resolvers for IAM resources
  plugins/source/aws/docs/tables/aws_iam_policy_versions.md
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policies_mock_test.go
  plugins/source/aws/resources/services/iam/policy_versions.go
Labels: automerge, area/plugin/source/aws

#15522 feat(website): Blog adding og-image to Monthly-update-10
  website/pages/blog/product-updates-10.mdx
  website/public/images/blog/product-updates-10/Thumbnail-Monthly-Update-Nov.png
Labels: automerge, area/website

#15480 feat: Add gcp_compute_vpn_tunnels & gcp_compute_target_vpn_gateways table
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_compute_target_vpn_gateways.md
  plugins/source/gcp/docs/tables/gcp_compute_vpn_tunnels.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/compute/target_vpn_gateways.go
  plugins/source/gcp/resources/services/compute/target_vpn_gateways_mock_test.go
  plugins/source/gcp/resources/services/compute/vpn_tunnels.go
  plugins/source/gcp/resources/services/compute/vpn_tunnels_mock_test.go
Labels: automerge, area/plugin/source/gcp

#15538 fix!: Fix Primary Key for `aws_route53recoverycontrolconfig_clusters` now that it supports cross account sharing
  plugins/source/aws/docs/tables/aws_route53recoverycontrolconfig_clusters.md
  plugins/source/aws/resources/services/route53recoverycontrolconfig/clusters.go
Labels: automerge, area/plugin/source/aws

#15540 feat: Support Multiple Instances of AWS Identity Center Instances
  plugins/source/aws/resources/services/identitystore/groups.go
  plugins/source/aws/resources/services/identitystore/instance_fetch.go
  plugins/source/aws/resources/services/identitystore/users.go
Labels: automerge, area/plugin/source/aws

#15415 fix!: Provide primary keys for tables (D)
  plugins/source/aws/docs/tables/aws_directconnect_connections.md
  plugins/source/aws/docs/tables/aws_directconnect_gateway_associations.md
  plugins/source/aws/docs/tables/aws_directconnect_gateway_attachments.md
  plugins/source/aws/docs/tables/aws_directconnect_gateways.md
  plugins/source/aws/docs/tables/aws_directconnect_lags.md
  plugins/source/aws/docs/tables/aws_directconnect_locations.md
  plugins/source/aws/docs/tables/aws_directconnect_virtual_gateways.md
  plugins/source/aws/docs/tables/aws_directconnect_virtual_interfaces.md
  plugins/source/aws/docs/tables/aws_docdb_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_docdb_event_categories.md
  plugins/source/aws/docs/tables/aws_docdb_event_subscriptions.md
  plugins/source/aws/docs/tables/aws_docdb_events.md
  plugins/source/aws/docs/tables/aws_docdb_orderable_db_instance_options.md
  plugins/source/aws/docs/tables/aws_docdb_pending_maintenance_actions.md
  plugins/source/aws/docs/tables/aws_dynamodb_table_replica_auto_scalings.md
  plugins/source/aws/resources/services/directconnect/connections.go
  plugins/source/aws/resources/services/directconnect/gateway_associations.go
  plugins/source/aws/resources/services/directconnect/gateway_attachments.go
  plugins/source/aws/resources/services/directconnect/gateways.go
  plugins/source/aws/resources/services/directconnect/lags.go
  plugins/source/aws/resources/services/directconnect/locations.go
  plugins/source/aws/resources/services/directconnect/virtual_gateways.go
  plugins/source/aws/resources/services/directconnect/virtual_interfaces.go
  plugins/source/aws/resources/services/docdb/cluster_parameters.go
  plugins/source/aws/resources/services/docdb/event_categories.go
  plugins/source/aws/resources/services/docdb/event_subscriptions.go
  plugins/source/aws/resources/services/docdb/events.go
  plugins/source/aws/resources/services/docdb/orderable_db_instance_options.go
  plugins/source/aws/resources/services/docdb/pending_maintenance_actions.go
  plugins/source/aws/resources/services/dynamodb/table_continuous_backups.go
  plugins/source/aws/resources/services/dynamodb/table_replica_auto_scalings.go
  plugins/source/aws/resources/services/dynamodb/tables.go
Labels: automerge, area/plugin/source/aws

#15464 fix!: Provide primary keys for tables (M-X)
  plugins/source/aws/docs/tables/aws_mq_broker_configuration_revisions.md
  plugins/source/aws/docs/tables/aws_mq_broker_users.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_parameter_group_parameters.md
  plugins/source/aws/docs/tables/aws_neptune_db_parameter_group_db_parameters.md
  plugins/source/aws/docs/tables/aws_qldb_ledger_journal_s3_exports.md
  plugins/source/aws/docs/tables/aws_rds_cluster_parameter_group_parameters.md
  plugins/source/aws/docs/tables/aws_rds_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_rds_db_parameter_group_db_parameters.md
  plugins/source/aws/docs/tables/aws_redshift_cluster_parameter_groups.md
  plugins/source/aws/docs/tables/aws_redshift_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_redshift_data_shares.md
  plugins/source/aws/docs/tables/aws_redshift_endpoint_accesses.md
  plugins/source/aws/docs/tables/aws_redshift_endpoint_authorizations.md
  plugins/source/aws/docs/tables/aws_redshift_events.md
  plugins/source/aws/docs/tables/aws_route53_hosted_zone_resource_record_sets.md
  plugins/source/aws/docs/tables/aws_support_case_communications.md
  plugins/source/aws/docs/tables/aws_xray_encryption_configs.md
  plugins/source/aws/resources/services/mq/broker_configuration_revisions.go
  plugins/source/aws/resources/services/mq/broker_users.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_group_parameters.go
  plugins/source/aws/resources/services/neptune/db_parameter_group_db_parameters.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups.go
  plugins/source/aws/resources/services/qldb/ledger_journal_s3_exports.go
  plugins/source/aws/resources/services/rds/cluster_parameter_group_parameters.go
  plugins/source/aws/resources/services/rds/cluster_parameters.go
  plugins/source/aws/resources/services/rds/db_parameter_group_db_parameters.go
  plugins/source/aws/resources/services/rds/db_parameter_groups.go
  plugins/source/aws/resources/services/redshift/cluster_parameter_groups.go
  plugins/source/aws/resources/services/redshift/cluster_parameters.go
  plugins/source/aws/resources/services/redshift/data_shares.go
  plugins/source/aws/resources/services/redshift/endpoint_access.go
  plugins/source/aws/resources/services/redshift/endpoint_authorization.go
  plugins/source/aws/resources/services/redshift/events.go
  plugins/source/aws/resources/services/route53/hosted_zone_resource_record_sets.go
  plugins/source/aws/resources/services/support/communications.go
  plugins/source/aws/resources/services/xray/encryption_configs.go
Labels: automerge, area/plugin/source/aws

#15547 chore: Update `broken_links_scheduled.yml`
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#15548 feat: Add `isPaid` indication to JSON docs
  cli/internal/docs/json.go
  cli/internal/docs/testdata/TestGeneratePluginDocs-JSON-__tables.json
Labels: automerge, area/cli

#15553 chore: Add `write_mode: "append"` to s3 docs
  plugins/destination/s3/docs/_configuration.md
Labels: automerge, area/plugin/destination/s3

#15557 chore: Handle pre-releases release notes during publishing to the hub
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: area/ci

#15558 fix: Upgrade SDK
  plugins/source/bitbucket/app/build.gradle
Labels: area/plugin/source/bitbucket

#15561 fix: Login with no browser
  cli/cmd/login.go
Labels: automerge, area/cli

#15569 feat: Include `is_paid` field when publishing tables to the Hub
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#15571 fix: Keep old column names for storage API
  plugins/source/azure/docs/tables/azure_storage_blob_services.md
  plugins/source/azure/docs/tables/azure_storage_queue_services.md
  plugins/source/azure/docs/tables/azure_storage_queues.md
  plugins/source/azure/docs/tables/azure_storage_tables.md
  plugins/source/azure/resources/services/storage/blob_services.go
  plugins/source/azure/resources/services/storage/queue_services.go
  plugins/source/azure/resources/services/storage/queues.go
  plugins/source/azure/resources/services/storage/tables.go
Labels: automerge, area/plugin/source/azure

#15580 chore: Add redirect for blog
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  website/components/Footer.tsx
  website/pages/_meta.json
  website/vercel.json
Labels: automerge, area/ci, area/website

#15589 chore: Ignore Go mod automatic dependencies updates for AWS, Azure, GCP
  .github/renovate.json5
Labels: automerge

#15556 feat: Add Source Pagerduty Oncalls resource
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_oncalls.md
  plugins/source/pagerduty/resources/plugin/all_tables.go
  plugins/source/pagerduty/resources/services/oncalls/oncalls.go
  plugins/source/pagerduty/resources/services/oncalls/oncalls_fetch.go
  plugins/source/pagerduty/resources/services/oncalls/oncalls_mock_test.go
Labels: automerge, area/plugin/source/pagerduty

#15590 chore: Add missing `\` to broken links check
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#15593 feat: Add option to skip archived repositories
  plugins/source/github/client/client.go
  plugins/source/github/client/spec.go
  plugins/source/github/docs/_configuration.md
  plugins/source/github/docs/overview.md
Labels: automerge, area/plugin/source/github

#15597 fix: Allow using service name from const directly
  plugins/source/aws/client/service_names.go
Labels: automerge, area/plugin/source/aws

#15601 feat: Improve backoff between requests for `ServiceLastAccessedDetails`
  plugins/source/aws/resources/services/iam/last_accessed_details.go
Labels: automerge, area/plugin/source/aws

#15604 doc: Document limitations of `deterministic_cq_id `
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/website

#15639 fix: Remove existing plugin docs on re-publish
  cli/cmd/plugin_docs_upload.go
  cli/cmd/plugin_publish.go
  cli/cmd/plugin_publish_test.go
Labels: automerge, area/cli

#15647 chore: Update scaffold directory tree
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
Labels: automerge, area/website

#15646 chore: Reference all auth methods in Azure docs
  plugins/source/azure/docs/_authentication.md
  plugins/source/azure/docs/overview.md
Labels: automerge, area/plugin/source/azure, priority merge

#15650 doc: Fix broken link in Alicloud docs
  plugins/source/alicloud/docs/_authentication.md
Labels: automerge, area/plugin/source/alicloud

#15600 chore: Remove old links from docs
  website/components/Footer.tsx
  website/pages/_meta.json
  website/pages/blog/product-updates-5.mdx
  website/pages/pricing.mdx
  website/pages/solutions/open-source-cspm.mdx
  website/vercel.json
  website/yarn.lock
Labels: automerge, area/website

#15689 fix: Set team name in destination download
  cli/cmd/sync.go
Labels: automerge, area/cli

#15694 feat: Adding `aws_ec2_instance_credit_specifications`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_instance_credit_specifications.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/instance_credit_specifications.go
  plugins/source/aws/resources/services/ec2/instance_credit_specifications_test.go
Labels: automerge, area/plugin/source/aws

#15695 chore: Revert "feat: Adding `aws_ec2_instance_credit_specifications`"
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_instance_credit_specifications.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/instance_credit_specifications.go
  plugins/source/aws/resources/services/ec2/instance_credit_specifications_test.go
Labels: automerge, area/plugin/source/aws

#15696 refactor: Move publish helper functions to internal package
  cli/cmd/addon_download.go
  cli/cmd/addon_publish.go
  cli/cmd/plugin_docs_download.go
  cli/cmd/plugin_docs_upload.go
  cli/cmd/plugin_publish.go
  cli/cmd/plugin_publish_test.go
  cli/internal/hub/util.go
  cli/internal/publish/addons.go
  cli/internal/publish/plugins.go
  cli/internal/publish/shared.go
Labels: automerge, area/cli

#15697 chore: Link to www instead of top level domain
  website/pages/_meta.json
Labels: automerge, area/website

#15603 feat: Add gcp_compute_interconnect_attachments, gcp_compute_interconnect_locations, gcp_compute_interconnect_remote_locations & gcp_compute_external_vpn_gateways
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_compute_external_vpn_gateways.md
  plugins/source/gcp/docs/tables/gcp_compute_interconnect_attachments.md
  plugins/source/gcp/docs/tables/gcp_compute_interconnect_locations.md
  plugins/source/gcp/docs/tables/gcp_compute_interconnect_remote_locations.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/compute/external_vpn_gateways.go
  plugins/source/gcp/resources/services/compute/external_vpn_gateways_mock_test.go
  plugins/source/gcp/resources/services/compute/interconnects_attachments.go
  plugins/source/gcp/resources/services/compute/interconnects_attachments_mock_test.go
  plugins/source/gcp/resources/services/compute/interconnects_locations.go
  plugins/source/gcp/resources/services/compute/interconnects_locations_mock_test.go
  plugins/source/gcp/resources/services/compute/interconnects_remote_locations.go
  plugins/source/gcp/resources/services/compute/interconnects_remote_locations_mock_test.go
Labels: automerge, area/plugin/source/gcp

#15705 chore: Add open-core notes in PR template and contributing guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: automerge

#15711 fix: DMS Replication Instances should be paginated
  plugins/source/aws/resources/services/dms/replication_instances.go
  plugins/source/aws/resources/services/dms/tags.go
  plugins/source/aws/resources/services/dms/tags_test.go
Labels: automerge, kind/bug, area/plugin/source/aws

#15717 chore: Streamline names
  plugins/source/aws/docs/tables/aws_inspector2_findings.md
  plugins/source/aws/resources/services/inspector2/findings.go
  plugins/source/aws/resources/services/inspector2/findings_mock_test.go
Labels: automerge, area/plugin/source/aws

#15721 feat: Add package command
  .github/workflows/source_airtable.yml
  plugins/source/airtable/.dockerignore
  plugins/source/airtable/.gitignore
  plugins/source/airtable/Dockerfile
  plugins/source/airtable/README.md
  plugins/source/airtable/docs/_authentication.md
  plugins/source/airtable/docs/_configuration.md
  plugins/source/airtable/docs/overview.md
  plugins/source/airtable/package-lock.json
  plugins/source/airtable/package.json
  plugins/source/airtable/src/main.ts
  plugins/source/airtable/src/plugin.ts
  plugins/source/airtable/src/serve.test.ts
  plugins/source/airtable/src/serve.ts
  plugins/source/airtable/tsconfig.json
Labels: automerge, area/plugin/source/airtable, area/ci

#15710 chore(resources): Validate empty JSON Columns
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/networkconnectivity/locations_test.go
Labels: automerge, area/plugin/source/gcp

#15708 chore(resources): Validate empty JSON Columns
  plugins/source/aws/client/testing.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/cloudtrail/events_mock_test.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_mock_test.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/versions_mock_test.go
  plugins/source/aws/resources/services/emr/release_labels_test.go
  plugins/source/aws/resources/services/emr/security_configuration_test.go
  plugins/source/aws/resources/services/fsx/file_systems_test.go
  plugins/source/aws/resources/services/iam/policies_mock_test.go
  plugins/source/aws/resources/services/kafka/clusters_mock_test.go
  plugins/source/aws/resources/services/ram/resource_shares_mock_test.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
  plugins/source/aws/resources/services/sns/subscriptions_mock_test.go
  plugins/source/aws/resources/services/wafregional/rate_based_rules_mock_test.go
  plugins/source/aws/resources/services/wafregional/rules_mock_test.go
  plugins/source/aws/resources/services/wafregional/web_acls_mock_test.go
Labels: automerge, area/plugin/source/aws

#15709 chore(resources): Validate empty JSON Columns
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/services/datafactory/factories_mock_test.go
  plugins/source/azure/resources/services/sql/server_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/server_database_long_term_retention_policies_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
Labels: automerge, area/plugin/source/azure

#15728 fix: Update lambda functions resolveTags() to use Tags field instead of Concurrency
  plugins/source/aws/resources/services/lambda/functions.go
Labels: automerge, area/plugin/source/aws

#15729 chore: Tags for Lambda Functions properly set
  plugins/source/aws/resources/services/lambda/functions_mock_test.go
Labels: automerge, area/plugin/source/aws

#15733 chore: Update elasticsearch image versions
  .github/workflows/dest_elasticsearch.yml
  plugins/destination/elasticsearch/docker-compose.yaml
Labels: automerge, area/plugin/destination/elasticsearch, area/ci

#15736 test: Retry tests 5 times
  plugins/destination/elasticsearch/Makefile
Labels: automerge, area/plugin/destination/elasticsearch

#15770 chore: Use transformer PK
  plugins/source/aws/resources/services/accessanalyzer/analyzers.go
Labels: automerge, area/plugin/source/aws

#15753 doc: Add more details to the guide on publishing plugins
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.mdx
  website/public/images/docs/publishing-plugins/create-team.png
Labels: automerge, kind/docs, area/website

#15773 fix: Use column name from database schema when migrating
  plugins/destination/snowflake/client/migrate.go
Labels: automerge, area/plugin/destination/snowflake

#15781 fix: Don't try to ListTags on DynamoDB backups if `Advanced DynamoDB Backups` is disabled
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
Labels: automerge, kind/bug, area/plugin/source/aws

#15779 feat: Support sub resources for Azure Flexible databases
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_mysqlflexibleservers_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysqlflexibleservers_server_firewall_rules.md
  plugins/source/azure/docs/tables/azure_mysqlflexibleservers_servers.md
  plugins/source/azure/docs/tables/azure_postgresqlflexibleservers_server_configurations.md
  plugins/source/azure/docs/tables/azure_postgresqlflexibleservers_server_firewall_rules.md
  plugins/source/azure/docs/tables/azure_postgresqlflexibleservers_servers.md
  plugins/source/azure/resources/services/mysqlflexibleservers/server_configurations.go
  plugins/source/azure/resources/services/mysqlflexibleservers/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mysqlflexibleservers/server_firewall_rules.go
  plugins/source/azure/resources/services/mysqlflexibleservers/server_firewall_rules_mock_test.go
  plugins/source/azure/resources/services/mysqlflexibleservers/servers.go
  plugins/source/azure/resources/services/mysqlflexibleservers/servers_mock_test.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/server_configurations.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/server_configurations_mock_test.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/server_firewall_rules.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/server_firewall_rules_mock_test.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/servers.go
  plugins/source/azure/resources/services/postgresqlflexibleservers/servers_mock_test.go
Labels: automerge, area/plugin/source/azure

#15794 fix: RDS Snapshot Attribute Throttling
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/models/snapshots.go
Labels: automerge, area/plugin/source/aws

#15798 chore: Support Mixed Client For GCP Testing
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/testing.go
Labels: automerge, area/plugin/source/gcp

#15800 fix: Call `GetPolicyVersion` to get PolicyDocument
  plugins/source/aws/resources/services/iam/policies_mock_test.go
  plugins/source/aws/resources/services/iam/policy_versions.go
Labels: automerge, area/plugin/source/aws

#15826 chore: Add links to open API docs
  website/pages/docs/_meta.json
Labels: automerge, priority merge, area/website

#15828 chore: Update SDK
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Labels: automerge, area/plugin/source/cloudflare, priority merge

#15825 chore: Delete website/yarn.lock
  website/yarn.lock
Labels: automerge, area/website

#15698 feat: Support publishing to a private docker registry
  cli/cmd/plugin_publish.go
  cli/go.mod
  cli/go.sum
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#15831 feat: Offline licensing support
  cli/cmd/migrate.go
  cli/cmd/sync.go
  website/pages/docs/reference/cli/cloudquery_migrate.md
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, area/cli, area/website
