Repository cloudquery/cloudquery, pull requests merged in 2023-07, with the labels that each got.

#11775 feat(mysql): Update to SDK V4
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/deletestale.go
  plugins/destination/mysql/client/migrate.go
  plugins/destination/mysql/client/read.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/spec.go
  plugins/destination/mysql/client/transformer.go
  plugins/destination/mysql/client/types.go
  plugins/destination/mysql/client/write.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/mysql/main.go
Labels: mysql

#11872 fix: Update destinations to v4.4.2-rc1
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: sqlite, snowflake, mongodb, neo4j, duckdb, gremlin, meilisearch

#11873 fix(mysql): Fix main serve function
  plugins/destination/mysql/main.go
Labels: mysql

#11870 fix(cli): Add variable support
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/variables.go
  cli/internal/specs/v0/variables_test.go
Labels: automerge, cli

#11884 chore: Fix comment
  plugins/destination/clickhouse/client/spec.go
Labels: automerge, clickhouse

#11887 fix: Close writers
  plugins/destination/duckdb/client/client.go
  plugins/destination/gremlin/client/client.go
  plugins/destination/mongodb/client/client.go
  plugins/destination/mysql/client/client.go
  plugins/destination/neo4j/client/client.go
  plugins/destination/snowflake/client/client.go
Labels: automerge, snowflake, mongodb, neo4j, mysql, duckdb, gremlin

#11885 chore: Fix test plugin name
  plugins/destination/clickhouse/client/client_test.go
Labels: automerge, clickhouse

#11871 fix(elastic): Migrate to SDK v4.4.1-rc1
  plugins/destination/elasticsearch/client/client.go
  plugins/destination/elasticsearch/client/client_test.go
  plugins/destination/elasticsearch/client/deletestale.go
  plugins/destination/elasticsearch/client/metrics.go
  plugins/destination/elasticsearch/client/migrate.go
  plugins/destination/elasticsearch/client/read.go
  plugins/destination/elasticsearch/client/spec.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
  plugins/destination/elasticsearch/main.go
Labels: elasticsearch

#11888 fix: Make sure variables start with @@plugins.
  cli/internal/specs/v0/variables.go
  cli/internal/specs/v0/variables_test.go
Labels: automerge, cli

#11896 feat: Support state backend in proto v3
  cli/cmd/sync_v3.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/source.go
Labels: automerge, cli

#11889 feat(mssql): Migrate to SDK v4
  plugins/destination/mssql/client/bulk_insert.go
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/client_test.go
  plugins/destination/mssql/client/columns.go
  plugins/destination/mssql/client/delete_stale.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mssql/client/read.go
  plugins/destination/mssql/client/schema.go
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/client/tables.go
  plugins/destination/mssql/client/tvp.go
  plugins/destination/mssql/client/write.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/mssql/main.go
  plugins/destination/mssql/queries/columns.go
  plugins/destination/mssql/queries/columns_test.go
  plugins/destination/mssql/queries/delete_stale.go
  plugins/destination/mssql/queries/delete_stale_test.go
  plugins/destination/mssql/queries/pk.go
  plugins/destination/mssql/queries/read.go
  plugins/destination/mssql/queries/read_test.go
  plugins/destination/mssql/queries/record.go
  plugins/destination/mssql/queries/sanitize.go
  plugins/destination/mssql/queries/tables.go
  plugins/destination/mssql/queries/tables_test.go
  plugins/destination/mssql/queries/templates/read.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_add_proc.sql.tpl
  plugins/destination/mssql/queries/tvp.go
  plugins/destination/mssql/queries/tvp_test.go
  plugins/destination/mssql/queries/types.go
  plugins/destination/mssql/queries/values.go
  website/pages/docs/plugins/destinations/mssql/_configuration.mdx
  website/pages/docs/plugins/destinations/mssql/configuration.mdx
Labels: automerge, website, mssql

#11898 chore(cli): Use large runners
  .github/workflows/cli.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, ci

#11903 doc: Add missing colon in code block
  website/pages/how-to-guides/update-plugins-using-renovate.mdx
Labels: automerge, website

#11659 feat(file): Upgrade to SDK v4
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/spec_test.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
Labels: automerge, file

#11700 feat(s3): Upgrade to SDK v4
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/deletestale.go
  plugins/destination/s3/client/migrate.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/s3/main.go
Labels: automerge, s3

#11754 feat(azblob): Upgrade to SDK v4
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/deletestale.go
  plugins/destination/azblob/client/migrate.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/spec_test.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/azblob/main.go
Labels: automerge, azblob

#11905 chore(ci): Ignore removal of _cq_sync_time and _cq_source_name for SDK v4 migration
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_11855_diff.txt
Labels: automerge

#11906 chore: Update file-destinations to 4.6.1-rc1 (`plugin.NewClientOptions`)
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, file, s3, azblob

#11855 feat!: Upgrade Hacker News plugin to SDK v4
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/mocks/backend.go
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/plugin/client.go
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
  website/pages/docs/plugins/sources/hackernews/_configuration.mdx
  website/pages/docs/plugins/sources/hackernews/overview.mdx
  website/tables/hackernews/hackernews_items.md
Labels: automerge, website, hackernews

#11909 chore(destinations): Update to SDK v4.6.1
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/elasticsearch/client/client.go
  plugins/destination/elasticsearch/client/client_test.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/meilisearch/client/client.go
  plugins/destination/meilisearch/client/client_test.go
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/client_test.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/types.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: sqlite, snowflake, mongodb, neo4j, mssql, clickhouse, elasticsearch, mysql, duckdb, gremlin, meilisearch

#11912 fix(elasticsearch): Fix serve
  plugins/destination/elasticsearch/main.go
Labels: elasticsearch

#11910 feat(kafka): Upgrade to SDK v4
  plugins/destination/kafka/README.md
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/deletestale.go
  plugins/destination/kafka/client/metrics.go
  plugins/destination/kafka/client/migrate.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/kafka/main.go
Labels: automerge, kafka

#11911 feat(gcs): Upgrade to SDK v4
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/deletestale.go
  plugins/destination/gcs/client/migrate.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/gcs/main.go
Labels: automerge, gcs

#11940 fix: Use `configtype.Duration`
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/spec.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/meilisearch/client/client.go
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  website/pages/docs/plugins/destinations/meilisearch/_configuration.mdx
  website/pages/docs/plugins/destinations/meilisearch/overview.mdx
Labels: automerge, website, mssql, clickhouse, meilisearch

#11939 fix: Use configtype.Duration
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/spec_test.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/client/client.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/spec_test.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, file, gcs, s3, azblob

#11947 chore(gcp): Fix linting issues
  plugins/source/gcp/resources/plugin/plugin.go
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, gcp, priority merge

#11949 feat(tailscale): Update to SDK v4
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/resolvers.go
  plugins/source/tailscale/client/spec.go
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/client/transformers.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
  plugins/source/tailscale/resources/plugin/tables.go
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_mock_test.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/dns/nameservers.go
  plugins/source/tailscale/resources/services/dns/nameservers_mock_test.go
  plugins/source/tailscale/resources/services/dns/preferences.go
  plugins/source/tailscale/resources/services/dns/preferences_mock_test.go
  plugins/source/tailscale/resources/services/dns/searchpaths.go
  plugins/source/tailscale/resources/services/dns/searchpaths_mock_test.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_mock_test.go
  website/tables/tailscale/tailscale_acls.md
  website/tables/tailscale/tailscale_devices.md
  website/tables/tailscale/tailscale_dns_nameservers.md
  website/tables/tailscale/tailscale_dns_preferences.md
  website/tables/tailscale/tailscale_dns_searchpaths.md
  website/tables/tailscale/tailscale_keys.md
Labels: website, tailscale

#11959 feat(fastly): Update to SDK V4
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/multiplexers.go
  plugins/source/fastly/client/resolvers.go
  plugins/source/fastly/client/spec.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
  plugins/source/fastly/main.go
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/account/account_events.go
  plugins/source/fastly/resources/services/account/account_events_fetch.go
  plugins/source/fastly/resources/services/account/account_events_mock_test.go
  plugins/source/fastly/resources/services/account/account_users.go
  plugins/source/fastly/resources/services/account/account_users_fetch.go
  plugins/source/fastly/resources/services/account/account_users_mock_test.go
  plugins/source/fastly/resources/services/auth/auth_tokens.go
  plugins/source/fastly/resources/services/auth/auth_tokens_fetch.go
  plugins/source/fastly/resources/services/auth/auth_tokens_mock_test.go
  plugins/source/fastly/resources/services/services/service_backends.go
  plugins/source/fastly/resources/services/services/service_backends_fetch.go
  plugins/source/fastly/resources/services/services/service_backends_mock_test.go
  plugins/source/fastly/resources/services/services/service_domains.go
  plugins/source/fastly/resources/services/services/service_domains_fetch.go
  plugins/source/fastly/resources/services/services/service_domains_mock_test.go
  plugins/source/fastly/resources/services/services/service_health_checks.go
  plugins/source/fastly/resources/services/services/service_health_checks_fetch.go
  plugins/source/fastly/resources/services/services/service_health_checks_mock_test.go
  plugins/source/fastly/resources/services/services/service_versions.go
  plugins/source/fastly/resources/services/services/service_versions_fetch.go
  plugins/source/fastly/resources/services/services/service_versions_mock_test.go
  plugins/source/fastly/resources/services/services/services.go
  plugins/source/fastly/resources/services/services/services_fetch.go
  plugins/source/fastly/resources/services/services/services_mock_test.go
  plugins/source/fastly/resources/services/stats/stats_regions.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch_test.go
  plugins/source/fastly/resources/services/stats/stats_services.go
  plugins/source/fastly/resources/services/stats/stats_services_fetch.go
  website/tables/fastly/fastly_account_events.md
  website/tables/fastly/fastly_account_users.md
  website/tables/fastly/fastly_auth_tokens.md
  website/tables/fastly/fastly_service_backends.md
  website/tables/fastly/fastly_service_domains.md
  website/tables/fastly/fastly_service_health_checks.md
  website/tables/fastly/fastly_service_versions.md
  website/tables/fastly/fastly_services.md
  website/tables/fastly/fastly_stats_regions.md
  website/tables/fastly/fastly_stats_services.md
Labels: website, fastly

#11965 feat(hubspot): Update to SDK V4
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/multiplex.go
  plugins/source/hubspot/client/resolvers.go
  plugins/source/hubspot/client/spec.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/main.go
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/hubspot/resources/services/crm/companies.go
  plugins/source/hubspot/resources/services/crm/companies_fetch.go
  plugins/source/hubspot/resources/services/crm/contacts.go
  plugins/source/hubspot/resources/services/crm/contacts_fetch.go
  plugins/source/hubspot/resources/services/crm/deals.go
  plugins/source/hubspot/resources/services/crm/deals_fetch.go
  plugins/source/hubspot/resources/services/crm/line_items.go
  plugins/source/hubspot/resources/services/crm/line_items_fetch.go
  plugins/source/hubspot/resources/services/crm/owners.go
  plugins/source/hubspot/resources/services/crm/owners_fetch.go
  plugins/source/hubspot/resources/services/crm/pipelines.go
  plugins/source/hubspot/resources/services/crm/pipelines_fetch.go
  plugins/source/hubspot/resources/services/crm/products.go
  plugins/source/hubspot/resources/services/crm/products_fetch.go
  plugins/source/hubspot/resources/services/crm/quotes.go
  plugins/source/hubspot/resources/services/crm/quotes_fetch.go
  plugins/source/hubspot/resources/services/crm/tickets.go
  plugins/source/hubspot/resources/services/crm/tickets_fetch.go
  website/tables/hubspot/hubspot_crm_companies.md
  website/tables/hubspot/hubspot_crm_contacts.md
  website/tables/hubspot/hubspot_crm_deals.md
  website/tables/hubspot/hubspot_crm_line_items.md
  website/tables/hubspot/hubspot_crm_owners.md
  website/tables/hubspot/hubspot_crm_pipelines.md
  website/tables/hubspot/hubspot_crm_products.md
  website/tables/hubspot/hubspot_crm_quotes.md
  website/tables/hubspot/hubspot_crm_tickets.md
Labels: website, hubspot

#11971 feat(tailscale): Remove temporarily
  .github/workflows/source_tailscale.yml
  plugins/source/tailscale/.gitignore
  plugins/source/tailscale/.goreleaser.yaml
  plugins/source/tailscale/CHANGELOG.md
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/README.md
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/resolvers.go
  plugins/source/tailscale/client/spec.go
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/client/transformers.go
  plugins/source/tailscale/docs/tables/README.md
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
  plugins/source/tailscale/resources/plugin/plugin_test.go
  plugins/source/tailscale/resources/plugin/tables.go
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_mock_test.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/dns/nameservers.go
  plugins/source/tailscale/resources/services/dns/nameservers_mock_test.go
  plugins/source/tailscale/resources/services/dns/preferences.go
  plugins/source/tailscale/resources/services/dns/preferences_mock_test.go
  plugins/source/tailscale/resources/services/dns/searchpaths.go
  plugins/source/tailscale/resources/services/dns/searchpaths_mock_test.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_mock_test.go
Labels: automerge, ci, tailscale

#11956 feat(shopify): Upgrade to SDK v4
  plugins/source/shopify/client/client.go
  plugins/source/shopify/client/spec.go
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/main.go
  plugins/source/shopify/resources/plugin/client.go
  plugins/source/shopify/resources/plugin/plugin.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts_fetch.go
  plugins/source/shopify/resources/services/customer/customers.go
  plugins/source/shopify/resources/services/customer/customers_fetch.go
  plugins/source/shopify/resources/services/customer/customers_mock_test.go
  plugins/source/shopify/resources/services/order/orders.go
  plugins/source/shopify/resources/services/order/orders_fetch.go
  plugins/source/shopify/resources/services/order/orders_mock_test.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes_fetch.go
  plugins/source/shopify/resources/services/price_rule/price_rules.go
  plugins/source/shopify/resources/services/price_rule/price_rules_fetch.go
  plugins/source/shopify/resources/services/product/product_images.go
  plugins/source/shopify/resources/services/product/product_images_fetch.go
  plugins/source/shopify/resources/services/product/product_variants.go
  plugins/source/shopify/resources/services/product/product_variants_fetch.go
  plugins/source/shopify/resources/services/product/products.go
  plugins/source/shopify/resources/services/product/products_fetch.go
  plugins/source/shopify/resources/services/product/products_mock_test.go
  website/pages/docs/plugins/sources/shopify/_configuration.mdx
  website/pages/docs/plugins/sources/shopify/overview.mdx
  website/tables/shopify/shopify_abandoned_checkouts.md
  website/tables/shopify/shopify_customers.md
  website/tables/shopify/shopify_orders.md
  website/tables/shopify/shopify_price_rule_discount_codes.md
  website/tables/shopify/shopify_price_rules.md
  website/tables/shopify/shopify_product_images.md
  website/tables/shopify/shopify_product_variants.md
  website/tables/shopify/shopify_products.md
Labels: automerge, website, shopify

#11954 feat(vercel): Upgrade to SDK v4
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/multiplexer.go
  plugins/source/vercel/client/spec.go
  plugins/source/vercel/client/state.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/main.go
  plugins/source/vercel/resources/plugin/client.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
  website/pages/docs/plugins/sources/vercel/_configuration.mdx
  website/pages/docs/plugins/sources/vercel/configuration.mdx
  website/tables/vercel/vercel_deployment_checks.md
  website/tables/vercel/vercel_deployments.md
  website/tables/vercel/vercel_domain_records.md
  website/tables/vercel/vercel_domains.md
  website/tables/vercel/vercel_project_envs.md
  website/tables/vercel/vercel_projects.md
  website/tables/vercel/vercel_team_members.md
  website/tables/vercel/vercel_teams.md
Labels: automerge, website, vercel

#11976 feat(okta): Upgrade to SDK v4
  plugins/source/okta/client/client.go
  plugins/source/okta/client/spec.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/client/transformers.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/main.go
  plugins/source/okta/resources/plugin/client.go
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/applications/group_assignments.go
  plugins/source/okta/resources/services/applications/users.go
  plugins/source/okta/resources/services/fakes/group.go
  plugins/source/okta/resources/services/fakes/user.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/users.go
  plugins/source/okta/resources/services/users/users.go
  website/pages/docs/plugins/sources/okta/_configuration.mdx
  website/pages/docs/plugins/sources/okta/overview.mdx
  website/tables/okta/okta_application_group_assignments.md
  website/tables/okta/okta_application_users.md
  website/tables/okta/okta_applications.md
  website/tables/okta/okta_group_users.md
  website/tables/okta/okta_groups.md
  website/tables/okta/okta_users.md
Labels: automerge, okta, website

#11777 feat(aws-policies): Update sqs encryption for aws foundational security policies
  plugins/source/aws/policies/foundational_security/sqs.sql
  plugins/source/aws/policies/queries/sqs/sqs_queues_should_be_encrypted_at_rest.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_sqs_queues.md
Labels: aws, automerge, website

#11983 fix: Update SDK on sources
  plugins/source/cloudflare/client/testing.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/datadog/client/testing.go
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/client.go
  plugins/source/gcp/resources/plugin/plugin.go
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/main.go
  plugins/source/k8s/resources/plugin/plugin.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/plugin/client.go
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/resources/plugin/client.go
  plugins/source/stripe/client/testing.go
  plugins/source/stripe/go.mod
  plugins/source/stripe/go.sum
  plugins/source/stripe/resources/plugin/client.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/resources/plugin/client.go
  website/tables/fastly/fastly_service_backends.md
  website/tables/fastly/fastly_service_domains.md
  website/tables/fastly/fastly_service_health_checks.md
  website/tables/fastly/fastly_service_versions.md
Labels: automerge, cloudflare, gcp, k8s, okta, website, datadog, vercel, fastly, shopify, stripe, hubspot

#11984 fix(googleads): Remove google ads temporarily
  .github/workflows/source_googleads.yml
  plugins/source/googleads/.gitignore
  plugins/source/googleads/.goreleaser.yaml
  plugins/source/googleads/CHANGELOG.md
  plugins/source/googleads/Makefile
  plugins/source/googleads/README.md
  plugins/source/googleads/client/client.go
  plugins/source/googleads/client/columns.go
  plugins/source/googleads/client/context.go
  plugins/source/googleads/client/fetch.go
  plugins/source/googleads/client/hierarchy.go
  plugins/source/googleads/client/multiplex.go
  plugins/source/googleads/client/oauth.go
  plugins/source/googleads/client/receive.go
  plugins/source/googleads/client/resolvers.go
  plugins/source/googleads/client/spec.go
  plugins/source/googleads/client/testing.go
  plugins/source/googleads/client/transformers.go
  plugins/source/googleads/docs/tables/README.md
  plugins/source/googleads/gaql/field.go
  plugins/source/googleads/gaql/field_test.go
  plugins/source/googleads/gaql/options.go
  plugins/source/googleads/gaql/query.go
  plugins/source/googleads/gaql/query_test.go
  plugins/source/googleads/gaql/util.go
  plugins/source/googleads/go.mod
  plugins/source/googleads/go.sum
  plugins/source/googleads/main.go
  plugins/source/googleads/resources/ads/group_ad_labels.go
  plugins/source/googleads/resources/ads/group_ad_labels_test.go
  plugins/source/googleads/resources/ads/group_ads.go
  plugins/source/googleads/resources/ads/group_ads_test.go
  plugins/source/googleads/resources/ads/group_criteria.go
  plugins/source/googleads/resources/ads/group_criteria_test.go
  plugins/source/googleads/resources/ads/group_criterion_labels.go
  plugins/source/googleads/resources/ads/group_criterion_labels_test.go
  plugins/source/googleads/resources/ads/group_labels.go
  plugins/source/googleads/resources/ads/group_labels_test.go
  plugins/source/googleads/resources/ads/groups.go
  plugins/source/googleads/resources/ads/groups_test.go
  plugins/source/googleads/resources/campaigns/campaign_criteria.go
  plugins/source/googleads/resources/campaigns/campaign_criteria_test.go
  plugins/source/googleads/resources/campaigns/campaign_labels.go
  plugins/source/googleads/resources/campaigns/campaign_labels_test.go
  plugins/source/googleads/resources/campaigns/campaigns.go
  plugins/source/googleads/resources/campaigns/campaigns_test.go
  plugins/source/googleads/resources/customers/customer_labels.go
  plugins/source/googleads/resources/customers/customer_labels_test.go
  plugins/source/googleads/resources/customers/customers.go
  plugins/source/googleads/resources/customers/customers_test.go
  plugins/source/googleads/resources/plugin/plugin.go
Labels: automerge, ci, googleads

#11955 feat: Add table_options support for aws_securityhub_findings table
  plugins/source/aws/client/tableoptions/securityhub.go
  plugins/source/aws/client/tableoptions/securityhub_test.go
  plugins/source/aws/client/tableoptions/table_options.go
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/resources/services/securityhub/findings.go
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: aws, automerge, website

#11990 fix: Update SDK for filetypes dests
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/client/client.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, file, gcs, s3, kafka, azblob

#11809 doc(website): File plugins batchsize opts
  website/pages/docs/plugins/destinations/azblob/_configuration.mdx
  website/pages/docs/plugins/destinations/azblob/overview.mdx
  website/pages/docs/plugins/destinations/file/_configuration.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
  website/pages/docs/plugins/destinations/gcs/_configuration.mdx
  website/pages/docs/plugins/destinations/gcs/overview.mdx
  website/pages/docs/plugins/destinations/kafka/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website

#11989 feat(vercel): Remove Vercel temporarily
  .github/workflows/source_vercel.yml
  plugins/source/vercel/.gitignore
  plugins/source/vercel/.goreleaser.yaml
  plugins/source/vercel/CHANGELOG.md
  plugins/source/vercel/Makefile
  plugins/source/vercel/README.md
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/multiplexer.go
  plugins/source/vercel/client/spec.go
  plugins/source/vercel/client/state.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/docs/configuration.md
  plugins/source/vercel/docs/tables/README.md
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/internal/vercel/deployment.go
  plugins/source/vercel/internal/vercel/domain.go
  plugins/source/vercel/internal/vercel/millitime.go
  plugins/source/vercel/internal/vercel/project.go
  plugins/source/vercel/internal/vercel/team.go
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/main.go
  plugins/source/vercel/resources/plugin/client.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
Labels: automerge, ci, vercel

#11987 feat(plausible): Remove plausible plugin temporarily
  .github/workflows/source_plausible.yml
  plugins/source/plausible/.gitignore
  plugins/source/plausible/.goreleaser.yaml
  plugins/source/plausible/CHANGELOG.md
  plugins/source/plausible/Makefile
  plugins/source/plausible/README.md
  plugins/source/plausible/client/client.go
  plugins/source/plausible/client/http.go
  plugins/source/plausible/client/resolvers.go
  plugins/source/plausible/client/spec.go
  plugins/source/plausible/client/testing.go
  plugins/source/plausible/docs/tables/README.md
  plugins/source/plausible/go.mod
  plugins/source/plausible/go.sum
  plugins/source/plausible/main.go
  plugins/source/plausible/resources/plugin/plugin.go
  plugins/source/plausible/resources/services/stats_test.go
  plugins/source/plausible/resources/services/stats_timeseries.go
Labels: automerge, ci, plausible

#11986 feat(aws): Add Support for `ecs:ListTasks` in `table_options`
  plugins/source/aws/client/tableoptions/ecs_cluster_tasks.go
  plugins/source/aws/client/tableoptions/ecs_cluster_tasks_test.go
  plugins/source/aws/client/tableoptions/table_options.go
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: aws, automerge, website

#11973 fix(aws): Skip fetching tags for `aws_kafka_cluster_operations`
  plugins/source/aws/resources/services/kafka/cluster_operations.go
  plugins/source/aws/resources/services/kafka/helpers.go
Labels: aws, automerge

#11997 fix(cli): Make source_name and sync_time nullable
  cli/internal/transformer/transformer.go
  cli/internal/transformer/transformer_test.go
Labels: automerge, cli

#11662 feat(postgresql)!: Migrate Postgres destination to SDK v4
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/messages.go
  plugins/destination/postgresql/client/metrics.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/read_cockroach.go
  plugins/destination/postgresql/client/spec.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/types_cockroach.go
  plugins/destination/postgresql/client/types_pg.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/postgresql/main.go
  plugins/destination/postgresql/pgarrow/to_arrow.go
  plugins/destination/postgresql/pgarrow/to_arrow_test.go
  plugins/destination/postgresql/pgarrow/to_pg.go
Labels: automerge, postgresql

#12018 fix(postgresql): Rerun release please
  plugins/destination/postgresql/client/client.go
Labels: automerge, postgresql

#11773 feat(bigquery): Update to SDK V4
  .github/workflows/dest_bigquery.yml
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/metrics.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/types_test.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
Labels: automerge, ci, bigquery

#12003 feat(snyk): Update to SDK v4
  plugins/source/snyk/client/client.go
  plugins/source/snyk/client/columns.go
  plugins/source/snyk/client/multiplexer.go
  plugins/source/snyk/client/resolvers.go
  plugins/source/snyk/client/spec.go
  plugins/source/snyk/client/testing.go
  plugins/source/snyk/client/transform.go
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/snyk/main.go
  plugins/source/snyk/resources/plugin/client.go
  plugins/source/snyk/resources/plugin/plugin.go
  plugins/source/snyk/resources/plugin/tables.go
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/dependency/dependencies_mock_test.go
  plugins/source/snyk/resources/services/group/group_members.go
  plugins/source/snyk/resources/services/group/groups.go
  plugins/source/snyk/resources/services/group/groups_mock_test.go
  plugins/source/snyk/resources/services/integration/integration_mock_test.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/members.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/organization/organizations_mock_test.go
  plugins/source/snyk/resources/services/organization/provisions.go
  plugins/source/snyk/resources/services/project/projects.go
  plugins/source/snyk/resources/services/project/projects_mock_test.go
  plugins/source/snyk/resources/services/reporting/issues.go
  plugins/source/snyk/resources/services/reporting/issues_mock_test.go
  plugins/source/snyk/resources/services/reporting/latest_issues.go
  website/pages/docs/plugins/sources/snyk/_configuration.mdx
  website/pages/docs/plugins/sources/snyk/configuration.mdx
  website/tables/snyk/snyk_dependencies.md
  website/tables/snyk/snyk_group_members.md
  website/tables/snyk/snyk_groups.md
  website/tables/snyk/snyk_integrations.md
  website/tables/snyk/snyk_organization_members.md
  website/tables/snyk/snyk_organization_provisions.md
  website/tables/snyk/snyk_organizations.md
  website/tables/snyk/snyk_projects.md
  website/tables/snyk/snyk_reporting_issues.md
  website/tables/snyk/snyk_reporting_latest_issues.md
Labels: automerge, website, snyk

#11961 fix(gcp): Fix the query condition of the KMS Separation duties rule
  plugins/source/gcp/policies/queries/iam/kms_separation_of_duties.sql
Labels: automerge, gcp

#11925 feat(dst-test): Migrate to SDK v4
  plugins/destination/test/client/client.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/destination/test/main.go
Labels: automerge

#11646 feat(homebrew)!: Upgrade to SDK v4
  plugins/source/homebrew/.gitignore
  plugins/source/homebrew/client/client.go
  plugins/source/homebrew/client/errors.go
  plugins/source/homebrew/client/errors_test.go
  plugins/source/homebrew/client/spec.go
  plugins/source/homebrew/client/testing.go
  plugins/source/homebrew/go.mod
  plugins/source/homebrew/go.sum
  plugins/source/homebrew/main.go
  plugins/source/homebrew/resources/plugin/client.go
  plugins/source/homebrew/resources/plugin/plugin.go
  plugins/source/homebrew/resources/services/analytics/build_errors.go
  plugins/source/homebrew/resources/services/analytics/build_errors_test.go
  plugins/source/homebrew/resources/services/analytics/cask_installs.go
  plugins/source/homebrew/resources/services/analytics/cask_installs_test.go
  plugins/source/homebrew/resources/services/analytics/installs.go
  plugins/source/homebrew/resources/services/analytics/installs_test.go
  website/tables/homebrew/homebrew_analytics_build_errors_30d.md
  website/tables/homebrew/homebrew_analytics_build_errors_365d.md
  website/tables/homebrew/homebrew_analytics_build_errors_90d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_30d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_365d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_90d.md
  website/tables/homebrew/homebrew_analytics_installs_30d.md
  website/tables/homebrew/homebrew_analytics_installs_365d.md
  website/tables/homebrew/homebrew_analytics_installs_90d.md
Labels: automerge, website, homebrew

#11932 feat(firehose): Migrate to SDK v4
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/client_test.go
  plugins/destination/firehose/client/delete_stale.go
  plugins/destination/firehose/client/metrics.go
  plugins/destination/firehose/client/migrate.go
  plugins/destination/firehose/client/read.go
  plugins/destination/firehose/client/write.go
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/firehose/main.go
Labels: automerge, firehose

#12039 chore: Update .release-please-manifest.json
  .release-please-manifest.json
Labels: automerge

#12045 chore: Update .release-please-manifest.json
  .release-please-manifest.json
Labels: automerge

#12052 feat(terraform)!: Migrate to SDK v4
  plugins/source/terraform/client/backend.go
  plugins/source/terraform/client/client.go
  plugins/source/terraform/client/multiplexers.go
  plugins/source/terraform/client/spec.go
  plugins/source/terraform/client/testing.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/plugin/client.go
  plugins/source/terraform/resources/plugin/plugin.go
  plugins/source/terraform/resources/plugin/plugin_test.go
  plugins/source/terraform/resources/plugin/tables.go
  plugins/source/terraform/resources/plugin/testdata/terraform.tfstate
  plugins/source/terraform/resources/services/tf_resource_instances.go
  plugins/source/terraform/resources/services/tf_resources.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/resources/services/tfdata_test.go
  website/tables/terraform/tf_data.md
  website/tables/terraform/tf_resource_instances.md
  website/tables/terraform/tf_resources.md
Labels: automerge, terraform, website

#12051 feat(cli): Add migrate v3
  cli/cmd/migrate.go
  cli/cmd/migrate_v3.go
Labels: automerge, cli

#12055 refactor(sources): Table access
  plugins/source/aws/resources/plugin/client.go
  plugins/source/aws/resources/plugin/plugin_test.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/digitalocean/resources/plugin/tables.go
  plugins/source/facebookmarketing/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/gcp/resources/plugin/client.go
  plugins/source/gcp/resources/plugin/plugin.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/homebrew/resources/plugin/client.go
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/k8s/resources/plugin/plugin.go
Labels: aws, automerge, cloudflare, digitalocean, gcp, k8s, datadog, gitlab, fastly, hubspot, homebrew, facebookmarketing

#11979 feat(googleanalytics): Update to sdk V4
  plugins/source/googleanalytics/client/client.go
  plugins/source/googleanalytics/client/columns.go
  plugins/source/googleanalytics/client/fetch.go
  plugins/source/googleanalytics/client/report.go
  plugins/source/googleanalytics/client/spec.go
  plugins/source/googleanalytics/client/tables.go
  plugins/source/googleanalytics/client/time.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
  plugins/source/googleanalytics/main.go
  plugins/source/googleanalytics/resources/plugin/plugin.go
Labels: automerge, googleanalytics

#12056 fix(cli): Provide helpful message when write fails
  cli/cmd/errors.go
  cli/cmd/migrate_v3.go
  cli/cmd/sync_v3.go
Labels: automerge, cli

#12061 chore: More table fixes
  plugins/source/azure/resources/plugin/client.go
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/hubspot/resources/plugin/plugin.go
Labels: azure, automerge, hubspot

#12063 chore: Update release-please-config.json
  release-please-config.json
Labels: automerge

#12054 feat!: Upgrade Alicloud plugin to plugin SDK v4
  plugins/source/alicloud/client/client.go
  plugins/source/alicloud/client/multiplexers.go
  plugins/source/alicloud/client/resolvers.go
  plugins/source/alicloud/client/spec.go
  plugins/source/alicloud/client/testing.go
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/go.sum
  plugins/source/alicloud/main.go
  plugins/source/alicloud/resources/plugin/client.go
  plugins/source/alicloud/resources/plugin/plugin.go
  plugins/source/alicloud/resources/services/bss/bill.go
  plugins/source/alicloud/resources/services/bss/bill_details.go
  plugins/source/alicloud/resources/services/bss/bill_details_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_details_fetch_mock_test.go
  plugins/source/alicloud/resources/services/bss/bill_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_fetch_mock_test.go
  plugins/source/alicloud/resources/services/bss/bill_overview.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch_mock_test.go
  plugins/source/alicloud/resources/services/ecs/instances.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/bucket_stats.go
  plugins/source/alicloud/resources/services/oss/buckets.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_mock_test.go
  website/tables/alicloud/alicloud_bss_bill.md
  website/tables/alicloud/alicloud_bss_bill_details.md
  website/tables/alicloud/alicloud_bss_bill_overview.md
  website/tables/alicloud/alicloud_ecs_instances.md
  website/tables/alicloud/alicloud_oss_bucket_stats.md
  website/tables/alicloud/alicloud_oss_buckets.md
Labels: automerge, website, alicloud

#12083 chore(website): Add Jira premium plugin
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/jira/_authentication.mdx
  website/pages/docs/plugins/sources/jira/_configuration.mdx
  website/pages/docs/plugins/sources/jira/_meta.json
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/pages/docs/plugins/sources/jira/tables.md
  website/pages/docs/plugins/sources/jira/tables/jira_boards.md
  website/pages/docs/plugins/sources/jira/tables/jira_fields.md
  website/pages/docs/plugins/sources/jira/tables/jira_issues.md
  website/pages/docs/plugins/sources/jira/tables/jira_priorities.md
  website/pages/docs/plugins/sources/jira/tables/jira_projects.md
  website/vercel.json
Labels: website

#12075 feat(salesforce)!: Upgrade to SDK v4
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/spec.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/client.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
  website/tables/salesforce/salesforce_objects.md
Labels: automerge, website, salesforce

#12085 chore(website): Update jira pricing
  website/pages/docs/plugins/sources/jira/overview.mdx
Labels: automerge, website

#12074 feat(aws-policies): Add sns logging of delivery status to AWS Policies
  plugins/source/aws/policies/foundational_security/sns.sql
  plugins/source/aws/policies/queries/sns/sns_topics_should_have_message_delivery_notification_enabled.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_sns_topics.md
Labels: aws, automerge, website

#12086 chore(website): Add premium plugins
  website/pages/docs/plugins/sources/gandi/_configuration.mdx
  website/pages/docs/plugins/sources/gandi/overview.mdx
  website/pages/docs/plugins/sources/googleads/_configuration.mdx
  website/pages/docs/plugins/sources/googleads/overview.mdx
  website/pages/docs/plugins/sources/heroku/_configuration.mdx
  website/pages/docs/plugins/sources/heroku/overview.mdx
  website/pages/docs/plugins/sources/launchdarkly/_configuration.mdx
  website/pages/docs/plugins/sources/launchdarkly/overview.mdx
  website/pages/docs/plugins/sources/mixpanel/_configuration.mdx
  website/pages/docs/plugins/sources/mixpanel/overview.mdx
  website/pages/docs/plugins/sources/plausible/_configuration.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
  website/pages/docs/plugins/sources/slack/_configuration.mdx
  website/pages/docs/plugins/sources/slack/overview.mdx
  website/pages/docs/plugins/sources/tailscale/_configuration.mdx
  website/pages/docs/plugins/sources/tailscale/overview.mdx
  website/pages/docs/plugins/sources/vercel/_configuration.mdx
  website/pages/docs/plugins/sources/vercel/overview.mdx
  website/vercel.json
Labels: website

#12087 feat(snowflake): Support old protobuf versions
  plugins/destination/snowflake/main.go
Labels: automerge, snowflake

#12089 chore(website): Add premium policy for Azure CIS v1.3.0 for snowflake
  website/pages/docs/core-concepts/policies.md
  website/vercel.json
Labels: website

#12106 fix(duckdb): Support V0/V1 syncs
  plugins/destination/duckdb/main.go
Labels: automerge, duckdb

#12108 fix(website): Jira Docs broken links/linting
  .github/workflows/broken_links.yml
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/tables/jira/jira_boards.md
  website/tables/jira/jira_fields.md
  website/tables/jira/jira_issues.md
  website/tables/jira/jira_priorities.md
  website/tables/jira/jira_projects.md
Labels: automerge, website, ci

#12072 feat(azuredevops)!: Upgrade to SDK v4
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/client/spec.go
  plugins/source/azuredevops/client/transformers.go
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/main.go
  plugins/source/azuredevops/resources/plugin/client.go
  plugins/source/azuredevops/resources/plugin/plugin.go
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
  website/tables/azuredevops/azuredevops_core_projects.md
Labels: automerge, website, azuredevops

#12071 feat(awspricing)!: Upgrade to SDK v4
  plugins/source/awspricing/client/client.go
  plugins/source/awspricing/client/spec.go
  plugins/source/awspricing/go.mod
  plugins/source/awspricing/go.sum
  plugins/source/awspricing/main.go
  plugins/source/awspricing/plugin/plugin.go
  plugins/source/awspricing/resources/plugin/client.go
  plugins/source/awspricing/resources/plugin/plugin.go
  plugins/source/awspricing/resources/services/products.go
  plugins/source/awspricing/resources/services/services.go
  plugins/source/awspricing/resources/services/terms.go
  website/tables/awspricing/awspricing_service_products.md
  website/tables/awspricing/awspricing_service_terms.md
  website/tables/awspricing/awspricing_services.md
Labels: automerge, website, awspricing

#12119 chore(website): Fine tune plugin description in core concept
  website/pages/docs/core-concepts/plugins.md
Labels: automerge, website

#12057 feat(mysql)!: Improve Initial validation of server connection
  plugins/destination/mysql/client/client.go
Labels: automerge, mysql

#12121 fix(aws): Validate table relations not just top level table
  plugins/source/aws/client/testing.go
Labels: aws, automerge

#11982 fix(mysql)!: Limit truncation of `text` and `blob` columns used as primary Keys by setting the prefix to the largest value
  .github/workflows/dest_mysql.yml
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/write.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
Labels: automerge, ci, mysql

#12067 feat(aws-policies): Update ssm queries for aws policies
  plugins/source/aws/policies/queries/ssm/documents_should_not_be_public.sql
  plugins/source/aws/policies/queries/ssm/ec2_instances_should_be_managed_by_ssm.sql
  plugins/source/aws/policies/queries/ssm/instances_should_have_association_compliance_status_of_compliant.sql
  plugins/source/aws/policies/queries/ssm/instances_should_have_patch_compliance_status_of_compliant.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_ec2_instances.md
  website/tables/aws/aws_ssm_instance_compliance_items.md
  website/tables/aws/aws_ssm_instances.md
Labels: aws, automerge, website

#12113 chore(website): Introduce SDK V4
  website/pages/blog/go-sdk-v4.mdx
  website/pages/blog/proto-v3.mdx
Labels: automerge, website

#11728 feat(aws)!: Define primary key for eips
  plugins/source/aws/resources/services/ec2/eips.go
  website/tables/aws/aws_ec2_eips.md
Labels: aws, automerge, website

#12126 chore(aws): Fix AWS release workflow
  .github/workflows/source_aws.yml
Labels: automerge, ci

#12127 doc(blog): Fix links to SDK v4
  website/pages/blog/proto-v3.mdx
Labels: automerge, website

#12132 chore(website): Fix broken link in `proto-v3` blog
  .github/workflows/broken_links.yml
  website/pages/blog/proto-v3.mdx
Labels: automerge, website, ci

#12137 fix(deps): Upgrade destination plugins to SDK v4.0.0 release
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, postgresql, bigquery, file, gcs, s3, kafka, azblob, mysql

#12135 fix(deps): Upgrade source plugins to SDK v4.0.0 release
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/awspricing/go.mod
  plugins/source/awspricing/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/facebookmarketing/go.mod
  plugins/source/facebookmarketing/go.sum
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/googleanalytics/client/client.go
  plugins/source/googleanalytics/client/spec.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/homebrew/client/testing.go
  plugins/source/homebrew/go.mod
  plugins/source/homebrew/go.sum
  plugins/source/homebrew/resources/plugin/client.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/stripe/go.mod
  plugins/source/stripe/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Labels: aws, azure, automerge, cloudflare, digitalocean, gcp, github, k8s, okta, terraform, datadog, azuredevops, pagerduty, gitlab, fastly, salesforce, shopify, snyk, oracle, hackernews, stripe, alicloud, hubspot, googleanalytics, homebrew, awspricing, facebookmarketing

#12147 chore(website): Update Links on How To CSPM Guide
  website/pages/how-to-guides/open-source-cspm.mdx
Labels: automerge, website

#12151 fix: Improve version mismatch errors to include plugin type
  cli/cmd/migrate.go
  cli/cmd/sync.go
Labels: automerge, cli

#12146 doc(website): Website updates
  website/.gitignore
  website/components/Category.tsx
  website/components/Destinations.tsx
  website/components/Footer.tsx
  website/components/Kind.tsx
  website/components/LogoContainer.tsx
  website/components/PluginPricingCard.tsx
  website/components/Plugins.tsx
  website/components/RequestedSources.tsx
  website/components/Sources.tsx
  website/components/pages/IntegrationSource.tsx
  website/components/pages/IntegrationSourceDestination.tsx
  website/components/pages/home.tsx
  website/components/pages/integrations.tsx
  website/components/pages/new-source-plugin.tsx
  website/components/pluginData.tsx
  website/next-sitemap.config.js
  website/pages/_meta.json
  website/pages/buy/_meta.json
  website/pages/docs/plugins/sources/gandi/_configuration.mdx
  website/pages/docs/plugins/sources/gandi/overview.mdx
  website/pages/docs/plugins/sources/googleads/_configuration.mdx
  website/pages/docs/plugins/sources/googleads/overview.mdx
  website/pages/docs/plugins/sources/heroku/_configuration.mdx
  website/pages/docs/plugins/sources/heroku/overview.mdx
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/pages/docs/plugins/sources/launchdarkly/_configuration.mdx
  website/pages/docs/plugins/sources/launchdarkly/overview.mdx
  website/pages/docs/plugins/sources/mixpanel/_configuration.mdx
  website/pages/docs/plugins/sources/mixpanel/overview.mdx
  website/pages/docs/plugins/sources/plausible/_configuration.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
  website/pages/docs/plugins/sources/slack/_configuration.mdx
  website/pages/docs/plugins/sources/slack/overview.mdx
  website/pages/docs/plugins/sources/tailscale/_configuration.mdx
  website/pages/docs/plugins/sources/tailscale/overview.mdx
  website/pages/docs/plugins/sources/vercel/_configuration.mdx
  website/pages/docs/plugins/sources/vercel/overview.mdx
  website/pages/integrations/[...slug].mdx
  website/pages/new-source-plugin.mdx
  website/public/images/logos/plugins/xkcd-dark.svg
  website/public/images/logos/plugins/xkcd.svg
  website/scripts/prebuild.tsx
  website/styles.css
  website/vercel.json
Labels: automerge, website

#12152 fix: Fix paths for premium plugins
  website/utils/integrations.js
Labels: website

#12156 fix(website): Fix variable name
  website/utils/integrations.js
Labels: automerge, website, priority merge

#12157 fix(website): Update link to Jira integration
  website/pages/docs/plugins/sources/jira/overview.mdx
Labels: automerge, website

#12160 chore(website): Add Render and MongoDB Atlas sources
  website/pages/docs/plugins/sources/mongodb_atlas/_authentication.mdx
  website/pages/docs/plugins/sources/mongodb_atlas/_configuration.mdx
  website/pages/docs/plugins/sources/mongodb_atlas/_meta.json
  website/pages/docs/plugins/sources/mongodb_atlas/overview.mdx
  website/pages/docs/plugins/sources/mongodb_atlas/tables.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_database_clusters.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_database_federations.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_database_users.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_datalake_pipelines.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_project_settings.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_project_users.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_projects.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_team_users.md
  website/pages/docs/plugins/sources/mongodb_atlas/tables/atlas_teams.md
  website/pages/docs/plugins/sources/render/_authentication.mdx
  website/pages/docs/plugins/sources/render/_configuration.mdx
  website/pages/docs/plugins/sources/render/_meta.json
  website/pages/docs/plugins/sources/render/overview.mdx
  website/pages/docs/plugins/sources/render/tables.md
  website/pages/docs/plugins/sources/render/tables/render_owners.md
  website/pages/docs/plugins/sources/render/tables/render_service_custom_domains.md
  website/pages/docs/plugins/sources/render/tables/render_service_deploys.md
  website/pages/docs/plugins/sources/render/tables/render_service_jobs.md
  website/pages/docs/plugins/sources/render/tables/render_services.md
Labels: automerge, website

#12158 feat(firehose): Add batch options
  plugins/destination/firehose/client/spec.go
  plugins/destination/firehose/client/write.go
  website/pages/docs/plugins/destinations/firehose/_configuration.mdx
Labels: automerge, website, firehose

#12162 fix(website): Link to table docs in FAQ and some CSS fixes
  website/components/PluginPricingCard.tsx
  website/components/pages/IntegrationSource.tsx
  website/components/pluginData.tsx
  website/custom.css
  website/pages/docs/plugins/sources/jira/overview.mdx
  website/pages/docs/plugins/sources/mongodb-atlas/_authentication.mdx
  website/pages/docs/plugins/sources/mongodb-atlas/_configuration.mdx
  website/pages/docs/plugins/sources/mongodb-atlas/_meta.json
  website/pages/docs/plugins/sources/mongodb-atlas/overview.mdx
  website/pages/docs/plugins/sources/mongodb-atlas/tables.md
  website/pages/docs/plugins/sources/mongodb-atlas/tables/[table].mdx
  website/utils/plugins.js
Labels: automerge, website, priority merge

#12165 fix(aws): Make S3 column resolvers non-blocking
  plugins/source/aws/resources/services/s3/buckets.go
Labels: aws, automerge

#11711 feat(oracledb)!: Update to SDK V4
  plugins/source/oracledb/client/client.go
  plugins/source/oracledb/client/list_tables.go
  plugins/source/oracledb/client/spec.go
  plugins/source/oracledb/client/sync.go
  plugins/source/oracledb/client/transformer.go
  plugins/source/oracledb/client/types.go
  plugins/source/oracledb/go.mod
  plugins/source/oracledb/go.sum
  plugins/source/oracledb/main.go
  plugins/source/oracledb/resources/plugin/plugin.go
  plugins/source/oracledb/resources/plugin/plugin_test.go
  plugins/source/oracledb/resources/plugin/tables.go
Labels: automerge, oracledb

#12170 chore(deps): Disable `plugin-pb-go` dep updates in plugins
  .github/renovate.json5
Labels: automerge

#12164 chore(website): Update premium policy details
  .github/workflows/broken_links.yml
  website/components/policyData.tsx
  website/pages/_meta.json
  website/pages/docs/core-concepts/policies.md
  website/scripts/prebuild.tsx
Labels: automerge, website, ci

#12171 chore(website): Exclude Regex101 from broken links check
  .github/workflows/broken_links.yml
Labels: automerge, ci

#12145 fix(deps): Upgrade destination plugins to SDK v4.0.0 release
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge, no automerge, sqlite, snowflake, mongodb, neo4j, mssql, firehose, duckdb, gremlin, meilisearch

#12173 chore(website): Update plugin pricing text
  website/components/PluginPricingCard.tsx
  website/components/pages/IntegrationSource.tsx
Labels: automerge, website

#12176 chore: Update aws dashboards README.md
  plugins/source/aws/dashboards/README.md
Labels: aws, automerge

#12172 fix(cmd-migrate): Set `NoConnection` to true
  cli/cmd/migrate_v3.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#12184 chore(website): Fix styles for blog headers
  website/components/BlogHeader.tsx
  website/components/CaseStudyHeader.tsx
Labels: automerge, website

#12206 feat(ci): Use large MacOS runners
  .github/workflows/cli.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, ci, priority merge

#12212 fix: Filter tables in Tables function
  plugins/source/oracledb/client/client.go
Labels: automerge, priority merge, oracledb

#12213 doc(website): Add a CSPM Solution page
  website/pages/_meta.json
  website/pages/solutions/open-source-cspm.mdx
Labels: automerge, website

#12214 test: Validate all source plugin tables
  plugins/source/alicloud/client/testing.go
  plugins/source/aws/client/testing.go
  plugins/source/azure/client/testing.go
  plugins/source/cloudflare/client/testing.go
  plugins/source/datadog/client/testing.go
  plugins/source/digitalocean/client/testing.go
  plugins/source/fastly/client/testing.go
  plugins/source/gcp/client/testing.go
  plugins/source/github/client/testing.go
  plugins/source/gitlab/client/testing.go
  plugins/source/hackernews/client/testing.go
  plugins/source/homebrew/client/testing.go
  plugins/source/k8s/client/testing.go
  plugins/source/okta/client/testing.go
  plugins/source/pagerduty/client/testing.go
  plugins/source/salesforce/client/testing.go
  plugins/source/shopify/client/testing.go
  plugins/source/snyk/client/testing.go
  plugins/source/stripe/client/testing.go
Labels: aws, azure, automerge, cloudflare, digitalocean, gcp, github, k8s, okta, datadog, pagerduty, gitlab, fastly, salesforce, shopify, snyk, hackernews, stripe, alicloud, homebrew

#11719 feat(postgresql)!: Update to SDK V4
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/spec.go
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/go.mod
  plugins/source/postgresql/go.sum
  plugins/source/postgresql/main.go
  plugins/source/postgresql/pgarrow/to_arrow.go
  plugins/source/postgresql/pgarrow/to_arrow_test.go
  plugins/source/postgresql/pgarrow/to_pg.go
  plugins/source/postgresql/resources/plugin/plugin.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
  plugins/source/postgresql/resources/plugin/tables.go
  website/pages/docs/plugins/sources/postgresql/_configuration.mdx
  website/pages/docs/plugins/sources/postgresql/overview.mdx
Labels: automerge, website, source-postgresql

#12242 chore(website): Add register for CQ Cloud
  website/pages/_meta.json
  website/vercel.json
Labels: automerge, website

#12240 chore(website): Fix styles for How to guides
  website/components/BlogHeader.tsx
  website/components/CaseStudyHeader.tsx
  website/components/HowToGuideHeader.tsx
  website/components/Title.tsx
Labels: automerge, website

#12241 chore(wesbite): Fix links in Open Source CSPM page
  website/pages/solutions/open-source-cspm.mdx
Labels: automerge, website

#11701 feat(firestore)!: Update to SDK V4
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/main.go
  plugins/source/firestore/resources/plugin/plugin.go
  plugins/source/firestore/resources/plugin/plugin_test.go
  plugins/source/firestore/resources/plugin/tables.go
  plugins/source/firestore/resources/plugin/tables_test.go
Labels: automerge, firestore

#11696 feat(mysql)!: Update to SDK V4
  .github/workflows/source_mysql.yml
  plugins/source/mysql/client/client.go
  plugins/source/mysql/client/list_tables.go
  plugins/source/mysql/client/sync.go
  plugins/source/mysql/client/transformer.go
  plugins/source/mysql/client/types.go
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/main.go
  plugins/source/mysql/resources/plugin/plugin.go
  plugins/source/mysql/resources/plugin/plugin_test.go
  plugins/source/mysql/resources/plugin/tables.go
Labels: automerge, ci, source-mysql

#12238 fix: Fail if can't read current_schema or current_database
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/client/list_tables.go
Labels: automerge, source-postgresql

#12150 feat(aws): Add support for `App Config`
  plugins/source/aws/client/helpers.go
  plugins/source/aws/client/mocks/appconfig.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/appconfig.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/appconfig/applications.go
  plugins/source/aws/resources/services/appconfig/applications_mock_test.go
  plugins/source/aws/resources/services/appconfig/configuration_profiles.go
  plugins/source/aws/resources/services/appconfig/deployment_strategies.go
  plugins/source/aws/resources/services/appconfig/deployment_strategies_mock_test.go
  plugins/source/aws/resources/services/appconfig/environments.go
  plugins/source/aws/resources/services/appconfig/hosted_config_versions.go
  plugins/source/aws/resources/services/athena/data_catalogs.go
  plugins/source/aws/resources/services/athena/work_groups.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_appconfig_applications.md
  website/tables/aws/aws_appconfig_configuration_profiles.md
  website/tables/aws/aws_appconfig_environments.md
  website/tables/aws/aws_appconfig_hosted_configuration_versions.md
Labels: aws, automerge, website

#12249 fix(broken-links-checker): Exclude `register_for_cloud`
  .github/workflows/broken_links.yml
Labels: automerge, ci

#12252 feat(scaffold): Update to `plugin-sdk` v4
  scaffold/cmd/templates/source/client/client.go.tpl
  scaffold/cmd/templates/source/go.mod.tpl
  scaffold/cmd/templates/source/main.go.tpl
  scaffold/cmd/templates/source/plugin/plugin.go.tpl
  scaffold/cmd/templates/source/resources/table.go.tpl
Labels: automerge

#12250 feat(ci-deps): Match github actions dependencies in template files
  .github/renovate.json5
Labels: automerge

#12117 fix(aws)!: Fix Service Catalog resources
  plugins/source/aws/client/testing.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/servicecatalog/launch_paths.go
  plugins/source/aws/resources/services/servicecatalog/portfolios.go
  plugins/source/aws/resources/services/servicecatalog/portfolios_mock_test.go
  plugins/source/aws/resources/services/servicecatalog/products.go
  plugins/source/aws/resources/services/servicecatalog/products_mock_test.go
  plugins/source/aws/resources/services/servicecatalog/provisioned_products.go
  plugins/source/aws/resources/services/servicecatalog/provisioned_products_mock_test.go
  plugins/source/aws/resources/services/servicecatalog/provisioning_artifact.go
  plugins/source/aws/resources/services/servicecatalog/provisioning_parameters.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_servicecatalog_launch_paths.md
  website/tables/aws/aws_servicecatalog_portfolios.md
  website/tables/aws/aws_servicecatalog_products.md
  website/tables/aws/aws_servicecatalog_provisioned_products.md
  website/tables/aws/aws_servicecatalog_provisioning_artifacts.md
  website/tables/aws/aws_servicecatalog_provisioning_parameters.md
Labels: aws, automerge, website

#12263 chore: Bring back release please firehose configuration
  release-please-config.json
Labels: automerge

#12268 feat(cli): Add OpenTelemetry support via otel_endpoint
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/source.go
  website/pages/docs/reference/source-spec.md
Labels: automerge, cli, website

#12155 fix(clickhouse): Update to SDK v4.2.1
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/typeconv/ch/values/values_test.go
Labels: automerge, no automerge, clickhouse

#12291 chore: Remove verbose flag from CLI and Scaffold linting
  cli/Makefile
  scaffold/Makefile
Labels: automerge, cli, priority merge, scaffold

#12294 fix(spec-reader): Quote content of JSON files that have line breaks during file replacement
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/application_default_credentials.json
  cli/internal/specs/v0/testdata/json_file.yml
  cli/internal/specs/v0/testdata/json_file_yaml_pipe.yml
Labels: automerge, cli, priority merge

#12332 fix(cmd-tables): Better error message for sources with v3 protocol
  cli/cmd/tables.go
  cli/cmd/tables_test.go
  cli/cmd/testdata/multiple-sources-destinations.yml
  cli/cmd/testdata/multiple-sources.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success-sourcev1-destv0.yml
Labels: automerge, cli, priority merge

#12154 fix(elasticsearch)!: Update to SDK v4.2.2
  plugins/destination/elasticsearch/client/client_test.go
  plugins/destination/elasticsearch/client/deletestale.go
  plugins/destination/elasticsearch/client/migrate.go
  plugins/destination/elasticsearch/client/read.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: automerge, priority merge, elasticsearch

#12389 feat(resources): Add Backup Jobs
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/backup/jobs.go
  plugins/source/aws/resources/services/backup/jobs_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_backup_jobs.md
Labels: aws, automerge, website, priority merge

#12390 fix(migration): Make it clear that migration can be done manually and not only via `migrate_mode: forced`
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/meilisearch/client/migrate.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mysql/client/migrate.go
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, priority merge, sqlite, mongodb, mssql, clickhouse, mysql, duckdb, meilisearch

#12333 chore(ci): Enable policy tests
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, ci

#12402 feat(aws)!: Define composite primary key for lambda_function_versions
  plugins/source/aws/resources/services/lambda/function_versions.go
  website/tables/aws/aws_lambda_function_versions.md
Labels: aws, automerge, website

#12407 feat(resources): Add Repository Keys
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/resources/services/repositories/keys.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  website/pages/docs/plugins/sources/github/tables.md
  website/tables/github/github_repositories.md
  website/tables/github/github_repository_keys.md
Labels: automerge, github, website

#12409 feat(aws)!: Define primary key for dynamodb_table_continuous_backups
  plugins/source/aws/resources/services/dynamodb/table_continuous_backups.go
  website/tables/aws/aws_dynamodb_table_continuous_backups.md
Labels: aws, automerge, website

#12408 feat(aws)!: Define primary key for s3_bucket_encryption_rules
  plugins/source/aws/resources/services/s3/bucket_encryption_rules.go
  website/tables/aws/aws_s3_bucket_encryption_rules.md
Labels: aws, automerge, website

#12412 fix(snowflake)!: Make all quoted column names uppercase to support unquoted queries
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#12415 feat(aws)!: Define composite primary key for regions
  plugins/source/aws/resources/services/ec2/regions.go
  website/tables/aws/aws_regions.md
Labels: aws, automerge, website

#12405 chore(website): Signup for cloud button
  website/components/pages/home.tsx
  website/vercel.json
Labels: automerge, website

#12418 feat(migrate): Add `migrate_concurrency`
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/spec.go
  website/pages/docs/plugins/destinations/snowflake/_configuration.mdx
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
Labels: automerge, website, snowflake

#12424 fix(sync): Pass `DeterministicCQID` option to scheduler
  plugins/source/aws/resources/plugin/client.go
  plugins/source/azure/resources/plugin/client.go
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/facebookmarketing/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/gcp/resources/plugin/client.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/k8s/resources/plugin/plugin.go
Labels: aws, azure, automerge, cloudflare, gcp, k8s, gitlab, fastly, hubspot, facebookmarketing

#12425 refactor(spec): Remove plugin level `deterministic_cq_id`
  plugins/source/alicloud/client/spec.go
  plugins/source/alicloud/client/testing.go
Labels: automerge, alicloud

#12428 fix: Use correct name for `DeploymentStrategies` table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/appconfig/deployment_strategies.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_appconfig_applications.md
  website/tables/aws/aws_appconfig_deployment_strategies.md
Labels: aws, automerge, website, priority merge

#12430 chore(website): Use typeform instead of Google for for support
  website/vercel.json
Labels: website

#12417 feat(azure): Add private dns record sets and vnet links
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/services/privatedns/private_zones.go
  plugins/source/azure/resources/services/privatedns/private_zones_mock_test.go
  plugins/source/azure/resources/services/privatedns/record_sets.go
  plugins/source/azure/resources/services/privatedns/virtual_network_links.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_privatedns_private_zone_record_sets.md
  website/tables/azure/azure_privatedns_private_zone_virtual_network_links.md
  website/tables/azure/azure_privatedns_private_zones.md
Labels: azure, automerge, website

#12432 fix(aws): Make `aws_s3_buckets` properties nullable to clarify successful resolver results
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/models/s3.go
Labels: aws, automerge

#12411 feat: Support compression
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/write.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/write.go
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  website/pages/docs/plugins/destinations/azblob/_configuration.mdx
  website/pages/docs/plugins/destinations/azblob/overview.mdx
  website/pages/docs/plugins/destinations/file/_configuration.mdx
  website/pages/docs/plugins/destinations/file/overview.mdx
  website/pages/docs/plugins/destinations/gcs/_configuration.mdx
  website/pages/docs/plugins/destinations/gcs/overview.mdx
  website/pages/docs/plugins/destinations/s3/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, file, gcs, s3, azblob

#12435 feat(bigquery): Add `endpoint` for local testing
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/plugins/destinations/bigquery/overview.mdx
Labels: automerge, website, bigquery

#12436 fix(resources-acm-certificates): Filter by all key usages
  plugins/source/aws/resources/services/acm/certificates.go
  plugins/source/aws/resources/services/acm/certificates_mock_test.go
Labels: aws, automerge

#12439 chore(website): Update plugin versions in blogs and how-to-guides
  contributing/development_environment.md
  website/pages/blog/aws-priv-esc-identity-center.mdx
  website/pages/blog/guide-aws-org-delegation.mdx
  website/pages/how-to-guides/attack-surface-management-with-graph.mdx
  website/pages/how-to-guides/simple-analytics-to-bigquery.mdx
  website/pages/how-to-guides/update-plugins-using-renovate.mdx
Labels: automerge, website

#12451 test(homebrew): Relax cask installs validation
  plugins/source/homebrew/internal/homebrew/analytics_test.go
Labels: automerge, homebrew

#12455 feat(website): Add How-To-Guide for Resilience with AWS Backup
  website/pages/how-to-guides/manage-resilience-with-aws-backup.mdx
  website/public/images/how-to-guides/manage-resilience-with-aws-backup/backuphealthdashboard.png
  website/public/images/how-to-guides/manage-resilience-with-aws-backup/backupresourcesgroupedcount.png
  website/public/images/how-to-guides/manage-resilience-with-aws-backup/failedjobs.png
  website/public/images/how-to-guides/manage-resilience-with-aws-backup/protectedresources.png
Labels: automerge, website
