Repository cloudquery/cloudquery, pull requests merged in 2023-05, with the labels that each got.

#10381 feat(website): Blog for Privilege Escalation with AWS Identity Center
  website/pages/blog/aws-priv-esc-identity-center.mdx
  website/public/images/blog/aws-priv-esc-identity-center/IdentityCenter.png
  website/public/images/blog/aws-priv-esc-identity-center/dualauth.png
Labels: automerge, website

#10323 feat(azure-resources): Add `azure_storage_queue_acl` table
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/services/storage/queue_access_policy.go
  plugins/source/azure/resources/services/storage/queue_access_policy_mock_test.go
  plugins/source/azure/resources/services/storage/queues.go
  plugins/source/azure/resources/services/storage/queues_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_storage_queue_acl.md
  website/tables/azure/azure_storage_queues.md
Labels: azure, automerge, website

#10471 fix(postgresql): Reserved Keywords Caused Migration failure
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#10473 fix(postgresql): Ensure all table names are escaped
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
Labels: automerge, source-postgresql

#10458 fix(aws): Cost Explorer Date Range
  plugins/source/aws/resources/services/costexplorer/cost_current_month.go
  plugins/source/aws/resources/services/costexplorer/utility.go
Labels: aws, automerge

#10478 fix: AWS Memory set region when listing accounts
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/organizations_test.go
Labels: aws

#10285 feat(website-how-to-guides): Add Datadog logs collection guide
  website/content/authors.ts
  website/pages/how-to-guides/datadog-observability.mdx
  website/public/images/how-to-guides/datadog-observability/datadog_logs_explorer.png
  website/public/images/how-to-guides/datadog-observability/datadog_logs_explorer_errors_query.png
  website/public/images/how-to-guides/datadog-observability/datadog_logs_explorer_resources_query.png
  website/public/images/how-to-guides/datadog-observability/datadog_logs_explorer_time_range.png
  website/public/images/people/erezrokah.jpeg
Labels: automerge, website

#10506 feat(mssql)!: Upgrade to `github.com/cloudquery/plugin-sdk/v2`
  .github/workflows/dest_mssql.yml
  plugins/destination/mssql/CONTRIBUTING.md
  plugins/destination/mssql/client/bulk_insert.go
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/client_test.go
  plugins/destination/mssql/client/columns.go
  plugins/destination/mssql/client/delete_stale.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mssql/client/read.go
  plugins/destination/mssql/client/schema.go
  plugins/destination/mssql/client/tables.go
  plugins/destination/mssql/client/transform.go
  plugins/destination/mssql/client/tvp.go
  plugins/destination/mssql/client/unescape.go
  plugins/destination/mssql/client/unescape_test.go
  plugins/destination/mssql/client/write.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/mssql/main.go
  plugins/destination/mssql/queries/columns.go
  plugins/destination/mssql/queries/columns_test.go
  plugins/destination/mssql/queries/definition.go
  plugins/destination/mssql/queries/delete_stale.go
  plugins/destination/mssql/queries/delete_stale_test.go
  plugins/destination/mssql/queries/pk.go
  plugins/destination/mssql/queries/pk_test.go
  plugins/destination/mssql/queries/read.go
  plugins/destination/mssql/queries/read_test.go
  plugins/destination/mssql/queries/record.go
  plugins/destination/mssql/queries/sanitize.go
  plugins/destination/mssql/queries/table_info.go
  plugins/destination/mssql/queries/tables.go
  plugins/destination/mssql/queries/tables_test.go
  plugins/destination/mssql/queries/templates/create_table.sql.tpl
  plugins/destination/mssql/queries/templates/pk_add.sql.tpl
  plugins/destination/mssql/queries/templates/pk_drop.sql.tpl
  plugins/destination/mssql/queries/tvp.go
  plugins/destination/mssql/queries/tvp_test.go
  plugins/destination/mssql/queries/types.go
  plugins/destination/mssql/queries/values.go
Labels: automerge, ci, mssql

#10553 feat(aws): Add `aws_securityhub_hubs` and `aws_securityhub_enabled_standards` tables
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/policies/cis_v1.5.0/section_4.sql
  plugins/source/aws/policies/queries/guardduty/detector_enabled.sql
  plugins/source/aws/policies/queries/securityhub/securityhub_enabled.sql
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/securityhub/enabled_standards.go
  plugins/source/aws/resources/services/securityhub/enabled_standards_mock_test.go
  plugins/source/aws/resources/services/securityhub/findings.go
  plugins/source/aws/resources/services/securityhub/hubs.go
  plugins/source/aws/resources/services/securityhub/hubs_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_securityhub_enabled_standards.md
  website/tables/aws/aws_securityhub_findings.md
  website/tables/aws/aws_securityhub_hubs.md
Labels: aws, automerge, website

#10547 feat(aws): Add networkfirewall resources
  plugins/source/aws/client/mocks/networkfirewall.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/networkfirewall.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/networkfirewall/firewall_policies.go
  plugins/source/aws/resources/services/networkfirewall/firewall_policies_mock_test.go
  plugins/source/aws/resources/services/networkfirewall/models/networkfirewall.go
  plugins/source/aws/resources/services/networkfirewall/rule_groups.go
  plugins/source/aws/resources/services/networkfirewall/rule_groups_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_networkfirewall_firewall_policies.md
  website/tables/aws/aws_networkfirewall_rule_groups.md
Labels: aws, automerge, website

#10550 fix(aws): Use GetBucketLocation for S3 bucket region
  plugins/source/aws/client/mocks/s3manager.go
  plugins/source/aws/client/models/s3manager/s3manager.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/s3manager.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
Labels: aws, automerge

#10555 feat(clickhouse): Map support
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/testdata/create_table.sql
  plugins/destination/clickhouse/queries/testdata/create_table_cluster.sql
  plugins/destination/clickhouse/queries/testdata/create_table_engine.sql
  plugins/destination/clickhouse/queries/testdata/create_table_no_order_by.sql
  plugins/destination/clickhouse/typeconv/arrow/types/array.go
  plugins/destination/clickhouse/typeconv/arrow/types/array_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/datetime.go
  plugins/destination/clickhouse/typeconv/arrow/types/field.go
  plugins/destination/clickhouse/typeconv/arrow/types/field_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/map.go
  plugins/destination/clickhouse/typeconv/arrow/types/map_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/struct_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/map.go
  plugins/destination/clickhouse/typeconv/arrow/values/map_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/special.go
  plugins/destination/clickhouse/typeconv/arrow/values/values.go
  plugins/destination/clickhouse/typeconv/ch/types/column_type.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions_test.go
  plugins/destination/clickhouse/typeconv/ch/types/list_test.go
  plugins/destination/clickhouse/typeconv/ch/types/map.go
  plugins/destination/clickhouse/typeconv/ch/types/map_test.go
  plugins/destination/clickhouse/typeconv/ch/types/nullable.go
  plugins/destination/clickhouse/typeconv/ch/values/doc.go
  plugins/destination/clickhouse/typeconv/ch/values/list.go
  plugins/destination/clickhouse/typeconv/ch/values/map.go
  plugins/destination/clickhouse/typeconv/ch/values/map_test.go
  plugins/destination/clickhouse/typeconv/ch/values/special.go
  plugins/destination/clickhouse/typeconv/ch/values/struct_test.go
  plugins/destination/clickhouse/typeconv/ch/values/values.go
Labels: clickhouse

#10554 fix(azure): Storage Queue ACL should use storage keys and not OAuth
  plugins/source/azure/client/client.go
  plugins/source/azure/client/helpers.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/resources/services/storage/accounts_mock_test.go
  plugins/source/azure/resources/services/storage/queue_access_policy.go
  plugins/source/azure/resources/services/storage/queue_access_policy_mock_test.go
  plugins/source/azure/resources/services/storage/queues_mock_test.go
  plugins/source/azure/resources/services/storage/queues_test.go
Labels: azure, automerge

#10367 chore(website): Adopting apache arrow at cloudquery
  website/pages/blog/adopting-apache-arrow-at-cloudquery.mdx
Labels: website

#10549 feat(gitlab)!: Refactor GitLab source plugin
  plugins/source/gitlab/client/columns.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/groups/members.go
  plugins/source/gitlab/resources/services/projects/branches.go
  plugins/source/gitlab/resources/services/projects/members.go
  plugins/source/gitlab/resources/services/projects/project_branches.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_releases.go
  plugins/source/gitlab/resources/services/projects/releases.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
  website/tables/gitlab/gitlab_group_members.md
  website/tables/gitlab/gitlab_groups.md
  website/tables/gitlab/gitlab_project_branches.md
  website/tables/gitlab/gitlab_projects.md
  website/tables/gitlab/gitlab_projects_releases.md
  website/tables/gitlab/gitlab_users.md
Labels: automerge, website, gitlab

#10563 fix(digitalocean): Re-add missing resources: Load Balancers and Regions
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/docs/tables/README.md
  plugins/source/digitalocean/resources/plugin/tables.go
  plugins/source/digitalocean/resources/services/load_balancers/load_balancers.go
  plugins/source/digitalocean/resources/services/load_balancers/load_balancers_mock_test.go
  plugins/source/digitalocean/resources/services/regions/regions.go
  plugins/source/digitalocean/resources/services/regions/regions_mock_test.go
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/tables/digitalocean/digitalocean_load_balancers.md
  website/tables/digitalocean/digitalocean_regions.md
Labels: automerge, digitalocean, website

#10567 feat(digitalocean): Update DO SDK, S3 SDK and add docs
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/digitalocean/resources/services/accounts/accounts.go
  plugins/source/digitalocean/resources/services/balances/balances.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
  plugins/source/digitalocean/resources/services/cdns/cdns.go
  plugins/source/digitalocean/resources/services/certificates/certificates.go
  plugins/source/digitalocean/resources/services/databases/backups.go
  plugins/source/digitalocean/resources/services/databases/databases.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules.go
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/domains/domains.go
  plugins/source/digitalocean/resources/services/domains/records.go
  plugins/source/digitalocean/resources/services/droplets/droplets.go
  plugins/source/digitalocean/resources/services/firewalls/firewalls.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
  plugins/source/digitalocean/resources/services/images/images.go
  plugins/source/digitalocean/resources/services/keys/keys.go
  plugins/source/digitalocean/resources/services/load_balancers/load_balancers.go
  plugins/source/digitalocean/resources/services/monitoring/alert_policies.go
  plugins/source/digitalocean/resources/services/projects/projects.go
  plugins/source/digitalocean/resources/services/projects/resources.go
  plugins/source/digitalocean/resources/services/regions/regions.go
  plugins/source/digitalocean/resources/services/registries/registries.go
  plugins/source/digitalocean/resources/services/registries/repositories.go
  plugins/source/digitalocean/resources/services/sizes/sizes.go
  plugins/source/digitalocean/resources/services/snapshots/snapshots.go
  plugins/source/digitalocean/resources/services/storage/volumes.go
  plugins/source/digitalocean/resources/services/vpcs/members.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs.go
  website/tables/digitalocean/digitalocean_accounts.md
  website/tables/digitalocean/digitalocean_balances.md
  website/tables/digitalocean/digitalocean_billing_history.md
  website/tables/digitalocean/digitalocean_cdns.md
  website/tables/digitalocean/digitalocean_certificates.md
  website/tables/digitalocean/digitalocean_database_backups.md
  website/tables/digitalocean/digitalocean_database_firewall_rules.md
  website/tables/digitalocean/digitalocean_database_replicas.md
  website/tables/digitalocean/digitalocean_databases.md
  website/tables/digitalocean/digitalocean_domain_records.md
  website/tables/digitalocean/digitalocean_domains.md
  website/tables/digitalocean/digitalocean_droplets.md
  website/tables/digitalocean/digitalocean_firewalls.md
  website/tables/digitalocean/digitalocean_floating_ips.md
  website/tables/digitalocean/digitalocean_images.md
  website/tables/digitalocean/digitalocean_keys.md
  website/tables/digitalocean/digitalocean_load_balancers.md
  website/tables/digitalocean/digitalocean_monitoring_alert_policies.md
  website/tables/digitalocean/digitalocean_project_resources.md
  website/tables/digitalocean/digitalocean_projects.md
  website/tables/digitalocean/digitalocean_regions.md
  website/tables/digitalocean/digitalocean_registries.md
  website/tables/digitalocean/digitalocean_registry_repositories.md
  website/tables/digitalocean/digitalocean_sizes.md
  website/tables/digitalocean/digitalocean_snapshots.md
  website/tables/digitalocean/digitalocean_storage_volumes.md
  website/tables/digitalocean/digitalocean_vpc_members.md
  website/tables/digitalocean/digitalocean_vpcs.md
Labels: automerge, digitalocean, website

#10575 doc(website): Add Onfleet to partner plugins
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#10594 feat(aws): Add rule_ids to wafregional rule_group
  plugins/source/aws/resources/services/wafregional/rule_groups.go
  plugins/source/aws/resources/services/wafregional/rule_groups_mock_test.go
  website/tables/aws/aws_wafregional_rule_groups.md
Labels: aws, automerge, website

#10596 doc(website): Add link to XKCD plugin
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#10595 fix(website): Remove broken link to datadog logs explorer
  website/pages/how-to-guides/datadog-observability.mdx
Labels: automerge, website

#10597 fix(aws-policies): Api Gateway xray tracing enabled query
  plugins/source/aws/policies/queries/apigateway/api_gw_xray_enabled.sql
Labels: aws, automerge

#10589 feat(s3): Add support for custom S3 endpoint
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec.go
  website/pages/docs/plugins/destinations/s3/_authentication.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, priority merge, s3

#10607 fix: Add line content to error message in mixpanel export table
  plugins/source/mixpanel/internal/mixpanel/export.go
Labels: automerge, priority merge, mixpanel

#10608 fix: Remove unused line in mockassert library
  plugins/source/aws/client/mockassert/main.go
Labels: aws, automerge, priority merge

#10637 feat: Update mixpanel error message for terminated early
  plugins/source/mixpanel/internal/mixpanel/export.go
Labels: automerge, mixpanel

#10544 feat: Add AWS Config Compliance Details table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/config/config_rule_compliance_details.go
  plugins/source/aws/resources/services/config/config_rule_compliance_details_mock_test.go
  plugins/source/aws/resources/services/config/config_rules.go
  plugins/source/aws/resources/services/config/config_rules_mock_test.go
  plugins/source/aws/resources/services/config/configuration_aggregators.go
  plugins/source/aws/resources/services/config/delivery_channels.go
  plugins/source/aws/resources/services/config/remediation_configurations.go
  plugins/source/aws/resources/services/config/retention_configurations.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_config_config_rule_compliance_details.md
  website/tables/aws/aws_config_config_rules.md
  website/tables/aws/aws_config_configuration_aggregators.md
  website/tables/aws/aws_config_delivery_channels.md
  website/tables/aws/aws_config_remediation_configurations.md
  website/tables/aws/aws_config_retention_configurations.md
Labels: aws, automerge, website, priority merge

#10624 chore(website): Add jobs link
  website/components/Footer.tsx
Labels: automerge, website

#10636 fix(cli): Fix panic in no-migrate mode
  cli/cmd/sync_test.go
  cli/cmd/sync_v0.go
  cli/cmd/sync_v1.go
Labels: automerge, cli, priority merge

#10686 fix: Fix typos in CLI output text and logs
  cli/cmd/sync_v0.go
  cli/cmd/sync_v1.go
  cli/internal/plugin/manageddestination/plugin.go
  cli/internal/plugin/manageddestination/unix.go
  cli/internal/plugin/manageddestination/windows.go
Labels: automerge, cli

#10688 fix(cli): Close send after write
  cli/cmd/sync_v0.go
  cli/cmd/sync_v1.go
Labels: automerge, cli

#10695 feat(gcp): Enable Better Logging for when `enabled_services_only` fails
  plugins/source/gcp/client/client.go
Labels: automerge, gcp

#10703 fix(website): Datadog how-to guide spelling
  website/pages/how-to-guides/datadog-observability.mdx
Labels: automerge, website

#10694 feat(s3): Support `{{FORMAT}}` placeholder
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, s3

#10362 fix(azure): Improve query of CIS v1.3.0 Section 4.2.1
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/policies/queries/sql/atp_on_sql_server_disabled.sql
  plugins/source/azure/resources/services/sql/server_advanced_threat_protection_settings.go
  plugins/source/azure/resources/services/sql/server_advanced_threat_protection_settings_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
  plugins/source/azure/resources/services/sql/servers_mock_test.go
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_sql_server_advanced_threat_protection_settings.md
  website/tables/azure/azure_sql_servers.md
Labels: azure, automerge, website

#10702 fix(aws-policies): Api Gateway stage logging for websockets
  plugins/source/aws/policies/queries/apigateway/api_gw_execution_logging_enabled.sql
Labels: aws, automerge

#10701 feat(aws): Add Support for Cloudformation Templates
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/cloudformation/stack_resources.go
  plugins/source/aws/resources/services/cloudformation/stack_templates.go
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/cloudformation/stacks_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_cloudformation_stack_templates.md
  website/tables/aws/aws_cloudformation_stacks.md
Labels: aws, automerge, website

#10690 fix(aws): Handle Cloudfront Regions in different partitions
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client.go
  plugins/source/aws/client/multiplexers.go
Labels: aws, automerge

#10692 fix(aws): Fix the case where resrouce_id is null in ECS.2 of foundational policy
  plugins/source/aws/policies/queries/ecs/ecs_services_with_public_ips.sql
Labels: aws, automerge

#10776 feat: Add GitHub Enterprise support on GitHub source
  plugins/source/github/client/client.go
  plugins/source/github/client/spec.go
  website/pages/docs/plugins/sources/github/_configuration.mdx
Labels: automerge, github, website

#10704 chore(file): Upgrade to SDK v3
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
Labels: automerge, file

#10705 chore(s3): Upgrade SDK to v3
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/deletestale.go
  plugins/destination/s3/client/migrate.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/s3/main.go
Labels: automerge, s3

#10707 doc: Add more filter examples to GCP configuration
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, website

#10699 feat(gcp)!: Make Listing Enabled Services failures not block the sync
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
Labels: automerge, gcp

#10752 fix(aws): Change column type of `aws_cloudformation_stack_templates.template_body`
  plugins/source/aws/resources/services/cloudformation/stack_templates.go
  website/tables/aws/aws_cloudformation_stack_templates.md
Labels: aws, automerge, website

#10796 fix(cli): Send sync time to new sources
  cli/cmd/sync.go
  cli/cmd/sync_v2.go
Labels: automerge, cli, priority merge

#10700 feat(gcp)!: Initialization concurrency
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/spec.go
Labels: automerge, gcp

#10571 feat: Add Cloudformation Template Summaries table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/cloudformation/stacks_mock_test.go
  plugins/source/aws/resources/services/cloudformation/template_summaries.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_cloudformation_stacks.md
  website/tables/aws/aws_cloudformation_template_summaries.md
Labels: aws, automerge, website

#10803 feat(aws): Add support for EFS Access Point
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/efs/accesspoints.go
  plugins/source/aws/resources/services/efs/accesspoints_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_efs_access_points.md
Labels: aws, automerge, website

#10691 feat(aws): Add private certificate authorities
  plugins/source/aws/client/mocks/acmpca.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/acmpca.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/acmpca/certificate_authorities.go
  plugins/source/aws/resources/services/acmpca/certificate_authorities_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_acmpca_certificate_authorities.md
Labels: aws, automerge, website

#10564 feat(aws): Support Table level inputs
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/tableoptions/accessanalyzer.go
  plugins/source/aws/client/tableoptions/accessanalyzer_test.go
  plugins/source/aws/client/tableoptions/change_case.go
  plugins/source/aws/client/tableoptions/cloudtrail.go
  plugins/source/aws/client/tableoptions/cloudtrail_test.go
  plugins/source/aws/client/tableoptions/inspector2.go
  plugins/source/aws/client/tableoptions/inspector2_test.go
  plugins/source/aws/client/tableoptions/table_options.go
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/accessanalyzer/analyzers.go
  plugins/source/aws/resources/services/cloudtrail/events.go
  plugins/source/aws/resources/services/inspector2/findings.go
Labels: aws, automerge

#10804 doc(website): Add Docs for AWS `table_options`
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, website, priority merge

#10820 feat(test destination): Upgrade to SDK v3
  plugins/destination/test/client/client.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/destination/test/main.go
Labels: automerge

#10809 feat(mssql): Migrate to `github.com/cloudquery/plugin-sdk/v3`
  plugins/destination/mssql/client/bulk_insert.go
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/client_test.go
  plugins/destination/mssql/client/columns.go
  plugins/destination/mssql/client/delete_stale.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mssql/client/read.go
  plugins/destination/mssql/client/schema.go
  plugins/destination/mssql/client/tables.go
  plugins/destination/mssql/client/tvp.go
  plugins/destination/mssql/client/write.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/mssql/main.go
  plugins/destination/mssql/queries/columns.go
  plugins/destination/mssql/queries/columns_test.go
  plugins/destination/mssql/queries/definition.go
  plugins/destination/mssql/queries/definition_test.go
  plugins/destination/mssql/queries/delete_stale.go
  plugins/destination/mssql/queries/delete_stale_test.go
  plugins/destination/mssql/queries/pk.go
  plugins/destination/mssql/queries/read.go
  plugins/destination/mssql/queries/read_test.go
  plugins/destination/mssql/queries/record.go
  plugins/destination/mssql/queries/sanitize.go
  plugins/destination/mssql/queries/table_info.go
  plugins/destination/mssql/queries/tables.go
  plugins/destination/mssql/queries/tables_test.go
  plugins/destination/mssql/queries/template.go
  plugins/destination/mssql/queries/templates/col_add.sql.tpl
  plugins/destination/mssql/queries/templates/col_def.sql.tpl
  plugins/destination/mssql/queries/templates/col_names.sql.tpl
  plugins/destination/mssql/queries/templates/create_table.sql.tpl
  plugins/destination/mssql/queries/templates/delete_stale.sql.tpl
  plugins/destination/mssql/queries/templates/drop_table.sql.tpl
  plugins/destination/mssql/queries/templates/read.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_add_proc.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_add_type.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_assign.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_cmp.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_col_names.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_drop_proc.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_drop_type.sql.tpl
  plugins/destination/mssql/queries/templates/tvp_null.sql.tpl
  plugins/destination/mssql/queries/tvp.go
  plugins/destination/mssql/queries/tvp_test.go
  plugins/destination/mssql/queries/types.go
  plugins/destination/mssql/queries/values.go
Labels: automerge, mssql

#10821 feat(gremlin): Upgrade to SDK v3
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/client/deletestale.go
  plugins/destination/gremlin/client/migrate.go
  plugins/destination/gremlin/client/read.go
  plugins/destination/gremlin/client/transformer.go
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/gremlin/main.go
Labels: automerge, gremlin

#10807 feat(clickhouse): Migrate to `github.com/cloudquery/plugin-sdk/v3`
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/main.go
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/columns_test.go
  plugins/destination/clickhouse/queries/insert.go
  plugins/destination/clickhouse/queries/read.go
  plugins/destination/clickhouse/queries/read_test.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/field.go
  plugins/destination/clickhouse/typeconv/arrow/types/field_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/map_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/struct_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/list_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/primitive_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/struct_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/values.go
  plugins/destination/clickhouse/typeconv/arrow/values/values_test.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions_test.go
  plugins/destination/clickhouse/typeconv/ch/types/extension.go
  plugins/destination/clickhouse/typeconv/ch/types/extension_test.go
  plugins/destination/clickhouse/typeconv/ch/types/list_test.go
  plugins/destination/clickhouse/typeconv/ch/types/map_test.go
  plugins/destination/clickhouse/typeconv/ch/types/struct_test.go
  plugins/destination/clickhouse/typeconv/ch/values/batch.go
  plugins/destination/clickhouse/typeconv/ch/values/extension.go
  plugins/destination/clickhouse/typeconv/ch/values/extension_test.go
  plugins/destination/clickhouse/typeconv/ch/values/list_test.go
  plugins/destination/clickhouse/typeconv/ch/values/map_test.go
  plugins/destination/clickhouse/typeconv/schema.go
  plugins/destination/clickhouse/util/changes.go
Labels: automerge, clickhouse

#10824 fix(gremlin): Upgrade gremlingo to official 3.6.3
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
Labels: automerge, gremlin

#10816 chore(datadog): Move fetch functions, add back codegen for services
  plugins/source/datadog/CONTRIBUTING.md
  plugins/source/datadog/Makefile
  plugins/source/datadog/codegen/main.go
  plugins/source/datadog/codegen/services/clients.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/codegen/services/templates/service.go.tpl
  plugins/source/datadog/codegen/services/templates/services.go.tpl
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_fetch.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/dashboards/dashboards_fetch.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/downtimes/downtimes_fetch.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/hosts/hosts_fetch.go
  plugins/source/datadog/resources/services/incidents/incident_attachments.go
  plugins/source/datadog/resources/services/incidents/incident_attachments_fetch.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/incidents/incidents_fetch.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes_fetch.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/monitors/monitors_fetch.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/notebooks/notebooks_fetch.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/permissions_fetch.go
  plugins/source/datadog/resources/services/roles/role_permissions.go
  plugins/source/datadog/resources/services/roles/role_permissions_fetch.go
  plugins/source/datadog/resources/services/roles/role_users.go
  plugins/source/datadog/resources/services/roles/role_users_fetch.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/roles/roles_fetch.go
  plugins/source/datadog/resources/services/synthetics/global_variables.go
  plugins/source/datadog/resources/services/synthetics/global_variables_fetch.go
  plugins/source/datadog/resources/services/synthetics/syntethics_fetch.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/user_permissions_fetch.go
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/resources/services/users/users_fetch.go
Labels: automerge, datadog

#10822 feat(snowflake): Migrate to SDK V3 native arrow
  plugins/destination/snowflake/CHANGELOG.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/metrics.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
Labels: snowflake

#10830 feat(do): Add SYD1 to default regions of Spaces
  plugins/source/digitalocean/client/client.go
Labels: automerge, digitalocean

#10818 feat(sqlite): Migrate to `github.com/cloudquery/plugin-sdk/v3`
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/metrics.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/sqlite/main.go
Labels: automerge, sqlite

#10827 fix(aws-s3): Always use models.WrappedBucket to avoid panic
  plugins/source/aws/resources/services/s3/buckets.go
Labels: aws, automerge

#10826 fix(aws): Handle YAML cloudformation template bodies
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/cloudformation/stack_templates.go
  plugins/source/aws/resources/services/cloudformation/stacks_mock_test.go
  website/tables/aws/aws_cloudformation_stack_templates.md
Labels: aws, automerge, website

#10841 fix(cli): Regression support 100MB msgs
  cli/internal/plugin/manageddestination/plugin.go
  cli/internal/plugin/managedsource/plugin.go
Labels: automerge, cli, priority merge

#10808 feat(meilisearch): Migrate to `github.com/cloudquery/plugin-sdk/v3`
  plugins/destination/meilisearch/client/client.go
  plugins/destination/meilisearch/client/client_test.go
  plugins/destination/meilisearch/client/hash.go
  plugins/destination/meilisearch/client/index.go
  plugins/destination/meilisearch/client/migrate.go
  plugins/destination/meilisearch/client/read.go
  plugins/destination/meilisearch/client/transform.go
  plugins/destination/meilisearch/client/write.go
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/meilisearch/main.go
Labels: automerge, meilisearch

#10846 feat(gremlin): Add `complete_types` option
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/client/transformer.go
  plugins/destination/gremlin/client/write.go
  website/pages/docs/plugins/destinations/gremlin/overview.mdx
Labels: automerge, website, gremlin

#10832 feat(website): Add AWS skip tables back in
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: website

#10855 fix: Upgrade to plugin-sdk v3.5.2 (Fixes delete-stale for incremental tables)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, snowflake

#10856 fix: Upgrade to plugin-sdk v3.5.2 (Fixes delete-stale for incremental tables)
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
Labels: automerge, mssql

#10867 feat(mysql): Migrate to SDK V3 native arrow
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/deletestale.go
  plugins/destination/mysql/client/migrate.go
  plugins/destination/mysql/client/read.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/transformer.go
  plugins/destination/mysql/client/types.go
  plugins/destination/mysql/client/write.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/mysql/main.go
Labels: automerge, mysql

#10880 feat(okta): Add rate limiter config
  plugins/source/okta/client/client.go
  plugins/source/okta/client/spec.go
  plugins/source/okta/client/transformers.go
  website/pages/docs/plugins/sources/okta/overview.mdx
Labels: automerge, okta, website

#10886 chore(okta): Move fetch to table definition
  plugins/source/okta/client/transformers.go
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/applications/group_assignments.go
  plugins/source/okta/resources/services/applications/users.go
  plugins/source/okta/resources/services/groups/group_users.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/groups/users.go
  plugins/source/okta/resources/services/users/users.go
  plugins/source/okta/resources/services/users/users_fetch.go
  website/tables/okta/okta_application_users.md
  website/tables/okta/okta_applications.md
  website/tables/okta/okta_groups.md
  website/tables/okta/okta_users.md
Labels: automerge, okta, website

#10819 feat(mongodb): Upgrade to SDK V3 with native arrow support
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
Labels: automerge, mongodb

#10794 feat(aws): Only instantiate a single SDK per Account
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client.go
  plugins/source/aws/client/multiplexers.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/resources/services/iam/credential_reports_mock_test.go
Labels: aws, automerge, priority merge

#10889 feat(okta): Enable SDK Debug Logs
  plugins/source/okta/client/client.go
  plugins/source/okta/client/spec.go
  website/pages/docs/plugins/sources/okta/overview.mdx
Labels: automerge, okta, website

#10885 chore(gremlin): Update SDK to v3.6.1 and Arrow
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
Labels: automerge, gremlin

#10881 fix(aws): Support syncing AWS SSO Account Assignments for non management accounts
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  website/tables/aws/aws_ssoadmin_permission_sets.md
Labels: aws, automerge, website

#10899 chore(website): Add Cloudflare permissions documentation for api tokens
  website/pages/docs/plugins/sources/cloudflare/_authentication.mdx
Labels: automerge, website

#10895 feat(firehose): Update to `github.com/cloudquery/plugin-sdk/v3`
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/client_test.go
  plugins/destination/firehose/client/delete_stale.go
  plugins/destination/firehose/client/deletestale.go
  plugins/destination/firehose/client/metrics.go
  plugins/destination/firehose/client/migrate.go
  plugins/destination/firehose/client/read.go
  plugins/destination/firehose/client/write.go
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/firehose/main.go
  plugins/destination/firehose/resources/plugin/plugin.go
Labels: automerge, firehose

#10902 feat(kafka): Update to github.com/cloudquery/plugin-sdk/v3
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/deletestale.go
  plugins/destination/kafka/client/metrics.go
  plugins/destination/kafka/client/migrate.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/kafka/main.go
Labels: automerge, kafka

#10887 feat(okta): Deprecation notice for `OKTA_API_TOKEN` env variable support
  plugins/source/okta/client/client.go
  plugins/source/okta/client/spec.go
  website/pages/docs/plugins/sources/okta/_configuration.mdx
  website/pages/docs/plugins/sources/okta/overview.mdx
Labels: automerge, okta, website

#10874 feat(duckdb)!: Migrate to SDK V3
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/client/deletestale.go
  plugins/destination/duckdb/client/metrics.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/duckdb/main.go
Labels: automerge, duckdb

#10457 feat!: Migrate BigQuery to Plugin SDK v3 for native Arrow support
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/metrics.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/types_test.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
Labels: automerge, bigquery

#10871 feat(diff): Properly handle change from CQTypes to Apache Arrow ones
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_10831_diff.txt
  scripts/table_diff/changes/types.go
  scripts/table_diff/go.mod
  scripts/table_diff/go.sum
Labels: automerge

#10907 fix: Use NUMERIC for uint64
  plugins/destination/bigquery/client/types.go
Labels: automerge, bigquery

#10906 doc(bigquery): Document supported types
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/destinations/bigquery/_meta.json
  website/pages/docs/plugins/destinations/bigquery/types.mdx
  website/pages/docs/reference/types.md
Labels: automerge, website

#10912 doc: Add boolean to BigQuery types table
  website/pages/docs/plugins/destinations/bigquery/types.mdx
Labels: automerge, website

#10913 doc(gremlin): Document supported types
  website/pages/docs/plugins/destinations/gremlin/_meta.json
  website/pages/docs/plugins/destinations/gremlin/types.md
Labels: automerge, website

#10919 feat(hubspot): Extract associations
  plugins/source/hubspot/client/spec.go
  plugins/source/hubspot/resources/services/crm/companies.go
  plugins/source/hubspot/resources/services/crm/companies_fetch.go
  plugins/source/hubspot/resources/services/crm/contacts.go
  plugins/source/hubspot/resources/services/crm/contacts_fetch.go
  plugins/source/hubspot/resources/services/crm/deals.go
  plugins/source/hubspot/resources/services/crm/deals_fetch.go
  plugins/source/hubspot/resources/services/crm/line_items.go
  plugins/source/hubspot/resources/services/crm/line_items_fetch.go
  plugins/source/hubspot/resources/services/crm/products.go
  plugins/source/hubspot/resources/services/crm/products_fetch.go
  plugins/source/hubspot/resources/services/crm/quotes.go
  plugins/source/hubspot/resources/services/crm/quotes_fetch.go
  plugins/source/hubspot/resources/services/crm/tickets.go
  plugins/source/hubspot/resources/services/crm/tickets_fetch.go
  website/pages/docs/plugins/sources/hubspot/_configuration.mdx
  website/pages/docs/plugins/sources/hubspot/overview.mdx
  website/tables/hubspot/hubspot_crm_companies.md
  website/tables/hubspot/hubspot_crm_contacts.md
  website/tables/hubspot/hubspot_crm_deals.md
  website/tables/hubspot/hubspot_crm_line_items.md
  website/tables/hubspot/hubspot_crm_products.md
  website/tables/hubspot/hubspot_crm_quotes.md
  website/tables/hubspot/hubspot_crm_tickets.md
Labels: automerge, website, hubspot

#10920 fix(file): Update SDK, filetypes to 3.0.1, arrow to latest cqmain
  plugins/destination/file/client/client_test.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
Labels: automerge, file

#10921 fix(s3): Update SDK, filetypes to 3.0.1, arrow to latest cqmain
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, s3

#10923 feat(azblob): Upgrade to v3
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/deletestale.go
  plugins/destination/azblob/client/migrate.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/azblob/main.go
Labels: automerge, azblob

#10931 feat(kafka): Upgrade to v3
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
Labels: automerge, kafka

#10936 chore(deps): Update duckdb to sdk v3.6.3
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, duckdb

#10934 feat(cli): Migrate support SDK V3 arrow native
  cli/cmd/migrate.go
  cli/cmd/migrate_v2.go
Labels: cli

#10941 chore(mongodb): Update to SDK v3.6.3
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#10938 feat(mssql): Update to SDK V363
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
Labels: mssql

#10943 feat(mysql): Update to SDK v3.6.3
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
Labels: automerge, mysql

#10946 feat(snowflake): Update to SDK v3.6.3
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/list.go
  plugins/destination/snowflake/client/list_test.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, snowflake

#10965 chore(diff): Handle list types
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_10797_diff.txt
  scripts/table_diff/changes/types.go
Labels: automerge, priority merge

#10967 feat!: Migrate Elasticsearch to Plugin SDK v3 for native Arrow support
  plugins/destination/elasticsearch/client/client.go
  plugins/destination/elasticsearch/client/client_test.go
  plugins/destination/elasticsearch/client/deletestale.go
  plugins/destination/elasticsearch/client/metrics.go
  plugins/destination/elasticsearch/client/migrate.go
  plugins/destination/elasticsearch/client/read.go
  plugins/destination/elasticsearch/client/transformer.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
  plugins/destination/elasticsearch/main.go
  website/pages/docs/plugins/destinations/elasticsearch/_meta.json
  website/pages/docs/plugins/destinations/elasticsearch/types.mdx
Labels: automerge, website, elasticsearch

#10971 doc: Fix broken link to Google admin console
  website/pages/blog/aws-sso-tutorial-with-google-workspace-as-an-idp.mdx
Labels: automerge, website

#10945 feat(neo4j): Update to SDK v3.6.3
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
Labels: automerge, neo4j

#10972 fix(aws): Remove Hardcoded fix for AWS issue
  plugins/source/aws/resources/forks/apigatewayv2/deserializers.go
  plugins/source/aws/resources/forks/doc.go
  plugins/source/aws/resources/services/apigatewayv2/domain_names.go
Labels: aws, automerge

#10914 doc(neo4j): Document supported types
  website/pages/docs/plugins/destinations/neo4j/_meta.json
  website/pages/docs/plugins/destinations/neo4j/types.md
Labels: automerge, website

#10802 fix(aws)!: Change names of columns which had `_ar_ns` instead of `_arns`
  plugins/source/aws/resources/services/apigateway/rest_api_authorizers.go
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/cognito/identity_pools.go
  website/tables/aws/aws_apigateway_rest_api_authorizers.md
  website/tables/aws/aws_autoscaling_groups.md
  website/tables/aws/aws_cloudformation_stacks.md
  website/tables/aws/aws_cognito_identity_pools.md
Labels: aws, automerge, website

#10991 feat(gitlab)!: Migrate to Arrow native SDK
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/columns.go
  plugins/source/gitlab/client/resolvers.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/client/transformers.go
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/main.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/billable_members.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/groups/groups_mock_test.go
  plugins/source/gitlab/resources/services/groups/members.go
  plugins/source/gitlab/resources/services/projects/branches.go
  plugins/source/gitlab/resources/services/projects/members.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  plugins/source/gitlab/resources/services/projects/releases.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/settings/settings_mock_test.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_mock_test.go
  website/tables/gitlab/gitlab_group_billable_members.md
  website/tables/gitlab/gitlab_group_members.md
  website/tables/gitlab/gitlab_groups.md
  website/tables/gitlab/gitlab_project_branches.md
  website/tables/gitlab/gitlab_project_members.md
  website/tables/gitlab/gitlab_projects.md
  website/tables/gitlab/gitlab_projects_releases.md
  website/tables/gitlab/gitlab_settings.md
  website/tables/gitlab/gitlab_users.md
Labels: automerge, website, gitlab

#10990 feat(homebrew)!: Migrate to Arrow native SDK
  plugins/source/homebrew/client/client.go
  plugins/source/homebrew/client/testing.go
  plugins/source/homebrew/go.mod
  plugins/source/homebrew/go.sum
  plugins/source/homebrew/main.go
  plugins/source/homebrew/resources/plugin/plugin.go
  plugins/source/homebrew/resources/services/analytics/build_errors.go
  plugins/source/homebrew/resources/services/analytics/build_errors_test.go
  plugins/source/homebrew/resources/services/analytics/cask_installs.go
  plugins/source/homebrew/resources/services/analytics/cask_installs_test.go
  plugins/source/homebrew/resources/services/analytics/installs.go
  plugins/source/homebrew/resources/services/analytics/installs_test.go
  website/tables/homebrew/homebrew_analytics_build_errors_30d.md
  website/tables/homebrew/homebrew_analytics_build_errors_365d.md
  website/tables/homebrew/homebrew_analytics_build_errors_90d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_30d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_365d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_90d.md
  website/tables/homebrew/homebrew_analytics_installs_30d.md
  website/tables/homebrew/homebrew_analytics_installs_365d.md
  website/tables/homebrew/homebrew_analytics_installs_90d.md
Labels: automerge, website, priority merge, homebrew

#10982 feat(launchdarkly)!: Migrate to Arrow native SDK
  plugins/source/launchdarkly/client/client.go
  plugins/source/launchdarkly/client/resolvers.go
  plugins/source/launchdarkly/client/testing.go
  plugins/source/launchdarkly/client/transformers.go
  plugins/source/launchdarkly/go.mod
  plugins/source/launchdarkly/go.sum
  plugins/source/launchdarkly/main.go
  plugins/source/launchdarkly/resources/plugin/plugin.go
  plugins/source/launchdarkly/resources/services/auditlog/auditlog_entries.go
  plugins/source/launchdarkly/resources/services/auditlog/auditlog_entries_test.go
  plugins/source/launchdarkly/resources/services/projects/project_environments.go
  plugins/source/launchdarkly/resources/services/projects/project_flag_defaults.go
  plugins/source/launchdarkly/resources/services/projects/project_flags.go
  plugins/source/launchdarkly/resources/services/projects/project_metrics.go
  plugins/source/launchdarkly/resources/services/projects/projects.go
  plugins/source/launchdarkly/resources/services/projects/projects_test.go
  website/tables/launchdarkly/launchdarkly_auditlog_entries.md
  website/tables/launchdarkly/launchdarkly_project_environments.md
  website/tables/launchdarkly/launchdarkly_project_flag_defaults.md
  website/tables/launchdarkly/launchdarkly_project_flags.md
  website/tables/launchdarkly/launchdarkly_project_metrics.md
  website/tables/launchdarkly/launchdarkly_projects.md
Labels: automerge, website, launchdarkly

#10984 feat(shopify)!: Migrate to Arrow native SDK
  plugins/source/shopify/client/client.go
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/client/transformers.go
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/main.go
  plugins/source/shopify/resources/plugin/plugin.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts_fetch.go
  plugins/source/shopify/resources/services/customer/customers.go
  plugins/source/shopify/resources/services/customer/customers_fetch.go
  plugins/source/shopify/resources/services/customer/customers_mock_test.go
  plugins/source/shopify/resources/services/order/orders.go
  plugins/source/shopify/resources/services/order/orders_fetch.go
  plugins/source/shopify/resources/services/order/orders_mock_test.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes_fetch.go
  plugins/source/shopify/resources/services/price_rule/price_rules.go
  plugins/source/shopify/resources/services/price_rule/price_rules_fetch.go
  plugins/source/shopify/resources/services/product/product_images.go
  plugins/source/shopify/resources/services/product/product_images_fetch.go
  plugins/source/shopify/resources/services/product/product_variants.go
  plugins/source/shopify/resources/services/product/product_variants_fetch.go
  plugins/source/shopify/resources/services/product/products.go
  plugins/source/shopify/resources/services/product/products_fetch.go
  plugins/source/shopify/resources/services/product/products_mock_test.go
  website/tables/shopify/shopify_abandoned_checkouts.md
  website/tables/shopify/shopify_customers.md
  website/tables/shopify/shopify_orders.md
  website/tables/shopify/shopify_price_rule_discount_codes.md
  website/tables/shopify/shopify_price_rules.md
  website/tables/shopify/shopify_product_images.md
  website/tables/shopify/shopify_product_variants.md
  website/tables/shopify/shopify_products.md
Labels: automerge, website, shopify

#10996 feat(vercel)!: Migrate to Arrow native SDK
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/multiplexer.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/main.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
  website/tables/vercel/vercel_deployment_checks.md
  website/tables/vercel/vercel_deployments.md
  website/tables/vercel/vercel_domain_records.md
  website/tables/vercel/vercel_domains.md
  website/tables/vercel/vercel_project_envs.md
  website/tables/vercel/vercel_projects.md
  website/tables/vercel/vercel_team_members.md
  website/tables/vercel/vercel_teams.md
Labels: automerge, website, vercel

#10997 chore(gcp): Update CHANGELOG.md
  plugins/source/gcp/CHANGELOG.md
Labels: automerge, gcp

#10995 feat(terraform)!: Migrate to Arrow native SDK
  plugins/source/terraform/client/client.go
  plugins/source/terraform/client/multiplexers.go
  plugins/source/terraform/client/testing.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/main.go
  plugins/source/terraform/resources/plugin/plugin.go
  plugins/source/terraform/resources/services/tf_resource_instances.go
  plugins/source/terraform/resources/services/tf_resources.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/resources/services/tfdata_test.go
  website/tables/terraform/tf_data.md
  website/tables/terraform/tf_resource_instances.md
  website/tables/terraform/tf_resources.md
Labels: automerge, terraform, website

#10998 feat(scaffold)!: Migrate to Arrow native SDK
  scaffold/cmd/templates/source/client/client.go.tpl
  scaffold/cmd/templates/source/go.mod.tpl
  scaffold/cmd/templates/source/main.go.tpl
  scaffold/cmd/templates/source/plugin/plugin.go.tpl
  scaffold/cmd/templates/source/resources/table.go.tpl
Labels: automerge

#10981 feat(gandi)!: Migrate to Arrow native SDK
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/resolvers.go
  plugins/source/gandi/client/testing.go
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gandi/main.go
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/certificates/certificate_packages.go
  plugins/source/gandi/resources/services/certificates/certificate_packages_fetch.go
  plugins/source/gandi/resources/services/certificates/certificate_packages_mock_test.go
  plugins/source/gandi/resources/services/certificates/certificates.go
  plugins/source/gandi/resources/services/certificates/certificates_fetch.go
  plugins/source/gandi/resources/services/certificates/certificates_mock_test.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys_fetch.go
  plugins/source/gandi/resources/services/domains/domain_glue_records.go
  plugins/source/gandi/resources/services/domains/domain_glue_records_fetch.go
  plugins/source/gandi/resources/services/domains/domain_livedns.go
  plugins/source/gandi/resources/services/domains/domain_livedns_fetch.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections_fetch.go
  plugins/source/gandi/resources/services/domains/domains.go
  plugins/source/gandi/resources/services/domains/domains_fetch.go
  plugins/source/gandi/resources/services/domains/domains_mock_test.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domains.go
  plugins/source/gandi/resources/services/livedns/livedns_domains_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domains_mock_test.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances_mock_test.go
  website/tables/gandi/gandi_certificate_packages.md
  website/tables/gandi/gandi_certificates.md
  website/tables/gandi/gandi_domain_dnssec_keys.md
  website/tables/gandi/gandi_domain_glue_records.md
  website/tables/gandi/gandi_domain_livedns.md
  website/tables/gandi/gandi_domain_web_redirections.md
  website/tables/gandi/gandi_domains.md
  website/tables/gandi/gandi_livedns_domain_snapshots.md
  website/tables/gandi/gandi_livedns_domains.md
  website/tables/gandi/gandi_simplehosting_instance_vhosts.md
  website/tables/gandi/gandi_simplehosting_instances.md
Labels: automerge, website, gandi

#10983 feat(okta)!: Migrate to Arrow native SDK
  plugins/source/okta/client/client.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/client/transformers.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/main.go
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/applications/group_assignments.go
  plugins/source/okta/resources/services/applications/users.go
  plugins/source/okta/resources/services/fakes/group.go
  plugins/source/okta/resources/services/fakes/user.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/users.go
  plugins/source/okta/resources/services/users/users.go
  website/tables/okta/okta_application_group_assignments.md
  website/tables/okta/okta_application_users.md
  website/tables/okta/okta_applications.md
  website/tables/okta/okta_group_users.md
  website/tables/okta/okta_groups.md
  website/tables/okta/okta_users.md
Labels: automerge, okta, website

#10994 feat(test)!: Migrate to Arrow native SDK
  plugins/source/test/client/client.go
  plugins/source/test/docs/tables/test_some_table.md
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/main.go
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/services/test.go
  plugins/source/test/resources/services/testdata.go
Labels: automerge

#10976 feat(datadog)!: Upgrade to SDK V3 Arrow native
  plugins/source/datadog/CONTRIBUTING.md
  plugins/source/datadog/client/client.go
  plugins/source/datadog/client/multiplexers.go
  plugins/source/datadog/client/resolvers.go
  plugins/source/datadog/client/testing.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/main.go
  plugins/source/datadog/resources/plugin/plugin.go
  plugins/source/datadog/resources/plugin/tables.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_mock_test.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/dashboards/dashboards_mock_test.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/downtimes/downtimes_mock_test.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/hosts/hosts_mock_test.go
  plugins/source/datadog/resources/services/incidents/incident_attachments.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/incidents/incidents_mock_test.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/monitors/monitors_mock_test.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/notebooks/notebooks_mock_test.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/permissions_mock_test.go
  plugins/source/datadog/resources/services/roles/role_permissions.go
  plugins/source/datadog/resources/services/roles/role_users.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/roles/roles_mock_test.go
  plugins/source/datadog/resources/services/synthetics/global_variables.go
  plugins/source/datadog/resources/services/synthetics/global_variables_mock_test.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/synthetics/synthetics_mock_test.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/resources/services/users/users_mock_test.go
  website/tables/datadog/datadog_dashboard_lists.md
  website/tables/datadog/datadog_dashboards.md
  website/tables/datadog/datadog_downtimes.md
  website/tables/datadog/datadog_global_variables.md
  website/tables/datadog/datadog_hosts.md
  website/tables/datadog/datadog_incident_attachments.md
  website/tables/datadog/datadog_incidents.md
  website/tables/datadog/datadog_monitor_downtimes.md
  website/tables/datadog/datadog_monitors.md
  website/tables/datadog/datadog_notebooks.md
  website/tables/datadog/datadog_permissions.md
  website/tables/datadog/datadog_role_permissions.md
  website/tables/datadog/datadog_role_users.md
  website/tables/datadog/datadog_roles.md
  website/tables/datadog/datadog_synthetics.md
  website/tables/datadog/datadog_user_permissions.md
  website/tables/datadog/datadog_users.md
Labels: automerge, website, datadog

#10969 feat(tailscale)!: Migrate to arrow native SDK
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/resolvers.go
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/client/transformers.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
  plugins/source/tailscale/resources/plugin/tables.go
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_mock_test.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/dns/nameservers.go
  plugins/source/tailscale/resources/services/dns/nameservers_mock_test.go
  plugins/source/tailscale/resources/services/dns/preferences.go
  plugins/source/tailscale/resources/services/dns/preferences_mock_test.go
  plugins/source/tailscale/resources/services/dns/searchpaths.go
  plugins/source/tailscale/resources/services/dns/searchpaths_mock_test.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_mock_test.go
  website/tables/tailscale/tailscale_acls.md
  website/tables/tailscale/tailscale_devices.md
  website/tables/tailscale/tailscale_dns_nameservers.md
  website/tables/tailscale/tailscale_dns_preferences.md
  website/tables/tailscale/tailscale_dns_searchpaths.md
  website/tables/tailscale/tailscale_keys.md
Labels: automerge, website, tailscale

#10831 feat(hackernews)!: Migrate to SDKv3
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
  website/tables/hackernews/hackernews_items.md
Labels: automerge, website, hackernews

#11002 feat(slack)!: Migrate to Arrow native SDK
  plugins/source/slack/client/client.go
  plugins/source/slack/client/multiplexers.go
  plugins/source/slack/client/resolvers.go
  plugins/source/slack/client/testing.go
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/main.go
  plugins/source/slack/resources/plugin/plugin.go
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_histories.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_histories_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_members.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_replies.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_mock_test.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_mock_test.go
  plugins/source/slack/resources/services/files/files.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/files/files_mock_test.go
  plugins/source/slack/resources/services/teams/teams.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/teams/teams_mock_test.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/user_presences_mock_test.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
  plugins/source/slack/resources/services/users/users_mock_test.go
  website/tables/slack/slack_conversation_bookmarks.md
  website/tables/slack/slack_conversation_histories.md
  website/tables/slack/slack_conversation_members.md
  website/tables/slack/slack_conversation_replies.md
  website/tables/slack/slack_conversations.md
  website/tables/slack/slack_files.md
  website/tables/slack/slack_teams.md
  website/tables/slack/slack_user_presences.md
  website/tables/slack/slack_users.md
Labels: automerge, website, slack

#11021 feat(googleads)!: Migrate to Apache Arrow type system
  plugins/source/googleads/client/client.go
  plugins/source/googleads/client/columns.go
  plugins/source/googleads/client/fetch.go
  plugins/source/googleads/client/multiplex.go
  plugins/source/googleads/client/resolvers.go
  plugins/source/googleads/client/testing.go
  plugins/source/googleads/client/transformers.go
  plugins/source/googleads/gaql/query.go
  plugins/source/googleads/gaql/query_test.go
  plugins/source/googleads/go.mod
  plugins/source/googleads/go.sum
  plugins/source/googleads/main.go
  plugins/source/googleads/resources/ads/group_ad_labels.go
  plugins/source/googleads/resources/ads/group_ad_labels_test.go
  plugins/source/googleads/resources/ads/group_ads.go
  plugins/source/googleads/resources/ads/group_ads_test.go
  plugins/source/googleads/resources/ads/group_criteria.go
  plugins/source/googleads/resources/ads/group_criteria_test.go
  plugins/source/googleads/resources/ads/group_criterion_labels.go
  plugins/source/googleads/resources/ads/group_criterion_labels_test.go
  plugins/source/googleads/resources/ads/group_labels.go
  plugins/source/googleads/resources/ads/group_labels_test.go
  plugins/source/googleads/resources/ads/groups.go
  plugins/source/googleads/resources/ads/groups_test.go
  plugins/source/googleads/resources/campaigns/campaign_criteria.go
  plugins/source/googleads/resources/campaigns/campaign_criteria_test.go
  plugins/source/googleads/resources/campaigns/campaign_labels.go
  plugins/source/googleads/resources/campaigns/campaign_labels_test.go
  plugins/source/googleads/resources/campaigns/campaigns.go
  plugins/source/googleads/resources/campaigns/campaigns_test.go
  plugins/source/googleads/resources/customers/customer_labels.go
  plugins/source/googleads/resources/customers/customer_labels_test.go
  plugins/source/googleads/resources/customers/customers.go
  plugins/source/googleads/resources/customers/customers_test.go
  plugins/source/googleads/resources/plugin/plugin.go
  website/tables/googleads/googleads_ad_group_ad_labels.md
  website/tables/googleads/googleads_ad_group_ads.md
  website/tables/googleads/googleads_ad_group_criteria.md
  website/tables/googleads/googleads_ad_group_criterion_labels.md
  website/tables/googleads/googleads_ad_group_labels.md
  website/tables/googleads/googleads_ad_groups.md
  website/tables/googleads/googleads_campaign_criteria.md
  website/tables/googleads/googleads_campaign_labels.md
  website/tables/googleads/googleads_campaigns.md
  website/tables/googleads/googleads_customer_labels.md
  website/tables/googleads/googleads_customers.md
Labels: automerge, website, googleads

#11018 feat(fastly)!: Migrate to Arrow native SDK
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/multiplexers.go
  plugins/source/fastly/client/resolvers.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
  plugins/source/fastly/main.go
  plugins/source/fastly/resources/plugin/plugin.go
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/account/account_events.go
  plugins/source/fastly/resources/services/account/account_events_fetch.go
  plugins/source/fastly/resources/services/account/account_events_mock_test.go
  plugins/source/fastly/resources/services/account/account_users.go
  plugins/source/fastly/resources/services/account/account_users_fetch.go
  plugins/source/fastly/resources/services/account/account_users_mock_test.go
  plugins/source/fastly/resources/services/auth/auth_tokens.go
  plugins/source/fastly/resources/services/auth/auth_tokens_fetch.go
  plugins/source/fastly/resources/services/auth/auth_tokens_mock_test.go
  plugins/source/fastly/resources/services/services/service_backends.go
  plugins/source/fastly/resources/services/services/service_backends_fetch.go
  plugins/source/fastly/resources/services/services/service_backends_mock_test.go
  plugins/source/fastly/resources/services/services/service_domains.go
  plugins/source/fastly/resources/services/services/service_domains_fetch.go
  plugins/source/fastly/resources/services/services/service_domains_mock_test.go
  plugins/source/fastly/resources/services/services/service_health_checks.go
  plugins/source/fastly/resources/services/services/service_health_checks_fetch.go
  plugins/source/fastly/resources/services/services/service_health_checks_mock_test.go
  plugins/source/fastly/resources/services/services/service_versions.go
  plugins/source/fastly/resources/services/services/service_versions_fetch.go
  plugins/source/fastly/resources/services/services/service_versions_mock_test.go
  plugins/source/fastly/resources/services/services/services.go
  plugins/source/fastly/resources/services/services/services_fetch.go
  plugins/source/fastly/resources/services/services/services_mock_test.go
  plugins/source/fastly/resources/services/stats/stats_regions.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch_test.go
  plugins/source/fastly/resources/services/stats/stats_services.go
  plugins/source/fastly/resources/services/stats/stats_services_fetch.go
  website/tables/fastly/fastly_account_events.md
  website/tables/fastly/fastly_account_users.md
  website/tables/fastly/fastly_auth_tokens.md
  website/tables/fastly/fastly_service_backends.md
  website/tables/fastly/fastly_service_domains.md
  website/tables/fastly/fastly_service_health_checks.md
  website/tables/fastly/fastly_service_versions.md
  website/tables/fastly/fastly_services.md
  website/tables/fastly/fastly_stats_regions.md
  website/tables/fastly/fastly_stats_services.md
Labels: automerge, website, fastly

#11022 chore(shopify): Update SDK to 3.6.5, remove unnecessary transformer
  plugins/source/shopify/client/transformers.go
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts.go
  plugins/source/shopify/resources/services/customer/customers.go
  plugins/source/shopify/resources/services/order/orders.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes.go
  plugins/source/shopify/resources/services/price_rule/price_rules.go
  plugins/source/shopify/resources/services/product/product_images.go
  plugins/source/shopify/resources/services/product/product_variants.go
  plugins/source/shopify/resources/services/product/products.go
Labels: automerge, shopify

#11020 feat(snyk)!: Migrate to Apache Arrow type system
  plugins/source/snyk/client/client.go
  plugins/source/snyk/client/columns.go
  plugins/source/snyk/client/multiplexer.go
  plugins/source/snyk/client/resolvers.go
  plugins/source/snyk/client/testing.go
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/snyk/main.go
  plugins/source/snyk/resources/plugin/plugin.go
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/dependency/dependencies_mock_test.go
  plugins/source/snyk/resources/services/group/group_members.go
  plugins/source/snyk/resources/services/group/groups.go
  plugins/source/snyk/resources/services/group/groups_mock_test.go
  plugins/source/snyk/resources/services/integration/integration_mock_test.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/members.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/organization/organizations_mock_test.go
  plugins/source/snyk/resources/services/organization/provisions.go
  plugins/source/snyk/resources/services/project/projects.go
  plugins/source/snyk/resources/services/project/projects_mock_test.go
  plugins/source/snyk/resources/services/reporting/issues.go
  plugins/source/snyk/resources/services/reporting/issues_mock_test.go
  plugins/source/snyk/resources/services/reporting/latest_issues.go
  website/tables/snyk/snyk_dependencies.md
  website/tables/snyk/snyk_group_members.md
  website/tables/snyk/snyk_groups.md
  website/tables/snyk/snyk_integrations.md
  website/tables/snyk/snyk_organization_members.md
  website/tables/snyk/snyk_organization_provisions.md
  website/tables/snyk/snyk_organizations.md
  website/tables/snyk/snyk_projects.md
  website/tables/snyk/snyk_reporting_issues.md
  website/tables/snyk/snyk_reporting_latest_issues.md
Labels: automerge, website, snyk

#11023 chore(vercel): Update SDK to 3.6.5, remove unnecessary transformer
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
Labels: automerge, vercel

#11013 feat(awspricing)!: Migrate to Arrow native SDK
  plugins/source/awspricing/client/client.go
  plugins/source/awspricing/go.mod
  plugins/source/awspricing/go.sum
  plugins/source/awspricing/main.go
  plugins/source/awspricing/plugin/plugin.go
  plugins/source/awspricing/resources/products.go
  plugins/source/awspricing/resources/services.go
  plugins/source/awspricing/resources/terms.go
  website/tables/awspricing/awspricing_service_products.md
  website/tables/awspricing/awspricing_service_terms.md
  website/tables/awspricing/awspricing_services.md
Labels: automerge, website, awspricing

#11010 feat(firestore)!: Migrate to Arrow native SDK
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/main.go
  plugins/source/firestore/resources/plugin/plugin.go
  plugins/source/firestore/resources/plugin/tables.go
Labels: automerge, firestore

#11006 feat(hubspot)!: Migrate to Arrow native SDK
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/multiplex.go
  plugins/source/hubspot/client/resolvers.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/main.go
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/hubspot/resources/services/crm/companies.go
  plugins/source/hubspot/resources/services/crm/companies_fetch.go
  plugins/source/hubspot/resources/services/crm/contacts.go
  plugins/source/hubspot/resources/services/crm/contacts_fetch.go
  plugins/source/hubspot/resources/services/crm/deals.go
  plugins/source/hubspot/resources/services/crm/deals_fetch.go
  plugins/source/hubspot/resources/services/crm/line_items.go
  plugins/source/hubspot/resources/services/crm/line_items_fetch.go
  plugins/source/hubspot/resources/services/crm/owners.go
  plugins/source/hubspot/resources/services/crm/owners_fetch.go
  plugins/source/hubspot/resources/services/crm/pipelines.go
  plugins/source/hubspot/resources/services/crm/pipelines_fetch.go
  plugins/source/hubspot/resources/services/crm/products.go
  plugins/source/hubspot/resources/services/crm/products_fetch.go
  plugins/source/hubspot/resources/services/crm/quotes.go
  plugins/source/hubspot/resources/services/crm/quotes_fetch.go
  plugins/source/hubspot/resources/services/crm/tickets.go
  plugins/source/hubspot/resources/services/crm/tickets_fetch.go
  website/tables/hubspot/hubspot_crm_companies.md
  website/tables/hubspot/hubspot_crm_contacts.md
  website/tables/hubspot/hubspot_crm_deals.md
  website/tables/hubspot/hubspot_crm_line_items.md
  website/tables/hubspot/hubspot_crm_owners.md
  website/tables/hubspot/hubspot_crm_pipelines.md
  website/tables/hubspot/hubspot_crm_products.md
  website/tables/hubspot/hubspot_crm_quotes.md
  website/tables/hubspot/hubspot_crm_tickets.md
Labels: automerge, website, hubspot

#11028 chore(diff): Ignore backticks
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_10831_diff_backtick.txt
Labels: automerge, priority merge

#11005 feat(mixpanel)!: Migrate to Arrow native SDK
  plugins/source/mixpanel/client/client.go
  plugins/source/mixpanel/client/resolvers.go
  plugins/source/mixpanel/client/state.go
  plugins/source/mixpanel/client/testing.go
  plugins/source/mixpanel/client/transformers.go
  plugins/source/mixpanel/go.mod
  plugins/source/mixpanel/go.sum
  plugins/source/mixpanel/main.go
  plugins/source/mixpanel/resources/plugin/plugin.go
  plugins/source/mixpanel/resources/services/annotations/annotations.go
  plugins/source/mixpanel/resources/services/annotations/annotations_mock_test.go
  plugins/source/mixpanel/resources/services/cohorts/cohort_members.go
  plugins/source/mixpanel/resources/services/cohorts/cohorts.go
  plugins/source/mixpanel/resources/services/cohorts/cohorts_mock_test.go
  plugins/source/mixpanel/resources/services/engage/revenues.go
  plugins/source/mixpanel/resources/services/engage/revenues_mock_test.go
  plugins/source/mixpanel/resources/services/export/export_events.go
  plugins/source/mixpanel/resources/services/export/export_events_mock_test.go
  plugins/source/mixpanel/resources/services/funnels/funnel_reports.go
  plugins/source/mixpanel/resources/services/funnels/funnels.go
  plugins/source/mixpanel/resources/services/funnels/funnels_mock_test.go
  website/tables/mixpanel/mixpanel_annotations.md
  website/tables/mixpanel/mixpanel_cohort_members.md
  website/tables/mixpanel/mixpanel_cohorts.md
  website/tables/mixpanel/mixpanel_engage_revenues.md
  website/tables/mixpanel/mixpanel_export_events.md
  website/tables/mixpanel/mixpanel_funnel_reports.md
  website/tables/mixpanel/mixpanel_funnels.md
Labels: automerge, website, mixpanel

#11001 feat(salesforce)!: Migrate to Arrow native SDK
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
  website/tables/salesforce/salesforce_objects.md
Labels: automerge, website, salesforce

#11031 fix(test-dst): Update to the latest SDK
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge, priority merge

#11003 feat(plausible)!: Migrate to Arrow native SDK
  plugins/source/plausible/client/client.go
  plugins/source/plausible/client/resolvers.go
  plugins/source/plausible/client/testing.go
  plugins/source/plausible/go.mod
  plugins/source/plausible/go.sum
  plugins/source/plausible/main.go
  plugins/source/plausible/resources/plugin/plugin.go
  plugins/source/plausible/resources/services/stats_timeseries.go
  website/tables/plausible/plausible_stats_timeseries.md
Labels: automerge, website, plausible

#11036 chore(diff): Ignore backticks for the migration
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_11034_diff.txt
Labels: automerge, priority merge

#10917 feat: Add resource_record_sets to GCP plugin
  plugins/source/gcp/CONTRIBUTING.md
  plugins/source/gcp/client/services.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/services/dns/managed_zones.go
  plugins/source/gcp/resources/services/dns/managed_zones_mock_test.go
  plugins/source/gcp/resources/services/dns/resource_record_sets.go
  plugins/source/gcp/resources/services/dns/resource_record_sets_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
  website/tables/gcp/gcp_dns_managed_zones.md
  website/tables/gcp/gcp_dns_resource_record_sets.md
Labels: automerge, gcp, website

#11034 chore(okta): Update SDK to 3.6.6 and regenerate docs
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  website/tables/okta/okta_application_group_assignments.md
  website/tables/okta/okta_application_users.md
  website/tables/okta/okta_applications.md
  website/tables/okta/okta_group_users.md
  website/tables/okta/okta_groups.md
  website/tables/okta/okta_users.md
Labels: automerge, okta, website

#11026 feat(googleanalytics)!: Migrate to Apache Arrow type system
  plugins/source/googleanalytics/client/client.go
  plugins/source/googleanalytics/client/columns.go
  plugins/source/googleanalytics/client/fetch.go
  plugins/source/googleanalytics/client/report.go
  plugins/source/googleanalytics/client/tables.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
  plugins/source/googleanalytics/main.go
  plugins/source/googleanalytics/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/googleanalytics/tables.md
Labels: automerge, website, googleanalytics

#11045 doc(website): Update AWS Organizations Role documentation
  website/pages/docs/plugins/sources/aws/multi-account.mdx
Labels: documentation, automerge, website

#11072 chore(aws): Fix aws sync tests
  .github/workflows/source_aws.yml
Labels: automerge, ci

#11099 fix(test): Fix missing resolver
  plugins/source/test/resources/services/test.go
Labels: automerge

#11138 chore(ci): Delete summary comment from PR if there are no docs changes
  .github/workflows/docs_changes_summary.yml
Labels: automerge, ci
