Repository cloudquery/cloudquery, pull requests merged in 2023-02, with the labels that each got.

#7607 chore(ci-goreleaser): Use `clean` instead of `rm-dist`
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/release_scaffold.yml
  .github/workflows/scaffold.yml
  .github/workflows/source_alicloud.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_launchdarkly.yml
  .github/workflows/source_mixpanel.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_plausible.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_snyk.yml
  .github/workflows/source_stripe.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
  plugins/destination/snowflake/Makefile
  plugins/destination/sqlite/Makefile
Labels: sqlite, snowflake

#7606 fix(goreleaser): Use `clean` instead of `rm-dist`
  scaffold/cmd/templates/source/.github/workflows/release.yaml.tpl
Labels: automerge

#7394 fix(aws)!: PK for `aws_eventbridge_event_bus_rules`
  plugins/source/aws/docs/tables/aws_eventbridge_event_bus_rules.md
  plugins/source/aws/resources/services/eventbridge/event_bus_rules.go
Labels: aws, automerge

#6954 feat: Support Kinesis Firehose as a Destination
  .github/pr_labeler.yml
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/dest_firehose.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/firehose/.gitignore
  plugins/destination/firehose/.goreleaser.yaml
  plugins/destination/firehose/CHANGELOG.md
  plugins/destination/firehose/Makefile
  plugins/destination/firehose/README.md
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/client_test.go
  plugins/destination/firehose/client/deletestale.go
  plugins/destination/firehose/client/metrics.go
  plugins/destination/firehose/client/migrate.go
  plugins/destination/firehose/client/read.go
  plugins/destination/firehose/client/spec.go
  plugins/destination/firehose/client/write.go
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/firehose/main.go
  plugins/destination/firehose/resources/plugin/plugin.go
  website/pages/docs/plugins/destinations/firehose/_meta.json
  website/pages/docs/plugins/destinations/firehose/overview.md
Labels: automerge, website

#7617 chore(ci): Add workflow to set sentry alerts to Slack
  .github/workflows/set_sentry_alerts.yml
  scripts/sentry_alerts/go.mod
  scripts/sentry_alerts/go.sum
  scripts/sentry_alerts/main.go
  scripts/sentry_alerts/sentry/api.go
Labels: automerge, priority merge

#7618 chore(ci): Log matching runs and actions in waiting workflow
  .github/workflows/wait_for_required_workflows.yml
Labels: automerge, priority merge

#7620 fix: Sort PKs before reporting stale PKs error
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#7177 fix(azure-resources): Use default API version of `armhealthbot` bots client
  plugins/source/azure/resources/services/healthbot/bots_fetch.go
Labels: azure, automerge

#7210 test(cli): Add multiple sources test
  cli/cmd/sync_test.go
  cli/cmd/sync_v0_2.go
  cli/cmd/testdata/multiple-sources-destinations.yml
Labels: automerge, cli

#7230 chore(website): Use sharp package
  website/package-lock.json
  website/package.json
Labels: automerge, website

#7608 feat: Add `.gitignore` template
  scaffold/cmd/source.go
  scaffold/cmd/templates/source/.gitignore.tpl
Labels: automerge

#7632 fix(digitalocean-resources): Remove relational tables from top level list
  plugins/source/digitalocean/docs/tables/README.md
  plugins/source/digitalocean/resources/plugin/tables.go
  plugins/source/digitalocean/resources/services/databases/backups.go
  plugins/source/digitalocean/resources/services/databases/databases.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules.go
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/domains/domains.go
  plugins/source/digitalocean/resources/services/domains/records.go
  plugins/source/digitalocean/resources/services/droplets/droplets.go
  plugins/source/digitalocean/resources/services/droplets/neighbors.go
  plugins/source/digitalocean/resources/services/projects/projects.go
  plugins/source/digitalocean/resources/services/projects/resources.go
  plugins/source/digitalocean/resources/services/registries/registries.go
  plugins/source/digitalocean/resources/services/registries/repositories.go
  plugins/source/digitalocean/resources/services/spaces/cors.go
  plugins/source/digitalocean/resources/services/spaces/spaces.go
  plugins/source/digitalocean/resources/services/vpcs/members.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs.go
  website/pages/docs/plugins/sources/digitalocean/tables.md
Labels: automerge, digitalocean, website

#7621 fix(aws): Update EC2 Tag structure
  plugins/source/aws/docs/tables/aws_ec2_instances.md
  plugins/source/aws/resources/services/ec2/instances.go
Labels: aws, automerge

#7638 feat(aws-resources): Add EC2 EBS Volume Statuses
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_ebs_volume_statuses.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/ebs_volume_statuses.go
  plugins/source/aws/resources/services/ec2/ebs_volume_statuses_fetch.go
  plugins/source/aws/resources/services/ec2/ebs_volume_statuses_mock_test.go
  plugins/source/aws/resources/services/ec2/ebs_volumes_fetch.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: automerge

#7644 chore(docs): GCP -> BigQuery
  website/pages/docs/plugins/destinations/bigquery/overview.mdx
Labels: website

#7678 fix(aws): Turn tags into maps
  plugins/source/aws/docs/tables/aws_cloudformation_stacks.md
  plugins/source/aws/docs/tables/aws_codebuild_projects.md
  plugins/source/aws/docs/tables/aws_directconnect_connections.md
  plugins/source/aws/docs/tables/aws_ec2_customer_gateways.md
  plugins/source/aws/docs/tables/aws_redshift_clusters.md
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/codebuild/projects.go
  plugins/source/aws/resources/services/directconnect/connections.go
  plugins/source/aws/resources/services/ec2/customer_gateways.go
  plugins/source/aws/resources/services/redshift/clusters.go
Labels: aws, automerge

#7680 feat: Add *.log to gitignore template
  scaffold/cmd/templates/source/.gitignore.tpl
Labels: automerge

#7679 fix: Remove broken link to Localstack docs
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.mdx
Labels: automerge, website

#7677 chore(website): Redirect Discord typos
  website/vercel.json
Labels: automerge, website

#7686 chore(elasticsearch): Move to `docker compose` command
  plugins/destination/elasticsearch/CONTRIBUTING.md
Labels: automerge, elasticsearch

#7685 chore(elasticsearch): Update docker-compose.yaml
  plugins/destination/elasticsearch/docker-compose.yaml
Labels: automerge, elasticsearch

#7687 chore(docs): Add info about handling case sensitivity to Athena how-to guide
  website/pages/how-to-guides/how-to-load-infrastructure-data-into-athena.mdx
Labels: automerge, website

#7689 doc(website): Add note about accepting wildcards in skip_tables
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#7695 feat(aws): Add support for Amplify Apps
  plugins/source/aws/client/mocks/amplify.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/amplify.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_amplify_apps.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/amplify/apps.go
  plugins/source/aws/resources/services/amplify/apps_fetch.go
  plugins/source/aws/resources/services/amplify/apps_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7700 chore(website): Mention partners in source plugins
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#7636 feat(azure-resources): Add Virtual Network Gateways and Connections
  plugins/source/azure/client/client.go
  plugins/source/azure/client/multiplexer.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_network_virtual_network_gateway_connections.md
  plugins/source/azure/docs/tables/azure_network_virtual_network_gateways.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/network/virtual_network_gateway_connections.go
  plugins/source/azure/resources/services/network/virtual_network_gateway_connections_test.go
  plugins/source/azure/resources/services/network/virtual_network_gateways.go
  plugins/source/azure/resources/services/network/virtual_network_gateways_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#7691 feat(gcp-resources): Add Compute Routers and NAT Mappings
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_compute_router_nat_mapping_infos.md
  plugins/source/gcp/docs/tables/gcp_compute_routers.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/compute/router_nat_mapping_infos.go
  plugins/source/gcp/resources/services/compute/routers.go
  plugins/source/gcp/resources/services/compute/routers_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#7282 doc(website): How-to Guide for Loading Simple Analytics data into BigQuery
  website/pages/how-to-guides/simple-analytics-to-bigquery.mdx
  website/public/images/how-to-guides/simple-analytics-to-bigquery/querying-simple-analytics-from-bigquery.png
Labels: automerge, website

#7718 fix(azure): Fix Azure CIS Policies in Section 2
  plugins/source/azure/policies/queries/security/defender_on_for_app_service.sql
  plugins/source/azure/policies/queries/security/defender_on_for_container_registeries.sql
  plugins/source/azure/policies/queries/security/defender_on_for_k8s.sql
  plugins/source/azure/policies/queries/security/defender_on_for_key_vault.sql
  plugins/source/azure/policies/queries/security/defender_on_for_servers.sql
  plugins/source/azure/policies/queries/security/defender_on_for_sql_servers.sql
  plugins/source/azure/policies/queries/security/defender_on_for_sql_servers_on_machines.sql
  plugins/source/azure/policies/queries/security/defender_on_for_storage.sql
Labels: azure, automerge

#7701 feat(aws): Add Support for Secrets Manager Secret Versions
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_secretsmanager_secret_versions.md
  plugins/source/aws/docs/tables/aws_secretsmanager_secrets.md
  plugins/source/aws/resources/services/secretsmanager/secrets.go
  plugins/source/aws/resources/services/secretsmanager/secrets_fetch.go
  plugins/source/aws/resources/services/secretsmanager/secrets_mock_test.go
  plugins/source/aws/resources/services/secretsmanager/secrets_version.go
  plugins/source/aws/resources/services/secretsmanager/secrets_version_fetch.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7721 chore: Fix Vale issues
  .github/styles/Vocab/Base/accept.txt
  website/pages/how-to-guides/simple-analytics-to-bigquery.mdx
Labels: automerge, website

#7727 fix(ci): Disable npm caching for release all workflow
  .github/workflows/release_all.yml
Labels: automerge, priority merge

#7726 feat(s3): Update filetypes to support parquet
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, priority merge, s3

#7729 feat(destination-azblob): Update filetypes to support Parquet
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  website/pages/docs/plugins/destinations/azblob/overview.mdx
Labels: automerge, website, priority merge, azblob

#7731 feat(destination-gcs): Update filetypes to support Parquet
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  website/pages/docs/plugins/destinations/gcs/overview.mdx
Labels: automerge, website, priority merge, gcs

#7758 fix(tailscale): Support timestamps
  plugins/source/tailscale/client/transformers.go
  plugins/source/tailscale/docs/tables/README.md
  plugins/source/tailscale/docs/tables/tailscale_device_routes.md
  plugins/source/tailscale/docs/tables/tailscale_devices.md
  plugins/source/tailscale/docs/tables/tailscale_keys.md
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_fetch.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_fetch.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/device/routes.go
  plugins/source/tailscale/resources/services/device/routes_fetch.go
  plugins/source/tailscale/resources/services/device/routes_mock_test.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_fetch.go
  website/pages/docs/plugins/sources/tailscale/tables.md
Labels: automerge, website, priority merge, tailscale

#7696 feat(gcp-resources)!: Make Security Center Tables Incremental
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_securitycenter_folder_findings.md
  plugins/source/gcp/docs/tables/gcp_securitycenter_organization_findings.md
  plugins/source/gcp/docs/tables/gcp_securitycenter_project_findings.md
  plugins/source/gcp/resources/services/securitycenter/findings_fetch.go
  plugins/source/gcp/resources/services/securitycenter/folder_findings.go
  plugins/source/gcp/resources/services/securitycenter/organization_findings.go
  plugins/source/gcp/resources/services/securitycenter/project_findings.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website, priority merge

#7755 fix(website-tailscale): Redirect removed configuration page
  website/pages/blog/introducing-the-tailscale-source-plugin.mdx
  website/vercel.json
Labels: automerge, website, priority merge

#7704 feat(aws): Add Support for S3 Accesspoints
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_s3_access_points.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/s3/access_points.go
  plugins/source/aws/resources/services/s3/access_points_fetch.go
  plugins/source/aws/resources/services/s3/access_points_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#7780 chore(website): Document skip_dependent_tables option
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#7801 fix(postgresql): Sanitize JSONs
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/transformer_test.go
Labels: postgresql

#7807 fix(azure): Fix detecting logic for CIS Azure Benchmark v1.3.0 - 2.12
  plugins/source/azure/policies/queries/security/default_policy_disabled.sql
  plugins/source/azure/policies/views/policy_assignment_parameters.sql
Labels: azure, automerge

#7813 doc(snowflake): Add "?warehouse=" to snowflake docs
  website/pages/docs/plugins/destinations/snowflake/overview.mdx
Labels: automerge, website

#7818 feat(aws-resources): Add EMR Instance Fleets and Groups
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_emr_cluster_instance_fleets.md
  plugins/source/aws/docs/tables/aws_emr_cluster_instance_groups.md
  plugins/source/aws/docs/tables/aws_emr_clusters.md
  plugins/source/aws/resources/services/emr/cluster_instance_fleets.go
  plugins/source/aws/resources/services/emr/cluster_instance_fleets_fetch.go
  plugins/source/aws/resources/services/emr/cluster_instance_groups.go
  plugins/source/aws/resources/services/emr/cluster_instance_groups_fetch.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/emr/clusters_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7817 fix(aws)!: Fix PK for `aws_rds_certificates`
  plugins/source/aws/docs/tables/aws_rds_certificates.md
  plugins/source/aws/resources/services/rds/certificates.go
Labels: aws, automerge

#7821 fix(aws)!: PK for `aws_ec2_images`
  plugins/source/aws/docs/tables/aws_ec2_images.md
  plugins/source/aws/resources/services/ec2/images.go
Labels: aws, automerge

#7820 fix(aws)!: PK for `aws_docdb_certificates`
  plugins/source/aws/docs/tables/aws_docdb_certificates.md
  plugins/source/aws/resources/services/docdb/certificates.go
Labels: aws, automerge

#7822 fix(aws)!: PK for `aws_s3_bucket_grants`
  plugins/source/aws/docs/tables/aws_s3_bucket_grants.md
  plugins/source/aws/resources/services/s3/bucket_grants.go
Labels: aws, automerge

#7651 feat(aws): Add New Validation for AWS Tags
  plugins/source/aws/client/testing.go
  plugins/source/aws/docs/tables/aws_autoscaling_groups.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/autoscaling/groups.go
Labels: aws, automerge

#7830 fix(cli): Fix brew latest
  cli/cmd/analytics.go
Labels: automerge, cli, priority merge

#7833 fix: Snowflake migration
  plugins/destination/snowflake/client/migrate.go
Labels: automerge, snowflake

#7836 fix(snowflake): Strip nulls
  plugins/destination/snowflake/client/transformer.go
Labels: snowflake

#7826 fix: Make Elasticsearch overwrite and delete-stale behavior consistent
  plugins/destination/elasticsearch/client/client.go
  plugins/destination/elasticsearch/client/deletestale.go
  plugins/destination/elasticsearch/client/migrate.go
  plugins/destination/elasticsearch/client/read.go
  plugins/destination/elasticsearch/client/write.go
  website/pages/docs/plugins/destinations/elasticsearch/overview.mdx
Labels: automerge, website, elasticsearch

#7815 chore(mssql): Extend `unescape` to include quoted strings as well
  plugins/destination/mssql/client/unescape.go
  plugins/destination/mssql/client/unescape_test.go
Labels: automerge, mssql

#7839 fix: Fix ECR image ARN to use repository name
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
Labels: aws, automerge

#7840 fix: Postgresql timestamps
  plugins/destination/postgresql/client/transformer.go
Labels: automerge, postgresql

#7841 chore(elasticsearch): Elasticsearch filler
  .release-please-manifest.json
Labels: automerge

#7844 fix: Snowflake migrations
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/types.go
Labels: automerge, snowflake

#7298 chore(website): Refactor k8s auth example
  website/pages/docs/plugins/sources/k8s/overview.mdx
Labels: automerge, website

#7891 fix: Ignore delete stale error when index does not exist
  plugins/destination/elasticsearch/client/deletestale.go
Labels: automerge, elasticsearch

#7898 chore(aws): Just send to chan
  plugins/source/aws/resources/services/lambda/runtimes.go
  plugins/source/aws/resources/services/lambda/runtimes_fetch.go
Labels: aws, automerge

#7911 feat(aws): Step Function Resources
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_stepfunctions_activities.md
  plugins/source/aws/docs/tables/aws_stepfunctions_executions.md
  plugins/source/aws/docs/tables/aws_stepfunctions_executions_map_runs.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/stepfunctions/activities.go
  plugins/source/aws/resources/services/stepfunctions/activities_fetch.go
  plugins/source/aws/resources/services/stepfunctions/activities_test.go
  plugins/source/aws/resources/services/stepfunctions/executions.go
  plugins/source/aws/resources/services/stepfunctions/executions_fetch.go
  plugins/source/aws/resources/services/stepfunctions/executions_map_runs.go
  plugins/source/aws/resources/services/stepfunctions/executions_map_runs_fetch.go
  plugins/source/aws/resources/services/stepfunctions/executions_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7908 feat: Athena resource view creation
  plugins/source/aws/views/athena/.gitignore
  plugins/source/aws/views/athena/README.md
  plugins/source/aws/views/athena/go.mod
  plugins/source/aws/views/athena/go.sum
  plugins/source/aws/views/athena/main.go
  plugins/source/aws/views/athena/response.json
  plugins/source/aws/views/athena/trust-policy.json
Labels: aws, automerge

#7899 fix(aws): Fix `aws_iam_accounts` unmarshaling
  plugins/source/aws/resources/services/iam/accounts_fetch.go
  plugins/source/aws/resources/services/iam/accounts_mock_test.go
  plugins/source/aws/resources/services/iam/models/iam.go
Labels: aws, automerge

#7827 doc: Adding a compile from source instruction for (interested) beginners
  .gitignore
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/build.md
Labels: automerge, website

#7838 doc: Fix link and code snippet in AWS Source Plugin Contribution Guide
  plugins/source/aws/CONTRIBUTING.md
Labels: aws, automerge

#7932 chore: K8S auth follow up
  website/pages/docs/plugins/sources/k8s/overview.mdx
Labels: automerge, website

#7931 fix(website): Add missing Elasticsearch `_meta.json` file
  website/pages/docs/plugins/destinations/elasticsearch/_meta.json
Labels: automerge, website

#7934 feat(website): Bring back code block titles
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/plugins/sources/aws/overview.mdx
  website/pages/how-to-guides/how-to-load-infrastructure-data-into-athena.mdx
Labels: automerge, website

#7942 feat(aws): Add Support for EC2 Managed Prefix List
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_managed_prefix_lists.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/managed_prefix_lists.go
  plugins/source/aws/resources/services/ec2/managed_prefix_lists_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7941 chore: Auto hide auto generated docs in PR diff
  .gitattributes
Labels: automerge

#7944 feat(aws): Add Support for Route53 Operations
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_route53_operations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/route53/operations.go
  plugins/source/aws/resources/services/route53/operations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7970 chore(website): Don't backtick SDK
  website/pages/docs/plugins/destinations/mssql/configuration.mdx
Labels: automerge, website

#7971 fix(aws): Add `request_account_id` & `request_region` to `aws_securityhub_findings` PK
  plugins/source/aws/docs/tables/aws_securityhub_findings.md
  plugins/source/aws/resources/services/securityhub/findings.go
Labels: aws, automerge

#7972 fix(aws): Add `account_id` and `region` to `aws_appstream_images` PK
  plugins/source/aws/docs/tables/aws_appstream_images.md
  plugins/source/aws/resources/services/appstream/images.go
Labels: aws, automerge

#7792 feat(k8s-resources): Add Pod Disruption Budgets
  plugins/source/k8s/client/client.go
  plugins/source/k8s/client/helpers.go
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/docs/tables/README.md
  plugins/source/k8s/docs/tables/k8s_policy_pod_disruption_budgets.md
  plugins/source/k8s/mockgen.go
  plugins/source/k8s/mocks/policy/v1/client.go
  plugins/source/k8s/mocks/policy/v1/poddisruptionbudgets.go
  plugins/source/k8s/resources/plugin/plugin.go
  plugins/source/k8s/resources/services/core/namespaces.go
  plugins/source/k8s/resources/services/policy/pod_disruption_budgets.go
  plugins/source/k8s/resources/services/policy/pod_disruption_budgets_test.go
  website/pages/docs/plugins/sources/k8s/tables.md
Labels: automerge, k8s, website

#7812 feat(aws-resources): Add EMR Security Configuration
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_emr_security_configurations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/emr/security_configuration.go
  plugins/source/aws/resources/services/emr/security_configuration_fetch.go
  plugins/source/aws/resources/services/emr/security_configuration_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7976 chore(docs): More Athena view readme updates
  plugins/source/aws/views/athena/README.md
Labels: aws, automerge, priority merge

#7974 chore: Don't collapse individual tables
  .gitattributes
Labels: automerge

#7973 chore: Fix instructions for creating Athena view
  plugins/source/aws/views/athena/README.md
Labels: aws, automerge

#7977 fix(ci-aws-endpoints): Run workflow on Tuesday mornings
  .github/workflows/endpoints.yml
Labels: automerge

#7896 doc(blog): Elasticsearch blog
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/search-through-cloud-infrastructure-with-elasticsearch.mdx
  website/pages/how-to-guides/cloudquery-postgrest.mdx
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/create-data-view.png
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/ec2-instance-type-pie-chart.png
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/elasticsearch-screenshot.png
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/search-by-ip.png
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/search-by-json-object.png
  website/public/images/blog/search-through-cloud-infrastructure-with-elasticsearch/search-by-tag.png
Labels: automerge, website

#7814 feat(aws-resources): Add EMR Cluster Instances
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_emr_cluster_instances.md
  plugins/source/aws/docs/tables/aws_emr_clusters.md
  plugins/source/aws/resources/services/emr/cluster_instances.go
  plugins/source/aws/resources/services/emr/cluster_instances_fetch.go
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/emr/clusters_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#7979 feat: Add 'gcp_projects' table
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_projects.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/projects.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#7981 feat: Add support for date placeholders in S3 plugin
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, s3

#7906 feat(aws): Add Support for Directconnect Locations
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_directconnect_locations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/directconnect/locations.go
  plugins/source/aws/resources/services/directconnect/locations_fetch.go
  plugins/source/aws/resources/services/directconnect/locations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#7978 fix(aws)!: Add parent table ARNs as PKs to child tables for `aws_resiliencehub_*` tables
  plugins/source/aws/docs/tables/aws_resiliencehub_alarm_recommendations.md
  plugins/source/aws/docs/tables/aws_resiliencehub_app_assessments.md
  plugins/source/aws/docs/tables/aws_resiliencehub_app_component_compliances.md
  plugins/source/aws/docs/tables/aws_resiliencehub_app_version_resource_mappings.md
  plugins/source/aws/docs/tables/aws_resiliencehub_app_version_resources.md
  plugins/source/aws/docs/tables/aws_resiliencehub_app_versions.md
  plugins/source/aws/docs/tables/aws_resiliencehub_component_recommendations.md
  plugins/source/aws/docs/tables/aws_resiliencehub_recommendation_templates.md
  plugins/source/aws/docs/tables/aws_resiliencehub_sop_recommendations.md
  plugins/source/aws/docs/tables/aws_resiliencehub_test_recommendations.md
  plugins/source/aws/resources/services/resiliencehub/alarm_recommendations.go
  plugins/source/aws/resources/services/resiliencehub/app_assessments.go
  plugins/source/aws/resources/services/resiliencehub/app_component_compliances.go
  plugins/source/aws/resources/services/resiliencehub/app_version_resource_mappings.go
  plugins/source/aws/resources/services/resiliencehub/app_version_resources.go
  plugins/source/aws/resources/services/resiliencehub/app_version_resources_fetch.go
  plugins/source/aws/resources/services/resiliencehub/app_versions.go
  plugins/source/aws/resources/services/resiliencehub/app_versions_fetch.go
  plugins/source/aws/resources/services/resiliencehub/apps.go
  plugins/source/aws/resources/services/resiliencehub/columns.go
  plugins/source/aws/resources/services/resiliencehub/component_recommendations.go
  plugins/source/aws/resources/services/resiliencehub/recommendation_templates.go
  plugins/source/aws/resources/services/resiliencehub/resiliency_policies.go
  plugins/source/aws/resources/services/resiliencehub/sop_recommendations.go
  plugins/source/aws/resources/services/resiliencehub/suggested_resiliency_policies.go
  plugins/source/aws/resources/services/resiliencehub/test_recommendations.go
Labels: aws, automerge

#7990 doc: Athena Resource View Standalone SQL Script
  plugins/source/aws/views/athena/README.md
  plugins/source/aws/views/athena/resources.sql
Labels: aws, automerge

#7984 fix(aws)!: Add `account_id` and `region` to PK in `aws_directconnect_gateways`
  plugins/source/aws/docs/tables/aws_directconnect_gateways.md
  plugins/source/aws/resources/services/directconnect/gateways.go
  plugins/source/aws/resources/services/directconnect/gateways_fetch.go
Labels: aws, automerge

#7985 fix(aws)!: Add `resource_share_arn` and `region` to `aws_ram_principals` PK
  plugins/source/aws/docs/tables/aws_ram_principals.md
  plugins/source/aws/resources/services/ram/principals.go
Labels: aws, automerge

#7987 chore(aws): Use paginator in `aws_ec2_instances` fetch
  plugins/source/aws/resources/services/ec2/instances_fetch.go
Labels: aws, automerge

#6982 feat(clickhouse): ClickHouse destination
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/.gitignore
  plugins/destination/clickhouse/.goreleaser.yaml
  plugins/destination/clickhouse/CONTRIBUTING.md
  plugins/destination/clickhouse/Makefile
  plugins/destination/clickhouse/README.md
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/client/reverse_transform.go
  plugins/destination/clickhouse/client/spec.go
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/client/transform.go
  plugins/destination/clickhouse/client/unescape.go
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/docker-compose.yaml
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/main.go
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/columns_test.go
  plugins/destination/clickhouse/queries/create_table.go
  plugins/destination/clickhouse/queries/create_table_test.go
  plugins/destination/clickhouse/queries/insert.go
  plugins/destination/clickhouse/queries/queries_test.go
  plugins/destination/clickhouse/queries/read.go
  plugins/destination/clickhouse/queries/read_test.go
  plugins/destination/clickhouse/queries/sanitize.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/testdata/col_add.sql
  plugins/destination/clickhouse/queries/testdata/col_drop.sql
  plugins/destination/clickhouse/queries/testdata/create_table.sql
  plugins/destination/clickhouse/queries/testdata/read.sql
  plugins/destination/clickhouse/queries/types.go
  plugins/destination/clickhouse/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/clickhouse/_meta.json
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website, priority merge, new-destination-plugin, destination, clickhouse

#8010 fix(aws)!: Resource Access Manager (RAM) PK issues
  plugins/source/aws/docs/tables/aws_ram_resource_share_associations.md
  plugins/source/aws/docs/tables/aws_ram_resource_share_invitations.md
  plugins/source/aws/docs/tables/aws_ram_resource_share_permissions.md
  plugins/source/aws/docs/tables/aws_ram_resource_shares.md
  plugins/source/aws/docs/tables/aws_ram_resources.md
  plugins/source/aws/resources/services/ram/resource_share_associations.go
  plugins/source/aws/resources/services/ram/resource_share_invitations.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_fetch.go
  plugins/source/aws/resources/services/ram/resource_share_permissions.go
  plugins/source/aws/resources/services/ram/resource_shares.go
  plugins/source/aws/resources/services/ram/resources.go
Labels: aws, automerge, priority merge

#8063 fix(aws)!: Add `account_id` and `region` to `aws_quicksight_*` resources
  plugins/source/aws/docs/tables/aws_quicksight_analyses.md
  plugins/source/aws/docs/tables/aws_quicksight_dashboards.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sets.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sources.md
  plugins/source/aws/docs/tables/aws_quicksight_folders.md
  plugins/source/aws/docs/tables/aws_quicksight_group_members.md
  plugins/source/aws/docs/tables/aws_quicksight_groups.md
  plugins/source/aws/docs/tables/aws_quicksight_ingestions.md
  plugins/source/aws/docs/tables/aws_quicksight_templates.md
  plugins/source/aws/docs/tables/aws_quicksight_users.md
  plugins/source/aws/resources/services/quicksight/analyses.go
  plugins/source/aws/resources/services/quicksight/dashboards.go
  plugins/source/aws/resources/services/quicksight/data_sets.go
  plugins/source/aws/resources/services/quicksight/data_sources.go
  plugins/source/aws/resources/services/quicksight/folders.go
  plugins/source/aws/resources/services/quicksight/group_members.go
  plugins/source/aws/resources/services/quicksight/groups.go
  plugins/source/aws/resources/services/quicksight/ingestions.go
  plugins/source/aws/resources/services/quicksight/tag_fetch.go
  plugins/source/aws/resources/services/quicksight/templates.go
  plugins/source/aws/resources/services/quicksight/users.go
Labels: aws, automerge, priority merge

#8068 fix(website): Fix vale comments
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website, priority merge

#8060 fix(aws)!: Add `account_id` and `region` to `aws_ec2_transit_gateways` PK
  plugins/source/aws/docs/tables/aws_ec2_transit_gateways.md
  plugins/source/aws/resources/services/ec2/transit_gateways.go
Labels: aws, automerge, priority merge

#8071 chore(clickhouse): Add filler
  .release-please-manifest.json
Labels: automerge, priority merge, clickhouse

#8061 fix(aws)!: Use `log_group_arn` + `filter_name` for `aws_cloudwatchlogs_metric_filters` PK
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_metric_filters.md
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters.go
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters_fetch.go
Labels: aws, automerge, priority merge

#8074 feat(github): Add repositories multiplexer
  plugins/source/github/client/client.go
  plugins/source/github/client/multiplexer.go
  plugins/source/github/client/resolvers.go
  plugins/source/github/client/testing.go
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_fetch.go
  plugins/source/github/resources/services/repositories/repositories_test.go
Labels: automerge, github, priority merge

#8075 chore: Remove crowdstrike plugin
  .github/pr_labeler.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/wait_for_required_workflows.yml
  .release-please-manifest.json
  plugins/source/crowdstrike/.gitignore
  plugins/source/crowdstrike/.goreleaser.yaml
  plugins/source/crowdstrike/CHANGELOG.md
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/client/mocks/mock_alerts_client.go
  plugins/source/crowdstrike/client/mocks/mock_incidents_client.go
  plugins/source/crowdstrike/client/services.go
  plugins/source/crowdstrike/client/spec.go
  plugins/source/crowdstrike/client/testing.go
  plugins/source/crowdstrike/docs/tables/README.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_alerts_query.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_incidents_crowdscore.md
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
  plugins/source/crowdstrike/main.go
  plugins/source/crowdstrike/resources/plugin/plugin.go
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
  plugins/source/crowdstrike/resources/services/alerts/query_mock_test.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_mock_test.go
  release-please-config.json
  website/versions/source-crowdstrike.json
Labels: website, crowdstrike

#8070 fix(github)!: Change `github_organization_dependabot_alerts` PK from `(org,number)` to `(org,html_url)`
  plugins/source/github/client/columns.go
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_organization_dependabot_alerts.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_releases.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/billing/action.go
  plugins/source/github/resources/services/billing/package.go
  plugins/source/github/resources/services/billing/storage.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/teams.go
Labels: automerge, github, priority merge

#8073 feat(aws): Add Support for CloudWatch Filter Subscriptions
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_log_group_subscription_filters.md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_log_groups.md
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups_fetch.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups_mock_test.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_fetch.go
  plugins/source/aws/resources/services/cloudwatchlogs/subscription_filters.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#8085 feat(github-resources): Add Traffic resources
  plugins/source/github/client/columns.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_traffic_clones.md
  plugins/source/github/docs/tables/github_traffic_paths.md
  plugins/source/github/docs/tables/github_traffic_referrers.md
  plugins/source/github/docs/tables/github_traffic_views.md
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/traffic/clones.go
  plugins/source/github/resources/services/traffic/clones_test.go
  plugins/source/github/resources/services/traffic/paths.go
  plugins/source/github/resources/services/traffic/paths_test.go
  plugins/source/github/resources/services/traffic/referrers.go
  plugins/source/github/resources/services/traffic/referrers_test.go
  plugins/source/github/resources/services/traffic/views.go
  plugins/source/github/resources/services/traffic/views_test.go
  website/pages/docs/plugins/sources/github/tables.md
Labels: automerge, github, website, priority merge

#8072 chore(aws): Remove `IgnoreInTests`
  plugins/source/aws/resources/services/backup/vaults.go
  plugins/source/aws/resources/services/ec2/instances.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  plugins/source/aws/resources/services/fsx/snapshots.go
  plugins/source/aws/resources/services/fsx/volumes.go
  plugins/source/aws/resources/services/iot/thing_groups.go
  plugins/source/aws/resources/services/iot/things.go
  plugins/source/aws/resources/services/kms/keys.go
Labels: aws, automerge

#8016 chore: Update Athena view creation script
  plugins/source/aws/views/athena/README.md
  plugins/source/aws/views/athena/main.go
Labels: aws, automerge

#8078 feat(github): Handle secondary rate limit
  plugins/source/github/client/client.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Labels: automerge, github

#8119 fix(aws)!: Add `arn` to `aws_ec2_managed_prefix_lists` PK
  plugins/source/aws/docs/tables/aws_ec2_managed_prefix_lists.md
  plugins/source/aws/resources/services/ec2/managed_prefix_lists.go
Labels: aws, automerge

#8082 fix(website-firehost): Rename `overview.md` to `overview.mdx`
  website/pages/docs/plugins/destinations/firehose/overview.mdx
Labels: automerge, website, priority merge

#8099 fix(azure): Ensure spec subscriptions are unique
  plugins/source/azure/client/client.go
  plugins/source/azure/go.mod
Labels: azure, automerge

#8124 chore(workflows): Run gen check prior to tests
  .github/workflows/source_alicloud.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_launchdarkly.yml
  .github/workflows/source_mixpanel.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_plausible.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_snyk.yml
  .github/workflows/source_stripe.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Labels: automerge

#8106 refactor(github): Move fetch methods into table definitions files, use SDK resolvers instead of custom ones, use shared `RepositoryIdColumn`
  plugins/source/github/client/columns.go
  plugins/source/github/client/resolvers.go
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/billing/action.go
  plugins/source/github/resources/services/billing/action_fetch.go
  plugins/source/github/resources/services/billing/package.go
  plugins/source/github/resources/services/billing/package_fetch.go
  plugins/source/github/resources/services/billing/storage.go
  plugins/source/github/resources/services/billing/storage_fetch.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/external/groups_fetch.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/deliveries_fetch.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/hooks/hooks_fetch.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/installations/installations_fetch.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/issues/issues_fetch.go
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/alerts_fetch.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/members_fetch.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/organizations_fetch.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/organizations/secrets_fetch.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/alerts_fetch.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/assets_fetch.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/releases_fetch.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_fetch.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/repositories/secrets_fetch.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/members_fetch.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/repositories_fetch.go
  plugins/source/github/resources/services/teams/teams.go
  plugins/source/github/resources/services/teams/teams_fetch.go
  plugins/source/github/resources/services/traffic/clones.go
  plugins/source/github/resources/services/traffic/paths.go
  plugins/source/github/resources/services/traffic/referrers.go
  plugins/source/github/resources/services/traffic/views.go
Labels: automerge, github

#8129 fix(github)!: Add `repository_id` to `github_workflows` PK
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows.go
Labels: automerge, github

#8128 feat(azure): Add network ExpressRoute circuit authorizations and peerings
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_network_express_route_circuit_authorizations.md
  plugins/source/azure/docs/tables/azure_network_express_route_circuit_peerings.md
  plugins/source/azure/docs/tables/azure_network_express_route_circuits.md
  plugins/source/azure/resources/services/network/express_route_circuit_authorizations.go
  plugins/source/azure/resources/services/network/express_route_circuit_authorizations_mock_test.go
  plugins/source/azure/resources/services/network/express_route_circuit_peerings.go
  plugins/source/azure/resources/services/network/express_route_circuit_peerings_mock_test.go
  plugins/source/azure/resources/services/network/express_route_circuits.go
  plugins/source/azure/resources/services/network/express_route_circuits_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#8125 feat(azure): Add postgresql databases resource
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_postgresql_databases.md
  plugins/source/azure/docs/tables/azure_postgresql_servers.md
  plugins/source/azure/resources/services/postgresql/databases.go
  plugins/source/azure/resources/services/postgresql/databases_mock_test.go
  plugins/source/azure/resources/services/postgresql/servers.go
  plugins/source/azure/resources/services/postgresql/servers_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#8131 fix(aws): Use `credentialScope.region` if exists when generating regions data
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/tools/endpoints/main.go
Labels: aws, automerge, priority merge

#8144 chore(website): Add link to partners: Scaleway, Swetrix
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#8088 doc(website): Add docs for plugin developers
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/developers/creating-new-plugin.md
Labels: website

#8147 chore(website): Fix typo
  website/pages/docs/developers/creating-new-plugin.md
Labels: automerge, website

#8136 doc(blog): Outdated AWS IAM policy language version
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/outdated-aws-iam-policy-language.mdx
  website/public/images/blog/outdated-aws-iam-policy-language/cli-invalid-policy.png
  website/public/images/blog/outdated-aws-iam-policy-language/invalid-policy.png
Labels: website

#8148 chore(docs): Add more destinations examples, with link, to plugin descriptions
  plugins/source/cloudflare/README.md
  plugins/source/datadog/README.md
  plugins/source/digitalocean/README.md
  plugins/source/fastly/README.md
  plugins/source/gandi/README.md
  plugins/source/gcp/README.md
  plugins/source/github/README.md
  plugins/source/hackernews/README.md
  plugins/source/k8s/README.md
  plugins/source/launchdarkly/README.md
  plugins/source/mixpanel/README.md
  plugins/source/okta/README.md
  plugins/source/shopify/README.md
  plugins/source/slack/README.md
  plugins/source/snyk/README.md
  plugins/source/stripe/README.md
  plugins/source/tailscale/README.md
  plugins/source/vercel/README.md
  website/pages/blog/migrating-from-v0-to-v1.mdx
  website/pages/docs/plugins/sources/alicloud/overview.mdx
  website/pages/docs/plugins/sources/aws/overview.mdx
  website/pages/docs/plugins/sources/azure/overview.mdx
  website/pages/docs/plugins/sources/azuredevops/overview.mdx
  website/pages/docs/plugins/sources/cloudflare/overview.mdx
  website/pages/docs/plugins/sources/datadog/overview.mdx
  website/pages/docs/plugins/sources/digitalocean/overview.mdx
  website/pages/docs/plugins/sources/fastly/overview.mdx
  website/pages/docs/plugins/sources/gandi/overview.mdx
  website/pages/docs/plugins/sources/gcp/overview.mdx
  website/pages/docs/plugins/sources/github/overview.mdx
  website/pages/docs/plugins/sources/gitlab/overview.mdx
  website/pages/docs/plugins/sources/hackernews/overview.mdx
  website/pages/docs/plugins/sources/heroku/overview.mdx
  website/pages/docs/plugins/sources/hubspot/overview.mdx
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/launchdarkly/overview.mdx
  website/pages/docs/plugins/sources/mixpanel/overview.mdx
  website/pages/docs/plugins/sources/okta/overview.mdx
  website/pages/docs/plugins/sources/oracle/overview.mdx
  website/pages/docs/plugins/sources/pagerduty/overview.mdx
  website/pages/docs/plugins/sources/plausible/overview.mdx
  website/pages/docs/plugins/sources/salesforce/overview.mdx
  website/pages/docs/plugins/sources/shopify/overview.mdx
  website/pages/docs/plugins/sources/slack/overview.mdx
  website/pages/docs/plugins/sources/snyk/overview.mdx
  website/pages/docs/plugins/sources/stripe/overview.mdx
  website/pages/docs/plugins/sources/tailscale/overview.mdx
  website/pages/docs/plugins/sources/terraform/overview.mdx
  website/pages/docs/plugins/sources/vercel/overview.mdx
Labels: automerge, cloudflare, digitalocean, gcp, github, k8s, okta, website, priority merge, gandi, datadog, vercel, slack, fastly, shopify, snyk, hackernews, stripe, tailscale, mixpanel, launchdarkly

#8140 feat: Add Support resources (includes AWS Trusted Advisor)
  plugins/source/aws/client/client.go
  plugins/source/aws/client/columns.go
  plugins/source/aws/client/mocks/support.go
  plugins/source/aws/client/multiplexers.go
  plugins/source/aws/client/resolvers.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/support.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_support_case_communications.md
  plugins/source/aws/docs/tables/aws_support_cases.md
  plugins/source/aws/docs/tables/aws_support_services.md
  plugins/source/aws/docs/tables/aws_support_severity_levels.md
  plugins/source/aws/docs/tables/aws_support_trusted_advisor_check_results.md
  plugins/source/aws/docs/tables/aws_support_trusted_advisor_check_summaries.md
  plugins/source/aws/docs/tables/aws_support_trusted_advisor_checks.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/support/cases.go
  plugins/source/aws/resources/services/support/cases_test.go
  plugins/source/aws/resources/services/support/communications.go
  plugins/source/aws/resources/services/support/services.go
  plugins/source/aws/resources/services/support/services_test.go
  plugins/source/aws/resources/services/support/severity_levels.go
  plugins/source/aws/resources/services/support/severity_levels_test.go
  plugins/source/aws/resources/services/support/trusted_advisor_check_results.go
  plugins/source/aws/resources/services/support/trusted_advisor_check_summaries.go
  plugins/source/aws/resources/services/support/trusted_advisor_checks.go
  plugins/source/aws/resources/services/support/trusted_advisor_checks_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8152 fix(aws): Fix error handling int `aws_alternate_contact` fetching
  plugins/source/aws/resources/services/account/alternate_contacts_fetch.go
Labels: aws, automerge

#8149 feat(readme): Add release guide section
  scaffold/cmd/templates/source/README.md.tpl
Labels: automerge

#7819 feat(pg): Faster migrations
  plugins/destination/postgresql/README.md
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#8160 fix(aws): Fix S3 Access Points
  plugins/source/aws/resources/services/s3/access_points.go
  plugins/source/aws/resources/services/s3/access_points_fetch.go
Labels: aws, automerge

#8162 fix(aws): Ignore Default ECR Errors
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecrpublic/repositories_fetch.go
Labels: aws, automerge

#8164 fix(aws): Fix error for Empty Backup Notification
  plugins/source/aws/resources/services/backup/vaults_fetch.go
Labels: aws, automerge

#8168 chore: Add support for extra columns in Athena aws_resources view
  plugins/source/aws/views/athena/README.md
  plugins/source/aws/views/athena/main.go
Labels: aws, automerge

#8171 chore: Add link to plugin-sdk from readme
  README.md
Labels: automerge

#8170 chore(gcp): Typo
  plugins/source/gcp/client/client.go
Labels: automerge, gcp

#8174 chore(docs): Add link to video tutorial
  website/pages/docs/developers/creating-new-plugin.md
Labels: automerge, website

#8173 chore(docs): Add more details to the Scaffold Readme
  scaffold/README.md
Labels: automerge

#8166 feat(sqlite-migration): Switch to SDK methods for migrating data
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/types.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Labels: automerge, sqlite

#8169 chore(website): Fix website header for mobile
  website/components/pages/home.tsx
Labels: automerge, website

#8175 feat(test): Add testdata table
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/services/test.go
  plugins/source/test/resources/services/testdata.go
Labels: automerge

#7975 feat(source-pg): New Postgres source plugin with CDC
  .github/pr_labeler.yml
  .github/workflows/source_postgresql.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/postgresql/.gitignore
  plugins/source/postgresql/.goreleaser.yaml
  plugins/source/postgresql/CONTRIBUTING.md
  plugins/source/postgresql/Makefile
  plugins/source/postgresql/README.md
  plugins/source/postgresql/client/cdc.go
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/client/errors.go
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/pgx_log_level.go
  plugins/source/postgresql/client/spec.go
  plugins/source/postgresql/client/sync.go
  plugins/source/postgresql/client/transformer.go
  plugins/source/postgresql/client/types.go
  plugins/source/postgresql/go.mod
  plugins/source/postgresql/go.sum
  plugins/source/postgresql/main.go
  plugins/source/postgresql/resources/plugin/plugin.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
  plugins/source/postgresql/resources/plugin/tables.go
  release-please-config.json
  website/pages/docs/plugins/sources/postgresql/_meta.json
  website/pages/docs/plugins/sources/postgresql/cdc.md
  website/pages/docs/plugins/sources/postgresql/overview.mdx
  website/pages/docs/plugins/sources/postgresql/tables.md
Labels: automerge, website

#8228 fix(missing-tables): Skip test plugin
  scripts/missing_tables/main.go
Labels: automerge

#7936 feat(gcp-spec): Add `organization_ids` and `organization_filter`
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/spec.go
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, gcp, website

#8141 feat(aws): CloudFormation stack_resources to include stack id
  plugins/source/aws/docs/tables/aws_cloudformation_stack_resources.md
  plugins/source/aws/resources/services/cloudformation/stack_resources.go
  plugins/source/aws/resources/services/cloudformation/stacks.go
Labels: aws, automerge

#8187 chore(website): PostgreSQL CDC blog
  website/pages/blog/postgres-cdc-to-any-destination.mdx
Labels: automerge, website

#8257 fix(website): Broken link from CDC blog
  website/pages/blog/postgres-cdc-to-any-destination.mdx
Labels: automerge, website, priority merge

#8256 chore(file): Enable JSON:SkipMigrateAppend in testing
  plugins/destination/file/client/client_test.go
Labels: automerge, file

#8260 feat(aws): Support RDS Reserved Instances
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_rds_reserved_instances.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/rds/instances.go
  plugins/source/aws/resources/services/rds/instances_fetch.go
  plugins/source/aws/resources/services/rds/mock_test.go
  plugins/source/aws/resources/services/rds/reserved_instances.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8262 feat(deps): Update File plugin-sdk to v1.38.2
  plugins/destination/file/client/client_test.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
Labels: automerge, file

#8255 feat(deps): Update ClickHouse plugin-sdk to v1.38.2
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/queries/create_table.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/create_table.sql
Labels: automerge, clickhouse

#8259 feat(deps): Update Elasticsearch plugin-sdk to v1.38.2
  plugins/destination/elasticsearch/client/client_test.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: automerge, priority merge, elasticsearch

#8323 feat(deps): Update MongoDB plugin-sdk to v1.38.2
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#8326 fix(migrate): Make `_cq_id` unique
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, postgresql

#8321 fix(aws)!: Rename `aws_organization_resource_policies` to `aws_organizations_resource_policies`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_organizations_resource_policies.md
  plugins/source/aws/resources/services/organizations/resource_policies.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8333 feat(aws): Add Support for CloudTrail Events With Incremental Table support
  plugins/source/aws/client/client.go
  plugins/source/aws/client/mocks/cloudtrail.go
  plugins/source/aws/client/services/cloudtrail.go
  plugins/source/aws/client/testing.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_cloudtrail_events.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudtrail/events.go
  plugins/source/aws/resources/services/cloudtrail/events_mock_test.go
  plugins/source/aws/resources/services/iam/credential_reports_mock_test.go
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website
