Repository cloudquery/cloudquery, pull requests merged in 2023-03, with the labels that each got.

#8556 feat(github): Add support for app-based authentication and filtering by repository
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/multiplexer.go
  plugins/source/github/client/services.go
  plugins/source/github/client/spec.go
  plugins/source/github/client/testing.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  website/pages/docs/plugins/sources/github/_authentication.mdx
  website/pages/docs/plugins/sources/github/_configuration.mdx
Labels: automerge, github, website

#8488 feat(website): Add `migrate_mode` docs, update migration docs
  website/pages/docs/advanced-topics/migrations.md
  website/pages/docs/reference/destination-spec.md
Labels: automerge, website

#8663 feat(clickhouse): Support distributed DDL
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec.go
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/columns_test.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/col_add_cluster.sql
  plugins/destination/clickhouse/queries/testdata/col_drop_cluster.sql
  plugins/destination/clickhouse/queries/testdata/create_table_cluster.sql
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website, clickhouse

#8419 fix(azure-resources)!: Remove `azure_azuredata_sql_server_registrations`
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_azuredata_sql_server_registrations.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/azuredata/sql_server_registrations.go
  plugins/source/azure/resources/services/azuredata/sql_server_registrations_fetch.go
  plugins/source/azure/resources/services/azuredata/sql_server_registrations_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#8666 chore(ci-aws): Limit sync to a single table and region
  plugins/source/aws/test/sanity.yml
Labels: aws, automerge, priority merge

#8664 chore(website): List some common use cases
  website/content/features.ts
Labels: automerge, website, priority merge

#8670 fix: Revert "fix(website): Add route to plugins _meta.json"
  website/pages/_meta.json
Labels: automerge, priority merge

#8671 feat: Add RDS BackTracks, Events and Option Groups
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_rds_cluster_backtracks.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_events.md
  plugins/source/aws/docs/tables/aws_rds_option_groups.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/rds/cluster_backtracks.go
  plugins/source/aws/resources/services/rds/cluster_backtracks_mock_test.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/events.go
  plugins/source/aws/resources/services/rds/events_mock_test.go
  plugins/source/aws/resources/services/rds/mock_test.go
  plugins/source/aws/resources/services/rds/option_groups.go
  plugins/source/aws/resources/services/rds/option_groups_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8675 feat: Add AWS plugin support for EC2 Launch Templates
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_launch_template_versions.md
  plugins/source/aws/docs/tables/aws_ec2_launch_templates.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/launch_template_versions.go
  plugins/source/aws/resources/services/ec2/launch_template_versions_fetch.go
  plugins/source/aws/resources/services/ec2/launch_templates.go
  plugins/source/aws/resources/services/ec2/launch_templates_fetch.go
  plugins/source/aws/resources/services/ec2/launch_templates_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8677 fix: SharePoint plugin data
  website/components/pluginData.tsx
Labels: automerge, website

#8681 fix(website): Remove deprecated images option
  website/next.config.mjs
Labels: automerge, website

#8683 feat(website): Enable copy button by default for all code blocks
  website/next.config.mjs
Labels: automerge, website

#8678 feat(aws): Add EC2 DHCP Options (aws_ec2_dhcp_options)
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ec2_dhcp_options.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/dhcp_options.go
  plugins/source/aws/resources/services/ec2/dhcp_options_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#8686 fix(website): Remove unstable static image config
  website/next.config.mjs
Labels: automerge, website

#8674 feat(gcp-resources): Add Compute Machine Types
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_compute_machine_types.md
  plugins/source/gcp/docs/tables/gcp_compute_zones.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/compute/machine_types.go
  plugins/source/gcp/resources/services/compute/zones.go
  plugins/source/gcp/resources/services/compute/zones_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#8676 fix(azure): Set date range in cost management queries
  plugins/source/azure/go.mod
  plugins/source/azure/resources/services/costmanagement/daterange.go
  plugins/source/azure/resources/services/costmanagement/daterange_test.go
  plugins/source/azure/resources/services/costmanagement/view_queries_fetch.go
Labels: azure, automerge

#8696 feat(azure-resources): Add Monitor Autoscale Settings
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/monitor/autoscale_settings.go
  plugins/source/azure/resources/services/monitor/autoscale_settings_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_monitor_autoscale_settings.md
Labels: azure, automerge, website

#8692 fix(website): Set plugins menu route to '#'
  website/pages/_meta.json
Labels: automerge, website

#8695 feat(website): Add tables to sitemap
  website/next-sitemap.config.js
  website/utils/tables-data.js
  website/utils/tables.ts
Labels: automerge, website

#8694 chore: Remove table files from `.gitattributes`
  .gitattributes
Labels: automerge

#8723 chore(docs): Fix header in readme
  .github/styles/Vocab/Base/accept.txt
  README.md
Labels: automerge

#8724 fix(ci): Remove trailing slash from URL on scheduled broken links check
  .github/workflows/broken_links.yml
Labels: automerge

#8738 feat(deps): Update to filetypes v1.5.0 arrow support
  plugins/destination/file/client/client.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
Labels: automerge, file

#8729 fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.42.0
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/aiplatform/dataset_locations_mock_test.go
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/apikeys/keys_mock_test.go
  plugins/source/gcp/resources/services/iam/deny_policies.go
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/gcp/resources/services/iam/deny_policies_mock_test.go
  website/tables/gcp/gcp_aiplatform_batch_prediction_jobs.md
  website/tables/gcp/gcp_aiplatform_datasets.md
  website/tables/gcp/gcp_aiplatform_index_endpoints.md
  website/tables/gcp/gcp_aiplatform_models.md
  website/tables/gcp/gcp_artifactregistry_docker_images.md
  website/tables/gcp/gcp_artifactregistry_files.md
  website/tables/gcp/gcp_container_clusters.md
  website/tables/gcp/gcp_secretmanager_secrets.md
  website/tables/gcp/gcp_vmmigration_source_migrating_vm_clone_jobs.md
  website/tables/gcp/gcp_vmmigration_source_migrating_vm_cutover_jobs.md
Labels: automerge, gcp, website

#8740 feat(gcs): Update to filetypes v1.5.0 with arrow support
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
Labels: automerge, gcs

#8739 feat(deps): Update to filetypes v1.5.0 with arrow support
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, s3

#8693 feat(azure-resources): Add Subscription Diagnostic Settings
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/monitor/subscription_diagnostic_settings.go
  plugins/source/azure/resources/services/monitor/subscription_diagnostic_settings_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_monitor_subscription_diagnostic_settings.md
Labels: azure, automerge, website

#8735 fix(deps): Update ReadFile function from io/ioutil to os
  scripts/missing_tables/main.go
Labels: automerge

#8742 feat(firehose): Update to v1.5.0 with arrow support
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
Labels: automerge, firehose

#8726 feat(aws-resources): Add IAM Access Advisor
  plugins/source/aws/client/mocks/iam.go
  plugins/source/aws/client/services/iam.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/iam/groups.go
  plugins/source/aws/resources/services/iam/groups_mock_test.go
  plugins/source/aws/resources/services/iam/last_accessed_details.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policies_mock_test.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/roles_mock_test.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_iam_group_last_accessed_details.md
  website/tables/aws/aws_iam_groups.md
  website/tables/aws/aws_iam_policies.md
  website/tables/aws/aws_iam_policy_last_accessed_details.md
  website/tables/aws/aws_iam_role_last_accessed_details.md
  website/tables/aws/aws_iam_roles.md
  website/tables/aws/aws_iam_user_last_accessed_details.md
  website/tables/aws/aws_iam_users.md
Labels: aws, automerge, website

#8766 fix(website): Fix SharePoint link
  website/components/pluginData.tsx
Labels: automerge, website, priority merge

#8734 chore(release): Sort release-please files
  release-please-config.json
Labels: automerge, priority merge

#8769 fix: Add Sentry logging for SQLite plugin
  plugins/destination/sqlite/main.go
Labels: automerge, sqlite

#8771 fix: Add Sentry logging for GitLab
  plugins/source/gitlab/main.go
Labels: automerge, gitlab

#8791 fix: Respect tables and skip_tables config in PostgreSQL source plugin
  plugins/source/postgresql/client/client.go
  plugins/source/postgresql/resources/plugin/plugin_test.go
Labels: automerge, source-postgresql

#8816 chore(ci): Ignore PR labeler errors
  .github/workflows/pr_labeler.yml
Labels: automerge

#8804 chore(ci): Add workflow to auto sort some files
  .github/workflows/auto_sort_files.yml
Labels: automerge

#8805 chore(ci): Read components list in wait for all workflow
  .github/workflows/wait_for_required_workflows.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#8823 fix(website): Add canonical links
  website/components/_app.tsx
  website/package.json
Labels: automerge, website

#8741 feat(azblob): Update filetypes to v1.5.0 with arrow support.
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
Labels: automerge, priority merge, azblob

#8833 chore(ci-deps): Update Go Releaser version in Docker files
  .github/renovate.json5
Labels: automerge

#8808 feat(aws): Add Support for VPC Service Permissions
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/ec2/vpc_endpoint_service_permissions.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services_fetch.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services_mock_test.go
  plugins/source/aws/resources/services/ec2/vpc_endpoints.go
  plugins/source/aws/resources/services/ec2/vpc_endpoints_fetch.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_vpc_endpoint_service_permissions.md
  website/tables/aws/aws_ec2_vpc_endpoint_services.md
Labels: aws, automerge, website

#8825 fix(neo4j): Logging and small fixes
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/logger.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
Labels: automerge, neo4j

#8839 doc: Add a step to add `[table].mdx` for new source plugins
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#8843 fix(dest-s3)!: Make region required and don't make getbucketlocation
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec_test.go
  website/pages/docs/plugins/destinations/s3/_authentication.mdx
  website/pages/docs/plugins/destinations/s3/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, s3

#8848 chore(website): Replace some absolute links
  website/pages/docs/plugins/sources/alicloud/overview.mdx
  website/pages/docs/plugins/sources/awspricing/overview.mdx
  website/pages/docs/plugins/sources/gitlab/configuration.md
  website/pages/docs/plugins/sources/hackernews/overview.mdx
  website/pages/docs/plugins/sources/homebrew/overview.mdx
  website/pages/docs/plugins/sources/postgresql/overview.mdx
  website/pages/docs/plugins/sources/shopify/overview.mdx
  website/pages/docs/plugins/sources/vercel/configuration.mdx
Labels: automerge, website

#8844 feat(clickhouse): Add table engine option
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec.go
  plugins/destination/clickhouse/queries/engine.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/create_table_engine.sql
  website/pages/docs/plugins/destinations/clickhouse/_configuration.mdx
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website, clickhouse

#8850 fix(oracle): Add missing fields to client ID
  plugins/source/oracle/client/client.go
Labels: automerge, oracle

#8849 chore: Don't set canonical on non production builds
  website/components/_app.tsx
  website/package-lock.json
Labels: automerge, website

#8859 chore(docs): Move duckdb Windows callout to _configuration
  website/pages/docs/plugins/destinations/duckdb/_configuration.mdx
  website/pages/docs/plugins/destinations/duckdb/overview.mdx
Labels: automerge, website

#8865 chore(website): Fix ref ver
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: automerge, website, priority merge

#8858 fix(gcp): Replace id into name on resource_id column
  plugins/source/gcp/policies/queries/compute/allow_traffic_behind_iap.sql
  plugins/source/gcp/policies/queries/compute/disks_encrypted_with_csek.sql
  plugins/source/gcp/policies/queries/compute/flow_logs_disabled_in_vpc.sql
  plugins/source/gcp/policies/queries/compute/instances_with_public_ip.sql
  plugins/source/gcp/policies/queries/compute/instances_with_shielded_vm_disabled.sql
  plugins/source/gcp/policies/queries/logging/dns_logging_disabled.sql
Labels: automerge, gcp

#8689 feat(aws): Add EC2 image launch permissions resource (`aws_ec2_image_launch_permissions`)
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/ec2/image_attributes.go
  plugins/source/aws/resources/services/ec2/images.go
  plugins/source/aws/resources/services/ec2/images_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_image_launch_permissions.md
  website/tables/aws/aws_ec2_images.md
Labels: aws, automerge, website

#8841 feat(azure-resources): Add Service Bus Namespace resources
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/services/servicebus/namespaces.go
  plugins/source/azure/resources/services/servicebus/namespaces_mock_test.go
  plugins/source/azure/resources/services/servicebus/topic_authorization_rules.go
  plugins/source/azure/resources/services/servicebus/topic_rules_access_keys.go
  plugins/source/azure/resources/services/servicebus/topics.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_servicebus_namespace_topic_authorization_rules.md
  website/tables/azure/azure_servicebus_namespace_topic_rule_access_keys.md
  website/tables/azure/azure_servicebus_namespace_topics.md
  website/tables/azure/azure_servicebus_namespaces.md
Labels: azure, automerge, website

#8877 fix(azure-resources): Retrieve instance view when sync `azure_compute_virtual_machine_scale_set_vms`
  plugins/source/azure/resources/services/compute/virtual_machine_scale_set_vms.go
Labels: azure, automerge

#8872 refactor: Rename getCanaonicalUrl to getCanonicalUrl
  website/components/_app.tsx
Labels: automerge, website

#8880 feat(ci): Add tables summary to releases
  .github/workflows/release_summary.yml
Labels: automerge

#8874 feat(ci): Align table summary with migration logic
  scripts/table_diff/changes/changes.go
Labels: automerge

#8881 feat: Add MySQL source
  .github/pr_labeler.yml
  .github/workflows/source_mysql.yml
  plugins/source/mysql/.gitignore
  plugins/source/mysql/.goreleaser.yaml
  plugins/source/mysql/CONTRIBUTING.md
  plugins/source/mysql/Makefile
  plugins/source/mysql/README.md
  plugins/source/mysql/client/client.go
  plugins/source/mysql/client/list_tables.go
  plugins/source/mysql/client/spec.go
  plugins/source/mysql/client/sync.go
  plugins/source/mysql/client/transformer.go
  plugins/source/mysql/client/types.go
  plugins/source/mysql/go.mod
  plugins/source/mysql/go.sum
  plugins/source/mysql/main.go
  plugins/source/mysql/resources/plugin/plugin.go
  plugins/source/mysql/resources/plugin/plugin_test.go
  plugins/source/mysql/resources/plugin/tables.go
  release-please-config.json
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/mysql/_configuration.mdx
  website/pages/docs/plugins/sources/mysql/_meta.json
  website/pages/docs/plugins/sources/mysql/overview.mdx
  website/pages/docs/plugins/sources/mysql/tables.md
Labels: automerge, website

#8921 fix(website): Handle source -> dest integration with the same id
  website/components/pages/IntegrationSourceDestination.tsx
  website/scripts/prebuild.tsx
Labels: automerge, website

#8917 chore(website): Document Azure resources view
  website/pages/docs/plugins/sources/azure/views.md
Labels: automerge, website

#8915 chore(website): Add a CQ vs CloudSploit page
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/cq-vs-others/cloudsploit.md
Labels: automerge, website

#8916 chore(docs): Add documentation about AWS resources view
  website/pages/docs/plugins/sources/aws/views.md
Labels: automerge, website

#8870 fix(aws-resources-functions): Save function configuration instead of failing on `AccessDenied` or `AccessDeniedException` errors in `aws_lambda_functions`
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Labels: aws, automerge

#8924 fix(mysql-migrate): Properly set `NotNull` when a column is a primary Key
  plugins/destination/mysql/client/migrate.go
Labels: automerge, priority merge, mysql

#8928 chore(website): Update meta.json for CQ comparison pages
  website/pages/docs/cq-vs-others/_meta.json
Labels: automerge, website

#8554 feat(postgresql)!: Update Internal CQ IDs on Upsert
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#8939 fix: Use the correct path for test file
  plugins/destination/s3/client/client.go
Labels: s3

#8935 fix(aws): Fix description for `aws_organizations_delegated_administrators`
  plugins/source/aws/resources/services/organizations/delegated_admins.go
  website/tables/aws/aws_organizations_delegated_administrators.md
Labels: aws, automerge, website

#8937 feat(aws): Add AWS EC2 AccountAttributes
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/account_attributes.go
  plugins/source/aws/resources/services/ec2/account_attributes_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_account_attributes.md
Labels: aws, automerge, website

#8947 chore(website): Document GCP resources view
  website/pages/docs/plugins/sources/gcp/views.md
Labels: automerge, website

#8926 fix(source-postgres): Support more Postgres and CockroachDB types
  plugins/source/postgresql/client/transformer.go
  plugins/source/postgresql/client/types.go
  plugins/source/postgresql/go.mod
  plugins/source/postgresql/resources/plugin/plugin_test.go
Labels: automerge, source-postgresql

#8992 chore(docs): Update titles for awspricing
  plugins/source/awspricing/resources/products.go
  plugins/source/awspricing/resources/services.go
  plugins/source/awspricing/resources/terms.go
  website/tables/awspricing/awspricing_service_products.md
  website/tables/awspricing/awspricing_service_terms.md
  website/tables/awspricing/awspricing_services.md
Labels: automerge, website, awspricing

#8803 feat: Add command to generate sources tables
  cli/cmd/doc_test.go
  cli/cmd/root.go
  cli/cmd/tables.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_tables.md
Labels: automerge, cli, website, priority merge

#9006 chore(docs): Update table descriptions for Homebrew
  plugins/source/homebrew/internal/homebrew/analytics.go
  plugins/source/homebrew/resources/services/analytics/build_errors.go
  plugins/source/homebrew/resources/services/analytics/cask_installs.go
  plugins/source/homebrew/resources/services/analytics/installs.go
  website/tables/homebrew/homebrew_analytics_build_errors_30d.md
  website/tables/homebrew/homebrew_analytics_build_errors_365d.md
  website/tables/homebrew/homebrew_analytics_build_errors_90d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_30d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_365d.md
  website/tables/homebrew/homebrew_analytics_cask_installs_90d.md
  website/tables/homebrew/homebrew_analytics_installs_30d.md
  website/tables/homebrew/homebrew_analytics_installs_365d.md
  website/tables/homebrew/homebrew_analytics_installs_90d.md
Labels: automerge, website, homebrew

#9005 chore(docs): Update table descriptions for Gandi
  plugins/source/gandi/resources/plugin/plugin.go
  website/tables/gandi/gandi_domain_dnssec_keys.md
  website/tables/gandi/gandi_domain_livedns.md
  website/tables/gandi/gandi_livedns_domain_snapshots.md
  website/tables/gandi/gandi_livedns_domains.md
  website/tables/gandi/gandi_simplehosting_instance_vhosts.md
  website/tables/gandi/gandi_simplehosting_instances.md
Labels: website, gandi

#9003 chore(docs): Update table titles for DigitalOcean tables
  plugins/source/digitalocean/resources/plugin/plugin.go
  website/tables/digitalocean/digitalocean_accounts.md
  website/tables/digitalocean/digitalocean_balances.md
  website/tables/digitalocean/digitalocean_billing_history.md
  website/tables/digitalocean/digitalocean_cdns.md
  website/tables/digitalocean/digitalocean_certificates.md
  website/tables/digitalocean/digitalocean_database_backups.md
  website/tables/digitalocean/digitalocean_database_firewall_rules.md
  website/tables/digitalocean/digitalocean_database_replicas.md
  website/tables/digitalocean/digitalocean_databases.md
  website/tables/digitalocean/digitalocean_domain_records.md
  website/tables/digitalocean/digitalocean_domains.md
  website/tables/digitalocean/digitalocean_droplet_neighbors.md
  website/tables/digitalocean/digitalocean_droplets.md
  website/tables/digitalocean/digitalocean_firewalls.md
  website/tables/digitalocean/digitalocean_floating_ips.md
  website/tables/digitalocean/digitalocean_images.md
  website/tables/digitalocean/digitalocean_keys.md
  website/tables/digitalocean/digitalocean_monitoring_alert_policies.md
  website/tables/digitalocean/digitalocean_project_resources.md
  website/tables/digitalocean/digitalocean_projects.md
  website/tables/digitalocean/digitalocean_registries.md
  website/tables/digitalocean/digitalocean_registry_repositories.md
  website/tables/digitalocean/digitalocean_sizes.md
  website/tables/digitalocean/digitalocean_snapshots.md
  website/tables/digitalocean/digitalocean_space_cors.md
  website/tables/digitalocean/digitalocean_spaces.md
  website/tables/digitalocean/digitalocean_storage_volumes.md
  website/tables/digitalocean/digitalocean_vpc_members.md
  website/tables/digitalocean/digitalocean_vpcs.md
Labels: digitalocean, website

#8938 feat(aws): Add AWS Organizations Delegated Services
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/organizations/accounts.go
  plugins/source/aws/resources/services/organizations/accounts_mock_test.go
  plugins/source/aws/resources/services/organizations/delegated_services.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_organizations_accounts.md
  website/tables/aws/aws_organizations_delegated_services.md
Labels: aws, automerge, website, priority merge

#9014 chore(repo-config): Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_destination_plugin.yml
  .github/ISSUE_TEMPLATE/new_resource.md
  .github/ISSUE_TEMPLATE/new_resource.yml
  .github/ISSUE_TEMPLATE/new_source_plugin.yml
Labels: automerge, priority merge

#9027 fix: Update new_source_plugin.yml template
  .github/ISSUE_TEMPLATE/new_source_plugin.yml
Labels: automerge, priority merge

#9030 fix: Update new_destination_plugin.yml
  .github/ISSUE_TEMPLATE/new_destination_plugin.yml
Labels: automerge, priority merge

#9025 fix(cmd-tables): Call terminate client after docs generation
  cli/cmd/tables.go
  cli/cmd/tables_test.go
  cli/cmd/testdata/multiple-sources.yml
Labels: automerge, cli, priority merge

#8930 feat(aws): Add Compute Optimizer Resource
  plugins/source/aws/client/mocks/computeoptimizer.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/computeoptimizer.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/plugin.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/computeoptimizer/autoscaling_groups_recommendations.go
  plugins/source/aws/resources/services/computeoptimizer/autoscaling_groups_recommendations_mock_test.go
  plugins/source/aws/resources/services/computeoptimizer/ebs_volume_recommendations.go
  plugins/source/aws/resources/services/computeoptimizer/ebs_volume_recommendations_mock_test.go
  plugins/source/aws/resources/services/computeoptimizer/ec2_instance_recommendations.go
  plugins/source/aws/resources/services/computeoptimizer/ec2_instance_recommendations_mock_test.go
  plugins/source/aws/resources/services/computeoptimizer/ecs_service_recommendations.go
  plugins/source/aws/resources/services/computeoptimizer/ecs_service_recommendations_mock_test.go
  plugins/source/aws/resources/services/computeoptimizer/enrollment_status.go
  plugins/source/aws/resources/services/computeoptimizer/enrollment_status_mock_test.go
  plugins/source/aws/resources/services/computeoptimizer/lambda_functions_recommendations.go
  plugins/source/aws/resources/services/computeoptimizer/lambda_functions_recommendations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_computeoptimizer_autoscaling_group_recommendations.md
  website/tables/aws/aws_computeoptimizer_ebs_volume_recommendations.md
  website/tables/aws/aws_computeoptimizer_ec2_instance_recommendations.md
  website/tables/aws/aws_computeoptimizer_ecs_service_recommendations.md
  website/tables/aws/aws_computeoptimizer_enrollment_statuses.md
  website/tables/aws/aws_computeoptimizer_lambda_function_recommendations.md
Labels: aws, automerge, website, priority merge

#9063 fix(website-k8s): Use MDX instead of MD for configuration docs
  website/pages/docs/plugins/sources/k8s/configuration.mdx
Labels: automerge, website, priority merge

#9065 fix(website-pagerduty): Use MDX instead of MD for configuration docs
  website/pages/docs/plugins/sources/pagerduty/configuration.mdx
Labels: automerge, website

#8842 feat: Gremlin destination
  .github/pr_labeler.yml
  .github/workflows/dest_gremlin.yml
  plugins/destination/gremlin/.gitignore
  plugins/destination/gremlin/.goreleaser.yaml
  plugins/destination/gremlin/CONTRIBUTING.md
  plugins/destination/gremlin/Makefile
  plugins/destination/gremlin/README.md
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/client/deletestale.go
  plugins/destination/gremlin/client/logger.go
  plugins/destination/gremlin/client/migrate.go
  plugins/destination/gremlin/client/read.go
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/client/transformer.go
  plugins/destination/gremlin/client/write.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/gremlin/main.go
  plugins/destination/gremlin/resources/plugin/plugin.go
  website/components/pluginData.tsx
  website/pages/docs/plugins/destinations/gremlin/_configuration.mdx
  website/pages/docs/plugins/destinations/gremlin/_meta.json
  website/pages/docs/plugins/destinations/gremlin/overview.mdx
  website/public/images/logos/plugins/gremlin.svg
Labels: automerge, website

#9057 doc: Add 'skip_tables' to quickstart guide
  website/components/mdx/_configure-source.mdx
Labels: automerge, website

#9101 fix(aws): Fixed `aws_ecs_clusters` fetch to include cluster settings
  plugins/source/aws/resources/services/ecs/clusters_fetch.go
Labels: aws, automerge

#9104 chore(website): Add gremlin to release-please
  release-please-config.json
Labels: automerge, priority merge

#9064 chore(website): Add pages for unpublished / in-progress plugins
  website/components/Category.tsx
  website/components/Destinations.tsx
  website/components/Integrations.tsx
  website/components/LogoContainer.tsx
  website/components/RequestedSources.tsx
  website/components/Sources.tsx
  website/components/pages/IntegrationSource.tsx
  website/components/pages/IntegrationSourceDestination.tsx
  website/components/pages/home.tsx
  website/components/pages/integrations.tsx
  website/components/pages/new-source-plugin.tsx
  website/components/pluginData.tsx
  website/pages/_meta.json
  website/pages/docs/plugins/sources/awspricing/_configuration.mdx
  website/pages/docs/plugins/sources/awspricing/overview.mdx
  website/pages/integrations.mdx
  website/pages/new-source-plugin.mdx
  website/public/images/logos/plugins/default-dark.svg
  website/public/images/logos/plugins/default.svg
  website/scripts/prebuild.tsx
Labels: automerge, website

#9110 feat: Add dns section to troubleshooting guide
  website/pages/docs/troubleshooting.md
Labels: automerge, website

#9109 feat(azure): Add azure_appservice_web_app_configurations resource
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/services/appservice/web_app_configurations.go
  plugins/source/azure/resources/services/appservice/web_app_configurations_mock_test.go
  plugins/source/azure/resources/services/appservice/web_apps.go
  plugins/source/azure/resources/services/appservice/web_apps_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_appservice_web_app_configurations.md
  website/tables/azure/azure_appservice_web_apps.md
Labels: azure, automerge, website

#9079 fix(aws): AWS Password Policy Saved Query
  plugins/source/aws/policies/queries/iam/password_policy_expire_old_passwords.sql
Labels: aws, automerge, priority merge

#9116 fix(resources)!: Don't list billing and enrollment accounts per subscription
  plugins/source/azure/resources/services/billing/accounts.go
  plugins/source/azure/resources/services/billing/enrollment_accounts.go
  website/tables/azure/azure_billing_accounts.md
  website/tables/azure/azure_billing_enrollment_accounts.md
Labels: azure, automerge, website

#9119 chore(aws): Use `DESTINATION_NAME` in AWS source config examples
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, website

#9123 fix(website): Support multiple authors in blog posts
  website/components/BlogHeader.tsx
Labels: automerge, website

#9121 chore(website): Update logos for requested or in-progress plugins
  website/components/Category.tsx
  website/components/LogoContainer.tsx
  website/components/pages/new-source-plugin.tsx
  website/components/pluginData.tsx
  website/public/images/logos/plugins/aftership.svg
  website/public/images/logos/plugins/airtable.svg
  website/public/images/logos/plugins/amazon-dark.svg
  website/public/images/logos/plugins/amazon.svg
  website/public/images/logos/plugins/amplitude.svg
  website/public/images/logos/plugins/bamboohr.svg
  website/public/images/logos/plugins/baremetrics.svg
  website/public/images/logos/plugins/bingads.svg
  website/public/images/logos/plugins/bitbucket.svg
  website/public/images/logos/plugins/chargebee-dark.svg
  website/public/images/logos/plugins/chargebee.svg
  website/public/images/logos/plugins/cloudinary.svg
  website/public/images/logos/plugins/gmail.svg
  website/public/images/logos/plugins/google-ads-dark.svg
  website/public/images/logos/plugins/google-ads.svg
  website/public/images/logos/plugins/google-sheets.svg
  website/public/images/logos/plugins/hashicorp-vault-dark.svg
  website/public/images/logos/plugins/hashicorp-vault.svg
  website/public/images/logos/plugins/infoblox-dark.svg
  website/public/images/logos/plugins/infoblox.png
  website/public/images/logos/plugins/infoblox.svg
  website/public/images/logos/plugins/intercom.svg
  website/public/images/logos/plugins/jira.svg
  website/public/images/logos/plugins/linkedin.svg
  website/public/images/logos/plugins/mailchimp.svg
  website/public/images/logos/plugins/mailgun.svg
  website/public/images/logos/plugins/marketo.svg
  website/public/images/logos/plugins/monday.svg
  website/public/images/logos/plugins/paypal.svg
  website/public/images/logos/plugins/prisma-dark.svg
  website/public/images/logos/plugins/prisma.svg
  website/public/images/logos/plugins/reddit.svg
  website/public/images/logos/plugins/sendgrid.svg
  website/public/images/logos/plugins/shippo.svg
  website/public/images/logos/plugins/sonatype.svg
  website/public/images/logos/plugins/square-dark.svg
  website/public/images/logos/plugins/square.svg
  website/public/images/logos/plugins/twilio.svg
  website/public/images/logos/plugins/typeform-dark.svg
  website/public/images/logos/plugins/typeform.svg
  website/public/images/logos/plugins/zoho.svg
  website/public/images/logos/plugins/zoom.svg
Labels: automerge, website

#9125 fix(aws)!: Fix DynamoDB PITR Query
  plugins/source/aws/policies/queries/dynamodb/point_in_time_recovery.sql
Labels: aws, automerge

#9139 chore(website): Blog: What is the modern data stack
  website/pages/blog/what-is-the-modern-data-stack.mdx
  website/public/images/blog/what_is_the_modern_data_stack/architecture.png
Labels: automerge, website

#9143 fix(postgresql): Normalize types in Postgres destination
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/types.go
Labels: postgresql

#9144 feat!: Add ability to override CSV File options (headers and delimiters)
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  website/pages/docs/plugins/destinations/file/overview.mdx
Labels: automerge, website, file

#9152 feat(azblob): Update to filetypes v1.6.0
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
Labels: automerge, azblob

#9151 feat(gcs): Update to filetypes v1.6.0
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
Labels: automerge, gcs

#9154 feat(firehose): Update to filetypes v1.6.0
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
Labels: automerge, firehose

#9159 fix(website): Improve documentation for `skip_dependent_tables`
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#9138 feat(website): Render integrations on demand on non production builds
  website/.gitignore
  website/next-sitemap.config.js
  website/pages/.gitignore
  website/pages/integrations/[...slug].mdx
  website/pages/integrations/_meta.json
  website/scripts/prebuild.tsx
  website/utils/integrations.js
Labels: automerge, website

#9163 feat(azure): File Shares
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/accounts_mock_test.go
  plugins/source/azure/resources/services/storage/file_shares.go
  plugins/source/azure/resources/services/storage/file_shares_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_storage_accounts.md
  website/tables/azure/azure_storage_file_shares.md
Labels: azure, automerge, website

#9149 feat(s3): Update filetypes to v1.6.0
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, s3

#9164 fix(clickhouse-brokenlinks): Update ClickHouse links
  website/pages/docs/plugins/destinations/clickhouse/overview.mdx
Labels: website

#9128 doc(website): Hexagon blog post
  website/components/Avatar.tsx
  website/components/BlogHeader.tsx
  website/components/HowToGuideHeader.tsx
  website/content/authors.ts
  website/content/team.ts
  website/pages/blog/how-hexagon-built-an-infrastructure-data-platform.mdx
  website/public/images/blog/how-hexagon-built-an-infrastructure-data-platform/hexagon-architecture.png
  website/public/images/people/peterfigueiredo.jpg
Labels: automerge, website, priority merge

#9182 feat(azure-resources): Add Compute SSH Public Keys
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/ssh_public_keys.go
  plugins/source/azure/resources/services/compute/ssh_public_keys_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_compute_ssh_public_keys.md
Labels: azure, automerge, website

#9158 feat: Add azure_resources_resource_groups table
  plugins/source/azure/client/client.go
  plugins/source/azure/client/multiplexer.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/resources/resource_groups.go
  plugins/source/azure/resources/services/resources/resource_groups_mock_test.go
  plugins/source/azure/resources/services/resources/resources.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_resources_resource_groups.md
  website/tables/azure/azure_resources_resources.md
Labels: azure, automerge, website

#9256 chore(website): Update Docs to show information for new Source Spec option
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#8691 feat(website): Add ECS Tutorial
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/ecs.md
Labels: automerge, website

#9260 fix(ci-release-summary): Better handling of PRs with breaking changes
  .github/workflows/release_summary.yml
Labels: automerge

#9021 feat(aws): Add Support for Sagemaker Apps
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/sagemaker/apps.go
  plugins/source/aws/resources/services/sagemaker/apps_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_sagemaker_apps.md
Labels: aws, automerge, website

#9263 chore(aws): Refactor ECR code
  plugins/source/aws/resources/services/ecr/registries.go
  plugins/source/aws/resources/services/ecr/registries_fetch.go
  plugins/source/aws/resources/services/ecr/registry_policies.go
  plugins/source/aws/resources/services/ecr/registry_policies_fetch.go
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecr/repository_image_scan_findings.go
  plugins/source/aws/resources/services/ecr/repository_images.go
Labels: aws, automerge

#9267 fix(aws-policies): Fix AWS Default Security Group query
  plugins/source/aws/policies/queries/ec2/default_sg_no_access.sql
Labels: aws, automerge

#9262 chore(cli-testing): Test that --cq-dir parameter is used when caching plugins
  cli/cmd/sync_test.go
Labels: automerge, cli

#9297 feat: Add `member_id` to `aws_identitystore_group_memberships`
  plugins/source/aws/resources/services/identitystore/group_memberships.go
  plugins/source/aws/resources/services/identitystore/group_memberships_fetch.go
  plugins/source/aws/resources/services/identitystore/groups_mock_test.go
  website/tables/aws/aws_identitystore_group_memberships.md
Labels: aws, automerge, website, priority merge

#9259 doc(website): DuckDB blog post
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/exploring-api-data-with-duckdb.mdx
  website/public/images/blog/exploring-api-data-with-duckdb/database_landscape.png
  website/public/images/blog/exploring-api-data-with-duckdb/star-history.png
Labels: automerge, website, priority merge

#9264 fix(aws): Resolve IoT certificates in parallel instead of serially
  plugins/source/aws/resources/services/iot/certificates.go
  plugins/source/aws/resources/services/iot/iot_certificates_fetch.go
Labels: aws, automerge, priority merge

#9312 fix(cloudflare): Add ZoneId to client ID if present
  plugins/source/cloudflare/client/client.go
Labels: automerge, cloudflare, priority merge

#9322 chore(website): Close code block
  website/pages/docs/plugins/sources/googleanalytics/_authentication.mdx
Labels: automerge, website, priority merge

#9299 feat(azure-resources): VM Scale Set Network Interfaces
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/services/compute/virtual_machine_scale_set_vm_network_interfaces.go
  plugins/source/azure/resources/services/compute/virtual_machine_scale_set_vm_network_interfaces_test.go
  plugins/source/azure/resources/services/compute/virtual_machine_scale_sets.go
  plugins/source/azure/resources/services/compute/virtual_machine_scale_sets_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_compute_virtual_machine_scale_set_network_interfaces.md
  website/tables/azure/azure_compute_virtual_machine_scale_sets.md
Labels: azure, automerge, website, priority merge

#9340 fix(ci-release-summary): Set `cq-bot` as commit author
  .github/workflows/release_summary.yml
Labels: automerge, priority merge

#9334 doc(website): Add open source support pricing page
  .github/workflows/broken_links.yml
  website/components/PricingCard.tsx
  website/components/pages/pricing.tsx
  website/custom.css
  website/pages/_meta.json
  website/pages/docs/support.md
  website/pages/pricing.mdx
  website/vercel.json
Labels: automerge, website, priority merge

#9344 chore(website): Make support anually billed for now
  website/components/pages/pricing.tsx
Labels: automerge, website, priority merge

#9343 fix(blog): Update cloudquery_tailscale.mdx
  website/pages/blog/cloudquery_tailscale.mdx
Labels: automerge, website, priority merge

#9345 chore(website): Add spaces in Tailscale announcement
  website/pages/blog/cloudquery_tailscale.mdx
Labels: automerge, website

#9327 chore(website): Ease the doc wording
  website/pages/docs/plugins/sources/googleanalytics/configuration.mdx
Labels: automerge, website

#9352 fix(aws): Skip backtrack fetching if backtrack is disabled for RDS cluster
  plugins/source/aws/resources/services/rds/cluster_backtracks.go
Labels: aws, automerge

#9356 chore(website): Update pricing page
  website/components/PricingCard.tsx
  website/components/pages/pricing.tsx
Labels: automerge, website

#9257 chore(website): Update Docs to show information for new Destination Spec option
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#9359 fix(website): Add _meta.json for AWS pricing
  website/pages/docs/plugins/sources/awspricing/_meta.json
Labels: automerge, website

#9355 fix(azure): Recommend service principal authentication method
  website/pages/docs/plugins/sources/azure/overview.mdx
Labels: automerge, website

#9364 chore(website): Clarify prices as being in USD
  website/components/PricingCard.tsx
  website/components/pages/pricing.tsx
Labels: automerge, website

#9367 fix(issue-templates): Use `cloudquery --version` instead of `cloudquery version`
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: automerge

#9369 fix(azure-resources): Pass correct subscription ID when listing subscription locations
  plugins/source/azure/resources/services/subscription/locations.go
  plugins/source/azure/resources/services/subscription/locations_mock_test.go
  plugins/source/azure/resources/services/subscription/subscription_mock_test.go
Labels: azure, automerge

#9363 feat(azure-auth): Log `DefaultAzureCredential` credentials errors
  plugins/source/azure/client/client.go
Labels: azure, automerge

#9377 fix(clickhouse): Add `ON CLUSTER` for `DROP TABLE` statement
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/drop_table.sql
  plugins/destination/clickhouse/queries/testdata/drop_table_cluster.sql
Labels: automerge, clickhouse

#9370 chore(aws): Remove some unused constants
  plugins/source/aws/client/client.go
Labels: aws, automerge

#9382 feat(azure): Discover resource groups and namespaces in parallel
  plugins/source/azure/client/client.go
  plugins/source/azure/go.mod
Labels: azure, automerge

#9389 fix(shopify): Pagination should not include params in following pages
  plugins/source/shopify/internal/shopify/shopify.go
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts_fetch.go
  plugins/source/shopify/resources/services/customer/customers_fetch.go
  plugins/source/shopify/resources/services/order/orders_fetch.go
  plugins/source/shopify/resources/services/price_rule/price_rules_fetch.go
  plugins/source/shopify/resources/services/product/products_fetch.go
Labels: automerge, shopify

#9374 fix(aws): Paginate EBS Snapshots for more consistent throughput
  plugins/source/aws/resources/services/ec2/ebs_snapshots.go
  plugins/source/aws/resources/services/ec2/ebs_snapshots_fetch.go
Labels: aws, automerge

#9395 chore(website): Point to GH
  website/content/authors.ts
Labels: automerge, website

#9396 fix(ci): Release summary token v2
  .github/workflows/release_summary.yml
Labels: automerge

#9406 fix(aws): Only resolve ec2 image launch permissions when the image is owned by the AWS Account
  plugins/source/aws/resources/services/ec2/image_attributes.go
Labels: aws, automerge

#9401 chore(website): Update ASM blog title
  website/pages/how-to-guides/attack-surface-management-with-graph.mdx
Labels: automerge, website

#9410 fix(aws-policies): Fix query for open critical ports for AWS security groups
  plugins/source/aws/policies/queries/ec2/security_groups_with_open_critical_ports.sql
Labels: aws, automerge
