Repository cloudquery/cloudquery, pull requests merged in 2023-01, with the labels that each got.

#6162 feat: Add Neo4j destination
  .github/pr_labeler.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/neo4j/.gitignore
  plugins/destination/neo4j/.goreleaser.yaml
  plugins/destination/neo4j/CHANGELOG.md
  plugins/destination/neo4j/CONTRIBUTING.md
  plugins/destination/neo4j/Makefile
  plugins/destination/neo4j/README.md
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/migrate.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/neo4j/main.go
  plugins/destination/neo4j/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/neo4j/_meta.json
  website/pages/docs/plugins/destinations/neo4j/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Labels: automerge, website

#6137 chore(website): Always default to unpublished on unreleased plugins
  website/next.config.mjs
Labels: automerge, website

#6133 feat(gcp-resources): Add BeyondCorp
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/beyondcorp.go
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_connections.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_connectors.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_gateways.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_client_connector_services.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_client_gateways.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/beyondcorp/app_connections.go
  plugins/source/gcp/resources/services/beyondcorp/app_connections_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/app_connectors.go
  plugins/source/gcp/resources/services/beyondcorp/app_connectors_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/app_gateways.go
  plugins/source/gcp/resources/services/beyondcorp/app_gateways_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/client_connector_services.go
  plugins/source/gcp/resources/services/beyondcorp/client_connector_services_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/client_gateways.go
  plugins/source/gcp/resources/services/beyondcorp/client_gateways_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6155 fix(cli): Update progress bar on secondly interval
  cli/cmd/sync2.go
Labels: automerge, cli

#6128 feat(gcp-resources): Add Batch
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/batch.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_batch_jobs.md
  plugins/source/gcp/docs/tables/gcp_batch_task_groups.md
  plugins/source/gcp/docs/tables/gcp_batch_tasks.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/batch/jobs.go
  plugins/source/gcp/resources/services/batch/jobs_mock_test.go
  plugins/source/gcp/resources/services/batch/task_groups.go
  plugins/source/gcp/resources/services/batch/task_groups_mock_test.go
  plugins/source/gcp/resources/services/batch/tasks.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6213 fix(website): Azure Blob Storage table entry
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
Labels: automerge, website

#6225 test(s3): Use pre-existing bucket for tests
  plugins/destination/s3/client/client_test.go
Labels: automerge, s3

#6238 chore(website): Deprecate CSV
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Labels: automerge, website

#6226 fix(aws): Remove account validation
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/spec_test.go
Labels: aws, automerge

#6228 feat: Add Kafka destination
  .github/pr_labeler.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/kafka/.gitignore
  plugins/destination/kafka/.goreleaser.yaml
  plugins/destination/kafka/CONTRIBUTING.md
  plugins/destination/kafka/Makefile
  plugins/destination/kafka/README.md
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/deletestale.go
  plugins/destination/kafka/client/logger.go
  plugins/destination/kafka/client/metrics.go
  plugins/destination/kafka/client/migrate.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/transformer.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/docker-compose.yml
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/kafka/main.go
  plugins/destination/kafka/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/kafka/_meta.json
  website/pages/docs/plugins/destinations/kafka/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Labels: automerge, website

#6242 chore(release): Add missing filler entries
  .release-please-manifest.json
Labels: automerge

#6240 chore(deps): Ignore dependencies updates for the CSV plugin
  .github/renovate.json5
Labels: automerge

#6227 chore: Ignore merge commits when diffing Website builds
  .github/workflows/broken_links.yml
  website/scripts/diff.sh
Labels: automerge, website

#6255 fix(ci): Remove large runner from Crowdstrike
  .github/workflows/source_crowdstrike.yml
Labels: automerge

#5958 refactor(gcp-codegen): Extract generateTemplate method
  plugins/source/gcp/codegen/main.go
Labels: automerge, gcp

#6326 feat(gcp-resources): Add Error Reporting
  plugins/source/gcp/codegen/recipes/clouderrorreporting.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_events.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_group_stats.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_events.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6263 fix: Return error if read is called when `no_rotate` is false
  plugins/destination/azblob/client/read.go
  plugins/destination/file/client/read.go
  plugins/destination/gcs/client/read.go
  plugins/destination/s3/client/read.go
Labels: automerge, file, gcs, s3

#6251 feat(gcp-resources): Add Billing Budgets
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_billing_billing_accounts.md
  plugins/source/gcp/docs/tables/gcp_billing_budgets.md
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/billing_accounts_mock_test.go
  plugins/source/gcp/resources/services/billing/budgets.go
  plugins/source/gcp/resources/services/billing/budgets_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6250 feat(gcp-resources): Add Bigtable admin resources
  plugins/source/gcp/codegen/recipes/bigtableadmin.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_app_profiles.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_backups.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_clusters.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_instances.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_tables.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/bigtableadmin/app_profiles.go
  plugins/source/gcp/resources/services/bigtableadmin/app_profiles_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/backups.go
  plugins/source/gcp/resources/services/bigtableadmin/backups_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/clusters.go
  plugins/source/gcp/resources/services/bigtableadmin/clusters_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/instances.go
  plugins/source/gcp/resources/services/bigtableadmin/instances_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/instances_mock_test.go
  plugins/source/gcp/resources/services/bigtableadmin/tables.go
  plugins/source/gcp/resources/services/bigtableadmin/tables_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6334 chore(docs): Update creating_a_new_plugin.md
  contributing/creating_a_new_plugin.md
Labels: automerge

#6321 feat(gcp-resources): Add Cloud Deploy
  plugins/source/gcp/codegen/recipes/clouddeploy.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_delivery_pipelines.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_job_runs.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_releases.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_rollouts.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_targets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines_mock_test.go
  plugins/source/gcp/resources/services/clouddeploy/job_runs.go
  plugins/source/gcp/resources/services/clouddeploy/releases.go
  plugins/source/gcp/resources/services/clouddeploy/rollouts.go
  plugins/source/gcp/resources/services/clouddeploy/targets.go
  plugins/source/gcp/resources/services/clouddeploy/targets_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#5940 feat(website): Azure cost-post
  website/pages/blog/azure-cost-optimization-with-cloudquery.md
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_view_queries_props.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_views_props.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_views_props_small.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-menu.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report-annotated.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report-save.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report.png
Labels: automerge, website

#6282 fix: Error if after the migration there are `not null` columns that are not part of the new schema
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#6358 chore(website): Fix incorrect type and example for backoff_retries on GCP source plugin
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, website

#6355 feat(gcp-resources): Add Cloud IoT
  plugins/source/gcp/codegen/recipes/cloudiot.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_configs.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_registries.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_states.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_devices.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/cloudiot/device_configs.go
  plugins/source/gcp/resources/services/cloudiot/device_configs_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_mock_test.go
  plugins/source/gcp/resources/services/cloudiot/device_states.go
  plugins/source/gcp/resources/services/cloudiot/device_states_fetch.go
  plugins/source/gcp/resources/services/cloudiot/devices.go
  plugins/source/gcp/resources/services/cloudiot/devices_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6311 feat(gcp-resources): Add Certificate Manager
  plugins/source/gcp/codegen/recipes/certificatemanager.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_issuance_configs.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_map_entries.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_maps.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificates.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_dns_authorizations.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_map_entries.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificates.go
  plugins/source/gcp/resources/services/certificatemanager/certificates_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6309 feat(gcp-resources): Add Binary Authorization
  plugins/source/gcp/codegen/recipes/binaryauthorization.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_binaryauthorization_assertors.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6367 chore(ci-lint): Only enable lint caching
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Labels: automerge

#6370 fix(bigquery): Migrations: ignore extra columns in the table
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
Labels: automerge, bigquery

#6371 fix(tests): Postgresql: Read only columns defined in the schema
  plugins/destination/postgresql/client/read.go
Labels: automerge, postgresql

#6372 fix: Fix SQLite migration logic
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
Labels: automerge, sqlite

#6373 fix(tests): Fix Snowflake read test
  plugins/destination/snowflake/client/read.go
Labels: automerge, snowflake

#6419 fix(deps): Update plugin-sdk to v1.21.0 for destinations
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/file/client/client_test.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge, postgresql, priority merge, csv, sqlite, snowflake, bigquery, mongodb, file, gcs, s3, neo4j, kafka

#6415 fix(k8s): Fix a typo in source/k8s/views/resource.sql: cq_table -> _cq_table
  plugins/source/k8s/views/resource.sql
Labels: automerge, k8s

#6420 feat(cloudflare): Remove codegen, move to transformation
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/recipes_test.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource.go.tpl
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/zones/zones.go
Labels: automerge, cloudflare

#6423 feat(crowdstrike): Migrate codegen to transformations
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/codegen/recipes/templates/resource.go.tpl
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
Labels: automerge, crowdstrike

#6381 fix(bigquery): Implement some mitigations for Bigquery data and metadata delays
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/write.go
Labels: bigquery

#6425 feat(digitalocean): Migrate codegen to transformations
  plugins/source/digitalocean/Makefile
  plugins/source/digitalocean/docs/tables/digitalocean_droplets.md
  plugins/source/digitalocean/docs/tables/digitalocean_firewalls.md
  plugins/source/digitalocean/docs/tables/digitalocean_storage_volumes.md
  plugins/source/digitalocean/resources/services/accounts/accounts.go
  plugins/source/digitalocean/resources/services/balances/balances.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
  plugins/source/digitalocean/resources/services/cdns/cdns.go
  plugins/source/digitalocean/resources/services/certificates/certificates.go
  plugins/source/digitalocean/resources/services/databases/backups.go
  plugins/source/digitalocean/resources/services/databases/databases.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules.go
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/domains/domains.go
  plugins/source/digitalocean/resources/services/domains/records.go
  plugins/source/digitalocean/resources/services/droplets/droplets.go
  plugins/source/digitalocean/resources/services/droplets/neighbors.go
  plugins/source/digitalocean/resources/services/firewalls/firewalls.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
  plugins/source/digitalocean/resources/services/images/images.go
  plugins/source/digitalocean/resources/services/keys/keys.go
  plugins/source/digitalocean/resources/services/monitoring/alert_policies.go
  plugins/source/digitalocean/resources/services/projects/projects.go
  plugins/source/digitalocean/resources/services/projects/resources.go
  plugins/source/digitalocean/resources/services/registries/registries.go
  plugins/source/digitalocean/resources/services/registries/repositories.go
  plugins/source/digitalocean/resources/services/sizes/sizes.go
  plugins/source/digitalocean/resources/services/snapshots/snapshots.go
  plugins/source/digitalocean/resources/services/spaces/cors.go
  plugins/source/digitalocean/resources/services/spaces/spaces.go
  plugins/source/digitalocean/resources/services/storage/volumes.go
  plugins/source/digitalocean/resources/services/vpcs/members.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs.go
Labels: automerge, digitalocean

#6424 feat(datadog): Migrate codegen to transformations
  plugins/source/datadog/Makefile
  plugins/source/datadog/codegen/main.go
  plugins/source/datadog/codegen/recipes/base.go
  plugins/source/datadog/codegen/recipes/dashboard_lists.go
  plugins/source/datadog/codegen/recipes/dashboards.go
  plugins/source/datadog/codegen/recipes/downtimes.go
  plugins/source/datadog/codegen/recipes/hosts.go
  plugins/source/datadog/codegen/recipes/incidents.go
  plugins/source/datadog/codegen/recipes/monitors.go
  plugins/source/datadog/codegen/recipes/notebooks.go
  plugins/source/datadog/codegen/recipes/roles.go
  plugins/source/datadog/codegen/recipes/synthetics.go
  plugins/source/datadog/codegen/recipes/templates/resource.go.tpl
  plugins/source/datadog/codegen/recipes/users.go
  plugins/source/datadog/codegen/services/clients.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/codegen/services/templates/service.go.tpl
  plugins/source/datadog/codegen/services/templates/services.go.tpl
  plugins/source/datadog/docs/tables/datadog_dashboard_lists.md
  plugins/source/datadog/docs/tables/datadog_dashboards.md
  plugins/source/datadog/docs/tables/datadog_downtimes.md
  plugins/source/datadog/docs/tables/datadog_global_variables.md
  plugins/source/datadog/docs/tables/datadog_hosts.md
  plugins/source/datadog/docs/tables/datadog_incidents.md
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_notebooks.md
  plugins/source/datadog/docs/tables/datadog_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_users.md
  plugins/source/datadog/docs/tables/datadog_roles.md
  plugins/source/datadog/docs/tables/datadog_synthetics.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/docs/tables/datadog_user_permissions.md
  plugins/source/datadog/docs/tables/datadog_users.md
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/role_permissions.go
  plugins/source/datadog/resources/services/roles/role_users.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/synthetics/global_variables.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/users/user_organizations.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/users.go
Labels: automerge, datadog

#6421 fix(pg): Return more detailed pg errors
  .github/workflows/dest_postgresql.yml
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql, priority merge

#6442 feat(snyk): Migrate codegen to transformations
  plugins/source/snyk/Makefile
  plugins/source/snyk/codegen/main.go
  plugins/source/snyk/codegen/resources/columns.go
  plugins/source/snyk/codegen/resources/description.go
  plugins/source/snyk/codegen/resources/fetch.go
  plugins/source/snyk/codegen/resources/generate.go
  plugins/source/snyk/codegen/resources/recipes.go
  plugins/source/snyk/codegen/resources/resource.go
  plugins/source/snyk/codegen/resources/schema.go
  plugins/source/snyk/codegen/resources/tables.go
  plugins/source/snyk/codegen/resources/template.go
  plugins/source/snyk/codegen/resources/templates/resource.go.tpl
  plugins/source/snyk/codegen/resources/templates/tables.go.tpl
  plugins/source/snyk/codegen/resources/transformers.go
  plugins/source/snyk/codegen/resources/write.go
  plugins/source/snyk/docs/tables/snyk_integrations.md
  plugins/source/snyk/docs/tables/snyk_organizations.md
  plugins/source/snyk/resources/services/dependency/dependencies.go
  plugins/source/snyk/resources/services/integration/integrations.go
  plugins/source/snyk/resources/services/organization/organizations.go
  plugins/source/snyk/resources/services/project/projects.go
Labels: automerge, snyk

#6466 fix(destinations): Handle nulls in JSONs
  plugins/destination/mongodb/client/transformer.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/postgresql/client/transformer.go
Labels: postgresql, mongodb, neo4j

#6515 fix(table-diff): Mark type changes as breaking
  scripts/table_diff/changes/changes.go
Labels: automerge

#6435 doc(website): Adding how-to guide for using Renovate
  .github/styles/Vocab/Base/accept.txt
  website/content/team.ts
  website/pages/how-to-guides/update-plugins-using-renovate.md
  website/public/images/blog/manage-plugins-with-renovate/renovate-howto-regex101.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-changedfiles.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-example.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-page.png
  website/public/images/people/cloudmatt.png
Labels: automerge, website, priority merge

#6385 fix(broken-links): Ignore flaky host
  .github/workflows/broken_links.yml
Labels: automerge

#6430 feat(tailscale): Migrate codegen to transformations
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/codegen/main.go
  plugins/source/tailscale/codegen/resources/columns.go
  plugins/source/tailscale/codegen/resources/description.go
  plugins/source/tailscale/codegen/resources/fetch.go
  plugins/source/tailscale/codegen/resources/generate.go
  plugins/source/tailscale/codegen/resources/recipes.go
  plugins/source/tailscale/codegen/resources/resource.go
  plugins/source/tailscale/codegen/resources/schema.go
  plugins/source/tailscale/codegen/resources/tables.go
  plugins/source/tailscale/codegen/resources/template.go
  plugins/source/tailscale/codegen/resources/templates/resource.go.tpl
  plugins/source/tailscale/codegen/resources/templates/tables.go.tpl
  plugins/source/tailscale/codegen/resources/transformers.go
  plugins/source/tailscale/codegen/resources/write.go
  plugins/source/tailscale/resources/services/dns/dns.go
  plugins/source/tailscale/resources/services/key/keys.go
Labels: automerge

#6521 fix(pg): Dont overwrite _cq_id, _cq_parent_id on conflict
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#6472 feat(azuredevops): Migrate codegen to transformations
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/client/transformers.go
  plugins/source/azuredevops/codegen/main.go
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/codegen/recipes/core.go
  plugins/source/azuredevops/codegen/recipes/templates/resource.go.tpl
  plugins/source/azuredevops/codegen/recipes/templates/tables.go.tpl
  plugins/source/azuredevops/resources/services/core/projects.go
Labels: automerge, azuredevops

#6428 feat(github): Migrate codegen to transformations
  plugins/source/github/Makefile
  plugins/source/github/client/transformers.go
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/dependabot.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/multiplex.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/codegen/recipes/templates/resource.go.tpl
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_releases.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/billing/action.go
  plugins/source/github/resources/services/billing/package.go
  plugins/source/github/resources/services/billing/storage.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/installations/installations.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
  plugins/source/github/resources/services/teams/teams.go
  plugins/source/github/scripts/regenerate-changed-directories.sh
  plugins/source/github/scripts/terraform-apply-all.sh
  plugins/source/github/scripts/terraform-apply-changes-only.sh
  plugins/source/github/scripts/terraform-fmt-change-only.sh
  plugins/source/github/scripts/terraform-init-change-only.sh
  plugins/source/github/scripts/terraform-plan-change-only.sh
  plugins/source/github/scripts/terraform-validate-all.sh
  plugins/source/github/scripts/terraform-validate-change-only.sh
Labels: automerge, github

#6429 feat(gitlab): Migrate codegen to transformation
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/client/transformers.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/groups.go
  plugins/source/gitlab/codegen/recipes/projects.go
  plugins/source/gitlab/codegen/recipes/settings.go
  plugins/source/gitlab/codegen/recipes/templates/resource.go.tpl
  plugins/source/gitlab/codegen/recipes/users.go
  plugins/source/gitlab/docs/tables/gitlab_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_groups.md
  plugins/source/gitlab/docs/tables/gitlab_project_branches.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/docs/tables/gitlab_projects_releases.md
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/projects/project_branches.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_releases.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/users/users.go
Labels: automerge, gitlab

#6432 feat(okta): Migrate codegen to transformations
  plugins/source/okta/Makefile
  plugins/source/okta/client/transformers.go
  plugins/source/okta/codegen/main.go
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/codegen/recipes/groups.go
  plugins/source/okta/codegen/recipes/recipes.go
  plugins/source/okta/codegen/recipes/recipes_test.go
  plugins/source/okta/codegen/recipes/users.go
  plugins/source/okta/codegen/templates/resource.go.tpl
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/docs/tables/okta_users.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/groups/group_users.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/users/users.go
Labels: automerge, okta

#6390 feat(gcp): Move services/iam to use googleapis/google-cloud-go
  plugins/source/gcp/docs/tables/gcp_iam_deny_policies.md
  plugins/source/gcp/docs/tables/gcp_iam_roles.md
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/docs/tables/gcp_iam_service_accounts.md
  plugins/source/gcp/resources/services/iam/deny_policies.go
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/gcp/resources/services/iam/deny_policies_mock_test.go
  plugins/source/gcp/resources/services/iam/roles.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
  plugins/source/gcp/resources/services/iam/roles_mock_test.go
  plugins/source/gcp/resources/services/iam/service_account_keys.go
  plugins/source/gcp/resources/services/iam/service_account_keys_fetch.go
  plugins/source/gcp/resources/services/iam/service_accounts.go
  plugins/source/gcp/resources/services/iam/service_accounts_fetch.go
  plugins/source/gcp/resources/services/iam/service_accounts_mock_test.go
Labels: automerge, gcp

#6439 fix: Set batch size bytes limit in BigQuery
  plugins/destination/bigquery/main.go
Labels: automerge, bigquery

#6530 fix(gcp): Etag to ByteArray
  plugins/source/gcp/client/transformers.go
  plugins/source/gcp/docs/tables/gcp_iam_roles.md
  plugins/source/gcp/docs/tables/gcp_iam_service_accounts.md
Labels: automerge, gcp

#6470 feat(fastly): Migrate codegen to transformations
  plugins/source/fastly/Makefile
  plugins/source/fastly/codegen/main.go
  plugins/source/fastly/codegen/recipes/account.go
  plugins/source/fastly/codegen/recipes/auth.go
  plugins/source/fastly/codegen/recipes/recipes.go
  plugins/source/fastly/codegen/recipes/services.go
  plugins/source/fastly/codegen/recipes/stats.go
  plugins/source/fastly/codegen/services/generate.go
  plugins/source/fastly/codegen/services/templates/service.go.tpl
  plugins/source/fastly/codegen/tables/generate.go
  plugins/source/fastly/codegen/tables/templates/tables.go.tpl
  plugins/source/fastly/codegen/templates/resource.go.tpl
  plugins/source/fastly/docs/tables/fastly_account_events.md
  plugins/source/fastly/docs/tables/fastly_account_users.md
  plugins/source/fastly/docs/tables/fastly_auth_tokens.md
  plugins/source/fastly/docs/tables/fastly_service_backends.md
  plugins/source/fastly/docs/tables/fastly_service_domains.md
  plugins/source/fastly/docs/tables/fastly_service_health_checks.md
  plugins/source/fastly/docs/tables/fastly_service_versions.md
  plugins/source/fastly/docs/tables/fastly_services.md
  plugins/source/fastly/resources/services/account/account_events.go
  plugins/source/fastly/resources/services/account/account_users.go
  plugins/source/fastly/resources/services/auth/auth_tokens.go
  plugins/source/fastly/resources/services/services/service_backends.go
  plugins/source/fastly/resources/services/services/service_domains.go
  plugins/source/fastly/resources/services/services/service_health_checks.go
  plugins/source/fastly/resources/services/services/service_versions.go
  plugins/source/fastly/resources/services/services/services.go
  plugins/source/fastly/resources/services/stats/stats_regions.go
  plugins/source/fastly/resources/services/stats/stats_services.go
Labels: automerge, fastly

#6537 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_domains_registrations`
  plugins/source/gcp/docs/tables/gcp_domains_registrations.md
  plugins/source/gcp/resources/services/domains/registrations.go
Labels: automerge, gcp

#6529 fix(gcp-resources): Remove `metadata` from `gcp_aiplatform_models`
  plugins/source/gcp/docs/tables/gcp_aiplatform_models.md
  plugins/source/gcp/resources/services/aiplatform/models.go
Labels: automerge, gcp

#6531 fix(gcp-resources): Change `gcp_appengine_firewall_ingress_rules` PK to `_cq_id`
  plugins/source/gcp/docs/tables/gcp_appengine_firewall_ingress_rules.md
  plugins/source/gcp/resources/services/appengine/firewall_ingress_rules.go
Labels: automerge, gcp

#6532 fix(gcp-resources): Add `project_id` and `id` as PKs of `gcp_bigquery_datasets`
  plugins/source/gcp/docs/tables/gcp_bigquery_datasets.md
  plugins/source/gcp/resources/services/bigquery/datasets.go
Labels: automerge, gcp

#6471 feat(slack): Migrate codegen to transformations
  plugins/source/slack/Makefile
  plugins/source/slack/client/services/slack.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/conversations.go
  plugins/source/slack/codegen/recipes/files.go
  plugins/source/slack/codegen/recipes/recipes.go
  plugins/source/slack/codegen/recipes/teams.go
  plugins/source/slack/codegen/recipes/users.go
  plugins/source/slack/codegen/services/generate.go
  plugins/source/slack/codegen/services/templates/service.go.tpl
  plugins/source/slack/codegen/tables/generate.go
  plugins/source/slack/codegen/tables/templates/tables.go.tpl
  plugins/source/slack/codegen/templates/resource.go.tpl
  plugins/source/slack/docs/tables/slack_conversation_bookmarks.md
  plugins/source/slack/docs/tables/slack_conversation_histories.md
  plugins/source/slack/docs/tables/slack_conversation_replies.md
  plugins/source/slack/docs/tables/slack_user_presences.md
  plugins/source/slack/docs/tables/slack_users.md
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/resources/services/conversations/conversation_bookmarks.go
  plugins/source/slack/resources/services/conversations/conversation_histories.go
  plugins/source/slack/resources/services/conversations/conversation_members.go
  plugins/source/slack/resources/services/conversations/conversation_replies.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/files/files.go
  plugins/source/slack/resources/services/teams/teams.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/users.go
Labels: automerge, slack

#6549 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_run_services`
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/resources/services/run/services.go
Labels: automerge, gcp

#6548 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_run_locations`
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/resources/services/run/locations.go
Labels: automerge, gcp

#6545 fix(gcp-resources): Add `project_id` as PK of `gcp_logging_sinks`
  plugins/source/gcp/docs/tables/gcp_logging_sinks.md
  plugins/source/gcp/resources/services/logging/sinks.go
Labels: automerge, gcp

#6547 fix(gcp-resources): Add `organization_id` and `name` as PK of `gcp_resourcemanager_folders`
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/resources/services/resourcemanager/folders.go
Labels: automerge, gcp

#6544 fix(gcp-resources): Add `project_id` as PK of `gcp_logging_metrics`
  plugins/source/gcp/docs/tables/gcp_logging_metrics.md
  plugins/source/gcp/resources/services/logging/metrics.go
Labels: automerge, gcp

#6543 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_kms_keyrings`
  plugins/source/gcp/docs/tables/gcp_kms_keyrings.md
  plugins/source/gcp/resources/services/kms/keyrings.go
Labels: automerge, gcp

#6542 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_kms_crypto_keys`
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/resources/services/kms/crypto_keys.go
Labels: automerge, gcp

#6541 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_iam_service_account_keys`, remove `service_account_unique_id` from PKs
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/resources/services/iam/service_account_keys.go
Labels: automerge, gcp

#6538 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_functions_functions`
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/resources/services/functions/functions.go
Labels: automerge, gcp

#6519 fix: Error if after the migration there are `not null` columns that are not part of the new schema
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, postgresql

#6517 fix(docs-migration): Update docs to reflect migration code regarding type changes
  website/pages/docs/advanced-topics/migrations.md
Labels: automerge, website

#6336 feat: Hacker News source plugin
  .github/pr_labeler.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/wait_for_required_workflows.yml
  .gitignore
  cli/go.mod
  plugins/source/hackernews/.gitignore
  plugins/source/hackernews/.goreleaser.yaml
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/README.md
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/errors.go
  plugins/source/hackernews/client/errors_test.go
  plugins/source/hackernews/client/mocks/backend.go
  plugins/source/hackernews/client/mocks/hackernews.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/client/services/hackernews.go
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/docs/tables/README.md
  plugins/source/hackernews/docs/tables/hackernews_items.md
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
  plugins/source/hackernews/tools/tool.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/hackernews/_meta.json
  website/pages/docs/plugins/sources/hackernews/overview.md
  website/pages/docs/plugins/sources/hackernews/tables.md
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, cli, website

#6391 fix(aws): Enable Partial Resolution of Lambda
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Labels: aws, automerge

#6561 fix: Remove broken `datadog_user_organizations` table
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/docs/tables/datadog_users.md
  plugins/source/datadog/resources/services/users/user_organizations.go
  plugins/source/datadog/resources/services/users/user_organizations_fetch.go
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/resources/services/users/users_mock_test.go
  website/pages/docs/plugins/sources/datadog/tables.md
Labels: automerge, website, datadog

#6539 fix(gcp-resources): Add `project_id` and `name` as PKs of `gcp_iam_deny_policies`
  plugins/source/gcp/docs/tables/gcp_iam_deny_policies.md
  plugins/source/gcp/resources/services/iam/deny_policies.go
Labels: automerge, gcp

#6551 fix(gcp-resources): Add `version` to PKs of `gcp_cloudiot_device_configs`
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_configs.md
  plugins/source/gcp/resources/services/cloudiot/device_configs.go
Labels: automerge, gcp

#6562 feat(aws): KMS Key policies
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_kms_key_policies.md
  plugins/source/aws/docs/tables/aws_kms_keys.md
  plugins/source/aws/resources/services/kms/key_policies.go
  plugins/source/aws/resources/services/kms/keys.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website, priority merge

#6546 chore(fastly): Use codegen/interfaces package for generating service interfaces
  plugins/source/fastly/Makefile
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/codegen/main.go
  plugins/source/fastly/go.mod
  plugins/source/fastly/go.sum
Labels: automerge, fastly

#6564 fix(vercel): Remove codegen, upgrade SDK
  plugins/source/vercel/Makefile
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/client/transformers.go
  plugins/source/vercel/codegen/main.go
  plugins/source/vercel/codegen/recipes/deployments.go
  plugins/source/vercel/codegen/recipes/domains.go
  plugins/source/vercel/codegen/recipes/projects.go
  plugins/source/vercel/codegen/recipes/recipes.go
  plugins/source/vercel/codegen/recipes/teams.go
  plugins/source/vercel/codegen/templates/resource.go.tpl
  plugins/source/vercel/docs/tables/vercel_domains.md
  plugins/source/vercel/docs/tables/vercel_projects.md
  plugins/source/vercel/docs/tables/vercel_team_members.md
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/teams.go
Labels: automerge, vercel

#6568 fix(shopify): Remove codegen, upgrade SDK
  plugins/source/shopify/Makefile
  plugins/source/shopify/client/client.go
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/codegen/main.go
  plugins/source/shopify/codegen/recipes/checkout.go
  plugins/source/shopify/codegen/recipes/customer.go
  plugins/source/shopify/codegen/recipes/order.go
  plugins/source/shopify/codegen/recipes/price_rule.go
  plugins/source/shopify/codegen/recipes/product.go
  plugins/source/shopify/codegen/recipes/recipes.go
  plugins/source/shopify/codegen/templates/resource.go.tpl
  plugins/source/shopify/go.mod
  plugins/source/shopify/go.sum
  plugins/source/shopify/resources/services/checkout/abandoned_checkouts.go
  plugins/source/shopify/resources/services/customer/customers.go
  plugins/source/shopify/resources/services/order/orders.go
  plugins/source/shopify/resources/services/price_rule/price_rule_discount_codes.go
  plugins/source/shopify/resources/services/price_rule/price_rules.go
  plugins/source/shopify/resources/services/product/product_images.go
  plugins/source/shopify/resources/services/product/product_variants.go
  plugins/source/shopify/resources/services/product/products.go
Labels: automerge, shopify

#6569 fix(digitalocean): Remove codegen, upgrade SDK
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/client/testing.go
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/codegen/recipes/base.go
  plugins/source/digitalocean/codegen/recipes/templates/resource.go.tpl
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Labels: automerge, digitalocean

#6571 fix(website): Set Id for Hacker News source plugin in overview table
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website

#6570 fix(gandi): Remove codegen, upgrade SDK
  plugins/source/gandi/Makefile
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/testing.go
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/certificates.go
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/codegen/recipes/livedns.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/codegen/templates/resource.go.tpl
  plugins/source/gandi/docs/tables/gandi_domain_dnssec_keys.md
  plugins/source/gandi/docs/tables/gandi_domain_glue_records.md
  plugins/source/gandi/docs/tables/gandi_domains.md
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gandi/resources/services/certificates/certificate_packages.go
  plugins/source/gandi/resources/services/certificates/certificates.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys.go
  plugins/source/gandi/resources/services/domains/domain_glue_records.go
  plugins/source/gandi/resources/services/domains/domain_livedns.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections.go
  plugins/source/gandi/resources/services/domains/domains.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots.go
  plugins/source/gandi/resources/services/livedns/livedns_domains.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances.go
Labels: automerge, gandi

#6576 fix: Revert "fix(gcp-resources): Add `organization_id` and `name` as PK of `gcp_resourcemanager_folders`
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/resources/services/resourcemanager/folders.go
Labels: automerge, gcp, priority merge

#6580 chore(digitalocean): Remove codegen remarks
  plugins/source/digitalocean/resources/plugin/plugin.go
  plugins/source/digitalocean/resources/plugin/tables.go
  plugins/source/digitalocean/resources/services/balances/balances_fetch.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history_fetch.go
  plugins/source/digitalocean/resources/services/cdns/cdns_fetch.go
  plugins/source/digitalocean/resources/services/certificates/certificates_fetch.go
  plugins/source/digitalocean/resources/services/databases/backups_fetch.go
  plugins/source/digitalocean/resources/services/databases/databases_fetch.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules_fetch.go
  plugins/source/digitalocean/resources/services/databases/replicas_fetch.go
  plugins/source/digitalocean/resources/services/domains/domains_fetch.go
  plugins/source/digitalocean/resources/services/domains/records_fetch.go
  plugins/source/digitalocean/resources/services/droplets/droplets_fetch.go
  plugins/source/digitalocean/resources/services/firewalls/firewalls_fetch.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips_fetch.go
  plugins/source/digitalocean/resources/services/images/images_fetch.go
  plugins/source/digitalocean/resources/services/keys/keys_fetch.go
  plugins/source/digitalocean/resources/services/projects/projects_fetch.go
  plugins/source/digitalocean/resources/services/projects/resources_fetch.go
  plugins/source/digitalocean/resources/services/registries/registries_fetch.go
  plugins/source/digitalocean/resources/services/registries/repositories_fetch.go
  plugins/source/digitalocean/resources/services/sizes/sizes_fetch.go
  plugins/source/digitalocean/resources/services/snapshots/snapshots_fetch.go
  plugins/source/digitalocean/resources/services/vpcs/members_fetch.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs_fetch.go
Labels: automerge, digitalocean

#6589 fix(k8s): Update to new SDK
  plugins/source/k8s/client/client.go
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/client/transformers.go
  plugins/source/k8s/docs/tables/k8s_certificates_signing_requests.md
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Labels: automerge, k8s, priority merge

#6594 feat(gcp-resources): Add Workflows
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_workflows_workflows.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/workflows/workflows.go
  plugins/source/gcp/resources/services/workflows/workflows_fetch.go
  plugins/source/gcp/resources/services/workflows/workflows_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6588 fix(gitlab): Update to new SDK
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/client/transformers.go
  plugins/source/gitlab/docs/tables/gitlab_users.md
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
Labels: automerge, priority merge, gitlab

#6560 feat(hackernews): Add ability to start from given date
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/docs/tables/hackernews_items.md
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
  website/pages/docs/plugins/sources/hackernews/overview.md
Labels: automerge, website, priority merge, hackernews

#6612 fix: Correct error message in migration
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, priority merge, sqlite, snowflake

#6638 feat(bigquery): Add table name to auto migrate error messages
  plugins/destination/bigquery/client/migrate.go
Labels: automerge, priority merge, bigquery

#6644 feat(bigquery): Add call to action to type change error message
  plugins/destination/bigquery/client/migrate.go
Labels: automerge, priority merge, bigquery

#6610 chore: Fix code comments in migrate function
  plugins/destination/azblob/client/migrate.go
  plugins/destination/file/client/migrate.go
  plugins/destination/gcs/client/migrate.go
  plugins/destination/s3/client/migrate.go
Labels: automerge, file, gcs, s3

#6637 chore(gcp): Add missing changelog entry
  plugins/source/gcp/CHANGELOG.md
Labels: automerge, gcp

#6552 fix(gcp-resources): Add `update_time` to PKs of `gcp_cloudiot_device_states`
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_states.md
  plugins/source/gcp/resources/services/cloudiot/device_states.go
Labels: automerge, gcp

#6660 feat(aws): Add support for Savingsplans
  plugins/source/aws/client/mocks/savingsplans.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/savingsplans.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_savingsplans_plans.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/savingsplans/savingsplans.go
  plugins/source/aws/resources/services/savingsplans/savingsplans_fetch.go
  plugins/source/aws/resources/services/savingsplans/savingsplans_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#6645 doc(website): Add documentation for incremental tables
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/managing-incremental-tables.md
  website/pages/docs/core-concepts/_meta.json
  website/pages/docs/core-concepts/policies.md
  website/pages/docs/core-concepts/syncs.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, website

#6578 fix(website): Update URL fpr Azure Resources View to the appropriate repo
  website/pages/blog/azure-cost-optimization-with-cloudquery.md
Labels: automerge, website

#6671 doc(website): Add example queries to HN page
  website/pages/docs/plugins/sources/hackernews/overview.md
Labels: automerge, website

#6047 doc(gcp): Update Contributing Docs
  plugins/source/gcp/CONTRIBUTING.md
Labels: automerge, gcp

#6693 fix(github): Fix panic in workflow fetching
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
Labels: automerge, github

#6577 fix(gcp): Prevent gcp_resourcemanager_folders rows with nil org_id
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
Labels: automerge, gcp

#6682 fix(azure-resources): Update `armnginx` to v2
  plugins/source/azure/client/client.go
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/nginx/deployments.go
  plugins/source/azure/resources/services/nginx/deployments_fetch.go
  plugins/source/azure/resources/services/nginx/deployments_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#6694 fix(azure-resources): Make `subscription_id, name` PKs of `azure_peering_service_providers` instead of `id`
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_peering_service_providers.md
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/peering/service_providers.go
  plugins/source/azure/resources/services/peering/service_providers_fetch.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#6669 fix(azure-resources): Pass `subscriptions/<id>` when listing role definitions
  plugins/source/azure/resources/services/authorization/role_definitions_fetch.go
  plugins/source/azure/resources/services/authorization/role_definitions_mock_test.go
Labels: azure, automerge

#6673 fix(azure-resources): Set APIVersion to "2022-08-08" when fetching Healthbots
  plugins/source/azure/client/client.go
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/healthbot/bots.go
  plugins/source/azure/resources/services/healthbot/bots_fetch.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#6362 feat(website): Attack Surface Management and Neo4j Guide
  website/pages/how-to-guides/attack-surface-management-with-graph.md
  website/public/images/how-to-guides/attack-surface-management-with-graph/graph-instances.png
  website/public/images/how-to-guides/attack-surface-management-with-graph/graph-users.png
  website/public/images/how-to-guides/attack-surface-management-with-graph/iam-roles.png
Labels: website

#6672 fix(azure-resources): Set APIVersion to "2019-05-10-preview" when fetching SQL Server Registrations
  plugins/source/azure/client/client.go
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/azuredata/sql_server_registrations.go
  plugins/source/azure/resources/services/azuredata/sql_server_registrations_fetch.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#6740 fix(website): Expired Discord Link
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/azure-cost-optimization-with-cloudquery.md
  website/pages/docs/support.md
Labels: automerge, website

#6680 fix(azure-resources): Remove non working `azure_windowsesu_multiple_activation_keys`
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_windowsesu_multiple_activation_keys.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/windowsesu/multiple_activation_keys.go
  plugins/source/azure/resources/services/windowsesu/multiple_activation_keys_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Labels: azure, automerge, website

#6741 fix(aws): Add PKs To IAM Resources
  plugins/source/aws/docs/tables/aws_iam_role_policies.md
  plugins/source/aws/docs/tables/aws_iam_user_access_keys.md
  plugins/source/aws/docs/tables/aws_iam_user_attached_policies.md
  plugins/source/aws/resources/services/iam/role_policies.go
  plugins/source/aws/resources/services/iam/user_access_keys.go
  plugins/source/aws/resources/services/iam/user_attached_policies.go
Labels: aws, automerge

#6743 feat(aws): Add Org resource policies
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_organization_resource_policies.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/organizations/resource_policies.go
  plugins/source/aws/resources/services/organizations/resource_policies_fetch.go
  plugins/source/aws/resources/services/organizations/resource_policies_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#6744 doc(website): Link to AWS view in Quicksight how-to guide
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-aws-quicksight.md
Labels: automerge, website

#6754 fix(aws)!: Add PK to `aws_s3_bucket_grants` table
  plugins/source/aws/docs/tables/aws_s3_bucket_grants.md
  plugins/source/aws/resources/services/s3/bucket_cors_rules.go
  plugins/source/aws/resources/services/s3/bucket_encryption_rules.go
  plugins/source/aws/resources/services/s3/bucket_grants.go
  plugins/source/aws/resources/services/s3/bucket_lifecycles.go
Labels: aws, fix, automerge

#6755 feat: ADD GCP VPC Access
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/templates/services.go.tpl
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_vpcaccess_connectors.md
  plugins/source/gcp/docs/tables/gcp_vpcaccess_locations.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/vpcaccess/connectors.go
  plugins/source/gcp/resources/services/vpcaccess/connectors_fetch.go
  plugins/source/gcp/resources/services/vpcaccess/locations.go
  plugins/source/gcp/resources/services/vpcaccess/locations_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6757 fix: Fix number of writes reported by postgresql
  plugins/destination/postgresql/client/write.go
Labels: automerge, postgresql

#6756 chore(aws): Update contribution docs and restore service interface automation
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/aws/Makefile
  plugins/source/aws/client/services/s3manager.go
  plugins/source/aws/client/services/savingsplans.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Labels: aws, automerge

#6762 feat(vercel): Auto retry throttled requests
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/spec.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/internal/vercel/vercel.go
  website/pages/docs/plugins/sources/vercel/configuration.md
Labels: automerge, website, vercel

#6772 fix(aws): Correctly fill in `grantee_id` column to `aws_s3_bucket_grants`
  plugins/source/aws/docs/tables/aws_s3_bucket_grants.md
  plugins/source/aws/resources/services/s3/bucket_grants.go
  plugins/source/aws/resources/services/s3/buckets_fetch.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
Labels: aws, automerge

#6776 feat(stripe): Add events
  plugins/source/stripe/codegen/recipes/all.go
  plugins/source/stripe/docs/tables/README.md
  plugins/source/stripe/docs/tables/stripe_events.md
  plugins/source/stripe/resources/plugin/tables.go
  plugins/source/stripe/resources/services/events/events.go
  plugins/source/stripe/resources/services/events/events_test.go
  website/pages/docs/plugins/sources/stripe/tables.md
Labels: automerge, website, stripe

#6760 feat: Add GCP vmmigration
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_groups.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_source_datacenter_connectors.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_source_migrating_vm_clone_jobs.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_source_migrating_vm_cutover_jobs.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_source_migrating_vms.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_source_utilization_reports.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_sources.md
  plugins/source/gcp/docs/tables/gcp_vmmigration_target_projects.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/vmmigration/groups.go
  plugins/source/gcp/resources/services/vmmigration/groups_fetch.go
  plugins/source/gcp/resources/services/vmmigration/groups_mock_test.go
  plugins/source/gcp/resources/services/vmmigration/source_migrating_vm_clone_jobs.go
  plugins/source/gcp/resources/services/vmmigration/source_migrating_vm_clone_jobs_fetch.go
  plugins/source/gcp/resources/services/vmmigration/source_migrating_vm_cutover_jobs.go
  plugins/source/gcp/resources/services/vmmigration/source_migrating_vm_cutover_jobs_fetch.go
  plugins/source/gcp/resources/services/vmmigration/sources.go
  plugins/source/gcp/resources/services/vmmigration/sources_datacenter_connectors.go
  plugins/source/gcp/resources/services/vmmigration/sources_datacenter_connectors_fetch.go
  plugins/source/gcp/resources/services/vmmigration/sources_fetch.go
  plugins/source/gcp/resources/services/vmmigration/sources_fetch_mock_test.go
  plugins/source/gcp/resources/services/vmmigration/sources_migrating_vms.go
  plugins/source/gcp/resources/services/vmmigration/sources_migrating_vms_fetch.go
  plugins/source/gcp/resources/services/vmmigration/target_projects.go
  plugins/source/gcp/resources/services/vmmigration/target_projects_fetch.go
  plugins/source/gcp/resources/services/vmmigration/target_projects_mock_test.go
  plugins/source/gcp/resources/services/vmmigration/utilization_reports.go
  plugins/source/gcp/resources/services/vmmigration/utilization_reports_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6770 feat(gcp-resources): Add Cloud Scheduler
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudscheduler_jobs.md
  plugins/source/gcp/docs/tables/gcp_cloudscheduler_locations.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/cloudscheduler/jobs.go
  plugins/source/gcp/resources/services/cloudscheduler/jobs_fetch.go
  plugins/source/gcp/resources/services/cloudscheduler/locations.go
  plugins/source/gcp/resources/services/cloudscheduler/locations_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6764 fix(sqlite): Set module in logs to `sqlite-dest` instead of `pg-dest`
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, sqlite

#6787 doc(website): Update documentation around batch_size and batch_size_bytes
  website/pages/docs/plugins/destinations/azblob/overview.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/gcs/overview.md
  website/pages/docs/plugins/destinations/mongodb/overview.md
  website/pages/docs/plugins/destinations/neo4j/overview.md
  website/pages/docs/plugins/destinations/s3/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/reference/destination-spec.md
Labels: automerge, website

#6789 feat: Add scaffold CLI
  .github/workflows/scaffold.yml
  .github/workflows/wait_for_required_workflows.yml
  scaffold/.gitignore
  scaffold/Makefile
  scaffold/README.md
  scaffold/cmd/root.go
  scaffold/cmd/source.go
  scaffold/cmd/source_test.go
  scaffold/cmd/templates/source/.github/workflows/release.yaml.tpl
  scaffold/cmd/templates/source/.goreleaser.yaml.tpl
  scaffold/cmd/templates/source/README.md.tpl
  scaffold/cmd/templates/source/client/client.go.tpl
  scaffold/cmd/templates/source/client/spec.go.tpl
  scaffold/cmd/templates/source/go.mod.tpl
  scaffold/cmd/templates/source/main.go.tpl
  scaffold/cmd/templates/source/plugin/plugin.go.tpl
  scaffold/cmd/templates/source/resources/table.go.tpl
  scaffold/go.mod
  scaffold/go.sum
  scaffold/main.go
Labels: automerge

#6786 feat(gcp-resources): Add vision
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_vision_product_reference_images.md
  plugins/source/gcp/docs/tables/gcp_vision_products.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/vision/products.go
  plugins/source/gcp/resources/services/vision/products_fetch.go
  plugins/source/gcp/resources/services/vision/products_mock_test.go
  plugins/source/gcp/resources/services/vision/reference_image.go
  plugins/source/gcp/resources/services/vision/reference_image_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6788 feat(gcp-resources): Add livestream
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/templates/services.go.tpl
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_livestream_channels.md
  plugins/source/gcp/docs/tables/gcp_livestream_inputs.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/livestream/channels.go
  plugins/source/gcp/resources/services/livestream/channels_fetch.go
  plugins/source/gcp/resources/services/livestream/inputs.go
  plugins/source/gcp/resources/services/livestream/inputs_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6806 feat(gcp-resources): Add video-transcoder
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_videotranscoder_job_templates.md
  plugins/source/gcp/docs/tables/gcp_videotranscoder_jobs.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/videotranscoder/job_templates.go
  plugins/source/gcp/resources/services/videotranscoder/job_templates_fetch.go
  plugins/source/gcp/resources/services/videotranscoder/job_templates_mock_test.go
  plugins/source/gcp/resources/services/videotranscoder/jobs.go
  plugins/source/gcp/resources/services/videotranscoder/jobs_fetch.go
  plugins/source/gcp/resources/services/videotranscoder/jobs_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6808 refactor(azure): Remove unused `ResourceGroup` client field
  plugins/source/azure/client/client.go
Labels: azure, automerge

#6803 chore(website): Add Azure DevOps docs
  plugins/source/azuredevops/Makefile
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/azuredevops/_meta.json
  website/pages/docs/plugins/sources/azuredevops/overview.md
  website/pages/docs/plugins/sources/azuredevops/tables.md
  website/pages/docs/plugins/sources/overview.mdx
Labels: automerge, website, azuredevops

#6801 chore(ci): Add scaffold Go releaser config
  .github/workflows/release_scaffold.yml
  release-please-config.json
  scaffold/.goreleaser.prerelease.yaml
  scaffold/.goreleaser.yaml
Labels: automerge

#6771 feat(gcp-resources): Add Cloud Support
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudsupport_cases.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/cloudsupport/cases.go
  plugins/source/gcp/resources/services/cloudsupport/cases_fetch.go
  plugins/source/gcp/resources/services/cloudsupport/cases_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6807 fix(gcp): Add `Location` to client `ID` when present
  plugins/source/gcp/client/client.go
Labels: automerge, gcp

#6802 fix(scaffold): Use org and name for plugin name instead of `test`
  scaffold/cmd/templates/source/plugin/plugin.go.tpl
Labels: automerge

#6831 feat(aws): Add RDS DB Proxies
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_db_proxies.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/rds/db_proxies.go
  plugins/source/aws/resources/services/rds/db_proxies_fetch.go
  plugins/source/aws/resources/services/rds/db_proxies_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Labels: aws, automerge, website

#6832 feat(gcp-resources): Add translate
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_translate_glossaries.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/translate/glossaries.go
  plugins/source/gcp/resources/services/translate/glossaries_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Labels: automerge, gcp, website

#6833 test: Fix race in stripe tests, add race flag to missing plugins
  plugins/source/hackernews/Makefile
  plugins/source/oracle/Makefile
  plugins/source/stripe/Makefile
  plugins/source/stripe/client/testing.go
Labels: automerge, oracle, hackernews, stripe

#6836 chore(docs): Remove reference to `SNYK_API_KEY` env variable
  website/pages/docs/plugins/sources/snyk/configuration.md
Labels: automerge, website

#6418 feat(alicloud): Add alicloud source plugin to sync bss and oss resources
  .github/styles/Vocab/Base/accept.txt
  plugins/source/alicloud/.gitignore
  plugins/source/alicloud/.goreleaser.yaml
  plugins/source/alicloud/CHANGELOG.md
  plugins/source/alicloud/Makefile
  plugins/source/alicloud/README.md
  plugins/source/alicloud/client/client.go
  plugins/source/alicloud/client/mocks/bssopenapi.go
  plugins/source/alicloud/client/mocks/oss.go
  plugins/source/alicloud/client/multiplexers.go
  plugins/source/alicloud/client/services.go
  plugins/source/alicloud/client/services/bssopenapi.go
  plugins/source/alicloud/client/services/oss.go
  plugins/source/alicloud/client/spec.go
  plugins/source/alicloud/client/testing.go
  plugins/source/alicloud/codegen/main.go
  plugins/source/alicloud/docs/tables/README.md
  plugins/source/alicloud/docs/tables/alicloud_bss_bill.md
  plugins/source/alicloud/docs/tables/alicloud_bss_bill_overview.md
  plugins/source/alicloud/docs/tables/alicloud_oss_bucket_stats.md
  plugins/source/alicloud/docs/tables/alicloud_oss_buckets.md
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/go.sum
  plugins/source/alicloud/main.go
  plugins/source/alicloud/resources/plugin/plugin.go
  plugins/source/alicloud/resources/services/bss/bill.go
  plugins/source/alicloud/resources/services/bss/bill_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_fetch_mock_test.go
  plugins/source/alicloud/resources/services/bss/bill_overview.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch.go
  plugins/source/alicloud/resources/services/bss/bill_overview_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/bucket_stats.go
  plugins/source/alicloud/resources/services/oss/buckets.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_fetch_mock_test.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_fetch.go
  plugins/source/alicloud/resources/services/oss/buckets_stats_mock_test.go
Labels: automerge, alicloud

#6853 feat(aws): Remove more codegen
  plugins/source/aws/docs/tables/aws_cloudwatch_alarms.md
  plugins/source/aws/docs/tables/aws_ec2_transit_gateway_vpc_attachments.md
  plugins/source/aws/docs/tables/aws_ecs_cluster_container_instances.md
  plugins/source/aws/docs/tables/aws_iot_security_profiles.md
  plugins/source/aws/resources/services/apigatewayv2/domain_name_rest_api_mappings.go
  plugins/source/aws/resources/services/applicationautoscaling/policies.go
  plugins/source/aws/resources/services/appstream/app_blocks_fetch.go
  plugins/source/aws/resources/services/appstream/app_blocks_mock_test.go
  plugins/source/aws/resources/services/appstream/directory_configs_fetch.go
  plugins/source/aws/resources/services/appstream/directory_configs_mock_test.go
  plugins/source/aws/resources/services/appstream/fleets_fetch.go
  plugins/source/aws/resources/services/appstream/fleets_mock_test.go
  plugins/source/aws/resources/services/appstream/image_builders_fetch.go
  plugins/source/aws/resources/services/appstream/image_builders_mock_test.go
  plugins/source/aws/resources/services/appstream/images_fetch.go
  plugins/source/aws/resources/services/appstream/images_mock_test.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_fetch.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_mock_test.go
  plugins/source/aws/resources/services/backup/plan_selections.go
  plugins/source/aws/resources/services/cloudwatch/alarms.go
  plugins/source/aws/resources/services/ec2/transit_gateway_vpc_attachments.go
  plugins/source/aws/resources/services/ecr/repository_image_scan_findings.go
  plugins/source/aws/resources/services/ecs/cluster_container_instances.go
  plugins/source/aws/resources/services/elbv2/listener_certificates.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_fetch.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_mock_test.go
  plugins/source/aws/resources/services/eventbridge/archives_fetch.go
  plugins/source/aws/resources/services/eventbridge/archives_mock_test.go
  plugins/source/aws/resources/services/eventbridge/connections_fetch.go
  plugins/source/aws/resources/services/eventbridge/connections_mock_test.go
  plugins/source/aws/resources/services/eventbridge/endpoints_fetch.go
  plugins/source/aws/resources/services/eventbridge/endpoints_mock_test.go
  plugins/source/aws/resources/services/eventbridge/event_sources_fetch.go
  plugins/source/aws/resources/services/eventbridge/event_sources_mock_test.go
  plugins/source/aws/resources/services/eventbridge/replays_fetch.go
  plugins/source/aws/resources/services/eventbridge/replays_mock_test.go
  plugins/source/aws/resources/services/iot/security_profiles.go
  plugins/source/aws/resources/services/kafka/clusters_fetch.go
  plugins/source/aws/resources/services/kafka/clusters_mock_test.go
  plugins/source/aws/resources/services/kafka/configurations_fetch.go
  plugins/source/aws/resources/services/kafka/configurations_mock_test.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_fetch.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_mock_test.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets.go
Labels: aws, automerge

#6841 fix(k8s): Fix inet-type panic
  plugins/source/k8s/client/helpers.go
  plugins/source/k8s/resources/services/core/nodes.go
  plugins/source/k8s/resources/services/core/services.go
Labels: automerge, k8s

#6848 fix(sqlite-migrate): Use `int` when getting `pk` column information
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, sqlite

#6852 feat(gitlab-saas): Pass minimal access level on GitLab SaaS
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/spec.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
  website/pages/docs/plugins/sources/gitlab/configuration.md
Labels: automerge, website, gitlab

#6855 fix: Add oracle to release-please
  release-please-config.json
Labels: automerge

#6842 feat(cli): Print and log sources and destinations versions
  cli/cmd/sync2.go
Labels: automerge, cli, priority merge

#6854 chore(website): Update docs and front page
  .github/styles/Vocab/Base/accept.txt
  website/components/QueriesExamples.tsx
  website/components/pages/home.tsx
  website/content/features.ts
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/core-concepts/policies.md
  website/pages/docs/cq-vs-others/_meta.json
  website/pages/docs/cq-vs-others/airbyte.md
  website/pages/docs/cq-vs-others/fivetran.md
  website/pages/docs/index.mdx
  website/pages/index.mdx
Labels: automerge, website, priority merge

#6901 feat(alicloud): Add support for Alicloud ECS instances
  plugins/source/alicloud/client/client.go
  plugins/source/alicloud/client/mocks/ecs.go
  plugins/source/alicloud/client/multiplexers.go
  plugins/source/alicloud/client/resolvers.go
  plugins/source/alicloud/client/service_regions.go
  plugins/source/alicloud/client/services.go
  plugins/source/alicloud/client/services/ecs.go
  plugins/source/alicloud/client/testing.go
  plugins/source/alicloud/codegen/main.go
  plugins/source/alicloud/docs/tables/README.md
  plugins/source/alicloud/docs/tables/alicloud_ecs_instances.md
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/resources/plugin/plugin.go
  plugins/source/alicloud/resources/services/ecs/instances.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch.go
  plugins/source/alicloud/resources/services/ecs/instances_fetch_mock_test.go
Labels: automerge, priority merge

#6900 chore(ci): Report if table is in code but not in docs
  .github/workflows/missing_tables_summary.yml
  plugins/source/terraform/resources/services/tf_resource_instances.go
  plugins/source/terraform/resources/services/tf_resources.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/services/test.go
  scripts/missing_tables/go.mod
  scripts/missing_tables/go.sum
  scripts/missing_tables/main.go
Labels: automerge, terraform

#6849 fix(aws)!: Remove redundant fields from `aws_lambda_runtimes`
  plugins/source/aws/docs/tables/aws_lambda_runtimes.md
  plugins/source/aws/resources/services/lambda/runtimes.go
Labels: aws, automerge

#6904 chore(website): Update main README
  .github/styles/Vocab/Base/accept.txt
  README.md
Labels: automerge, priority merge
