Repository cloudquery/cloudquery, pull requests merged in 2023-10, with the labels that each got.

#14166 doc: Creating a new plugin using JavaScript SDK
  website/pages/blog/creating-a-new-js-plugin.mdx
Labels: docs, automerge, website, sdk

#14262 chore: Fix typo
  website/pages/blog/creating-a-new-js-plugin.mdx
Labels: automerge, website, priority merge

#14266 feat: Add configurable site
  plugins/source/datadog/client/client.go
  plugins/source/datadog/client/spec.go
  website/pages/docs/plugins/sources/datadog/_configuration.mdx
  website/pages/docs/plugins/sources/datadog/configuration.mdx
Labels: automerge, website, datadog

#14264 feat: Add pagination support for endpoints
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/dashboards/dashboards_mock_test.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/monitors/monitors_mock_test.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/notebooks/notebooks_mock_test.go
  plugins/source/datadog/resources/services/slos/corrections.go
  plugins/source/datadog/resources/services/slos/corrections_mock_test.go
  plugins/source/datadog/resources/services/slos/slos.go
  plugins/source/datadog/resources/services/slos/slos_mock_test.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/synthetics/synthetics_mock_test.go
Labels: automerge, datadog

#14274 feat: Update GCP libraries
  .github/workflows/source_gcp.yml
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  website/tables/gcp/gcp_aiplatform_index_endpoints.md
  website/tables/gcp/gcp_aiplatform_indexes.md
  website/tables/gcp/gcp_aiplatform_pipeline_jobs.md
  website/tables/gcp/gcp_baremetalsolution_instances.md
  website/tables/gcp/gcp_baremetalsolution_networks.md
  website/tables/gcp/gcp_baremetalsolution_nfs_shares.md
  website/tables/gcp/gcp_baremetalsolution_volume_luns.md
  website/tables/gcp/gcp_baremetalsolution_volumes.md
  website/tables/gcp/gcp_logging_metrics.md
  website/tables/gcp/gcp_workflows_workflows.md
Labels: automerge, gcp, website, ci

#14111 feat: Use autogenerated JSON schema
  plugins/source/gcp/Makefile
  plugins/source/gcp/client/spec/gen/main.go
  plugins/source/gcp/client/spec/schema.json
  plugins/source/gcp/client/spec/spec.go
  plugins/source/gcp/client/spec/spec_test.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Labels: automerge, gcp

#14275 feat: Use autogenerated JSON schema
  plugins/source/oracle/Makefile
  plugins/source/oracle/client/spec/gen/main.go
  plugins/source/oracle/client/spec/schema.json
  plugins/source/oracle/client/spec/spec.go
  plugins/source/oracle/client/spec/spec_test.go
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
Labels: automerge, oracle

#14287 chore: Use relative links in `creating-a-new-js-plugin.mdx`
  website/pages/blog/creating-a-new-js-plugin.mdx
Labels: automerge, website

#14288 chore: Use explicit build targets (snowflake)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
Labels: automerge, snowflake

#14298 fix: Better timeout handling, fix nullable column
  plugins/source/shopify/client/testing.go
  plugins/source/shopify/internal/shopify/checkout.go
  plugins/source/shopify/internal/shopify/shopify.go
  plugins/source/shopify/resources/plugin/client.go
Labels: shopify

#14314 fix: Premature context cancelation
  plugins/source/shopify/internal/shopify/shopify.go
Labels: automerge, priority merge, shopify

#14365 chore: Change hackernews, homebrew, sqlite to cloudquery registry
  website/pages/docs/plugins/destinations/sqlite/_configuration.mdx
  website/pages/docs/plugins/sources/hackernews/_configuration.mdx
  website/pages/docs/plugins/sources/homebrew/_configuration.mdx
Labels: automerge, website, priority merge

#14368 chore(ci): Escape release notes before passing to package command
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, ci, priority merge

#14308 doc: Fix script and generated policy pages
  website/components/policyData.tsx
  website/pages/buy/aws_cis_v1_5_0_bigquery-extended.mdx
  website/pages/buy/aws_cis_v1_5_0_bigquery-standard.mdx
  website/pages/buy/aws_cis_v1_5_0_snowflake-extended.mdx
  website/pages/buy/aws_cis_v1_5_0_snowflake-standard.mdx
  website/pages/buy/aws_foundational_security_bigquery-extended.mdx
  website/pages/buy/aws_foundational_security_bigquery-standard.mdx
  website/pages/buy/azure-cost-pack-extended.mdx
  website/pages/buy/azure-cost-pack-standard.mdx
  website/pages/buy/azure_cis_v1_3_0_bigquery-extended.mdx
  website/pages/buy/azure_cis_v1_3_0_bigquery-standard.mdx
  website/pages/buy/azure_cis_v1_3_0_snowflake-extended.mdx
  website/pages/buy/azure_cis_v1_3_0_snowflake-standard.mdx
  website/pages/buy/azure_hippa_hitrust_v9_2_bigquery-extended.mdx
  website/pages/buy/azure_hippa_hitrust_v9_2_bigquery-standard.mdx
  website/pages/buy/azure_hippa_hitrust_v9_2_snowflake-extended.mdx
  website/pages/buy/azure_hippa_hitrust_v9_2_snowflake-standard.mdx
  website/pages/buy/gcp-cost-pack-extended.mdx
  website/pages/buy/gcp-cost-pack-standard.mdx
  website/pages/buy/gcp_cis_v1_2_0_bigquery-extended.mdx
  website/pages/buy/gcp_cis_v1_2_0_bigquery-standard.mdx
  website/pages/buy/gcp_cis_v1_2_0_snowflake-extended.mdx
  website/pages/buy/gcp_cis_v1_2_0_snowflake-standard.mdx
  website/pages/buy/k8s_nsa_cisa_v1_bigquery-extended.mdx
  website/pages/buy/k8s_nsa_cisa_v1_bigquery-standard.mdx
  website/pages/buy/k8s_nsa_cisa_v1_snowflake-extended.mdx
  website/pages/buy/k8s_nsa_cisa_v1_snowflake-standard.mdx
  website/scripts/prebuild.tsx
Labels: automerge, website

#14376 chore: Remove comment
  plugins/source/gcp/client/spec/spec.go
Labels: automerge, gcp

#14192 feat: Enable Users to Disable TLS Verification when using Custom Endpoint
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec.go
  website/pages/docs/plugins/destinations/s3/_configuration.mdx
  website/pages/docs/plugins/destinations/s3/overview.mdx
Labels: automerge, website, s3

#13858 fix: Lowercase policy statement in query for KMS.1
  plugins/source/aws/policies/queries/kms/customer_policy_blocked_kms_actions.sql
  website/tables/aws/aws_iam_policies.md
Labels: aws, automerge, website, aws-policies

#13859 feat: Updated query unused_acls.sql
  plugins/source/aws/policies/queries/ec2/unused_acls.sql
  website/tables/aws/aws_ec2_network_acls.md
Labels: aws, automerge, website, aws-policies

#13860 feat: Updated query api_gw_cache_encrypted.sql
  plugins/source/aws/policies/queries/apigateway/api_gw_cache_encrypted.sql
Labels: aws, automerge, aws-policies

#13861 fix: Added check for empty string health_status
  plugins/source/aws/policies/queries/elasticbeanstalk/advanced_health_reporting_enabled.sql
  website/tables/aws/aws_elasticbeanstalk_environments.md
Labels: aws, automerge, website, aws-policies

#13921 feat: Deleted query origin_access_identity_enabled.sql
  plugins/source/aws/policies/foundational_security/cloudfront.sql
  plugins/source/aws/policies/queries/cloudfront/origin_access_identity_enabled.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_cloudfront_distributions.md
Labels: aws, automerge, website

#13933 fix: Changed ssm.2 query to reduce redundent rows
  plugins/source/aws/policies/queries/ssm/instances_should_have_patch_compliance_status_of_compliant.sql
  website/tables/aws/aws_ssm_instance_compliance_items.md
  website/tables/aws/aws_ssm_instances.md
Labels: aws, automerge, website

#13934 feat: Updated query secrets_configured_with_automatic_rotation_should…
  plugins/source/aws/policies/queries/secretsmanager/secrets_configured_with_automatic_rotation_should_rotate_successfully.sql
  website/tables/aws/aws_secretsmanager_secrets.md
Labels: aws, automerge, website

#14449 chore: Add more tests to schema
  plugins/source/oracle/client/spec/spec_test.go
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
Labels: automerge, oracle

#14448 fix: Proper validation for `project_filter` mutually exclusive with `folder_ids`
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/spec/schema.json
  plugins/source/gcp/client/spec/spec.go
  plugins/source/gcp/client/spec/spec_test.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/client.go
Labels: automerge, gcp

#14456 chore: Replace standard slices package
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/sync_v2.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/spec_reader.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/meilisearch/client/index.go
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/columns.go
  plugins/destination/mssql/queries/columns.go
  plugins/destination/postgresql/client/transformer_test.go
  plugins/source/aws/client/spec/tableoptions/change_case.go
  plugins/source/googleanalytics/client/row.go
  plugins/source/pagerduty/client/testing.go
Labels: aws, automerge, cli, postgresql, pagerduty, mssql, clickhouse, googleanalytics, meilisearch

#14463 chore: Use cq-bot token in Summarize changes workflow
  .github/workflows/docs_changes_summary.yml
Labels: automerge, ci

#14462 chore: Rename `tableoptions` structs
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/tableoptions/accessanalyzer.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_test.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_test.go
  plugins/source/aws/client/spec/tableoptions/ecs_cluster_tasks.go
  plugins/source/aws/client/spec/tableoptions/ecs_cluster_tasks_test.go
  plugins/source/aws/client/spec/tableoptions/inspector2.go
  plugins/source/aws/client/spec/tableoptions/inspector2_test.go
  plugins/source/aws/client/spec/tableoptions/securityhub.go
  plugins/source/aws/client/spec/tableoptions/securityhub_test.go
  plugins/source/aws/client/spec/tableoptions/table_options.go
  plugins/source/aws/client/spec/tableoptions/table_options_test.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Labels: aws, automerge

#14467 chore: Switch to git based diffing instead of API diffing
  .github/workflows/wait_for_required_workflows.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, ci

#14473 chore: Use `cq-bot` token in cache cleanup
  .github/workflows/clean_actions_cache.yml
Labels: ci

#14468 chore: Streamline opt struct names
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings_test.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events_test.go
  plugins/source/aws/client/spec/tableoptions/costexplorer.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks_test.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings_test.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings_test.go
  plugins/source/aws/client/spec/tableoptions/table_options_test.go
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/cloudtrail/events.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/securityhub/findings.go
Labels: aws, automerge, priority merge

#14457 feat: Add a table for pod templates in k8s plugin
  plugins/source/k8s/docs/tables/README.md
  plugins/source/k8s/resources/plugin/plugin.go
  plugins/source/k8s/resources/services/core/pod_templates.go
  plugins/source/k8s/resources/services/core/pod_templates_test.go
  website/pages/docs/plugins/sources/k8s/tables.md
  website/tables/k8s/k8s_core_pod_templates.md
Labels: automerge, k8s, website, resource

#14482 doc: Add missing parenthesis
  website/pages/docs/plugins/sources/aws/configuration.mdx
Labels: automerge, website, priority merge

#14486 doc: Add warning about GitHub action deployments to public repos
  website/pages/docs/deployment/github-actions.md
Labels: automerge, website, priority merge

#14474 chore: Move `hashicorp-vault` pages under `vault`
  plugins/source/vault/Makefile
  website/components/pluginData.tsx
  website/pages/blog/product-updates-7.mdx
  website/pages/docs/plugins/sources/vault/_authentication.mdx
  website/pages/docs/plugins/sources/vault/_configuration.mdx
  website/pages/docs/plugins/sources/vault/_meta.json
  website/pages/docs/plugins/sources/vault/overview.mdx
  website/pages/docs/plugins/sources/vault/tables.md
  website/pages/docs/plugins/sources/vault/tables/[table].mdx
  website/tables/vault/vault_sys_audits.md
  website/tables/vault/vault_sys_auths.md
  website/tables/vault/vault_sys_mounts.md
  website/tables/vault/vault_sys_plugins.md
  website/tables/vault/vault_sys_policies.md
  website/vercel.json
Labels: automerge, website, vault

#14458 feat: Move gcp to dbt (only 1 section)
  .github/workflows/source_gcp.yml
  plugins/source/gcp/policies/README.md
  plugins/source/gcp/policies/gcp_compliance/.gitignore
  plugins/source/gcp/policies/gcp_compliance/README.md
  plugins/source/gcp/policies/gcp_compliance/analyses/.gitkeep
  plugins/source/gcp/policies/gcp_compliance/dbt_project.yml
  plugins/source/gcp/policies/gcp_compliance/macros/.gitkeep
  plugins/source/gcp/policies/gcp_compliance/macros/iam/avoid_root_usage.sql
  plugins/source/gcp/policies/gcp_compliance/macros/iam/managed_service_account_keys.sql
  plugins/source/gcp/policies/gcp_compliance/macros/iam/separation_of_duties.sql
  plugins/source/gcp/policies/gcp_compliance/macros/iam/service_account_admin_priv.sql
  plugins/source/gcp/policies/gcp_compliance/macros/iam/service_account_keys_not_rotated.sql
  plugins/source/gcp/policies/gcp_compliance/macros/iam/users_with_service_account_token_creator_role.sql
  plugins/source/gcp/policies/gcp_compliance/macros/kms/keys_not_rotated_within_90_days.sql
  plugins/source/gcp/policies/gcp_compliance/macros/kms/publicly_accessible.sql
  plugins/source/gcp/policies/gcp_compliance/macros/kms/separation_of_duties.sql
  plugins/source/gcp/policies/gcp_compliance/models/gcp_compliance__cis_v1_2_0.sql
  plugins/source/gcp/policies/gcp_compliance/models/gcp_compliance__member_with_roles.sql
  plugins/source/gcp/policies/gcp_compliance/models/gcp_compliance__project_policy_members.sql
  plugins/source/gcp/policies/gcp_compliance/seeds/.gitkeep
  plugins/source/gcp/policies/gcp_compliance/snapshots/.gitkeep
  plugins/source/gcp/policies/gcp_compliance/tests/.gitkeep
  plugins/source/gcp/test/dbt/profiles.yml
Labels: automerge, gcp, ci

#14493 feat: Add team context selection via `switch`
  cli/cmd/constants.go
  cli/cmd/login.go
  cli/cmd/logout.go
  cli/cmd/publish.go
  cli/cmd/publish_test.go
  cli/cmd/root.go
  cli/cmd/switch.go
  cli/cmd/switch_test.go
  cli/internal/auth/logout.go
  cli/internal/auth/team.go
  cli/internal/auth/token.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
Labels: automerge, cli

#13854 feat: Updated query of security_groups_with_open_critical_ports
  plugins/source/aws/policies/queries/ec2/security_groups_with_open_critical_ports.sql
  website/pages/docs/plugins/sources/aws/policies.md
Labels: aws, automerge, website, aws-policies

#13855 feat: Updated query of security_groups_with_access_to_unauthorized_ports
  plugins/source/aws/policies/queries/ec2/security_groups_with_access_to_unauthorized_ports.sql
Labels: aws, automerge, aws-policies

#14476 fix: Fallback to `eu-west-1` if a given buckets LocationConstraint is `EU`
  plugins/source/aws/resources/services/s3/buckets.go
Labels: aws, automerge

#14497 feat(website): Amazon Web Services Partnership Blog Twitch link update
  website/pages/blog/announcing-aws-partnership.mdx
Labels: automerge, website

#14381 fix: Redact Code Location and Fall back to other APIs to fully resolve `aws_lambda_functions`
  plugins/source/aws/resources/services/lambda/functions.go
Labels: bug, aws, automerge

#14501 chore: Use `-` for clashing names in JSON schema
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
Labels: aws, automerge, gcp, oracle

#14502 fix: Proper schema for `CustomECSListTasksInput.MaxResults`
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings.go
  plugins/source/aws/client/spec/tableoptions/accessanalyzer_findings_test.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events.go
  plugins/source/aws/client/spec/tableoptions/cloudtrail_events_test.go
  plugins/source/aws/client/spec/tableoptions/cloudwatch_test.go
  plugins/source/aws/client/spec/tableoptions/costexplorer_test.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks.go
  plugins/source/aws/client/spec/tableoptions/ecs_tasks_test.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings.go
  plugins/source/aws/client/spec/tableoptions/inspector2_findings_test.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings.go
  plugins/source/aws/client/spec/tableoptions/securityhub_findings_test.go
  plugins/source/aws/client/spec/tableoptions/table_options.go
  plugins/source/aws/client/spec/tableoptions/table_options_test.go
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/cloudtrail/events.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/inspector2/findings.go
  plugins/source/aws/resources/services/securityhub/findings.go
Labels: aws, automerge

#14484 feat: Move Alicloud plugin docs to Markdown
  .github/workflows/publish_plugin_to_hub.yml
  website/next.config.mjs
  website/package-lock.json
  website/package.json
  website/pages/docs/plugins/sources/alicloud/_authentication.md
  website/pages/docs/plugins/sources/alicloud/_configuration.md
  website/pages/docs/plugins/sources/alicloud/overview.md
  website/scripts/prebuild.tsx
  website/theme.config.tsx
  website/utils/components.tsx
Labels: automerge, website, ci

#14505 chore: Move AWS docs to MD from MDX
  .github/styles/Vocab/Base/accept.txt
  website/next.config.mjs
  website/package-lock.json
  website/package.json
  website/pages/docs/plugins/sources/aws/_authentication.md
  website/pages/docs/plugins/sources/aws/_configuration.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/event-based-sync.md
  website/pages/docs/plugins/sources/aws/multi-account.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/pages/docs/plugins/sources/aws/versioning.md
  website/theme.config.tsx
  website/utils/components.tsx
  website/utils/plugins.js
Labels: automerge, website

#14507 chore: Evaluate slash commands only on PR comments
  .github/workflows/manual_commands.yml
Labels: automerge, ci

#14511 chore: Remove MDX syntax from MD
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, website

#14521 chore: Increase polling time in wait for all workflow to avoid rate limits
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge

#14528 fix: Late setup for format and stage
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#14531 chore: Fix `comment-author` filter in docs changes workflow
  .github/workflows/docs_changes_summary.yml
Labels: ci

#14525 doc: How to build a container with preinstalled plugins
  website/pages/docs/deployment/_meta.json
  website/pages/docs/deployment/docker-offline.mdx
Labels: automerge, website

#14527 feat: Add JSON schema
  plugins/source/googleanalytics/Makefile
  plugins/source/googleanalytics/client/client.go
  plugins/source/googleanalytics/client/fetch.go
  plugins/source/googleanalytics/client/metric.go
  plugins/source/googleanalytics/client/metric_test.go
  plugins/source/googleanalytics/client/oauth.go
  plugins/source/googleanalytics/client/oauth_test.go
  plugins/source/googleanalytics/client/report.go
  plugins/source/googleanalytics/client/report_test.go
  plugins/source/googleanalytics/client/schema.json
  plugins/source/googleanalytics/client/schemagen/main.go
  plugins/source/googleanalytics/client/spec.go
  plugins/source/googleanalytics/client/spec_test.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
Labels: automerge, googleanalytics

#14529 feat: Adding GitHub Actions workflowRuns, RunUsage, and Jobs
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/services.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/actions/workflowJobs.go
  plugins/source/github/resources/services/actions/workflowRunUsage.go
  plugins/source/github/resources/services/actions/workflowRuns.go
  website/pages/docs/plugins/sources/github/_authentication.mdx
  website/pages/docs/plugins/sources/github/tables.md
  website/tables/github/github_workflow_jobs.md
  website/tables/github/github_workflow_run_usage.md
  website/tables/github/github_workflow_runs.md
Labels: automerge, github, website

#14535 doc: Status badges to readme
  README.md
Labels: automerge

#14515 feat: Add linux `arm64` docker image
  cli/.goreleaser.yaml
Labels: automerge

#14530 fix: Setup write before WriteMessage processing
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#14542 fix: Don't use templating in Dockers publish config
  cli/.goreleaser.yaml
Labels: automerge

#14554 chore: Update labels
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_destination_plugin.yml
  .github/ISSUE_TEMPLATE/new_resource.yml
  .github/ISSUE_TEMPLATE/new_source_plugin.yml
  .github/pr_labeler.yml
Labels: automerge

#14558 feat: Add JSON schema for plugin spec
  plugins/source/azure/Makefile
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec.go
  plugins/source/azure/client/spec/gen/main.go
  plugins/source/azure/client/spec/schema.json
  plugins/source/azure/client/spec/spec.go
  plugins/source/azure/client/spec/spec_test.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/client.go
  plugins/source/azure/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/azure

#14569 chore: Migrate gremlin destination docs to MD
  website/pages/docs/plugins/destinations/gremlin/_configuration.md
  website/pages/docs/plugins/destinations/gremlin/overview.md
  website/utils/components.tsx
Labels: automerge, area/website

#14573 fix: Remove unnecessary type registration
  plugins/destination/duckdb/client/client_test.go
Labels: automerge, area/plugin/destination/duckdb

#14578 chore: Support upgrading destinations
  scripts/update-plugin-sdk.sh
Labels: automerge

#14495 feat: Support DeleteRecord Message
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#14499 feat: Support DeleteRecord functionality in Postgres Destination
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/delete.go
  plugins/destination/postgresql/client/delete_test.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/go.mod
Labels: automerge, area/plugin/destination/postgresql

#14560 chore: Migrate azblob destination docs to MD
  website/pages/docs/plugins/destinations/azblob/_authentication.md
  website/pages/docs/plugins/destinations/azblob/_configuration.md
  website/pages/docs/plugins/destinations/azblob/overview.md
  website/utils/components.tsx
Labels: area/website

#14584 chore: Migrate sqlite destination docs to MD
  website/pages/docs/plugins/destinations/sqlite/_configuration.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/utils/components.tsx
Labels: area/website

#14563 chore: Migrate duckdb destination docs to MD
  website/pages/docs/plugins/destinations/duckdb/_configuration.md
  website/pages/docs/plugins/destinations/duckdb/overview.md
  website/utils/components.tsx
Labels: area/website

#14583 chore: Migrate snowflake destination docs to MD
  website/pages/docs/plugins/destinations/snowflake/_configuration.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/utils/components.tsx
Labels: area/website

#14614 chore: Migrate awspricing source docs to MD
  website/pages/docs/plugins/sources/awspricing/_configuration.md
  website/pages/docs/plugins/sources/awspricing/overview.md
  website/utils/components.tsx
Labels: area/website

#14613 feat(resources): Add Management Group Entities
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/managementgroups/entities.go
  plugins/source/azure/resources/services/managementgroups/entities_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
  website/tables/azure/azure_managementgroups_entities.md
Labels: automerge, area/plugin/source/azure, priority merge, area/website

#14620 chore: Migrate sources a-c docs to MD
  website/pages/docs/plugins/sources/azure/_authentication.md
  website/pages/docs/plugins/sources/azure/_configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/azure/overview.md
  website/pages/docs/plugins/sources/azuredevops/_authentication.md
  website/pages/docs/plugins/sources/azuredevops/_configuration.md
  website/pages/docs/plugins/sources/azuredevops/overview.md
  website/pages/docs/plugins/sources/bitbucket/_authentication.md
  website/pages/docs/plugins/sources/bitbucket/_configuration.md
  website/pages/docs/plugins/sources/bitbucket/overview.mdx
  website/pages/docs/plugins/sources/cloudflare/_authentication.md
  website/pages/docs/plugins/sources/cloudflare/_configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/utils/components.tsx
Labels: area/website

#14623 feat: Add JSON schema for plugin spec
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/Makefile
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec/engine.go
  plugins/destination/clickhouse/client/spec/engine_test.go
  plugins/destination/clickhouse/client/spec/gen/main.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/client/spec/spec_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/clickhouse/main.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
Labels: automerge, area/ci, area/plugin/destination/clickhouse

#14561 chore: Migrate bigquery destination docs to MD
  website/pages/docs/plugins/destinations/bigquery/_authentication.md
  website/pages/docs/plugins/destinations/bigquery/_configuration.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/bigquery/types.md
  website/utils/components.tsx
Labels: area/website

#14625 chore: Migrate sources d-g docs to MD
  website/next.config.mjs
  website/pages/docs/plugins/sources/datadog/_authentication.md
  website/pages/docs/plugins/sources/datadog/_configuration.md
  website/pages/docs/plugins/sources/datadog/configuration.md
  website/pages/docs/plugins/sources/datadog/overview.md
  website/pages/docs/plugins/sources/digitalocean/_authentication.md
  website/pages/docs/plugins/sources/digitalocean/_configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/facebookmarketing/_authentication.md
  website/pages/docs/plugins/sources/facebookmarketing/_configuration.md
  website/pages/docs/plugins/sources/facebookmarketing/overview.md
  website/pages/docs/plugins/sources/fastly/_authentication.md
  website/pages/docs/plugins/sources/fastly/_configuration.md
  website/pages/docs/plugins/sources/fastly/overview.md
  website/pages/docs/plugins/sources/file/_configuration.md
  website/pages/docs/plugins/sources/file/overview.md
  website/pages/docs/plugins/sources/firestore/_authentication.md
  website/pages/docs/plugins/sources/firestore/_configuration.md
  website/pages/docs/plugins/sources/firestore/overview.md
  website/pages/docs/plugins/sources/gandi/_authentication.md
  website/pages/docs/plugins/sources/gandi/_configuration.md
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/gcp/_authentication.md
  website/pages/docs/plugins/sources/gcp/_configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/gcp/overview.md
  website/pages/docs/plugins/sources/github/_authentication.md
  website/pages/docs/plugins/sources/github/_configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/gitlab/_authentication.md
  website/pages/docs/plugins/sources/gitlab/_configuration.md
  website/pages/docs/plugins/sources/gitlab/configuration.md
  website/pages/docs/plugins/sources/gitlab/overview.md
  website/pages/docs/plugins/sources/googleads/_authentication.md
  website/pages/docs/plugins/sources/googleads/_configuration.md
  website/pages/docs/plugins/sources/googleads/authentication.md
  website/pages/docs/plugins/sources/googleads/authentication.mdx
  website/pages/docs/plugins/sources/googleads/configuration.md
  website/pages/docs/plugins/sources/googleads/overview.md
  website/pages/docs/plugins/sources/googleanalytics/_authentication.md
  website/pages/docs/plugins/sources/googleanalytics/_configuration.md
  website/pages/docs/plugins/sources/googleanalytics/authentication.md
  website/pages/docs/plugins/sources/googleanalytics/authentication.mdx
  website/pages/docs/plugins/sources/googleanalytics/configuration.md
  website/pages/docs/plugins/sources/googleanalytics/overview.md
  website/utils/components.tsx
Labels: area/website

#14602 chore: Migrate airtable source docs to MD
  website/pages/docs/plugins/sources/airtable/_authentication.md
  website/pages/docs/plugins/sources/airtable/_configuration.md
  website/pages/docs/plugins/sources/airtable/overview.md
  website/utils/components.tsx
Labels: area/website

#14633 chore: Migrate all destinations docs from MDX to MD
  website/pages/docs/plugins/destinations/clickhouse/_configuration.md
  website/pages/docs/plugins/destinations/clickhouse/overview.md
  website/pages/docs/plugins/destinations/elasticsearch/_configuration.md
  website/pages/docs/plugins/destinations/elasticsearch/overview.md
  website/pages/docs/plugins/destinations/elasticsearch/types.md
  website/pages/docs/plugins/destinations/file/_configuration.md
  website/pages/docs/plugins/destinations/file/overview.md
  website/pages/docs/plugins/destinations/firehose/_authentication.md
  website/pages/docs/plugins/destinations/firehose/_configuration.md
  website/pages/docs/plugins/destinations/firehose/overview.md
  website/pages/docs/plugins/destinations/gcs/_authentication.md
  website/pages/docs/plugins/destinations/gcs/_configuration.md
  website/pages/docs/plugins/destinations/gcs/overview.md
  website/pages/docs/plugins/destinations/kafka/_configuration.md
  website/pages/docs/plugins/destinations/kafka/overview.md
  website/pages/docs/plugins/destinations/meilisearch/_configuration.md
  website/pages/docs/plugins/destinations/meilisearch/overview.md
  website/pages/docs/plugins/destinations/mongodb/_configuration.md
  website/pages/docs/plugins/destinations/mongodb/overview.md
  website/pages/docs/plugins/destinations/mssql/_configuration.md
  website/pages/docs/plugins/destinations/mssql/configuration.md
  website/pages/docs/plugins/destinations/mssql/example.md
  website/pages/docs/plugins/destinations/mssql/overview.md
  website/pages/docs/plugins/destinations/mysql/_configuration.md
  website/pages/docs/plugins/destinations/mysql/configuration.md
  website/pages/docs/plugins/destinations/mysql/example.md
  website/pages/docs/plugins/destinations/mysql/overview.md
  website/pages/docs/plugins/destinations/neo4j/_configuration.md
  website/pages/docs/plugins/destinations/neo4j/overview.md
  website/pages/docs/plugins/destinations/s3/_authentication.md
  website/pages/docs/plugins/destinations/s3/_configuration.md
  website/pages/docs/plugins/destinations/s3/overview.md
  website/utils/components.tsx
Labels: area/website

#14641 test: Add workflow runs/usage/jobs mock test
  plugins/source/github/resources/services/actions/workflow_jobs.go
  plugins/source/github/resources/services/actions/workflow_run_usage.go
  plugins/source/github/resources/services/actions/workflow_runs.go
  plugins/source/github/resources/services/actions/workflow_runs_test.go
Labels: automerge, area/plugin/source/github

#14648 chore: Migrate Slack source to MD, fix integrations build
  website/next.config.mjs
  website/pages/docs/plugins/sources/slack/_authentication.md
  website/pages/docs/plugins/sources/slack/_configuration.md
  website/pages/docs/plugins/sources/slack/configuration.md
  website/pages/docs/plugins/sources/slack/overview.md
  website/pages/integrations/[...slug].mdx
  website/scripts/prebuild.tsx
  website/theme.config.tsx
  website/utils/components.tsx
  website/utils/plugins.js
  website/utils/slack-app-link.ts
Labels: area/website

#14631 refactor: Move auth package to `cloudquery-api-go`
  cli/cmd/login.go
  cli/cmd/logout.go
  cli/cmd/publish.go
  cli/cmd/switch.go
  cli/cmd/switch_test.go
  cli/go.mod
  cli/go.sum
  cli/internal/auth/logout.go
  cli/internal/auth/token.go
  cli/internal/config/config.go
  cli/internal/config/config_test.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#14649 chore: Removes the xdg (direct) dependency
  cli/cmd/switch_test.go
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#14650 chore: Remove markdown escaping
  website/scripts/prebuild.tsx
Labels: area/website

#14651 chore: Add missing install Slack app link
  website/theme.config.tsx
Labels: automerge, area/website

#14647 fix: Add descriptions to JSON schema
  plugins/source/aws/Makefile
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/organizations_test.go
  plugins/source/aws/client/spec/account.go
  plugins/source/aws/client/spec/account_test.go
  plugins/source/aws/client/spec/event_based.go
  plugins/source/aws/client/spec/event_based_test.go
  plugins/source/aws/client/spec/gen/main.go
  plugins/source/aws/client/spec/org.go
  plugins/source/aws/client/spec/org_test.go
  plugins/source/aws/client/spec/organization.go
  plugins/source/aws/client/spec/organization_test.go
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/client/spec/spec_test.go
  plugins/source/aws/client/spec/tableoptions/table_options.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  website/pages/docs/plugins/sources/aws/configuration.md
Labels: automerge, area/plugin/source/aws, priority merge, area/ci, area/website

#14564 feat: Addon CLI
  .github/styles/Vocab/Base/accept.txt
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
  cli/cmd/addon_publish.go
  cli/cmd/addon_publish_test.go
  cli/cmd/constants.go
  cli/cmd/doc_test.go
  cli/cmd/hub_util.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/login.go
  cli/cmd/plugin_publish.go
  cli/cmd/plugin_publish_test.go
  cli/cmd/root.go
  cli/cmd/switch.go
  cli/cmd/switch_test.go
  cli/cmd/testdata/addon-v1/changelog.md
  cli/cmd/testdata/addon-v1/manifest.json
  cli/cmd/testdata/addon-v1/readme.md
  cli/cmd/testdata/addon-v1/test.zip
  cli/go.mod
  cli/go.sum
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_plugin.md
  website/pages/docs/reference/cli/cloudquery_plugin_install.md
Labels: automerge, area/cli, area/ci, area/website

#14663 fix: Properly handle `cloud_name` in JSON schema
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec/gen/main.go
  plugins/source/azure/client/spec/schema.json
  plugins/source/azure/client/spec/spec.go
  plugins/source/azure/client/spec/spec_test.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  website/pages/docs/plugins/sources/azure/configuration.md
Labels: automerge, area/plugin/source/azure, area/website

#14671 fix: Add descriptions to spec JSON schema
  plugins/source/gcp/client/spec/credentials_config.go
  plugins/source/gcp/client/spec/credentials_config_test.go
  plugins/source/gcp/client/spec/gen/main.go
  plugins/source/gcp/client/spec/schema.json
  plugins/source/gcp/client/spec/spec.go
  plugins/source/gcp/client/spec/spec_test.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, area/plugin/source/gcp, area/website

#14692 chore: Don't use large runners for CLI workflow
  .github/workflows/cli.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, area/ci

#14718 fix: Fix k8s plugin metadata
  plugins/source/k8s/resources/plugin/plugin.go
Labels: area/plugin/source/k8s

#14719 fix: Update `engine.parameters` validation
  plugins/destination/clickhouse/client/spec/engine.go
  plugins/destination/clickhouse/client/spec/gen/main.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  website/pages/docs/plugins/destinations/clickhouse/overview.md
Labels: automerge, area/website, area/plugin/destination/clickhouse

#14638 feat(resources): Add support for GCP organization and project tags
  plugins/source/gcp/client/services.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/resourcemanager/organization_tags.go
  plugins/source/gcp/resources/services/resourcemanager/organization_tags_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/organization_tags_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/project_tags.go
  plugins/source/gcp/resources/services/resourcemanager/project_tags_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/project_tags_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
  website/tables/gcp/gcp_resourcemanager_organization_tag_keys.md
  website/tables/gcp/gcp_resourcemanager_organization_tag_values.md
  website/tables/gcp/gcp_resourcemanager_project_tag_bindings.md
  website/tables/gcp/gcp_resourcemanager_project_tag_keys.md
  website/tables/gcp/gcp_resourcemanager_project_tag_values.md
Labels: automerge, area/plugin/source/gcp, priority merge, area/website

#14696 doc: Add a note on sensitive information when debug logging is enabled
  website/next.config.mjs
  website/pages/docs/troubleshooting.md
Labels: automerge, kind/docs, area/website

#14724 fix(website): Move `backend_options` to the root of Google Analytics (ne…
  plugins/source/googleanalytics/Makefile
  plugins/source/googleanalytics/client/metric.go
  plugins/source/googleanalytics/client/oauth.go
  plugins/source/googleanalytics/client/report.go
  plugins/source/googleanalytics/client/schema.json
  plugins/source/googleanalytics/client/schemagen/main.go
  plugins/source/googleanalytics/client/spec.go
  plugins/source/googleanalytics/go.mod
  plugins/source/googleanalytics/go.sum
  website/pages/docs/plugins/sources/googleanalytics/configuration.md
Labels: automerge, area/plugin/source/googleanalytics, area/website

#14720 chore: Add descriptions to JSON schema
  plugins/source/oracle/client/spec/gen/main.go
  plugins/source/oracle/client/spec/schema.json
  plugins/source/oracle/client/spec/spec.go
  plugins/source/oracle/client/spec/spec_test.go
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
  website/pages/docs/plugins/sources/oracle/overview.md
Labels: automerge, area/plugin/source/oracle, area/website

#14726 fix: Don't error on S3 buckets with Object Lock disabled (`aws_s3_bucket_object_lock_configurations` )
  plugins/source/aws/resources/services/s3/bucket_object_lock_configurations.go
Labels: automerge, area/plugin/source/aws

#14730 fix: Don't error on ECR repositories when they're missing Lifecycle policies (`aws_ecr_repository_lifecycle_policies`)
  plugins/source/aws/resources/services/ecr/lifecycle_policy.go
Labels: automerge, area/plugin/source/aws

#14758 doc: Add new events to AWS event-based sync docs
  website/pages/docs/plugins/sources/aws/event-based-sync.md
Labels: automerge, kind/docs, area/website

#14745 feat: Expose Azure Go SDK retry configuration
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec/schema.json
  plugins/source/azure/client/spec/spec.go
  plugins/source/azure/client/spec/spec_test.go
  website/pages/docs/plugins/sources/azure/_configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
Labels: automerge, area/plugin/source/azure, priority merge, area/website

#14771 fix: Handle `NotFound` error when syncing Subscriptions with deleted topic (`aws_sns_subscriptions`)
  plugins/source/aws/resources/services/sns/subscriptions.go
Labels: automerge, area/plugin/source/aws

#14767 doc(website): Proper `backend_options` documentation
  website/pages/blog/proto-v3.mdx
  website/pages/docs/advanced-topics/managing-incremental-tables.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/googleanalytics/_configuration.md
  website/pages/docs/plugins/sources/googleanalytics/configuration.md
  website/pages/docs/plugins/sources/hackernews/_configuration.md
  website/pages/docs/plugins/sources/hackernews/overview.md
  website/pages/docs/plugins/sources/homebrew/_configuration.md
  website/pages/docs/plugins/sources/homebrew/overview.md
  website/pages/docs/plugins/sources/launchdarkly/_configuration.md
  website/pages/docs/plugins/sources/launchdarkly/overview.md
  website/pages/docs/plugins/sources/mixpanel/_configuration.md
  website/pages/docs/plugins/sources/mixpanel/overview.md
  website/pages/docs/plugins/sources/shopify/_configuration.md
  website/pages/docs/plugins/sources/shopify/overview.md
  website/pages/docs/plugins/sources/stripe/_configuration.md
  website/pages/docs/plugins/sources/stripe/overview.md
  website/pages/docs/plugins/sources/vercel/_configuration.md
  website/pages/docs/plugins/sources/vercel/configuration.md
Labels: automerge, area/website

#14729 fix: Don't call GetFunctionCodeSigningConfig or GetRuntimeManagementConfig on Lambdas packaged as Images (`aws_lambda_functions`)
  plugins/source/aws/resources/services/lambda/functions.go
Labels: automerge, area/plugin/source/aws

#14781 doc: Python Plugin video and template links
  website/pages/docs/developers/creating-new-plugin/python-source.mdx
Labels: automerge, kind/docs, area/website

#14782 doc: Embed video in python plugin page
  website/pages/docs/developers/creating-new-plugin/python-source.mdx
Labels: automerge, kind/docs, area/website

#13935 fix: Changed the condition to check for policies in policies table
  plugins/source/aws/policies/queries/elb/elbv1_https_predefined_policy.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_elbv1_load_balancers.md
Labels: automerge, area/plugin/source/aws, area/website

#14672 feat: Add `policy` column to `aws_efs_filesystems` table
  plugins/source/aws/resources/services/efs/filesystems.go
  plugins/source/aws/resources/services/efs/filesystems_mock_test.go
  website/tables/aws/aws_efs_filesystems.md
Labels: automerge, area/plugin/source/aws, area/website

#14779 doc: Add a callout with a link to an up-to-date list of events
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
Labels: automerge, kind/docs, area/website

#14848 chore: Better `retry_options` schema testing
  plugins/source/azure/client/client.go
  plugins/source/azure/client/spec/retry_options.go
  plugins/source/azure/client/spec/retry_options_test.go
  plugins/source/azure/client/spec/schema.json
  plugins/source/azure/client/spec/spec.go
  plugins/source/azure/client/spec/spec_test.go
  website/pages/docs/plugins/sources/azure/configuration.md
Labels: automerge, area/plugin/source/azure, area/website

#13787 feat(website): Announcing Google Cloud Partner
  website/pages/blog/announcing-gcp-partnership.mdx
  website/public/images/blog/announcing-gcp-partnership/gcp_partner_badge.png
Labels: automerge, area/website, area/solutions/blog

#14913 feat: Add `aws_lambda_function_url_configs` table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/lambda/function_url_configs.go
  plugins/source/aws/resources/services/lambda/functions.go
  plugins/source/aws/resources/services/lambda/functions_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_lambda_function_url_configs.md
  website/tables/aws/aws_lambda_functions.md
Labels: automerge, area/plugin/source/aws, priority merge, area/website

#14920 chore: Fix docs publishing for DuckDB, SQLite, Snowflake
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, priority merge, area/ci

#14922 feat!: Support creating & recreating indexes for tables with primary keys
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/migrate.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/write.go
Labels: automerge, area/plugin/destination/neo4j

#14933 fix: Add missing table descriptions
  plugins/source/jira/resources/boards/boards.go
  plugins/source/jira/resources/fields/fields.go
  plugins/source/jira/resources/issues/issues.go
  plugins/source/jira/resources/priorities/priorities.go
  plugins/source/jira/resources/projects/projects.go
Labels: automerge, area/plugin/source/jira

#14936 chore: Exclude `hub.cloudquery.io` from broken links check
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#14925 feat: Add gcp `networkconnectivity` tables
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/plugin.go
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/networkconnectivity/internal_ranges.go
  plugins/source/gcp/resources/services/networkconnectivity/internal_ranges_test.go
  plugins/source/gcp/resources/services/networkconnectivity/locations.go
  plugins/source/gcp/resources/services/networkconnectivity/locations_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
  website/tables/gcp/gcp_bigquery_datasets.md
  website/tables/gcp/gcp_bigquery_tables.md
  website/tables/gcp/gcp_networkconnectivity_internal_ranges.md
  website/tables/gcp/gcp_networkconnectivity_locations.md
  website/tables/gcp/gcp_sql_instances.md
Labels: automerge, area/plugin/source/gcp, area/website

#14939 feat(website): Add hub link
  website/pages/_meta.json
Labels: automerge, area/website

#15001 fix: Add missing options to install command
  cli/cmd/install.go
Labels: automerge, area/cli

#14999 fix: Change casting
  plugins/source/aws/policies/queries/elb/elbv1_https_predefined_policy.sql
  website/tables/aws/aws_elbv1_load_balancer_policies.md
  website/tables/aws/aws_elbv1_load_balancers.md
Labels: automerge, area/plugin/source/aws, area/website

#15003 fix: Add missing options to tables command
  cli/cmd/tables.go
Labels: automerge, area/cli

#15004 refactor: Simplify sync command options
  cli/cmd/sync.go
Labels: automerge, area/cli

#15002 fix: Add missing options to migrate command
  cli/cmd/migrate.go
Labels: automerge, area/cli

#15020 fix: Update addon_type as part of PK
  cli/cmd/addon_publish.go
  cli/cmd/addon_publish_test.go
  cli/cmd/testdata/addon-v1/manifest.json
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#15019 feat: Add tags column to typeform plugin
  .github/workflows/source_typeform.yml
  plugins/source/typeform/plugin/tables/form_responses.py
  plugins/source/typeform/tests/tables/test_forms.py
  website/tables/typeform/typeform_form_responses.md
Labels: kind/feat, area/plugin/source/typeform, area/ci, area/website

#15022 chore: Pin Python version to 3.11
  .github/workflows/source_square.yml
Labels: automerge, area/ci

#15025 fix: Add missing metadata
  plugins/destination/mssql/main.go
Labels: automerge, area/plugin/destination/mssql, priority merge

#15031 fix: Flush state backend client after sync
  plugins/source/gcp/resources/plugin/client.go
Labels: automerge, area/plugin/source/gcp, priority merge

#15030 chore: Move MongoDB Atlas docs under `mongodbatlas`
  website/components/pluginData.tsx
  website/pages/blog/product-updates-7.mdx
  website/pages/docs/plugins/sources/mongodbatlas/_authentication.md
  website/pages/docs/plugins/sources/mongodbatlas/_configuration.md
  website/pages/docs/plugins/sources/mongodbatlas/_meta.json
  website/pages/docs/plugins/sources/mongodbatlas/overview.md
  website/pages/docs/plugins/sources/mongodbatlas/tables.md
  website/pages/docs/plugins/sources/mongodbatlas/tables/[table].mdx
  website/utils/components.tsx
  website/vercel.json
Labels: automerge, area/website

#15012 feat: Updated query s3_cross_region_replication.sql
  plugins/source/aws/policies/queries/s3/s3_cross_region_replication.sql
  website/pages/docs/plugins/sources/aws/policies.md
  website/tables/aws/aws_s3_buckets.md
Labels: area/plugin/source/aws, area/website

#15044 chore: Add missing render logo
  website/components/pluginData.tsx
  website/public/images/logos/plugins/render.webp
Labels: automerge, area/website

#15043 chore: Fix link to Node.js getting started guide
  website/pages/docs/developers/creating-new-plugin/javascript-source.mdx
Labels: automerge, area/website

#15046 doc: Update the docs on offline container
  website/pages/docs/deployment/docker-offline.mdx
Labels: automerge, kind/docs, area/website

#15048 chore: Use `plugin.Name`
  plugins/destination/mssql/main.go
  plugins/source/googleanalytics/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/googleanalytics, area/plugin/destination/mssql

#15049 chore: Update Slack tables
  website/tables/slack/slack_conversation_bookmarks.md
  website/tables/slack/slack_conversation_histories.md
  website/tables/slack/slack_conversation_members.md
  website/tables/slack/slack_conversation_replies.md
  website/tables/slack/slack_conversations.md
  website/tables/slack/slack_files.md
  website/tables/slack/slack_teams.md
  website/tables/slack/slack_user_presences.md
  website/tables/slack/slack_users.md
Labels: automerge, area/website

#15050 chore: Update Gandi tables
  website/tables/gandi/gandi_certificate_packages.md
  website/tables/gandi/gandi_certificates.md
  website/tables/gandi/gandi_domain_dnssec_keys.md
  website/tables/gandi/gandi_domain_glue_records.md
  website/tables/gandi/gandi_domain_livedns.md
  website/tables/gandi/gandi_domain_web_redirections.md
  website/tables/gandi/gandi_domains.md
  website/tables/gandi/gandi_livedns_domain_snapshots.md
  website/tables/gandi/gandi_livedns_domains.md
  website/tables/gandi/gandi_simplehosting_instance_vhosts.md
  website/tables/gandi/gandi_simplehosting_instances.md
Labels: automerge, area/website

#15054 chore: Update Mixpanel tables
  website/tables/mixpanel/mixpanel_annotations.md
  website/tables/mixpanel/mixpanel_cohort_members.md
  website/tables/mixpanel/mixpanel_cohorts.md
  website/tables/mixpanel/mixpanel_engage_revenues.md
  website/tables/mixpanel/mixpanel_export_events.md
  website/tables/mixpanel/mixpanel_funnel_reports.md
  website/tables/mixpanel/mixpanel_funnels.md
Labels: automerge, area/website

#15055 chore: Update MongoDB Atlas tables
  website/pages/docs/plugins/sources/mongodbatlas/tables/[table].mdx
  website/tables/mongodbatlas/atlas_database_clusters.md
  website/tables/mongodbatlas/atlas_database_federations.md
  website/tables/mongodbatlas/atlas_database_users.md
  website/tables/mongodbatlas/atlas_datalake_pipelines.md
  website/tables/mongodbatlas/atlas_project_settings.md
  website/tables/mongodbatlas/atlas_project_users.md
  website/tables/mongodbatlas/atlas_projects.md
  website/tables/mongodbatlas/atlas_team_users.md
  website/tables/mongodbatlas/atlas_teams.md
Labels: automerge, area/website

#15056 chore: Update Plausible tables
  website/tables/plausible/plausible_stats_timeseries.md
Labels: automerge, area/website

#15047 fix: Use `org` as team name in scaffold
  scaffold/cmd/templates/source/resources/plugin/plugin.go.tpl
Labels: automerge, area/scaffold

#15053 chore: Update LaunchDarkly tables
  website/tables/launchdarkly/launchdarkly_auditlog_entries.md
  website/tables/launchdarkly/launchdarkly_project_environments.md
  website/tables/launchdarkly/launchdarkly_project_flag_defaults.md
  website/tables/launchdarkly/launchdarkly_project_flags.md
  website/tables/launchdarkly/launchdarkly_project_metrics.md
  website/tables/launchdarkly/launchdarkly_projects.md
Labels: automerge, area/website

#15029 doc: Announcing the new hub
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/announcing-cloudquery-new-hub.mdx
Labels: automerge, kind/docs, area/website

#15057 chore: Fix comment in `config.yaml`
  config.yaml
Labels: automerge

#15051 chore: Update Google Ads tables
  website/tables/googleads/googleads_ad_group_ad_labels.md
  website/tables/googleads/googleads_ad_group_ads.md
  website/tables/googleads/googleads_ad_group_criteria.md
  website/tables/googleads/googleads_ad_group_criterion_labels.md
  website/tables/googleads/googleads_ad_group_labels.md
  website/tables/googleads/googleads_ad_groups.md
  website/tables/googleads/googleads_campaign_criteria.md
  website/tables/googleads/googleads_campaign_labels.md
  website/tables/googleads/googleads_campaigns.md
  website/tables/googleads/googleads_customer_labels.md
  website/tables/googleads/googleads_customers.md
Labels: automerge, area/website

#15045 chore: Fix render plugin tables
  website/pages/docs/plugins/sources/render/tables.md
  website/tables/render/render_service_custom_domains.md
  website/tables/render/render_service_deploys.md
  website/tables/render/render_service_jobs.md
  website/tables/render/render_services.md
Labels: automerge, area/website

#15062 feat: Add option to leave files `leave_stage_files` after PUT
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/write.go
  website/pages/docs/plugins/destinations/snowflake/overview.md
Labels: automerge, area/plugin/destination/snowflake, area/website

#15070 chore: Use large runners only for AWS, GCP, Azure CI workflows
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_firehose.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_meilisearch.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/scaffold.yml
  .github/workflows/source_airtable.yml
  .github/workflows/source_alicloud.yml
  .github/workflows/source_awspricing.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_bitbucket.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_facebookmarketing.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_firestore.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_googleanalytics.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_homebrew.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_jira.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_mysql.yml
  .github/workflows/source_notion.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_oracledb.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_postgresql.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_snyk.yml
  .github/workflows/source_square.yml
  .github/workflows/source_stripe.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_typeform.yml
  .github/workflows/source_vault.yml
Labels: area/ci

#15068 doc: Update wording about previous plugin versions
  website/pages/blog/announcing-cloudquery-new-hub.mdx
Labels: automerge, kind/docs, area/website

#15073 fix: Fix pagination of Jira Issues and Boards
  plugins/source/jira/resources/boards/boards.go
  plugins/source/jira/resources/issues/issues.go
Labels: automerge, area/plugin/source/jira

#15071 doc: Monthly product updates #9
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/product-updates-9.mdx
Labels: automerge, kind/docs, area/website
