Repository cloudquery/cloudquery, pull requests merged in 2023-09, with the labels that each got.

#13565 test: Clean up MySQL tests
  .github/workflows/dest_mysql.yml
  plugins/destination/mysql/client/client_test.go
Labels: automerge, ci, mysql

#13557 fix: Normalize PKs to not null
  plugins/destination/mysql/client/migrate.go
Labels: automerge, mysql

#13566 doc(website): Adding bitbucket documentation
  plugins/source/bitbucket/Makefile
  plugins/source/bitbucket/app/build.gradle
  plugins/source/bitbucket/app/src/main/java/bitbucket/BitbucketPlugin.java
  plugins/source/bitbucket/testdata/config.yml
  website/components/pluginData.tsx
  website/pages/docs/plugins/sources/bitbucket/_authentication.mdx
  website/pages/docs/plugins/sources/bitbucket/_configuration.mdx
  website/pages/docs/plugins/sources/bitbucket/_meta.json
  website/pages/docs/plugins/sources/bitbucket/overview.mdx
  website/pages/docs/plugins/sources/bitbucket/tables.md
  website/pages/docs/plugins/sources/bitbucket/tables/[table].mdx
  website/tables/bitbucket/bitbucket_repositories.md
  website/tables/bitbucket/bitbucket_workspaces.md
Labels: automerge, website, bitbucket

#13570 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.1`
  .github/workflows/scaffold.yml
  scaffold/cmd/templates/source/go.mod.tpl
  scaffold/go.mod
  scaffold/go.sum
Labels: automerge, ci, priority merge, scaffold

#13575 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.1`
  plugins/destination/mongodb/client/delete_stale.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Labels: automerge, mongodb

#13556 feat: Support reading private key from string
  plugins/source/github/client/client.go
  plugins/source/github/client/spec.go
  website/pages/docs/plugins/sources/github/_configuration.mdx
Labels: automerge, github, website

#13586 feat: Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.1`
  plugins/destination/elasticsearch/client/delete_stale.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: automerge, elasticsearch

#13589 fix: Revert "feat: Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.1`"
  plugins/destination/elasticsearch/client/deletestale.go
  plugins/destination/elasticsearch/client/write.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: elasticsearch

#13560 fix: Use Pagination for `aws_ec2_images`
  plugins/source/aws/resources/services/ec2/images.go
Labels: aws, automerge

#13588 feat: Bulk all messages in a batch into a single bulk write
  plugins/destination/elasticsearch/client/delete_stale.go
  plugins/destination/elasticsearch/client/write.go
Labels: automerge, elasticsearch

#13590 chore: Use predefined format constant
  plugins/destination/elasticsearch/client/client.go
Labels: automerge

#13587 doc(website): Adding page for creating new Java plugin
  .github/styles/Vocab/Base/accept.txt
  plugins/source/bitbucket/app/build.gradle
  website/pages/docs/developers/creating-new-plugin/_meta.json
  website/pages/docs/developers/creating-new-plugin/java-source.mdx
Labels: automerge, website, bitbucket

#13597 feat: Add photo ronsha
  website/content/authors.ts
  website/public/images/people/ronsha.jpeg
Labels: automerge, website

#13569 fix!: Split max index length between PKs
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/schema.go
  plugins/destination/mysql/client/write.go
Labels: automerge, mysql

#13568 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.3`
  plugins/destination/gremlin/client/client_test.go
  plugins/destination/gremlin/client/delete_stale.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
Labels: automerge, gremlin

#13601 chore(website): Update create new plugin table
  website/pages/docs/developers/creating-new-plugin/index.mdx
Labels: automerge, website

#13600 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.6.3`
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
Labels: automerge, elasticsearch

#13608 feat: Add `aws_s3_bucket_notification_configurations` table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/s3/bucket_notification_configurations.go
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_s3_bucket_notification_configurations.md
  website/tables/aws/aws_s3_buckets.md
Labels: aws, automerge, website

#13609 feat: Add `aws_s3_bucket_object_lock_configurations` table
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/services/s3/bucket_object_lock_configurations.go
  plugins/source/aws/resources/services/s3/buckets.go
  plugins/source/aws/resources/services/s3/buckets_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_s3_bucket_object_lock_configurations.md
  website/tables/aws/aws_s3_buckets.md
Labels: automerge

#13610 chore: Bring back simple analytics
  website/components/_app.tsx
Labels: automerge, website

#13611 chore: Update vale linter
  .github/workflows/lint_markdown.yml
Labels: automerge, ci

#13614 chore: Refactor SQL query into embed file
  plugins/source/postgresql/client/list_tables.go
  plugins/source/postgresql/client/sql/list_tables.sql
Labels: automerge, source-postgresql

#13612 fix: Duplicate columns when multiple contraints
  plugins/source/postgresql/client/sql/list_tables.sql
  plugins/source/postgresql/resources/plugin/plugin_test.go
Labels: automerge, source-postgresql

#13615 test: Adding more tests for list tables query
  plugins/source/postgresql/resources/plugin/plugin_test.go
Labels: automerge, source-postgresql

#13619 fix: Don't reference public schema in policies
  plugins/source/aws/policies/queries/lambda/functions_with_public_egress.sql
  website/tables/aws/aws_ec2_route_tables.md
  website/tables/aws/aws_lambda_functions.md
Labels: aws, automerge, website

#13604 doc: Annoucing CloudQuery Java SDK
  website/pages/blog/announcing-cloudquery-java-sdk.mdx
Labels: docs, website, sdk

#13622 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.7.0`
  plugins/source/gcp/client/client.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Labels: automerge, gcp

#13623 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to `v4.7.0`
  plugins/source/aws/client/tableoptions/table_options_test.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Labels: aws, automerge

#13357 doc: Event-Based Sync for AWS Plugin
  plugins/source/aws/client/spec.go
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/configuration.mdx
  website/pages/docs/plugins/sources/aws/event-based-sync.mdx
  website/public/images/docs/aws/event-based-sync-architecture.png
Labels: aws, automerge, website, priority merge

#13621 chore(website): Embed form for register for cloud
  website/components/Typeform.tsx
  website/components/_app.tsx
  website/components/pages/home.tsx
  website/package-lock.json
  website/package.json
  website/pages/_meta.json
  website/pages/register-for-cloud.mdx
  website/vercel.json
Labels: automerge, website, priority merge

#13618 doc: Announcing CloudQuery AWS Plugin Event-based Sync
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/public/images/blog/announcing-aws-event-based-sync/diagram.png
Labels: docs, website

#13748 doc: Fix blog post dates
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/pages/blog/announcing-cloudquery-java-sdk.mdx
Labels: docs, automerge, website

#13201 feat: Add optional login to our future registry
  cli/cmd/login.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
Labels: automerge, cli, authentication

#13749 doc: Explicitly note MariaDB incompatability
  website/pages/docs/plugins/destinations/mysql/overview.mdx
Labels: automerge, website

#13752 feat: Update migrate command description
  cli/cmd/migrate.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_migrate.md
Labels: automerge, cli, website

#13751 fix: Issue #13433 - match on lowercase "redirect" in aws policy
  plugins/source/aws/policies/queries/elb/elbv2_redirect_http_to_https.sql
  website/tables/aws/aws_elbv2_listeners.md
Labels: aws, automerge, website

#13755 doc: Update supported events
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/pages/docs/plugins/sources/aws/event-based-sync.mdx
Labels: automerge, website

#13757 feat: Add scheduler option to AWS
  plugins/source/aws/client/spec.go
  plugins/source/aws/resources/plugin/client.go
  website/pages/docs/plugins/sources/aws/configuration.mdx
Labels: aws, automerge, website

#13788 fix: Include `IncludedPermissions` in `gcp_iam_roles`
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Labels: automerge, gcp

#13558 doc: Add multiline text substitution option in the documentation
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Labels: docs, automerge, website, priority merge

#13820 chore(website): Update Google Docs Link in Google Ads plugin
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/pages/docs/plugins/sources/googleads/_authentication.mdx
  website/pages/docs/plugins/sources/googleads/configuration.mdx
Labels: automerge, website, priority merge

#13750 feat(website): Announcing AWS Foundational Security Best Practices For Snowflake
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/announcing-aws-fsbp-policies-snowflake.mdx
Labels: docs, automerge, website

#13846 doc: Adding a note about a paid feature
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
Labels: automerge

#13849 doc: Add Dunelm case study
  .github/styles/Vocab/Base/accept.txt
  website/content/authors.ts
  website/pages/case-studies/dunelm-cspm-puzzle.mdx
  website/public/images/people/dunelm.png
Labels: docs, automerge, website

#13856 chore: Update announcing-cloudquery-aws-event-based-sync-beta.mdx
  website/pages/blog/announcing-cloudquery-aws-event-based-sync-beta.mdx
Labels: automerge, website

#13857 chore(website): Update FSBP Announcement Query
  website/pages/blog/announcing-aws-fsbp-policies-snowflake.mdx
Labels: automerge, website

#13864 fix: Flipped condition in query for SecretsManager.4
  plugins/source/aws/policies/queries/secretsmanager/secrets_should_be_rotated_within_a_specified_number_of_days.sql
  website/tables/aws/aws_secretsmanager_secrets.md
Labels: aws, automerge, website, aws-policies

#13862 fix: Flipped condition on secrets manager policy
  plugins/source/aws/policies/queries/secretsmanager/remove_unused_secrets_manager_secrets.sql
  website/tables/aws/aws_secretsmanager_secrets.md
Labels: aws, automerge, website, aws-policies

#13922 fix: Use latest SQLite plugin version in JS SDK docs
  website/pages/docs/developers/creating-new-plugin/javascript-source.mdx
Labels: automerge, website

#13942 feat: Configurable API version, default version to 2023-01
  plugins/source/shopify/client/spec.go
  plugins/source/shopify/internal/shopify/shopify.go
  plugins/source/shopify/resources/plugin/client.go
  plugins/source/shopify/resources/services/customer/customers_mock_test.go
  plugins/source/shopify/resources/services/order/orders_mock_test.go
  plugins/source/shopify/resources/services/product/products_mock_test.go
  website/pages/docs/plugins/sources/shopify/overview.mdx
Labels: website, shopify

#13946 fix: Fetch all fields for `gcp_compute_osconfig_inventories`
  plugins/source/gcp/resources/services/compute/osconfig_inventories.go
Labels: automerge, gcp

#13948 feat: Publish command
  cli/Makefile
  cli/cmd/login.go
  cli/cmd/publish.go
  cli/cmd/publish_test.go
  cli/cmd/root.go
  cli/cmd/testdata/dist-v1/docs/configuration.md
  cli/cmd/testdata/dist-v1/docs/overview.md
  cli/cmd/testdata/dist-v1/package.json
  cli/cmd/testdata/dist-v1/plugin-test-v1.2.3-darwin-amd64.zip
  cli/cmd/testdata/dist-v1/plugin-test-v1.2.3-linux-amd64.zip
  cli/cmd/testdata/dist-v1/tables.json
  cli/go.mod
  cli/go.sum
  cli/internal/auth/token.go
Labels: automerge, cli

#13953 chore: Add publish to Hub CI workflow
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, ci

#13961 feat: Use JSON schema for spec validation
  plugins/source/oracle/Makefile
  plugins/source/oracle/client/client.go
  plugins/source/oracle/client/spec/schema.json
  plugins/source/oracle/client/spec/spec.go
  plugins/source/oracle/client/spec/spec_test.go
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
  plugins/source/oracle/resources/plugin/client.go
  plugins/source/oracle/resources/plugin/plugin.go
Labels: automerge, oracle

#13962 fix: Stub docs when publishing
  .github/workflows/publish_plugin_to_hub.yml
  plugins/source/test/README.md
Labels: automerge, ci

#13965 fix: Save token to file
  .github/workflows/publish_plugin_to_hub.yml
  plugins/source/test/README.md
Labels: ci

#13967 fix: Create token directory before creating file
  .github/workflows/publish_plugin_to_hub.yml
  plugins/source/test/README.md
Labels: automerge, ci

#13957 feat: Add `gcp_compute_routes` tables
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/compute/routes.go
  plugins/source/gcp/resources/services/compute/routes_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
  website/tables/gcp/gcp_compute_routes.md
Labels: automerge, gcp, website

#13977 chore: Use validator from SDK
  plugins/source/oracle/client/spec/spec_test.go
  plugins/source/oracle/go.mod
  plugins/source/oracle/go.sum
Labels: automerge, oracle

#13982 chore: Add HubSpot
  website/components/_app.tsx
Labels: automerge, website

#13983 chore: Publish plugins to Hub as non drafts
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, ci

#13976 doc: Document shuffle strategy
  website/pages/docs/advanced-topics/performance-tuning.mdx
  website/pages/docs/plugins/sources/aws/_configuration.mdx
  website/pages/docs/plugins/sources/aws/configuration.mdx
  website/pages/docs/plugins/sources/gcp/configuration.md
Labels: automerge, website

#13975 feat: Move careers to ATS
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  website/components/Footer.tsx
  website/pages/docs/careers/_meta.json
  website/pages/docs/careers/overview.md
  website/pages/docs/careers/senior_backend_engineer.md
  website/pages/docs/careers/senior_frontend_engineer.md
  website/vercel.json
Labels: automerge, website, ci

#13993 chore(ci): Pass plugin kind to package command
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, ci

#13997 feat: Support plugin kind in CLI publish command
  cli/cmd/publish.go
  cli/cmd/publish_test.go
  cli/cmd/testdata/dist-v1/package.json
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#14002 chore(ci): Update CI to support new publish API
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, ci

#13979 feat: Added Notion Source Plugin
  .github/pr_labeler.yml
  .github/workflows/source_notion.yml
  plugins/source/notion/.gitignore
  plugins/source/notion/.goreleaser.yaml
  plugins/source/notion/Makefile
  plugins/source/notion/README.md
  plugins/source/notion/client/client.go
  plugins/source/notion/client/notion_client.go
  plugins/source/notion/client/spec.go
  plugins/source/notion/docs/tables/README.md
  plugins/source/notion/go.mod
  plugins/source/notion/go.sum
  plugins/source/notion/internal/databases/databases.go
  plugins/source/notion/internal/pages/pages.go
  plugins/source/notion/internal/users/users.go
  plugins/source/notion/main.go
  plugins/source/notion/resources/plugin/client.go
  plugins/source/notion/resources/plugin/plugin.go
  plugins/source/notion/resources/services/table.go
  plugins/source/notion/test/config.yml
  release-please-config.json
  website/components/pluginData.tsx
  website/pages/buy/bitbucket-extended.mdx
  website/pages/buy/bitbucket-standard.mdx
  website/pages/docs/plugins/sources/notion/_authentication.mdx
  website/pages/docs/plugins/sources/notion/_configuration.mdx
  website/pages/docs/plugins/sources/notion/_meta.json
  website/pages/docs/plugins/sources/notion/overview.mdx
  website/pages/docs/plugins/sources/notion/tables.md
  website/pages/docs/plugins/sources/notion/tables/[table].mdx
  website/public/images/logos/plugins/notion.svg
  website/tables/notion/notion_databases_table.md
  website/tables/notion/notion_pages_table.md
  website/tables/notion/notion_users_table.md
Labels: automerge, website, ci, new-source-plugin, elt

#14024 fix: Serve to run sync to Meilisearch
  plugins/destination/meilisearch/main.go
Labels: automerge, priority merge, meilisearch

#14029 chore(website): Add destination plugin release stages documentation
  website/pages/docs/plugins/destinations/overview.mdx
Labels: automerge, website

#14044 feat: Add support for AWS EC2 VPC Endpoint Connections
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_connections.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_connections_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
  website/tables/aws/aws_ec2_vpc_endpoint_connections.md
Labels: aws, automerge, website

#14010 chore: Fix Notion version in docs
  website/pages/docs/plugins/sources/notion/_configuration.mdx
Labels: automerge, website

#14051 chore: Update CLI version in Hub publishing
  .github/workflows/publish_plugin_to_hub.yml
Labels: ci

#14054 fix: Slugify docs names before publishing
  cli/cmd/publish.go
  cli/cmd/publish_test.go
  cli/cmd/testdata/dist-v1/docs/Custom-Doc.md
  cli/cmd/testdata/dist-v1/docs/configuration.md
  cli/cmd/testdata/dist-v1/docs/overview.md
  cli/go.mod
  cli/go.sum
Labels: automerge, cli

#14057 chore: Update CLI when in Hub publishing
  .github/workflows/publish_plugin_to_hub.yml
Labels: ci

#14064 chore: Update `update-plugin-sdk.sh`
  scripts/update-plugin-sdk.sh
Labels: automerge

#14045 fix: Don't stop on error for Regional WebACL Resources
  plugins/source/aws/resources/services/wafv2/web_acls.go
Labels: aws, automerge

#14015 feat: Add Registry Hub
  cli/cmd/registry.go
  cli/cmd/specs.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/registry.go
Labels: automerge, cli, priority merge

#14097 fix: Use correct timezones for `delete` query for Snowflake Destination
  plugins/destination/snowflake/client/deletestale.go
Labels: automerge, snowflake

#14102 fix: Handle NoConnection
  plugins/source/firestore/client/client.go
Labels: automerge, priority merge, firestore

#13616 fix: Fix query for finding unused target groups for AWS
  plugins/source/aws/policies/queries/elb/target_groups_unused.sql
  website/tables/aws/aws_elbv2_target_groups.md
Labels: aws, automerge, website, aws-policies

#14112 fix: Handle NoConnection
  plugins/source/firestore/client/client.go
Labels: automerge, firestore

#14122 fix: Fix for `example_queries` skip on error message
  plugins/source/aws/scripts/example_queries/main.go
  plugins/source/azure/scripts/example_queries/main.go
  plugins/source/gcp/scripts/example_queries/main.go
  plugins/source/k8s/scripts/example_queries/main.go
Labels: aws, azure, automerge, gcp, k8s

#14120 fix: Handle NoConnection
  plugins/source/googleanalytics/client/client.go
Labels: automerge, priority merge, googleanalytics

#14131 fix: Handle NoConnection
  plugins/source/postgresql/client/client.go
Labels: automerge, priority merge, source-postgresql

#14134 chore: Set `write_mode: append` in example configuration
  website/pages/docs/plugins/destinations/clickhouse/_configuration.mdx
Labels: automerge, website, priority merge

#14115 fix: Handle NoConnection
  plugins/source/mysql/client/client.go
Labels: automerge, priority merge, source-mysql

#14126 fix: Handle NoConnection
  plugins/source/oracledb/client/client.go
Labels: automerge, priority merge, oracledb

#14042 doc: Monthly product updates - September 2023
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/product-updates-8.mdx
Labels: docs, automerge, website, priority merge

#14147 doc(website): Add missing links on glossary index
  website/pages/docs/glossary/overview.md
Labels: automerge, website

#14107 fix: Properly handle file paths for Windows
  plugins/destination/snowflake/client/write.go
Labels: automerge, snowflake

#14163 test: Use matching version of stripe API spec for tests
  plugins/source/stripe/Makefile
Labels: automerge, stripe

#13941 feat: Add `install` command to pre-install required plugins
  cli/cmd/doc_test.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/root.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_install.md
Labels: automerge, cli, website

#14172 chore: Remove plugin_releaser from Hub CI for SQLite,Snowflake,DuckDB
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, ci

#14188 fix!: Add pagination support for list users
  plugins/source/datadog/client/mocks/dashboards_api.go
  plugins/source/datadog/client/mocks/monitors_api.go
  plugins/source/datadog/client/mocks/notebooks_api.go
  plugins/source/datadog/client/mocks/service_level_objective_corrections_api.go
  plugins/source/datadog/client/mocks/service_level_objectives_api.go
  plugins/source/datadog/client/mocks/synthetics_api.go
  plugins/source/datadog/client/mocks/users_api.go
  plugins/source/datadog/client/services/dashboards_api.go
  plugins/source/datadog/client/services/monitors_api.go
  plugins/source/datadog/client/services/notebooks_api.go
  plugins/source/datadog/client/services/service_level_objective_corrections_api.go
  plugins/source/datadog/client/services/service_level_objectives_api.go
  plugins/source/datadog/client/services/synthetics_api.go
  plugins/source/datadog/client/services/users_api.go
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/resources/services/users/users_mock_test.go
  website/tables/datadog/datadog_monitors.md
Labels: automerge, website, datadog

#14108 feat(website): Update Policies Extended Pricing
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  website/pages/docs/core-concepts/policies.md
  website/vercel.json
Labels: automerge, website, ci

#14195 fix: Azure query "Ensure that Public access level is set to Privat…
  plugins/source/azure/policies/queries/storage/no_public_blob_container.sql
  website/tables/azure/azure_storage_accounts.md
  website/tables/azure/azure_storage_containers.md
Labels: azure, website
