Repository cloudquery/cloudquery, pull requests merged in 2024-12, with the labels that each got.

#19806 chore: Push CLI tag with directory prefix
  .github/workflows/release_cli.yml
Labels: area/ci

#19807 fix: Reference latest CLI in top level module
  cli/Makefile
  go.mod
  go.sum
  main.go
Labels: automerge

#19809 fix: Correct major version in `go.mod`
  .github/workflows/release_scaffold.yml
  scaffold/.goreleaser.prerelease.yaml
  scaffold/cmd/source.go
  scaffold/go.mod
  scaffold/main.go
Labels: area/ci, area/scaffold

#19847 fix: Correctly handle integer conversion in all cases
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#19850 chore: Remove connection fields logging
  plugins/destination/clickhouse/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: automerge, area/plugin/destination/clickhouse

#19852 fix: Correctly handle integer conversion
  plugins/destination/postgresql/pgarrow/to_arrow.go
Labels: automerge, area/plugin/destination/postgresql

#19854 fix: Correctly handle integer conversion
  plugins/destination/mssql/queries/types.go
Labels: automerge, area/plugin/destination/mssql

#19855 feat: Allow to enforce TLS verification
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/docs/overview.md
Labels: automerge, area/plugin/destination/kafka

#19857 feat: Implement test transformer.
  .github/pr_labeler.yml
  .github/workflows/transf_test.yml
  plugins/transformer/test/.gitignore
  plugins/transformer/test/CHANGELOG.md
  plugins/transformer/test/Makefile
  plugins/transformer/test/README.md
  plugins/transformer/test/client/client.go
  plugins/transformer/test/client/spec/spec.go
  plugins/transformer/test/docs/overview.md
  plugins/transformer/test/go.mod
  plugins/transformer/test/go.sum
  plugins/transformer/test/main.go
  plugins/transformer/test/resources/plugin/plugin.go
  release-please-config.json
Labels: automerge, area/ci

#19861 refactor: Don't use request URL path to build zip path in addons download
  cli/cmd/addon_download.go
  cli/internal/publish/addons.go
Labels: area/cli

#19863 feat: Add "fail immediately" spec option to test source plugin
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/resources/services/paid_table.go
  plugins/source/test/resources/services/test_some_table.go
  plugins/source/test/resources/services/test_sub_table.go
Labels: area/plugin/source/test

#19865 feat: Add `exit_immediately` spec option to all test plugins.
  plugins/destination/test/client/client.go
  plugins/destination/test/client/schema.json
  plugins/destination/test/client/spec.go
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/resources/services/paid_table.go
  plugins/source/test/resources/services/test_some_table.go
  plugins/source/test/resources/services/test_sub_table.go
  plugins/transformer/test/client/client.go
  plugins/transformer/test/client/spec/spec.go
Labels: automerge, area/plugin/destination/test, area/plugin/source/test

#19868 chore: Override outdated dependecies in config UI packages
  plugins/destination/bigquery/cloud-config-ui/package-lock.json
  plugins/destination/bigquery/cloud-config-ui/package.json
  plugins/destination/clickhouse/cloud-config-ui/package-lock.json
  plugins/destination/clickhouse/cloud-config-ui/package.json
  plugins/destination/mysql/cloud-config-ui/package-lock.json
  plugins/destination/mysql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/s3/cloud-config-ui/package-lock.json
  plugins/destination/s3/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
Labels: automerge, area/plugin/source/hackernews, area/plugin/destination/s3, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/bigquery, area/plugin/destination/clickhouse, area/plugin/source/xkcd

#19869 chore: Override nth-check in config UI
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
Labels: automerge, area/plugin/source/hackernews, area/plugin/source/xkcd

#19871 chore: Add E2E testing to CLI.
  cli/cmd/sync_test.go
  cli/cmd/testdata/destination-errors.yml
  cli/cmd/testdata/destination-exits.yml
  cli/cmd/testdata/source-errors.yml
  cli/cmd/testdata/source-exits.yml
  cli/cmd/testdata/transformer-errors.yml
  cli/cmd/testdata/transformer-exits.yml
  cli/cmd/testdata/transformer-succeeds.yml
Labels: area/cli

#19876 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#19906 fix: Upgrade the test source plugin to use SDK improvement.
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Labels: automerge, area/plugin/source/test

#19914 fix: Create unique index per table, handle non existing tables
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
Labels: area/plugin/destination/postgresql

#19913 feat: Add possibility to set local profile to use in S3 Destination spec
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/docs/_authentication.md
  plugins/destination/s3/docs/overview.md
Labels: automerge, area/plugin/destination/s3

#19703 fix: Pin indirect packages in `plugins/source/square/requirements.txt`
  plugins/source/square/requirements.txt
Labels: automerge, area/plugin/source/square

#19928 chore: Update versions update workflows
  .github/workflows/release_cli.yml
  .github/workflows/release_scaffold.yml
Labels: automerge, area/ci

#19929 fix: Bump SDK on transformer plugins
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
  plugins/transformer/jsonflattener/go.mod
  plugins/transformer/jsonflattener/go.sum
  plugins/transformer/test/go.mod
  plugins/transformer/test/go.sum
Labels: automerge

#19933 chore: Improve E2E CLI transformer tests.
  cli/cmd/sync_test.go
  cli/cmd/testdata/transformer-errors.yml
  cli/cmd/testdata/transformer-exits.yml
  cli/cmd/testdata/transformer-succeeds.yml
Labels: automerge, area/cli

#19958 fix(deps): Update module github.com/cloudquery/plugin-sdk/v4 to v4.72.0
  plugins/transformer/basic/client/client.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/tablematcher/table_matcher.go
  plugins/transformer/basic/client/tablematcher/tablematcher_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_licenses.md
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
  plugins/transformer/jsonflattener/client/client.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_bool.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_float64.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_int64.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_json.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_timestamp.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_utf8.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater_test.go
  plugins/transformer/jsonflattener/client/schemaupdater/schema_updater.go
  plugins/transformer/jsonflattener/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/jsonflattener/client/tablematcher/table_matcher.go
  plugins/transformer/jsonflattener/client/tablematcher/tablematcher_test.go
  plugins/transformer/jsonflattener/client/transformers/transformers.go
  plugins/transformer/jsonflattener/client/transformers/transformers_test.go
  plugins/transformer/jsonflattener/docs/_licenses.md
  plugins/transformer/jsonflattener/go.mod
  plugins/transformer/jsonflattener/go.sum
  plugins/transformer/test/client/client.go
  plugins/transformer/test/go.mod
  plugins/transformer/test/go.sum
Labels: automerge

#19964 feat: Support all batch writers in test destination plugin.
  plugins/destination/test/client/client.go
  plugins/destination/test/client/schema.json
  plugins/destination/test/client/spec.go
  plugins/destination/test/docs/_licenses.md
Labels: automerge, area/plugin/destination/test

#19955 fix(deps): Update module github.com/cloudquery/plugin-sdk/v4 to v4.72.0
  plugins/source/hackernews/docs/_licenses.md
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/test/docs/_licenses.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/services/paid_table.go
  plugins/source/test/resources/services/test_some_table.go
  plugins/source/test/resources/services/test_sub_table.go
  plugins/source/test/resources/services/testdata.go
  plugins/source/xkcd/docs/_licenses.md
  plugins/source/xkcd/go.mod
  plugins/source/xkcd/go.sum
Labels: automerge, area/plugin/source/hackernews, area/plugin/source/test, area/plugin/source/xkcd

#19967 fix(deps): Update module github.com/cloudquery/plugin-sdk/v4 to v4.72.0
  cli/docs/_licenses.md
  cli/go.mod
  cli/go.sum
  cli/internal/docs/generator_test.go
  cli/internal/tablenamechanger/table_name_changer_test.go
  cli/internal/transformer/transformer.go
  cli/internal/transformer/transformer_test.go
Labels: automerge, area/cli

#19970 fix: Fix hang in test destination plugin.
  plugins/destination/test/client/client.go
Labels: automerge, area/plugin/destination/test

#19971 chore: Add multiple batch writers to E2E tests.
  cli/cmd/sync_test.go
  cli/cmd/testdata/multiple-destinations-multiple-batching-writers.yml
Labels: automerge, area/cli

#20007 fix: Use logger instead of stdout
  plugins/transformer/jsonflattener/client/client.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater_test.go
  plugins/transformer/jsonflattener/client/transformers/transformers.go
  plugins/transformer/jsonflattener/client/transformers/transformers_test.go
Labels: automerge

#20006 fix!: ToSnake flattened columns
  plugins/transformer/jsonflattener/client/schemaupdater/schema_updater.go
Labels: automerge, needs-area
