Repository cloudquery/cloudquery, pull requests merged in 2024-09, with the labels that each got.

#19083 chore: Ensure all UI previews have environment variables
  .github/workflows/dest_mysql.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_xkcd.yml
Labels: automerge, area/ci

#19084 feat: Separate scaffold's source templates to module.
  scaffold/cmd/source.go
  scaffold/cmd/templates/cloud-config-ui/.eslintrc.json.tpl
  scaffold/cmd/templates/cloud-config-ui/.gitignore.tpl
  scaffold/cmd/templates/cloud-config-ui/.nvmrc.tpl
  scaffold/cmd/templates/cloud-config-ui/.prettierrc.tpl
  scaffold/cmd/templates/cloud-config-ui/README.md.tpl
  scaffold/cmd/templates/cloud-config-ui/e2e-tests/validate-config.spec.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/index.cjs.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/mui-material-imports.cjs.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/playwright.config.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/public/favicon.ico.tpl
  scaffold/cmd/templates/cloud-config-ui/public/images/icon.png
  scaffold/cmd/templates/cloud-config-ui/public/index.html.tpl
  scaffold/cmd/templates/cloud-config-ui/public/logo192.png
  scaffold/cmd/templates/cloud-config-ui/public/manifest.json.tpl
  scaffold/cmd/templates/cloud-config-ui/public/robots.txt.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/gen_tables.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/initialize.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/set_environment.js.tpl
  scaffold/cmd/templates/cloud-config-ui/src/.env.example.json.tpl
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/components/tableSelector.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/form/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/guides/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/react-app-env.d.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/messageHandler.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/tsconfig.json.tpl
  scaffold/sourcetpl/source_plugin_templates.go
  scaffold/sourcetpl/templates/source/.github/workflows/release.yaml.tpl
  scaffold/sourcetpl/templates/source/.github/workflows/test.yaml.tpl
  scaffold/sourcetpl/templates/source/.gitignore.tpl
  scaffold/sourcetpl/templates/source/Makefile.tpl
  scaffold/sourcetpl/templates/source/README.md.tpl
  scaffold/sourcetpl/templates/source/client/client.go.tpl
  scaffold/sourcetpl/templates/source/client/spec.go.tpl
  scaffold/sourcetpl/templates/source/go.mod.tpl
  scaffold/sourcetpl/templates/source/main.go.tpl
  scaffold/sourcetpl/templates/source/resources/plugin/client.go.tpl
  scaffold/sourcetpl/templates/source/resources/plugin/plugin.go.tpl
  scaffold/sourcetpl/templates/source/resources/services/table.go.tpl
  scaffold/sourcetpl/templates/source/test/config.yml.tpl
Labels: area/scaffold

#19025 chore: Associate cloud analytics with team service account
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#19095 fix: Use per OS login command in quick start guide
  website/components/mdx/_cloudquery-sign-in-login-linux.mdx
  website/components/mdx/_cloudquery-sign-in-login-macos.mdx
  website/components/mdx/_cloudquery-sign-in-login-windows.mdx
  website/components/mdx/_cloudquery-sign-in.mdx
  website/components/mdx/_configure-linux.mdx
  website/components/mdx/_configure-macOS.mdx
  website/components/mdx/_configure-sync-command-linux.mdx
  website/components/mdx/_configure-sync-command-macos.mdx
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
Labels: automerge, area/website

#19096 fix: Use correct spec path in init command hint
  cli/cmd/init.go
Labels: automerge, area/cli

#19100 refactor: Inline quick start guide configure components
  website/components/mdx/_configure-authenticate-provider.mdx
  website/components/mdx/_configure-destination.mdx
  website/components/mdx/_configure-done.mdx
  website/components/mdx/_configure-linux.mdx
  website/components/mdx/_configure-macOS.mdx
  website/components/mdx/_configure-source.mdx
  website/components/mdx/_configure-start-syncing.mdx
  website/components/mdx/_configure-windows.mdx
  website/components/mdx/_configure.mdx
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
Labels: automerge, area/website

#19105 fix: Close Transformers pipeline on both source and destination closes
  cli/cmd/sync_v3.go
  cli/internal/transformerpipeline/pipeline.go
  cli/internal/transformerpipeline/transformerpipeline_test.go
Labels: automerge, area/cli

#19103 chore: MySQL UI generalization
  plugins/destination/mysql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/mysql/cloud-config-ui/package-lock.json
  plugins/destination/mysql/cloud-config-ui/package.json
  plugins/destination/mysql/cloud-config-ui/public/images/logo.webp
  plugins/destination/mysql/cloud-config-ui/src/App.tsx
  plugins/destination/mysql/cloud-config-ui/src/config.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/advancedConnectionFields.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/advancedSyncFields.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/connectionFields.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/index.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/syncOptions.tsx
  plugins/destination/mysql/cloud-config-ui/src/guides/index.tsx
  plugins/destination/mysql/cloud-config-ui/src/utils/formSchema.ts
  plugins/destination/mysql/cloud-config-ui/src/utils/generateConnectionUrl.ts
  plugins/destination/mysql/cloud-config-ui/src/utils/parseTestConnectionError.ts
  plugins/destination/mysql/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/destination/mysql/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/destination/mysql/cloud-config-ui/src/utils/tests/generateConnectionUrl.test.ts
Labels: automerge, area/plugin/destination/mysql

#19102 fix: Clean up sign-in section of quick start guide
  website/components/mdx/_cloudquery-sign-in.mdx
Labels: automerge, area/website

#19110 chore: Update links in quick start guide
  website/components/mdx/_configure.mdx
Labels: automerge, area/website

#19125 fix: Add next steps to quick start guide
  website/components/mdx/_configure.mdx
Labels: automerge, area/website

#19131 feat: Add batching and more error options to test destination
  plugins/destination/test/client/client.go
  plugins/destination/test/client/schema.json
  plugins/destination/test/client/spec.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge

#19133 fix: Use error string for analytics events
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#19126 feat: Add new transform that adds a column with the current timestamp
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/spec/spec_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
Labels: automerge

#19123 fix(main): Write to mysql in bulk
  .gitignore
  plugins/destination/mysql/Makefile
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/write.go
Labels: area/plugin/destination/mysql

#19165 fix: Fix transformers-related hang.
  cli/internal/transformerpipeline/pipeline.go
Labels: area/cli

#19166 feat: Add `install` support for Transformer plugins
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/tables.go
  cli/cmd/test_connection.go
  cli/cmd/testdata/transformation.yml
  cli/cmd/validate_config.go
  cli/internal/auth/token.go
Labels: automerge, area/cli

#19175 doc: Update cloud syncs docs
  .github/styles/config/vocabularies/Base/accept.txt
  website/pages/docs/quickstart/cloudquery-cloud.mdx
  website/public/images/docs/quickstart/destination-1.png
  website/public/images/docs/quickstart/destination-2.png
  website/public/images/docs/quickstart/destination.png
  website/public/images/docs/quickstart/empty-syncs.png
  website/public/images/docs/quickstart/source-1.png
  website/public/images/docs/quickstart/source-2.png
  website/public/images/docs/quickstart/source-3.png
  website/public/images/docs/quickstart/source-4.png
Labels: automerge, area/website

#19173 feat: Handle updates via `Merge`
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/write.go
Labels: automerge, area/plugin/destination/snowflake

#19178 fix: Fix lack of error on destination close.
  cli/internal/transformerpipeline/pipeline.go
Labels: area/cli

#19179 chore: Add missing checkout steps
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: area/ci

#19180 chore: Revert "chore(main): Release plugins-destination-snowflake v4.3.0"
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Labels: area/plugin/destination/snowflake

#19205 feat: Add sharding support
  plugins/source/hackernews/resources/plugin/client.go
  plugins/source/test/resources/plugin/client.go
  plugins/source/xkcd/resources/plugin/client.go
Labels: automerge, needs-area

#19208 fix: Truncate table description if over the limit
  plugins/destination/bigquery/client/migrate.go
Labels: automerge, area/plugin/destination/bigquery

#19207 feat: Replace Discord refs with the new community ones
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  .github/workflows/greetings.yml
  CONTRIBUTING.md
  contributing/creating_a_new_plugin.md
  plugins/CONTRIBUTING.md
  website/components/Footer.tsx
  website/components/pages/pricing.tsx
  website/pages/case-studies/how-hexagon-built-an-infrastructure-data-lake.mdx
  website/pages/docs/deployment/airflow.md
  website/pages/docs/deployment/ecs.md
  website/pages/docs/deployment/google-cloud-vm.mdx
  website/pages/docs/deployment/kubernetes.mdx
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
  website/pages/docs/developers/creating-new-plugin/java-source.mdx
  website/pages/docs/developers/creating-new-plugin/javascript-source.mdx
  website/pages/docs/developers/creating-new-plugin/python-source.mdx
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
  website/pages/docs/troubleshooting.md
  website/theme.config.tsx
  website/vercel.json
Labels: automerge, area/ci, area/website

#19209 fix: Don't interleave send calls from difference Go routines
  cli/cmd/errors.go
  cli/cmd/migrate_v3.go
  cli/cmd/summary.go
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#19169 feat: Add sharding support
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
  cli/internal/analytics/client.go
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, area/cli, area/website

#19213 chore: Add sharding related docs
  .github/styles/config/vocabularies/Base/accept.txt
  website/pages/docs/advanced-topics/running-cloudquery-in-parallel.md
  website/pages/docs/advanced-topics/running-cloudquery-in-parallel.mdx
  website/pages/docs/deployment/github-actions.md
Labels: automerge, area/website

#19221 fix: Shutdown OTEL receiver after plugins shutdown
  cli/cmd/sync.go
Labels: automerge, area/cli

#19232 refactor: Clean up over abstraction in CLI OTEL receiver
  cli/internal/otel/receiver.go
Labels: automerge, area/cli

#19220 fix: Add missing OTEL logs component
  cli/internal/otel/receiver.go
Labels: automerge, area/cli

#19235 chore: Update `cloudquery` command example
  website/pages/docs/advanced-topics/running-cloudquery-in-parallel.md
Labels: automerge, priority merge, area/website

#19223 chore: MySQL e2e UI tests
  .github/workflows/dest_mysql.yml
  .gitignore
  plugins/destination/mysql/cloud-config-ui/.env.example
  plugins/destination/mysql/cloud-config-ui/.eslintrc.js
  plugins/destination/mysql/cloud-config-ui/.eslintrc.json
  plugins/destination/mysql/cloud-config-ui/README.md
  plugins/destination/mysql/cloud-config-ui/e2e-tests/mysql.spec.ts
  plugins/destination/mysql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/mysql/cloud-config-ui/package-lock.json
  plugins/destination/mysql/cloud-config-ui/package.json
  plugins/destination/mysql/cloud-config-ui/playwright.config.ts
  plugins/destination/mysql/cloud-config-ui/src/App.tsx
  plugins/destination/mysql/cloud-config-ui/tsconfig.json
Labels: automerge, area/plugin/destination/mysql, area/ci

#19219 feat: Add support for Kerberos Authentication
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, area/plugin/destination/postgresql

#19239 fix: Fix incorrect location of metrics calculation.
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#19244 feat: Added images to be referenced from the Salesforce plugin docs
  website/public/images/docs/sf/step5.1.png
  website/public/images/docs/sf/step5.2.png
  website/public/images/docs/sf/step5.3.png
  website/public/images/docs/sf/step5.4.png
  website/public/images/docs/sf/step5.5.png
  website/public/images/docs/sf/step5.6.png
Labels: automerge, area/website

#19245 chore: Improve documentation for `tables` in source spec
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/website
