Repository cloudquery/cloudquery, pull requests merged in 2024-07, with the labels that each got.

#18441 fix: Replace string type mapping with nvarchar(max) in the MSSQL destination plugin
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/columns.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mssql/client/schema.go
  plugins/destination/mssql/queries/columns.go
  plugins/destination/mssql/queries/tables_test.go
  plugins/destination/mssql/queries/templates/col_def.sql.tpl
  plugins/destination/mssql/queries/templates/col_update_type.sql.tpl
  plugins/destination/mssql/queries/tvp_test.go
  plugins/destination/mssql/queries/types.go
Labels: automerge, area/plugin/destination/mssql

#18450 chore: Fix linter issue with image parser
  cli/internal/publish/images/images.go
Labels: area/cli

#18447 feat: Add support for plugin UI uploads
  cli/cmd/plugin_publish.go
  cli/cmd/plugin_publish_test.go
  cli/cmd/plugin_uiassets_upload.go
  cli/cmd/root.go
  cli/cmd/testdata/ui-build/index.html
  cli/cmd/testdata/ui-build/static/style.css
  cli/go.mod
  cli/go.sum
  cli/internal/analytics/client.go
  cli/internal/hub/util.go
  cli/internal/publish/pluginui.go
  website/pages/docs/reference/cli/cloudquery_plugin_publish.md
Labels: automerge, area/cli, area/website

#18446 fix: Attempt mitigation of race in tests.
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#18480 fix: Update documentation for `migrate_mode`
  website/pages/docs/reference/destination-spec.md
Labels: automerge, area/website

#18479 fix: Fix pagination logic for responses on Typeform plugin.
  plugins/source/typeform/plugin/typeform/client.py
  plugins/source/typeform/tests/typeform/test_client.py
Labels: automerge, area/plugin/source/typeform

#18481 feat: Add output to scaffold source command
  scaffold/cmd/source.go
Labels: automerge, area/scaffold

#18493 chore: Disable Java releases of Bitbucket plugin
  release-please-config.json
Labels: automerge

#18439 chore: Update fivetran-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/fivetran-alternative-cloudquery.md
Labels: automerge, area/website

#18492 feat: Implement support for Incremental Table on Typeform's FormResponses table
  plugins/source/typeform/plugin/plugin.py
  plugins/source/typeform/plugin/tables/form_responses.py
  plugins/source/typeform/plugin/tables/forms.py
  plugins/source/typeform/plugin/typeform/client.py
  plugins/source/typeform/requirements.txt
  plugins/source/typeform/tests/tables/test_forms.py
  plugins/source/typeform/tests/typeform/test_client.py
Labels: automerge, area/plugin/source/typeform

#18498 feat: Unhide `--tables-metrics-location` flag, add duration to table
  cli/cmd/sync.go
  cli/internal/otel/receiver.go
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, area/cli, area/website

#18499 fix: Don't close metrics file before last print
  cli/internal/otel/receiver.go
Labels: automerge, area/cli

#18512 chore: Pin `jaegertracing/all-in-one` image version
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, area/website

#18537 chore: Update publish workflows to include `cloud-config-ui`
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, area/ci

#18538 fix: Handle concurrent map writes
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#18510 feat: Pass invocation ID to scheduler
  plugins/source/hackernews/resources/plugin/client.go
  plugins/source/k8s/resources/plugin/plugin.go
  plugins/source/test/resources/plugin/client.go
  plugins/source/xkcd/resources/plugin/client.go
Labels: automerge, area/plugin/source/k8s, area/plugin/source/hackernews, area/plugin/source/xkcd

#18540 chore: Split scheduler options to multiple lines
  plugins/source/k8s/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/k8s

#18332 chore: Update Datadog guide to send OpenTelemetry traces directly to a Datadog agent
  website/pages/docs/advanced-topics/monitoring.md
  website/public/assets/datadog-dashboard.json
  website/public/images/docs/monitoring/cq_otel_datadog.png
  website/public/images/docs/monitoring/cq_otel_datadog_dashboard.png
  website/public/images/docs/monitoring/cq_otel_datadog_traces.png
Labels: automerge, area/website

#18541 chore: Switch to `googleapis/release-please-action`
  .github/workflows/release_pr.yml
Labels: automerge, area/ci

#18414 chore(main): Custom Plugin UI scaffold
  package-lock.json
  scaffold/.gitignore
  scaffold/cmd/source.go
  scaffold/cmd/templates/cloud-config-ui/.eslintrc.json
  scaffold/cmd/templates/cloud-config-ui/.gitignore
  scaffold/cmd/templates/cloud-config-ui/.nvmrc
  scaffold/cmd/templates/cloud-config-ui/.prettierrc
  scaffold/cmd/templates/cloud-config-ui/README.md
  scaffold/cmd/templates/cloud-config-ui/package.json
  scaffold/cmd/templates/cloud-config-ui/public/favicon.ico
  scaffold/cmd/templates/cloud-config-ui/public/index.html
  scaffold/cmd/templates/cloud-config-ui/public/logo192.png
  scaffold/cmd/templates/cloud-config-ui/public/manifest.json
  scaffold/cmd/templates/cloud-config-ui/public/robots.txt
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx
  scaffold/cmd/templates/cloud-config-ui/src/CloudAppMock.tsx
  scaffold/cmd/templates/cloud-config-ui/src/Form/index.tsx
  scaffold/cmd/templates/cloud-config-ui/src/declarations.d.ts
  scaffold/cmd/templates/cloud-config-ui/src/index.tsx
  scaffold/cmd/templates/cloud-config-ui/src/react-app-env.d.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/messageHandler.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts
  scaffold/cmd/templates/cloud-config-ui/tsconfig.json
  scaffold/cmd/templates/source/README.md.tpl
  scaffold/cmd/templates/source/go.mod.tpl
Labels: area/scaffold, no automerge

#18544 feat: Add s3 destination connection test
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/test_connection.go
  plugins/destination/s3/client/test_connection_test.go
  plugins/destination/s3/main.go
Labels: automerge, area/plugin/destination/s3

#18545 chore: Add client ID and invocation ID to datadog dashboard
  website/public/assets/datadog-dashboard.json
  website/public/images/docs/monitoring/cq_otel_datadog_dashboard.png
Labels: automerge, area/website

#18551 chore: Update Datadog monitoring docs to include examples
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, area/website

#18549 feat: Add connection test to MySQL destination
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/test_connection.go
  plugins/destination/mysql/client/test_connection_test.go
  plugins/destination/mysql/main.go
Labels: automerge, area/plugin/destination/mysql

#18553 feat: Add connection test to the neo4j destination plugin
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/connection.go
  plugins/destination/neo4j/client/connection_test.go
  plugins/destination/neo4j/main.go
Labels: automerge, area/plugin/destination/neo4j

#18554 feat: Add MongoDB destination connection test
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/test_connection.go
  plugins/destination/mongodb/client/test_connection_test.go
  plugins/destination/mongodb/main.go
Labels: automerge, area/plugin/destination/mongodb

#18557 chore: Improve Datadog dashboard
  website/public/assets/datadog-dashboard.json
  website/public/images/docs/monitoring/cq_otel_datadog_dashboard.png
Labels: automerge, area/website

#18558 feat: Add Snowflake connection test
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/test_connection.go
  plugins/destination/snowflake/client/test_connection_test.go
  plugins/destination/snowflake/main.go
Labels: automerge, area/plugin/destination/snowflake

#18561 fix: Fix user id format in example configuration comment
  plugins/destination/mssql/docs/_configuration.md
Labels: automerge, area/plugin/destination/mssql

#18559 feat: Add ClickHouse destination connection test
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/test_connection.go
  plugins/destination/clickhouse/client/test_connection_test.go
  plugins/destination/clickhouse/main.go
Labels: automerge, area/plugin/destination/clickhouse

#18568 feat: Add MSSQL connection test
  plugins/destination/mssql/client/client.go
  plugins/destination/mssql/client/test_connection.go
  plugins/destination/mssql/client/test_connection_test.go
  plugins/destination/mssql/main.go
Labels: automerge, area/plugin/destination/mssql

#18571 fix: Allow `plugin install` command to be run with a single-plugin spec
  cli/cmd/install.go
Labels: automerge, area/cli

#18569 feat: Auto migrate removal of unique constraints
  plugins/destination/mysql/client/migrate.go
  plugins/destination/mysql/client/schema.go
Labels: automerge, area/plugin/destination/mysql

#18579 doc: Some tweaks to monitoring.md
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, area/website

#18581 doc: Update cloudquery-cloud.mdx
  .github/styles/config/vocabularies/Base/accept.txt
  website/pages/docs/quickstart/cloudquery-cloud.mdx
Labels: automerge, area/website

#17129 feat!: Remove unique constraints in append mode
  cli/cmd/migrate_v2.go
  cli/cmd/migrate_v3.go
  cli/cmd/sync_v2.go
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#18191 feat!: Change `skip_dependent_tables` default from `false` to `true`
  cli/cmd/migrate_v3.go
  cli/cmd/specs.go
  cli/cmd/sync_v3.go
  cli/cmd/tables_v3.go
  cli/internal/specs/v0/schema.json
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/skip_dependent_tables/default.yml
  cli/internal/specs/v0/testdata/skip_dependent_tables/false.yml
  cli/internal/specs/v0/testdata/skip_dependent_tables/true.yml
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/cli, area/website

#18592 feat: Provide better error message when a write fails on entity too large
  plugins/destination/bigquery/client/errors.go
  plugins/destination/bigquery/client/write.go
Labels: automerge, area/plugin/destination/bigquery

#18608 fix: Don't use a reader with seeking support when `no_rotate` is true
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#18599 chore: Update CLI version in `skip_dependent_tables` docs
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/website

#18646 fix: Update plugin custom UI scaffold
  scaffold/cmd/templates/cloud-config-ui/.eslintrc.json
  scaffold/cmd/templates/cloud-config-ui/README.md
  scaffold/cmd/templates/cloud-config-ui/package.json
  scaffold/cmd/templates/cloud-config-ui/src/.env.example.json
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx
  scaffold/cmd/templates/cloud-config-ui/src/CloudAppMock.tsx
  scaffold/cmd/templates/cloud-config-ui/src/form/index.tsx
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/scaffold

#18641 fix: Use `invocation_id` instead of `invocation-id` in the CLI logger
  cli/cmd/logging.go
Labels: automerge, area/cli

#18663 chore: Update Datadog instructions to include logs shipping
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, area/website

#18672 fix: Allow go template expansion in UI files.
  scaffold/cmd/source.go
  scaffold/cmd/templates/cloud-config-ui/.eslintrc.json.tpl
  scaffold/cmd/templates/cloud-config-ui/.gitignore.tpl
  scaffold/cmd/templates/cloud-config-ui/.nvmrc.tpl
  scaffold/cmd/templates/cloud-config-ui/.prettierrc.tpl
  scaffold/cmd/templates/cloud-config-ui/README.md.tpl
  scaffold/cmd/templates/cloud-config-ui/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/public/favicon.ico.tpl
  scaffold/cmd/templates/cloud-config-ui/public/index.html.tpl
  scaffold/cmd/templates/cloud-config-ui/public/manifest.json.tpl
  scaffold/cmd/templates/cloud-config-ui/public/robots.txt.tpl
  scaffold/cmd/templates/cloud-config-ui/src/.env.example.json.tpl
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/declarations.d.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/form/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/react-app-env.d.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/messageHandler.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/tsconfig.json.tpl
Labels: automerge, area/scaffold

#18582 feat: Add `type_schema` to tables JSON
  cli/internal/docs/json.go
Labels: automerge, area/cli

#18699 fix: Improve `--tables-metrics-location` reference docs
  cli/cmd/sync.go
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, area/cli, area/website

#18701 chore: Add table metrics flag to performance tuning docs
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, area/website

#18702 chore: Update performance-tuning.mdx
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, area/website

#18700 chore: Update the `skip_dependent_tables` part in our docs
  website/pages/docs/advanced-topics/performance-tuning.md
Labels: automerge, area/website

#18761 chore: Update API for sync test connection updates
  cli/cmd/test_connection.go
Labels: automerge, area/cli

#18790 chore: Handle destination kind separately, noop for default
  cli/cmd/test_connection.go
Labels: automerge, area/cli

#18793 chore: Update adding_a_new_plugin_to_cq_monorepo.md
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#18796 chore: Update CI for Config UI
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci
