Repository cloudquery/cloudquery, pull requests merged in 2024-06, with the labels that each got.

#18074 chore: Add connection strings to all databases.
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/docs/overview.md
  plugins/destination/mongodb/client/schema.json
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/docs/overview.md
  plugins/destination/mssql/client/schema.json
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/docs/configuration.md
  plugins/destination/mysql/client/schema.json
  plugins/destination/mysql/client/spec.go
  plugins/destination/mysql/docs/configuration.md
Labels: automerge, area/plugin/destination/mongodb, area/plugin/destination/kafka, area/plugin/destination/mysql, area/plugin/destination/mssql, area/plugin/destination/clickhouse

#18048 doc: How to connect to Confluent Cloud
  plugins/destination/kafka/docs/assets/confluent-logotype-white.png
  plugins/destination/kafka/docs/assets/confluent-mark-white.png
  plugins/destination/kafka/docs/assets/confluent-stacked-white.png
  plugins/destination/kafka/docs/confluent_cloud.md
Labels: automerge, area/plugin/destination/kafka

#18118 chore(ci): Test against minimal version
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/docker-compose.yaml
Labels: automerge, area/ci, area/plugin/destination/clickhouse

#18124 fix: Check if `CQ_ANALYTICS_HOST` exists to determine if a custom host is set
  cli/cmd/root.go
Labels: automerge, area/cli

#18159 chore: Revert "chore: Update CLI version to v5.20.4"
  website/versions/cli.json
Labels: automerge, area/website

#18163 fix: Update BitBucket configuration
  plugins/source/bitbucket/docs/_configuration.md
  plugins/source/bitbucket/docs/overview.md
Labels: automerge, area/plugin/source/bitbucket

#18165 feat: Remove logging of error events to Sentry in plugins
  plugins/destination/azblob/main.go
  plugins/destination/bigquery/main.go
  plugins/destination/clickhouse/main.go
  plugins/destination/duckdb/main.go
  plugins/destination/elasticsearch/main.go
  plugins/destination/file/main.go
  plugins/destination/firehose/main.go
  plugins/destination/gcs/main.go
  plugins/destination/gremlin/main.go
  plugins/destination/kafka/main.go
  plugins/destination/meilisearch/main.go
  plugins/destination/mongodb/main.go
  plugins/destination/mssql/main.go
  plugins/destination/mysql/main.go
  plugins/destination/neo4j/main.go
  plugins/destination/postgresql/main.go
  plugins/destination/s3/main.go
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/main.go
  plugins/source/hackernews/main.go
  plugins/source/k8s/main.go
Labels: area/plugin/source/k8s, area/plugin/source/hackernews, area/plugin/destination/gremlin, area/plugin/destination/snowflake, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/kafka, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/mssql, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/bigquery, area/plugin/destination/azblob, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/firehose, area/plugin/destination/meilisearch

#18161 fix: Progressbar related error when `log-console` option is used
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/plugin_publish.go
  cli/cmd/progress.go
  cli/cmd/root.go
  cli/cmd/sync.go
  cli/cmd/sync_v1.go
  cli/cmd/sync_v2.go
  cli/cmd/sync_v3.go
  cli/cmd/tables.go
  cli/cmd/test_connection.go
  cli/cmd/validate_config.go
  cli/go.mod
  cli/go.sum
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#18197 chore: Add progressbar regression test
  cli/cmd/progressbar_test.go
Labels: automerge, area/cli

#18198 fix!: Support Apache Arrow types with non-default options
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/errors.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/docs/types.md
Labels: automerge, area/plugin/destination/bigquery

#18128 feat: Track login, sync started, sync ended, generic command start, end events
  cli/cmd/login.go
  cli/cmd/root.go
  cli/cmd/sync_v1.go
  cli/cmd/sync_v2.go
  cli/cmd/sync_v3.go
  cli/go.mod
  cli/go.sum
  cli/internal/analytics/client.go
  cli/internal/auth/identify.go
  website/pages/docs/telemetry.md
Labels: automerge, area/cli, area/website

#18199 doc: Update monitoring.md
  website/pages/docs/advanced-topics/monitoring.md
Labels: automerge, area/website

#18204 fix: Set Confluent Cloud doc Hub title
  plugins/destination/kafka/docs/confluent_cloud.md
Labels: automerge, area/plugin/destination/kafka

#18208 fix: Use plain email string for user email
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18200 fix: Isolate env variables in `test-connection` command if necessary
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  cli/cmd/test_connection.go
  cli/cmd/test_connection_test.go
Labels: automerge, area/cli

#18220 fix: Fix example connection string for MSSQL destination
  plugins/destination/mssql/docs/_configuration.md
Labels: automerge, area/plugin/destination/mssql

#18230 doc: Usage and setting spending limits
  website/pages/docs/_meta.json
  website/pages/docs/billing-and-usage/_meta.json
  website/pages/docs/billing-and-usage/overview.md
  website/pages/docs/billing-and-usage/spending-limits.md
  website/public/images/docs/billing-and-usage/cloud-syncs.png
  website/public/images/docs/billing-and-usage/spending-limit.png
  website/public/images/docs/billing-and-usage/usage-chart.png
Labels: automerge, area/website

#18232 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#18225 fix: When a config file is missing, prompt the user to select run `cloudquery switch <team>`
  cli/cmd/addon_download.go
  cli/internal/auth/team.go
  cli/internal/publish/addons.go
Labels: automerge, area/cli

#18234 fix: Remove Primary Key Validation
  plugins/destination/bigquery/client/migrate.go
Labels: automerge, area/plugin/destination/bigquery

#18231 fix!: Remove `client_id` spec option
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/schema_test.go
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/docs/_configuration.md
  plugins/destination/kafka/docs/overview.md
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
Labels: automerge, area/plugin/destination/kafka

#18240 fix: Add groupType to team Group event
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18244 fix: Don't fail on non existing key
  plugins/destination/s3/client/read.go
  plugins/destination/s3/go.mod
Labels: automerge, area/plugin/destination/s3

#18283 fix: Add name property to team group
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18282 feat: Improve tracking of sync command.
  cli/cmd/sync_v3.go
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18292 chore: Update Meilisearch health check
  .github/workflows/dest_meilisearch.yml
Labels: automerge, area/ci

#18239 fix: Skip relations of incremental tables from delete stale
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#18336 fix: Don't reuse memory pools between tables
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#18337 fix: Properly handle multiple rows in a record
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/client/write.go
Labels: automerge, area/plugin/destination/kafka

#18338 fix(deps): Update `github.com/cloudquery/plugin-sdk/v4` to v4.45.6
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
  plugins/destination/duckdb/client/spec.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/elasticsearch/client/spec.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mssql/client/bulk_insert.go
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
  plugins/destination/mysql/client/spec.go
  plugins/destination/mysql/go.mod
  plugins/destination/mysql/go.sum
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/spec/spec.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/client/spec.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Labels: automerge, area/plugin/destination/gremlin, area/plugin/destination/snowflake, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/kafka, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/mssql, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/bigquery, area/plugin/destination/azblob, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/firehose, area/plugin/destination/meilisearch

#18361 fix: Pass a reader with seeking support to S3 SDK upload method
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#18366 doc: Update examples in go-source.mdx
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
Labels: automerge, area/website

#18364 feat: Enable {{SYNC_ID}} to be used in `sync_group_id`
  cli/cmd/migrate_v3.go
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/destination.go
  website/pages/docs/reference/destination-spec.md
Labels: automerge, area/cli, area/website

#18372 fix: Fix hardcoded status property on sync_run_completed.
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18400 fix: Remove tracking of start and end of each command
  cli/cmd/root.go
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18371 fix: Align wording and description with current licensing
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_resource.yml
  README.md
  cli/cmd/root.go
  plugins/source/k8s/dashboards/README.md
  scaffold/cmd/root.go
  website/components/pages/landing/elt.tsx
  website/content/features.ts
  website/pages/docs/reference/cli/cloudquery.md
Labels: automerge, area/cli, area/plugin/source/k8s, area/website, area/scaffold

#18406 fix: Remove identify, group events
  cli/cmd/root.go
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18409 fix: Cache sync event details to track Cmd+C.
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18397 feat: Add per table sync metrics file flag
  cli/cmd/sync.go
  cli/go.mod
  cli/go.sum
  cli/internal/otel/receiver.go
Labels: automerge, area/cli
