Repository cloudquery/cloudquery, pull requests merged in 2024-02, with the labels that each got.

#16396 feat: Add JSON schema to sqlite destination plugin
  .github/workflows/dest_sqlite.yml
  plugins/destination/sqlite/Makefile
  plugins/destination/sqlite/client/schema.json
  plugins/destination/sqlite/client/spec.go
  plugins/destination/sqlite/client/spec/gen/main.go
  plugins/destination/sqlite/client/spec_test.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/sqlite/main.go
Labels: automerge, area/plugin/destination/sqlite, area/ci

#16397 feat: Add JSON schema to mongodb destination plugin
  .github/workflows/dest_mongodb.yml
  plugins/destination/mongodb/Makefile
  plugins/destination/mongodb/client/schema.json
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/client/spec/gen/main.go
  plugins/destination/mongodb/client/spec_test.go
  plugins/destination/mongodb/docs/overview.md
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
Labels: automerge, area/plugin/destination/mongodb, area/ci

#16398 feat: Add JSON schema to snowflake destination plugin
  .github/workflows/dest_snowflake.yml
  plugins/destination/snowflake/Makefile
  plugins/destination/snowflake/client/schema.json
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/spec/gen/main.go
  plugins/destination/snowflake/client/spec_test.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
Labels: automerge, area/plugin/destination/snowflake, area/ci

#16389 feat: Add JSON schema to Gremlin destination plugin
  .github/workflows/dest_gremlin.yml
  plugins/destination/gremlin/Makefile
  plugins/destination/gremlin/client/schema.json
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/client/spec/gen/main.go
  plugins/destination/gremlin/client/spec_test.go
  plugins/destination/gremlin/docs/overview.md
  plugins/destination/gremlin/go.mod
  plugins/destination/gremlin/go.sum
  plugins/destination/gremlin/main.go
Labels: automerge, area/plugin/destination/gremlin, area/ci

#16429 feat: Add JSON schema to `azblob` destination plugin
  .github/workflows/dest_azblob.yml
  plugins/destination/azblob/Makefile
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/spec/gen/main.go
  plugins/destination/azblob/client/spec/schema.go
  plugins/destination/azblob/client/spec/schema.json
  plugins/destination/azblob/client/spec/schema_test.go
  plugins/destination/azblob/client/spec/spec.go
  plugins/destination/azblob/client/spec/spec_test.go
  plugins/destination/azblob/client/spec_test.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/docs/overview.md
Labels: automerge, area/ci, area/plugin/destination/azblob

#16415 chore(ci): Update table diff
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_100644_diff.txt
Labels: automerge, needs-area

#16441 fix: Use JSON schema
  plugins/destination/azblob/main.go
Labels: automerge, priority merge, area/plugin/destination/azblob

#16439 feat: Add JSON schema to `gcs` destination plugin
  .github/workflows/dest_gcs.yml
  plugins/destination/gcs/Makefile
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/spec/gen/main.go
  plugins/destination/gcs/client/spec/schema.go
  plugins/destination/gcs/client/spec/schema.json
  plugins/destination/gcs/client/spec/schema_test.go
  plugins/destination/gcs/client/spec/spec.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/main.go
Labels: automerge, area/plugin/destination/gcs, area/ci

#16440 feat: Add JSON schema to meilisearch destination plugin
  .github/workflows/dest_meilisearch.yml
  plugins/destination/meilisearch/Makefile
  plugins/destination/meilisearch/client/schema.json
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/meilisearch/client/spec/gen/main.go
  plugins/destination/meilisearch/client/spec_test.go
  plugins/destination/meilisearch/docs/overview.md
  plugins/destination/meilisearch/go.mod
  plugins/destination/meilisearch/go.sum
  plugins/destination/meilisearch/main.go
Labels: automerge, area/ci, area/plugin/destination/meilisearch

#16444 chore: Fix mssql go.mod
  plugins/destination/mssql/go.mod
  plugins/destination/mssql/go.sum
Labels: automerge, area/plugin/destination/mssql

#16442 chore: No 'This parameter controls' in docs, correct `batch_timeout` explanation
  plugins/destination/azblob/client/spec/schema.json
  plugins/destination/azblob/client/spec/spec.go
  plugins/destination/azblob/docs/overview.md
  plugins/destination/bigquery/docs/overview.md
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/duckdb/client/schema.json
  plugins/destination/duckdb/client/spec.go
  plugins/destination/duckdb/docs/overview.md
  plugins/destination/elasticsearch/docs/overview.md
  plugins/destination/file/client/spec/schema.json
  plugins/destination/file/client/spec/spec.go
  plugins/destination/file/docs/overview.md
  plugins/destination/gcs/client/spec/schema.json
  plugins/destination/gcs/client/spec/spec.go
  plugins/destination/gcs/docs/overview.md
  plugins/destination/meilisearch/docs/overview.md
  plugins/destination/mongodb/client/schema.json
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mssql/client/schema.json
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/docs/configuration.md
  plugins/destination/mysql/client/schema.json
  plugins/destination/mysql/client/spec.go
  plugins/destination/mysql/docs/configuration.md
  plugins/destination/postgresql/docs/overview.md
  plugins/destination/s3/docs/overview.md
Labels: automerge, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/mssql, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/bigquery, area/plugin/destination/azblob, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/meilisearch

#16446 feat: Add JSON schema to `kafka` destination plugin
  .github/workflows/dest_kafka.yml
  plugins/destination/kafka/Makefile
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/spec/gen/main.go
  plugins/destination/kafka/client/spec/schema.go
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/schema_test.go
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/docs/overview.md
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/main.go
Labels: automerge, area/plugin/destination/kafka, area/ci

#16466 chore: Move test source to OSS
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
  plugins/source/test/Makefile
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/client/spec/gen/main.go
  plugins/source/test/client/spec_test.go
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_paid_table.md
  plugins/source/test/docs/tables/test_some_table.md
  plugins/source/test/docs/tables/test_sub_table.md
  plugins/source/test/docs/tables/test_testdata_table.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/plugin/client.go
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/services/paid_table.go
  release-please-config.json
Labels: automerge

#16465 feat: Add JSON schema to `s3` destination plugin
  .github/workflows/dest_s3.yml
  plugins/destination/s3/Makefile
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/spec/gen/main.go
  plugins/destination/s3/client/spec/schema.go
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/schema_test.go
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/spec/spec_test.go
  plugins/destination/s3/client/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
  plugins/destination/s3/docs/overview.md
  plugins/destination/s3/go.mod
  plugins/destination/s3/main.go
Labels: automerge, area/plugin/destination/s3, area/ci

#16481 fix: Update migration to skip unique constraint changes
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, area/plugin/destination/sqlite

#16479 feat: Add JSON schema to `postgresql` destination plugin
  .github/workflows/dest_postgresql.yml
  plugins/destination/postgresql/Makefile
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/pgx_log_level.go
  plugins/destination/postgresql/client/spec.go
  plugins/destination/postgresql/client/spec/gen/main.go
  plugins/destination/postgresql/client/spec/pgx_log_level.go
  plugins/destination/postgresql/client/spec/pgx_log_level_test.go
  plugins/destination/postgresql/client/spec/schema.json
  plugins/destination/postgresql/client/spec/spec.go
  plugins/destination/postgresql/client/spec/spec_test.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/postgresql/main.go
Labels: automerge, area/plugin/destination/postgresql, area/ci

#16480 fix: Use `write_mode` instead of `write-mode` in docs
  plugins/destination/file/docs/_configuration.md
  plugins/destination/gcs/docs/_configuration.md
  plugins/destination/kafka/docs/_configuration.md
  plugins/destination/s3/docs/_configuration.md
Labels: automerge, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/kafka, area/plugin/destination/file

#16492 feat: Add JSON schema support for GitLab
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/client/schema.json
  plugins/source/gitlab/client/spec.go
  plugins/source/gitlab/client/spec/gen/main.go
  plugins/source/gitlab/client/spec_test.go
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/gitlab

#16489 feat: Add JSON schema to `elasticsearch` destination
  .github/workflows/dest_elasticsearch.yml
  plugins/destination/elasticsearch/Makefile
  plugins/destination/elasticsearch/client/schema.json
  plugins/destination/elasticsearch/client/spec.go
  plugins/destination/elasticsearch/client/spec/gen/main.go
  plugins/destination/elasticsearch/client/spec_test.go
  plugins/destination/elasticsearch/go.mod
  plugins/destination/elasticsearch/go.sum
  plugins/destination/elasticsearch/main.go
Labels: automerge, area/plugin/destination/elasticsearch, area/ci

#16498 fix!: Remove support for deprecated `OKTA_API_TOKEN` environment variable
  plugins/source/okta/README.md
  plugins/source/okta/client/spec.go
  plugins/source/okta/docs/_authentication.md
  plugins/source/okta/docs/_configuration.md
  plugins/source/okta/docs/overview.md
Labels: automerge, area/plugin/source/okta

#16490 feat: Add JSON schema to bigquery destination
  .github/workflows/dest_bigquery.yml
  plugins/destination/bigquery/Makefile
  plugins/destination/bigquery/client/schema.json
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/spec/gen/main.go
  plugins/destination/bigquery/client/spec_test.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
Labels: automerge, area/plugin/destination/bigquery, area/ci

#16499 chore(ci): Remove unnecessary vendor step
  plugins/destination/postgresql/Makefile
  plugins/destination/postgresql/client/spec/gen/main.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, area/plugin/destination/postgresql

#16500 feat: Add JSON schema to `firehose` destination plugin
  .github/workflows/dest_firehose.yml
  plugins/destination/firehose/Makefile
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/client_test.go
  plugins/destination/firehose/client/spec.go
  plugins/destination/firehose/client/spec/gen/main.go
  plugins/destination/firehose/client/spec/schema.json
  plugins/destination/firehose/client/spec/spec.go
  plugins/destination/firehose/client/spec/spec_test.go
  plugins/destination/firehose/client/write.go
  plugins/destination/firehose/docs/overview.md
  plugins/destination/firehose/go.mod
  plugins/destination/firehose/go.sum
  plugins/destination/firehose/main.go
Labels: automerge, area/ci, area/plugin/destination/firehose

#16501 chore: Tidy vendor in pg dst
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, area/plugin/destination/postgresql

#16506 fix: Update rate-limiting.md
  website/pages/docs/advanced-topics/rate-limiting.md
Labels: automerge, area/website

#16494 feat: Add JSON schema for pagerduty source plugin
  plugins/source/pagerduty/Makefile
  plugins/source/pagerduty/client/schema.json
  plugins/source/pagerduty/client/spec.go
  plugins/source/pagerduty/client/spec/gen/main.go
  plugins/source/pagerduty/client/spec_test.go
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/pagerduty/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/pagerduty

#16493 feat: Add JSON Schema to Okta source plugin
  plugins/source/okta/Makefile
  plugins/source/okta/client/schema.json
  plugins/source/okta/client/spec.go
  plugins/source/okta/client/spec/gen/main.go
  plugins/source/okta/client/spec_test.go
  plugins/source/okta/docs/overview.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/plugin/client.go
  plugins/source/okta/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/okta

#16510 doc: Add login step to publish instructions
  website/components/mdx/_publish-go.mdx
  website/components/mdx/_publish-javascript.mdx
  website/components/mdx/_publish-python.mdx
Labels: automerge, area/website

#16518 fix: Remove `NOT NULL` when moving to `_cq_id`
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#16522 chore: Fix detection of Go Plugins
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci

#16523 chore: Use shared Column definition
  plugins/source/aws/resources/services/appmesh/meshes.go
  plugins/source/aws/resources/services/appmesh/virtual_gateways.go
  plugins/source/aws/resources/services/appmesh/virtual_nodes.go
  plugins/source/aws/resources/services/appmesh/virtual_routers.go
  plugins/source/aws/resources/services/appmesh/virtual_services.go
  plugins/source/aws/resources/services/cloudformation/stack_instance_resource_drifts.go
  plugins/source/aws/resources/services/cloudformation/stackset_operation_results.go
  plugins/source/aws/resources/services/codeartifact/domains.go
  plugins/source/aws/resources/services/codeartifact/repositories.go
  plugins/source/aws/resources/services/detective/members.go
  plugins/source/aws/resources/services/directconnect/connections.go
  plugins/source/aws/resources/services/directconnect/gateway_associations.go
  plugins/source/aws/resources/services/directconnect/gateway_attachments.go
  plugins/source/aws/resources/services/directconnect/gateways.go
  plugins/source/aws/resources/services/directconnect/lags.go
  plugins/source/aws/resources/services/directconnect/locations.go
  plugins/source/aws/resources/services/directconnect/virtual_gateways.go
  plugins/source/aws/resources/services/directconnect/virtual_interfaces.go
  plugins/source/aws/resources/services/ec2/instance_connect.go
  plugins/source/aws/resources/services/ec2/managed_prefix_lists.go
  plugins/source/aws/resources/services/ec2/subnets.go
  plugins/source/aws/resources/services/guardduty/detector_filters.go
  plugins/source/aws/resources/services/guardduty/detector_findings.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/guardduty/detector_threat_intel_sets.go
  plugins/source/aws/resources/services/guardduty/detectors.go
  plugins/source/aws/resources/services/networkmanager/global_networks.go
  plugins/source/aws/resources/services/networkmanager/link.go
  plugins/source/aws/resources/services/networkmanager/sites.go
  plugins/source/aws/resources/services/networkmanager/transit_gateway_registrations.go
  plugins/source/aws/resources/services/organizations/account_parents.go
  plugins/source/aws/resources/services/organizations/accounts.go
  plugins/source/aws/resources/services/organizations/organizational_unit_parents.go
  plugins/source/aws/resources/services/organizations/organizational_units.go
  plugins/source/aws/resources/services/organizations/organizations.go
  plugins/source/aws/resources/services/organizations/roots.go
  plugins/source/aws/resources/services/securityhub/findings.go
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
Labels: automerge, area/plugin/source/aws

#16524 fix: Fix Multiple PKs
  plugins/source/aws/docs/tables/aws_route53resolver_resolver_rules.md
  plugins/source/aws/docs/tables/aws_s3_bucket_cors_rules.md
  plugins/source/aws/resources/services/route53resolver/resolver_rules.go
  plugins/source/aws/resources/services/s3/bucket_cors_rules.go
Labels: automerge, area/plugin/source/aws

#16517 fix: Add explicit `tag` columns to `aws_cognito_user_pools` and `aws_cognito_identity_pools`
  plugins/source/aws/docs/tables/aws_cognito_identity_pools.md
  plugins/source/aws/docs/tables/aws_cognito_user_pools.md
  plugins/source/aws/resources/services/cognito/identity_pools.go
  plugins/source/aws/resources/services/cognito/user_pools.go
Labels: automerge, area/plugin/source/aws

#16491 feat: Adding JSONSchema support to GitHub plugin
  plugins/source/github/Makefile
  plugins/source/github/client/schema.json
  plugins/source/github/client/spec.go
  plugins/source/github/client/spec/gen/main.go
  plugins/source/github/client/spec_test.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/github

#16530 fix: Use `io.cloudquery:plugin-sdk-java`
  plugins/source/bitbucket/app/build.gradle
Labels: automerge, area/plugin/source/bitbucket

#16529 doc: Fix broken hub link
  README.md
Labels: automerge

#16537 doc: Updated how-to for open source CSPM
  website/pages/how-to-guides/open-source-cspm.mdx
Labels: automerge, area/website

#16540 feat: Enable Skipping of Organization Discovery
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/spec/schema.json
  plugins/source/gcp/client/spec/spec.go
  plugins/source/gcp/resources/plugin/client.go
Labels: automerge, area/plugin/source/gcp

#16542 feat: Add tags for AWS Systems Manager Parameters
  plugins/source/aws/docs/tables/aws_ssm_parameters.md
  plugins/source/aws/resources/services/ssm/parameters.go
  plugins/source/aws/resources/services/ssm/parameters_mock_test.go
Labels: automerge, area/plugin/source/aws

#16549 chore: Revert toolchain update
  cli/go.mod
Labels: automerge, area/cli

#16546 feat: Validate plugin spec before init
  cli/cmd/migrate_v3.go
  cli/cmd/specs.go
  cli/cmd/sync_v3.go
  cli/cmd/tables_v3.go
  cli/go.mod
Labels: automerge, area/cli

#16548 chore: Use redirect target to avoid the extra hop in dbt installation link
  website/pages/how-to-guides/open-source-cspm.mdx
Labels: automerge, area/website

#16547 feat: Add JSON Schema
  plugins/source/notion/Makefile
  plugins/source/notion/client/schema.json
  plugins/source/notion/client/spec.go
  plugins/source/notion/client/spec/gen/main.go
  plugins/source/notion/client/spec_test.go
  plugins/source/notion/go.mod
  plugins/source/notion/go.sum
  plugins/source/notion/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/notion

#16550 feat: Add JSON schema to HubSpot
  plugins/source/hubspot/Makefile
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/spec.go
  plugins/source/hubspot/client/spec/gen/main.go
  plugins/source/hubspot/client/spec/schema.json
  plugins/source/hubspot/client/spec/spec.go
  plugins/source/hubspot/client/spec/spec_test.go
  plugins/source/hubspot/client/spec/table_options.go
  plugins/source/hubspot/client/spec/table_options_test.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/hubspot

#16552 fix: Clarify that `aws_debug: true` needs debug log level
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
Labels: automerge, area/plugin/source/aws

#16538 fix: Add JSON schema metadata
  plugins/destination/postgresql/client/spec/schema.json
  plugins/destination/postgresql/client/spec/spec.go
Labels: automerge, area/plugin/destination/postgresql

#16558 feat: Add JSON schema to `bitbucket` source plugin
  plugins/source/bitbucket/app/build.gradle
  plugins/source/bitbucket/app/src/main/java/bitbucket/BitbucketPlugin.java
  plugins/source/bitbucket/app/src/main/java/bitbucket/client/configuration/Spec.java
Labels: automerge, area/plugin/source/bitbucket

#15854 fix: Streamline `aws_guardduty_` tables primary keys
  plugins/source/aws/docs/tables/aws_guardduty_detector_filters.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_intel_sets.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_ip_sets.md
  plugins/source/aws/docs/tables/aws_guardduty_detector_publishing_destinations.md
  plugins/source/aws/docs/tables/aws_guardduty_detectors.md
  plugins/source/aws/resources/services/guardduty/detector_filters.go
  plugins/source/aws/resources/services/guardduty/detector_findings.go
  plugins/source/aws/resources/services/guardduty/detector_ipsets.go
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detector_publishing_destinations.go
  plugins/source/aws/resources/services/guardduty/detector_threat_intel_sets.go
  plugins/source/aws/resources/services/guardduty/detectors.go
  plugins/source/aws/resources/services/guardduty/models/guardduty.go
Labels: automerge, area/plugin/source/aws

#16555 fix: Handle addition of Primary Key Components
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#16566 doc: Add Posthog to privacy policy
  .github/styles/config/vocabularies/Base/accept.txt
  website/pages/privacy.mdx
Labels: automerge, area/website, area/website/frontend

#16590 feat: Add JSON Schema to `typeform` source plugin
  plugins/source/typeform/docs/overview.md
  plugins/source/typeform/plugin/client/client.py
  plugins/source/typeform/plugin/plugin.py
Labels: automerge, area/plugin/source/typeform

#16591 feat: Add JSON schema to `square` source plugin spec
  plugins/source/square/docs/overview.md
  plugins/source/square/plugin/client/client.py
  plugins/source/square/plugin/plugin.py
Labels: automerge, area/plugin/source/square

#16594 feat: Add JSON schema to `airtable` source plugin spec
  plugins/source/airtable/docs/overview.md
  plugins/source/airtable/package-lock.json
  plugins/source/airtable/package.json
  plugins/source/airtable/src/plugin.ts
  plugins/source/airtable/src/spec.ts
Labels: automerge, area/plugin/source/airtable, priority merge

#16582 fix: Correct workspaces directory ARN
  plugins/source/aws/resources/services/workspaces/directories.go
Labels: automerge, area/plugin/source/aws, priority merge

#16585 fix: Handle map writes
  plugins/destination/postgresql/client/transformer.go
Labels: automerge, area/plugin/destination/postgresql, priority merge

#16586 fix: Handle long column name
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql, priority merge

#16634 chore: Update adding_a_new_plugin_to_cq_monorepo.md
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Labels: automerge

#16618 fix: Stop DynamoDB resolvers from making API calls that always fail
  plugins/source/aws/docs/tables/aws_dynamodb_global_tables.md
  plugins/source/aws/resources/services/dynamodb/global_tables.go
  plugins/source/aws/resources/services/dynamodb/global_tables_mock_test.go
  plugins/source/aws/resources/services/dynamodb/table_replica_auto_scalings.go
  plugins/source/aws/resources/services/dynamodb/tables_mock_test.go
Labels: automerge, area/plugin/source/aws

#16640 feat: Set sync status to complete when sync is done
  cli/cmd/sync_v3.go
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#16641 fix: Update example config to use environment variable
  plugins/destination/postgresql/docs/_configuration.md
Labels: automerge, area/plugin/destination/postgresql

#16651 feat: Add user agent if MotherDuck connection
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/write.go
Labels: automerge, area/plugin/destination/duckdb

#16654 fix: Add warnings and errors to cloud sync progress reports
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#16664 fix: Send started status for Cloud Syncs
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#16681 chore: Add intergrations redirects
  .github/workflows/broken_links.yml
  .github/workflows/broken_links_scheduled.yml
  website/vercel.json
Labels: area/ci, area/website

#16683 fix: Ensure all writers have a logger
  plugins/destination/azblob/client/client.go
  plugins/destination/duckdb/client/client.go
  plugins/destination/elasticsearch/client/client.go
  plugins/destination/file/client/client.go
  plugins/destination/gcs/client/client.go
  plugins/destination/gremlin/client/client.go
  plugins/destination/meilisearch/client/client.go
  plugins/destination/mongodb/client/client.go
  plugins/destination/neo4j/client/client.go
  plugins/destination/s3/client/client.go
Labels: automerge, area/plugin/destination/gremlin, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/azblob, area/plugin/destination/file, area/plugin/destination/meilisearch

#16691 fix: Handle 404 Error for read
  plugins/destination/elasticsearch/client/read.go
Labels: automerge, area/plugin/destination/elasticsearch

#16719 chore: Revert Go toolchain
  plugins/destination/bigquery/go.mod
  plugins/destination/clickhouse/go.mod
  plugins/destination/duckdb/go.mod
  plugins/destination/elasticsearch/go.mod
  plugins/destination/gremlin/go.mod
  plugins/destination/meilisearch/go.mod
  plugins/destination/mongodb/go.mod
  plugins/destination/mysql/go.mod
  plugins/destination/neo4j/go.mod
  plugins/destination/sqlite/go.mod
  plugins/destination/test/go.mod
  plugins/source/alicloud/go.mod
  plugins/source/awspricing/go.mod
  plugins/source/cloudflare/go.mod
  plugins/source/datadog/go.mod
  plugins/source/digitalocean/go.mod
  plugins/source/firestore/go.mod
  plugins/source/github/go.mod
  plugins/source/gitlab/go.mod
  plugins/source/hackernews/go.mod
  plugins/source/hubspot/go.mod
  plugins/source/k8s/go.mod
  plugins/source/notion/go.mod
  plugins/source/okta/go.mod
  plugins/source/oracle/go.mod
  plugins/source/pagerduty/go.mod
  plugins/source/test/go.mod
Labels: area/plugin/source/gitlab, area/plugin/source/github, area/plugin/source/oracle, area/plugin/source/k8s, area/plugin/source/notion, area/plugin/source/hackernews, area/plugin/source/alicloud, area/plugin/source/digitalocean, area/plugin/source/firestore, area/plugin/source/datadog, area/plugin/source/awspricing, area/plugin/source/hubspot, area/plugin/source/okta, area/plugin/source/pagerduty, area/plugin/source/cloudflare, area/plugin/destination/gremlin, area/plugin/destination/mongodb, area/plugin/destination/sqlite, area/plugin/destination/mysql, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/bigquery, area/plugin/destination/clickhouse, area/plugin/destination/meilisearch

#16717 feat: Allow testing of set environment variables
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/go.mod
  plugins/source/test/go.sum
  plugins/source/test/resources/plugin/client.go
Labels: automerge, area/plugin/source/test

#16655 fix: Correctly gather Tags for RDS & DynamoDB recovery points.
  plugins/source/aws/client/helpers.go
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
  plugins/source/aws/resources/services/backup/vaults_mock_test.go
Labels: automerge, area/plugin/source/aws, priority merge

#16727 fix: Sanitize ID in queries, better debug logging
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/client/write.go
Labels: automerge, area/plugin/destination/duckdb

#16682 fix: Isolate plugin environments in the cloud
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  cli/cmd/testdata/source-with-env.yml
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli, priority merge

#16754 fix(resources): Link to gcp project description
  plugins/source/gcp/docs/tables/gcp_compute_projects.md
  plugins/source/gcp/resources/services/compute/projects.go
Labels: automerge, area/plugin/source/gcp

#16761 fix: Always pass CLOUDQUERY_API_KEY to plugins
  cli/cmd/sync.go
Labels: automerge, area/cli, priority merge

#16772 feat: Add binary and large type handling
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/transform.go
  plugins/destination/duckdb/client/types.go
Labels: automerge, area/plugin/destination/duckdb

#16757 chore: Update screenshot
  website/public/images/docs/facebookmarketing/step1.png
Labels: automerge, area/website

#16780 fix: Always pass _CQ_TEAM_NAME to plugins
  cli/cmd/sync.go
Labels: automerge, area/cli

#16788 fix: Use Logger for Client rather than the one that is passed in
  plugins/destination/bigquery/client/client.go
  plugins/destination/clickhouse/client/client.go
  plugins/destination/mysql/client/client.go
  plugins/destination/snowflake/client/client.go
  plugins/destination/sqlite/client/client.go
Labels: automerge, area/plugin/destination/snowflake, area/plugin/destination/sqlite, area/plugin/destination/mysql, area/plugin/destination/bigquery, area/plugin/destination/clickhouse

#16668 feat: Use Appender interface
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/read.go
  plugins/destination/duckdb/client/transform.go
  plugins/destination/duckdb/client/transform_gotype.go
  plugins/destination/duckdb/client/types.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, area/plugin/destination/duckdb

#16798 chore: Re-enable no-migrate option for DuckDB
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/write.go
Labels: automerge, area/plugin/destination/duckdb

#16802 chore: Fix replace versions logic to prioritize the Hub
  website/next.config.mjs
Labels: automerge, area/website

#16800 fix: Document log levels
  cli/cmd/root.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_addon.md
  website/pages/docs/reference/cli/cloudquery_addon_download.md
  website/pages/docs/reference/cli/cloudquery_addon_publish.md
  website/pages/docs/reference/cli/cloudquery_login.md
  website/pages/docs/reference/cli/cloudquery_logout.md
  website/pages/docs/reference/cli/cloudquery_migrate.md
  website/pages/docs/reference/cli/cloudquery_plugin.md
  website/pages/docs/reference/cli/cloudquery_plugin_install.md
  website/pages/docs/reference/cli/cloudquery_plugin_publish.md
  website/pages/docs/reference/cli/cloudquery_switch.md
  website/pages/docs/reference/cli/cloudquery_sync.md
  website/pages/docs/reference/cli/cloudquery_tables.md
Labels: automerge, area/cli, area/website

#16796 feat: Add `github_repository_sboms` table to sync Github SBOM data
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_dependency_graph.go
  plugins/source/github/client/services.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_repository_sboms.md
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/repositories/sboms.go
Labels: automerge, area/plugin/source/github, priority merge

#16795 feat: MotherDuck destination
  .github/pr_labeler.yml
  .github/workflows/dest_motherduck.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_motherduck.yml
  .release-please-manifest.json
  plugins/destination/motherduck/.gitignore
  plugins/destination/motherduck/.goreleaser.yaml
  plugins/destination/motherduck/CHANGELOG.md
  plugins/destination/motherduck/CONTRIBUTING.md
  plugins/destination/motherduck/Dockerfile
  plugins/destination/motherduck/Makefile
  plugins/destination/motherduck/README.md
  plugins/destination/motherduck/client/client.go
  plugins/destination/motherduck/client/client_test.go
  plugins/destination/motherduck/client/delete_stale.go
  plugins/destination/motherduck/client/migrate.go
  plugins/destination/motherduck/client/read.go
  plugins/destination/motherduck/client/schema.json
  plugins/destination/motherduck/client/spec.go
  plugins/destination/motherduck/client/spec/gen/main.go
  plugins/destination/motherduck/client/spec_test.go
  plugins/destination/motherduck/client/transform.go
  plugins/destination/motherduck/client/types.go
  plugins/destination/motherduck/client/write.go
  plugins/destination/motherduck/docs/_configuration.md
  plugins/destination/motherduck/docs/overview.md
  plugins/destination/motherduck/gencc.sh
  plugins/destination/motherduck/gencpp.sh
  plugins/destination/motherduck/go.mod
  plugins/destination/motherduck/go.sum
  plugins/destination/motherduck/main.go
  plugins/destination/motherduck/resources/plugin/plugin.go
  release-please-config.json
Labels: automerge, area/ci

#16811 chore: Revert "chore(main): Release plugins-destination-motherduck v1.0.0"
  .release-please-manifest.json
  plugins/destination/motherduck/CHANGELOG.md
Labels: area/plugin/destination/motherduck

#16814 chore: Revert "chore(main): Release plugins-destination-motherduck v1.0.0"
  .release-please-manifest.json
  plugins/destination/motherduck/CHANGELOG.md
Labels: area/plugin/destination/motherduck

#16816 chore: Don't update duckdb client for motherduck dest
  .github/renovate.json5
Labels: automerge

#16817 chore: Revert "fix(deps): Update module github.com/marcboeker/go-duckdb to v1.6.1"
  plugins/destination/motherduck/go.mod
  plugins/destination/motherduck/go.sum
Labels: automerge, area/plugin/destination/motherduck

#16819 chore: MotherDuck config updates
  plugins/destination/motherduck/client/schema.json
  plugins/destination/motherduck/client/spec.go
  plugins/destination/motherduck/docs/_configuration.md
Labels: automerge, area/plugin/destination/motherduck

#16822 fix: Log warning instead of error during JSON schema failure
  cli/cmd/specs.go
Labels: automerge, area/cli, priority merge

#16826 chore: Use `strip_html_comments: true` instead of hard coded strings
  .github/.kodiak.toml
Labels: automerge

#16827 fix: Pass enterprise base URL to app auth if needed
  plugins/source/github/client/client.go
Labels: automerge, area/plugin/source/github

#16828 chore: Update update-plugins-using-renovate.mdx
  website/pages/how-to-guides/update-plugins-using-renovate.mdx
Labels: automerge, area/website

#16838 chore: Revert "fix: Don't include `/api/v3/` in base URL passed to `inst.NewEnterpriseConfig`"
  plugins/source/github/client/client.go
Labels: area/plugin/source/github

#16841 fix: Update GitHub example config
  plugins/source/github/docs/_configuration.md
Labels: automerge, area/plugin/source/github

#16848 fix: Use env var replacement in example configuration
  plugins/source/typeform/docs/_configuration.md
Labels: automerge, area/plugin/source/typeform

#16864 feat: Upgrade Okta SDK to v4
  plugins/source/okta/client/client.go
  plugins/source/okta/client/errors.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/client/transformers.go
  plugins/source/okta/docs/_configuration.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/plugin/client.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/applications/group_assignments.go
  plugins/source/okta/resources/services/applications/users.go
  plugins/source/okta/resources/services/fakes/group.go
  plugins/source/okta/resources/services/fakes/user.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/groups_mock_test.go
  plugins/source/okta/resources/services/groups/users.go
  plugins/source/okta/resources/services/users/users.go
  plugins/source/okta/resources/services/users/users_mock_test.go
Labels: automerge, area/plugin/source/okta

#16865 chore: Update link to Node.js starting guide
  website/pages/docs/developers/creating-new-plugin/javascript-source.mdx
Labels: automerge, area/website

#16869 chore: Disable automatic updates for DuckDB lib
  .github/renovate.json5
Labels: automerge

#16870 fix: Downgrade DuckDB library version
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/client/transform_gotype.go
  plugins/destination/duckdb/client/write.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, area/plugin/destination/duckdb

#16873 chore: Revert "chore(main): Release plugins-source-github v8.0.2"
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Labels: area/plugin/source/github

#16872 fix: GitHub app authentication with GitHub enterprise
  plugins/source/github/client/client.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Labels: automerge, area/plugin/source/github

#16837 feat: Add support for Private docker registries
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/tables.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/metadata.go
  cli/internal/specs/v0/schema.json
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/cli, area/website

#16885 feat: Support authenticating via `service_account_key_json`
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/spec/schema.json
  plugins/destination/gcs/client/spec/spec.go
Labels: automerge, area/plugin/destination/gcs, priority merge

#16889 feat: Provide `aws_neptune_host` option for Neptune IAM authentication over proxy
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/schema.json
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/client/spec_test.go
  plugins/destination/gremlin/docs/_configuration.md
  plugins/destination/gremlin/docs/overview.md
Labels: automerge, area/plugin/destination/gremlin

#16890 chore: Update Gremlin JSON schema to add examples
  plugins/destination/gremlin/client/client.go
  plugins/destination/gremlin/client/schema.json
  plugins/destination/gremlin/client/spec.go
  plugins/destination/gremlin/docs/overview.md
Labels: automerge, area/plugin/destination/gremlin

#16887 fix: Use env var replacement in example configuration
  plugins/destination/mongodb/docs/_configuration.md
Labels: automerge, area/plugin/destination/mongodb, needs-area

#16892 fix: Only set a default address if `cloud_id` is not configured
  plugins/destination/elasticsearch/client/schema.json
  plugins/destination/elasticsearch/client/spec.go
  plugins/destination/elasticsearch/client/spec_test.go
  plugins/destination/elasticsearch/docs/_configuration.md
Labels: automerge, area/plugin/destination/elasticsearch

#16891 refactor(ci): Allow running `make gen` in CLI & destination plugins, too
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/manual_commands_triggers.yml
Labels: automerge, area/ci

#16939 fix: Adds host as an env var
  plugins/destination/meilisearch/docs/_configuration.md
Labels: automerge, area/plugin/destination/meilisearch

#16940 fix: Adding environment variables to config
  plugins/destination/neo4j/docs/_configuration.md
Labels: automerge, area/plugin/destination/neo4j

#16938 chore: Clean up old workflows
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_firehose.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_meilisearch.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_motherduck.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_airtable.yml
  .github/workflows/source_alicloud.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_awspricing.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_bitbucket.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_firestore.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_hubspot.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_notion.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_oracle.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_square.yml
  .github/workflows/source_test.yml
  .github/workflows/source_typeform.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, area/ci

#16945 fix: Use env var replacement in example configuration
  plugins/source/gitlab/docs/_configuration.md
Labels: automerge, area/plugin/source/gitlab

#16942 fix!: Properly replace JSON values when using `athena: true`
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
Labels: automerge, area/plugin/destination/s3

#16950 fix: Adding firehose stream environment variable
  plugins/destination/firehose/client/spec/spec.go
  plugins/destination/firehose/docs/_configuration.md
Labels: automerge, area/plugin/destination/firehose

#16946 fix: Require accounts in spec
  plugins/source/datadog/client/client.go
  plugins/source/datadog/client/schema.json
  plugins/source/datadog/client/spec.go
  plugins/source/datadog/client/spec_test.go
  plugins/source/datadog/docs/_configuration.md
  plugins/source/datadog/docs/configuration.md
  plugins/source/datadog/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/datadog

#16948 fix: Use env var replacement in example configuration
  plugins/source/digitalocean/docs/_configuration.md
Labels: automerge, area/plugin/source/digitalocean

#16944 fix: Use env var replacement in example configuration, read token from spec
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/docs/_configuration.md
Labels: automerge, area/plugin/source/hubspot

#16947 fix: Use env var replacement in example configuration
  plugins/source/cloudflare/docs/_configuration.md
Labels: automerge, area/plugin/source/cloudflare

#16955 fix: Remove stream_arn regex validation
  plugins/destination/firehose/client/spec/schema.json
  plugins/destination/firehose/client/spec/spec.go
  plugins/destination/firehose/client/spec/spec_test.go
Labels: automerge, area/plugin/destination/firehose

#16846 feat: Add `contents_as_json` column to `github_workflows` table
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/go.mod
  plugins/source/github/resources/services/actions/workflows.go
Labels: automerge, area/plugin/source/github

#16966 chore: Move API Keys tables from free to paid
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apikeys_keys.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/apikeys/keys_mock_test.go
Labels: automerge, area/plugin/source/gcp

#16967 fix: Clean env prefixes for cloud syncs
  cli/cmd/sync.go
  cli/cmd/sync_test.go
Labels: automerge, area/cli

#16968 fix: Ensure not adding duplicate CQ columns
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli

#16969 refactor: Improve performance by reducing allocations
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli
