Repository cloudquery/cloudquery, pull requests merged in 2024-03, with the labels that each got.

#16986 fix: Get dirname using path module
  .github/workflows/deps_trigger_gen.yml
Labels: area/ci

#16985 fix: Adding environment variables to example
  plugins/destination/kafka/docs/_configuration.md
Labels: automerge, area/plugin/destination/kafka

#17003 chore: Fix broken link in Kestra guide
  website/pages/docs/deployment/kestra.mdx
Labels: automerge, area/website

#17004 fix: Pass HOME env variable through to plugins
  cli/cmd/sync.go
Labels: automerge, area/cli

#17008 fix: Retry on network errors
  plugins/source/hackernews/client/errors.go
Labels: automerge, area/plugin/source/hackernews

#17009 feat: Adjustable sub-columns in `test_sub_table` for the test source plugin
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/docs/tables/test_sub_table.md
  plugins/source/test/resources/plugin/client.go
  plugins/source/test/resources/services/test_some_table.go
  plugins/source/test/resources/services/test_sub_table.go
Labels: automerge

#17012 chore: Add S3 access grant tables
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_s3_access_grant_instances.md
  plugins/source/aws/docs/tables/aws_s3_access_grants.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/s3/access_grant_instances.go
  plugins/source/aws/resources/services/s3/access_grant_instances_mock_test.go
  plugins/source/aws/resources/services/s3/access_grants.go
  plugins/source/aws/resources/services/s3/access_grants_mock_test.go
Labels: automerge, area/plugin/source/aws

#17013 feat: Use Hardcoded Regions if `EC2:DescribeRegion` is denied
  plugins/source/aws/client/account.go
  plugins/source/aws/client/client_test.go
Labels: automerge, area/plugin/source/aws, priority merge

#17027 chore: Revert "chore(main): Release plugins-source-typeform v1.3.2"
  .release-please-manifest.json
  plugins/source/typeform/CHANGELOG.md
  plugins/source/typeform/plugin/plugin.py
Labels: area/plugin/source/typeform

#17028 chore: Revert "chore(main): Release plugins-source-square v1.2.2"
  .release-please-manifest.json
  plugins/source/square/CHANGELOG.md
Labels: area/plugin/source/square

#17033 fix: Enable docker API negotiation
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#17037 fix: Fix test plugin init
  plugins/source/test/resources/plugin/client.go
Labels: automerge

#17039 chore: Update Postgres connection string in example
  plugins/destination/postgresql/docs/_configuration.md
Labels: automerge, area/plugin/destination/postgresql

#17085 feat: Document how to use an offline license
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/using-an-offline-license.md
Labels: automerge, area/website

#17089 doc: Managed syncs documentation
  website/pages/docs/quickstart/_meta.json
  website/pages/docs/quickstart/index.md
  website/pages/docs/quickstart/managed.mdx
  website/public/images/docs/quickstart/destination.png
  website/public/images/docs/quickstart/empty-syncs.png
  website/public/images/docs/quickstart/running.png
  website/public/images/docs/quickstart/secrets.png
  website/public/images/docs/quickstart/source-1.png
  website/public/images/docs/quickstart/source-2.png
Labels: automerge, kind/docs, area/website

#17090 feat: Add batch size docs to perf tuning section
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, area/website

#17102 doc: Fix link to not go to redirect
  website/pages/docs/advanced-topics/using-an-offline-license.md
Labels: automerge, area/website

#17100 chore: Remove repetitive word
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#17088 feat: Add support for CrateDB to Postgres destination
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/delete.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/pgarrow/to_arrow.go
  plugins/destination/postgresql/pgarrow/to_pg.go
Labels: automerge, area/plugin/destination/postgresql

#17108 fix: Replace dashes with underscores during publish
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci

#17109 doc: Mention managed syncs on the most visited how-to guides
  website/pages/how-to-guides/attack-surface-management-with-graph.mdx
  website/pages/how-to-guides/open-source-cspm.mdx
Labels: area/website

#17087 feat: Add `invocation-id` to all log statements
  cli/cmd/logging.go
  cli/cmd/root.go
  cli/cmd/sync.go
Labels: automerge, area/cli

#17110 fix(ci): Split tag properly
  .github/workflows/release_plugin.yml
Labels: automerge, area/ci

#17114 fix(ci): Split tag properly
  .github/workflows/publish_plugin_to_hub.yml
Labels: area/ci

#17115 fix(ci): Undash every plugin type
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci

#17113 feat: Add connection string example to JSON schema
  plugins/destination/postgresql/client/spec/schema.json
  plugins/destination/postgresql/client/spec/spec.go
Labels: automerge, area/plugin/destination/postgresql

#17103 doc: Remove source plugin directory
  website/components/pluginData.tsx
  website/pages/docs/plugins/_meta.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/bitbucket/_authentication.md
  website/pages/docs/plugins/sources/bitbucket/_configuration.md
  website/pages/docs/plugins/sources/bitbucket/_meta.json
  website/pages/docs/plugins/sources/bitbucket/overview.md
  website/pages/docs/plugins/sources/bitbucket/tables.md
  website/pages/docs/plugins/sources/bitbucket/tables/bitbucket_repositories.md
  website/pages/docs/plugins/sources/bitbucket/tables/bitbucket_workspaces.md
  website/utils/components.tsx
Labels: automerge, area/website

#17125 feat: Add examples to the spec JSON schema
  plugins/source/aws/client/spec/account.go
  plugins/source/aws/client/spec/organization.go
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Labels: automerge, area/plugin/source/aws

#17126 feat: Add examples to the spec JSON schema
  plugins/source/azure/client/spec/retry_options.go
  plugins/source/azure/client/spec/schema.json
  plugins/source/azure/client/spec/spec.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Labels: automerge, area/plugin/source/azure

#17205 feat: Add support for GCP Predefined IAM roles
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_iam_predefined_roles.md
  plugins/source/gcp/resources/plugin/tables.go
  plugins/source/gcp/resources/services/iam/predefined_roles.go
  plugins/source/gcp/resources/services/iam/predefined_roles_mock_test.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Labels: automerge, area/plugin/source/gcp

#17208 fix!: Use documented Apache Arrow type conversion
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/clickhouse/typeconv/arrow/values/date.go
  plugins/destination/clickhouse/typeconv/arrow/values/date_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/primitive.go
  plugins/destination/clickhouse/typeconv/arrow/values/primitive_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/time.go
  plugins/destination/clickhouse/typeconv/arrow/values/time_test.go
  plugins/destination/clickhouse/typeconv/arrow/values/values.go
  plugins/destination/clickhouse/typeconv/arrow/values/values_test.go
  plugins/destination/clickhouse/typeconv/ch/types/column_type.go
  plugins/destination/clickhouse/typeconv/ch/types/decimal.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions_test.go
  plugins/destination/clickhouse/typeconv/ch/types/timestamp.go
  plugins/destination/clickhouse/typeconv/ch/types/timestamp_test.go
  plugins/destination/clickhouse/typeconv/ch/values/date.go
  plugins/destination/clickhouse/typeconv/ch/values/date_test.go
  plugins/destination/clickhouse/typeconv/ch/values/decimal.go
  plugins/destination/clickhouse/typeconv/ch/values/decimal_test.go
  plugins/destination/clickhouse/typeconv/ch/values/extension.go
  plugins/destination/clickhouse/typeconv/ch/values/primitive.go
  plugins/destination/clickhouse/typeconv/ch/values/time.go
  plugins/destination/clickhouse/typeconv/ch/values/time_test.go
  plugins/destination/clickhouse/typeconv/ch/values/values.go
Labels: automerge, area/plugin/destination/clickhouse

#17111 fix: Move GitHub `client.New` to Init function
  plugins/source/github/resources/plugin/client.go
Labels: automerge, area/plugin/source/github

#17086 feat: Add `test-connection` command
  cli/Makefile
  cli/cmd/root.go
  cli/cmd/test_connection.go
  cli/cmd/test_connection_test.go
  cli/cmd/testdata/test-connection-bad-auth.yml
Labels: automerge, area/cli

#17206 feat: Automatically handle dropping Unique clause
  plugins/destination/duckdb/client/migrate.go
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, area/plugin/destination/duckdb

#17230 fix: Redirect to Cloud signup
  website/next.config.mjs
Labels: automerge, area/website

#17130 feat: Support removing a unique constraint
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#17234 fix: Update top navigation CTA
  website/pages/_meta.json
Labels: automerge, area/website

#17238 feat: Add JSON schema
  plugins/source/awspricing/Makefile
  plugins/source/awspricing/client/schema.json
  plugins/source/awspricing/client/spec.go
  plugins/source/awspricing/client/spec/gen/main.go
  plugins/source/awspricing/client/spec_test.go
  plugins/source/awspricing/go.mod
  plugins/source/awspricing/go.sum
  plugins/source/awspricing/resources/plugin/plugin.go
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/client/schema.json
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/spec/gen/main.go
  plugins/source/hackernews/client/spec_test.go
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/hackernews, area/plugin/source/awspricing, priority merge

#17235 feat: Pass the given spec to the `tables` handler of the plugin
  cli/cmd/specs.go
  cli/cmd/tables.go
  cli/cmd/tables_v3.go
Labels: automerge, area/cli

#17245 fix: Redirect how to guides to new blog
  website/pages/how-to-guides/_meta.json
  website/pages/how-to-guides/attack-surface-management-with-graph.mdx
  website/pages/how-to-guides/aws-resource-limits-and-service-quotas.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-apache-superset.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-aws-quicksight.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-google-data-studio.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-metabase.mdx
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-microsoft-power-bi.mdx
  website/pages/how-to-guides/cloudquery-postgraphile.mdx
  website/pages/how-to-guides/cloudquery-postgrest.mdx
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.mdx
  website/pages/how-to-guides/cross-account-access-aws-assumerole.mdx
  website/pages/how-to-guides/datadog-observability.mdx
  website/pages/how-to-guides/deploying-cloudquery-into-aws-org.mdx
  website/pages/how-to-guides/how-to-load-infrastructure-data-into-athena.mdx
  website/pages/how-to-guides/manage-resilience-with-aws-backup.mdx
  website/pages/how-to-guides/moving-data-from-postgres-to-motherduck.mdx
  website/pages/how-to-guides/open-source-cspm.mdx
  website/pages/how-to-guides/query-aws-cost-and-usage-athena.mdx
  website/pages/how-to-guides/simple-analytics-to-bigquery.mdx
  website/pages/how-to-guides/update-plugins-using-renovate.mdx
  website/vercel.json
Labels: area/website

#17242 feat: Support `private_key` env variable
  plugins/source/oracle/client/configProvider.go
  plugins/source/oracle/client/oracle_clients.go
  plugins/source/oracle/docs/_authentication.md
Labels: automerge, area/plugin/source/oracle

#17292 fix: Env var reference
  plugins/source/oracle/client/configProvider.go
Labels: automerge, area/plugin/source/oracle

#17295 fix: Update `_authentication.md` docs
  plugins/destination/s3/docs/_authentication.md
Labels: automerge, area/plugin/destination/s3

#17297 fix: Allow empty auth mode
  plugins/destination/gremlin/client/spec.go
Labels: automerge, area/plugin/destination/gremlin

#17298 fix: Update docs example to use env variable replacement
  plugins/destination/mssql/client/schema.json
  plugins/destination/mssql/client/spec.go
  plugins/destination/mssql/docs/_configuration.md
  plugins/destination/mssql/docs/configuration.md
Labels: automerge, area/plugin/destination/mssql

#17294 doc: Document Apache Arrow types mapping
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/clickhouse/docs/types.md
  plugins/destination/clickhouse/typeconv/arrow/types/decimal.go
  plugins/destination/clickhouse/typeconv/ch/types/decimal.go
  plugins/destination/clickhouse/typeconv/ch/types/decimal_test.go
  plugins/destination/clickhouse/typeconv/ch/types/list_test.go
Labels: automerge, area/plugin/destination/clickhouse

#17305 feat: Check token validity on init
  plugins/source/gitlab/client/client.go
Labels: automerge, area/plugin/source/gitlab

#17306 feat: Add `is_incremental` to json Table Output
  cli/internal/docs/json.go
  cli/internal/docs/testdata/TestGeneratePluginDocs-JSON-__tables.json
Labels: automerge, area/cli

#17310 feat: Add support for resolving tags for AWS RDS DBSubnetGroup and OptionGroup
  plugins/source/aws/docs/tables/aws_rds_option_groups.md
  plugins/source/aws/docs/tables/aws_rds_subnet_groups.md
  plugins/source/aws/resources/services/rds/cluster_parameter_groups.go
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_parameter_groups.go
  plugins/source/aws/resources/services/rds/db_proxies.go
  plugins/source/aws/resources/services/rds/db_security_groups.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/event_subscriptions.go
  plugins/source/aws/resources/services/rds/fetch_rds_tags.go
  plugins/source/aws/resources/services/rds/instances.go
  plugins/source/aws/resources/services/rds/mock_test.go
  plugins/source/aws/resources/services/rds/option_groups.go
  plugins/source/aws/resources/services/rds/option_groups_mock_test.go
  plugins/source/aws/resources/services/rds/reserved_instances.go
  plugins/source/aws/resources/services/rds/subnet_groups.go
Labels: automerge, area/plugin/source/aws

#17309 feat: When SBOM API returns 404 recommend enabling dependency graph
  plugins/source/github/resources/services/repositories/sboms.go
Labels: automerge, area/plugin/source/github

#17311 chore!: Drop support for MySQL versions < 8.0
  .github/workflows/dest_mysql.yml
  plugins/destination/mysql/CONTRIBUTING.md
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/docs/overview.md
Labels: automerge, area/plugin/destination/mysql, area/ci

#17247 feat!: Support Decimal types
  plugins/destination/postgresql/pgarrow/to_arrow.go
  plugins/destination/postgresql/pgarrow/to_arrow_test.go
  plugins/destination/postgresql/pgarrow/to_pg_test.go
Labels: automerge, area/plugin/destination/postgresql

#17236 feat: Support Sending the `sync_id` to plugins
  cli/cmd/migrate_v3.go
  cli/cmd/specs.go
  cli/cmd/sync_v3.go
  cli/cmd/tables_v3.go
  cli/cmd/test_connection.go
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#17286 feat: S3 expose `{{SyncID}}` as a path variable
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/client/write_test.go
Labels: automerge, area/plugin/destination/s3

#17331 fix: Ensure login callback is only handled once
  cli/cmd/login.go
Labels: automerge, area/cli

#17334 doc: delete references to me and autodesk
  website/content/authors.ts
  website/pages/case-studies/autodesk-cloudquery.mdx
Labels: area/website

#17329 fix: Update docker-offline to reflect login requirement
  website/pages/docs/deployment/docker-offline.mdx
Labels: automerge, area/website

#17336 feat: Update SDK, support package command
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/source_bitbucket.yml
  plugins/source/bitbucket/Dockerfile
  plugins/source/bitbucket/app/build.gradle
  plugins/source/bitbucket/app/src/main/java/bitbucket/BitbucketPlugin.java
Labels: automerge, area/plugin/source/bitbucket, priority merge, area/ci

#17341 feat: Fail on Init with incorrect credentials
  plugins/destination/snowflake/client/client.go
Labels: automerge, area/plugin/destination/snowflake, priority merge

#17337 fix: Make sure to scan table list during state backend operations
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/list_tables.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql, priority merge

#17343 feat: Fail on Init with incorrect credentials
  plugins/destination/bigquery/client/client.go
Labels: automerge, area/plugin/destination/bigquery

#17338 fix: Update docs for new path variable
  plugins/destination/s3/docs/overview.md
Labels: automerge, area/plugin/destination/s3

#17345 feat: Fail on Init with incorrect credentials
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/go.mod
Labels: automerge, area/plugin/destination/firehose

#17354 chore: Revert "chore(main): Release plugins-source-bitbucket v1.2.0"
  .release-please-manifest.json
  plugins/source/bitbucket/CHANGELOG.md
Labels: area/plugin/source/bitbucket

#17356 chore: Add working directory when running Java plugin build
  .github/workflows/publish_plugin_to_hub.yml
Labels: area/ci

#17339 feat!: Skip archived repositories by default, rename `skip_archived_repos` to `include_archived_repos`
  plugins/source/github/client/client.go
  plugins/source/github/client/schema.json
  plugins/source/github/client/spec.go
  plugins/source/github/docs/_configuration.md
  plugins/source/github/docs/overview.md
Labels: automerge, area/plugin/source/github

#17358 chore: Revert "chore(main): Release plugins-source-bitbucket v1.2.0"
  .release-please-manifest.json
  plugins/source/bitbucket/CHANGELOG.md
Labels: area/plugin/source/bitbucket

#17359 chore: Add GITHUB_TOKEN and GITHUB_ACTOR envs to Java package command
  .github/workflows/publish_plugin_to_hub.yml
Labels: automerge, area/ci

#17361 chore: Revert "chore(main): Release plugins-source-bitbucket v1.2.0 (#17360)"
  .release-please-manifest.json
  plugins/source/bitbucket/CHANGELOG.md
Labels: area/plugin/source/bitbucket

#17363 fix: Add missing docs
  plugins/source/bitbucket/docs/_authentication.md
  plugins/source/bitbucket/docs/_configuration.md
  plugins/source/bitbucket/docs/overview.md
  website/vercel.json
Labels: automerge, area/plugin/source/bitbucket, area/website

#17366 feat: Add Support for Cloudflare Rulesets
  plugins/source/cloudflare/client/mocks/mock_client.go
  plugins/source/cloudflare/client/services.go
  plugins/source/cloudflare/client/testing.go
  plugins/source/cloudflare/docs/tables/README.md
  plugins/source/cloudflare/docs/tables/cloudflare_access_applications.md
  plugins/source/cloudflare/docs/tables/cloudflare_account_rulesets.md
  plugins/source/cloudflare/docs/tables/cloudflare_zone_rulesets.md
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/plugin/plugin.go
  plugins/source/cloudflare/resources/services/rulesets/account_rulesets.go
  plugins/source/cloudflare/resources/services/rulesets/account_rulesets_mock_test.go
  plugins/source/cloudflare/resources/services/rulesets/zone_rulesets.go
  plugins/source/cloudflare/resources/services/rulesets/zone_rulesets_mock_test.go
Labels: automerge, area/plugin/source/cloudflare

#17365 refactor: Remove duplicated code
  plugins/source/github/client/client.go
Labels: automerge, area/plugin/source/github

#17369 fix!: Change default concurrency to 1500 instead of 10000 to better align with GitHub rate limits
  plugins/source/github/client/schema.json
  plugins/source/github/client/spec.go
  plugins/source/github/docs/_configuration.md
  plugins/source/github/docs/overview.md
Labels: automerge, area/plugin/source/github

#17412 fix: Update Docker docs to reflect login requirement
  website/pages/docs/deployment/docker.mdx
Labels: automerge, area/website
