Repository cloudquery/cloudquery, pull requests merged in 2024-01, with the labels that each got.

#15902 fix: Add doc to test destination plugin
  plugins/destination/test/docs/overview.md
Labels: automerge, area/plugin/destination/test

#15964 doc: Add docs for instrumenting a paid plugin
  website/pages/docs/developers/instrumenting-a-paid-plugin.md
Labels: automerge, area/website

#15999 feat!: Remove deprecated spec options
  cli/cmd/infer_test.go
  cli/cmd/specs.go
  cli/cmd/sync.go
  cli/internal/specs/v0/backend.go
  cli/internal/specs/v0/backend_test.go
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/destination_test.go
  cli/internal/specs/v0/scheduler.go
  cli/internal/specs/v0/scheduler_test.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/dir/aws.yml
  cli/internal/specs/v0/testdata/dir_yaml/aws.yaml
  cli/internal/specs/v0/testdata/gcp.yml
  cli/internal/specs/v0/testdata/gcpv2.yml
Labels: automerge, area/cli

#16001 refactor: Extract common plugin spec fields into metadata struct
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/destination_test.go
  cli/internal/specs/v0/metadata.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec_reader_test.go
Labels: automerge, area/cli

#15998 feat: Add JSON schema for CLI specs
  .github/workflows/cli.yml
  cli/Makefile
  cli/cmd/analytics.go
  cli/cmd/registry.go
  cli/cmd/specs.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/destination_test.go
  cli/internal/specs/v0/doc.go
  cli/internal/specs/v0/gen/main.go
  cli/internal/specs/v0/kind.go
  cli/internal/specs/v0/kind_test.go
  cli/internal/specs/v0/metadata.go
  cli/internal/specs/v0/metadata_test.go
  cli/internal/specs/v0/migrate_mode.go
  cli/internal/specs/v0/migrate_mode_test.go
  cli/internal/specs/v0/pk_mode.go
  cli/internal/specs/v0/pk_mode_test.go
  cli/internal/specs/v0/registry.go
  cli/internal/specs/v0/registry_test.go
  cli/internal/specs/v0/schema.json
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/spec.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/spec_test.go
  cli/internal/specs/v0/write_mode.go
  cli/internal/specs/v0/write_mode_test.go
Labels: automerge, area/cli, area/ci

#16003 fix: Allow using `OCI_CLI_` prefixed environment variables
  plugins/source/oracle/client/client.go
  plugins/source/oracle/client/oracle_clients.go
  plugins/source/oracle/client/oracle_clients_test.go
  plugins/source/oracle/docs/_authentication.md
Labels: automerge, area/plugin/source/oracle

#16004 chore: Use Node.js 20 in source_airtable.yml
  .github/workflows/source_airtable.yml
Labels: automerge, area/ci

#16013 fix: Add `X-Meta-User-Team-Name` during docker push
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#16014 doc: Update CONTRIBUTING guide
  plugins/source/gcp/CONTRIBUTING.md
Labels: automerge, area/plugin/source/gcp

#16060 fix: Change chaining order for OCI config providers
  plugins/source/oracle/client/oracle_clients.go
Labels: automerge, area/plugin/source/oracle

#16063 doc: Document dedicated region access
  plugins/source/oracle/client/client.go
  plugins/source/oracle/docs/overview.md
  plugins/source/oracle/go.mod
  plugins/source/oracle/resources/plugin/client.go
Labels: automerge, area/plugin/source/oracle

#16113 fix: Add missing `X-Meta-User-Team-Name` header and manifest types option
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#16114 chore: Add ddog documentation for OpenTelemetry
  website/pages/docs/advanced-topics/monitoring.md
  website/public/images/docs/monitoring/cq_otel_datadog.png
  website/public/images/docs/monitoring/cq_otel_datadog_traces.png
Labels: automerge, area/website

#16033 feat: Upload images from markdown files to CDN when publishing
  cli/go.mod
  cli/go.sum
  cli/internal/publish/addons.go
  cli/internal/publish/images/images.go
  cli/internal/publish/images/images_test.go
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#16122 refactor: Apply perfsprint linter
  cli/.golangci.yml
  cli/cmd/addon_download_test.go
  cli/cmd/login.go
  cli/cmd/migrate.go
  cli/cmd/plugin_docs_download.go
  cli/internal/docs/markdown.go
  cli/internal/publish/addons.go
  cli/internal/publish/images/images.go
  cli/internal/publish/plugins.go
  cli/internal/specs/v0/metadata.go
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/spec_reader.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#16125 chore: Fix markdown linting
  .github/styles/config/vocabularies/Base/accept.txt
  .github/styles/config/vocabularies/Base/reject.txt
  .github/workflows/lint_markdown.yml
Labels: automerge, area/ci

#16135 chore: Remove `perfsprint` linter
  cli/.golangci.yml
Labels: automerge

#16140 chore: Switch to API key from `cloudquery login` token
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
Labels: automerge, area/ci

#16159 fix: Handle `docker.cloudquery.io` docker registry when checking if auth is needed
  cli/internal/auth/token.go
Labels: automerge, area/cli, priority merge

#16185 doc: Fix MySQL example configuration
  plugins/destination/mysql/docs/configuration.md
Labels: automerge, area/plugin/destination/mysql

#16188 fix: Make `WithRemoveUniqueConstraints` non-breaking
  cli/cmd/migrate_v2.go
  cli/cmd/migrate_v3.go
  cli/cmd/sync_v2.go
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#16190 fix(deps): Update module github.com/cloudquery/cloudquery-api-go to v1.6.5
  cli/cmd/plugin_publish.go
  cli/go.mod
  cli/go.sum
  cli/internal/publish/plugins.go
Labels: automerge, area/cli

#16192 feat: Handle All types of Schema Changes
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, area/plugin/destination/sqlite

#16193 feat: Handle All types of Schema Changes
  plugins/destination/mysql/client/migrate.go
Labels: automerge, area/plugin/destination/mysql

#16194 feat: Handle All types of Schema Changes
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#16201 chore: Update templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_destination_plugin.yml
  .github/ISSUE_TEMPLATE/new_resource.yml
  .github/ISSUE_TEMPLATE/new_source_plugin.yml
Labels: automerge

#16200 feat: Add mfa_devices for AWS IAM users
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_mfa_devices.md
  plugins/source/aws/docs/tables/aws_iam_users.md
  plugins/source/aws/resources/services/iam/mfa_devices.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
Labels: automerge, area/plugin/source/aws

#16202 fix: Handle Docker no-login or no-team errors
  cli/cmd/install.go
  cli/go.mod
  cli/go.sum
Labels: automerge, area/cli

#16220 fix: Add `N/A` as `stack_id` when the value is unavailable
  plugins/source/aws/docs/tables/aws_cloudformation_stack_instance_summaries.md
  plugins/source/aws/resources/services/cloudformation/stack_instances.go
Labels: automerge, area/plugin/source/aws

#16227 feat!: Update API for k8s
  plugins/source/k8s/docs/tables/k8s_batch_jobs.md
  plugins/source/k8s/docs/tables/k8s_core_pods.md
  plugins/source/k8s/docs/tables/k8s_core_pvcs.md
  plugins/source/k8s/docs/tables/k8s_core_pvs.md
  plugins/source/k8s/docs/tables/k8s_networking_network_policies.md
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/mockgen.go
  plugins/source/k8s/mocks/admissionregistration/v1beta1/client.go
  plugins/source/k8s/mocks/apiextensions/v1/custom_resource_definitions.go
  plugins/source/k8s/mocks/authentication/v1/client.go
  plugins/source/k8s/mocks/authentication/v1beta1/client.go
  plugins/source/k8s/mocks/discovery/client.go
  plugins/source/k8s/mocks/extensions/v1beta1/client.go
  plugins/source/k8s/mocks/flowcontrol/v1/client.go
  plugins/source/k8s/mocks/flowcontrol/v1alpha1/client.go
  plugins/source/k8s/mocks/flowcontrol/v1beta1/client.go
  plugins/source/k8s/mocks/flowcontrol/v1beta2/client.go
  plugins/source/k8s/mocks/interface.go
  plugins/source/k8s/mocks/networking/v1/networkpolicy.go
  plugins/source/k8s/mocks/networking/v1alpha1/client.go
Labels: automerge, area/plugin/source/k8s

#16230 refactor: Extract `NewClientWithResponses` to api package
  cli/cmd/addon_download.go
  cli/cmd/addon_publish.go
  cli/cmd/plugin_docs_download.go
  cli/cmd/plugin_docs_upload.go
  cli/cmd/plugin_publish.go
  cli/internal/api/client.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#16235 refactor: Remove duplication for getting API env variable value
  cli/cmd/addon_download.go
  cli/cmd/addon_publish.go
  cli/cmd/analytics.go
  cli/cmd/login.go
  cli/cmd/plugin_docs_download.go
  cli/cmd/plugin_docs_upload.go
  cli/cmd/plugin_publish.go
  cli/cmd/root.go
  cli/cmd/switch.go
  cli/internal/api/client.go
  cli/internal/env/env.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#16241 fix: Use team name instead of kind for team
  plugins/destination/mssql/main.go
Labels: automerge, area/plugin/destination/mssql, priority merge

#16260 fix(deps): Upgrade plugin-sdk to `v4.27.0`
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
Labels: automerge, area/plugin/destination/clickhouse

#16258 chore: Remove docker plugins old docs and redirect to Hub
  website/pages/docs/plugins/sources/airtable/_authentication.md
  website/pages/docs/plugins/sources/airtable/_configuration.md
  website/pages/docs/plugins/sources/airtable/_meta.json
  website/pages/docs/plugins/sources/airtable/overview.md
  website/pages/docs/plugins/sources/airtable/tables.md
  website/pages/docs/plugins/sources/square/_authentication.md
  website/pages/docs/plugins/sources/square/_configuration.md
  website/pages/docs/plugins/sources/square/_meta.json
  website/pages/docs/plugins/sources/square/overview.md
  website/pages/docs/plugins/sources/square/tables.md
  website/pages/docs/plugins/sources/square/tables/square_bookings.md
  website/pages/docs/plugins/sources/square/tables/square_disputes.md
  website/pages/docs/plugins/sources/square/tables/square_invoices.md
  website/pages/docs/plugins/sources/square/tables/square_locations.md
  website/pages/docs/plugins/sources/square/tables/square_merchants.md
  website/pages/docs/plugins/sources/square/tables/square_payments.md
  website/pages/docs/plugins/sources/square/tables/square_payouts.md
  website/pages/docs/plugins/sources/square/tables/square_refunds.md
  website/pages/docs/plugins/sources/typeform/_authentication.md
  website/pages/docs/plugins/sources/typeform/_configuration.md
  website/pages/docs/plugins/sources/typeform/_meta.json
  website/pages/docs/plugins/sources/typeform/overview.md
  website/pages/docs/plugins/sources/typeform/tables.md
  website/pages/docs/plugins/sources/typeform/tables/typeform_form_responses.md
  website/pages/docs/plugins/sources/typeform/tables/typeform_forms.md
  website/utils/components.tsx
  website/vercel.json
Labels: automerge, area/website

#16302 feat!: Update scaffold to push release to CloudQuery Hub
  scaffold/cmd/templates/source/.github/workflows/release.yaml.tpl
  scaffold/cmd/templates/source/.goreleaser.yaml.tpl
  scaffold/cmd/templates/source/README.md.tpl
Labels: automerge, priority merge, area/scaffold

#16233 doc: Update the deployment guide using kestra
  website/pages/docs/deployment/kestra.mdx
  website/public/images/docs/deployment/kestra-execution.png
  website/public/images/docs/deployment/kestra-flow.png
Labels: automerge, area/website

#16231 fix: Build arm64 docker images with arm64 platform
  .github/workflows/release_cli.yml
  cli/.goreleaser.yaml
Labels: automerge, area/ci

#16303 chore: Add buildx to validate release
  .github/workflows/cli.yml
Labels: area/ci

#16304 chore: Setup QEMU
  .github/workflows/cli.yml
  .github/workflows/release_cli.yml
Labels: automerge, area/ci

#16226 feat: Add Auto Migrate Functionality for migrating to using a `_cq_id` as the only Primary Key
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#16310 fix: Properly set team on login
  cli/cmd/login.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#16307 chore: Add `cloudquery:latest` to manifest to support arm64
  cli/.goreleaser.yaml
Labels: automerge, needs-area

#16312 fix(deps): Update Go to `1.21.6`
  .github/workflows/dest_snowflake.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Labels: automerge, area/plugin/destination/snowflake, priority merge, area/ci

#16319 fix: Update `scheduler` doc & JSON schema
  plugins/source/aws/client/spec/schema.json
  plugins/source/aws/client/spec/spec.go
  plugins/source/aws/docs/_configuration.md
  plugins/source/aws/docs/configuration.md
  website/pages/docs/advanced-topics/performance-tuning.mdx
Labels: automerge, area/plugin/source/aws, area/website

#16318 doc: Document publishing javascript and python plugins
  website/components/mdx/_publish-go.mdx
  website/components/mdx/_publish-javascript.mdx
  website/components/mdx/_publish-python.mdx
  website/components/mdx/publish.mdx
  website/pages/docs/developers/publishing-a-plugin-to-the-hub.mdx
Labels: automerge, area/website

#16329 fix: Don't use `CGO` unless specifically selected to
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
  .github/workflows/release_plugin_dest_duckdb.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  plugins/destination/duckdb/.goreleaser.yaml
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/duckdb/main.go
  plugins/destination/snowflake/.goreleaser.yaml
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/.goreleaser.yaml
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/sqlite/main.go
Labels: automerge, area/plugin/destination/snowflake, area/plugin/destination/sqlite, priority merge, area/plugin/destination/duckdb, area/ci

#16355 feat: Adding JSON schema for alibaba source plugin
  plugins/source/alicloud/Makefile
  plugins/source/alicloud/client/schema.json
  plugins/source/alicloud/client/spec.go
  plugins/source/alicloud/client/spec/gen/main.go
  plugins/source/alicloud/client/spec_test.go
  plugins/source/alicloud/go.mod
  plugins/source/alicloud/go.sum
  plugins/source/alicloud/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/alicloud

#16357 feat: Adding JSON Schema support to Cloudflare
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/client/schema.json
  plugins/source/cloudflare/client/spec.go
  plugins/source/cloudflare/client/spec/gen/main.go
  plugins/source/cloudflare/client/spec_test.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/cloudflare

#16358 feat: Add JSON schema support to Datadog source plugin
  plugins/source/cloudflare/Makefile
  plugins/source/datadog/Makefile
  plugins/source/datadog/client/schema.json
  plugins/source/datadog/client/spec.go
  plugins/source/datadog/client/spec/gen/main.go
  plugins/source/datadog/client/spec_test.go
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/datadog, area/plugin/source/cloudflare

#16369 feat: Add JSON Schema to Test destination plugin
  plugins/destination/test/Makefile
  plugins/destination/test/client/schema.json
  plugins/destination/test/client/spec.go
  plugins/destination/test/client/spec/gen/main.go
  plugins/destination/test/client/spec_test.go
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/destination/test/main.go
Labels: automerge

#16345 fix: Add user-agent to BigQuery calls
  plugins/destination/bigquery/client/client.go
Labels: automerge, area/plugin/destination/bigquery

#16370 feat: Add JSON schema to Neo4J destination plugin
  .github/workflows/dest_neo4j.yml
  plugins/destination/neo4j/Makefile
  plugins/destination/neo4j/client/schema.json
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/client/spec/gen/main.go
  plugins/destination/neo4j/client/spec_test.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/neo4j/main.go
Labels: automerge, area/plugin/destination/neo4j, area/ci

#16382 fix!: Remove deprecated `directory` option
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/spec_test.go
  plugins/destination/file/docs/_configuration.md
  plugins/destination/file/docs/overview.md
Labels: automerge, area/plugin/destination/file

#16380 feat: Adding JSON schema support to firestore plugin
  .github/workflows/source_firestore.yml
  plugins/source/firestore/Makefile
  plugins/source/firestore/client/schema.json
  plugins/source/firestore/client/spec.go
  plugins/source/firestore/client/spec/gen/main.go
  plugins/source/firestore/client/spec_test.go
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/firestore, area/ci

#16372 feat: Add JSON schema to DuckDB destination plugin
  .github/workflows/dest_duckdb.yml
  plugins/destination/duckdb/Makefile
  plugins/destination/duckdb/client/client_test.go
  plugins/destination/duckdb/client/delete_stale.go
  plugins/destination/duckdb/client/schema.json
  plugins/destination/duckdb/client/spec.go
  plugins/destination/duckdb/client/spec/gen/main.go
  plugins/destination/duckdb/client/spec_test.go
  plugins/destination/duckdb/docs/overview.md
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
  plugins/destination/duckdb/main.go
Labels: automerge, area/plugin/destination/duckdb, area/ci

#16337 feat: Support `PrimaryKeyComponents` in documentation
  cli/go.mod
  cli/go.sum
  cli/internal/docs/generator_test.go
  cli/internal/docs/json.go
  cli/internal/docs/markdown.go
  cli/internal/docs/templates/table.md.go.tpl
  cli/internal/docs/testdata/TestGeneratePluginDocs-JSON-__tables.json
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-README.md
  cli/internal/docs/testdata/TestGeneratePluginDocs-Markdown-test_table_with_primary_key_component.md
Labels: automerge, area/cli

#16404 feat: Add JSON schema to `file` destination plugin
  .github/workflows/dest_file.yml
  plugins/destination/file/Makefile
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/spec/gen/main.go
  plugins/destination/file/client/spec/schema.go
  plugins/destination/file/client/spec/schema.json
  plugins/destination/file/client/spec/schema_test.go
  plugins/destination/file/client/spec/spec.go
  plugins/destination/file/client/spec/spec_test.go
  plugins/destination/file/client/write.go
  plugins/destination/file/docs/overview.md
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
Labels: automerge, area/ci, area/plugin/destination/file
