Repository cloudquery/cloudquery, pull requests merged in 2024-04, with the labels that each got.

#17452 chore: Add API key to GitHub Actions deployment
  website/pages/docs/deployment/github-actions.md
Labels: automerge, area/website

#17112 feat: Add local sync summary
  .gitignore
  cli/cmd/summary.go
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  cli/cmd/sync_v3.go
  website/pages/docs/reference/cli/cloudquery_sync.md
Labels: automerge, area/cli, priority merge, area/website

#17368 feat: Add support for conditional requests via local cache
  plugins/source/github/client/client.go
  plugins/source/github/client/schema.json
  plugins/source/github/client/spec.go
  plugins/source/github/docs/_configuration.md
  plugins/source/github/docs/overview.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Labels: automerge, area/plugin/source/github, priority merge

#17462 fix: GitHub pagination handling
  plugins/source/github/resources/services/repositories/branches.go
  plugins/source/github/resources/services/repositories/keys.go
  plugins/source/github/resources/services/repositories/secrets.go
Labels: automerge, area/plugin/source/github, priority merge

#17472 chore: Add API Key docs to Kestra
  website/pages/docs/deployment/kestra.mdx
Labels: automerge

#17471 chore: Add API Key docs to k8s deployment
  website/pages/docs/deployment/kubernetes.mdx
Labels: automerge, area/website

#17469 chore: Add API Key docs to Google VM deployment
  website/pages/docs/deployment/google-cloud-vm.mdx
Labels: automerge, area/website

#17476 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#17468 chore: Add API Key docs to to read only containers deployment
  website/pages/docs/deployment/read-only-containers.mdx
Labels: automerge, area/website

#17477 doc: Add doc for connecting to ClickHouse Cloud
  plugins/destination/clickhouse/docs/overview.md
Labels: automerge, area/plugin/destination/clickhouse

#17308 feat: Expose `test-connection` command in docs
  cli/cmd/doc_test.go
  cli/cmd/test_connection.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_test-connection.md
Labels: automerge, area/cli, area/website

#17529 fix: Update ECS Deployment guide
  website/pages/docs/deployment/ecs.md
Labels: automerge, area/website

#17533 fix: Switch to CloudQuery Okta SDK fork until fix is released
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/services/applications/applications_mock_test.go
Labels: automerge, area/plugin/source/okta

#17530 feat: Add `validate-config` command
  cli/cmd/doc_test.go
  cli/cmd/root.go
  cli/cmd/switch_test.go
  cli/cmd/testdata/validate-config-error.yml
  cli/cmd/validate_config.go
  cli/cmd/validate_config_test.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_validate-config.md
Labels: automerge, area/cli, area/website

#17537 doc: Update docker example to remove typo
  website/pages/docs/deployment/docker.mdx
Labels: automerge, area/website

#17540 fix: Update link for `azure_cosmos_database_accounts` docs
  plugins/source/azure/docs/tables/azure_cosmos_database_accounts.md
  plugins/source/azure/resources/services/cosmos/database_accounts.go
Labels: automerge, area/plugin/source/azure

#17546 chore: Fix docker pull argument in deployment guides
  website/pages/docs/deployment/docker.mdx
Labels: automerge, area/website

#17548 chore: Fix some typos in comments
  cli/cmd/plugin_docs_upload.go
  website/pages/docs/advanced-topics/monitoring.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Labels: automerge, area/cli, area/website

#17539 feat: Add table option to filter workflow runs
  plugins/source/github/client/client.go
  plugins/source/github/client/schema.json
  plugins/source/github/client/spec.go
  plugins/source/github/docs/overview.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/actions/workflow_runs.go
Labels: automerge, area/plugin/source/github

#17556 chore: Use `require.NoError` to check for error with `fakeObject`
  plugins/source/github/client/testing.go
  plugins/source/github/go.mod
  plugins/source/github/resources/services/actions/workflow_runs_test.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/billing/action_test.go
  plugins/source/github/resources/services/billing/packing_test.go
  plugins/source/github/resources/services/billing/storage_test.go
  plugins/source/github/resources/services/external/groups_test.go
  plugins/source/github/resources/services/hooks/hooks_test.go
  plugins/source/github/resources/services/installations/installations_test.go
  plugins/source/github/resources/services/issues/issues_test.go
  plugins/source/github/resources/services/organizations/dependabot_mock_test.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/repositories/dependabot_mock_test.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/teams/teams_test.go
  plugins/source/github/resources/services/traffic/clones_test.go
  plugins/source/github/resources/services/traffic/paths_test.go
  plugins/source/github/resources/services/traffic/referrers_test.go
  plugins/source/github/resources/services/traffic/views_test.go
Labels: automerge, area/plugin/source/github

#17568 fix: Don't call `RowsAffected` on query error
  plugins/destination/duckdb/client/client.go
  plugins/destination/motherduck/client/client.go
Labels: automerge, area/plugin/destination/duckdb, area/plugin/destination/motherduck

#17566 fix: Make username and password required in JSON schema
  plugins/destination/neo4j/client/schema.json
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/client/spec_test.go
Labels: automerge, area/plugin/destination/neo4j, priority merge

#17582 fix: Update Connection information for AWS Pricing
  plugins/source/awspricing/docs/overview.md
Labels: automerge, area/plugin/source/awspricing

#17584 feat: Add filter flag to tables command
  cli/cmd/tables.go
  cli/cmd/tables_test.go
  cli/cmd/tables_v3.go
  cli/cmd/testdata/cloudflare-tables-with-spec-filter.yml
  website/pages/docs/reference/cli/cloudquery_tables.md
Labels: automerge, area/cli, area/website

#17580 fix: Get team for API tokens
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/tables.go
  cli/cmd/test_connection.go
  cli/cmd/validate_config.go
  cli/internal/auth/team.go
Labels: automerge, area/cli

#17587 doc: Fix filenames in markdown
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
  website/pages/docs/developers/creating-new-plugin/java-source.mdx
  website/pages/docs/developers/creating-new-plugin/javascript-source.mdx
  website/pages/docs/developers/creating-new-plugin/python-source.mdx
Labels: automerge, area/website

#17581 chore: Add guide on how to run Docker plugins when running the CLI inside Docker
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/using-cloud-query-docker-registry-plugins-inside-a-containerized-environment.md
Labels: automerge, area/website

#17594 fix: Set parents for child tables
  plugins/source/bitbucket/app/src/main/java/bitbucket/BitbucketPlugin.java
Labels: automerge

#17592 test: Don't override test stdout
  cli/cmd/addon_download_test.go
Labels: automerge, area/cli

#17593 feat: Add reference to running in a Containerized Environment doc
  plugins/source/airtable/docs/overview.md
  plugins/source/bitbucket/docs/overview.md
  plugins/source/square/docs/overview.md
  plugins/source/typeform/docs/overview.md
Labels: automerge, area/plugin/source/bitbucket, area/plugin/source/airtable, area/plugin/source/square, area/plugin/source/typeform

#17555 feat: Check Connection when user is using PAT
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_users.go
  plugins/source/github/client/services.go
Labels: automerge, area/plugin/source/github

#17601 feat: Validate AWS Tag Structure is not `[]`
  plugins/source/aws/client/testing.go
Labels: automerge, area/plugin/source/aws

#17602 feat!: Add path variable support to GCS destination plugin.
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec/schema.go
  plugins/destination/gcs/client/spec/schema.json
  plugins/destination/gcs/client/spec/schema_test.go
  plugins/destination/gcs/client/spec/spec.go
  plugins/destination/gcs/client/spec/spec_test.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/docs/overview.md
  plugins/destination/gcs/go.mod
Labels: area/plugin/destination/gcs

#17662 chore: Don't validate PR title on bot PRs
  .github/workflows/validate_pr_title.yml
Labels: automerge

#17605 fix: Require either `api_token` or `api_key,api_email` in schema
  plugins/source/cloudflare/client/schema.json
  plugins/source/cloudflare/client/spec.go
  plugins/source/cloudflare/client/spec_test.go
Labels: automerge, area/plugin/source/cloudflare

#17660 fix!: Rename `aws_db_proxies` to `aws_rds_db_proxies`
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_rds_db_proxies.md
  plugins/source/aws/resources/services/rds/db_proxies.go
Labels: automerge, area/plugin/source/aws

#17606 feat: Remove env variables support
  plugins/source/cloudflare/client/client.go
  plugins/source/cloudflare/client/spec.go
  plugins/source/cloudflare/docs/_authentication.md
  plugins/source/cloudflare/resources/plugin/plugin.go
Labels: automerge, area/plugin/source/cloudflare

#17669 feat: Add custom JSON schema errors
  plugins/destination/file/client/spec/schema.go
  plugins/destination/file/client/spec/schema.json
  plugins/destination/file/client/spec/spec.go
  plugins/destination/file/docs/_configuration.md
  plugins/destination/file/docs/overview.md
  plugins/destination/gcs/client/spec/schema.go
  plugins/destination/gcs/client/spec/schema.json
  plugins/destination/gcs/client/spec/spec.go
  plugins/destination/gcs/docs/_configuration.md
  plugins/destination/gcs/docs/overview.md
  plugins/destination/s3/client/spec/schema.go
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/docs/_configuration.md
  plugins/destination/s3/docs/overview.md
Labels: automerge, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/file

#17672 fix: Don't panic on invalid API key
  cli/internal/auth/team.go
Labels: automerge

#17673 feat: Publish `linux/arm64` build
  plugins/destination/sqlite/.goreleaser.yaml
  plugins/destination/sqlite/main.go
Labels: automerge, area/plugin/destination/sqlite

#17676 doc: Document `cloud_id` being mutually exclusive with `addresses`
  plugins/destination/elasticsearch/client/schema.json
  plugins/destination/elasticsearch/client/spec.go
  plugins/destination/elasticsearch/docs/overview.md
Labels: automerge, area/plugin/destination/elasticsearch

#17680 feat!: Set S3 `ContentType` for each object based on format set in `spec` while also allowing users to override and set a custom value
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/spec/spec_test.go
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#17687 fix: Ignore removal of Unique Constraint change
  plugins/destination/mysql/client/client_test.go
  plugins/destination/mysql/client/migrate.go
Labels: automerge, area/plugin/destination/mysql

#17689 fix: Re-enable CGO in build
  plugins/destination/sqlite/main.go
Labels: area/plugin/destination/sqlite

#17692 chore: Disable building linux arm64
  plugins/destination/sqlite/main.go
Labels: automerge, area/plugin/destination/sqlite

#17693 fix: Add proper `linux/arm64` value for compilation
  plugins/destination/sqlite/gencc.sh
  plugins/destination/sqlite/gencpp.sh
  plugins/destination/sqlite/main.go
Labels: automerge, area/plugin/destination/sqlite

#17696 feat: Increase application users limit to 500
  plugins/source/okta/resources/services/applications/users.go
Labels: automerge, area/plugin/source/okta

#17686 fix: Use owner account ID when resolving resource ARN
  plugins/source/aws/docs/tables/aws_ec2_hosts.md
  plugins/source/aws/docs/tables/aws_ec2_internet_gateways.md
  plugins/source/aws/docs/tables/aws_ec2_network_acls.md
  plugins/source/aws/docs/tables/aws_ec2_network_interfaces.md
  plugins/source/aws/docs/tables/aws_ec2_route_tables.md
  plugins/source/aws/docs/tables/aws_ec2_security_groups.md
  plugins/source/aws/docs/tables/aws_ec2_vpc_endpoints.md
  plugins/source/aws/docs/tables/aws_ec2_vpcs.md
  plugins/source/aws/resources/services/ec2/hosts.go
  plugins/source/aws/resources/services/ec2/internet_gateways.go
  plugins/source/aws/resources/services/ec2/network_acls.go
  plugins/source/aws/resources/services/ec2/network_interfaces.go
  plugins/source/aws/resources/services/ec2/route_tables.go
  plugins/source/aws/resources/services/ec2/security_groups.go
  plugins/source/aws/resources/services/ec2/vpc_endpoints.go
  plugins/source/aws/resources/services/ec2/vpcs.go
Labels: automerge, area/plugin/source/aws

#17695 fix: Prevent reaching Okta rate limits
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/plugin/client.go
Labels: automerge, area/plugin/source/okta

#17752 fix(deps): Upgrade glob from 9.0.1 to 9.3.5
  website/package-lock.json
  website/package.json
Labels: automerge, area/website

#17759 chore: Move some plugins to publish from the private repo
  release-please-config.json
Labels: automerge

#17683 feat: Add sync group ID destination spec configuration
  cli/cmd/migrate_v3.go
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/schema.json
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/sync_group_id_append.yml
  cli/internal/specs/v0/testdata/sync_group_id_default.yml
  cli/internal/specs/v0/testdata/sync_group_id_overwrite.yml
  cli/internal/specs/v0/testdata/sync_group_id_overwrite_delete_stale.yml
  cli/internal/transformer/transformer.go
  website/pages/docs/reference/destination-spec.md
Labels: automerge, area/cli, area/website

#17774 feat: Updating addon_download cli cmd docs
  cli/cmd/addon_download.go
  website/pages/docs/reference/cli/cloudquery_addon_download.md
Labels: automerge, area/cli, area/website

#17766 feat: Add support for `{{TABLE_HYPHEN}}` Path variable for S3 Destination Plugin
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/write_test.go
  plugins/destination/s3/docs/overview.md
Labels: area/plugin/destination/s3

#17784 chore(main): Add redirect for privacy policy and terms to new website
  .github/workflows/broken_links.yml
  website/components/pluginData.tsx
  website/vercel.json
Labels: automerge, area/ci, area/website

#17792 chore: Use direct links to private and terms
  website/components/Footer.tsx
Labels: automerge, area/website

#17795 doc: Update Kestra deployment documentation
  website/pages/docs/deployment/kestra.mdx
Labels: automerge, area/website

#17821 refactor: Use new state constructor
  plugins/source/hackernews/resources/plugin/client.go
Labels: automerge, area/plugin/source/hackernews

#17824 chore: Improve docs for incremental tables
  website/pages/docs/developers/creating-new-plugin/go-source.mdx
Labels: automerge, area/website
