Repository cloudquery/cloudquery, pull requests merged in 2024-10, with the labels that each got.

#19275 chore: Update wait_for_required_workflows.js
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, priority merge

#19237 chore: Moving to UI generalisation V2
  .github/workflows/dest_postgresql.yml
  plugins/destination/postgresql/cloud-config-ui/.env.example
  plugins/destination/postgresql/cloud-config-ui/.eslintrc.js
  plugins/destination/postgresql/cloud-config-ui/.eslintrc.json
  plugins/destination/postgresql/cloud-config-ui/README.md
  plugins/destination/postgresql/cloud-config-ui/e2e-tests/postgresql.spec.ts
  plugins/destination/postgresql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/src/.env.example.json
  plugins/destination/postgresql/cloud-config-ui/src/App.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/advancedFields.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/connectionFields.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/formFieldReset.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/syncOptions.tsx
  plugins/destination/postgresql/cloud-config-ui/src/guides/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/hooks/useConfig.tsx
  plugins/destination/postgresql/cloud-config-ui/src/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/utils/constants.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/convertConnectionStringToFields.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/formSchema.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/generateConnectionString.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/generateConnectionUrl.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/parseConnectionString.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/tests/convertConnectionStringToFields.test.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/tests/generateConnectionString.test.ts
  plugins/destination/postgresql/cloud-config-ui/tsconfig.json
Labels: automerge, area/plugin/destination/postgresql, area/ci

#19282 fix: Update the helper text
  plugins/destination/postgresql/cloud-config-ui/src/hooks/useConfig.tsx
Labels: automerge, area/plugin/destination/postgresql

#19284 fix: Catch any unparseable strings
  plugins/destination/postgresql/cloud-config-ui/src/utils/convertConnectionStringToFields.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/tests/convertConnectionStringToFields.test.ts
Labels: automerge, area/plugin/destination/postgresql

#19280 chore(main): Updated docs footer and header to match marketing site
  website/components/Footer.tsx
  website/next-env.d.ts
  website/pages/_meta.json
  website/theme.config.tsx
Labels: kind/docs, kind/feat, area/website

#19281 chore(main): Updated README and docs landing page copy
  website/pages/docs/index.mdx
Labels: kind/docs, area/website

#19285 chore: Migrate PostgreSQL destination plugin UI to v3
  plugins/destination/postgresql/cloud-config-ui/.env.example
  plugins/destination/postgresql/cloud-config-ui/.prettierrc
  plugins/destination/postgresql/cloud-config-ui/.prettierrc.js
  plugins/destination/postgresql/cloud-config-ui/README.md
  plugins/destination/postgresql/cloud-config-ui/e2e-tests/postgresql.spec.ts
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/src/.env.example.json
  plugins/destination/postgresql/cloud-config-ui/src/App.tsx
  plugins/destination/postgresql/cloud-config-ui/src/hooks/useConfig.tsx
  plugins/destination/postgresql/cloud-config-ui/src/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/utils/envJson.ts
Labels: automerge, area/plugin/destination/postgresql

#19314 chore: Update MSSQL supported versions
  .github/workflows/dest_mssql.yml
  plugins/destination/mssql/docs/overview.md
Labels: area/plugin/destination/mssql, area/ci

#19315 chore: Update broken_links_scheduled.yml
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#19324 fix: Use relative links instead of absolute ones
  website/pages/docs/index.mdx
Labels: automerge, area/website

#19320 chore: Run tests in parallel, wait before read (S3)
  plugins/destination/s3/client/client_test.go
Labels: automerge, area/plugin/destination/s3

#19318 chore: Run tests in parallel, wait before read (GCS)
  plugins/destination/gcs/client/client_test.go
Labels: automerge, area/plugin/destination/gcs

#19317 chore: Run tests in parallel, sync before read (file)
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/write.go
Labels: automerge, area/plugin/destination/file

#19325 chore: Clickhouse Destination UI
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/cloud-config-ui/.env.example
  plugins/destination/clickhouse/cloud-config-ui/.eslintrc.js
  plugins/destination/clickhouse/cloud-config-ui/.gitignore
  plugins/destination/clickhouse/cloud-config-ui/.nvmrc
  plugins/destination/clickhouse/cloud-config-ui/.prettierrc.js
  plugins/destination/clickhouse/cloud-config-ui/README.md
  plugins/destination/clickhouse/cloud-config-ui/e2e-tests/clickhouse.spec.ts
  plugins/destination/clickhouse/cloud-config-ui/eslint-plugin-custom-rules/index.cjs
  plugins/destination/clickhouse/cloud-config-ui/eslint-plugin-custom-rules/mui-material-imports.cjs
  plugins/destination/clickhouse/cloud-config-ui/eslint-plugin-custom-rules/package.json
  plugins/destination/clickhouse/cloud-config-ui/jest.config.js
  plugins/destination/clickhouse/cloud-config-ui/package-lock.json
  plugins/destination/clickhouse/cloud-config-ui/package.json
  plugins/destination/clickhouse/cloud-config-ui/playwright.config.ts
  plugins/destination/clickhouse/cloud-config-ui/public/favicon.ico
  plugins/destination/clickhouse/cloud-config-ui/public/images/connect.png
  plugins/destination/clickhouse/cloud-config-ui/public/images/cred.png
  plugins/destination/clickhouse/cloud-config-ui/public/images/db.png
  plugins/destination/clickhouse/cloud-config-ui/public/images/logo.webp
  plugins/destination/clickhouse/cloud-config-ui/public/index.html
  plugins/destination/clickhouse/cloud-config-ui/public/logo192.png
  plugins/destination/clickhouse/cloud-config-ui/public/manifest.json
  plugins/destination/clickhouse/cloud-config-ui/public/robots.txt
  plugins/destination/clickhouse/cloud-config-ui/scripts/initialize.js
  plugins/destination/clickhouse/cloud-config-ui/scripts/set_environment.js
  plugins/destination/clickhouse/cloud-config-ui/src/.env.example.json
  plugins/destination/clickhouse/cloud-config-ui/src/App.tsx
  plugins/destination/clickhouse/cloud-config-ui/src/hooks/useConfig.tsx
  plugins/destination/clickhouse/cloud-config-ui/src/index.tsx
  plugins/destination/clickhouse/cloud-config-ui/src/react-app-env.d.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/constants.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/convertConnectionStringToFields.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/envJson.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/generateConnectionString.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/messageHandler.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/tests/connectionStringToFields.test.ts
  plugins/destination/clickhouse/cloud-config-ui/src/utils/tests/generateConnectionUrl.test.ts
  plugins/destination/clickhouse/cloud-config-ui/tsconfig.json
Labels: automerge, area/ci, area/plugin/destination/clickhouse

#19334 chore: S3 Plugin UI
  .github/workflows/dest_s3.yml
  plugins/destination/s3/cloud-config-ui/.env.example
  plugins/destination/s3/cloud-config-ui/.eslintrc.js
  plugins/destination/s3/cloud-config-ui/.gitignore
  plugins/destination/s3/cloud-config-ui/.nvmrc
  plugins/destination/s3/cloud-config-ui/.prettierrc.js
  plugins/destination/s3/cloud-config-ui/README.md
  plugins/destination/s3/cloud-config-ui/package-lock.json
  plugins/destination/s3/cloud-config-ui/package.json
  plugins/destination/s3/cloud-config-ui/playwright.config.ts
  plugins/destination/s3/cloud-config-ui/public/favicon.ico
  plugins/destination/s3/cloud-config-ui/public/images/cloudFormation1.webp
  plugins/destination/s3/cloud-config-ui/public/images/cloudFormation2.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM1a.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM1b.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM2.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM3.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM4.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM5.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM6.webp
  plugins/destination/s3/cloud-config-ui/public/images/createIAM7.webp
  plugins/destination/s3/cloud-config-ui/public/images/logo.webp
  plugins/destination/s3/cloud-config-ui/public/index.html
  plugins/destination/s3/cloud-config-ui/public/logo192.png
  plugins/destination/s3/cloud-config-ui/public/manifest.json
  plugins/destination/s3/cloud-config-ui/public/robots.txt
  plugins/destination/s3/cloud-config-ui/scripts/initialize.js
  plugins/destination/s3/cloud-config-ui/scripts/set_environment.js
  plugins/destination/s3/cloud-config-ui/src/.env.example.json
  plugins/destination/s3/cloud-config-ui/src/App.tsx
  plugins/destination/s3/cloud-config-ui/src/components/guides/awsConsoleConnectGuide.tsx
  plugins/destination/s3/cloud-config-ui/src/components/guides/awsConsoleOverviewGuide.tsx
  plugins/destination/s3/cloud-config-ui/src/components/guides/awsManualGuide.tsx
  plugins/destination/s3/cloud-config-ui/src/components/guides/bucketConfigurationGuide.tsx
  plugins/destination/s3/cloud-config-ui/src/components/guides/index.tsx
  plugins/destination/s3/cloud-config-ui/src/components/oauthConnect.tsx
  plugins/destination/s3/cloud-config-ui/src/hooks/useConfig.tsx
  plugins/destination/s3/cloud-config-ui/src/index.tsx
  plugins/destination/s3/cloud-config-ui/src/react-app-env.d.ts
  plugins/destination/s3/cloud-config-ui/src/utils/authSubmitGuard.ts
  plugins/destination/s3/cloud-config-ui/src/utils/envJson.ts
  plugins/destination/s3/cloud-config-ui/src/utils/messageHandler.ts
  plugins/destination/s3/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/destination/s3/cloud-config-ui/tsconfig.json
Labels: automerge, area/plugin/destination/s3, area/ci

#19339 chore: HackerNews v4 upgrade
  .github/workflows/source_hackernews.yml
  plugins/source/hackernews/cloud-config-ui/.env.example
  plugins/source/hackernews/cloud-config-ui/.eslintrc.js
  plugins/source/hackernews/cloud-config-ui/.eslintrc.json
  plugins/source/hackernews/cloud-config-ui/.prettierrc
  plugins/source/hackernews/cloud-config-ui/.prettierrc.js
  plugins/source/hackernews/cloud-config-ui/README.md
  plugins/source/hackernews/cloud-config-ui/e2e-tests/hackernews.spec.ts
  plugins/source/hackernews/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/playwright.config.ts
  plugins/source/hackernews/cloud-config-ui/src/.env.example.json
  plugins/source/hackernews/cloud-config-ui/src/App.tsx
  plugins/source/hackernews/cloud-config-ui/src/utils/envJson.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/hackernews/cloud-config-ui/tsconfig.json
Labels: automerge, area/plugin/source/hackernews, area/ci

#19340 chore: S3 plugin UI prevent reauthentication of connector
  plugins/destination/s3/cloud-config-ui/package-lock.json
  plugins/destination/s3/cloud-config-ui/package.json
  plugins/destination/s3/cloud-config-ui/src/hooks/useConfig.tsx
  plugins/destination/s3/cloud-config-ui/src/utils/authSubmitGuard.ts
Labels: area/plugin/destination/s3

#19343 chore: Lint fixes
  cli/cmd/login.go
  cli/internal/auth/team.go
Labels: automerge, area/cli

#19342 fix: Auto detect SVG content-type
  cli/internal/publish/pluginui.go
  cli/internal/publish/pluginui_test.go
  cli/internal/publish/testdata/content-type/octetstream.svg
  cli/internal/publish/testdata/content-type/png.png
  cli/internal/publish/testdata/content-type/textplain.svg
Labels: automerge, area/cli

#19347 chore(main): Updated to make billing Docs more percise
  website/pages/docs/billing-and-usage/overview.md
Labels: kind/docs, area/website

#19348 chore: Add missing AWS Athena view
  plugins/source/aws/views/athena/.gitignore
  plugins/source/aws/views/athena/README.md
  plugins/source/aws/views/athena/go.mod
  plugins/source/aws/views/athena/go.sum
  plugins/source/aws/views/athena/main.go
  plugins/source/aws/views/athena/resources.sql
  plugins/source/aws/views/athena/response.json
  plugins/source/aws/views/athena/trust-policy.json
Labels: automerge

#19353 chore: Update test plugin versions
  .github/workflows/cli.yml
  cli/cmd/sync_test.go
  cli/cmd/test_connection_test.go
  cli/cmd/testdata/cloudflare-tables-with-spec-filter.yml
  cli/cmd/testdata/different-backend-from-destination.yml
  cli/cmd/testdata/multiple-destinations.yml
  cli/cmd/testdata/multiple-sources-destinations.yml
  cli/cmd/testdata/multiple-sources.yml
  cli/cmd/testdata/source-with-env.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/test-connection-bad-connection.yml
  cli/cmd/testdata/transformation.yml
  cli/cmd/testdata/validate-config-error.yml
  cli/cmd/testdata/with-destination-summary.yml
Labels: automerge, area/cli, area/ci

#19372 chore: Fix vale linter
  .github/workflows/lint_markdown.yml
Labels: automerge, area/ci

#19370 chore: Update broken_links_scheduled.yml
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#19373 fix: Send content type when uploading images
  cli/internal/publish/images/images.go
  cli/internal/publish/images/images_test.go
  cli/internal/publish/images/testdata/content-type/octetstream.svg
  cli/internal/publish/images/testdata/content-type/png.png
  cli/internal/publish/images/testdata/content-type/textplain.svg
  cli/internal/publish/pluginui.go
  cli/internal/publish/pluginui_test.go
Labels: automerge, area/cli

#19355 chore(main): Revert Documentation Quickstart Guides to AWS from XKCD #2560
  website/components/mdx/_configure-init-command-linux.mdx
  website/components/mdx/_configure-init-command-macos.mdx
  website/components/mdx/_configure-init-command-windows.mdx
  website/components/mdx/_configure-sqlite-command-linux.mdx
  website/components/mdx/_configure-sqlite-command-macos.mdx
  website/components/mdx/_configure-sqlite-command-windows.mdx
  website/components/mdx/_configure-sync-command-linux.mdx
  website/components/mdx/_configure-sync-command-macos.mdx
  website/components/mdx/_configure-sync-command-windows.mdx
  website/components/mdx/_configure.mdx
Labels: automerge, kind/docs, area/website

#19379 chore: Fix `update-codegen.sh` script
  scripts/update-codegen.sh
Labels: automerge

#19403 fix: Remove constraints from internal fields if needed
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli

#19407 fix: Fail if both `--table-metrics-location` and `otel_endpoint` are configured
  cli/cmd/sync.go
Labels: automerge, area/cli

#19409 fix: Wait for last print of table metrics before exiting
  cli/internal/otel/receiver.go
Labels: automerge, area/cli

#19417 chore(main): Removed unsued pages from docs
  website/components/CaseStudiesIndex.tsx
  website/components/CaseStudyHeader.tsx
  website/pages/case-studies.mdx
  website/pages/case-studies/_meta.json
  website/pages/case-studies/add-your-case-study.mdx
  website/pages/case-studies/dunelm-cspm-puzzle.mdx
  website/pages/case-studies/how-hexagon-built-an-infrastructure-data-lake.mdx
  website/pages/case-studies/tempus-multi-cloud-asset-inventory.mdx
  website/pages/docs/_meta.json
  website/pages/docs/cq-vs-others/_meta.json
  website/pages/docs/cq-vs-others/airbyte-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/aws-config-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/cloudsploit-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/cspm-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/fivetran-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/google-cloud-asset-inventory-alternative-cloudquery.md
  website/pages/docs/cq-vs-others/overview.md
  website/pages/docs/cq-vs-others/steampipe-alternative-cloudquery.md
  website/vercel.json
Labels: kind/docs, area/website

#19418 chore(main): Update what-is-infrastructure-data-lake.mdx
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
Labels: automerge, kind/docs, area/website

#19376 feat: Warn on outdated plugins.
  cli/cmd/install.go
  cli/cmd/migrate.go
  cli/cmd/sync.go
  cli/cmd/sync_test.go
  cli/cmd/tables.go
  cli/cmd/test_connection.go
  cli/cmd/testdata/cloudflare-tables-with-spec-filter.yml
  cli/cmd/testdata/different-backend-from-destination.yml
  cli/cmd/testdata/multiple-destinations.yml
  cli/cmd/testdata/multiple-sources-destinations.yml
  cli/cmd/testdata/multiple-sources.yml
  cli/cmd/testdata/source-with-env.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/transformation.yml
  cli/cmd/testdata/with-destination-summary.yml
  cli/internal/specs/v0/version.go
Labels: automerge, area/cli

#19421 fix: Set default `pgx_log_level` level
  plugins/destination/postgresql/client/spec/spec.go
Labels: automerge, area/plugin/destination/postgresql

#19448 fix: Return correct error from transformers pipeline
  cli/cmd/sync_v3.go
  cli/internal/transformerpipeline/pipeline.go
Labels: automerge, area/cli

#19450 feat: Add hidden `cq-columns-not-null` flag to `migrate` and `sync` commands
  cli/cmd/migrate.go
  cli/cmd/migrate_v3.go
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli

#19449 fix: Stop progress bar when the context is done
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#19458 chore(main): Removed case studies and comparision pages
  README.md
  website/vercel.json
Labels: kind/docs, area/website

#19460 fix: Show DSN connection string format first
  plugins/destination/postgresql/client/spec/schema.json
  plugins/destination/postgresql/client/spec/spec.go
  plugins/destination/postgresql/docs/_configuration.md
  plugins/destination/postgresql/docs/overview.md
Labels: automerge, area/plugin/destination/postgresql

#19493 chore: Update broken_links_scheduled.yml
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#19497 feat: Add source tables, sync group ID, shard to sync summary
  cli/cmd/summary.go
  cli/cmd/sync_test.go
  cli/cmd/sync_v3.go
  cli/cmd/tables_v3.go
  cli/cmd/testdata/with-destination-summary-with-sync-group-id-and-shard.yml
  cli/cmd/testdata/with-sync-group-id.yml
Labels: automerge, area/cli

#19462 feat: Implement JSON Flattener transformer.
  .github/workflows/transf_jsonflattener.yml
  plugins/transformer/jsonflattener/.gitignore
  plugins/transformer/jsonflattener/Makefile
  plugins/transformer/jsonflattener/README.md
  plugins/transformer/jsonflattener/client/client.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_bool.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_float64.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_int64.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_json.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_timestamp.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_utf8.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater_test.go
  plugins/transformer/jsonflattener/client/schemaupdater/schema_updater.go
  plugins/transformer/jsonflattener/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/jsonflattener/client/spec/spec.go
  plugins/transformer/jsonflattener/client/spec/spec_test.go
  plugins/transformer/jsonflattener/client/tablematcher/table_matcher.go
  plugins/transformer/jsonflattener/client/tablematcher/tablematcher_test.go
  plugins/transformer/jsonflattener/client/transformers/transformers.go
  plugins/transformer/jsonflattener/client/transformers/transformers_test.go
  plugins/transformer/jsonflattener/client/util/util.go
  plugins/transformer/jsonflattener/client/util/util_test.go
  plugins/transformer/jsonflattener/docs/_configuration.md
  plugins/transformer/jsonflattener/docs/overview.md
  plugins/transformer/jsonflattener/go.mod
  plugins/transformer/jsonflattener/go.sum
  plugins/transformer/jsonflattener/main.go
  plugins/transformer/jsonflattener/resources/plugin/plugin.go
  release-please-config.json
Labels: automerge, area/ci

#19508 chore: Show latest Postgres version in docs
  plugins/transformer/jsonflattener/docs/overview.md
Labels: automerge

#19498 feat: JSON path support for basic transformer
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/docs/overview.md
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
Labels: automerge, area/plugins/transformers

#19504 chore: Add WebSite structured data
  website/package-lock.json
  website/package.json
  website/theme.config.tsx
Labels: automerge, area/website

#19511 chore: Fix publishing an integration link
  website/pages/docs/developers/publishing-an-integration-to-the-hub.mdx
Labels: automerge, area/website
