Repository cloudquery/cloudquery, pull requests merged in 2024-11, with the labels that each got.

#19568 chore: Use `cloudquery plugin` instead of `cloudquery integration` in docs
  website/pages/docs/deployment/docker-offline.mdx
Labels: automerge, area/website

#19569 chore: Updated Case Study redirect to the new landing page.
  website/vercel.json
Labels: automerge, area/website, area/website/frontend

#19566 chore(main): Set Up Redirects and Remove Glossary Content from Docs
  website/pages/docs/_meta.json
  website/pages/docs/glossary/_meta.json
  website/pages/docs/glossary/overview.md
  website/pages/docs/glossary/soc2.md
  website/pages/docs/glossary/what-is-asm.md
  website/pages/docs/glossary/what-is-ciem.md
  website/pages/docs/glossary/what-is-cnapp.md
  website/pages/docs/glossary/what-is-cspm.mdx
  website/pages/docs/glossary/what-is-cwpp.md
  website/pages/docs/glossary/what-is-infrastructure-data-lake.mdx
  website/pages/docs/glossary/what-is-the-modern-data-stack.mdx
  website/vercel.json
Labels: kind/docs, area/website

#19584 fix: Update scaffold for `spec.SetDefaults` and `spec.Validate()`
  scaffold/sourcetpl/templates/source/client/spec.go.tpl
  scaffold/sourcetpl/templates/source/resources/plugin/client.go.tpl
Labels: area/scaffold

#19596 feat: Implement PARTITION BY support on ClickHouse destination.
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/client/spec/spec_test.go
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/create_table_partition_by.sql
Labels: automerge, area/plugin/destination/clickhouse

#19600 fix: Renames tables before writing summary.
  cli/cmd/sync_v3.go
  cli/internal/tablenamechanger/table_name_changer.go
Labels: automerge, area/cli

#19642 feat: Add license information
  .github/workflows/lint_markdown.yml
  plugins/destination/azblob/Makefile
  plugins/destination/azblob/docs/_licenses.md
  plugins/destination/bigquery/Makefile
  plugins/destination/bigquery/docs/_licenses.md
  plugins/destination/clickhouse/Makefile
  plugins/destination/clickhouse/docs/_licenses.md
  plugins/destination/duckdb/Makefile
  plugins/destination/duckdb/docs/_licenses.md
  plugins/destination/elasticsearch/Makefile
  plugins/destination/elasticsearch/docs/_licenses.md
  plugins/destination/file/Makefile
  plugins/destination/file/docs/_licenses.md
  plugins/destination/firehose/Makefile
  plugins/destination/firehose/docs/_licenses.md
  plugins/destination/gcs/Makefile
  plugins/destination/gcs/docs/_licenses.md
  plugins/destination/gremlin/Makefile
  plugins/destination/gremlin/docs/_licenses.md
  plugins/destination/kafka/Makefile
  plugins/destination/kafka/docs/_licenses.md
  plugins/destination/meilisearch/Makefile
  plugins/destination/meilisearch/docs/_licenses.md
  plugins/destination/mongodb/Makefile
  plugins/destination/mongodb/docs/_licenses.md
  plugins/destination/mssql/Makefile
  plugins/destination/mssql/docs/_licenses.md
  plugins/destination/mysql/Makefile
  plugins/destination/mysql/docs/_licenses.md
  plugins/destination/neo4j/Makefile
  plugins/destination/neo4j/docs/_licenses.md
  plugins/destination/postgresql/Makefile
  plugins/destination/postgresql/docs/_licenses.md
  plugins/destination/s3/Makefile
  plugins/destination/s3/docs/_licenses.md
  plugins/destination/snowflake/Makefile
  plugins/destination/snowflake/docs/_licenses.md
  plugins/destination/sqlite/Makefile
  plugins/destination/sqlite/docs/_licenses.md
  plugins/destination/test/Makefile
  plugins/destination/test/docs/_licenses.md
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/docs/_licenses.md
  plugins/source/test/Makefile
  plugins/source/test/docs/_licenses.md
  plugins/source/xkcd/Makefile
  plugins/source/xkcd/docs/_licenses.md
  plugins/transformer/basic/Makefile
  plugins/transformer/basic/docs/_licenses.md
  plugins/transformer/jsonflattener/Makefile
  plugins/transformer/jsonflattener/docs/_licenses.md
  scripts/update-codegen.sh
Labels: automerge, area/plugin/source/hackernews, area/plugin/destination/gremlin, area/plugin/destination/snowflake, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/kafka, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/mssql, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/elasticsearch, area/plugin/destination/bigquery, area/ci, area/plugin/destination/azblob, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/firehose, area/plugin/destination/meilisearch, area/plugin/destination/test, area/plugin/source/test, area/plugin/source/xkcd, area/plugin/destination/sqlite-python

#19671 feat: Added licenses
  cli/Makefile
  cli/docs/_licenses.md
Labels: automerge, area/cli

#19672 feat: Consider a change in order/partition error unless force.
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/tables.go
Labels: automerge, area/plugin/destination/clickhouse

#19674 feat: Implement custom ORDER BY clause support.
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/client/spec/spec_test.go
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/queries/testdata/create_table_order_by.sql
Labels: automerge, area/plugin/destination/clickhouse

#19675 fix: Keeps nullability and metadata on field Canonize.
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/typeconv/schema.go
Labels: automerge, area/plugin/destination/clickhouse

#19687 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#19688 fix: Update readme
  .github/workflows/publish_plugin_to_hub_fips.yml
  plugins/source/test/README.md
Labels: automerge, area/ci, area/plugin/source/test

#19690 chore(main): Add Call-to-Action to Quickstart AWS Authentication Step
  website/components/mdx/_configure.mdx
Labels: kind/docs, area/website

#19692 chore: Push CLI tag as latest repo tag, add root `go.mod`
  .github/workflows/release_cli.yml
  go.mod
Labels: area/ci

#19695 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge

#19702 fix: Upgrade setuptools from 40.5.0 to 70.0.0
  plugins/source/square/requirements.txt
Labels: automerge, area/plugin/source/square

#19700 fix: Upgrade setuptools from 40.5.0 to 70.0.0
  plugins/destination/sqlite-python/requirements.txt
Labels: automerge

#19707 chore: Add a deprecation message to typeform plugin
  plugins/source/typeform/docs/overview.md
Labels: automerge, area/plugin/source/typeform

#19691 chore: Use predefined unimplemented type
  plugins/destination/clickhouse/client/client.go
Labels: automerge, area/plugin/destination/clickhouse

#19701 fix: Upgrade setuptools from 40.5.0 to 70.0.0
  plugins/source/typeform/requirements.txt
Labels: automerge, area/plugin/source/typeform

#19725 chore: Fix CLI docs generation
  .github/workflows/cli.yml
  .github/workflows/release_cli.yml
  cli/Makefile
  cli/docs/reference/cloudquery.md
  cli/docs/reference/cloudquery_addon.md
  cli/docs/reference/cloudquery_addon_download.md
  cli/docs/reference/cloudquery_addon_publish.md
  cli/docs/reference/cloudquery_init.md
  cli/docs/reference/cloudquery_login.md
  cli/docs/reference/cloudquery_logout.md
  cli/docs/reference/cloudquery_migrate.md
  cli/docs/reference/cloudquery_plugin.md
  cli/docs/reference/cloudquery_plugin_install.md
  cli/docs/reference/cloudquery_plugin_publish.md
  cli/docs/reference/cloudquery_switch.md
  cli/docs/reference/cloudquery_sync.md
  cli/docs/reference/cloudquery_tables.md
  cli/docs/reference/cloudquery_test-connection.md
  cli/docs/reference/cloudquery_validate-config.md
Labels: area/cli, area/ci

#19726 chore: Remove unused workflows and docker files
  .github/workflows/endpoints.yml
  .github/workflows/gcp-services.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_duckdb.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/release_plugin_source_test.yml
  plugins/destination/duckdb/Dockerfile
  plugins/destination/sqlite/Dockerfile
Labels: area/plugin/destination/sqlite, area/plugin/destination/duckdb, area/ci, area/plugin/destination/sqlite-python

#19728 chore: Cleanup top level module
  go.mod
  go.sum
  main.go
Labels: automerge, priority merge, needs-area
