Repository cloudquery/cloudquery, pull requests merged in 2024-08, with the labels that each got.

#18711 feat: Add `PermissionsNeeded` to `tables` command JSON output
  cli/internal/docs/json.go
Labels: automerge, area/cli

#18798 chore: Enforce PostgreSQL destination UI config build in CI
  .github/workflows/dest_postgresql.yml
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, area/ci

#18746 feat: XKCD source plugin cloud config UI
  .github/workflows/source_xkcd.yml
  plugins/source/xkcd/cloud-config-ui/.eslintrc.json
  plugins/source/xkcd/cloud-config-ui/.gitignore
  plugins/source/xkcd/cloud-config-ui/.nvmrc
  plugins/source/xkcd/cloud-config-ui/.prettierrc
  plugins/source/xkcd/cloud-config-ui/README.md
  plugins/source/xkcd/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/playwright.config.ts
  plugins/source/xkcd/cloud-config-ui/public/favicon.ico
  plugins/source/xkcd/cloud-config-ui/public/index.html
  plugins/source/xkcd/cloud-config-ui/public/logo192.png
  plugins/source/xkcd/cloud-config-ui/public/manifest.json
  plugins/source/xkcd/cloud-config-ui/public/robots.txt
  plugins/source/xkcd/cloud-config-ui/scripts/initialize.js
  plugins/source/xkcd/cloud-config-ui/scripts/set_environment.js
  plugins/source/xkcd/cloud-config-ui/src/.env.example.json
  plugins/source/xkcd/cloud-config-ui/src/App.tsx
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/react-app-env.d.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/messageHandler.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/xkcd/cloud-config-ui/tsconfig.json
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, area/ci, area/plugin/source/xkcd

#18669 feat: Implement transformations support.
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/kind.go
  cli/internal/specs/v0/spec.go
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/transformer.go
  cli/internal/transformerpipeline/identity.go
  cli/internal/transformerpipeline/identity_test.go
  cli/internal/transformerpipeline/pipeline.go
  cli/internal/transformerpipeline/transformerpipeline_test.go
Labels: automerge, area/cli

#18704 feat: Implement basic transformer (add/remove/obfuscate columns)
  .github/pr_labeler.yml
  .github/workflows/transf_basic.yml
  CODEOWNERS
  plugins/transformer/basic/.gitignore
  plugins/transformer/basic/Makefile
  plugins/transformer/basic/README.md
  plugins/transformer/basic/client/client.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/spec/spec_test.go
  plugins/transformer/basic/client/tablematcher/table_matcher.go
  plugins/transformer/basic/client/tablematcher/tablematcher_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
  plugins/transformer/basic/main.go
  plugins/transformer/basic/resources/plugin/plugin.go
  release-please-config.json
  scripts/workflows/wait_for_required_workflows.js
Labels: automerge, area/ci, area/new-transformer-plugin

#18794 feat: Add Hacker News source plugin cloud UI
  .github/workflows/source_hackernews.yml
  plugins/source/hackernews/cloud-config-ui/.eslintrc.json
  plugins/source/hackernews/cloud-config-ui/.gitignore
  plugins/source/hackernews/cloud-config-ui/.nvmrc
  plugins/source/hackernews/cloud-config-ui/.prettierrc
  plugins/source/hackernews/cloud-config-ui/README.md
  plugins/source/hackernews/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/playwright.config.ts
  plugins/source/hackernews/cloud-config-ui/public/favicon.ico
  plugins/source/hackernews/cloud-config-ui/public/index.html
  plugins/source/hackernews/cloud-config-ui/public/logo192.png
  plugins/source/hackernews/cloud-config-ui/public/manifest.json
  plugins/source/hackernews/cloud-config-ui/public/robots.txt
  plugins/source/hackernews/cloud-config-ui/scripts/initialize.js
  plugins/source/hackernews/cloud-config-ui/scripts/set_environment.js
  plugins/source/hackernews/cloud-config-ui/src/.env.example.json
  plugins/source/hackernews/cloud-config-ui/src/App.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/react-app-env.d.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/date.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/messageHandler.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/hackernews/cloud-config-ui/tsconfig.json
Labels: automerge, area/plugin/source/hackernews, area/ci

#18827 chore: Add more govet lint rules
  cli/.golangci.yml
  plugins/.golangci.yml
  plugins/destination/clickhouse/typeconv/arrow/values/unwrap.go
Labels: automerge, area/plugin/destination/clickhouse

#18833 feat: Support table name changes on basic transformer.
  cli/cmd/sync_v3.go
  cli/internal/tablenamechanger/table_name_changer.go
  cli/internal/tablenamechanger/table_name_changer_test.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
Labels: automerge, area/cli, area/plugin/transformer/basic

#18837 feat: XKCD source plugin UI v2
  plugins/source/xkcd/cloud-config-ui/public/images/xkcd.webp
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/utils/constants.ts
Labels: automerge, area/plugin/source/xkcd

#18840 feat: Hacker News source plugin UI v2
  plugins/source/hackernews/cloud-config-ui/public/images/hackernews.webp
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/utils/constants.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
Labels: automerge, area/plugin/source/hackernews

#18843 fix: PostgreSQL improvements
  plugins/destination/postgresql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/public/images/postgresql.png
  plugins/destination/postgresql/cloud-config-ui/src/App.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/advancedFields.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/connectionFields.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/syncOptions.tsx
  plugins/destination/postgresql/cloud-config-ui/src/guides/index.tsx
  plugins/destination/postgresql/cloud-config-ui/src/utils/formSchema.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/generateConnectionUrl.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/plugin/destination/postgresql

#18856 fix: DuckDB connections to Motherduck failing due to outdated extension version.
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, area/plugin/destination/duckdb

#18857 feat: Add transformer spec reference docs.
  website/pages/docs/reference/_meta.json
  website/pages/docs/reference/transformer-spec.md
Labels: automerge, area/website

#18859 feat: Convert PostgreSQL connection string to secret
  plugins/destination/postgresql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/postgresql/cloud-config-ui/src/form/connectionFields.tsx
  plugins/destination/postgresql/cloud-config-ui/src/utils/generateConnectionUrl.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/parseConnectionString.ts
  plugins/destination/postgresql/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/plugin/destination/postgresql

#18867 feat: Add logs to Datadog dashboard
  website/pages/docs/advanced-topics/monitoring.md
  website/public/assets/datadog-dashboard.json
Labels: automerge, area/website

#18868 feat: Configure initial type of PostgreSQL cloud UI depending if destination is managed
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/src/App.tsx
  plugins/destination/postgresql/cloud-config-ui/src/form/index.tsx
Labels: area/plugin/destination/postgresql

#18875 chore: Exclude `app.datadoghq.com` from broken links check
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#18878 feat: Enable user to override `invocation_id`
  cli/cmd/login.go
  cli/cmd/root.go
  cli/cmd/sync_v3.go
  cli/internal/uuid/uuid.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_addon.md
  website/pages/docs/reference/cli/cloudquery_addon_download.md
  website/pages/docs/reference/cli/cloudquery_addon_publish.md
  website/pages/docs/reference/cli/cloudquery_login.md
  website/pages/docs/reference/cli/cloudquery_logout.md
  website/pages/docs/reference/cli/cloudquery_migrate.md
  website/pages/docs/reference/cli/cloudquery_plugin.md
  website/pages/docs/reference/cli/cloudquery_plugin_install.md
  website/pages/docs/reference/cli/cloudquery_plugin_publish.md
  website/pages/docs/reference/cli/cloudquery_switch.md
  website/pages/docs/reference/cli/cloudquery_sync.md
  website/pages/docs/reference/cli/cloudquery_tables.md
  website/pages/docs/reference/cli/cloudquery_test-connection.md
  website/pages/docs/reference/cli/cloudquery_validate-config.md
Labels: automerge, area/cli, area/website

#18880 feat: Enable StateClient usage under docker plugins.
  cli/cmd/sync.go
  cli/cmd/sync_v3.go
  cli/go.mod
  cli/go.sum
  cli/internal/specs/v0/source.go
  cli/internal/specs/v0/source_test.go
  cli/internal/specs/v0/variables.go
  cli/internal/specs/v0/variables_test.go
Labels: automerge, area/cli

#18910 fix: Table selector for xkcd and hackernews plugin UI
  plugins/source/hackernews/cloud-config-ui/README.md
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/scripts/initialize.js
  plugins/source/hackernews/cloud-config-ui/scripts/set_tables.js
  plugins/source/hackernews/cloud-config-ui/src/data/tables.json
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/xkcd/cloud-config-ui/README.md
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/scripts/initialize.js
  plugins/source/xkcd/cloud-config-ui/scripts/set_tables.js
  plugins/source/xkcd/cloud-config-ui/src/data/tables.json
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/xkcd/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/plugin/source/hackernews, area/plugin/source/xkcd

#18913 fix: Update XKCD and hackernews to fix tracking in cloud UI
  plugins/source/hackernews/cloud-config-ui/.eslintrc.json
  plugins/source/hackernews/cloud-config-ui/eslint-plugin-custom-rules/index.cjs
  plugins/source/hackernews/cloud-config-ui/eslint-plugin-custom-rules/mui-material-imports.cjs
  plugins/source/hackernews/cloud-config-ui/eslint-plugin-custom-rules/package.json
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/src/App.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/hackernews/cloud-config-ui/src/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/xkcd/cloud-config-ui/.eslintrc.json
  plugins/source/xkcd/cloud-config-ui/eslint-plugin-custom-rules/index.cjs
  plugins/source/xkcd/cloud-config-ui/eslint-plugin-custom-rules/mui-material-imports.cjs
  plugins/source/xkcd/cloud-config-ui/eslint-plugin-custom-rules/package.json
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/src/App.tsx
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/xkcd/cloud-config-ui/src/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/plugin/source/hackernews, area/plugin/source/xkcd

#18909 feat: Enhance scaffold cloud UI
  scaffold/cmd/templates/cloud-config-ui/.eslintrc.json.tpl
  scaffold/cmd/templates/cloud-config-ui/README.md.tpl
  scaffold/cmd/templates/cloud-config-ui/e2e-tests/validate-config.spec.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/index.cjs.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/mui-material-imports.cjs.tpl
  scaffold/cmd/templates/cloud-config-ui/eslint-plugin-custom-rules/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/initialize.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/set_environment.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/set_tables.js.tpl
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/declarations.d.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/form/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts.tpl
Labels: area/scaffold

#18919 feat: Document new parquet options
  plugins/destination/azblob/docs/_configuration.md
  plugins/destination/azblob/docs/overview.md
  plugins/destination/file/docs/_configuration.md
  plugins/destination/file/docs/overview.md
  plugins/destination/gcs/docs/_configuration.md
  plugins/destination/gcs/docs/overview.md
  plugins/destination/kafka/docs/_configuration.md
  plugins/destination/kafka/docs/overview.md
  plugins/destination/s3/docs/_configuration.md
  plugins/destination/s3/docs/overview.md
Labels: automerge, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/kafka, area/plugin/destination/azblob, area/plugin/destination/file

#18920 fix: Better connection tester error codes
  plugins/destination/postgresql/client/connection_tester.go
  plugins/destination/postgresql/client/connection_tester_test.go
Labels: automerge, area/plugin/destination/postgresql

#18921 doc: Add a missing comma to json config
  website/pages/docs/deployment/ecs.md
Labels: automerge, area/website

#18914 fix!: Use an arrow date type for clickhouse dates
  plugins/destination/clickhouse/typeconv/arrow/types/field.go
  plugins/destination/clickhouse/typeconv/arrow/types/field_test.go
Labels: automerge, area/plugin/destination/clickhouse

#18915 fix(main): Plugin UI data generation dx and ci fixes
  .github/workflows/publish_plugin_to_hub.yml
  plugins/source/hackernews/cloud-config-ui/README.md
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/scripts/gen_tables.js
  plugins/source/hackernews/cloud-config-ui/scripts/initialize.js
  plugins/source/hackernews/cloud-config-ui/scripts/set_tables.js
  plugins/source/hackernews/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/xkcd/Makefile
  plugins/source/xkcd/README.md
  plugins/source/xkcd/cloud-config-ui/README.md
  plugins/source/xkcd/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/scripts/gen_tables.js
  plugins/source/xkcd/cloud-config-ui/scripts/initialize.js
  plugins/source/xkcd/cloud-config-ui/scripts/set_tables.js
  plugins/source/xkcd/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/xkcd/test/config.yml
  scaffold/cmd/templates/cloud-config-ui/README.md.tpl
  scaffold/cmd/templates/cloud-config-ui/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/gen_tables.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/initialize.js.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/set_tables.js.tpl
Labels: automerge, area/plugin/source/hackernews, area/ci, area/scaffold, area/plugin/source/xkcd

#18929 fix: Update README
  plugins/destination/postgresql/README.md
  plugins/source/xkcd/README.md
Labels: area/plugin/destination/postgresql, area/plugin/source/xkcd

#18932 chore: Update Billing and Usage docs with AWS Marketplace info
  website/pages/docs/billing-and-usage/overview.md
Labels: automerge, area/website

#18936 fix: Emit event groups in a format that posthog accepts
  cli/internal/analytics/client.go
Labels: automerge, area/cli

#18939 chore: Exclude `aws.amazon.com` from broken links check
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#18961 chore: Organize monitoring docs
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/monitoring/_meta.json
  website/pages/docs/advanced-topics/monitoring/otel-datadog.md
  website/pages/docs/advanced-topics/monitoring/overview.md
  website/vercel.json
Labels: automerge, area/website

#18965 chore: Add UI changes publishing workflow
  .github/workflows/publish_ui_dir.yml
Labels: automerge, area/ci

#18963 fix: Update UI Scaffold
  scaffold/cmd/source.go
  scaffold/cmd/templates/cloud-config-ui/package.json.tpl
  scaffold/cmd/templates/cloud-config-ui/public/images/icon.png
  scaffold/cmd/templates/cloud-config-ui/scripts/gen_tables.js.tpl
  scaffold/cmd/templates/cloud-config-ui/src/.env.example.json.tpl
  scaffold/cmd/templates/cloud-config-ui/src/App.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/components/tableSelector.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/form/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/guides/index.tsx.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/formSchema.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareInitialValues.ts.tpl
  scaffold/cmd/templates/cloud-config-ui/src/utils/prepareSubmitValues.ts.tpl
  scaffold/cmd/templates/source/test/config.yml.tpl
Labels: area/scaffold

#18964 fix: Update ECS deployment guide to use Cloudformation
  website/pages/docs/deployment/ecs.md
Labels: automerge, area/website

#18969 fix: UI Scaffold table generation
  scaffold/cmd/templates/cloud-config-ui/README.md.tpl
  scaffold/cmd/templates/cloud-config-ui/scripts/initialize.js.tpl
Labels: area/scaffold

#18975 chore: Fix Datadog dashboard p95 formula
  website/public/assets/datadog-dashboard.json
Labels: automerge, area/website

#18980 fix: Fix Date issues
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
Labels: automerge, area/plugin/destination/clickhouse

#18974 chore: Skip sending events for internal teams
  cli/cmd/login.go
  cli/cmd/switch.go
  cli/cmd/switch_test.go
  cli/internal/analytics/client.go
  cli/internal/auth/team.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#18984 chore: Update publish_ui_dir to target destinations also
  .github/workflows/publish_ui_dir.yml
  plugins/destination/mysql/cloud-config-ui/README.md
Labels: area/plugin/destination/mysql, area/ci

#18985 fix: Better test connection error codes
  plugins/destination/mysql/client/client.go
  plugins/destination/mysql/client/test_connection.go
  plugins/destination/mysql/client/test_connection_test.go
Labels: automerge, area/plugin/destination/mysql

#18971 chore: OpenTelemetry and Grafana guide
  website/pages/docs/advanced-topics/monitoring/_meta.json
  website/pages/docs/advanced-topics/monitoring/otel-grafana.md
  website/pages/docs/advanced-topics/monitoring/overview.md
  website/public/assets/grafana-dashboard-external.json
  website/public/assets/grafana-dashboard.json
Labels: automerge, area/website

#18993 chore: Clean up MySQL init error codes
  plugins/destination/mysql/client/client.go
Labels: automerge, area/plugin/destination/mysql

#18994 chore: Make UI updates a `chore:`
  .github/renovate.json5
Labels: automerge

#18970 feat: Implement SQLite-Python destination plugin.
  .github/pr_labeler.yml
  .github/workflows/dest_sqlite_python.yml
  plugins/destination/sqlite-python/.dockerignore
  plugins/destination/sqlite-python/.gitignore
  plugins/destination/sqlite-python/CHANGELOG.md
  plugins/destination/sqlite-python/Dockerfile
  plugins/destination/sqlite-python/Makefile
  plugins/destination/sqlite-python/README.md
  plugins/destination/sqlite-python/docs/_configuration.md
  plugins/destination/sqlite-python/docs/overview.md
  plugins/destination/sqlite-python/main.py
  plugins/destination/sqlite-python/plugin/__init__.py
  plugins/destination/sqlite-python/plugin/client/__init__.py
  plugins/destination/sqlite-python/plugin/client/client.py
  plugins/destination/sqlite-python/plugin/client/test_type_conversions.py
  plugins/destination/sqlite-python/plugin/client/type_conversions.py
  plugins/destination/sqlite-python/plugin/plugin.py
  plugins/destination/sqlite-python/plugin/sqlite/__init__.py
  plugins/destination/sqlite-python/plugin/sqlite/client.py
  plugins/destination/sqlite-python/plugin/sqlite/migrate.py
  plugins/destination/sqlite-python/plugin/sqlite/type_conversions.py
  plugins/destination/sqlite-python/requirements.txt
Labels: area/ci

#18982 doc: Adjusting Kestra docker tag in deployment page
  website/pages/docs/deployment/kestra.mdx
Labels: automerge, area/website

#18991 chore: UI FormWrapper
  plugins/destination/mysql/cloud-config-ui/package-lock.json
  plugins/destination/mysql/cloud-config-ui/package.json
  plugins/destination/mysql/cloud-config-ui/src/form/index.tsx
  plugins/destination/postgresql/cloud-config-ui/package-lock.json
  plugins/destination/postgresql/cloud-config-ui/package.json
  plugins/destination/postgresql/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
Labels: area/plugin/source/hackernews, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/source/xkcd

#18996 doc: Add link to Python destination plugin
  website/pages/docs/developers/creating-new-plugin/index.mdx
Labels: automerge, area/website

#19016 feat: Add init command
  cli/cmd/doc_test.go
  cli/cmd/init.go
  cli/cmd/init_test.go
  cli/cmd/root.go
  cli/cmd/testdata/init/aws_example.md
  cli/cmd/testdata/init/postgresql_example.md
  cli/go.mod
  cli/go.sum
  cli/internal/analytics/client.go
  cli/internal/api/client.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_init.md
Labels: automerge, area/cli, area/website

#19014 chore: Hacker News plugin UI logo url
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
Labels: automerge, area/plugin/source/hackernews

#19030 chore: Enhance error description for MySQL test connection
  .github/workflows/dest_mysql.yml
  .github/workflows/publish_ui_dir.yml
  plugins/destination/mysql/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/destination/mysql/cloud-config-ui/playwright.config.ts
  plugins/destination/mysql/cloud-config-ui/src/.env.example.json
  plugins/destination/mysql/cloud-config-ui/src/App.tsx
  plugins/destination/mysql/cloud-config-ui/src/form/index.tsx
  plugins/destination/mysql/cloud-config-ui/src/index.tsx
  plugins/destination/mysql/cloud-config-ui/src/utils/parseTestConnectionError.ts
  plugins/destination/postgresql/cloud-config-ui/playwright.config.ts
  plugins/destination/postgresql/cloud-config-ui/src/form/connectionFields.tsx
  scaffold/cmd/templates/cloud-config-ui/playwright.config.ts.tpl
Labels: area/plugin/destination/postgresql, area/plugin/destination/mysql, area/ci, area/scaffold

#19032 chore: Hacker News & XKCD UI Generalization
  .github/workflows/source_hackernews.yml
  .github/workflows/source_xkcd.yml
  .gitignore
  plugins/source/hackernews/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/hackernews/cloud-config-ui/public/images/logo.webp
  plugins/source/hackernews/cloud-config-ui/src/.env.example.json
  plugins/source/hackernews/cloud-config-ui/src/App.tsx
  plugins/source/hackernews/cloud-config-ui/src/config.tsx
  plugins/source/hackernews/cloud-config-ui/src/data/__tables.json
  plugins/source/hackernews/cloud-config-ui/src/form/components/startTime.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/index.tsx
  plugins/source/hackernews/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/hackernews/cloud-config-ui/src/utils/date.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/hackernews/cloud-config-ui/src/utils/prepareSubmitValues.ts
  plugins/source/xkcd/cloud-config-ui/e2e-tests/validate-config.spec.ts
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/public/images/logo.webp
  plugins/source/xkcd/cloud-config-ui/src/.env.example.json
  plugins/source/xkcd/cloud-config-ui/src/App.tsx
  plugins/source/xkcd/cloud-config-ui/src/config.tsx
  plugins/source/xkcd/cloud-config-ui/src/data/__tables.json
  plugins/source/xkcd/cloud-config-ui/src/form/index.tsx
  plugins/source/xkcd/cloud-config-ui/src/form/tableSelector.tsx
  plugins/source/xkcd/cloud-config-ui/src/utils/formSchema.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareInitialValues.ts
  plugins/source/xkcd/cloud-config-ui/src/utils/prepareSubmitValues.ts
Labels: area/plugin/source/hackernews, area/ci, area/plugin/source/xkcd

#19035 chore: XKCD & Hacker News tables
  plugins/source/hackernews/cloud-config-ui/package-lock.json
  plugins/source/hackernews/cloud-config-ui/package.json
  plugins/source/xkcd/cloud-config-ui/package-lock.json
  plugins/source/xkcd/cloud-config-ui/package.json
Labels: area/plugin/source/hackernews, area/plugin/source/xkcd

#19038 chore: Hacker News state props update
  plugins/source/hackernews/cloud-config-ui/src/utils/formSchema.ts
Labels: area/plugin/source/hackernews
