Repository cloudquery/cloudquery, pull requests merged in 2024-05, with the labels that each got.

#17847 fix: Explicitly abort on errors
  plugins/destination/snowflake/client/write.go
Labels: automerge, area/plugin/destination/snowflake

#17888 fix(deps)!: Upgrade `github.com/apache/arrow/go` to `v16`
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Labels: automerge, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/kafka, area/plugin/destination/azblob, area/plugin/destination/file

#17885 chore: Exclude `egghead.io` from broken links checks
  .github/workflows/broken_links_scheduled.yml
Labels: automerge, area/ci

#17890 fix: Compare the actual read data type instead of assumed one
  plugins/destination/duckdb/client/read.go
  plugins/destination/motherduck/client/read.go
Labels: automerge, priority merge, area/plugin/destination/duckdb, area/plugin/destination/motherduck

#17845 fix: Update Kestra docs to get back the CSV and make it working
  website/pages/docs/deployment/kestra.mdx
Labels: automerge, area/website

#17843 feat!: Store timestamps as `timestamp_tz`
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/types.go
Labels: automerge, area/plugin/destination/snowflake

#17910 feat: Expose Kafka Topic Details in spec
  .github/styles/config/vocabularies/Base/accept.txt
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/schema_test.go
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/docs/overview.md
Labels: automerge, area/plugin/destination/kafka

#17912 chore: Add default
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/docs/_configuration.md
  plugins/destination/kafka/docs/overview.md
Labels: automerge, area/plugin/destination/kafka

#17914 fix: Do not combine source and destination warnings and errors
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#17916 chore: Replacing deprecated run.skip-dirs for issues.exclude-dirs in golanci.yml
  cli/.golangci.yml
  plugins/.golangci.yml
Labels: automerge

#17903 chore: Remove Notion and Firestore
  .github/pr_labeler.yml
  .github/workflows/source_firestore.yml
  .github/workflows/source_notion.yml
  plugins/source/firestore/.gitignore
  plugins/source/firestore/.goreleaser.yaml
  plugins/source/firestore/CHANGELOG.md
  plugins/source/firestore/Makefile
  plugins/source/firestore/README.md
  plugins/source/firestore/client/client.go
  plugins/source/firestore/client/list_tables.go
  plugins/source/firestore/client/schema.json
  plugins/source/firestore/client/spec.go
  plugins/source/firestore/client/spec/gen/main.go
  plugins/source/firestore/client/spec_test.go
  plugins/source/firestore/client/sync.go
  plugins/source/firestore/docs/_authentication.md
  plugins/source/firestore/docs/_configuration.md
  plugins/source/firestore/docs/overview.md
  plugins/source/firestore/go.mod
  plugins/source/firestore/go.sum
  plugins/source/firestore/main.go
  plugins/source/firestore/resources/plugin/plugin.go
  plugins/source/firestore/resources/plugin/plugin_test.go
  plugins/source/notion/.gitignore
  plugins/source/notion/.goreleaser.yaml
  plugins/source/notion/CHANGELOG.md
  plugins/source/notion/Makefile
  plugins/source/notion/README.md
  plugins/source/notion/client/client.go
  plugins/source/notion/client/notion_client.go
  plugins/source/notion/client/schema.json
  plugins/source/notion/client/spec.go
  plugins/source/notion/client/spec/gen/main.go
  plugins/source/notion/client/spec_test.go
  plugins/source/notion/docs/_authentication.md
  plugins/source/notion/docs/_configuration.md
  plugins/source/notion/docs/overview.md
  plugins/source/notion/docs/tables/README.md
  plugins/source/notion/docs/tables/notion_databases_table.md
  plugins/source/notion/docs/tables/notion_pages_table.md
  plugins/source/notion/docs/tables/notion_users_table.md
  plugins/source/notion/go.mod
  plugins/source/notion/go.sum
  plugins/source/notion/internal/databases/databases.go
  plugins/source/notion/internal/pages/pages.go
  plugins/source/notion/internal/users/users.go
  plugins/source/notion/main.go
  plugins/source/notion/resources/plugin/client.go
  plugins/source/notion/resources/plugin/plugin.go
  plugins/source/notion/resources/services/table.go
  plugins/source/notion/test/config.yml
Labels: automerge, area/plugin/source/notion, area/plugin/source/firestore, area/ci

#17958 chore: Remove old integration pages
  website/components/mdx/plugins/.gitignore
  website/components/pluginData.tsx
  website/next-sitemap.config.js
  website/package.json
  website/pages/integrations/[...slug].mdx
  website/pages/integrations/_meta.json
  website/scripts/prebuild.tsx
  website/utils/integrations.js
  website/vercel.json
Labels: automerge, area/website

#17842 feat: Sync Metadata table
  cli/cmd/migrate_v3.go
  cli/cmd/summary.go
  cli/cmd/sync_test.go
  cli/cmd/sync_v3.go
  cli/internal/specs/v0/destination.go
  cli/internal/specs/v0/schema.json
  website/pages/docs/reference/destination-spec.md
Labels: automerge, area/cli, area/website

#17961 feat: Upgrade DuckDB library to v1.6.4 (DuckDB driver v0.10.2)
  plugins/destination/duckdb/go.mod
  plugins/destination/duckdb/go.sum
Labels: automerge, area/plugin/destination/duckdb

#17953 feat: Add support for ACL configuration in S3 Destination
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/spec/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/docs/overview.md
Labels: area/plugin/destination/s3

#17991 chore: Remove Motherduck plugin
  .github/pr_labeler.yml
  .github/renovate.json5
  .github/workflows/dest_motherduck.yml
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_motherduck.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_motherduck.yml
  .release-please-manifest.json
  plugins/destination/motherduck/.gitignore
  plugins/destination/motherduck/.goreleaser.yaml
  plugins/destination/motherduck/CHANGELOG.md
  plugins/destination/motherduck/CONTRIBUTING.md
  plugins/destination/motherduck/Dockerfile
  plugins/destination/motherduck/Makefile
  plugins/destination/motherduck/README.md
  plugins/destination/motherduck/client/client.go
  plugins/destination/motherduck/client/client_test.go
  plugins/destination/motherduck/client/delete_stale.go
  plugins/destination/motherduck/client/migrate.go
  plugins/destination/motherduck/client/read.go
  plugins/destination/motherduck/client/schema.json
  plugins/destination/motherduck/client/spec.go
  plugins/destination/motherduck/client/spec/gen/main.go
  plugins/destination/motherduck/client/spec_test.go
  plugins/destination/motherduck/client/transform.go
  plugins/destination/motherduck/client/types.go
  plugins/destination/motherduck/client/write.go
  plugins/destination/motherduck/docs/_configuration.md
  plugins/destination/motherduck/docs/overview.md
  plugins/destination/motherduck/gencc.sh
  plugins/destination/motherduck/gencpp.sh
  plugins/destination/motherduck/go.mod
  plugins/destination/motherduck/go.sum
  plugins/destination/motherduck/main.go
  plugins/destination/motherduck/resources/plugin/plugin.go
  release-please-config.json
Labels: automerge, area/ci, area/plugin/destination/motherduck

#17994 fix: Remove JSON schema validation warnings
  cli/cmd/specs.go
Labels: automerge, area/cli

#18003 chore: Add test for Sync summary table
  cli/cmd/sync_test.go
  cli/cmd/testdata/with-destination-summary.yml
Labels: automerge, area/cli

#17993 feat: Test connection using dedicated endpoint
  cli/cmd/specs.go
  cli/cmd/test_connection.go
  cli/cmd/test_connection_test.go
  cli/internal/specs/v0/spec_reader.go
  website/pages/docs/reference/cli/cloudquery.md
  website/pages/docs/reference/cli/cloudquery_test-connection.md
Labels: automerge, area/cli, area/website

#17992 feat: Adding a connection test to postgres
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/connection_tester.go
  plugins/destination/postgresql/client/connection_tester_test.go
  plugins/destination/postgresql/main.go
Labels: automerge, area/plugin/destination/postgresql

#18017 feat: Add XKCD plugin
  .github/pr_labeler.yml
  .github/workflows/source_xkcd.yml
  plugins/source/xkcd/.gitignore
  plugins/source/xkcd/.goreleaser.yaml
  plugins/source/xkcd/Makefile
  plugins/source/xkcd/README.md
  plugins/source/xkcd/client/client.go
  plugins/source/xkcd/client/spec.go
  plugins/source/xkcd/client/testing.go
  plugins/source/xkcd/docs/_configuration.md
  plugins/source/xkcd/docs/overview.md
  plugins/source/xkcd/docs/tables/README.md
  plugins/source/xkcd/docs/tables/xkcd_comics.md
  plugins/source/xkcd/go.mod
  plugins/source/xkcd/go.sum
  plugins/source/xkcd/internal/xkcd/xkcd.go
  plugins/source/xkcd/main.go
  plugins/source/xkcd/plugin/plugin.go
  plugins/source/xkcd/resources/plugin/client.go
  plugins/source/xkcd/resources/plugin/plugin.go
  plugins/source/xkcd/resources/services/comic.go
  plugins/source/xkcd/resources/services/comic_test.go
  plugins/source/xkcd/test/config.yaml
  release-please-config.json
Labels: automerge, area/ci, area/new-source-plugin

#17999 feat: Add explicit Test Connection support for DuckDB
  plugins/destination/duckdb/client/client.go
  plugins/destination/duckdb/main.go
Labels: automerge, area/plugin/destination/duckdb

#18030 doc: Simplify headers in plugin docs
  plugins/source/bitbucket/docs/overview.md
  plugins/source/hackernews/docs/overview.md
  plugins/source/k8s/docs/overview.md
  plugins/source/xkcd/docs/overview.md
Labels: automerge, area/plugin/source/bitbucket, area/plugin/source/k8s, area/plugin/source/hackernews, area/plugin/source/xkcd

#18033 chore: Doc update about incrementals supporting append destinations
  website/pages/docs/advanced-topics/managing-incremental-tables.md
Labels: automerge, area/website

#18044 fix: Remove outdated login hint message
  cli/internal/auth/token.go
Labels: automerge, area/cli

#18070 doc: Update deployment overview
  website/pages/docs/deployment/overview.md
Labels: automerge, area/website

#18071 doc: Link to hub from example specs
  plugins/destination/bigquery/docs/_configuration.md
  plugins/destination/clickhouse/docs/_configuration.md
  plugins/destination/duckdb/docs/_configuration.md
  plugins/destination/file/docs/_configuration.md
  plugins/destination/meilisearch/docs/_configuration.md
  plugins/destination/mysql/docs/_configuration.md
  plugins/destination/neo4j/docs/_configuration.md
  plugins/destination/postgresql/docs/_configuration.md
  plugins/destination/s3/docs/_configuration.md
  plugins/destination/snowflake/docs/_configuration.md
  plugins/destination/sqlite/docs/_configuration.md
  plugins/source/hackernews/docs/_configuration.md
  plugins/source/k8s/docs/_configuration.md
Labels: area/plugin/source/k8s, area/plugin/source/hackernews, area/plugin/destination/snowflake, area/plugin/destination/s3, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/neo4j, area/plugin/destination/duckdb, area/plugin/destination/bigquery, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/meilisearch

#18072 refactor: Return multi-row records on read
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/typeconv/arrow/values/record.go
  plugins/destination/clickhouse/typeconv/arrow/values/values_test.go
Labels: automerge, area/plugin/destination/clickhouse

#18073 refactor: Less allocations
  plugins/destination/clickhouse/client/read.go
Labels: automerge, area/plugin/destination/clickhouse

#18075 fix: Example Config in Docker example
  website/pages/docs/advanced-topics/using-cloud-query-docker-registry-plugins-inside-a-containerized-environment.md
Labels: automerge, area/website

#18077 fix: Add space before column list on insert
  plugins/destination/clickhouse/queries/insert.go
Labels: automerge, area/plugin/destination/clickhouse
