Repository cloudquery/cloudquery, pull requests merged in 2025-03, with the labels that each got.

#20296 feat: Add connection test to AWS Firehose destination
  plugins/destination/firehose/client/client.go
  plugins/destination/firehose/client/test_connection.go
  plugins/destination/firehose/client/test_connection_test.go
  plugins/destination/firehose/main.go
Labels: automerge, area/plugin/destination/firehose

#20309 chore: Use different Go version update logic for plugins
  .github/renovate.json5
Labels: automerge, needs-area

#20313 chore: Fix lint errors, update linter
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_firehose.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_meilisearch.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/scaffold.yml
  .github/workflows/scripts_ci.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_test.yml
  .github/workflows/source_xkcd.yml
  .github/workflows/transf_basic.yml
  .github/workflows/transf_jsonflattener.yml
  .github/workflows/transf_test.yml
  cli/.golangci.yml
  cli/cmd/test_connection.go
  plugins/.golangci.yml
  plugins/destination/azblob/client/spec/spec.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/duckdb/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/spec/spec.go
  plugins/destination/firehose/client/spec/spec.go
  plugins/destination/firehose/client/write.go
  plugins/destination/gcs/client/spec/spec.go
  plugins/destination/gremlin/client/spec.go
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/meilisearch/client/client.go
  plugins/destination/meilisearch/client/spec.go
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mysql/client/spec.go
  plugins/destination/neo4j/client/spec.go
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/sqlite/client/client.go
  plugins/destination/test/client/spec.go
  plugins/source/hackernews/client/spec_test.go
  plugins/source/test/client/spec.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/test/client/client.go
Labels: automerge, area/cli, area/plugin/source/hackernews, area/plugin/destination/gremlin, area/plugin/destination/snowflake, area/plugin/destination/gcs, area/plugin/destination/s3, area/plugin/destination/mongodb, area/plugin/destination/kafka, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/mysql, area/plugin/destination/neo4j, priority merge, area/plugin/destination/duckdb, area/plugin/destination/bigquery, area/ci, area/plugin/destination/azblob, area/plugin/destination/clickhouse, area/plugin/destination/file, area/plugin/destination/firehose, area/plugin/destination/meilisearch, area/plugin/destination/test, area/plugin/source/test, area/plugin/destination/sqlite-python

#20344 fix: Don't fail on creating existing tables
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/testdata/create_table.sql
  plugins/destination/clickhouse/queries/testdata/create_table_cluster.sql
  plugins/destination/clickhouse/queries/testdata/create_table_empty_order_by.sql
  plugins/destination/clickhouse/queries/testdata/create_table_engine.sql
  plugins/destination/clickhouse/queries/testdata/create_table_order_by.sql
  plugins/destination/clickhouse/queries/testdata/create_table_partition_by.sql
Labels: automerge, priority merge, area/plugin/destination/clickhouse

#20345 fix: Don't fail on creating existing columns or dropping non existing ones
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/testdata/col_add.sql
  plugins/destination/clickhouse/queries/testdata/col_add_cluster.sql
  plugins/destination/clickhouse/queries/testdata/col_drop.sql
  plugins/destination/clickhouse/queries/testdata/col_drop_cluster.sql
Labels: automerge, priority merge, area/plugin/destination/clickhouse

#20386 feat: Sync Run Progress: Report shard num
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#20398 chore: Replace another changed files action
  .github/workflows/deps_trigger_gen.yml
Labels: automerge, area/ci

#20400 feat: Allow configuring retries and multipart body size
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/spec/spec_test.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/docs/_configuration.md
Labels: area/plugin/destination/s3

#20399 feat: Enable time substitution in spec templates
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/time_substitution.yml
  cli/internal/specs/v0/testdata/time_substitution_with_error.yml
Labels: automerge, area/cli

#20437 feat: Set Primary Key(s) for table
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/docs/_configuration.md
Labels: automerge

#20438 feat: Remove pk index naming from postgres destination
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#20455 chore: Pass `_CQ_INSTALLATION_ID` env var in plugin isolation mode
  cli/cmd/sync.go
Labels: automerge, area/cli

#20456 fix: Replace internal columns if exist on Cloud syncs
  cli/cmd/sync.go
  cli/cmd/test_connection.go
  cli/go.mod
  cli/go.sum
  cli/internal/analytics/client.go
  cli/internal/env/env.go
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli

#20459 fix: Only validate version when Cloudquery Registry is used
  cli/internal/specs/v0/version.go
Labels: automerge, area/cli
