Repository cloudquery/cloudquery, pull requests merged in 2025-02, with the labels that each got.

#20254 chore: Remove duplicated code
  cli/internal/api/client.go
Labels: automerge, area/cli

#20274 chore: Fix Go linting
  cli/.golangci.yml
  cli/cmd/addon_download_test.go
  cli/cmd/addon_publish_test.go
  cli/cmd/init_test.go
  cli/cmd/plugin_publish_test.go
  cli/cmd/switch_test.go
  cli/internal/publish/plugins.go
  plugins/.golangci.yml
  plugins/destination/mongodb/client/uint64.go
  scripts/lint.sh
Labels: automerge, area/cli, area/plugin/destination/mongodb

#20276 feat: Add skip_incremental_tables suboption for partition_by.
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/spec/spec.go
  plugins/destination/clickhouse/docs/_licenses.md
  plugins/destination/clickhouse/docs/overview.md
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
Labels: area/plugin/destination/clickhouse
