Repository cloudquery/cloudquery, pull requests merged in 2025-01, with the labels that each got.

#20025 feat: Add rename_column to basic transformer plugin
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/schemaupdater/schema_updater.go
  plugins/transformer/basic/client/schemaupdater/schemaupdater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/spec/spec_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/docs/_configuration.md
Labels: automerge, priority merge, needs-area

#20081 chore: Disable config UI e2e tests
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/source_xkcd.yml
  plugins/destination/duckdb/cur.db
  plugins/destination/duckdb/cur.db.wal
Labels: automerge, area/plugin/destination/duckdb, area/ci

#20115 fix!: Create non-nullable string columns
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
Labels: automerge, priority merge

#20116 feat: Publish UI Bundle Archive
  cli/cmd/plugin_publish_test.go
  cli/internal/hub/util.go
  cli/internal/publish/pluginui.go
Labels: automerge, area/cli

#20138 chore: Disable Airtable source plugin CI workflows
  release-please-config.json
Labels: automerge

#20137 chore: Disable Typeform source plugin CI workflows
  release-please-config.json
Labels: automerge

#20140 fix: Allow overriding API key per plugin in isolated env setting
  cli/cmd/sync.go
  cli/cmd/sync_test.go
Labels: automerge, area/cli

#20155 feat: Publish multiplatform images for Ubuntu
  cli/.goreleaser.yaml
Labels: automerge

#20159 test: Set `x509negativeserial=1` in test
  plugins/destination/mssql/client/client_test.go
Labels: automerge, area/plugin/destination/mssql

#20166 chore: Update CODEOWNERS
  CODEOWNERS
Labels: automerge
