Repository cloudquery/cloudquery, pull requests merged in 2025-07, with the labels that each got.

#20907 fix: Handle max concurrent queries errors
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/Makefile
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/delete.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/client/retry_helpers.go
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/docker-compose.yaml
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
Labels: automerge, area/ci, area/plugin/destination/clickhouse

#20909 feat: Add error handling and per-table metrics
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#21006 doc: Document obfuscating JSON arrays behaviour
  plugins/transformer/basic/docs/overview.md
Labels: automerge

#21022 fix: Bump sjson library to fix accessing root arrays and complex path
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
Labels: automerge

#21052 feat: Add post login steps in the CLI
  cli/cmd/login.go
Labels: automerge, area/cli

#21059 chore: Change publish image for duckdb
  .github/workflows/publish_plugin_to_hub_duckdb.yml
Labels: automerge, area/ci

#21062 chore: Replace all golang-cross images with maintained version
  .github/renovate.json5
  .github/workflows/publish_plugin_to_hub_fips.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
  .github/workflows/source_test.yml
Labels: area/ci

#21063 chore: Remove golang-cross
  .github/workflows/publish_plugin_to_hub_fips.yml
  .github/workflows/source_test.yml
  plugins/source/test/main.go
  plugins/source/test/main_fips.go
  plugins/source/test/resources/plugin/fips_disabled.go
  plugins/source/test/resources/plugin/fips_enabled.go
  plugins/source/test/resources/plugin/plugin.go
  plugins/source/test/resources/plugin/plugin_fips.go
Labels: area/ci, area/plugin/source/test

#21098 chore: Move spec to its own package
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/schema.json
  plugins/destination/mongodb/client/spec/gen/main.go
  plugins/destination/mongodb/client/spec/schema.json
  plugins/destination/mongodb/client/spec/spec.go
  plugins/destination/mongodb/client/spec/spec_test.go
  plugins/destination/mongodb/client/test_connection_test.go
  plugins/destination/mongodb/main.go
Labels: automerge, area/plugin/destination/mongodb

#21064 fix(deps): Update module github.com/cloudquery/plugin-sdk/v4 to v4.87.3
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
Labels: automerge

#21106 feat: Add ability to delete records in test plugin
  plugins/source/test/client/schema.json
  plugins/source/test/client/spec.go
  plugins/source/test/resources/plugin/client.go
Labels: automerge, area/plugin/source/test

#21102 feat: Add DeleteRecord handling to SQLite destination
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/delete.go
  plugins/destination/sqlite/client/delete_test.go
  plugins/destination/sqlite/typeconv/primitive.go
  plugins/destination/sqlite/typeconv/special.go
  plugins/destination/sqlite/typeconv/values.go
  plugins/destination/sqlite/typeconv/values_test.go
Labels: automerge, area/plugin/destination/sqlite, area/plugin/destination/sqlite-python

#21108 fix: Concurrent map access when reporting remote progress
  cli/cmd/sync_v3.go
  cli/internal/utils/concurrent_map.go
Labels: automerge, area/cli, priority merge

#21117 fix: Data race when reporting progress
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#21122 fix: Remove fmt.Println from sqlite unpackArray
  plugins/destination/sqlite/client/delete.go
Labels: automerge, area/plugin/destination/sqlite, area/plugin/destination/sqlite-python

#21131 chore: Update golangci-lint configuration
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/scaffold.yml
  .github/workflows/scripts_ci.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_test.yml
  .github/workflows/source_xkcd.yml
  .github/workflows/transf_basic.yml
  .github/workflows/transf_jsonflattener.yml
  .github/workflows/transf_test.yml
  cli/.golangci.yml
  cli/cmd/login.go
  cli/cmd/switch_test.go
  cli/cmd/sync_v1.go
  cli/cmd/sync_v2.go
  cli/internal/publish/plugins.go
  cli/internal/specs/v0/spec_reader_test.go
  plugins/.golangci.yml
  scaffold/sourcetpl/templates/source/.github/workflows/test.yaml.tpl
  scripts/table_diff/changes/changes.go
  scripts/table_diff/main.go
Labels: automerge, area/cli, area/ci

#21165 feat: Better summary of schema changes
  plugins/destination/postgresql/client/migrate.go
Labels: automerge, area/plugin/destination/postgresql

#21170 feat: Better summary of schema changes
  plugins/destination/mysql/client/migrate.go
Labels: automerge, area/plugin/destination/mysql

#21169 feat: Better summary of schema changes
  plugins/destination/mssql/CONTRIBUTING.md
  plugins/destination/mssql/client/changes.go
  plugins/destination/mssql/client/migrate.go
  plugins/destination/mssql/docker-compose.yml
Labels: automerge, area/plugin/destination/mssql

#21171 feat: Better summary of schema changes
  plugins/destination/sqlite/client/migrate.go
Labels: automerge, area/plugin/destination/sqlite, area/plugin/destination/sqlite-python

#21172 feat: Re-enable and update dependencies
  .release-please-manifest.json
  release-please-config.json
Labels: automerge

#21180 fix: Don't call Tables gRPC method at the beginning of the sync
  cli/cmd/sync_test.go
  cli/cmd/sync_v3.go
Labels: automerge, area/cli, priority merge

#21182 chore: Bring back Airtable plugin
  release-please-config.json
Labels: automerge
