Repository cloudquery/cloudquery, pull requests merged in 2025-08, with the labels that each got.

#21209 chore: Move example queries to YAML file
  cli/cmd/data/tables_queries.yml
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#21203 chore: Update README.md
  README.md
Labels: automerge

#21210 fix: Remove requirement for index.html for plugin UI assets
  cli/internal/publish/pluginui.go
Labels: area/cli

#21215 feat: Adding more example queries
  cli/cmd/data/tables_queries.yml
  cli/cmd/sync_v3.go
Labels: automerge, area/cli

#21227 chore: Remove types header
  plugins/destination/mysql/docs/types.md
Labels: automerge, area/plugin/destination/mysql

#21236 feat: Add relative time support to HackerNews plugin
  plugins/source/hackernews/client/schema.json
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/spec_test.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/docs/_configuration.md
  plugins/source/hackernews/docs/_licenses.md
  plugins/source/hackernews/docs/overview.md
  plugins/source/hackernews/resources/services/items/items_fetch.go
Labels: automerge, area/plugin/source/hackernews

#21263 fix: Update default DuckDB DB path
  plugins/destination/duckdb/docs/_configuration.md
  plugins/destination/duckdb/docs/_licenses.md
Labels: automerge, area/plugin/destination/duckdb

#21265 fix: Add more verbose error for when partition and sorting key changes
  plugins/destination/clickhouse/client/migrate.go
Labels: automerge, area/plugin/destination/clickhouse

#21268 feat: Retry on Postgres deadlock
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/insert.go
  plugins/destination/postgresql/client/insert_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/spec/schema.json
  plugins/destination/postgresql/client/spec/spec.go
  plugins/destination/postgresql/docs/_licenses.md
  plugins/destination/postgresql/docs/overview.md
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Labels: automerge, area/plugin/destination/postgresql

#21277 fix!: Update migration strategy
  plugins/destination/snowflake/Makefile
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/table_info.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/client/write.go
Labels: automerge, area/plugin/destination/snowflake

#21286 fix: Use Decimal128 for NUMBER(38,0)
  plugins/destination/snowflake/client/types.go
Labels: area/plugin/destination/snowflake
