Repository cloudquery/cloudquery, pull requests merged in 2025-04, with the labels that each got.

#20540 chore: Update README.md
  README.md
Labels: automerge

#20544 feat: Support migrating addition of `_cq_client_id` when order by is set
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
Labels: automerge, area/plugin/destination/clickhouse

#20554 feat: Document how to escape dots and slashes in JSON paths
  plugins/transformer/basic/docs/overview.md
Labels: automerge

#20584 fix: Support compound types migrations
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/queries/tables.go
Labels: automerge, priority merge, area/plugin/destination/clickhouse

#20626 feat: Support different formats for time variables
  cli/internal/specs/v0/spec_reader.go
  cli/internal/specs/v0/spec_reader_test.go
  cli/internal/specs/v0/testdata/time_substitution_with_format.yml
Labels: automerge, area/cli
