Repository cloudquery/cloudquery, pull requests merged in 2025-06, with the labels that each got.

#20872 fix: S3 destination avoid hang on migrate errors
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#20879 feat: Support Customer TLS certificates
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/spec.go
  plugins/destination/kafka/docs/overview.md
Labels: automerge, area/plugin/destination/kafka

#20878 fix: Proper error join
  plugins/destination/s3/client/write.go
Labels: automerge, area/plugin/destination/s3

#20885 fix: SSL Config
  .github/workflows/dest_kafka.yml
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/spec/schema.json
  plugins/destination/kafka/client/spec/spec.go
Labels: automerge, area/plugin/destination/kafka, area/ci

#20894 feat: Add lower and upper case transformations to basic transformer
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/spec/spec_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
Labels: automerge

#20897 feat: Add support for overwrite-delete-stale in Clickhouse destination
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/delete.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/go.sum
Labels: automerge, area/plugin/destination/clickhouse

#20916 feat: Enable Role Assumption for S3 Destination
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/spec/credentials.go
  plugins/destination/s3/client/spec/schema.json
  plugins/destination/s3/client/spec/spec.go
  plugins/destination/s3/client/spec/spec_test.go
  plugins/destination/s3/docs/_configuration.md
  plugins/destination/s3/docs/overview.md
  plugins/destination/s3/go.mod
Labels: automerge, area/plugin/destination/s3

#20931 fix(deps): Update module `github.com/cloudquery/plugin-sdk/v4` to `v4.86.0`
  plugins/transformer/basic/go.mod
  plugins/transformer/basic/go.sum
Labels: automerge

#20917 feat: Enable Dropping of Rows based on field values
  plugins/transformer/basic/client/client.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/spec/spec_test.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
Labels: automerge
