Repository cloudquery/cloudquery, pull requests merged in 2025-09, with the labels that each got.

#21304 fix: Auth docs cleanup for the most popular plugins
  plugins/destination/file/docs/_authentication.md
  plugins/destination/file/docs/overview.md
  plugins/destination/postgresql/docs/authentication.md
  plugins/destination/s3/docs/authentication.md
  plugins/destination/s3/docs/authentication_advanced.md
  plugins/destination/s3/docs/overview.md
  plugins/destination/sqlite/docs/authentication.md
  plugins/destination/sqlite/docs/configuration.md
  plugins/destination/sqlite/docs/overview.md
  plugins/destination/sqlite/docs/spec.md
  plugins/destination/sqlite/docs/types.md
Labels: automerge, area/plugin/destination/s3, area/plugin/destination/sqlite, area/plugin/destination/postgresql, area/plugin/destination/file, area/plugin/destination/sqlite-python

#21362 fix: Fix bug on cloudquery-test argument.
  cli/cmd/ai.go
Labels: area/cli

#21368 chore: Remove @cloudquery.io limitation for init command.
  cli/cmd/init.go
  cli/cmd/init_test.go
Labels: automerge, area/cli

#21371 fix: End conversation properly.
  cli/cmd/ai.go
Labels: automerge, area/cli

#21373 fix: If there's an issue with AI onboarding, fallback.
  cli/cmd/init.go
Labels: automerge, area/cli

#21384 fix: Not retry when making AI Onboarding requests.
  cli/cmd/init.go
  cli/internal/api/client.go
Labels: automerge, area/cli

#21389 fix: Better handling of error messages from API
  cli/cmd/switch.go
  cli/internal/auth/team.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#21392 fix: Update team internal metadata upon switch and login
  cli/cmd/login.go
  cli/cmd/switch.go
  cli/internal/auth/team.go
  cli/internal/team/team.go
Labels: automerge, area/cli

#21393 fix: Send a more adequate message on resume.
  cli/cmd/ai.go
  cli/cmd/init.go
Labels: automerge, area/cli

#21395 feat: Add monthly/yearly partitioning
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/schema.json
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/docs/_configuration.md
Labels: automerge, area/plugin/destination/bigquery

#21398 fix: Spec validation with time partitioning options
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/spec_test.go
  plugins/destination/bigquery/docs/_configuration.md
  plugins/destination/bigquery/docs/overview.md
Labels: automerge, area/plugin/destination/bigquery

#21412 chore: Add permissions to all workflows
  .github/workflows/auto_sort_files.yml
  .github/workflows/changed_files.yml
  .github/workflows/check_file_size.yml
  .github/workflows/clean_actions_cache.yml
  .github/workflows/cli.yml
  .github/workflows/delete_vercel_deployments.yml
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_clickhouse.yml
  .github/workflows/dest_duckdb.yml
  .github/workflows/dest_elasticsearch.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_firehose.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_gremlin.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_meilisearch.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_mssql.yml
  .github/workflows/dest_mysql.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_sqlite_python.yml
  .github/workflows/dest_test.yml
  .github/workflows/docs_changes_summary.yml
  .github/workflows/export_security_csv.yml
  .github/workflows/greetings.yml
  .github/workflows/manual_commands.yml
  .github/workflows/manual_commands_triggers.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/publish_plugin_to_hub.yml
  .github/workflows/publish_plugin_to_hub_duckdb.yml
  .github/workflows/publish_plugin_to_hub_fips.yml
  .github/workflows/publish_plugin_to_hub_snowflake.yml
  .github/workflows/publish_plugin_to_hub_sqlite.yml
  .github/workflows/publish_ui_dir.yml
  .github/workflows/release_all.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_pr.yml
  .github/workflows/release_scaffold.yml
  .github/workflows/release_summary.yml
  .github/workflows/scaffold.yml
  .github/workflows/scripts_ci.yml
  .github/workflows/set_sentry_alerts.yml
  .github/workflows/source_airtable.yml
  .github/workflows/source_bitbucket.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/source_square.yml
  .github/workflows/source_test.yml
  .github/workflows/source_typeform.yml
  .github/workflows/source_xkcd.yml
  .github/workflows/transf_basic.yml
  .github/workflows/transf_jsonflattener.yml
  .github/workflows/transf_test.yml
  .github/workflows/validate_pr_title.yml
  .github/workflows/wait_for_required_workflows.yml
Labels: area/ci
