Repository cloudquery/cloudquery, pull requests merged in 2025-05, with the labels that each got.

#20691 feat: Redact env secrets from output and logs
  cli/cmd/logging.go
  cli/cmd/root.go
  cli/cmd/sync.go
  cli/cmd/test_connection.go
  cli/internal/secrets/secrets.go
  cli/internal/secrets/secrets_test.go
Labels: automerge, area/cli

#20728 feat: Add 'auto_obfuscate' transformation to basic transformer
  cli/internal/docs/json.go
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
  plugins/transformer/basic/client/spec/spec.go
  plugins/transformer/basic/client/transformers/transformers.go
  plugins/transformer/basic/client/transformers/transformers_test.go
  plugins/transformer/basic/docs/_configuration.md
  plugins/transformer/basic/docs/overview.md
Labels: automerge, area/cli

#20767 feat: Add ability to change client project_id
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/schema.json
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/docs/_configuration.md
Labels: automerge, area/plugin/destination/bigquery

#20772 feat!: Add DeleteRecord handling to Clickhouse destination
  .github/workflows/dest_clickhouse.yml
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/delete.go
  plugins/destination/clickhouse/client/delete_test.go
  plugins/destination/postgresql/client/client_test.go
Labels: automerge, area/plugin/destination/postgresql, area/ci, area/plugin/destination/clickhouse

#20807 chore: Update ClickHouse docs with min supported version
  plugins/destination/clickhouse/docs/overview.md
Labels: automerge, area/plugin/destination/clickhouse

#20808 chore: Update Clickhouse destination module version
  plugins/destination/clickhouse/client/client.go
  plugins/destination/clickhouse/client/client_test.go
  plugins/destination/clickhouse/client/delete.go
  plugins/destination/clickhouse/client/delete_test.go
  plugins/destination/clickhouse/client/migrate.go
  plugins/destination/clickhouse/client/read.go
  plugins/destination/clickhouse/client/spec/gen/main.go
  plugins/destination/clickhouse/client/spec/schema.json
  plugins/destination/clickhouse/client/table.go
  plugins/destination/clickhouse/client/test_connection_test.go
  plugins/destination/clickhouse/client/write.go
  plugins/destination/clickhouse/go.mod
  plugins/destination/clickhouse/main.go
  plugins/destination/clickhouse/queries/columns.go
  plugins/destination/clickhouse/queries/insert.go
  plugins/destination/clickhouse/queries/read.go
  plugins/destination/clickhouse/queries/table.go
  plugins/destination/clickhouse/queries/tables.go
  plugins/destination/clickhouse/queries/tables_test.go
  plugins/destination/clickhouse/typeconv/arrow/types/field.go
  plugins/destination/clickhouse/typeconv/arrow/values/map.go
  plugins/destination/clickhouse/typeconv/ch/types/definitions.go
  plugins/destination/clickhouse/typeconv/ch/values/list.go
  plugins/destination/clickhouse/typeconv/ch/values/map.go
  plugins/destination/clickhouse/typeconv/schema.go
Labels: automerge, priority merge, area/plugin/destination/clickhouse

#20809 fix: Timestamp field replacement
  cli/internal/transformer/transformer.go
Labels: automerge, area/cli

#20817 chore: Revert major postgresql destination bump
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Labels: automerge, area/plugin/destination/postgresql, priority merge

#20821 fix: Skip redacting environment variables injected by cloud providers or the CLI
  cli/internal/secrets/secrets.go
  cli/internal/secrets/secrets_test.go
Labels: automerge, area/cli, priority merge

#20818 feat: Add support for binary column obfuscation in basic transformer
  plugins/transformer/basic/client/recordupdater/record_updater.go
  plugins/transformer/basic/client/recordupdater/record_updater_test.go
Labels: automerge

#20866 feat: Add UUID type support
  plugins/transformer/jsonflattener/client/recordupdater/column_builders.go
  plugins/transformer/jsonflattener/client/recordupdater/column_builders_uuid.go
  plugins/transformer/jsonflattener/client/recordupdater/record_updater_test.go
  plugins/transformer/jsonflattener/client/schemaupdater/schema_updater.go
Labels: automerge
