Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/emr to v1.21.0 (#6142)
  plugins/source/aws/client/mocks/emr.go
  plugins/source/aws/client/services/emr.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/secretsmanager to v1.17.0 (#6143)
  plugins/source/aws/docs/tables/aws_secretsmanager_secrets.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/secretsmanager/secrets.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-file v1.0.0 (#6106)
  .release-please-manifest.json
  plugins/destination/file/CHANGELOG.md
Owners: none

chore: Update plugin `destination-file` version to v1.0.0
  website/versions/destination-file.json
Owners: none

chore: Update plugin `destination-file` version to v1.0.0 (#6144)
  website/versions/destination-file.json
Owners: none

Better headings
  website/pages/docs/plugins/sources/shopify/overview.md
Owners: none

pricings fixes
  plugins/source/azure/policies/queries/security/defender_on_for_app_service.sql
  plugins/source/azure/policies/queries/security/defender_on_for_container_registeries.sql
  plugins/source/azure/policies/queries/security/defender_on_for_k8s.sql
  plugins/source/azure/policies/queries/security/defender_on_for_key_vault.sql
  plugins/source/azure/policies/queries/security/defender_on_for_servers.sql
  plugins/source/azure/policies/queries/security/defender_on_for_sql_servers.sql
  plugins/source/azure/policies/queries/security/defender_on_for_sql_servers_on_machines.sql
  plugins/source/azure/policies/queries/security/defender_on_for_storage.sql
Owners: @erezrokah, @yevgenypats

fix: Update file,gcs,s3 to sdk 1.16.0
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

fix: Update file,gcs,s3 to sdk 1.16.0 (#6146)
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

chore(main): Release plugins-destination-s3 v1.0.1
  .release-please-manifest.json
  plugins/destination/s3/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-s3 v1.0.1 (#6150)
  .release-please-manifest.json
  plugins/destination/s3/CHANGELOG.md
Owners: none

chore: Update plugin `destination-s3` version to v1.0.1
  website/versions/destination-s3.json
Owners: none

chore: Update plugin `destination-s3` version to v1.0.1 (#6152)
  website/versions/destination-s3.json
Owners: none

added security settings
  plugins/source/azure/codegen2/recipes/security_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_security_settings.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/security/settings.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

init
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/spec.go
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/resources/plugin/plugin.go
  plugins/source/hubspot/resources/plugin/plugin_test.go
  plugins/source/hubspot/resources/plugin/tables.go
Owners: @cloudquery/cloudquery-opensource

codege init
  plugins/source/hubspot/Makefile
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/lazy.go
  plugins/source/hubspot/codegen/main.go
  plugins/source/hubspot/codegen/resources/description.go
  plugins/source/hubspot/codegen/resources/fetch.go
  plugins/source/hubspot/codegen/resources/generate.go
  plugins/source/hubspot/codegen/resources/recipes.go
  plugins/source/hubspot/codegen/resources/resource.go
  plugins/source/hubspot/codegen/resources/schema.go
  plugins/source/hubspot/codegen/resources/tables.go
  plugins/source/hubspot/codegen/resources/template.go
  plugins/source/hubspot/codegen/resources/templates/resource.go.tpl
  plugins/source/hubspot/codegen/resources/templates/tables.go.tpl
  plugins/source/hubspot/codegen/resources/transformers.go
  plugins/source/hubspot/codegen/resources/write.go
  plugins/source/hubspot/docs/tables/README.md
  plugins/source/hubspot/docs/tables/hubspot_companies.md
  plugins/source/hubspot/go.mod
  plugins/source/hubspot/go.sum
  plugins/source/hubspot/main.go
  plugins/source/hubspot/resources/plugin/tables.go
  plugins/source/hubspot/resources/services/companies/companies.go
  plugins/source/hubspot/resources/services/companies/companies_fetch.go
  website/pages/docs/plugins/sources/tailscale/tables.md
Owners: @cloudquery/cloudquery-opensource

feat(gitlab): Add Branches (#6135)
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/codegen/recipes/projects.go
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_project_branches.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/resources/services/projects/project_branches.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_branches_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  website/pages/docs/plugins/sources/gitlab/tables.md
Owners: @cloudquery/cloudquery-opensource

Update client.go
  plugins/source/cloudflare/client/client.go
Owners: @cloudquery/cloudquery-opensource

go mod
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

Update pq
  plugins/destination/csv/internal/priorityqueue/priority_queue.go
  plugins/destination/csv/internal/priorityqueue/priority_queue_test.go
Owners: @cloudquery/cloudquery-opensource

added sql databases and blob policies
  plugins/source/azure/codegen2/recipes/costmanagement.go
  plugins/source/azure/codegen2/recipes/security_e.go
  plugins/source/azure/codegen2/recipes/sql_e.go
  plugins/source/azure/docs/tables/azure_dashboard_grafana.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/costmanagement/views_mock_test.go
  plugins/source/azure/resources/services/security/contacts.go
  plugins/source/azure/resources/services/security/settings.go
  plugins/source/azure/resources/services/sql/server_database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/server_database_blob_auditing_policies_fetch.go
  plugins/source/azure/resources/services/sql/server_database_blob_auditing_policies_mock_test.go
  plugins/source/azure/resources/services/sql/server_databases.go
  plugins/source/azure/resources/services/sql/server_databases_fetch.go
  plugins/source/azure/resources/services/sql/server_databases_mock_test.go
  plugins/source/azure/resources/services/sql/servers_mock_test.go
Owners: @erezrokah, @yevgenypats

Update progress bar on regular schedule
  cli/cmd/sync2.go
Owners: @yevgenypats

Update progress bar
  cli/cmd/sync2.go
Owners: @yevgenypats

Update progress bar on secondly interval
  cli/cmd/sync2.go
Owners: @yevgenypats

impl companies list
  plugins/source/hubspot/client/client.go
  plugins/source/hubspot/client/lazy.go
  plugins/source/hubspot/resources/services/companies/companies_fetch.go
Owners: @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#6158)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(cloudflare): Account Filtering (#6154)
  plugins/source/cloudflare/client/client.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.23.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.23.0 (#6159)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-gcs v1.0.1
  .release-please-manifest.json
  plugins/destination/gcs/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-file v1.0.1
  .release-please-manifest.json
  plugins/destination/file/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-mongodb v1.0.3
  .release-please-manifest.json
  plugins/destination/mongodb/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-csv v1.2.3
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.1.3
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-file v1.0.1 (#6149)
  .release-please-manifest.json
  plugins/destination/file/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-gcs v1.0.1 (#6148)
  .release-please-manifest.json
  plugins/destination/gcs/CHANGELOG.md
Owners: none

chore: Update plugin `destination-file` version to v1.0.1
  website/versions/destination-file.json
Owners: none

chore: Update plugin `destination-gcs` version to v1.0.1
  website/versions/destination-gcs.json
Owners: none

chore: Update plugin `destination-file` version to v1.0.1 (#6160)
  website/versions/destination-file.json
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
