Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/googleapis/gax-go/v2 to v2.7.0 (#5226)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module github.com/okta/okta-sdk-golang/v2 to v2.16.0 (#5228)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update module golang.org/x/oauth2 to v0.2.0 (#5229)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update module github.com/heroku/heroku-go/v5 to v5.5.0
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module google.golang.org/api to v0.103.0
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go to v67
  plugins/source/azure/go.mod
Owners: none

fix(deps): Update module github.com/heroku/heroku-go/v5 to v5.5.0 (#5227)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module github.com/DataDog/datadog-api-client-go to v2
  plugins/source/datadog/go.mod
Owners: none

fix(deps): Update module github.com/avast/retry-go to v4
  plugins/source/digitalocean/client/helpers.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module google.golang.org/api to v0.103.0 (#5230)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module github.com/google/go-github/v45 to v48
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_billing.go
  plugins/source/github/client/mocks/mock_issues.go
  plugins/source/github/client/mocks/mock_orgs.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/mocks/mock_teams.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/recipies/base.go
  plugins/source/github/codegen/recipies/billing.go
  plugins/source/github/codegen/recipies/external.go
  plugins/source/github/codegen/recipies/hooks.go
  plugins/source/github/codegen/recipies/installations.go
  plugins/source/github/codegen/recipies/issues.go
  plugins/source/github/codegen/recipies/organizations.go
  plugins/source/github/codegen/recipies/repositories.go
  plugins/source/github/codegen/recipies/teams.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/billing/action_test.go
  plugins/source/github/resources/services/billing/packing_test.go
  plugins/source/github/resources/services/billing/storage_test.go
  plugins/source/github/resources/services/external/groups_fetch.go
  plugins/source/github/resources/services/external/groups_test.go
  plugins/source/github/resources/services/hooks/deliveries_fetch.go
  plugins/source/github/resources/services/hooks/hooks_fetch.go
  plugins/source/github/resources/services/hooks/hooks_test.go
  plugins/source/github/resources/services/installations/installations_fetch.go
  plugins/source/github/resources/services/installations/installations_test.go
  plugins/source/github/resources/services/issues/issues_test.go
  plugins/source/github/resources/services/issues/isues_fetch.go
  plugins/source/github/resources/services/organizations/members_fetch.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/repositories/repositories_fetch.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/teams/members_fetch.go
  plugins/source/github/resources/services/teams/repositories_fetch.go
  plugins/source/github/resources/services/teams/teams_fetch.go
  plugins/source/github/resources/services/teams/teams_test.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/jackc/pgx/v4 to v5
  plugins/destination/postgresql/go.mod
Owners: none

fix(deps): Update module github.com/mattn/go-sqlite3 to v2
  plugins/destination/sqlite/go.mod
Owners: none

chore: Update code and docs
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/teams/repositories.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/okta/okta-sdk-golang/v2 to v3
  plugins/source/okta/go.mod
Owners: none

fix(deps): Update module google.golang.org/grpc to v1.51.0
  cli/go.mod
  cli/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module google.golang.org/grpc to v1.51.0 (#5231)
  cli/go.mod
  cli/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

Update cli/cmd/sync2.go
  cli/cmd/sync2.go
Owners: @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.56.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(deps): Don't update major versions for pgx
  .github/renovate.json5
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(deps): Don't update major versions for pgx (#5251)
  .github/renovate.json5
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Set up workload identity in CI
  .github/workflows/dest_bigquery.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/avast/retry-go to v4 (#5242)
  plugins/source/digitalocean/client/helpers.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(website): Use `>=` instead of `>` for database versions
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: none

fix(website): Use `>=` instead of `>` for database versions (#5253)
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: none

chore: Fix CI
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci): Remove postgres service from CSV plugin workflow
  .github/workflows/dest_csv.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Add gandi configuration.md
  website/pages/docs/plugins/sources/gandi/configuration.md
Owners: none

chore(deps): Update github-actions (major) (#5232)
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
  .github/workflows/validate_pr_title.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci): Remove postgres service from CSV plugin workflow (#5254)
  .github/workflows/dest_csv.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Commit release configuration files
  .github/pr_labeler.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/crowdstrike/.goreleaser.yaml
  release-please-config.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Change primary key for crowdscore
  plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/docs/tables/README.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_alerts_query.md
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
Owners: @cloudquery/cloudquery-opensource

remove arns
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Make vale happy by not mentioning `go-gandi`
  website/pages/docs/plugins/sources/gandi/configuration.md
Owners: none

allow crowdstrike
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat(website): Add Gandi source plugin docs (#5198)
  plugins/source/gandi/README.md
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/overview.mdx
Owners: @cloudquery/cloudquery-opensource

Add partitioning
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/plugins/destinations/bigquery/overview.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.10.0
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
Owners: none

Add permissions
  .github/workflows/dest_bigquery.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Try again
  .github/workflows/dest_bigquery.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
