Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update plugin-sdk for azure to v1.9.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.9.0
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.8.2 (#5076)
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.9.0
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.9.0
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.9.0
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.9.0
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.9.0
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.9.0
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.9.0
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.9.0
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for snowflake to v1.9.0
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.9.0
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.9.0
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.9.0
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.9.0
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.9.0 (#5078)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.9.0 (#5085)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for snowflake to v1.9.0 (#5086)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.9.0 (#5087)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.9.0 (#5089)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

Regenerate docs
  plugins/source/cloudflare/docs/tables/README.md
  plugins/source/cloudflare/docs/tables/cloudflare_access_groups.md
  plugins/source/cloudflare/docs/tables/cloudflare_account_members.md
  plugins/source/cloudflare/docs/tables/cloudflare_accounts.md
  plugins/source/cloudflare/docs/tables/cloudflare_certificate_packs.md
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/docs/tables/cloudflare_images.md
  plugins/source/cloudflare/docs/tables/cloudflare_ips.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_groups.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_overrides.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_packages.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_rules.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_cron_triggers.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_meta_data.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_routes.md
  plugins/source/cloudflare/docs/tables/cloudflare_workers_secrets.md
  plugins/source/cloudflare/docs/tables/cloudflare_zones.md
Owners: @cloudquery/cloudquery-opensource

Regenerate docs
  plugins/source/digitalocean/docs/tables/README.md
  plugins/source/digitalocean/docs/tables/digitalocean_accounts.md
  plugins/source/digitalocean/docs/tables/digitalocean_balances.md
  plugins/source/digitalocean/docs/tables/digitalocean_billing_history.md
  plugins/source/digitalocean/docs/tables/digitalocean_cdns.md
  plugins/source/digitalocean/docs/tables/digitalocean_certificates.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_backups.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_firewall_rules.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_replicas.md
  plugins/source/digitalocean/docs/tables/digitalocean_databases.md
  plugins/source/digitalocean/docs/tables/digitalocean_domain_records.md
  plugins/source/digitalocean/docs/tables/digitalocean_domains.md
  plugins/source/digitalocean/docs/tables/digitalocean_droplet_neighbors.md
  plugins/source/digitalocean/docs/tables/digitalocean_droplets.md
  plugins/source/digitalocean/docs/tables/digitalocean_firewalls.md
  plugins/source/digitalocean/docs/tables/digitalocean_floating_ips.md
  plugins/source/digitalocean/docs/tables/digitalocean_images.md
  plugins/source/digitalocean/docs/tables/digitalocean_keys.md
  plugins/source/digitalocean/docs/tables/digitalocean_monitoring_alert_policies.md
  plugins/source/digitalocean/docs/tables/digitalocean_project_resources.md
  plugins/source/digitalocean/docs/tables/digitalocean_projects.md
  plugins/source/digitalocean/docs/tables/digitalocean_registries.md
  plugins/source/digitalocean/docs/tables/digitalocean_registry_repositories.md
  plugins/source/digitalocean/docs/tables/digitalocean_sizes.md
  plugins/source/digitalocean/docs/tables/digitalocean_snapshots.md
  plugins/source/digitalocean/docs/tables/digitalocean_space_cors.md
  plugins/source/digitalocean/docs/tables/digitalocean_spaces.md
  plugins/source/digitalocean/docs/tables/digitalocean_storage_volumes.md
  plugins/source/digitalocean/docs/tables/digitalocean_vpc_members.md
  plugins/source/digitalocean/docs/tables/digitalocean_vpcs.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for cloudflare to v1.9.0 (#5077)
  plugins/source/cloudflare/docs/tables/README.md
  plugins/source/cloudflare/docs/tables/cloudflare_access_groups.md
  plugins/source/cloudflare/docs/tables/cloudflare_account_members.md
  plugins/source/cloudflare/docs/tables/cloudflare_accounts.md
  plugins/source/cloudflare/docs/tables/cloudflare_certificate_packs.md
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/docs/tables/cloudflare_images.md
  plugins/source/cloudflare/docs/tables/cloudflare_ips.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_groups.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_overrides.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_packages.md
  plugins/source/cloudflare/docs/tables/cloudflare_waf_rules.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_cron_triggers.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_meta_data.md
  plugins/source/cloudflare/docs/tables/cloudflare_worker_routes.md
  plugins/source/cloudflare/docs/tables/cloudflare_workers_secrets.md
  plugins/source/cloudflare/docs/tables/cloudflare_zones.md
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: @cloudquery/cloudquery-opensource

Regenerate docs
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_billing_action.md
  plugins/source/github/docs/tables/github_billing_package.md
  plugins/source/github/docs/tables/github_billing_storage.md
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_installations.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_teams.md
Owners: @cloudquery/cloudquery-opensource

Regenerate docs
  plugins/source/okta/docs/tables/README.md
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/docs/tables/okta_users.md
Owners: @cloudquery/cloudquery-opensource

Regenerate docs
  plugins/source/terraform/docs/tables/README.md
  plugins/source/terraform/docs/tables/tf_data.md
  plugins/source/terraform/docs/tables/tf_resource_instances.md
  plugins/source/terraform/docs/tables/tf_resources.md
Owners: @cloudquery/cloudquery-opensource

Regenerate docs
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_some_table.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for digitalocean to v1.9.0 (#5079)
  plugins/source/digitalocean/docs/tables/README.md
  plugins/source/digitalocean/docs/tables/digitalocean_accounts.md
  plugins/source/digitalocean/docs/tables/digitalocean_balances.md
  plugins/source/digitalocean/docs/tables/digitalocean_billing_history.md
  plugins/source/digitalocean/docs/tables/digitalocean_cdns.md
  plugins/source/digitalocean/docs/tables/digitalocean_certificates.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_backups.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_firewall_rules.md
  plugins/source/digitalocean/docs/tables/digitalocean_database_replicas.md
  plugins/source/digitalocean/docs/tables/digitalocean_databases.md
  plugins/source/digitalocean/docs/tables/digitalocean_domain_records.md
  plugins/source/digitalocean/docs/tables/digitalocean_domains.md
  plugins/source/digitalocean/docs/tables/digitalocean_droplet_neighbors.md
  plugins/source/digitalocean/docs/tables/digitalocean_droplets.md
  plugins/source/digitalocean/docs/tables/digitalocean_firewalls.md
  plugins/source/digitalocean/docs/tables/digitalocean_floating_ips.md
  plugins/source/digitalocean/docs/tables/digitalocean_images.md
  plugins/source/digitalocean/docs/tables/digitalocean_keys.md
  plugins/source/digitalocean/docs/tables/digitalocean_monitoring_alert_policies.md
  plugins/source/digitalocean/docs/tables/digitalocean_project_resources.md
  plugins/source/digitalocean/docs/tables/digitalocean_projects.md
  plugins/source/digitalocean/docs/tables/digitalocean_registries.md
  plugins/source/digitalocean/docs/tables/digitalocean_registry_repositories.md
  plugins/source/digitalocean/docs/tables/digitalocean_sizes.md
  plugins/source/digitalocean/docs/tables/digitalocean_snapshots.md
  plugins/source/digitalocean/docs/tables/digitalocean_space_cors.md
  plugins/source/digitalocean/docs/tables/digitalocean_spaces.md
  plugins/source/digitalocean/docs/tables/digitalocean_storage_volumes.md
  plugins/source/digitalocean/docs/tables/digitalocean_vpc_members.md
  plugins/source/digitalocean/docs/tables/digitalocean_vpcs.md
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for github to v1.9.0 (#5081)
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_billing_action.md
  plugins/source/github/docs/tables/github_billing_package.md
  plugins/source/github/docs/tables/github_billing_storage.md
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_installations.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_teams.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for okta to v1.9.0 (#5084)
  plugins/source/okta/docs/tables/README.md
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/docs/tables/okta_users.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for cli to v1.9.0
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.9.0 (#5090)
  plugins/source/test/docs/tables/README.md
  plugins/source/test/docs/tables/test_some_table.md
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for terraform to v1.9.0 (#5088)
  plugins/source/terraform/docs/tables/README.md
  plugins/source/terraform/docs/tables/tf_data.md
  plugins/source/terraform/docs/tables/tf_resource_instances.md
  plugins/source/terraform/docs/tables/tf_resources.md
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for cli to v1.9.0 (#5095)
  cli/go.mod
  cli/go.sum
Owners: none

services generation added
  plugins/source/datadog/client/client.go
  plugins/source/datadog/client/services.go
  plugins/source/datadog/client/services/users_api.go
  plugins/source/datadog/codegen/main.go
  plugins/source/datadog/codegen/recipies/users.go
  plugins/source/datadog/codegen/services/clients.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/codegen/services/templates/service.go.tpl
  plugins/source/datadog/codegen/services/templates/services.go.tpl
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/docs/tables/datadog_user_permissions.md
  plugins/source/datadog/docs/tables/datadog_users.md
  plugins/source/datadog/resources/services/users/user_organizations_fetch.go
  plugins/source/datadog/resources/services/users/user_permissions_fetch.go
  plugins/source/datadog/resources/services/users/users_fetch.go
  plugins/source/datadog/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

fix
  plugins/source/aws/codegen/recipes/account.go
  plugins/source/datadog/README.md
Owners: @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

added workflow file
  .github/workflows/source_datadog.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

vocab fix
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Add refresh window and jitter for cached credentials
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats
