Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-destination-csv v1.2.1
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.10.1
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-bigquery v1.3.1
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

added docs
  plugins/source/azure/CONTRIBUTING.md
Owners: @erezrokah, @yevgenypats

fix
  plugins/source/azure/codegen2/recipes/security.go
Owners: @erezrokah, @yevgenypats

chore: Fix changes check
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat: Add azure security pricings resource (#6023)
  plugins/source/azure/CONTRIBUTING.md
  plugins/source/azure/codegen2/recipes/security_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_security_pricings.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/security/pricings.go
  plugins/source/azure/resources/services/security/pricings_fetch.go
  plugins/source/azure/resources/services/security/pricings_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

doc(website): Update Guide Section Headers (#6048)
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/cross-account-access-aws-assumerole.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.1.1 (#6027)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-mongodb v1.0.1 (#6033)
  .release-please-manifest.json
  plugins/destination/mongodb/CHANGELOG.md
Owners: none

chore: Update plugin `destination-mongodb` version to v1.0.1
  website/versions/destination-mongodb.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.1.1
  website/versions/destination-sqlite.json
Owners: none

chore(main): Release plugins-destination-snowflake v1.1.1 (#6034)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.10 (#6038)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.10
  website/versions/destination-test.json
Owners: none

chore: Update plugin `destination-snowflake` version to v1.1.1
  website/versions/destination-snowflake.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.10.1 (#6039)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.10.1
  website/versions/destination-postgresql.json
Owners: none

chore(main): Release plugins-destination-bigquery v1.3.1 (#6050)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.3.1
  website/versions/destination-bigquery.json
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-csv v1.2.1 (#6053)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-mongodb` version to v1.0.1 (#6061)
  website/versions/destination-mongodb.json
Owners: none

chore: Update plugin `destination-csv` version to v1.2.1
  website/versions/destination-csv.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.1.1 (#6062)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.10 (#6063)
  website/versions/destination-test.json
Owners: none

chore: Update plugin `destination-snowflake` version to v1.1.1 (#6064)
  website/versions/destination-snowflake.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.10.1 (#6065)
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.3.1 (#6066)
  website/versions/destination-bigquery.json
Owners: none

rm extra file
  plugins/source/github/client/alert.json
Owners: @cloudquery/cloudquery-opensource

chore(deps): Update CloudQuery monorepo modules (#6067)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-csv` version to v1.2.1 (#6068)
  website/versions/destination-csv.json
Owners: none

feat(github): Add tables related to GitHub Dependabot API (#6046)
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_dependabot.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/recipes/dependabot.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_organization_dependabot_alerts.md
  plugins/source/github/docs/tables/github_organization_dependabot_secrets.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_repository_dependabot_alerts.md
  plugins/source/github/docs/tables/github_repository_dependabot_secrets.md
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/alerts_fetch.go
  plugins/source/github/resources/services/organizations/dependabot_mock_test.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/organizations/secrets_fetch.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/alerts_fetch.go
  plugins/source/github/resources/services/repositories/dependabot_mock_test.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/repositories/secrets_fetch.go
  website/pages/docs/plugins/sources/github/tables.md
Owners: @cloudquery/cloudquery-opensource

feat(azure): Cost management view queries, query views by subscription scope (#5898)
  plugins/source/azure/codegen2/recipes/costmanagement_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/resources/services/costmanagement/view_queries.go
  plugins/source/azure/resources/services/costmanagement/view_queries_fetch.go
  plugins/source/azure/resources/services/costmanagement/view_queries_mock_test.go
  plugins/source/azure/resources/services/costmanagement/views_fetch.go
  plugins/source/azure/views/resource.sql
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

fix
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_group_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_policy_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_role_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_user_last_accessed_services.md
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

refactor(gcp-codegen): Make ServiceDNS optional (#5956)
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/storage.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-destination-mongodb v1.0.2
  .release-please-manifest.json
  plugins/destination/mongodb/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.11
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.1.2
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-csv v1.2.2
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
