Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

add all missing again
  plugins/source/azure/docs/tables/azure_cdn_endpoints.md
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/resources/services/cdn/endpoints.go
  plugins/source/azure/resources/services/costmanagement/views.go
Owners: @erezrokah, @yevgenypats

add more missing tables
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/docs/tables/azure_redis_caches.md
  plugins/source/azure/docs/tables/azure_resources_resources.md
  plugins/source/azure/docs/tables/azure_search_services.md
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/services/costmanagement/view_queries.go
  plugins/source/azure/resources/services/datafactory/factories.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

remove etag
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/docs/tables/azure_datafactory_factories.md
  plugins/source/azure/resources/services/costmanagement/view_queries.go
  plugins/source/azure/resources/services/costmanagement/views.go
  plugins/source/azure/resources/services/datafactory/factories.go
Owners: @erezrokah, @yevgenypats

Document incremental columns
  plugins/source/hackernews/codegen/recipes/items.go
  plugins/source/hackernews/docs/tables/README.md
  plugins/source/hackernews/docs/tables/hackernews_items.md
  plugins/source/hackernews/resources/services/items/items.go
Owners: @cloudquery/cloudquery-opensource

Add HN entry
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

update makefile
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/cloudquery/filetypes to v1.0.2
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

fix(deps): Update module github.com/cloudquery/filetypes to v1.0.2 (#6340)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

fix: Better error message
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

Update migrate.go
  plugins/destination/postgresql/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

fix: Error if after the migration there are `not null` columns that are not part of the new schema (#6282)
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

Use transformers instead of codegen
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/codegen/main.go
  plugins/source/hackernews/codegen/recipes/items.go
  plugins/source/hackernews/codegen/recipes/recipes.go
  plugins/source/hackernews/codegen/tables/generate.go
  plugins/source/hackernews/codegen/tables/templates/tables.go.tpl
  plugins/source/hackernews/codegen/templates/resource.go.tpl
  plugins/source/hackernews/docs/tables/hackernews_items.md
  plugins/source/hackernews/resources/services/items/items.go
  website/pages/docs/plugins/sources/hackernews/overview.md
Owners: @cloudquery/cloudquery-opensource

Remove more codegen
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/client/errors.go
  plugins/source/hackernews/client/services/hackernews.go
  plugins/source/hackernews/codegen/main.go
  plugins/source/hackernews/codegen/services/generate.go
  plugins/source/hackernews/codegen/services/templates/service.go.tpl
Owners: @cloudquery/cloudquery-opensource

Simplify code some more
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/plugin/tables.go
  website/pages/docs/plugins/sources/hackernews/overview.md
Owners: @cloudquery/cloudquery-opensource

Lint
  plugins/source/hackernews/client/testing.go
Owners: @cloudquery/cloudquery-opensource

Remove cli go.mod change
  cli/go.mod
Owners: none

feat(gcp-resources): Add Cloud IoT
  plugins/source/gcp/codegen/recipes/cloudiot.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_configs.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_registries.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_states.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_devices.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/cloudiot/device_configs.go
  plugins/source/gcp/resources/services/cloudiot/device_configs_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_mock_test.go
  plugins/source/gcp/resources/services/cloudiot/device_states.go
  plugins/source/gcp/resources/services/cloudiot/device_states_fetch.go
  plugins/source/gcp/resources/services/cloudiot/devices.go
  plugins/source/gcp/resources/services/cloudiot/devices_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Fix bad invoiceitems link
  plugins/source/stripe/codegen/recipes/invoice.go
  plugins/source/stripe/docs/tables/stripe_invoice_items.md
  plugins/source/stripe/resources/services/invoices/invoice_items.go
Owners: @cloudquery/cloudquery-opensource

Reorder overview
  website/pages/docs/plugins/sources/stripe/overview.md
Owners: none

GCP source: Fix incorrect type and example for backoff_retries
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: none

chore(website): Fix incorrect type and example for backoff_retries on GCP source plugin (#6358)
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.17.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.34.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.17.4 (#6359)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.34.0 (#6361)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

initial start of asm guide
  website/pages/how-to-guides/attack-surface-management-with-graph.md
  website/public/images/how-to-guides/attack-surface-management-with-graph/iam-roles.png
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.16.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.16.0 (#6360)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

feat(gcp-resources): Add Cloud IoT (#6355)
  plugins/source/gcp/codegen/recipes/cloudiot.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_configs.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_registries.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_device_states.md
  plugins/source/gcp/docs/tables/gcp_cloudiot_devices.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/cloudiot/device_configs.go
  plugins/source/gcp/resources/services/cloudiot/device_configs_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_fetch.go
  plugins/source/gcp/resources/services/cloudiot/device_registries_mock_test.go
  plugins/source/gcp/resources/services/cloudiot/device_states.go
  plugins/source/gcp/resources/services/cloudiot/device_states_fetch.go
  plugins/source/gcp/resources/services/cloudiot/devices.go
  plugins/source/gcp/resources/services/cloudiot/devices_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Certificate Manager (#6311)
  plugins/source/gcp/codegen/recipes/certificatemanager.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_issuance_configs.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_map_entries.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_maps.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificates.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_dns_authorizations.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_map_entries.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificates.go
  plugins/source/gcp/resources/services/certificatemanager/certificates_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Binary Authorization
  plugins/source/gcp/codegen/recipes/binaryauthorization.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_binaryauthorization_assertors.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Binary Authorization (#6309)
  plugins/source/gcp/codegen/recipes/binaryauthorization.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_binaryauthorization_assertors.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors.go
  plugins/source/gcp/resources/services/binaryauthorization/assertors_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

fix makefile
  plugins/source/aws/Makefile
Owners: @hermanschaaf, @yevgenypats

fix breaking changes
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
  plugins/source/aws/resources/services/config/conformance_pack_rule_compliances.go
Owners: @hermanschaaf, @yevgenypats

more fixes for breaking changes
  plugins/source/aws/docs/tables/aws_autoscaling_groups.md
  plugins/source/aws/docs/tables/aws_cloudtrail_trails.md
  plugins/source/aws/docs/tables/aws_config_configuration_recorders.md
  plugins/source/aws/docs/tables/aws_dms_replication_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/config/configuration_recorders.go
  plugins/source/aws/resources/services/dms/replication_instances.go
Owners: @hermanschaaf, @yevgenypats

add mock tests for docdb
  plugins/source/aws/resources/services/docdb/pending_maintenance_actions_mock_test.go
Owners: @hermanschaaf, @yevgenypats

done till cloudwatchlogs
  plugins/source/aws/resources/services/athena/data_catalog_database_tables.go
  plugins/source/aws/resources/services/athena/data_catalog_databases.go
  plugins/source/aws/resources/services/athena/data_catalogs.go
  plugins/source/aws/resources/services/athena/work_group_named_queries.go
  plugins/source/aws/resources/services/athena/work_group_prepared_statements.go
  plugins/source/aws/resources/services/athena/work_group_query_executions.go
  plugins/source/aws/resources/services/athena/work_groups.go
  plugins/source/aws/resources/services/autoscaling/group_lifecycle_hooks.go
  plugins/source/aws/resources/services/autoscaling/group_scaling_policies.go
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/autoscaling/launch_configurations.go
  plugins/source/aws/resources/services/autoscaling/scheduled_actions.go
  plugins/source/aws/resources/services/backup/global_settings.go
  plugins/source/aws/resources/services/backup/plan_selections.go
  plugins/source/aws/resources/services/backup/plans.go
  plugins/source/aws/resources/services/backup/region_settings.go
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
  plugins/source/aws/resources/services/backup/vaults.go
  plugins/source/aws/resources/services/cloudformation/stack_resources.go
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/cloudfront/cache_policies.go
  plugins/source/aws/resources/services/cloudfront/distributions.go
  plugins/source/aws/resources/services/cloudhsmv2/backups.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters.go
  plugins/source/aws/resources/services/cloudtrail/trail_event_selectors.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
Owners: @hermanschaaf, @yevgenypats

update md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_resource_policies.md
  plugins/source/aws/docs/tables/aws_config_conformance_pack_rule_compliances.md
Owners: @hermanschaaf, @yevgenypats

fix gomod
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

breaking changes fixes
  plugins/source/aws/docs/tables/aws_accessanalyzer_analyzer_findings.md
  plugins/source/aws/docs/tables/aws_acm_certificates.md
  plugins/source/aws/docs/tables/aws_apigatewayv2_api_route_responses.md
  plugins/source/aws/docs/tables/aws_apprunner_connections.md
  plugins/source/aws/docs/tables/aws_apprunner_observability_configurations.md
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/acm/certificates.go
  plugins/source/aws/resources/services/apigatewayv2/api_route_responses.go
  plugins/source/aws/resources/services/apprunner/connections.go
  plugins/source/aws/resources/services/apprunner/observability_configurations.go
  plugins/source/aws/resources/services/docdb/pending_maintenance_actions.go
Owners: @hermanschaaf, @yevgenypats
