Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-source-test v1.3.16
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.17.1 (#4512)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.9 (#4516)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.5 (#4518)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `source-aws` version to v4.17.1
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.7.9 (#4529)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v4.17.1 (#4533)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-azure v1.4.5 (#4517)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.1 (#4515)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.5
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update plugin `destination-test` version to v1.3.1
  sites/versions/v2/destination-test.json
Owners: none

chore(main): Release cli v2.0.15 (#4519)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.16 (#4520)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.15
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-destination-csv v1.1.8 (#4521)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.16
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-csv` version to v1.1.8
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.20 (#4522)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.2.14 (#4523)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.20
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-gcp v2.4.16 (#4524)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.14
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.5 (#4525)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.16
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-k8s v2.3.16 (#4526)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.5
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.9 (#4527)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.3.16
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-terraform v1.2.17 (#4528)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.9
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-source-test v1.3.16 (#4531)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.17
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-azure` version to v1.4.5 (#4534)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update plugin `source-test` version to v1.3.16
  sites/versions/v2/source-test.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.1 (#4535)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update CLI version to v2.0.15 (#4536)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.16 (#4537)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-csv` version to v1.1.8 (#4538)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Owners: @yevgenypats

chore: Update plugin `source-digitalocean` version to v2.2.20 (#4539)
  sites/versions/v2/source-digitalocean.json
Owners: none
