Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-source-terraform v1.2.17 (#4528)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-test` version to v1.3.15 (#4463)
  sites/versions/v2/source-test.json
Owners: none

feat(aws): Debug logging to include body (#3964)
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-azure` version to v1.4.5 (#4534)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.13.22 (#4446)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.5 (#4525)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.0 (#4447)
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(ci): Align gen command for source plugins (#4469)
  .github/workflows/manual_commands_triggers.yml
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  plugins/source/test/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-digitalocean` version to v2.2.19 (#4482)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release cli v2.0.16 (#4572)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.9 (#4544)
  sites/versions/v2/source-okta.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.24.10 (#4436)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.2 (#4458)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.2 (#4567)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.1 (#4502)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-k8s v2.3.16 (#4526)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.0 (#4475)
  cli/cmd/testdata/dest.test.yml
Owners: @yevgenypats

chore(main): Release plugins-source-aws v5.0.0 (#4551)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.17.0 (#4473)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.1 (#4511)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore: Update plugin `destination-test` version to v1.3.0 (#4474)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `source-aws` version to v4.15.1 (#4467)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for k8s to v1.5.2 (#4564)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sns to v1.18.4 (#4448)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v5.1.0 (#4554)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.20 (#4522)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sqs to v1.19.13 (#4449)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-aws` version to v4.16.0 (#4472)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for k8s to v1.5.1 (#4505)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.1 (#4499)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore: Update plugin `source-heroku` version to v3.0.5 (#4542)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v4.15.1 (#4430)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lightsail to v1.24.0 (#4455)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v4.17.1 (#4512)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix: Error handling omissions in sync2 (#4487)
  cli/cmd/sync2.go
Owners: @yevgenypats

chore: Update plugin `destination-postgresql` version to v1.7.9 (#4516)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `source-k8s` version to v2.3.16 (#4543)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for terraform to v1.5.2 (#4568)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore: Revert postgres plugin version in docs (#4492)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.14 (#4488)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
