Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Clean up list functions
  plugins/source/gcp/codegen/recipes/appengine.go
Owners: @yevgenypats, @disq

chore(deps): Update dependency cloudquery/cloudquery to v2 (#6120)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-fastly v1.0.0
  .release-please-manifest.json
  plugins/source/fastly/CHANGELOG.md
Owners: none

feat(gcp-resources): Add AppEngine resources (#5972)
  plugins/source/gcp/codegen/recipes/appengine.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_appengine_apps.md
  plugins/source/gcp/docs/tables/gcp_appengine_authorized_certificates.md
  plugins/source/gcp/docs/tables/gcp_appengine_authorized_domains.md
  plugins/source/gcp/docs/tables/gcp_appengine_domain_mappings.md
  plugins/source/gcp/docs/tables/gcp_appengine_firewall_ingress_rules.md
  plugins/source/gcp/docs/tables/gcp_appengine_instances.md
  plugins/source/gcp/docs/tables/gcp_appengine_services.md
  plugins/source/gcp/docs/tables/gcp_appengine_versions.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/appengine/apps.go
  plugins/source/gcp/resources/services/appengine/apps_fetch.go
  plugins/source/gcp/resources/services/appengine/apps_mock_test.go
  plugins/source/gcp/resources/services/appengine/authorized_certificates.go
  plugins/source/gcp/resources/services/appengine/authorized_certificates_mock_test.go
  plugins/source/gcp/resources/services/appengine/authorized_domains.go
  plugins/source/gcp/resources/services/appengine/authorized_domains_mock_test.go
  plugins/source/gcp/resources/services/appengine/domain_mappings.go
  plugins/source/gcp/resources/services/appengine/domain_mappings_mock_test.go
  plugins/source/gcp/resources/services/appengine/firewall_ingress_rules.go
  plugins/source/gcp/resources/services/appengine/firewall_ingress_rules_mock_test.go
  plugins/source/gcp/resources/services/appengine/instances.go
  plugins/source/gcp/resources/services/appengine/services.go
  plugins/source/gcp/resources/services/appengine/services_mock_test.go
  plugins/source/gcp/resources/services/appengine/versions.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Artifact Registry
  plugins/source/gcp/codegen/recipes/artifactregistry.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_docker_images.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_files.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_locations.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_packages.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_repositories.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_tags.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_versions.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/artifactregistry/docker_images.go
  plugins/source/gcp/resources/services/artifactregistry/files.go
  plugins/source/gcp/resources/services/artifactregistry/locations.go
  plugins/source/gcp/resources/services/artifactregistry/locations_fetch.go
  plugins/source/gcp/resources/services/artifactregistry/packages.go
  plugins/source/gcp/resources/services/artifactregistry/repositories.go
  plugins/source/gcp/resources/services/artifactregistry/repositories_fetch.go
  plugins/source/gcp/resources/services/artifactregistry/tags.go
  plugins/source/gcp/resources/services/artifactregistry/versions.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

refactor: Remove ServiceDNS
  plugins/source/gcp/codegen/recipes/artifactregistry.go
Owners: @yevgenypats, @disq

chore: Clean up list functions
  plugins/source/gcp/codegen/recipes/artifactregistry.go
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Artifact Registry (#6020)
  plugins/source/gcp/codegen/recipes/artifactregistry.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_docker_images.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_files.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_locations.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_packages.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_repositories.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_tags.md
  plugins/source/gcp/docs/tables/gcp_artifactregistry_versions.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/artifactregistry/docker_images.go
  plugins/source/gcp/resources/services/artifactregistry/files.go
  plugins/source/gcp/resources/services/artifactregistry/locations.go
  plugins/source/gcp/resources/services/artifactregistry/locations_fetch.go
  plugins/source/gcp/resources/services/artifactregistry/packages.go
  plugins/source/gcp/resources/services/artifactregistry/repositories.go
  plugins/source/gcp/resources/services/artifactregistry/repositories_fetch.go
  plugins/source/gcp/resources/services/artifactregistry/tags.go
  plugins/source/gcp/resources/services/artifactregistry/versions.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Bare Metal Solution
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/baremetalsolution.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_instances.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_networks.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_nfs_shares.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_volume_luns.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_volumes.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/baremetalsolution/instances.go
  plugins/source/gcp/resources/services/baremetalsolution/instances_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/networks.go
  plugins/source/gcp/resources/services/baremetalsolution/networks_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/nfs_shares.go
  plugins/source/gcp/resources/services/baremetalsolution/nfs_shares_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/volume_luns.go
  plugins/source/gcp/resources/services/baremetalsolution/volumes.go
  plugins/source/gcp/resources/services/baremetalsolution/volumes_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore: Clean up list functions
  plugins/source/gcp/codegen/recipes/baremetalsolution.go
Owners: @yevgenypats, @disq

refactor: Remove ServiceDNS
  plugins/source/gcp/codegen/recipes/baremetalsolution.go
Owners: @yevgenypats, @disq

Minor fixes
  .release-please-manifest.json
  plugins/source/fastly/CHANGELOG.md
Owners: none

feat(gcp-resources): Add Bare Metal Solution (#6044)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/baremetalsolution.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_instances.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_networks.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_nfs_shares.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_volume_luns.md
  plugins/source/gcp/docs/tables/gcp_baremetalsolution_volumes.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/baremetalsolution/instances.go
  plugins/source/gcp/resources/services/baremetalsolution/instances_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/networks.go
  plugins/source/gcp/resources/services/baremetalsolution/networks_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/nfs_shares.go
  plugins/source/gcp/resources/services/baremetalsolution/nfs_shares_mock_test.go
  plugins/source/gcp/resources/services/baremetalsolution/volume_luns.go
  plugins/source/gcp/resources/services/baremetalsolution/volumes.go
  plugins/source/gcp/resources/services/baremetalsolution/volumes_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

try random gcs test
  plugins/destination/gcs/client/client.go
Owners: @cloudquery/cloudquery-opensource

feat: Add destination GCS (#6109)
  .github/pr_labeler.yml
  .github/workflows/dest_gcs.yml
  plugins/destination/gcs/.gitignore
  plugins/destination/gcs/.goreleaser.yaml
  plugins/destination/gcs/CHANGELOG.md
  plugins/destination/gcs/Makefile
  plugins/destination/gcs/README.md
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/deletestale.go
  plugins/destination/gcs/client/migrate.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/transformer.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/gcs/main.go
  plugins/destination/gcs/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/gcs/_meta.json
  website/pages/docs/plugins/destinations/gcs/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

more fine tunes
  plugins/destination/s3/client/spec.go
Owners: @cloudquery/cloudquery-opensource

fix lint
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/spec.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-fastly v1.0.0 (#6121)
  .release-please-manifest.json
  plugins/source/fastly/CHANGELOG.md
Owners: none

chore: Add missing comma to release please config
  .release-please-manifest.json
Owners: none

chore: Add missing comma to release please config (#6123)
  .release-please-manifest.json
Owners: none

chore: Update plugin `source-fastly` version to v1.0.0
  website/versions/source-fastly.json
Owners: none

use empty file
  plugins/destination/azblob/client/client.go
Owners: @cloudquery/cloudquery-opensource

fix(gcs): Use empty file for permission testing
  plugins/destination/gcs/client/client.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-fastly` version to v1.0.0 (#6124)
  website/versions/source-fastly.json
Owners: none

Change pks
  plugins/source/github/client/resolvers.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/docs/tables/github_release_assets.md
  plugins/source/github/docs/tables/github_releases.md
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/releases.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.29 (#6058)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.29
  website/versions/cli.json
Owners: none

fix(gcs): Use empty file for permission testing (#6125)
  plugins/destination/gcs/client/client.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-gcs v1.0.0
  .release-please-manifest.json
  plugins/destination/gcs/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-snyk v1.0.0
  .release-please-manifest.json
  plugins/source/snyk/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-gcs v1.0.0 (#6122)
  .release-please-manifest.json
  plugins/destination/gcs/CHANGELOG.md
Owners: none

chore: Update plugin `destination-gcs` version to v1.0.0
  website/versions/destination-gcs.json
Owners: none

chore: Update CLI version to v2.0.29 (#6127)
  website/versions/cli.json
Owners: none

chore: Update plugin `destination-gcs` version to v1.0.0 (#6129)
  website/versions/destination-gcs.json
Owners: none

Add tests, fix tag marshal
  plugins/source/shopify/internal/shopify/tag.go
  plugins/source/shopify/resources/services/customer/customers_mock_test.go
  plugins/source/shopify/resources/services/order/orders_mock_test.go
  plugins/source/shopify/resources/services/product/products_mock_test.go
Owners: @cloudquery/cloudquery-opensource

add DSN
  plugins/source/shopify/main.go
Owners: @cloudquery/cloudquery-opensource

Clean up
  plugins/source/shopify/codegen/main.go
Owners: @cloudquery/cloudquery-opensource

Add docs
  plugins/source/shopify/client/client.go
  plugins/source/shopify/client/spec.go
  plugins/source/shopify/internal/shopify/shopify.go
  plugins/source/shopify/resources/services/order/orders_fetch.go
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/shopify/_meta.json
  website/pages/docs/plugins/sources/shopify/configuration.md
  website/pages/docs/plugins/sources/shopify/overview.md
Owners: @cloudquery/cloudquery-opensource

clean up
  plugins/source/shopify/codegen/recipes/recipes.go
  plugins/source/shopify/docs/configuration.md
  plugins/source/shopify/internal/shopify/shopify.go
Owners: @cloudquery/cloudquery-opensource

oops
  plugins/source/shopify/README.md
Owners: @cloudquery/cloudquery-opensource
