Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

remove header
  plugins/source/aws/resources/services/scheduler/schedule_groups_fetch.go
  plugins/source/aws/resources/services/scheduler/schedule_groups_mock_test.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
Owners: @hermanschaaf, @yevgenypats

linting
  plugins/source/aws/resources/services/scheduler/schedule_groups_fetch.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/route53 to v1.24.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/workspaces to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_workspaces_directories.md
  plugins/source/aws/resources/services/workspaces/directories.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/route53 to v1.24.0 (#4694)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.11
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.18
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.7
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.4.1
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.21
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.3
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/workspaces to v1.26.0 (#4695)
  plugins/source/aws/docs/tables/aws_workspaces_directories.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/workspaces/directories.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add Support for ECS Scale In Task protection (#4688)
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/docs/tables/aws_ecs_cluster_tasks.md
  plugins/source/aws/resources/services/ecs/cluster_mock_test.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/ecs/clusters_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v6.1.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v6.1.0 (#4696)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v6.1.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add Support for Eventbridge scheduler (#4693)
  plugins/source/aws/client/mocks/scheduler.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/scheduler.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/scheduler.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_scheduler_schedule_groups.md
  plugins/source/aws/docs/tables/aws_scheduler_schedules.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/scheduler/schedule_groups.go
  plugins/source/aws/resources/services/scheduler/schedule_groups_fetch.go
  plugins/source/aws/resources/services/scheduler/schedule_groups_mock_test.go
  plugins/source/aws/resources/services/scheduler/schedules.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
  plugins/source/aws/resources/services/scheduler/schedules_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-okta v1.3.11 (#4670)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.11
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-source-terraform v1.2.21 (#4672)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.21
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.7 (#4671)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.3 (#4673)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.18 (#4674)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.3
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.7
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `source-test` version to v1.3.18
  sites/versions/v2/source-test.json
Owners: none

chore(main): Release plugins-source-k8s v2.4.1 (#4669)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore: Update plugin `source-k8s` version to v2.4.1
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v6.1.0 (#4697)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-okta` version to v1.3.11 (#4699)
  sites/versions/v2/source-okta.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.21 (#4700)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.3 (#4701)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.7 (#4702)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `source-test` version to v1.3.18 (#4703)
  sites/versions/v2/source-test.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4704)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

Update plugins/source/aws/resources/services/ram/resource_shares_mock_test.go
  plugins/source/aws/resources/services/ram/resource_shares_mock_test.go
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/aws/resources/services/ram/resource_share_associations_fetch.go
  plugins/source/aws/resources/services/ram/resource_share_associations_fetch.go
Owners: @hermanschaaf, @yevgenypats
