Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `destination-test` version to v1.3.7
  website/versions/destination-test.json
Owners: none

chore: Update plugin `source-github` version to v1.4.0
  website/versions/source-github.json
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.6 (#5499)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.4.0 (#5516)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.26 (#5500)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-bigquery v1.1.2 (#5541)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.26
  website/versions/cli.json
Owners: none

chore: Update plugin `source-aws` version to v7.4.0
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.3.1 (#5573)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.1.2
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `source-datadog` version to v1.0.2 (#5574)
  website/versions/source-datadog.json
Owners: none

chore: Update plugin `source-gandi` version to v1.1.1 (#5575)
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `source-okta` version to v1.4.1 (#5577)
  website/versions/source-okta.json
Owners: none

chore: Update plugin `source-k8s` version to v2.5.1 (#5578)
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-digitalocean` version to v3.1.1 (#5579)
  website/versions/source-digitalocean.json
Owners: none

chore: Update plugin `source-gcp` version to v4.0.0 (#5581)
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-heroku` version to v3.1.1 (#5582)
  website/versions/source-heroku.json
Owners: none

chore: Bootstrap AzureDevOps plugin (#5558)
  .github/pr_labeler.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/azuredevops/.gitignore
  plugins/source/azuredevops/.goreleaser.yaml
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/docs/tables/README.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/main.go
  plugins/source/azuredevops/resources/plugin/plugin.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-sqlite` version to v1.0.13 (#5586)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.7 (#5587)
  website/versions/destination-test.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.8.0 (#5585)
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `source-github` version to v1.4.0 (#5588)
  website/versions/source-github.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#5589)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-bigquery` version to v1.1.2 (#5592)
  website/versions/destination-bigquery.json
Owners: none

chore: Update CLI version to v2.0.26 (#5590)
  website/versions/cli.json
Owners: none

chore: Update plugin `source-aws` version to v7.4.0 (#5591)
  website/versions/source-aws.json
Owners: none

feat(azure): Add keyvaults and network_gateways (#5564)
  plugins/source/azure/client/client.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen2/recipes/keyvault_e.go
  plugins/source/azure/codegen2/recipes/network_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_keys.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_managed_hsms.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_secrets.md
  plugins/source/azure/docs/tables/azure_network_express_route_gateways.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/keyvault/keyvault.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys_fetch.go
  plugins/source/azure/resources/services/keyvault/keyvault_keys_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_managed_hsms.go
  plugins/source/azure/resources/services/keyvault/keyvault_managed_hsms_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_mock_test.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets_fetch.go
  plugins/source/azure/resources/services/keyvault/keyvault_secrets_mock_test.go
  plugins/source/azure/resources/services/network/express_route_gateways.go
  plugins/source/azure/resources/services/network/express_route_gateways_fetch.go
  plugins/source/azure/resources/services/network/express_route_gateways_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-source-azure v2.0.0
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

gen code + fetch
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/client/resolvers.go
  plugins/source/tailscale/codegen/main.go
  plugins/source/tailscale/codegen/resources/columns.go
  plugins/source/tailscale/codegen/resources/description.go
  plugins/source/tailscale/codegen/resources/fetch.go
  plugins/source/tailscale/codegen/resources/generate.go
  plugins/source/tailscale/codegen/resources/recipes.go
  plugins/source/tailscale/codegen/resources/resource.go
  plugins/source/tailscale/codegen/resources/tables.go
  plugins/source/tailscale/codegen/resources/template.go
  plugins/source/tailscale/codegen/resources/templates/resource.go.tpl
  plugins/source/tailscale/codegen/resources/templates/tables.go.tpl
  plugins/source/tailscale/codegen/resources/transformers.go
  plugins/source/tailscale/docs/tables/README.md
  plugins/source/tailscale/docs/tables/tailscale_acls.md
  plugins/source/tailscale/docs/tables/tailscale_device_routes.md
  plugins/source/tailscale/docs/tables/tailscale_devices.md
  plugins/source/tailscale/docs/tables/tailscale_dns.md
  plugins/source/tailscale/docs/tables/tailscale_keys.md
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/resources/plugin/tables.go
  plugins/source/tailscale/resources/services/acl/acls.go
  plugins/source/tailscale/resources/services/acl/acls_fetch.go
  plugins/source/tailscale/resources/services/device/devices.go
  plugins/source/tailscale/resources/services/device/devices_fetch.go
  plugins/source/tailscale/resources/services/device/routes.go
  plugins/source/tailscale/resources/services/device/routes_fetch.go
  plugins/source/tailscale/resources/services/dns/dns.go
  plugins/source/tailscale/resources/services/dns/dns_fetch.go
  plugins/source/tailscale/resources/services/key/keys.go
  plugins/source/tailscale/resources/services/key/keys_fetch.go
Owners: @cloudquery/cloudquery-opensource

tests
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/resources/services/acl/acls_mock_test.go
  plugins/source/tailscale/resources/services/device/devices_mock_test.go
  plugins/source/tailscale/resources/services/device/routes_mock_test.go
  plugins/source/tailscale/resources/services/dns/dns_mock_test.go
  plugins/source/tailscale/resources/services/key/keys_mock_test.go
Owners: @cloudquery/cloudquery-opensource

start codegen
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/interface.go
  plugins/source/tailscale/codegen/resources/recipes.go
  plugins/source/tailscale/codegen/resources/resource.go
  plugins/source/tailscale/codegen/resources/schema.go
  plugins/source/tailscale/codegen/resources/write.go
Owners: @cloudquery/cloudquery-opensource

init
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: none

init client
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: @cloudquery/cloudquery-opensource

prep schema gen
  plugins/source/tailscale/codegen/resources/generate.go
  plugins/source/tailscale/codegen/resources/schema.go
  plugins/source/tailscale/codegen/resources/template.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: @cloudquery/cloudquery-opensource

clone
  plugins/source/tailscale/client/client.go
Owners: @cloudquery/cloudquery-opensource

basseline structure
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/spec.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
  plugins/source/tailscale/resources/plugin/plugin_test.go
  plugins/source/tailscale/resources/plugin/tables.go
Owners: @cloudquery/cloudquery-opensource

sentry
  plugins/source/tailscale/codegen/resources/generate.go
  plugins/source/tailscale/main.go
  plugins/source/tailscale/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

allow tailnet
  .github/styles/Vocab/Base/accept.txt
  website/pages/docs/plugins/sources/tailscale/configuration.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

redundant comment
  plugins/source/tailscale/main.go
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
