Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

`cloudquery cli` => CloudQuery CLI
  website/pages/docs/developers/running-locally.md
Owners: none

fix: Remove codegen files before re-generating for GCP (#4720)
  plugins/source/gcp/Makefile
  plugins/source/gcp/resources/services/container/clusters_mock_test.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-gcp v3.0.2
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v3.0.2 (#4726)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

filepath => file path
  website/pages/docs/developers/running-locally.md
Owners: none

chore: Update plugin `source-gcp` version to v3.0.2
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-gcp` version to v3.0.2 (#4727)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

Update website/pages/docs/developers/running-locally.md
  website/pages/docs/developers/running-locally.md
Owners: none

Update website/pages/docs/developers/running-locally.md
  website/pages/docs/developers/running-locally.md
Owners: none

Singular plugin in finally statement
  website/pages/docs/developers/running-locally.md
Owners: none

fix(website): Add running locally (#4725)
  website/pages/docs/developers/_meta.json
  website/pages/docs/developers/running-locally.md
Owners: none

add initial draft for aws kms key grant deep dive
  website/pages/blog/_meta.json
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

pre resolver added
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/access_details_fetch.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services.go
  plugins/source/aws/resources/services/iam/group_services_last_accessed_fetch.go
  plugins/source/aws/resources/services/iam/groups.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services.go
  plugins/source/aws/resources/services/iam/policy_services_last_accessed_fetch..go
  plugins/source/aws/resources/services/iam/role_last_accessed_services.go
  plugins/source/aws/resources/services/iam/role_services_last_accessed_fetch.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/user_services_last_accessed_fetch.go
  plugins/source/aws/resources/services/iam/users.go
Owners: @hermanschaaf, @yevgenypats

chore: Remove dead resolvers (#4692)
  plugins/source/aws/client/resolvers.go
  plugins/source/aws/client/resolvers_test.go
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/codegen/recipes/glacier.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/codegen/recipes/sns.go
  plugins/source/aws/codegen/recipes/sqs.go
  plugins/source/aws/resources/services/ecr/registry_policies.go
  plugins/source/aws/resources/services/glacier/vault_access_policies.go
  plugins/source/aws/resources/services/glacier/vault_lock_policies.go
  plugins/source/aws/resources/services/route53/traffic_policy_versions.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/topics.go
  plugins/source/aws/resources/services/sqs/queues.go
Owners: @hermanschaaf, @yevgenypats

update blog post description
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

pre resource resolver usage
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services.go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services_fetch..go
  plugins/source/aws/resources/services/iam/role_last_accessed_services.go
  plugins/source/aws/resources/services/iam/role_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore: CQ Product Updates #1
  website/pages/blog/_meta.json
  website/pages/blog/product-updates-1.md
Owners: none

docs
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_group_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_groups.md
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/docs/tables/aws_iam_policy_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_role_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_roles.md
  plugins/source/aws/docs/tables/aws_iam_user_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_users.md
Owners: @hermanschaaf, @yevgenypats

update language and add images
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/public/images/blog/aws-kms-key-grants-deep-dive/create-grant-cloudtrail.png
  website/public/images/blog/aws-kms-key-grants-deep-dive/policy-eval-resource.png
Owners: none

initial
  plugins/source/aws/codegen/recipes/config.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_config_config_rule_compliances.md
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/config/config_rule_compliances.go
  plugins/source/aws/resources/services/config/config_rule_compliances_fetch.go
  plugins/source/aws/resources/services/config/config_rules.go
  plugins/source/aws/resources/services/config/config_rules_fetch.go
  plugins/source/aws/resources/services/config/config_rules_mock_test.go
Owners: @hermanschaaf, @yevgenypats

add retire vs revoke and other updates
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

fix spelling
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

Account Contacts
  plugins/source/aws/client/mocks/account.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/account.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/account.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/account/alternate_contacts.go
  plugins/source/aws/resources/services/account/contacts.go
  plugins/source/aws/resources/services/account/contacts_fetch.go
  plugins/source/aws/resources/services/account/contacts_mock_test.go
Owners: @hermanschaaf, @yevgenypats

add links and references and cleanup
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#4732)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Docs + mocks
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_account_alternate_contacts.md
  plugins/source/aws/docs/tables/aws_account_contacts.md
  plugins/source/aws/resources/services/account/alternate_contacts_fetch.go
  plugins/source/aws/resources/services/account/alternate_contacts_mock_test.go
Owners: @hermanschaaf, @yevgenypats

separate resources
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services_mock_test.go
  plugins/source/aws/resources/services/iam/groups.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services_fetch..go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services_mock_test.go
  plugins/source/aws/resources/services/iam/role_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/role_last_accessed_services_mock_test.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services_mock_test.go
  plugins/source/aws/resources/services/iam/users.go
Owners: @hermanschaaf, @yevgenypats

update recs
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

update recs
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

grammar and spelling fixes
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

remove spaces for sql
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

Update viewer_policy_https.sql
  plugins/source/aws/policies/queries/cloudfront/viewer_policy_https.sql
Owners: @hermanschaaf, @yevgenypats

Update go.mod
  plugins/source/aws/go.mod
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.17.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.24
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/autoscaling to v1.24.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.20.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.16.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
