Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-sqlite v1.0.0 (#4276)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.3.2 (#4202)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.4.1 (#4289)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore: Revert "chore: Update plugin `destination-postgresql` version to v1.7.6" (#4296)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.3.2 (#4198)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.4.0 (#4229)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore: Update plugin `destination-csv` version to v1.1.5 (#4253)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update CLI version to v2.0.10 (#4251)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-azure` version to v1.4.1 (#4245)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update plugin-sdk for cloudflare to v1.3.2 (#4196)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.2 (#4254)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.11 (#4183)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `destination-postgresql` version to v1.7.6 (#4283)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release plugins-source-okta v1.3.4 (#4169)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.13 (#4212)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.3.13 (#4241)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-sqlite v1.0.1 (#4287)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v2.4.13 (#4264)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.13.0 (#4141)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.5 (#4218)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.14 (#4269)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.12 (#4225)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

fix(deps): Update plugin-sdk for cli to v1.4.1 (#4290)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release plugins-source-gcp v2.4.12 (#4215)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.2 (#4249)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for cli to v1.3.2 (#4195)
  cli/go.mod
  cli/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.4.0 (#4192)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update plugin-sdk for test to v1.4.0 (#4240)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Update plugin `source-github` version to v1.2.9 (#4180)
  sites/versions/v2/source-github.json
Owners: none

feat: Add SQLite destination plugin (#3471)
  .github/pr_labeler.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/.goreleaser.template.yaml
  plugins/destination/sqlite/.gitignore
  plugins/destination/sqlite/.goreleaser.yaml
  plugins/destination/sqlite/CONTRIBUTING.md
  plugins/destination/sqlite/Dockerfile
  plugins/destination/sqlite/Makefile
  plugins/destination/sqlite/README.md
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/metrics.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/spec.go
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/client/types.go
  plugins/destination/sqlite/client/write.go
  plugins/destination/sqlite/gencc.sh
  plugins/destination/sqlite/gencpp.sh
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/sqlite/main.go
  plugins/destination/sqlite/resources/plugin/plugin.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for test to v1.3.2 (#4206)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.4.1 (#4294)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.3.2 (#4194)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore: Update plugin `source-terraform` version to v1.2.13 (#4263)
  sites/versions/v2/source-terraform.json
Owners: none

fix(deps): Update plugin-sdk for github to v1.4.0 (#4233)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.2.23 (#4223)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.5 (#4246)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(website): Redirect some broken links (#4142)
  website/vercel.json
Owners: none

chore(main): Release plugins-destination-test v1.2.24 (#4265)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.13 (#4222)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none
