Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-snowflake v1.0.3 (#5094)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore: Update plugin `destination-snowflake` version to v1.0.3
  website/versions/destination-snowflake.json
Owners: none

chore: Update plugin `destination-snowflake` version to v1.0.3 (#5149)
  website/versions/destination-snowflake.json
Owners: none

feat(gcp): ContainerAnalysis resources (#5115)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_containeranalysis_occurrences.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/containeranalysis/occurrences.go
  plugins/source/gcp/resources/services/containeranalysis/occurrences_mock_test.go
Owners: @yevgenypats, @disq

chore(deps): Update dependency cloudquery/cloudquery to v1.7.15
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Update website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.15 (#5151)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Filter tables used for writing
  cli/cmd/sync2.go
Owners: @yevgenypats

update docs link
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.10.0
  cli/go.mod
  cli/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

webpages adjustments
  plugins/source/datadog/README.md
  website/pages/docs/plugins/sources/datadog/_meta.json
  website/pages/docs/plugins/sources/datadog/configuration.md
  website/pages/docs/plugins/sources/datadog/overview.md
Owners: @cloudquery/cloudquery-opensource

Fixes
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

More fixes
  cli/cmd/sync2.go
Owners: @yevgenypats

Update plugin-sdk
  cli/go.mod
  cli/go.sum
Owners: none

fix(website): Include website versions files in build cache
  website/next.config.mjs
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.10.0 (#5153)
  cli/go.mod
  cli/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(website): Include website versions files in build cache (#5154)
  website/next.config.mjs
Owners: none

sql fix
  website/pages/docs/plugins/sources/datadog/overview.md
Owners: none

add SCP and ARN to vocab
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

update date
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

feat: Draft blog use cq for EventBridge crossaccount (#5004)
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5158)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

tables added
  plugins/source/datadog/resources/plugin/tables.go
Owners: @cloudquery/cloudquery-opensource

review comments
  plugins/source/aws/policies/README.md
  website/README.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/configservice to v1.28.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.74.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.24.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/firehose to v1.15.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/fsx to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.36.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/inspector2 to v1.9.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.28.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.27.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/configservice.go
  plugins/source/aws/client/services/configservice.go
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/resources/services/config/config_rules.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_fsx_storage_virtual_machines.md
  plugins/source/aws/resources/services/fsx/storage_virtual_machines.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_inspector2_findings.md
  plugins/source/aws/resources/services/inspector2/findings.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/ec2.go
  plugins/source/aws/client/services/ec2.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/configservice to v1.28.0 (#5159)
  plugins/source/aws/client/mocks/configservice.go
  plugins/source/aws/client/services/configservice.go
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/config/config_rules.go
Owners: @hermanschaaf, @yevgenypats
