Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

docs
  website/pages/docs/plugins/sources/aws/tables.md
Owners: none

docs
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/mocks/releases.go
  plugins/source/gitlab/client/services/releases.go
  plugins/source/gitlab/codegen/recipes/projects.go
  plugins/source/gitlab/codegen/recipes/releases.go
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/docs/tables/gitlab_projects_releases.md
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/resources/services/groups/users_test.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_releases.go
  plugins/source/gitlab/resources/services/projects/projects_releases_fetch.go
Owners: @cloudquery/cloudquery-opensource

Add users
  plugins/source/gitlab/client/mocks/users.go
  plugins/source/gitlab/client/services/users.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/users.go
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_users.md
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/groups_test.go
  plugins/source/gitlab/resources/services/groups/users_fetch.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
  plugins/source/gitlab/resources/services/users/users_test.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sfn to v1.16.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/sfn.go
  plugins/source/aws/client/services/sfn.go
  plugins/source/aws/docs/tables/aws_stepfunctions_state_machines.md
  plugins/source/aws/resources/services/stepfunctions/state_machines.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sfn to v1.16.0 (#5284)
  plugins/source/aws/client/mocks/sfn.go
  plugins/source/aws/client/services/sfn.go
  plugins/source/aws/docs/tables/aws_stepfunctions_state_machines.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/stepfunctions/state_machines.go
Owners: @hermanschaaf, @yevgenypats

Save progress
  plugins/source/aws/policies/index.json
  plugins/source/aws/scripts/policy_docs/main.go
Owners: @hermanschaaf, @yevgenypats

separate two code blocks
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Address code review comments
  .github/workflows/dest_bigquery.yml
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/write.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Linting
  plugins/destination/bigquery/client/deletestale.go
Owners: @cloudquery/cloudquery-opensource

More linting
  plugins/destination/bigquery/client/client.go
Owners: @cloudquery/cloudquery-opensource

Add version badge
  website/pages/docs/plugins/destinations/bigquery/overview.md
Owners: none

adds a changelog
  plugins/source/crowdstrike/CHANGELOG.md
  website/pages/docs/plugins/sources/_meta.json
Owners: none

Fix policies
  plugins/source/aws/policies/queries/ec2/default_sg_no_access.sql
  plugins/source/aws/policies/queries/ec2/flow_logs_enabled_in_all_vpcs.sql
  plugins/source/aws/policies/queries/ec2/no_broad_public_ingress_on_port_22.sql
  plugins/source/aws/policies/queries/ec2/no_broad_public_ingress_on_port_3389.sql
  plugins/source/aws/policies/queries/iam/old_access_keys.sql
  plugins/source/aws/policies/queries/iam/password_policy_expire_old_passwords.sql
  plugins/source/aws/policies/queries/iam/password_policy_min_length.sql
  plugins/source/aws/policies/queries/iam/password_policy_min_lowercase.sql
  plugins/source/aws/policies/queries/iam/password_policy_min_number.sql
  plugins/source/aws/policies/queries/iam/password_policy_min_one_symbol.sql
  plugins/source/aws/policies/queries/iam/password_policy_min_uppercase.sql
  plugins/source/aws/policies/queries/iam/password_policy_prevent_reuse.sql
  plugins/source/aws/policies/queries/iam/policies_attached_to_groups_roles.sql
  plugins/source/aws/policies/queries/iam/policies_with_admin_rights.sql
  plugins/source/aws/policies/queries/iam/root_user_no_access_keys.sql
  plugins/source/aws/policies/queries/iam/unused_creds_disabled.sql
  plugins/source/aws/policies/queries/iam/unused_creds_disabled_45_days.sql
  plugins/source/aws/policies/queries/iam/users_with_two_active_access_keys.sql
  plugins/source/aws/policies/queries/iam/wildcard_access_policies.sql
  plugins/source/aws/policies/queries/kms/rotation_enabled_for_customer_key.sql
  plugins/source/aws/policies/queries/s3/deny_http_requests.sql
  plugins/source/aws/policies/queries/s3/s3_cross_region_replication.sql
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/aws/scripts/policy_docs/templates/policies.go.tpl
Owners: @hermanschaaf, @yevgenypats

Update goreleaser
  plugins/destination/bigquery/.goreleaser.yaml
Owners: @cloudquery/cloudquery-opensource

Workflow fixes
  .github/workflows/dest_bigquery.yml
  plugins/destination/bigquery/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

adds a dummy crowdstrike version
  website/versions/source-crowdstrike.json
Owners: none

udpate overview
  website/pages/docs/plugins/destinations/bigquery/overview.md
Owners: none

feat: BigQuery destination plugin (#5102)
  .github/pr_labeler.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/wait_for_required_workflows.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  plugins/destination/bigquery/.gitignore
  plugins/destination/bigquery/.goreleaser.yaml
  plugins/destination/bigquery/CHANGELOG.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/bigquery/Makefile
  plugins/destination/bigquery/README.md
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/metrics.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/bigquery/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/bigquery/_meta.json
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
  website/versions/destination-bigquery.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-bigquery v1.0.0
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

Update CHANGELOG.md
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

Fix goreleaser references
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

generate tables
  plugins/source/crowdstrike/Makefile
  website/pages/docs/plugins/sources/crowdstrike/tables.md
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update .github/workflows/dest_snowflake.yml
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(build): Fix workflow references in BigQuery and Snowflake plugins (#5291)
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-bigquery v1.0.0 (#5290)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.0.0
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.0.0 (#5292)
  website/versions/destination-bigquery.json
Owners: none

add template
  plugins/source/aws/scripts/policy_docs/templates/policies.go.tpl
Owners: @hermanschaaf, @yevgenypats

remove changelog
  plugins/source/crowdstrike/CHANGELOG.md
Owners: none

Add gitignore
  plugins/source/crowdstrike/.gitignore
Owners: @cloudquery/cloudquery-opensource

Filter results of getTablesForSpec to top-level tables in CLI
  cli/cmd/sync2.go
Owners: @yevgenypats

Populate file from template
  plugins/source/aws/Makefile
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/aws/scripts/policy_docs/templates/policies.go.tpl
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/docs/plugins/sources/aws/policies.md
Owners: @hermanschaaf, @yevgenypats

fix: Filter results of getTablesForSpec to top-level tables in CLI (#5294)
  cli/cmd/sync2.go
Owners: @yevgenypats

chore(main): Release cli v2.0.23
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.23 (#5247)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

Add more mock testing
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/resources/services/groups/groups_mock_test.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  plugins/source/gitlab/resources/services/settings/settings_mock_test.go
  plugins/source/gitlab/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Fix reference
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats
