Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

add more docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_sql_deleted_servers.md
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

chore(blog): Add product updates 2
  website/pages/blog/product-updates-2.md
Owners: none

remove dots
  website/pages/blog/product-updates-2.md
Owners: none

chore(blog): Add product updates 2 (#5791)
  website/pages/blog/product-updates-2.md
Owners: none

Address some comments
  plugins/source/slack/Makefile
  plugins/source/slack/client/multiplexers.go
Owners: @cloudquery/cloudquery-opensource

fix(gcp-resources): Add `projects/` prefix when listing IAM roles (#5655)
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Owners: @yevgenypats, @disq

Refactor RetryOnRateLimitError and add test
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/rate_limiting_test.go
Owners: @cloudquery/cloudquery-opensource

go mock updates
  plugins/source/slack/Makefile
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
Owners: @cloudquery/cloudquery-opensource

aws: Check error returned by formatAndWriteFile
  plugins/source/aws/codegen/services/generate.go
Owners: @hermanschaaf, @yevgenypats

Revert AWS change
  plugins/source/aws/codegen/services/generate.go
Owners: @hermanschaaf, @yevgenypats

remove unused script
  plugins/source/slack/scripts/manifest/main.go
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  plugins/source/slack/Makefile
  plugins/source/slack/README.md
Owners: @cloudquery/cloudquery-opensource

fix: Update docs
  website/pages/docs/plugins/sources/aws/tables.md
Owners: none

fix(aws-codegen): Check error returned by formatAndWriteFile (#5793)
  plugins/source/aws/codegen/services/generate.go
Owners: @hermanschaaf, @yevgenypats

fix alloc
  plugins/source/slack/client/multiplexers.go
Owners: @cloudquery/cloudquery-opensource

Remove // +build tools
  plugins/source/slack/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

fix(table-diff): Support PK changes (#5638)
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5636_diff.txt
Owners: none

Update SDK
  plugins/source/slack/client/testing.go
  plugins/source/slack/docs/tables/README.md
  plugins/source/slack/docs/tables/slack_conversation_bookmarks.md
  plugins/source/slack/docs/tables/slack_conversation_histories.md
  plugins/source/slack/docs/tables/slack_conversation_members.md
  plugins/source/slack/docs/tables/slack_conversation_replies.md
  plugins/source/slack/docs/tables/slack_conversations.md
  plugins/source/slack/docs/tables/slack_files.md
  plugins/source/slack/docs/tables/slack_teams.md
  plugins/source/slack/docs/tables/slack_user_presences.md
  plugins/source/slack/docs/tables/slack_users.md
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/slack/tables.md
Owners: @cloudquery/cloudquery-opensource

fix: Update to new SDK
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/main.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/main.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/main.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/main.go
  plugins/destination/test/main.go
  plugins/source/k8s/codegen/recipes/templates/plugin.go.tpl
  website/pages/docs/plugins/sources/azure/tables.md
  website/pages/docs/plugins/sources/cloudflare/tables.md
  website/pages/docs/plugins/sources/datadog/tables.md
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/pages/docs/plugins/sources/gandi/tables.md
  website/pages/docs/plugins/sources/gcp/tables.md
  website/pages/docs/plugins/sources/github/tables.md
  website/pages/docs/plugins/sources/heroku/tables.md
  website/pages/docs/plugins/sources/k8s/tables.md
  website/pages/docs/plugins/sources/okta/tables.md
  website/pages/docs/plugins/sources/tailscale/tables.md
  website/pages/docs/plugins/sources/terraform/tables.md
  website/pages/docs/plugins/sources/vercel/tables.md
Owners: @cloudquery/cloudquery-opensource

chore: Use make target for root update docs script
  scripts/update-docs.sh
Owners: none

Update services.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

Update source_gitlab.yml
  .github/workflows/source_gitlab.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Add a script to codegen for all plugins
  scripts/update-codegen.sh
Owners: none

remove vercel refs
  website/pages/docs/plugins/sources/gitlab/configuration.md
  website/pages/docs/plugins/sources/gitlab/overview.md
Owners: none

Update configuration.md
  website/pages/docs/plugins/sources/gitlab/configuration.md
Owners: none

chore: Add a script to codegen for all plugins (#5799)
  scripts/update-codegen.sh
Owners: none

chore: Use make target for root update docs script (#5798)
  scripts/update-docs.sh
Owners: none

fix(table-diff): Improve primary keys comments
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
Owners: none

feat(gcp-resources): Add deny policies
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_iam_deny_policies.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/iam/deny_policies.go
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/gcp/resources/services/iam/deny_policies_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Cleanup
  plugins/source/gcp/codegen/recipes/iam.go
Owners: @yevgenypats, @disq

chore: Update docs
  plugins/source/gcp/docs/tables/gcp_iam_deny_policies.md
Owners: @yevgenypats, @disq

chore(website): Product update fix
  website/pages/blog/product-updates-2.md
Owners: none

refactor ses
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_configuration_set_event_destinations.md
  plugins/source/aws/docs/tables/aws_ses_configuration_sets.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations_fetch.go
  plugins/source/aws/resources/services/ses/configuration_sets.go
  plugins/source/aws/resources/services/ses/configuration_sets_fetch.go
  plugins/source/aws/resources/services/ses/contact_lists_fetch.go
  plugins/source/aws/resources/services/ses/identities.go
  plugins/source/aws/resources/services/ses/identities_fetch.go
  plugins/source/aws/resources/services/ses/models/ses.go
  plugins/source/aws/resources/services/ses/templates.go
  plugins/source/aws/resources/services/ses/templates_fetch.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

chore(website): Product update fix (#5801)
  website/pages/blog/product-updates-2.md
Owners: none

fix(table-diff): Improve primary keys comments (#5800)
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
Owners: none

Add CI workflow
  .github/pr_labeler.yml
  .github/workflows/source_slack.yml
  .github/workflows/wait_for_required_workflows.yml
  release-please-config.json
  website/pages/docs/plugins/sources/slack/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Add more retries
  plugins/source/slack/client/mocks/slack.go
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/rate_limiting_test.go
  plugins/source/slack/client/services/slack.go
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

feat(aws)!: Refactor SES (#5802)
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_configuration_set_event_destinations.md
  plugins/source/aws/docs/tables/aws_ses_configuration_sets.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations.go
  plugins/source/aws/resources/services/ses/configuration_set_event_destinations_fetch.go
  plugins/source/aws/resources/services/ses/configuration_sets.go
  plugins/source/aws/resources/services/ses/configuration_sets_fetch.go
  plugins/source/aws/resources/services/ses/contact_lists_fetch.go
  plugins/source/aws/resources/services/ses/identities.go
  plugins/source/aws/resources/services/ses/identities_fetch.go
  plugins/source/aws/resources/services/ses/models/ses.go
  plugins/source/aws/resources/services/ses/templates.go
  plugins/source/aws/resources/services/ses/templates_fetch.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Migrate GCP to new proto imports
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/compute/projects_fetch.go
  plugins/source/gcp/resources/services/compute/projects_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
Owners: @yevgenypats, @disq

Fix linting
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/errors.go
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
