Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.17.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

feat: Azure more differences
  plugins/source/azure/resources/services/container/replications.go
Owners: @erezrokah, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/cloudwatchlogs.go
  plugins/source/aws/client/services/cloudwatchlogs.go
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_log_groups.md
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.17.0 (#5130)
  plugins/source/aws/client/mocks/cloudwatchlogs.go
  plugins/source/aws/client/services/cloudwatchlogs.go
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_log_groups.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
Owners: @hermanschaaf, @yevgenypats

chore(azure-codegen): Add error handling to exec.Command
  plugins/source/azure/codegen/main.go
Owners: @erezrokah, @yevgenypats

First working version
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

review comments
  plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
Owners: @cloudquery/cloudquery-opensource

fix spelling action check
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(website): Link directly to docs in recipes instead of GitHub
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp.md
Owners: none

Check whether supported or not
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

fix(website): Fix source plugins tables pagination link
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/terraform/_meta.json
Owners: none

Fix count printing
  cli/cmd/sync2.go
Owners: @yevgenypats

Fixes
  cli/cmd/sync2.go
Owners: @yevgenypats

fix(website): Fix source plugins tables pagination link (#5142)
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/terraform/_meta.json
Owners: none

fix(website): Link directly to docs in recipes instead of GitHub (#5141)
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp.md
Owners: none

chore(azure-codegen): Add error handling to exec.Command (#5140)
  plugins/source/azure/codegen/main.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/client/client.go
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
  plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
Owners: @cloudquery/cloudquery-opensource

fix: DeleteStale from relational tables as well
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/sqlite/client/deletestale.go
Owners: @cloudquery/cloudquery-opensource

update query and add some language
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

Update website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

update grammar
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

fix: DeleteStale from relational tables as well (#5143)
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/sqlite/client/deletestale.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-postgresql v1.7.15
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.10
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.3
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

udpate readme
  plugins/source/crowdstrike/README.md
Owners: @cloudquery/cloudquery-opensource

commit
  plugins/source/crowdstrike/README.md
Owners: @cloudquery/cloudquery-opensource

add sample policy and update grammar
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

add contact us section
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

refactor(website): Simplify Nextra versions replace code
  website/next.config.mjs
Owners: none

refactor: Remove log
  website/next.config.mjs
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.10 (#5059)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.15 (#5058)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.10
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.10 (#5147)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.15
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.15 (#5148)
  website/versions/destination-postgresql.json
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
