Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for okta to v1.5.2
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.2
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.2
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.2
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.2
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.2
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.5.2 (#4555)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v5.1.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.2 (#4556)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.6
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.2 (#4557)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release cli v2.0.16
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.2 (#4558)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.17
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.2 (#4559)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release plugins-destination-csv v1.1.9
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.2 (#4560)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.21
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.2 (#4562)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-source-github v1.2.15
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.2 (#4563)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.6
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.2 (#4565)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.10
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.2 (#4564)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.2 (#4566)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.10
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.2 (#4567)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.6
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

feat(website): Chose guide based on OS
  website/components/Tabs.tsx
  website/components/mdx/_getting-started-download-section.mdx
  website/components/mdx/_os.ts
  website/middleware.ts
  website/package.json
  website/yarn.lock
Owners: none

Fix codegen and msk
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/discover/discover.go
  plugins/source/aws/codegen/recipes/kafka.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/mock_test.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_and_describe_resources_1/mock_test.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/mock_test.go.tpl
  plugins/source/aws/resources/services/appstream/app_blocks_mock_test.go
  plugins/source/aws/resources/services/appstream/directory_configs_mock_test.go
  plugins/source/aws/resources/services/appstream/fleets_mock_test.go
  plugins/source/aws/resources/services/appstream/image_builders_mock_test.go
  plugins/source/aws/resources/services/appstream/images_mock_test.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_mock_test.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_mock_test.go
  plugins/source/aws/resources/services/eventbridge/archives_mock_test.go
  plugins/source/aws/resources/services/eventbridge/connections_mock_test.go
  plugins/source/aws/resources/services/eventbridge/endpoints_mock_test.go
  plugins/source/aws/resources/services/eventbridge/event_sources_mock_test.go
  plugins/source/aws/resources/services/eventbridge/replays_mock_test.go
  plugins/source/aws/resources/services/kafka/cluster_operations_fetch.go
  plugins/source/aws/resources/services/kafka/cluster_operations_mock_test.go
  plugins/source/aws/resources/services/kafka/clusters_mock_test.go
  plugins/source/aws/resources/services/kafka/configurations_mock_test.go
  plugins/source/aws/resources/services/kafka/nodes_fetch.go
  plugins/source/aws/resources/services/kafka/nodes_mock_test.go
  plugins/source/aws/resources/services/ram/principals_mock_test.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_mock_test.go
  plugins/source/aws/resources/services/ram/resources_mock_test.go
Owners: @hermanschaaf, @yevgenypats

Remove test-error file from this PR
  cli/cmd/testdata/dest.test-error.yml
Owners: @yevgenypats

Update Herman's link to Github
  website/content/team.ts
Owners: none

update libs, regen
  plugins/source/gcp/docs/tables/gcp_bigquery_datasets.md
  plugins/source/gcp/docs/tables/gcp_compute_addresses.md
  plugins/source/gcp/docs/tables/gcp_compute_instances.md
  plugins/source/gcp/docs/tables/gcp_container_clusters.md
  plugins/source/gcp/docs/tables/gcp_storage_buckets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/bigquery/datasets.go
  plugins/source/gcp/resources/services/compute/addresses.go
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/container/clusters.go
  plugins/source/gcp/resources/services/storage/buckets.go
Owners: @yevgenypats, @disq

pretty-print enums
  plugins/source/gcp/client/resolvers.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/docs/tables/gcp_container_clusters.md
  plugins/source/gcp/docs/tables/gcp_domains_registrations.md
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/docs/tables/gcp_logging_metrics.md
  plugins/source/gcp/docs/tables/gcp_logging_sinks.md
  plugins/source/gcp/docs/tables/gcp_monitoring_alert_policies.md
  plugins/source/gcp/docs/tables/gcp_redis_instances.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/docs/tables/gcp_serviceusage_services.md
  plugins/source/gcp/resources/services/container/clusters.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/projects.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

lint
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/docs/tables/gcp_functions_functions.md
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/container/clusters_fetch.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/project_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/projects_mock_test.go
Owners: @yevgenypats, @disq

tidy
  plugins/source/gcp/go.sum
Owners: none

Update Makefile
  plugins/source/k8s/Makefile
Owners: @cloudquery/cloudquery-opensource

rotation_period
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/docs/tables/gcp_kms_crypto_keys.md
  plugins/source/gcp/resources/services/kms/crypto_keys.go
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
Owners: @yevgenypats, @disq

sql update
  plugins/source/gcp/policies/queries/kms/keys_not_rotated_within_90_days.sql
Owners: @yevgenypats, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
