Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/wafv2 to v1.23.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.15.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.33.2 (#5402)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.25.1 (#5405)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.32.0 (#5413)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sns to v1.18.7 (#5400)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/wafv2 to v1.23.2 (#5408)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.15.2 (#5410)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/waf to v1.11.20
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/waf to v1.11.20 (#5406)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(ci): Set `allow_inactive: true` for wait-for-vercel action
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

serverless is a word now, yo
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(ci): Set `allow_inactive: true` for wait-for-vercel action (#5415)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Some more tweaks
  website/pages/blog/announcing-cloudquery-bigquery-destination.md
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.0
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.0 (#5416)
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-github v1.3.0
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.0
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v3.1.0
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.3.0
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.0
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.4.0
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.0
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.3.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.4
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v3.2.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.6
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.1.0
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-csv v1.1.13
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-bigquery v1.0.1
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.22
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.17
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.1
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.12
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

Remove recipes section and refactor docs
  website/pages/docs/_meta.json
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/docker.md
  website/pages/docs/advanced-topics/migrations.md
  website/pages/docs/core-concepts/_meta.json
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/overview.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/_meta.json
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/vercel.json
Owners: none

doc(website): Add BigQuery blog post (#5383)
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/announcing-cloudquery-bigquery-destination.md
  website/public/images/blog/announcing-cloudquery-bigquery-destination/bigquery-get-public-buckets.png
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Migrate only selected tables
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

Simplify comment
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

Fixes
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/overview.md
Owners: none

Fix broken links
  website/pages/blog/announcing-cloudquery-snowflake-destination.md
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/blog/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/blog/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/blog/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/blog/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/blog/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/blog/cloudquery-v1-release.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/reference/source-spec.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
