Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

Improve azure file backend
  plugins/destination/file/internal/backends/azure-blob-storage/file.go
  plugins/destination/file/internal/backends/azure-blob-storage/file_test.go
Owners: @cloudquery/cloudquery-opensource

some more fixes
  plugins/destination/file/client/json.go
  plugins/destination/file/client/json_transformer.go
  plugins/destination/file/client/write.go
Owners: @cloudquery/cloudquery-opensource

more work
  plugins/destination/file/client/file.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/local/file.go
  plugins/destination/file/internal/backends/s3/file.go
Owners: @cloudquery/cloudquery-opensource

tests working again
  plugins/destination/file/client/csv_test.go
  plugins/destination/file/client/file.go
  plugins/destination/file/client/json_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

fmt fixes
  plugins/destination/file/client/json.go
Owners: @cloudquery/cloudquery-opensource

feat: Add destination file plugin
  plugins/destination/file/.gitignore
  plugins/destination/file/.goreleaser.yaml
  plugins/destination/file/CHANGELOG.md
  plugins/destination/file/Makefile
  plugins/destination/file/README.md
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/metrics.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/migrate_test.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/transformer.go
  plugins/destination/file/client/transformer_csv.go
  plugins/destination/file/client/transformer_json.go
  plugins/destination/file/client/write.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
  plugins/destination/file/client/write_remote.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
  plugins/destination/file/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

wip
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
Owners: @cloudquery/cloudquery-opensource

more tests
  plugins/destination/file/client/file.go
  plugins/destination/file/client/migrate_test.go
  plugins/destination/file/client/read_csv.go
  plugins/destination/file/client/read_json.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/gcs/file_test.go
  plugins/destination/file/internal/backends/local/file.go
  plugins/destination/file/internal/backends/local/file_test.go
  plugins/destination/file/internal/backends/s3/file_test.go
Owners: @cloudquery/cloudquery-opensource

somre more minor improvments
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/csv.go
  plugins/destination/file/client/csv_test.go
  plugins/destination/file/client/csv_transformer.go
  plugins/destination/file/client/file.go
  plugins/destination/file/client/json.go
  plugins/destination/file/client/json_test.go
  plugins/destination/file/client/json_transformer.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/transformer.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/s3/file.go
Owners: @cloudquery/cloudquery-opensource

Update go.mod
  plugins/destination/file/go.mod
Owners: none

more work
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/file.go
  plugins/destination/file/client/read_json.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
  plugins/destination/file/go.mod
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/gcs/file_test.go
  plugins/destination/file/internal/backends/local/file.go
  plugins/destination/file/internal/backends/local/file_test.go
  plugins/destination/file/internal/backends/s3/file.go
  plugins/destination/file/internal/backends/s3/file_test.go
Owners: @cloudquery/cloudquery-opensource

lint
  plugins/destination/file/client/csv.go
  plugins/destination/file/client/csv_test.go
  plugins/destination/file/client/json_test.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/s3/file.go
Owners: @cloudquery/cloudquery-opensource

nits
  plugins/destination/file/client/json.go
  plugins/destination/file/client/read_json.go
Owners: @cloudquery/cloudquery-opensource

more wip
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/file.go
  plugins/destination/file/client/gcs.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/read_csv.go
  plugins/destination/file/client/read_json.go
  plugins/destination/file/client/read_remote.go.backup
  plugins/destination/file/client/s3.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
Owners: @cloudquery/cloudquery-opensource

Add azure blob storage backend
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/internal/backends/azure-blob-storage/file.go
  plugins/destination/file/internal/backends/azure-blob-storage/file_test.go
  plugins/destination/file/internal/backends/azure-blob-storage/testdata/file.txt
Owners: @cloudquery/cloudquery-opensource

tests passing
  plugins/destination/file/client/read_csv.go
  plugins/destination/file/client/read_json.go
Owners: @cloudquery/cloudquery-opensource

fix some more bugs
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/write.go
Owners: @cloudquery/cloudquery-opensource

better abstraction
  plugins/destination/file/client/file.go
  plugins/destination/file/client/read_remote.go.backup
  plugins/destination/file/client/s3.go
  plugins/destination/file/client/write_csv.go
  plugins/destination/file/client/write_json.go
  plugins/destination/file/client/write_remote.go
  plugins/destination/file/internal/backends/gcs/file.go
  plugins/destination/file/internal/backends/local/file.go
  plugins/destination/file/internal/backends/s3/file.go
Owners: @cloudquery/cloudquery-opensource

Rename azure dir
  plugins/destination/file/internal/backends/azure_blob_storage/file.go
  plugins/destination/file/internal/backends/azure_blob_storage/file_test.go
  plugins/destination/file/internal/backends/azure_blob_storage/testdata/file.txt
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v9.0.0 (#5872)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.3.3 (#5877)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v4.0.1 (#5886)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.3.3
  website/versions/source-terraform.json
Owners: none

chore: Update plugin `source-digitalocean` version to v4.0.1
  website/versions/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-azure v3.0.0 (#5889)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-slack v1.0.1 (#5893)
  .release-please-manifest.json
  plugins/source/slack/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.3.0 (#5927)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-slack` version to v1.0.1
  website/versions/source-slack.json
Owners: none

chore(main): Release plugins-source-gitlab v1.0.1 (#5962)
  .release-please-manifest.json
  plugins/source/gitlab/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.25 (#5963)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-gitlab` version to v1.0.1
  website/versions/source-gitlab.json
Owners: none

chore(main): Release plugins-source-tailscale v1.0.2 (#5964)
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v5.3.0
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-test` version to v1.3.25
  website/versions/source-test.json
Owners: none

chore: Update plugin `source-tailscale` version to v1.0.2
  website/versions/source-tailscale.json
Owners: none

chore: Update plugin `source-azure` version to v3.0.0
  website/versions/source-azure.json
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.3 (#5965)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v9.0.0
  website/versions/source-aws.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.25
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

fix(aws_ses_active_receipt_rule_sets): Don't sync empty return values from DescribeActiveReceiptRuleSet
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
