Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-azure` version to v1.3.12 (#4175)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update plugin `destination-sqlite` version to v1.0.0 (#4280)
  sites/versions/v2/destination-sqlite.json
Owners: none

feat: Parallelize Athena subresources (#4118)
  plugins/source/aws/codegen/recipes/athena.go
  plugins/source/aws/resources/services/athena/work_group_named_queries.go
  plugins/source/aws/resources/services/athena/work_group_prepared_statements.go
  plugins/source/aws/resources/services/athena/work_group_query_executions.go
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-okta v1.3.5 (#4219)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.9 (#4176)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.4.1 (#4293)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.1 (#4165)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.2.11 (#4257)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.3.12 (#4181)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for terraform to v1.3.2 (#4205)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.15 (#4255)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.2.22 (#4186)
  sites/versions/v2/destination-test.json
Owners: none

fix(deps): Update plugin-sdk for test to v1.3.2 (#4207)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.13 (#4179)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `destination-csv` version to v1.1.4 (#4178)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.3.2 (#4204)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.4.0 (#4227)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.0 (#4191)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.4.0 (#4235)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.4.0 (#4237)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.14 (#4248)
  sites/versions/v2/source-digitalocean.json
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.3.2 (#4201)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore: Update plugin `source-github` version to v1.2.10 (#4247)
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.6 (#4267)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.4.0 (#4230)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.12 (#4174)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.3.2 (#4197)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release cli v2.0.11 (#4256)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.4.0 (#4239)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.4.0 (#4236)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.3 (#4308)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.3.13 (#4220)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v2.4.14 (#4305)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.3.2 (#4193)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.3.2 (#4200)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.14 (#4214)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.3.6 (#4266)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.2.9 (#4164)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.10 (#4210)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.4 (#4170)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
