Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(release): Increase Go releaser timeout
  .github/workflows/release_plugin.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5876)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

chore(release): Increase Go releaser timeout (#5874)
  .github/workflows/release_plugin.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.7
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.7 (#5811)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

Paginate Ec2 Describe Images
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/ec2/images_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.7
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudhsmv2 to v1.13.24
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssoadmin to v1.15.16
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.77.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/route53domains to v1.13.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.60.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/resources/services/route53/domains.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.7 (#5879)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudhsmv2 to v1.13.24 (#5881)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssoadmin to v1.15.16 (#5882)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.77.0 (#5883)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/route53domains to v1.13.0 (#5884)
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/route53/domains.go
Owners: @hermanschaaf, @yevgenypats

initial start for Azure CIS 1.5.0
  plugins/source/azure/policies/cis_v1.5.0/policy.sql
Owners: @erezrokah, @yevgenypats

Start section 1 of identity and access management policy
  plugins/source/azure/policies/cis_v1.5.0/section_1.sql
Owners: @erezrokah, @yevgenypats

add in section 10, miscellaneous to CIS 1.5
  plugins/source/azure/policies/cis_v1.5.0/section_10.sql
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.60.0 (#5885)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.46
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

Add section 2.1 Defender Plans of Microsoft Defender for Cloud
  plugins/source/azure/policies/cis_v1.5.0/section_2.sql
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.46 (#5880)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix auto provisioning monitoring agent query
  plugins/source/azure/policies/queries/security/auto_provisioning_monitoring_agent_enabled.sql
Owners: @erezrokah, @yevgenypats

update log analytics monitoring agent
  plugins/source/azure/policies/queries/security/asc_automatic_provisioning_log_analytics_monitoring_agent.sql
Owners: @erezrokah, @yevgenypats

update auto provisioning queries
  plugins/source/azure/policies/queries/security/asc_automatic_provisioning_log_analytics_monitoring_agent.sql
  plugins/source/azure/policies/queries/security/auto_provisioning_monitoring_agent_enabled.sql
Owners: @erezrokah, @yevgenypats

feat(destinations): Migrate to managed batching SDK
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/main.go
  plugins/destination/csv/go.mod
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/main.go
Owners: @cloudquery/cloudquery-opensource

wip
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

more wip
  plugins/destination/bigquery/client/read.go
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/main.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/go.mod
Owners: @cloudquery/cloudquery-opensource

solve conflicts
  plugins/destination/postgresql/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

fix: Update Azure auto provisioning queries (#5888)
  plugins/source/azure/policies/queries/security/asc_automatic_provisioning_log_analytics_monitoring_agent.sql
  plugins/source/azure/policies/queries/security/auto_provisioning_monitoring_agent_enabled.sql
Owners: @erezrokah, @yevgenypats

fix: Update to sdk 1.12.7
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_addons.md
  plugins/source/pagerduty/docs/tables/pagerduty_business_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_escalation_policies.md
  plugins/source/pagerduty/docs/tables/pagerduty_extension_schemas.md
  plugins/source/pagerduty/docs/tables/pagerduty_extensions.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_alerts.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/docs/tables/pagerduty_maintenance_windows.md
  plugins/source/pagerduty/docs/tables/pagerduty_priorities.md
  plugins/source/pagerduty/docs/tables/pagerduty_ruleset_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_rulesets.md
  plugins/source/pagerduty/docs/tables/pagerduty_schedules.md
  plugins/source/pagerduty/docs/tables/pagerduty_service_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_tags.md
  plugins/source/pagerduty/docs/tables/pagerduty_teams.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_contact_methods.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_notification_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_users.md
  plugins/source/pagerduty/docs/tables/pagerduty_vendors.md
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/pagerduty/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Owners: @cloudquery/cloudquery-opensource

fix: Update pagerduty to sdk 1.12.7 (#5890)
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_addons.md
  plugins/source/pagerduty/docs/tables/pagerduty_business_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_escalation_policies.md
  plugins/source/pagerduty/docs/tables/pagerduty_extension_schemas.md
  plugins/source/pagerduty/docs/tables/pagerduty_extensions.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_alerts.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/docs/tables/pagerduty_maintenance_windows.md
  plugins/source/pagerduty/docs/tables/pagerduty_priorities.md
  plugins/source/pagerduty/docs/tables/pagerduty_ruleset_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_rulesets.md
  plugins/source/pagerduty/docs/tables/pagerduty_schedules.md
  plugins/source/pagerduty/docs/tables/pagerduty_service_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_services.md
  plugins/source/pagerduty/docs/tables/pagerduty_tags.md
  plugins/source/pagerduty/docs/tables/pagerduty_teams.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_contact_methods.md
  plugins/source/pagerduty/docs/tables/pagerduty_user_notification_rules.md
  plugins/source/pagerduty/docs/tables/pagerduty_users.md
  plugins/source/pagerduty/docs/tables/pagerduty_vendors.md
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/pagerduty/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Owners: @cloudquery/cloudquery-opensource

fix(ci): Use forked wait-for-vercel
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Change something in the Website
  website/pages/docs/advanced-topics/docker.md
Owners: none

AWS Managed Service for Prometheus (amp) resources
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/client/mocks/amp.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/amp.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/amp.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_amp_rule_groups_namespaces.md
  plugins/source/aws/docs/tables/aws_amp_workspaces.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces_fetch.go
  plugins/source/aws/resources/services/amp/rule_groups_namespaces_mock_test.go
  plugins/source/aws/resources/services/amp/workspaces.go
  plugins/source/aws/resources/services/amp/workspaces_fetch.go
  plugins/source/aws/resources/services/amp/workspaces_mock_test.go
  plugins/source/aws/tools/endpoints/main.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.12.7
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
Owners: none
