Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

test: Enable renovate to match versions in test configs (#3972)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Owners: @yevgenypats

chore(main): Release plugins-destination-csv v1.1.3 (#4095)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.12 (#4161)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.2.0 (#4047)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.3.9 (#4009)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.0 (#4120)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-azure` version to v1.3.11 (#4110)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update plugin-sdk for k8s to v1.2.0 (#4045)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.3.0 (#4068)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore: Update plugin `source-test` version to v1.3.11 (#4104)
  sites/versions/v2/source-test.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.0 (#4115)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.10 (#4054)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.3.0 (#4072)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.3.0 (#4067)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.3.0 (#4071)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore: Update plugin `source-github` version to v1.2.7 (#4088)
  sites/versions/v2/source-github.json
Owners: none

chore: Update plugin `destination-csv` version to v1.1.2 (#4085)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-aws v4.12.0 (#4134)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.2.0 (#4038)
  cli/go.mod
  cli/go.sum
Owners: none

chore: Update plugin `destination-csv` version to v1.1.3 (#4113)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

fix(deps): Update module github.com/aws/smithy-go to v1.13.4 (#4123)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

test: Revert "chore(deps): Update CloudQuery monorepo modules (#4066)" (#4131)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for k8s to v1.3.1 (#4152)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.2.0 (#4040)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.2 (#4021)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.9 (#4025)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for aws to v1.3.1 (#4144)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-gcp` version to v2.4.10 (#4087)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `destination-postgresql` version to v1.7.3 (#4101)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(ci): Add timeout to CI workflows (#4130)
  .github/workflows/cli.yml
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_test.yml
  .github/workflows/endpoints.yml
  .github/workflows/greetings.yml
  .github/workflows/issue_to_project.yml
  .github/workflows/lint_markdown.yml
  .github/workflows/manual_commands.yml
  .github/workflows/manual_commands_triggers.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_pr.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/validate_pr_title.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-k8s v2.3.11 (#4097)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.3.1 (#4150)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2 to v1.17.1 (#4124)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.2.0 (#4042)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.11 (#4094)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.8 (#4108)
  sites/versions/v2/source-github.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go to v1.44.134 (#4122)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore: Update CLI version to v2.0.6 (#4028)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4066)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-digitalocean v2.2.12 (#4126)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none
