Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix: error handling omissions
  cli/cmd/sync.go
Owners: @yevgenypats

fix: error handling omissions in sync2
  cli/cmd/sync2.go
Owners: @yevgenypats

fix: Error handling omissions in sync2 (#4487)
  cli/cmd/sync2.go
Owners: @yevgenypats

fix: Error handling omissions (#4486)
  cli/cmd/sync.go
Owners: @yevgenypats

chore(main): Release cli v2.0.14
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(release): Fix policies archives
  plugins/.goreleaser.template.yaml
Owners: @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.14 (#4488)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.14
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update CLI version to v2.0.14 (#4491)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

refactor: Move validate to Go Releaser
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/.goreleaser.yaml
  plugins/destination/csv/.goreleaser.yaml
  plugins/destination/postgresql/.goreleaser.yaml
  plugins/destination/sqlite/.goreleaser.yaml
  plugins/destination/test/.goreleaser.yaml
  plugins/source/aws/.goreleaser.yaml
  plugins/source/azure/.goreleaser.yaml
  plugins/source/cloudflare/.goreleaser.yaml
  plugins/source/digitalocean/.goreleaser.yaml
  plugins/source/gcp/.goreleaser.yaml
  plugins/source/github/.goreleaser.yaml
  plugins/source/heroku/.goreleaser.yaml
  plugins/source/k8s/.goreleaser.yaml
  plugins/source/okta/.goreleaser.yaml
  plugins/source/terraform/.goreleaser.yaml
  plugins/source/test/.goreleaser.yaml
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

test: Validate Go Releaser ZIP files
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Revert postgres plugin version in docs
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Revert postgres plugin version in docs (#4492)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix: Revert "fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396)"
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix: Revert "fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396) (#4493)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix linter
  plugins/source/k8s/client/client.go
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/codegen/recipes/admissionregistration.go
  plugins/source/k8s/codegen/recipes/apps.go
  plugins/source/k8s/codegen/recipes/autoscaling.go
  plugins/source/k8s/codegen/recipes/base.go
  plugins/source/k8s/codegen/recipes/batch.go
  plugins/source/k8s/codegen/recipes/certificates.go
  plugins/source/k8s/codegen/recipes/coordination.go
  plugins/source/k8s/codegen/recipes/core.go
  plugins/source/k8s/codegen/recipes/discovery.go
  plugins/source/k8s/codegen/recipes/networking.go
  plugins/source/k8s/codegen/recipes/nodes.go
  plugins/source/k8s/codegen/recipes/rbac.go
  plugins/source/k8s/mockgen.go
Owners: @cloudquery/cloudquery-opensource

chore(release): Fix policies archives (#4490)
  plugins/.goreleaser.template.yaml
Owners: @cloudquery/cloudquery-opensource

update gomod
  plugins/source/k8s/go.mod
Owners: none

autogenerate plugin.go
  plugins/source/k8s/codegen/main.go
  plugins/source/k8s/codegen/recipes/base.go
  plugins/source/k8s/codegen/recipes/templates/plugin.go.tpl
  plugins/source/k8s/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

regen docs
  plugins/source/k8s/codegen/recipes/core.go
  plugins/source/k8s/docs/tables/README.md
  plugins/source/k8s/docs/tables/k8s_admissionregistration_mutating_webhook_configurations.md
  plugins/source/k8s/docs/tables/k8s_admissionregistration_validating_webhook_configurations.md
  plugins/source/k8s/docs/tables/k8s_autoscaling_hpas.md
  plugins/source/k8s/docs/tables/k8s_certificates_signing_requests.md
  plugins/source/k8s/docs/tables/k8s_coordination_leases.md
  plugins/source/k8s/docs/tables/k8s_core_component_statuses.md
  plugins/source/k8s/docs/tables/k8s_core_config_maps.md
  plugins/source/k8s/docs/tables/k8s_core_events.md
  plugins/source/k8s/docs/tables/k8s_core_pvcs.md
  plugins/source/k8s/docs/tables/k8s_core_pvs.md
  plugins/source/k8s/docs/tables/k8s_core_replication_controllers.md
  plugins/source/k8s/docs/tables/k8s_discovery_endpoint_slices.md
  plugins/source/k8s/docs/tables/k8s_networking_ingress_classes.md
  plugins/source/k8s/docs/tables/k8s_networking_ingresses.md
  plugins/source/k8s/docs/tables/k8s_nodes_runtime_classes.md
  plugins/source/k8s/docs/tables/k8s_rbac_cluster_role_bindings.md
  plugins/source/k8s/docs/tables/k8s_rbac_cluster_roles.md
  plugins/source/k8s/docs/tables/k8s_storage_csi_drivers.md
  plugins/source/k8s/docs/tables/k8s_storage_csi_nodes.md
  plugins/source/k8s/docs/tables/k8s_storage_csi_storage_capacities.md
  plugins/source/k8s/docs/tables/k8s_storage_storage_classes.md
  plugins/source/k8s/docs/tables/k8s_storage_volume_attachments.md
  plugins/source/k8s/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

Update introducing-glob-matching-for-tables.md
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

Changes based on review
  website/pages/blog/_meta.json
  website/pages/blog/introducing-wildcard-matching-for-tables.md
Owners: none

More updates
  website/pages/blog/introducing-wildcard-matching-for-tables.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.5.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.1
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.1
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.1
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.1
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.1
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.1
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.1
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.1
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.1
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.1
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.1
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.1
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.1
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.1
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.1
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

Update website/pages/blog/introducing-wildcard-matching-for-tables.md
  website/pages/blog/introducing-wildcard-matching-for-tables.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
