Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

chore: Add blog Building CloudQuery (#5111)
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/building-cloudquery.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Small blog update
  website/pages/blog/building-cloudquery.md
Owners: none

fix(website): More broken links
  website/components/Integrations.tsx
  website/components/integrationsData.tsx
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/cloudquery-v1-release.md
  website/vercel.json
Owners: none

Adds alert tests
  plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
  plugins/source/crowdstrike/resources/services/alerts/query_mock_test.go
Owners: @cloudquery/cloudquery-opensource

chore: Small blog update (#5120)
  website/pages/blog/building-cloudquery.md
Owners: none

fix(website): More broken links (#5121)
  website/components/Integrations.tsx
  website/components/integrationsData.tsx
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/cloudquery-v1-release.md
  website/vercel.json
Owners: none

Fix destination overview links
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

chore: Fix destination plugin links (#5123)
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

Adds alert to pluging
  plugins/source/crowdstrike/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

fix(website): Link to destinations overview
  website/pages/blog/building-cloudquery.md
Owners: none

fix(website): Link to destinations overview (#5124)
  website/pages/blog/building-cloudquery.md
Owners: none

Save progress
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
Owners: @cloudquery/cloudquery-opensource

meta data tags
  plugins/source/aws/policies/README.md
  website/README.md
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-resources-view.md
  website/pages/blog/aws-sso-and-the-lost-iam-keys.md
  website/pages/blog/configuring-workload-identity-federation-between-gcp-and-aws-eks.md
  website/pages/blog/cross-account-access-aws-assumerole.md
  website/pages/blog/deploying-cloudquery-into-aws-org.md
  website/pages/blog/how-to-setup-aws-cli-with-aws-sso.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-wildcard-matching-for-tables.md
  website/pages/blog/keyless-access-to-aws-in-github-actions-with-oidc.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/developers/creating-new-plugin.md
  website/pages/docs/developers/running-locally.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi_account.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/firehose to v1.14.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/backup to v1.18.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.22.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.20.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iot to v1.32.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/organizations to v1.17.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.31.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/backup.go
  plugins/source/aws/client/services/backup.go
  plugins/source/aws/docs/tables/aws_backup_vault_recovery_points.md
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_iot_jobs.md
  plugins/source/aws/resources/services/iot/jobs.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/docs/tables/aws_ecs_clusters.md
  plugins/source/aws/resources/services/ecs/clusters.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/firehose to v1.14.23 (#5127)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/backup to v1.18.0 (#5128)
  plugins/source/aws/client/mocks/backup.go
  plugins/source/aws/client/services/backup.go
  plugins/source/aws/docs/tables/aws_backup_vault_recovery_points.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.22.0 (#5129)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.20.0 (#5131)
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/docs/tables/aws_ecs_clusters.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/ecs/clusters.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iot to v1.32.0 (#5133)
  plugins/source/aws/docs/tables/aws_iot_jobs.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/iot/jobs.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/efs to v1.18.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/rds.go
  plugins/source/aws/client/services/rds.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/organizations.go
  plugins/source/aws/client/services/organizations.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/efs to v1.18.0 (#5132)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

add more context
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/organizations to v1.17.0 (#5135)
  plugins/source/aws/client/mocks/organizations.go
  plugins/source/aws/client/services/organizations.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.31.0 (#5136)
  plugins/source/aws/client/mocks/rds.go
  plugins/source/aws/client/services/rds.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5137)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Save
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
