Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-gcp` version to v5.3.0 (#5985)
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-test` version to v1.3.25 (#5986)
  website/versions/source-test.json
Owners: none

chore: Update plugin `source-tailscale` version to v1.0.2 (#5987)
  website/versions/source-tailscale.json
Owners: none

chore: Update plugin `source-azure` version to v3.0.0 (#5988)
  website/versions/source-azure.json
Owners: none

Add automation for CQ monorepo
  .github/pr_labeler.yml
  .github/workflows/source_fastly.yml
  .github/workflows/wait_for_required_workflows.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update plugin `source-aws` version to v9.0.0 (#5989)
  website/versions/source-aws.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.25 (#5990)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore: Update plugin `source-cloudflare` version to v2.3.3 (#5993)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-pagerduty` version to v1.1.1 (#5994)
  website/versions/source-pagerduty.json
Owners: none

Update docs, add contribution guide
  plugins/source/fastly/CONTRIBUTING.md
  plugins/source/fastly/codegen/recipes/services.go
  plugins/source/fastly/docs/tables/README.md
  plugins/source/fastly/docs/tables/fastly_stats_services.md
  website/pages/docs/plugins/sources/fastly/tables.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-crowdstrike` version to v1.0.1 (#5996)
  website/versions/source-crowdstrike.json
Owners: none

Accept upsert as a term
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.3.9
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

Update home page
  website/components/QueriesExamples.tsx
  website/components/pages/home.tsx
  website/content/features.ts
Owners: none

Integrations
  website/components/pages/home.tsx
Owners: none

Reword
  website/content/features.ts
Owners: none

chore(main): Release plugins-source-aws v9.0.1 (#5998)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

Add docs about services config
  website/pages/docs/plugins/sources/fastly/overview.md
Owners: none

chore: Update plugin `source-datadog` version to v1.0.4 (#5999)
  website/versions/source-datadog.json
Owners: none

chore: Update plugin `source-github` version to v1.4.2 (#6000)
  website/versions/source-github.json
Owners: none

chore: Update plugin `source-okta` version to v2.0.1 (#6001)
  website/versions/source-okta.json
Owners: none

chore: Update plugin `source-gandi` version to v1.1.3 (#6002)
  website/versions/source-gandi.json
Owners: none

fix(gcp_run_locations): Use correct description link (#6009)
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/resources/services/run/locations.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-gcp v5.3.1
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-vercel` version to v1.0.2 (#6003)
  website/versions/source-vercel.json
Owners: none

chore: Update plugin `source-heroku` version to v3.1.3 (#6004)
  website/versions/source-heroku.json
Owners: none

chore: Update CLI version to v2.0.28 (#6005)
  website/versions/cli.json
Owners: none

chore: Update plugin `source-k8s` version to v2.5.3 (#6006)
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-azuredevops` version to v1.0.0 (#6007)
  website/versions/source-azuredevops.json
Owners: none

chore: Update plugin `source-aws` version to v9.0.1
  website/versions/source-aws.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.9 (#6008)
  website/versions/destination-test.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.9 (#6011)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore(website): Update home page (#6013)
  website/components/QueriesExamples.tsx
  website/components/pages/home.tsx
  website/content/features.ts
Owners: none

chore(main): Release plugins-source-gcp v5.3.1 (#6014)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v9.0.1 (#6015)
  website/versions/source-aws.json
Owners: none

Update pr_labeler.yml
  .github/pr_labeler.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update .release-please-manifest.json
  .release-please-manifest.json
Owners: none

chore: Update plugin `source-gcp` version to v5.3.1
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-gcp` version to v5.3.1 (#6016)
  website/versions/source-gcp.json
Owners: none

chore(main): Release plugins-source-salesforce v1.0.0 (#5955)
  .github/pr_labeler.yml
  .release-please-manifest.json
  plugins/source/salesforce/CHANGELOG.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
