Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/DataDog/zstd to v1.5.2 (#6209)
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
Owners: none

fix(deps): Update github.com/99designs/go-keychain digest to 9cf53c8
  plugins/destination/snowflake/go.mod
Owners: none

fix(deps): Update k8s.io/utils digest to 99ec85e
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/Azure/go-autorest/autorest/adal to v0.9.21
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/DataDog/datadog-api-client-go/v2 to v2.6.1
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
Owners: none

fix(deps): Update k8s.io/utils digest to 99ec85e (#6197)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/Azure/go-autorest/autorest/adal to v0.9.21 (#6208)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

feat: Add Neo4j destination (#6162)
  .github/pr_labeler.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/neo4j/.gitignore
  plugins/destination/neo4j/.goreleaser.yaml
  plugins/destination/neo4j/CHANGELOG.md
  plugins/destination/neo4j/CONTRIBUTING.md
  plugins/destination/neo4j/Makefile
  plugins/destination/neo4j/README.md
  plugins/destination/neo4j/client/client.go
  plugins/destination/neo4j/client/client_test.go
  plugins/destination/neo4j/client/deletestale.go
  plugins/destination/neo4j/client/migrate.go
  plugins/destination/neo4j/client/read.go
  plugins/destination/neo4j/client/spec.go
  plugins/destination/neo4j/client/transformer.go
  plugins/destination/neo4j/client/write.go
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/neo4j/main.go
  plugins/destination/neo4j/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/neo4j/_meta.json
  website/pages/docs/plugins/destinations/neo4j/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-neo4j v1.0.0
  .release-please-manifest.json
  plugins/destination/neo4j/CHANGELOG.md
Owners: none

chore(website): Always default to unpublished on unreleased plugins (#6137)
  website/next.config.mjs
Owners: none

feat(gcp-resources): Add BeyondCorp (#6133)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/beyondcorp.go
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_connections.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_connectors.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_app_gateways.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_client_connector_services.md
  plugins/source/gcp/docs/tables/gcp_beyondcorp_client_gateways.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/beyondcorp/app_connections.go
  plugins/source/gcp/resources/services/beyondcorp/app_connections_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/app_connectors.go
  plugins/source/gcp/resources/services/beyondcorp/app_connectors_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/app_gateways.go
  plugins/source/gcp/resources/services/beyondcorp/app_gateways_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/client_connector_services.go
  plugins/source/gcp/resources/services/beyondcorp/client_connector_services_mock_test.go
  plugins/source/gcp/resources/services/beyondcorp/client_gateways.go
  plugins/source/gcp/resources/services/beyondcorp/client_gateways_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

fix(cli): Update progress bar on secondly interval (#6155)
  cli/cmd/sync2.go
Owners: @yevgenypats

feat(gcp-resources): Add Batch
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/batch.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_batch_jobs.md
  plugins/source/gcp/docs/tables/gcp_batch_task_groups.md
  plugins/source/gcp/docs/tables/gcp_batch_tasks.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/batch/jobs.go
  plugins/source/gcp/resources/services/batch/jobs_mock_test.go
  plugins/source/gcp/resources/services/batch/task_groups.go
  plugins/source/gcp/resources/services/batch/task_groups_mock_test.go
  plugins/source/gcp/resources/services/batch/tasks.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

style: Fix linter
  plugins/source/gcp/resources/services/batch/task_groups_mock_test.go
Owners: @yevgenypats, @disq

fix: Tidy
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-destination-neo4j v1.0.0 (#6211)
  .release-please-manifest.json
  plugins/destination/neo4j/CHANGELOG.md
Owners: none

fix(website): Azure Blob Storage table entry
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

chore: Update plugin `destination-neo4j` version to v1.0.0
  website/versions/destination-neo4j.json
Owners: none

feat(gcp-resources): Add Batch (#6128)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/batch.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_batch_jobs.md
  plugins/source/gcp/docs/tables/gcp_batch_task_groups.md
  plugins/source/gcp/docs/tables/gcp_batch_tasks.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/batch/jobs.go
  plugins/source/gcp/resources/services/batch/jobs_mock_test.go
  plugins/source/gcp/resources/services/batch/task_groups.go
  plugins/source/gcp/resources/services/batch/task_groups_mock_test.go
  plugins/source/gcp/resources/services/batch/tasks.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore: Update plugin `destination-neo4j` version to v1.0.0 (#6212)
  website/versions/destination-neo4j.json
Owners: none

fix(website): Azure Blob Storage table entry (#6213)
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

fix(deps): Update module cloud.google.com/go/baremetalsolution to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module cloud.google.com/go/longrunning to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update kubernetes packages to v0.26.0
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

chore: Gen code
  plugins/source/k8s/Makefile
  plugins/source/k8s/docs/tables/k8s_apps_stateful_sets.md
  plugins/source/k8s/docs/tables/k8s_core_pods.md
  plugins/source/k8s/mocks/discovery/client.go
  plugins/source/k8s/mocks/interface.go
  plugins/source/k8s/resources/services/apps/stateful_sets.go
  plugins/source/k8s/resources/services/core/pods.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update kubernetes packages to v0.26.0 (#6180)
  plugins/source/k8s/Makefile
  plugins/source/k8s/docs/tables/k8s_apps_stateful_sets.md
  plugins/source/k8s/docs/tables/k8s_core_pods.md
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/mocks/discovery/client.go
  plugins/source/k8s/mocks/interface.go
  plugins/source/k8s/resources/services/apps/stateful_sets.go
  plugins/source/k8s/resources/services/core/pods.go
Owners: @cloudquery/cloudquery-opensource

fix: Support code gen with generics
  plugins/source/datadog/Makefile
  plugins/source/datadog/client/mocks/incidents_api.go
  plugins/source/datadog/client/mocks/synthetics_api.go
  plugins/source/datadog/client/services/incidents_api.go
  plugins/source/datadog/client/services/synthetics_api.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/codegen/services/templates/service.go.tpl
  plugins/source/datadog/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

chore: Don't update Azure Blob and S3
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

fix(deps): Update module github.com/DataDog/datadog-api-client-go/v2 to v2.6.1 (#6185)
  plugins/source/datadog/Makefile
  plugins/source/datadog/client/mocks/incidents_api.go
  plugins/source/datadog/client/mocks/synthetics_api.go
  plugins/source/datadog/client/services/incidents_api.go
  plugins/source/datadog/client/services/synthetics_api.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/codegen/services/templates/service.go.tpl
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/datadog/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Update go.mod
  plugins/source/datadog/go.mod
Owners: none

fix: Update code to match API changes
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/client/mocks/mock_client.go
  plugins/source/cloudflare/client/services.go
  plugins/source/cloudflare/docs/tables/cloudflare_worker_routes.md
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_fetch.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_mock_test.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_fetch.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_mock_test.go
Owners: @cloudquery/cloudquery-opensource

chore: Update makefile
  plugins/source/cloudflare/Makefile
Owners: @cloudquery/cloudquery-opensource

fix(deps)!: Update module github.com/cloudflare/cloudflare-go to v0.57.1 (#6186)
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/client/mocks/mock_client.go
  plugins/source/cloudflare/client/services.go
  plugins/source/cloudflare/docs/tables/cloudflare_worker_routes.md
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_fetch.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_mock_test.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_fetch.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_mock_test.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/thoas/go-funk to v0.9.3
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

test(s3): Ensure bucket exists
  plugins/destination/s3/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/thoas/go-funk to v0.9.3 (#6179)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(deps): Update dependency go to v1.19.4
  .github/workflows/dest_neo4j.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.16.1
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

chore(deps): Update dependency go to v1.19.4 (#6221)
  .github/workflows/dest_neo4j.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

test(azblob): Ensure container exists before tests
  plugins/destination/azblob/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
