Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-destination-test v1.2.16 (#3869)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.0.3 (#3858)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore: Update plugin `source-okta` version to v1.2.7 (#3898)
  sites/versions/v2/source-okta.json
Owners: none

chore: Update plugin `source-heroku` version to v2.2.8 (#3897)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

fix: Optionally send --no-sentry when using managed plugins (#3762)
  cli/cmd/clients.go
  cli/cmd/root.go
  cli/cmd/sync.go
Owners: @yevgenypats

chore: Update CLI version to v2.0.2 (#3910)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.7 (#3894)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

fix!: Make path a required config parameter (#3872)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  cli/go.mod
  cli/go.sum
Owners: @yevgenypats

chore: Update plugin `source-heroku` version to v2.2.9 (#3944)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for csv to v1.1.2 (#4014)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.1.1 (#4001)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-source-aws v4.9.0 (#3929)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.11.0 (#3976)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.9 (#3994)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

feat(aws): ECR Repository Policy (#3844)
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release cli v2.0.2 (#3909)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.8 (#3933)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.7 (#3900)
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-source-heroku v2.2.10 (#3991)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.8 (#3948)
  sites/versions/v2/source-terraform.json
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.1.0 (#3923)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Upgrade plugin-sdk to v1.0.4 for plugins (#3889)
  cli/go.sum
  plugins/source/aws/client/testing.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/client/testing.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/cloudflare/client/testing.go
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/digitalocean/client/testing.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/github/client/testing.go
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/client/testing.go
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/client/testing.go
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/test/policy_cq_config.yml
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/terraform/resources/services/tfdata_test.go
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for okta to v1.1.2 (#3999)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.3.7 (#3892)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-destination-postgresql v1.6.7 (#3867)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.0 (#3953)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.0.4 (#3885)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore: Update plugin `destination-test` version to v1.2.17 (#3975)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.8 (#3941)
  sites/versions/v2/source-digitalocean.json
Owners: none

fix: Update endpoints (#3966)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for terraform to v1.1.2 (#4003)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.1.0 (#3926)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.9 (#3996)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.0.3 (#3859)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.7 (#3868)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v2.4.8 (#3934)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.3 (#3931)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.3.1 (#3993)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release cli v1.5.9 (#3860)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v4.7.6 (#3905)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
