Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

cognito
  plugins/source/aws/resources/services/codebuild/projects.go
  plugins/source/aws/resources/services/codepipeline/pipelines.go
  plugins/source/aws/resources/services/codepipeline/webhooks.go
  plugins/source/aws/resources/services/cognito/identity_pools.go
  plugins/source/aws/resources/services/cognito/user_pool_identity_providers.go
  plugins/source/aws/resources/services/cognito/user_pools.go
Owners: @hermanschaaf, @yevgenypats

chore: Revert PG update
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(ci-lint): Only enable lint caching
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci-lint): Only enable lint caching
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix postgress
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen2/recipes/postgresql_e.go
  plugins/source/azure/codegen2/recipes/sql_e.go
  plugins/source/azure/resources/services/postgresql/configurations_mock_test.go
  plugins/source/azure/resources/services/postgresql/servers_mock_test.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/servers.go
Owners: @erezrokah, @yevgenypats

fix sql
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/instance_pools.go
  plugins/source/azure/resources/services/sql/instance_pools_mock_test.go
  plugins/source/azure/resources/services/sql/managed_instances.go
  plugins/source/azure/resources/services/sql/managed_instances_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
  plugins/source/azure/resources/services/sql/servers_mock_test.go
  plugins/source/azure/resources/services/sql/virtual_clusters_mock_test.go
Owners: @erezrokah, @yevgenypats

chore(ci-lint): Only enable lint caching (#6367)
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_neo4j.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_shopify.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

X and W
  plugins/source/aws/resources/services/waf/rule_groups.go
  plugins/source/aws/resources/services/waf/rules.go
  plugins/source/aws/resources/services/waf/subscribed_rule_groups.go
  plugins/source/aws/resources/services/waf/web_acls.go
  plugins/source/aws/resources/services/wafregional/rate_based_rules.go
  plugins/source/aws/resources/services/wafregional/rule_groups.go
  plugins/source/aws/resources/services/wafregional/rules.go
  plugins/source/aws/resources/services/wafregional/web_acls.go
  plugins/source/aws/resources/services/wafv2/ipsets.go
  plugins/source/aws/resources/services/wafv2/managed_rule_groups.go
  plugins/source/aws/resources/services/wafv2/regex_pattern_sets.go
  plugins/source/aws/resources/services/wafv2/rule_groups.go
  plugins/source/aws/resources/services/wafv2/web_acls.go
  plugins/source/aws/resources/services/workspaces/directories.go
  plugins/source/aws/resources/services/workspaces/workspaces.go
  plugins/source/aws/resources/services/xray/encryption_configs.go
  plugins/source/aws/resources/services/xray/groups.go
  plugins/source/aws/resources/services/xray/sampling_rules.go
Owners: @hermanschaaf, @yevgenypats

BigQuery migrations: ignore extra columns in the table
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
Owners: @cloudquery/cloudquery-opensource

Postgresql: Read only columns defined in the schema
  plugins/destination/postgresql/client/read.go
Owners: @cloudquery/cloudquery-opensource

Fix SQLite migration logic
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
Owners: @cloudquery/cloudquery-opensource

Fix Snowflake read test
  plugins/destination/snowflake/client/read.go
Owners: @cloudquery/cloudquery-opensource

Linting
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

some of R
  plugins/source/aws/client/helpers.go
  plugins/source/aws/docs/tables/aws_route53_traffic_policy_versions.md
  plugins/source/aws/resources/services/resourcegroups/resource_groups.go
  plugins/source/aws/resources/services/route53/delegation_sets.go
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/route53/health_checks.go
  plugins/source/aws/resources/services/route53/hosted_zone_query_logging_configs.go
  plugins/source/aws/resources/services/route53/hosted_zone_resource_record_sets.go
  plugins/source/aws/resources/services/route53/hosted_zone_traffic_policy_instances.go
  plugins/source/aws/resources/services/route53/hosted_zones.go
  plugins/source/aws/resources/services/route53/traffic_policies.go
  plugins/source/aws/resources/services/route53/traffic_policy_versions.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release cli v2.0.31
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.5.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.31 (#6350)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.31
  website/versions/cli.json
Owners: none

Q-O
  plugins/source/aws/docs/tables/aws_quicksight_analyses.md
  plugins/source/aws/docs/tables/aws_quicksight_dashboards.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sets.md
  plugins/source/aws/docs/tables/aws_quicksight_data_sources.md
  plugins/source/aws/docs/tables/aws_quicksight_folders.md
  plugins/source/aws/docs/tables/aws_quicksight_group_members.md
  plugins/source/aws/docs/tables/aws_quicksight_groups.md
  plugins/source/aws/docs/tables/aws_quicksight_ingestions.md
  plugins/source/aws/docs/tables/aws_quicksight_templates.md
  plugins/source/aws/docs/tables/aws_quicksight_users.md
  plugins/source/aws/resources/services/organizations/accounts.go
  plugins/source/aws/resources/services/organizations/organizations.go
  plugins/source/aws/resources/services/qldb/ledger_journal_kinesis_streams.go
  plugins/source/aws/resources/services/qldb/ledger_journal_s3_exports.go
  plugins/source/aws/resources/services/qldb/ledgers.go
  plugins/source/aws/resources/services/quicksight/analyses.go
  plugins/source/aws/resources/services/quicksight/dashboards.go
  plugins/source/aws/resources/services/quicksight/data_sets.go
  plugins/source/aws/resources/services/quicksight/data_sources.go
  plugins/source/aws/resources/services/quicksight/folders.go
  plugins/source/aws/resources/services/quicksight/group_members.go
  plugins/source/aws/resources/services/quicksight/groups.go
  plugins/source/aws/resources/services/quicksight/ingestions.go
  plugins/source/aws/resources/services/quicksight/templates.go
  plugins/source/aws/resources/services/quicksight/users.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-gcp v5.5.0 (#6306)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(bigquery): Migrations: ignore extra columns in the table (#6370)
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
Owners: @cloudquery/cloudquery-opensource

fix(tests): Postgresql: Read only columns defined in the schema (#6371)
  plugins/destination/postgresql/client/read.go
Owners: @cloudquery/cloudquery-opensource

fix: Fix SQLite migration logic (#6372)
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-gcp` version to v5.5.0
  website/versions/source-gcp.json
Owners: none

fix(tests): Fix Snowflake read test (#6373)
  plugins/destination/snowflake/client/read.go
Owners: @cloudquery/cloudquery-opensource

chore: Update CLI version to v2.0.31 (#6378)
  website/versions/cli.json
Owners: none

chore: Update plugin `source-gcp` version to v5.5.0 (#6379)
  website/versions/source-gcp.json
Owners: none

M-N
  plugins/source/aws/docs/tables/aws_mq_brokers.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_parameter_groups.md
  plugins/source/aws/docs/tables/aws_neptune_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_neptune_clusters.md
  plugins/source/aws/docs/tables/aws_neptune_db_parameter_groups.md
  plugins/source/aws/docs/tables/aws_neptune_event_subscriptions.md
  plugins/source/aws/docs/tables/aws_neptune_global_clusters.md
  plugins/source/aws/docs/tables/aws_neptune_instances.md
  plugins/source/aws/docs/tables/aws_neptune_subnet_groups.md
  plugins/source/aws/resources/services/mq/broker_configuration_revisions.go
  plugins/source/aws/resources/services/mq/broker_configurations.go
  plugins/source/aws/resources/services/mq/broker_users.go
  plugins/source/aws/resources/services/mq/brokers.go
  plugins/source/aws/resources/services/mwaa/environments.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_group_parameters.go
  plugins/source/aws/resources/services/neptune/cluster_parameter_groups.go
  plugins/source/aws/resources/services/neptune/cluster_snapshots.go
  plugins/source/aws/resources/services/neptune/clusters.go
  plugins/source/aws/resources/services/neptune/db_parameter_group_db_parameters.go
  plugins/source/aws/resources/services/neptune/db_parameter_groups.go
  plugins/source/aws/resources/services/neptune/event_subscriptions.go
  plugins/source/aws/resources/services/neptune/global_clusters.go
  plugins/source/aws/resources/services/neptune/instances.go
  plugins/source/aws/resources/services/neptune/subnet_groups.go
Owners: @hermanschaaf, @yevgenypats

Adapt BigQuery logic to better handle data delays and metadata caching
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

Add docs about round-robin scheduler
  website/pages/docs/advanced-topics/performance-tuning.md
  website/pages/docs/reference/source-spec.md
Owners: none

Small fix
  website/pages/docs/advanced-topics/performance-tuning.md
Owners: none

Update yaml
  website/pages/docs/advanced-topics/performance-tuning.md
Owners: none

fix: Don't update destinations
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/neo4j/go.mod
  plugins/destination/neo4j/go.sum
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: @cloudquery/cloudquery-opensource

fix(broken-links): Ignore flaky host
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-bigquery v2.0.2
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

override Document type manually
  plugins/source/aws/docs/tables/aws_route53_traffic_policy_versions.md
  plugins/source/aws/resources/services/route53/traffic_policy_versions.go
Owners: @hermanschaaf, @yevgenypats

K
  plugins/source/aws/docs/tables/aws_kafka_cluster_operations.md
  plugins/source/aws/docs/tables/aws_kafka_clusters.md
  plugins/source/aws/docs/tables/aws_kafka_nodes.md
  plugins/source/aws/docs/tables/aws_kinesis_streams.md
  plugins/source/aws/docs/tables/aws_kms_aliases.md
  plugins/source/aws/resources/services/kafka/cluster_operations.go
  plugins/source/aws/resources/services/kafka/clusters.go
  plugins/source/aws/resources/services/kafka/configurations.go
  plugins/source/aws/resources/services/kafka/nodes.go
  plugins/source/aws/resources/services/kinesis/streams.go
  plugins/source/aws/resources/services/kms/aliases.go
  plugins/source/aws/resources/services/kms/key_grants.go
  plugins/source/aws/resources/services/kms/keys.go
Owners: @hermanschaaf, @yevgenypats

I except IAM
  plugins/source/aws/docs/tables/aws_inspector2_findings.md
  plugins/source/aws/docs/tables/aws_iot_billing_groups.md
  plugins/source/aws/docs/tables/aws_iot_ca_certificates.md
  plugins/source/aws/docs/tables/aws_iot_certificates.md
  plugins/source/aws/docs/tables/aws_iot_jobs.md
  plugins/source/aws/docs/tables/aws_iot_policies.md
  plugins/source/aws/docs/tables/aws_iot_streams.md
  plugins/source/aws/docs/tables/aws_iot_thing_groups.md
  plugins/source/aws/docs/tables/aws_iot_thing_types.md
  plugins/source/aws/docs/tables/aws_iot_things.md
  plugins/source/aws/docs/tables/aws_iot_topic_rules.md
  plugins/source/aws/resources/services/identitystore/group_memberships.go
  plugins/source/aws/resources/services/identitystore/groups.go
  plugins/source/aws/resources/services/identitystore/instance_fetch.go
  plugins/source/aws/resources/services/identitystore/users.go
  plugins/source/aws/resources/services/inspector/findings.go
  plugins/source/aws/resources/services/inspector2/findings.go
  plugins/source/aws/resources/services/iot/billing_groups.go
  plugins/source/aws/resources/services/iot/ca_certificates.go
  plugins/source/aws/resources/services/iot/certificates.go
  plugins/source/aws/resources/services/iot/jobs.go
  plugins/source/aws/resources/services/iot/policies.go
  plugins/source/aws/resources/services/iot/streams.go
  plugins/source/aws/resources/services/iot/thing_groups.go
  plugins/source/aws/resources/services/iot/thing_types.go
  plugins/source/aws/resources/services/iot/things.go
  plugins/source/aws/resources/services/iot/topic_rules.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-bigquery v2.0.2 (#6342)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

iam
  plugins/source/aws/docs/tables/aws_iam_groups.md
  plugins/source/aws/docs/tables/aws_iam_openid_connect_identity_providers.md
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/docs/tables/aws_iam_roles.md
  plugins/source/aws/docs/tables/aws_iam_saml_identity_providers.md
  plugins/source/aws/docs/tables/aws_iam_server_certificates.md
  plugins/source/aws/docs/tables/aws_iam_users.md
  plugins/source/aws/docs/tables/aws_iam_virtual_mfa_devices.md
  plugins/source/aws/resources/services/iam/accounts.go
  plugins/source/aws/resources/services/iam/credential_reports.go
  plugins/source/aws/resources/services/iam/group_policies.go
  plugins/source/aws/resources/services/iam/groups.go
  plugins/source/aws/resources/services/iam/models/iam.go
  plugins/source/aws/resources/services/iam/openid_connect_identity_providers.go
  plugins/source/aws/resources/services/iam/password_policies.go
  plugins/source/aws/resources/services/iam/policies.go
  plugins/source/aws/resources/services/iam/role_policies.go
  plugins/source/aws/resources/services/iam/roles.go
  plugins/source/aws/resources/services/iam/saml_identity_providers.go
  plugins/source/aws/resources/services/iam/saml_identity_providers_fetch.go
  plugins/source/aws/resources/services/iam/server_certificates.go
  plugins/source/aws/resources/services/iam/ssh_public_keys.go
  plugins/source/aws/resources/services/iam/user_access_keys.go
  plugins/source/aws/resources/services/iam/user_attached_policies.go
  plugins/source/aws/resources/services/iam/user_groups.go
  plugins/source/aws/resources/services/iam/user_policies.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/virtual_mfa_devices.go
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
