Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(go): Do not enforce `gofmt -s`
  plugins/.golangci.yml
Owners: @cloudquery/cloudquery-opensource

Update .golangci.yml
  cli/.golangci.yml
Owners: @yevgenypats

Validation
  plugins/source/aws/client/client.go
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/spec_test.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Fetch tags for aws_elasticache_clusters
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/clusters_fetch.go
  plugins/source/aws/resources/services/elasticache/clusters_mock_test.go
Owners: @hermanschaaf, @yevgenypats

refactor(gcp-codegen): Infer RequestStructName, UnimplementedServerName and ResponseStructName
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-pagerduty v1.1.0 (#5891)
  .release-please-manifest.json
  plugins/source/pagerduty/CHANGELOG.md
Owners: none

fix: Update Azure Storage Queries (#5908)
  plugins/source/azure/policies/queries/storage/accounts_with_unrestricted_access.sql
  plugins/source/azure/policies/queries/storage/secure_transfer_to_storage_accounts_should_be_enabled.sql
Owners: @erezrokah, @yevgenypats

feat(table-diff): Mark newly added PKs as breaking changes (#5909)
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5802_diff.txt
Owners: none

chore: Update plugin `source-pagerduty` version to v1.1.0
  website/versions/source-pagerduty.json
Owners: none

refactor(gcp-codegen): Infer `RequestStructName`, `UnimplementedServerName` and `ResponseStructName` (#5913)
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
Owners: @yevgenypats, @disq

doc: Pagerduty blog
  website/content/team.ts
  website/pages/blog/announcing-pagerduty-plugin.md
  website/public/images/people/shimon.jpg
Owners: none

chore: Update plugin `source-pagerduty` version to v1.1.0 (#5914)
  website/versions/source-pagerduty.json
Owners: none

feat(aws): Fetch tags for aws_elasticache_clusters (#5911)
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/clusters_fetch.go
  plugins/source/aws/resources/services/elasticache/clusters_mock_test.go
Owners: @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

snowflake fixes
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

interface{} -> any
  plugins/destination/snowflake/client/read.go
Owners: @cloudquery/cloudquery-opensource

snowflake fixes
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

more review fixes
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/sqlite/client/read.go
Owners: @cloudquery/cloudquery-opensource

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Document Crowdstrike plugin
  plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/docs/tables/crowdstrike_incidents_crowdscore.md
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/crowdstrike/_meta.json
  website/pages/docs/plugins/sources/crowdstrike/overview.md
  website/pages/docs/plugins/sources/crowdstrike/tables.md
Owners: @cloudquery/cloudquery-opensource

change all workflows
  .github/workflows/cli.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

update sdk to v0.13.1
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: @cloudquery/cloudquery-opensource

fix: Improve linting perf via caching (#5900)
  .github/workflows/cli.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(gcp): List locations before getting run services
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/run/locations.go
  plugins/source/gcp/resources/services/run/locations_fetch.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/run/services_fetch.go
  plugins/source/gcp/resources/services/run/services_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Start blog post about loading data into Athena
  website/pages/blog/infrastructure-and-cost-analysis-with-athena.md
Owners: none

Fix concurrency
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

remove cockroachDB for now
  .github/workflows/dest_postgresql.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Mock tests
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services_mock_test.go
Owners: @yevgenypats, @disq

feat(destinations): Migrate to managed batching SDK (#5805)
  .github/workflows/dest_postgresql.yml
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/transformer.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Update services_mock_test.go
  plugins/source/gcp/resources/services/serviceusage/services_mock_test.go
Owners: @yevgenypats, @disq

fix(gcp): List locations before getting run services (#5919)
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_run_locations.md
  plugins/source/gcp/docs/tables/gcp_run_services.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/run/locations.go
  plugins/source/gcp/resources/services/run/locations_fetch.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/run/services_fetch.go
  plugins/source/gcp/resources/services/run/services_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Update locations.go
  plugins/source/gcp/resources/services/run/locations.go
Owners: @yevgenypats, @disq

Update source_gitlab.yml
  .github/workflows/source_gitlab.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update overview.md
  website/pages/docs/plugins/sources/gitlab/overview.md
Owners: none

Update overview.md
  website/pages/docs/plugins/sources/gitlab/overview.md
Owners: none

Update configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: none

feat: MongoDB destination
  plugins/destination/mongodb/.gitignore
  plugins/destination/mongodb/.goreleaser.yaml
  plugins/destination/mongodb/CHANGELOG.md
  plugins/destination/mongodb/CONTRIBUTING.md
  plugins/destination/mongodb/Makefile
  plugins/destination/mongodb/README.md
  plugins/destination/mongodb/client/client.go
  plugins/destination/mongodb/client/client_test.go
  plugins/destination/mongodb/client/deletestale.go
  plugins/destination/mongodb/client/migrate.go
  plugins/destination/mongodb/client/read.go
  plugins/destination/mongodb/client/spec.go
  plugins/destination/mongodb/client/transformer.go
  plugins/destination/mongodb/client/types.go
  plugins/destination/mongodb/client/write.go
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
  plugins/destination/mongodb/main.go
  plugins/destination/mongodb/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5929)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Update configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: none
