Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(website): Fix CSV and Snowflake recipes (#5184)
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/snowflake.md
Owners: none

Add to workflows
  .github/pr_labeler.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/wait_for_required_workflows.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  plugins/destination/bigquery/client/client.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

refactor for mock tests
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/mocks/groups.go
  plugins/source/gitlab/client/mocks/users.go
  plugins/source/gitlab/client/services/groups.go
  plugins/source/gitlab/client/services/users.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/resources/services/users/groups_fetch.go
  plugins/source/gitlab/resources/services/users/users_test.go
Owners: @cloudquery/cloudquery-opensource

Update deploying-cloudquery-into-aws-org.md
  website/pages/blog/deploying-cloudquery-into-aws-org.md
Owners: none

regenerate
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_users_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_users_groups.md
  plugins/source/gitlab/docs/tables/gitlab_users_users.md
  plugins/source/gitlab/resources/services/users/groups.go
Owners: @cloudquery/cloudquery-opensource

add testimonial and linkedin
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

alignment and word change
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

chore: Update EventBridge blog with testimonial (#5186)
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

fix: Add Copy To Code Examples (#5125)
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-resources-view.md
  website/pages/blog/aws-sso-and-the-lost-iam-keys.md
  website/pages/blog/configuring-workload-identity-federation-between-gcp-and-aws-eks.md
  website/pages/blog/cross-account-access-aws-assumerole.md
  website/pages/blog/deploying-cloudquery-into-aws-org.md
  website/pages/blog/how-to-setup-aws-cli-with-aws-sso.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-wildcard-matching-for-tables.md
  website/pages/blog/keyless-access-to-aws-in-github-actions-with-oidc.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/developers/creating-new-plugin.md
  website/pages/docs/developers/running-locally.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi_account.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
Owners: none

Testimonial formatting
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

chore: Testimonial formatting (#5187)
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none

feat(website): Move Gandi docs to website
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Fix issues
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

One more
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

Use gctx
  cli/cmd/sync2.go
Owners: @yevgenypats

Use gctx
  cli/cmd/sync2.go
Owners: @yevgenypats

Revert "Use gctx"
  cli/cmd/sync2.go
Owners: @yevgenypats

feat(website): Search tables POC
  .github/workflows/index_tables.yml
  website/components/TableSearch.tsx
  website/components/pages/home.tsx
  website/package.json
  website/scripts/algolia.js
  website/scripts/package.json
  website/scripts/tables.json
  website/yarn.lock
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat(website): Search tables POC
  website/.gitignore
  website/components/TableSearch.tsx
  website/package.json
  website/scripts/algolia.js
  website/scripts/tables.json
  website/yarn.lock
Owners: none

feat(website): Search tables POC
  website/components/TableSearch.tsx
  website/components/pages/home.tsx
Owners: none

fixed test
  plugins/source/datadog/client/mocks/users_mock.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_mock_test.go
Owners: @cloudquery/cloudquery-opensource

docs
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_dashboard_lists.md
  plugins/source/datadog/docs/tables/datadog_dashboards.md
  plugins/source/datadog/docs/tables/datadog_downtimes.md
  plugins/source/datadog/docs/tables/datadog_global_variables.md
  plugins/source/datadog/docs/tables/datadog_hosts.md
  plugins/source/datadog/docs/tables/datadog_incident_attachments.md
  plugins/source/datadog/docs/tables/datadog_incidents.md
  plugins/source/datadog/docs/tables/datadog_monitor_downtimes.md
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_notebooks.md
  plugins/source/datadog/docs/tables/datadog_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_users.md
  plugins/source/datadog/docs/tables/datadog_roles.md
  plugins/source/datadog/docs/tables/datadog_synthetics.md
Owners: @cloudquery/cloudquery-opensource

fix
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_mock_test.go
Owners: @cloudquery/cloudquery-opensource

feat: Add plugin tables
  website/.gitignore
  website/package.json
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/datadog/_meta.json
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/terraform/_meta.json
  website/scripts/algolia.js
  website/scripts/gen-tables.js
Owners: none

pk fix
  plugins/source/datadog/codegen/recipes/base.go
  plugins/source/datadog/codegen/recipes/dashboard_lists.go
  plugins/source/datadog/codegen/recipes/dashboards.go
  plugins/source/datadog/codegen/recipes/downtimes.go
  plugins/source/datadog/codegen/recipes/hosts.go
  plugins/source/datadog/codegen/recipes/incidents.go
  plugins/source/datadog/codegen/recipes/monitors.go
  plugins/source/datadog/codegen/recipes/notebooks.go
  plugins/source/datadog/codegen/recipes/roles.go
  plugins/source/datadog/codegen/recipes/synthetics.go
  plugins/source/datadog/codegen/recipes/users.go
  plugins/source/datadog/docs/tables/datadog_dashboard_lists.md
  plugins/source/datadog/docs/tables/datadog_dashboards.md
  plugins/source/datadog/docs/tables/datadog_downtimes.md
  plugins/source/datadog/docs/tables/datadog_hosts.md
  plugins/source/datadog/docs/tables/datadog_incidents.md
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_notebooks.md
  plugins/source/datadog/docs/tables/datadog_permissions.md
  plugins/source/datadog/docs/tables/datadog_roles.md
  plugins/source/datadog/docs/tables/datadog_synthetics.md
  plugins/source/datadog/docs/tables/datadog_users.md
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists.go
  plugins/source/datadog/resources/services/dashboards/dashboards.go
  plugins/source/datadog/resources/services/downtimes/downtimes.go
  plugins/source/datadog/resources/services/hosts/hosts.go
  plugins/source/datadog/resources/services/incidents/incidents.go
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/notebooks/notebooks.go
  plugins/source/datadog/resources/services/roles/permissions.go
  plugins/source/datadog/resources/services/roles/roles.go
  plugins/source/datadog/resources/services/synthetics/synthetics.go
  plugins/source/datadog/resources/services/users/users.go
Owners: @cloudquery/cloudquery-opensource

refactor: Code cleanup
  .github/workflows/index_tables.yml
  website/components/TableSearch.tsx
  website/components/pages/home.tsx
  website/package.json
  website/scripts/gen-tables.js
  website/yarn.lock
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat(website): Add Gandi source plugin docs
  plugins/source/gandi/README.md
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/overview.mdx
Owners: @cloudquery/cloudquery-opensource

Update website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Update .gitignore
  plugins/source/gitlab/.gitignore
Owners: @cloudquery/cloudquery-opensource

many changes
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/mocks/groups.go
  plugins/source/gitlab/client/mocks/projects.go
  plugins/source/gitlab/client/services/groups.go
  plugins/source/gitlab/client/services/projects.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/groups.go
  plugins/source/gitlab/codegen/recipes/projects.go
  plugins/source/gitlab/codegen/recipes/releases.go
  plugins/source/gitlab/codegen/recipes/settings.go
  plugins/source/gitlab/config.yml
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_groups_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_groups_groups.md
  plugins/source/gitlab/docs/tables/gitlab_projects_projects.md
  plugins/source/gitlab/docs/tables/gitlab_users_users.md
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/group_members_fetch.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/groups/users_fetch.go
  plugins/source/gitlab/resources/services/groups/users_test.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/users/users.go
Owners: @cloudquery/cloudquery-opensource

Update config.yml
  plugins/source/gitlab/config.yml
Owners: @cloudquery/cloudquery-opensource

continued progress
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/mocks/settings.go
  plugins/source/gitlab/client/services/settings.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/settings/settings.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update config.yml
  plugins/source/gitlab/config.yml
Owners: @cloudquery/cloudquery-opensource

Delete config.yml
  plugins/source/gitlab/config.yml
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update github.com/gocarina/gocsv digest to c8ef781
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update golang.org/x/exp digest to 6ab00d0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update google.golang.org/genproto digest to a2ec334
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update Website
  website/package.json
  website/yarn.lock
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecrpublic to v1.13.20
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/gofrs/uuid to v4.3.1
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none
