Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-destination-bigquery v1.3.2
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.10.2
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.1.2
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-bigquery v1.3.2 (#6078)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.3.2
  website/versions/destination-bigquery.json
Owners: none

chore(main): Release plugins-destination-test v1.3.11 (#6077)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.11
  website/versions/destination-test.json
Owners: none

chore(main): Release plugins-destination-csv v1.2.2 (#6075)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.2.2
  website/versions/destination-csv.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.10.2 (#6076)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.10.2
  website/versions/destination-postgresql.json
Owners: none

chore(main): Release plugins-destination-snowflake v1.1.2 (#6073)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore: Update plugin `destination-snowflake` version to v1.1.2
  website/versions/destination-snowflake.json
Owners: none

chore(main): Release plugins-destination-sqlite v1.1.2 (#6072)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-mongodb v1.0.2 (#6074)
  .release-please-manifest.json
  plugins/destination/mongodb/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.3.2 (#6082)
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `destination-mongodb` version to v1.0.2
  website/versions/destination-mongodb.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.1.2
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.11 (#6083)
  website/versions/destination-test.json
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-csv` version to v1.2.2 (#6084)
  website/versions/destination-csv.json
Owners: none

fix(bigquery-spec): Move `batch_size` from the plugin spec to the top level spec
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-postgresql` version to v1.10.2 (#6085)
  website/versions/destination-postgresql.json
Owners: none

refactor: Remove unused const
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-snowflake` version to v1.1.2 (#6086)
  website/versions/destination-snowflake.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#6089)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-mongodb` version to v1.0.2 (#6087)
  website/versions/destination-mongodb.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.1.2 (#6088)
  website/versions/destination-sqlite.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.1.2
  plugins/source/aws/test/sanity.yml
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.1.2 (#6094)
  plugins/source/aws/test/sanity.yml
Owners: @hermanschaaf, @yevgenypats

releases and release assets
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_release_assets.md
  plugins/source/github/docs/tables/github_releases.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/resources/services/repositories/assets.go
  plugins/source/github/resources/services/repositories/assets_fetch.go
  plugins/source/github/resources/services/repositories/releases.go
  plugins/source/github/resources/services/repositories/releases_fetch.go
  plugins/source/github/resources/services/repositories/repositories.go
  website/pages/docs/plugins/sources/github/tables.md
Owners: @cloudquery/cloudquery-opensource

feat: New file destination plugin
  .github/pr_labeler.yml
  .github/workflows/dest_file.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/file/.gitignore
  plugins/destination/file/.goreleaser.yaml
  plugins/destination/file/CHANGELOG.md
  plugins/destination/file/Makefile
  plugins/destination/file/README.md
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/transformer.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
  plugins/destination/file/resources/plugin/plugin.go
  plugins/filetypes/csv/read.go
  plugins/filetypes/csv/transformer.go
  plugins/filetypes/csv/write.go
  plugins/filetypes/csv/write_read_test.go
  plugins/filetypes/go.mod
  plugins/filetypes/go.sum
  plugins/filetypes/json/read.go
  plugins/filetypes/json/transformer.go
  plugins/filetypes/json/write.go
  plugins/filetypes/json/write_read_test.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

feat: Update sentry
  plugins/destination/file/main.go
Owners: @cloudquery/cloudquery-opensource

fix lint
  plugins/destination/file/client/read.go
Owners: @cloudquery/cloudquery-opensource

Add documentation for file plugin
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/file/_meta.json
  website/pages/docs/plugins/destinations/file/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

fix typo
  website/pages/docs/plugins/destinations/file/overview.md
Owners: none

update gh action
  .github/workflows/dest_file.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update .github/workflows/dest_file.yml
  .github/workflows/dest_file.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update plugins/destination/file/client/client.go
  plugins/destination/file/client/client.go
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/deletestale.go
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
