Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

Update introducing-glob-matching-for-tables.md
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

Update introducing-glob-matching-for-tables.md
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

chore(main): Release cli v2.0.13 (#4403)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.15 (#4404)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.13
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.17 (#4405)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.15
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-digitalocean` version to v2.2.17
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-destination-csv v1.1.7 (#4406)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.7
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-github v1.2.13 (#4407)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.0.4 (#4408)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.13
  sites/versions/v2/source-github.json
Owners: none

chore: Update plugin `source-heroku` version to v3.0.4
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.8 (#4410)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.8
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.8 (#4411)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

Update introducing-glob-matching-for-tables.md
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.8
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.4 (#4412)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.15 (#4420)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

Update introducing-glob-matching-for-tables.md
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.17 (#4421)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update CLI version to v2.0.13 (#4419)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

Add tables links to source plugins
  website/pages/docs/plugins/sources.mdx
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.4
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.7 (#4422)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.4 (#4424)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-okta` version to v1.3.8 (#4425)
  sites/versions/v2/source-okta.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.8 (#4426)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `source-github` version to v1.2.13 (#4423)
  sites/versions/v2/source-github.json
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

docs
  plugins/source/aws/docs/tables/aws_iam_group_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_policy_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_role_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_user_services_last_accessed.md
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#4429)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Update cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update engine_versions_mock_test.go
  plugins/source/aws/resources/services/rds/engine_versions_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go to v1.44.136
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.39
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.34.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
