Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-gcp` version to v2.4.16 (#4541)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

Regenerate
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/mocks/elasticsearchservice.go
  plugins/source/aws/client/mocks/iot.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/client/services/elasticsearchservice.go
  plugins/source/aws/client/services/iot.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/ram.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_and_describe_resources_1/fetch.go.tpl
  plugins/source/aws/resources/services/appstream/app_blocks_fetch.go
  plugins/source/aws/resources/services/appstream/directory_configs_fetch.go
  plugins/source/aws/resources/services/appstream/fleets_fetch.go
  plugins/source/aws/resources/services/appstream/image_builders_fetch.go
  plugins/source/aws/resources/services/appstream/images_fetch.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_fetch.go
  plugins/source/aws/resources/services/kafka/clusters_fetch.go
  plugins/source/aws/resources/services/ram/inputs.go
  plugins/source/aws/resources/services/ram/principals_fetch.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_fetch.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_mock_test.go
  plugins/source/aws/resources/services/ram/resources_fetch.go
  plugins/source/aws/resources/services/ram/resources_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-github` version to v1.2.14 (#4540)
  sites/versions/v2/source-github.json
Owners: none

chore: Update plugin `source-k8s` version to v2.3.16 (#4543)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-heroku` version to v3.0.5 (#4542)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-test` version to v1.3.16 (#4546)
  sites/versions/v2/source-test.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.17 (#4545)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-okta` version to v1.3.9 (#4544)
  sites/versions/v2/source-okta.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4547)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Owners: @yevgenypats

fix: Update Nextra configurations
  website/components/BlogIndex.tsx
  website/pages/_meta.json
  website/pages/blog/_meta.json
  website/pages/privacy.mdx
  website/theme.config.tsx
Owners: none

fix(website): Point "Get Started" to Quickstart
  website/components/pages/home.tsx
Owners: none

fix: EngineVersions should be regional
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/services/rds/engine_versions.go
Owners: @hermanschaaf, @yevgenypats

fix: Remove dead code
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix: RDS fixes (#4382)
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions.go
Owners: @hermanschaaf, @yevgenypats

small cleanup
  plugins/source/k8s/Makefile
  plugins/source/k8s/client/client.go
  plugins/source/k8s/gen.sh
Owners: @cloudquery/cloudquery-opensource

fix: CSS
  website/components/BlogIndex.tsx
  website/components/pages/confirm.tsx
  website/components/pages/home.tsx
Owners: none

fix(website): Point "Get Started" to Quickstart (#4548)
  website/components/pages/home.tsx
Owners: none

fix(deps): Update Website (#4530)
  website/components/BlogIndex.tsx
  website/components/pages/confirm.tsx
  website/components/pages/home.tsx
  website/package.json
  website/pages/_meta.json
  website/pages/blog/_meta.json
  website/pages/privacy.mdx
  website/theme.config.tsx
  website/yarn.lock
Owners: none

add 5.2.1
  plugins/source/k8s/policies_v1/cis_v1.6.0/section_5.sql
Owners: @cloudquery/cloudquery-opensource

add 5.2.2 and 5.2.3
  plugins/source/k8s/policies_v1/cis_v1.6.0/section_5.sql
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v5.0.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v5.0.0 (#4551)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v5.0.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(blog): Blog post about wildcard matching (#4413)
  website/pages/blog/_meta.json
  website/pages/blog/introducing-wildcard-matching-for-tables.md
Owners: none

chore: Update plugin `source-aws` version to v5.0.0 (#4552)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

implement Timestream resources
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/mocks/elasticsearchservice.go
  plugins/source/aws/client/mocks/iot.go
  plugins/source/aws/client/mocks/timestreamwrite.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/client/services/elasticsearchservice.go
  plugins/source/aws/client/services/iot.go
  plugins/source/aws/client/services/timestreamwrite.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/timestream.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_timestream_databases.md
  plugins/source/aws/docs/tables/aws_timestream_tables.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/timestream/databases.go
  plugins/source/aws/resources/services/timestream/databases_fetch.go
  plugins/source/aws/resources/services/timestream/databases_mock_test.go
  plugins/source/aws/resources/services/timestream/tables.go
  plugins/source/aws/resources/services/timestream/tables_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix makefile to gen mocks
  plugins/source/aws/Makefile
  plugins/source/aws/client/mocks/mock_docdb.go
  plugins/source/aws/resources/services/docdb/event_categories_mock_test.go
  plugins/source/aws/resources/services/docdb/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/docdb/events_mock_test.go
Owners: @hermanschaaf, @yevgenypats

add 5.2.*
  plugins/source/k8s/policies_v1/cis_v1.6.0/section_5.sql
Owners: @cloudquery/cloudquery-opensource

feat(aws): Implement Timestream resources (#4553)
  plugins/source/aws/Makefile
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/mocks/elasticsearchservice.go
  plugins/source/aws/client/mocks/iot.go
  plugins/source/aws/client/mocks/mock_docdb.go
  plugins/source/aws/client/mocks/timestreamwrite.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/client/services/elasticsearchservice.go
  plugins/source/aws/client/services/iot.go
  plugins/source/aws/client/services/timestreamwrite.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/timestream.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_timestream_databases.md
  plugins/source/aws/docs/tables/aws_timestream_tables.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/docdb/event_categories_mock_test.go
  plugins/source/aws/resources/services/docdb/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/docdb/events_mock_test.go
  plugins/source/aws/resources/services/timestream/databases.go
  plugins/source/aws/resources/services/timestream/databases_fetch.go
  plugins/source/aws/resources/services/timestream/databases_mock_test.go
  plugins/source/aws/resources/services/timestream/tables.go
  plugins/source/aws/resources/services/timestream/tables_fetch.go
Owners: @hermanschaaf, @yevgenypats

Updates
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/kafka.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/mock_test.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_and_describe_resources_1/mock_test.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/mock_test.go.tpl
  plugins/source/aws/resources/services/appstream/app_blocks_mock_test.go
  plugins/source/aws/resources/services/appstream/directory_configs_mock_test.go
  plugins/source/aws/resources/services/appstream/fleets_mock_test.go
  plugins/source/aws/resources/services/appstream/image_builders_mock_test.go
  plugins/source/aws/resources/services/appstream/images_mock_test.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_mock_test.go
  plugins/source/aws/resources/services/eventbridge/api_destinations_mock_test.go
  plugins/source/aws/resources/services/eventbridge/archives_mock_test.go
  plugins/source/aws/resources/services/eventbridge/connections_mock_test.go
  plugins/source/aws/resources/services/eventbridge/endpoints_mock_test.go
  plugins/source/aws/resources/services/eventbridge/event_sources_mock_test.go
  plugins/source/aws/resources/services/eventbridge/replays_mock_test.go
  plugins/source/aws/resources/services/kafka/cluster_operations.go
  plugins/source/aws/resources/services/kafka/clusters_fetch.go
  plugins/source/aws/resources/services/kafka/clusters_mock_test.go
  plugins/source/aws/resources/services/kafka/configurations.go
  plugins/source/aws/resources/services/kafka/configurations_mock_test.go
  plugins/source/aws/resources/services/kafka/helpers.go
  plugins/source/aws/resources/services/kafka/nodes.go
  plugins/source/aws/resources/services/ram/principals_mock_test.go
  plugins/source/aws/resources/services/ram/resource_share_invitations_mock_test.go
  plugins/source/aws/resources/services/ram/resources_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for aws to v1.5.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.2
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.2
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.2
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.2
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.2
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.2
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.2
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.2
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.2
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
