Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

feat(gandi): Initial commit
  plugins/source/gandi/.gitignore
  plugins/source/gandi/.goreleaser.yaml
  plugins/source/gandi/.pre-commit-config.yaml
  plugins/source/gandi/CHANGELOG.md
  plugins/source/gandi/Makefile
  plugins/source/gandi/README.md
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/mocks/mock_certificate_client.go
  plugins/source/gandi/client/mocks/mock_domain_client.go
  plugins/source/gandi/client/mocks/mock_email_client.go
  plugins/source/gandi/client/mocks/mock_livedns_client.go
  plugins/source/gandi/client/mocks/mock_simplehosting_client.go
  plugins/source/gandi/client/resolvers.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/client/spec.go
  plugins/source/gandi/client/testing.go
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/codegen/templates/resource_manual.go.tpl
  plugins/source/gandi/docs/configuration.md
  plugins/source/gandi/docs/tables/README.md
  plugins/source/gandi/docs/tables/gandi_simplehosting_instance_vhosts.md
  plugins/source/gandi/docs/tables/gandi_simplehosting_instances.md
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gandi/main.go
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/simplehosting/instance_vhosts.go
  plugins/source/gandi/resources/services/simplehosting/instance_vhosts_fetch.go
  plugins/source/gandi/resources/services/simplehosting/instances.go
  plugins/source/gandi/resources/services/simplehosting/instances_fetch.go
Owners: @cloudquery/cloudquery-opensource

Generate table names from struct names
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/certificates.go
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/codegen/recipes/livedns.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
Owners: @cloudquery/cloudquery-opensource

Update after first sync, add query examples
  plugins/source/gandi/README.md
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/docs/tables/README.md
  plugins/source/gandi/docs/tables/gandi_certificate_packages.md
  plugins/source/gandi/docs/tables/gandi_certificates.md
  plugins/source/gandi/docs/tables/gandi_domain_glue_records.md
  plugins/source/gandi/docs/tables/gandi_domain_web_redirections.md
  plugins/source/gandi/resources/services/domains/domain_glue_records.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections.go
Owners: @cloudquery/cloudquery-opensource

Prepare for release
  .github/pr_labeler.yml
  .github/workflows/source_gandi.yml
  .github/workflows/wait_for_required_workflows.yml
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update SDK, re-gen docs
  plugins/source/gandi/docs/tables/README.md
  plugins/source/gandi/docs/tables/gandi_certificate_packages.md
  plugins/source/gandi/docs/tables/gandi_certificates.md
  plugins/source/gandi/docs/tables/gandi_domain_dnssec_keys.md
  plugins/source/gandi/docs/tables/gandi_domain_glue_records.md
  plugins/source/gandi/docs/tables/gandi_domain_livedns.md
  plugins/source/gandi/docs/tables/gandi_domain_web_redirections.md
  plugins/source/gandi/docs/tables/gandi_domains.md
  plugins/source/gandi/docs/tables/gandi_livedns_domain_snapshots.md
  plugins/source/gandi/docs/tables/gandi_livedns_domains.md
  plugins/source/gandi/docs/tables/gandi_simplehosting_instance_vhosts.md
  plugins/source/gandi/docs/tables/gandi_simplehosting_instances.md
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
Owners: @cloudquery/cloudquery-opensource

Add service+subservice logic to be compatible with codegen conventions
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/templates/resource.go.tpl
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/gandi/main.go
  plugins/source/gandi/main.go
Owners: @cloudquery/cloudquery-opensource

Use sentry dsn, APIKey nit
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/spec.go
  plugins/source/gandi/main.go
Owners: @cloudquery/cloudquery-opensource

Add certificates
  plugins/source/gandi/client/mocks/mock_certificate_client.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/certificates.go
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/certificates/certificates.go
  plugins/source/gandi/resources/services/certificates/certificates_fetch.go
  plugins/source/gandi/resources/services/certificates/packages.go
  plugins/source/gandi/resources/services/certificates/packages_fetch.go
Owners: @cloudquery/cloudquery-opensource

Better codegen
  plugins/source/gandi/Makefile
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/certificates.go
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/codegen/recipes/livedns.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/codegen/templates/resource.go.tpl
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/certificates/certificate_packages.go
  plugins/source/gandi/resources/services/certificates/certificate_packages_fetch.go
  plugins/source/gandi/resources/services/certificates/certificate_packages_mock_test.go
  plugins/source/gandi/resources/services/certificates/certificates.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys.go
  plugins/source/gandi/resources/services/domains/domain_glue_records.go
  plugins/source/gandi/resources/services/domains/domain_live_dns.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections.go
  plugins/source/gandi/resources/services/domains/domains.go
  plugins/source/gandi/resources/services/livedns/livedns_domains.go
  plugins/source/gandi/resources/services/livedns/livedns_domains_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domains_mock_test.go
  plugins/source/gandi/resources/services/livedns/livedns_snapshots.go
  plugins/source/gandi/resources/services/livedns/livedns_snapshots_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances_mock_test.go
Owners: @cloudquery/cloudquery-opensource

vocab: Add Gandi to list
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Domain resources
  plugins/source/gandi/client/mocks/mock_domain_client.go
  plugins/source/gandi/client/mocks/mock_email_client.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/docs/tables/README.md
  plugins/source/gandi/docs/tables/gandi_domain_dnssec_keys.md
  plugins/source/gandi/docs/tables/gandi_domain_glue_records.md
  plugins/source/gandi/docs/tables/gandi_domain_live_dns.md
  plugins/source/gandi/docs/tables/gandi_domain_web_redirections.md
  plugins/source/gandi/docs/tables/gandi_domains.md
  plugins/source/gandi/docs/tables/gandi_livedns_domains.md
  plugins/source/gandi/docs/tables/gandi_livedns_snapshots.md
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys_fetch.go
  plugins/source/gandi/resources/services/domains/domain_glue_records.go
  plugins/source/gandi/resources/services/domains/domain_glue_records_fetch.go
  plugins/source/gandi/resources/services/domains/domain_live_dns.go
  plugins/source/gandi/resources/services/domains/domain_live_dns_fetch.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections_fetch.go
  plugins/source/gandi/resources/services/domains/domains.go
  plugins/source/gandi/resources/services/domains/domains_fetch.go
Owners: @cloudquery/cloudquery-opensource

Add mock tests
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/client/testing.go
  plugins/source/gandi/resources/services/certificates/certificates_mock_test.go
  plugins/source/gandi/resources/services/certificates/packages_mock_test.go
  plugins/source/gandi/resources/services/domains/domains_mock_test.go
  plugins/source/gandi/resources/services/livedns/domains_mock_test.go
  plugins/source/gandi/resources/services/simplehosting/instances_mock_test.go
Owners: @cloudquery/cloudquery-opensource

Add LiveDNS
  plugins/source/gandi/client/mocks/mock_livedns_client.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/livedns.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/resources/plugin/plugin.go
  plugins/source/gandi/resources/services/livedns/domain_snapshots.go
  plugins/source/gandi/resources/services/livedns/domain_snapshots_fetch.go
  plugins/source/gandi/resources/services/livedns/domains.go
  plugins/source/gandi/resources/services/livedns/domains_fetch.go
Owners: @cloudquery/cloudquery-opensource

More codegen: Infer almost everything
  plugins/source/gandi/codegen/main.go
  plugins/source/gandi/codegen/recipes/certificates.go
  plugins/source/gandi/codegen/recipes/domains.go
  plugins/source/gandi/codegen/recipes/livedns.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/codegen/recipes/simplehosting.go
  plugins/source/gandi/docs/tables/README.md
  plugins/source/gandi/docs/tables/gandi_domain_livedns.md
  plugins/source/gandi/docs/tables/gandi_domains.md
  plugins/source/gandi/docs/tables/gandi_livedns_domain_snapshots.md
  plugins/source/gandi/docs/tables/gandi_livedns_domains.md
  plugins/source/gandi/resources/services/domains/domain_livedns.go
  plugins/source/gandi/resources/services/domains/domain_livedns_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domains.go
Owners: @cloudquery/cloudquery-opensource

Migrate only selected tables
  cli/cmd/sync2.go
Owners: @yevgenypats

fix naming of snowflake variable
  plugins/destination/snowflake/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

chore: Fix naming of snowflake variable (#5100)
  plugins/destination/snowflake/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/datadog/README.md
  plugins/source/datadog/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/datadog/README.md
  plugins/source/datadog/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/source/datadog/main.go
  plugins/source/datadog/main.go
Owners: @cloudquery/cloudquery-opensource

fixes
  .github/workflows/source_datadog.yml
  plugins/source/datadog/client/client.go
  plugins/source/datadog/codegen/main.go
  plugins/source/datadog/codegen/recipes/base.go
  plugins/source/datadog/codegen/recipes/templates/resource.go.tpl
  plugins/source/datadog/codegen/recipes/users.go
  plugins/source/datadog/resources/services/users/user_organizations.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/users.go
  plugins/source/datadog/scripts/regenerate-changed-directories.sh
  plugins/source/datadog/scripts/terraform-apply-all.sh
  plugins/source/datadog/scripts/terraform-apply-changes-only.sh
  plugins/source/datadog/scripts/terraform-fmt-change-only.sh
  plugins/source/datadog/scripts/terraform-init-change-only.sh
  plugins/source/datadog/scripts/terraform-plan-change-only.sh
  plugins/source/datadog/scripts/terraform-validate-all.sh
  plugins/source/datadog/scripts/terraform-validate-change-only.sh
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Start BigQuery destination (still WIP)
  plugins/destination/bigquery/.gitignore
  plugins/destination/bigquery/.goreleaser.yaml
  plugins/destination/bigquery/CHANGELOG.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/bigquery/Makefile
  plugins/destination/bigquery/README.md
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/bigquery/client/deletestale.go
  plugins/destination/bigquery/client/metrics.go
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/types.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/bigquery/main.go
  plugins/destination/bigquery/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

fixes
  .github/pr_labeler.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/datadog/CHANGELOG.md
  plugins/source/datadog/client/spec.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fix lint
  plugins/source/datadog/README.md
Owners: @cloudquery/cloudquery-opensource

fix lint
  website/pages/blog/cloudquery-raises-15m-series-a.md
Owners: none

linter
  plugins/source/datadog/client/spec.go
  plugins/source/datadog/codegen/recipes/base.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/resources/services/users/user_organizations.go
  plugins/source/datadog/resources/services/users/user_permissions.go
  plugins/source/datadog/resources/services/users/users.go
Owners: @cloudquery/cloudquery-opensource

fix: Fix spacing in Sync message (#5091)
  cli/cmd/sync2.go
Owners: @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5106)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

feat(gcp): ApiKeys
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apikeys_keys.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/apikeys/keys_mock_test.go
Owners: @yevgenypats, @disq

feat(gcp): ApiKeys (#5031)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apikeys_keys.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/apikeys/keys_mock_test.go
Owners: @yevgenypats, @disq

Update plugins/source/aws/client/client.go
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

fix: Add refresh window and jitter for cached credentials (#5097)
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v7.2.2
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.2.2 (#5048)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

Draft : Crowdstrike source with just crowdscores
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/README.md
  plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/client/spec.go
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/codegen/recipes/templates/resource.go.tpl
  plugins/source/crowdstrike/docs/tables/README.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_incidents_crowdscore.md
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
  plugins/source/crowdstrike/main.go
  plugins/source/crowdstrike/resources/plugin/plugin.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v7.2.2
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

Draft: adding alerts
  plugins/source/crowdstrike/client/testing.go
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v7.2.2 (#5108)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats
