Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-aws` version to v4.14.0 (#4313)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancingv2 to v1.18.23 (#4366)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.17 (#4405)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.2.25 (#4332)
  sites/versions/v2/destination-test.json
Owners: none

chore(main): Release cli v2.0.12 (#4310)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.11 (#4274)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.23.1 (#4352)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.0 (#4394)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

chore: Update plugin `source-okta` version to v1.3.8 (#4425)
  sites/versions/v2/source-okta.json
Owners: none

fix(deps): Update plugin-sdk for okta to v1.4.1 (#4299)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.0 (#4390)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.2 (#4333)
  sites/versions/v2/destination-sqlite.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.21 (#4349)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eventbridge to v1.16.18 (#4368)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecr to v1.17.21 (#4361)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.4.1 (#4298)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sesv2 to v1.15.1 (#4443)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.14 (#4270)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.15.0 (#4336)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.5.0 (#4385)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.0 (#4388)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.12.24 (#4344)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-csv v1.1.6 (#4268)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.18.16 (#4435)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.7 (#4315)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.3 (#4311)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update plugin-sdk for terraform to v1.4.1 (#4302)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.25.1 (#4441)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `destination-csv` version to v1.1.7 (#4422)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update CLI version to v2.0.13 (#4419)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kinesis to v1.15.22 (#4369)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.17 (#4421)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-gcp v2.4.15 (#4372)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancing to v1.14.21 (#4365)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.15 (#4319)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.15 (#4404)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix: Update some descriptions (#4371)
  plugins/source/aws/codegen/recipes/autoscaling.go
  plugins/source/aws/codegen/recipes/cloudtrail.go
  plugins/source/aws/codegen/recipes/dms.go
  plugins/source/aws/codegen/recipes/docdb.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/codegen/recipes/elasticbeanstalk.go
  plugins/source/aws/codegen/recipes/elbv1.go
  plugins/source/aws/codegen/recipes/guardduty.go
  plugins/source/aws/codegen/recipes/secretsmanager.go
  plugins/source/aws/docs/tables/aws_autoscaling_groups.md
  plugins/source/aws/docs/tables/aws_cloudtrail_trails.md
  plugins/source/aws/docs/tables/aws_dms_replication_instances.md
  plugins/source/aws/docs/tables/aws_docdb_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_ecs_task_definitions.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_configuration_options.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_configuration_settings.md
  plugins/source/aws/docs/tables/aws_elbv1_load_balancers.md
  plugins/source/aws/docs/tables/aws_guardduty_detectors.md
  plugins/source/aws/docs/tables/aws_regions.md
  plugins/source/aws/docs/tables/aws_secretsmanager_secrets.md
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/dms/replication_instances.go
  plugins/source/aws/resources/services/docdb/cluster_parameters.go
  plugins/source/aws/resources/services/ec2/regions.go
  plugins/source/aws/resources/services/ecs/task_definitions.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_options.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_settings.go
  plugins/source/aws/resources/services/elbv1/load_balancers.go
  plugins/source/aws/resources/services/guardduty/detectors.go
  plugins/source/aws/resources/services/secretsmanager/secrets.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for cli to v1.5.0 (#4387)
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.19.1 (#4350)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-heroku` version to v3.0.3 (#4322)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
