Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(website): Fix broken links in 2022 May update (#5960)
  website/pages/blog/2022-may-monthly.md
Owners: none

Add tests
  plugins/source/fastly/resources/services/services/service_backends.go
  plugins/source/fastly/resources/services/services/service_backends_fetch.go
  plugins/source/fastly/resources/services/services/service_backends_mock_test.go
  plugins/source/fastly/resources/services/services/service_domains.go
  plugins/source/fastly/resources/services/services/service_domains_fetch.go
  plugins/source/fastly/resources/services/services/service_domains_mock_test.go
  plugins/source/fastly/resources/services/services/service_health_checks.go
  plugins/source/fastly/resources/services/services/service_healthchecks_fetch.go
  plugins/source/fastly/resources/services/services/service_healthchecks_mock_test.go
  plugins/source/fastly/resources/services/services/service_versions_fetch.go
  plugins/source/fastly/resources/services/services/service_versions_mock_test.go
  plugins/source/fastly/resources/services/services/services_mock_test.go
Owners: @cloudquery/cloudquery-opensource

fix: Update to new SDK (dest-test, GitLab)
  plugins/destination/test/client/client.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_groups.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/docs/tables/gitlab_projects_releases.md
  plugins/source/gitlab/docs/tables/gitlab_settings.md
  plugins/source/gitlab/docs/tables/gitlab_users.md
  plugins/source/gitlab/resources/plugin/plugin.go
  website/pages/docs/plugins/sources/gitlab/tables.md
Owners: @cloudquery/cloudquery-opensource

Update configuring-cq-with-localstack.md
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

Update vercel.json
  website/vercel.json
Owners: none

Update configuring-cq-with-localstack.md
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

Docs and regions
  plugins/source/fastly/codegen/main.go
  plugins/source/fastly/codegen/recipes/stats.go
  plugins/source/fastly/docs/tables/README.md
  plugins/source/fastly/docs/tables/fastly_service_backends.md
  plugins/source/fastly/docs/tables/fastly_service_domains.md
  plugins/source/fastly/docs/tables/fastly_service_health_checks.md
  plugins/source/fastly/docs/tables/fastly_service_versions.md
  plugins/source/fastly/docs/tables/fastly_services.md
  plugins/source/fastly/docs/tables/fastly_stats_regions.md
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/stats/stats_regions.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch.go
  plugins/source/fastly/resources/services/stats/stats_regions_fetch_test.go
  website/pages/docs/plugins/sources/fastly/_meta.json
  website/pages/docs/plugins/sources/fastly/overview.md
  website/pages/docs/plugins/sources/fastly/tables.md
Owners: @cloudquery/cloudquery-opensource

Update configuring-cq-with-localstack.md
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

Add transfer lock
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/route53/domains_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update go.mod
  plugins/source/azure/go.mod
Owners: none

Update go.mod
  plugins/source/azure/go.mod
Owners: none

fix: Rebase fixes
  plugins/source/azure/resources/services/logic/workflows.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts.go
  plugins/source/azure/resources/services/redis/caches.go
  plugins/source/azure/resources/services/search/services.go
Owners: @erezrokah, @yevgenypats

Implement service stats
  plugins/source/fastly/client/client.go
  plugins/source/fastly/client/multiplexers.go
  plugins/source/fastly/client/resolvers.go
  plugins/source/fastly/client/spec.go
  plugins/source/fastly/client/testing.go
  plugins/source/fastly/codegen/recipes/services.go
  plugins/source/fastly/codegen/recipes/stats.go
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/services/services_fetch.go
  plugins/source/fastly/resources/services/stats/models/stats.go
  plugins/source/fastly/resources/services/stats/stats_services.go
  plugins/source/fastly/resources/services/stats/stats_services_fetch.go
  plugins/source/fastly/resources/services/stats/stats_services_mock_test.go
  plugins/source/fastly/resources/services/stats/testdata/stats.json
Owners: @cloudquery/cloudquery-opensource

fix(ci): Skip broken links checks if build is ignored on Vercel
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(ci): Skip broken links checks if build is ignored on Vercel (#5973)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-okta v2.0.1
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.3.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.3.3
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-vercel v1.0.2
  .release-please-manifest.json
  plugins/source/vercel/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.9
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-salesforce v1.0.0
  .release-please-manifest.json
  plugins/source/salesforce/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.3
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.3
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-crowdstrike v1.0.1
  .release-please-manifest.json
  plugins/source/crowdstrike/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.4
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v3.0.0
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-pagerduty v1.1.1
  .release-please-manifest.json
  plugins/source/pagerduty/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-slack v1.0.1
  .release-please-manifest.json
  plugins/source/slack/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.3
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.25
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gitlab v1.0.1
  .release-please-manifest.json
  plugins/source/gitlab/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.4.2
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v4.0.1
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.1.3
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-tailscale v1.0.2
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azuredevops v1.0.0
  .release-please-manifest.json
  plugins/source/azuredevops/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.28
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v9.0.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(ci): Skip broken links checks if build is ignored on Vercel
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(ci): Skip broken links checks if build is ignored on Vercel (#5980)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats
