Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.0
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

feat: Add flag to force test destination plugin to return an error (#4378)
  plugins/destination/test/client/client.go
  plugins/destination/test/client/spec.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.19.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iot to v1.31.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.0
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.18 (#4464)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.16 (#4465)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-aws` version to v4.15.1 (#4467)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v4.16.0 (#4466)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v4.16.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iot to v1.31.0 (#4454)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4470)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-test v1.3.0 (#4471)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.0
  sites/versions/v2/destination-test.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.0 (#4453)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.19.0 (#4452)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-aws` version to v4.16.0 (#4472)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.3.0
  cli/cmd/testdata/dest.test.yml
Owners: @yevgenypats

feat(aws): Add support for FSX File Caches (#4091)
  plugins/source/aws/codegen/recipes/fsx.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_fsx_file_caches.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/fsx/file_caches.go
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
  plugins/source/aws/resources/services/fsx/file_caches_test.go
Owners: @hermanschaaf, @yevgenypats

fix(aws): Remove NotFound checks in PreResourceResolvers (#4376)
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v4.17.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.17.0 (#4473)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.0 (#4474)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `source-aws` version to v4.17.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.3.0 (#4475)
  cli/cmd/testdata/dest.test.yml
Owners: @yevgenypats

chore: Update plugin `source-aws` version to v4.17.0 (#4476)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(ci): Add fail-fast: false to CLI matrix
  .github/workflows/cli.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci): Add fail-fast: false to CLI matrix (#4478)
  .github/workflows/cli.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(deps): Update go version and linter
  .github/workflows/cli.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Update to WithEndpointResolverWithOptions
  plugins/source/digitalocean/client/client.go
Owners: @cloudquery/cloudquery-opensource

chore(deps): Update go version and linter (#4480)
  .github/workflows/cli.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.0 (#4447)
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-digitalocean v2.2.19
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.19 (#4481)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.19
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.19 (#4482)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(ci): Error when a PR changes too many files
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

simplify workflows
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci-aws): Increase CI timeout
  .github/workflows/source_aws.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
