Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Use pull_request_target, pin dependencies
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.26.1 (#5361)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

Update scripts/table_diff/main.go
  scripts/table_diff/main.go
Owners: none

Update scripts/table_diff/main.go
  scripts/table_diff/main.go
Owners: none

chore(ci): Add comment with summary for changed tables (#5347)
  .github/workflows/docs_changes_summary.yml
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_4768_diff.txt
  scripts/table_diff/go.mod
  scripts/table_diff/go.sum
  scripts/table_diff/main.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Fix case
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
Owners: @hermanschaaf, @yevgenypats

fix(website): PostgreSQL overview spec typo
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: none

chore(website): Gandi blog post (#5275)
  website/content/team.ts
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/overview.md
  website/public/images/people/kemal.jpg
Owners: none

fix(website): PostgreSQL overview spec typo (#5376)
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: none

Fix linting errors
  .github/styles/Vocab/Base/accept.txt
  plugins/source/aws/policies/queries/cloudfront/all_distributions.sql
  plugins/source/aws/policies/queries/cloudwatch/alarm_actions_disabled.sql
  plugins/source/aws/policies/queries/emr/emr_cluster_master_nodes_should_not_have_public_ip_addresses.sql
  plugins/source/aws/policies/queries/kms/rotation_enabled_for_customer_key.sql
  plugins/source/aws/scripts/policy_docs/main.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Run gen-doc
  website/pages/docs/plugins/sources/aws/policies.md
Owners: none

Add accept
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(ci): Fail renovate updates with breaking changes
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

test: Use pull_request
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Fix condition
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Use pull_request_target
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update docs_changes_summary.yml
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Unused EIP policy - check associations not instance_ids
  plugins/source/aws/policies/queries/ec2/eips_unused.sql
Owners: @hermanschaaf, @yevgenypats

pr review comments
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

fix(aws): Unused EIP policy - check associations not instance_ids (#5378)
  plugins/source/aws/policies/queries/ec2/eips_unused.sql
Owners: @hermanschaaf, @yevgenypats

chore(ci): Fail renovate updates with breaking changes (#5377)
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.5
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.5 (#5380)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

init
  plugins/source/aws/client/partitions.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/partitions/data/partition_service_region.json
  plugins/source/aws/codegen/partitions/generate.go
  plugins/source/aws/codegen/partitions/partitions.go
  plugins/source/aws/codegen/partitions/read.go
  plugins/source/aws/codegen/partitions/templates/partitions.go.tpl
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/services/generate.go
  plugins/source/aws/go.mod
Owners: @hermanschaaf, @yevgenypats

Include ancestor tables in list of tables that must be synced
  .gitignore
  plugins/source/aws/Makefile
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/azure/Makefile
  plugins/source/azure/scripts/policy_docs/main.go
  plugins/source/gcp/Makefile
  plugins/source/gcp/scripts/policy_docs/main.go
  plugins/source/k8s/Makefile
  plugins/source/k8s/scripts/policy_docs/main.go
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/gcp/policies.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Don't lint policies
  .github/workflows/lint_markdown.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Redeploy
  website/pages/docs/recipes/overview.md
Owners: none

Error out of title extraction fails
  plugins/source/aws/scripts/policy_docs/main.go
  plugins/source/azure/scripts/policy_docs/main.go
  plugins/source/gcp/scripts/policy_docs/main.go
  plugins/source/k8s/scripts/policy_docs/main.go
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

make requests with context
  plugins/source/gitlab/resources/services/groups/group_members_fetch.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_releases_fetch.go
  plugins/source/gitlab/resources/services/settings/settings_fetch.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update overview.md
  website/pages/docs/plugins/sources/github/overview.md
Owners: none

fix: Github Version Typo (#5381)
  website/pages/docs/plugins/sources/github/overview.md
Owners: none

Ëse append mode in BigQuery recipe
  website/pages/docs/recipes/destinations/bigquery.md
Owners: none

docs
  plugins/source/gitlab/Makefile
  website/pages/docs/plugins/sources/gitlab/tables.md
Owners: @cloudquery/cloudquery-opensource

chore(website): Use append mode in BigQuery recipe (#5382)
  website/pages/docs/recipes/destinations/bigquery.md
Owners: none

Add BigQuery blog post
  website/pages/blog/_meta.json
  website/pages/blog/announcing-cloudquery-bigquery-destination.md
  website/public/images/blog/announcing-cloudquery-bigquery-destination/bigquery-get-public-buckets.png
Owners: none

Typo fix
  website/pages/blog/announcing-cloudquery-bigquery-destination.md
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5384)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

increase page size
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

feat(gcp): Increase PageSize for ServiceUsage (#5386)
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq
