Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

typo
  plugins/source/gcp/client/resolvers.go
Owners: @yevgenypats, @disq

fix(deps): Update plugin-sdk for test to v1.5.2 (#4569)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.2
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.2 (#4570)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.17
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.2 (#4568)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.18
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v5.1.0 (#4554)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(blog): Update personal link to Github (#4584)
  website/content/team.ts
Owners: none

chore(main): Release plugins-source-k8s v2.4.0
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v1.4.6 (#4571)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v5.1.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-azure` version to v1.4.6
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore(main): Release cli v2.0.16 (#4572)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.16
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.17 (#4573)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.17
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-csv v1.1.9 (#4574)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.9
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.21 (#4575)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.21
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-github v1.2.15 (#4576)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.15
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.6 (#4577)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.6
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.10 (#4578)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.4.0 (#4579)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

simplify iterator usage
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Owners: @yevgenypats, @disq

chore: Update plugin `source-okta` version to v1.3.10
  sites/versions/v2/source-okta.json
Owners: none

chore(gcp): Simplify iterator usage (#4590)
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-destination-postgresql v1.7.10 (#4580)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.10
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.6 (#4581)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v5.1.0 (#4591)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-azure` version to v1.4.6 (#4592)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update CLI version to v2.0.16 (#4593)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.17 (#4594)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-csv` version to v1.1.9 (#4595)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.21 (#4596)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.6
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none
