Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

docs
  plugins/source/github/docs/tables/github_workflows.md
Owners: @cloudquery/cloudquery-opensource

Update workflows_fetch.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update github_workflows.md
  plugins/source/github/docs/tables/github_workflows.md
Owners: @cloudquery/cloudquery-opensource

Download workflow File
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
Owners: @cloudquery/cloudquery-opensource

chore: Bring PR up to speed
  plugins/source/github/Makefile
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows_fetch.go
  website/pages/docs/plugins/sources/github/tables.md
Owners: @cloudquery/cloudquery-opensource

fix: Add workflow mock test, fix resolveContents
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/actions/workflows_test.go
Owners: @cloudquery/cloudquery-opensource

bug fixes
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

chore: Install mockgen
  plugins/source/github/Makefile
Owners: @cloudquery/cloudquery-opensource

feat: Add GH Workflow support (#3195)
  plugins/source/github/Makefile
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/mocks/mock_repositories.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/multiplex.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/codegen/recipes/templates/resource.go.tpl
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/actions/workflows_test.go
  plugins/source/github/resources/services/issues/issues_fetch.go
  website/pages/docs/plugins/sources/github/tables.md
Owners: @cloudquery/cloudquery-opensource

Update README.md
  plugins/source/gitlab/README.md
Owners: @cloudquery/cloudquery-opensource

upgrade
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
Owners: none

Update README.md
  plugins/source/gitlab/README.md
Owners: @cloudquery/cloudquery-opensource

Update README.md
  plugins/source/gitlab/README.md
Owners: @cloudquery/cloudquery-opensource

Update README.md
  plugins/source/gitlab/README.md
Owners: @cloudquery/cloudquery-opensource

Update accept.txt
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat(gcp): Add retrier (#5522)
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/retrier.go
  plugins/source/gcp/client/spec.go
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/go.mod
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/services.go
  plugins/source/gcp/resources/services/compute/addresses.go
  plugins/source/gcp/resources/services/compute/autoscalers.go
  plugins/source/gcp/resources/services/compute/backend_services.go
  plugins/source/gcp/resources/services/compute/disk_types.go
  plugins/source/gcp/resources/services/compute/disks.go
  plugins/source/gcp/resources/services/compute/firewalls.go
  plugins/source/gcp/resources/services/compute/forwarding_rules.go
  plugins/source/gcp/resources/services/compute/images.go
  plugins/source/gcp/resources/services/compute/instance_groups.go
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/compute/interconnects.go
  plugins/source/gcp/resources/services/compute/networks.go
  plugins/source/gcp/resources/services/compute/ssl_certificates.go
  plugins/source/gcp/resources/services/compute/ssl_policies.go
  plugins/source/gcp/resources/services/compute/subnetworks.go
  plugins/source/gcp/resources/services/compute/target_http_proxies.go
  plugins/source/gcp/resources/services/compute/target_ssl_proxies.go
  plugins/source/gcp/resources/services/compute/url_maps.go
  plugins/source/gcp/resources/services/compute/vpn_gateways.go
  plugins/source/gcp/resources/services/containeranalysis/occurrences.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
  plugins/source/gcp/resources/services/serviceusage/services.go
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: @yevgenypats, @disq

Delete config.yml
  plugins/source/aws/config.yml
Owners: @hermanschaaf, @yevgenypats

Delete config.yml
  plugins/source/gcp/config.yml
Owners: @yevgenypats, @disq

Delete config.yml
  plugins/source/gitlab/config.yml
Owners: @cloudquery/cloudquery-opensource

feat(azure): New tables for mariadb,mysql,cdn
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen2/recipes/cdn_e.go
  plugins/source/azure/codegen2/recipes/mariadb_e.go
  plugins/source/azure/codegen2/recipes/mysql_e.go
  plugins/source/azure/resources/services/cdn/profiles.go
  plugins/source/azure/resources/services/cdn/rule_sets.go
  plugins/source/azure/resources/services/cdn/rule_sets_fetch.go
  plugins/source/azure/resources/services/cdn/rule_sets_mock_test.go
  plugins/source/azure/resources/services/cdn/security_policies.go
  plugins/source/azure/resources/services/cdn/security_policies_fetch.go
  plugins/source/azure/resources/services/cdn/security_policies_mock_test.go
  plugins/source/azure/resources/services/mariadb/server_configurations.go
  plugins/source/azure/resources/services/mariadb/server_configurations_fetch.go
  plugins/source/azure/resources/services/mariadb/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mariadb/servers.go
  plugins/source/azure/resources/services/mysql/server_configurations.go
  plugins/source/azure/resources/services/mysql/server_configurations_fetch.go
  plugins/source/azure/resources/services/mysql/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mysql/servers.go
Owners: @erezrokah, @yevgenypats

rerun codegen0,1
  plugins/source/azure/client/client.go
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen1/recipes/mariadb.go
  plugins/source/azure/codegen1/recipes/mysql.go
Owners: @erezrokah, @yevgenypats

clean up
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/resources/services/apikeys/keys.go
Owners: @yevgenypats, @disq

Update services.go
  plugins/source/gcp/client/services.go
Owners: @yevgenypats, @disq

add docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_cdn_rule_sets.md
  plugins/source/azure/docs/tables/azure_cdn_security_policies.md
  plugins/source/azure/docs/tables/azure_mariadb_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysql_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysql_servers.md
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

Fix deadlock in BigQuery destination if error occurs during write
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix(azure): Remove azure_storage_deleted_accounts
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/storage.go
  plugins/source/azure/codegen2/recipes/storage.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_storage_deleted_accounts.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/storage/deleted_accounts.go
  plugins/source/azure/resources/services/storage/deleted_accounts_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

Simplify with !done
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

swtich from const to string
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/resources/services/container/clusters.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

Fix potential deadlock in Snowflake
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

feat(postgres): Log table name with pg errors
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix(postgresql): Log table name as a separate string
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-test v1.3.23 (#5460)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

feat(azure): New tables for mariadb,mysql,cdn (#5549)
  plugins/source/azure/client/client.go
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/mariadb.go
  plugins/source/azure/codegen1/recipes/mysql.go
  plugins/source/azure/codegen2/recipes/cdn_e.go
  plugins/source/azure/codegen2/recipes/mariadb_e.go
  plugins/source/azure/codegen2/recipes/mysql_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_cdn_rule_sets.md
  plugins/source/azure/docs/tables/azure_cdn_security_policies.md
  plugins/source/azure/docs/tables/azure_mariadb_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysql_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysql_servers.md
  plugins/source/azure/resources/services/cdn/profiles.go
  plugins/source/azure/resources/services/cdn/rule_sets.go
  plugins/source/azure/resources/services/cdn/rule_sets_fetch.go
  plugins/source/azure/resources/services/cdn/rule_sets_mock_test.go
  plugins/source/azure/resources/services/cdn/security_policies.go
  plugins/source/azure/resources/services/cdn/security_policies_fetch.go
  plugins/source/azure/resources/services/cdn/security_policies_mock_test.go
  plugins/source/azure/resources/services/mariadb/server_configurations.go
  plugins/source/azure/resources/services/mariadb/server_configurations_fetch.go
  plugins/source/azure/resources/services/mariadb/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mariadb/servers.go
  plugins/source/azure/resources/services/mysql/server_configurations.go
  plugins/source/azure/resources/services/mysql/server_configurations_fetch.go
  plugins/source/azure/resources/services/mysql/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mysql/servers.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

fix: BigQuery destination: wait for table migrations to complete (#5544)
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-test` version to v1.3.23
  website/versions/source-test.json
Owners: none

feat(postgres): Log table name with pg errors (#5552)
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-test` version to v1.3.23 (#5554)
  website/versions/source-test.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.23
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.3.23 (#5555)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

Update roles_fetch.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Owners: @yevgenypats, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
