Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.22 (#4756)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eventbridge to v1.16.19
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.18.17
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/docdb to v1.19.15 (#4757)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.70.1 (#4751)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancingv2 to v1.18.24 (#4759)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eventbridge to v1.16.19 (#4762)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.18.17 (#4764)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.1 (#4760)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix: Add filenames to quickstart
  website/components/mdx/_configure.mdx
Owners: none

fix(aws): Remove ARN helper usage (#4714)
  plugins/source/aws/client/client.go
  plugins/source/aws/client/helpers.go
  plugins/source/aws/client/helpers_test.go
  plugins/source/aws/resources/services/apigateway/api_keys_fetch.go
  plugins/source/aws/resources/services/apigateway/client_certificates_fetch.go
  plugins/source/aws/resources/services/apigateway/domain_names_fetch.go
  plugins/source/aws/resources/services/apigateway/rest_apis_fetch.go
  plugins/source/aws/resources/services/apigateway/types.go
  plugins/source/aws/resources/services/apigateway/usage_plans_fetch.go
  plugins/source/aws/resources/services/apigateway/vpc_links_fetch.go
  plugins/source/aws/resources/services/athena/data_catalogs_fetch.go
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/config/configuration_recorders_fetch.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments_fetch.go
  plugins/source/aws/resources/services/glue/connections_fetch.go
  plugins/source/aws/resources/services/glue/crawlers_fetch.go
  plugins/source/aws/resources/services/glue/databases_fetch.go
  plugins/source/aws/resources/services/glue/dev_endpoints_fetch.go
  plugins/source/aws/resources/services/glue/jobs_fetch.go
  plugins/source/aws/resources/services/glue/ml_transforms_fetch.go
  plugins/source/aws/resources/services/glue/triggers_fetch.go
  plugins/source/aws/resources/services/glue/workflows_fetch.go
  plugins/source/aws/resources/services/redshift/event_subscriptions_fetch.go
  plugins/source/aws/resources/services/redshift/snapshots_fetch.go
  plugins/source/aws/resources/services/route53/hosted_zones_fetch.go
  plugins/source/aws/resources/services/scheduler/schedules_fetch.go
  plugins/source/aws/resources/services/ssm/documents_fetch.go
  plugins/source/aws/resources/services/ssm/instance_compliance_items_fetch.go
  plugins/source/aws/resources/services/ssm/instances_fetch.go
  plugins/source/aws/resources/services/waf/rule_groups_fetch.go
  plugins/source/aws/resources/services/waf/rules_fetch.go
  plugins/source/aws/resources/services/wafregional/rate_based_rules_fetch.go
  plugins/source/aws/resources/services/wafregional/rule_groups_fetch.go
  plugins/source/aws/resources/services/wafregional/rules_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix: Add filenames to quickstart (#4767)
  website/components/mdx/_configure.mdx
Owners: none

feat(blog): Announce Kubernetes CIS Policy
  website/pages/blog/_meta.json
  website/pages/blog/announcing-cis-policies-for-kubernetes.md
Owners: none

fix(aws): Cloudfront control fails for specific configuration (#4735)
  plugins/source/aws/policies/queries/cloudfront/viewer_policy_https.sql
Owners: @hermanschaaf, @yevgenypats

updates
  website/pages/blog/product-updates-1.md
Owners: none

Add in quotas, error log info, cloudtrail useridentity, rewords
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/public/images/blog/aws-kms-key-grants-deep-dive/grant-error.png
Owners: none

add language about multiple operations that accomplish same goal
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

add console comment and description fix
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

remove dupe field
  plugins/source/aws/codegen/recipes/config.go
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/resources/services/config/config_rules.go
Owners: @hermanschaaf, @yevgenypats

documentation links
  plugins/source/aws/codegen/recipes/account.go
  plugins/source/aws/docs/tables/aws_account_alternate_contacts.md
  plugins/source/aws/docs/tables/aws_account_contacts.md
  plugins/source/aws/resources/services/account/alternate_contacts.go
  plugins/source/aws/resources/services/account/contacts.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Support AWS Account Contacts (#4734)
  plugins/source/aws/client/mocks/account.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/account.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/account.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_account_alternate_contacts.md
  plugins/source/aws/docs/tables/aws_account_contacts.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/account/alternate_contacts.go
  plugins/source/aws/resources/services/account/alternate_contacts_fetch.go
  plugins/source/aws/resources/services/account/alternate_contacts_mock_test.go
  plugins/source/aws/resources/services/account/contacts.go
  plugins/source/aws/resources/services/account/contacts_fetch.go
  plugins/source/aws/resources/services/account/contacts_mock_test.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add Support For Config Rules and Compliance (#4730)
  plugins/source/aws/codegen/recipes/config.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_config_config_rule_compliances.md
  plugins/source/aws/docs/tables/aws_config_config_rules.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/config/config_rule_compliances.go
  plugins/source/aws/resources/services/config/config_rule_compliances_fetch.go
  plugins/source/aws/resources/services/config/config_rules.go
  plugins/source/aws/resources/services/config/config_rules_fetch.go
  plugins/source/aws/resources/services/config/config_rules_mock_test.go
Owners: @hermanschaaf, @yevgenypats

add autoscaling to accept for linting
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat: KMS key grant blog (#4729)
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/public/images/blog/aws-kms-key-grants-deep-dive/create-grant-cloudtrail.png
  website/public/images/blog/aws-kms-key-grants-deep-dive/grant-error.png
  website/public/images/blog/aws-kms-key-grants-deep-dive/policy-eval-resource.png
Owners: @erezrokah, @hermanschaaf, @yevgenypats

initial
  plugins/source/gitlab/.gitignore
  plugins/source/gitlab/.goreleaser.yaml
  plugins/source/gitlab/.pre-commit-config.yaml
  plugins/source/gitlab/CHANGELOG.md
  plugins/source/gitlab/Makefile
  plugins/source/gitlab/README.md
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/spec.go
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/apps.go
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/templates/resource.go.tpl
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/main.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/users.go
Owners: @cloudquery/cloudquery-opensource

codegen working... kinda
  plugins/source/gitlab/codegen/main.go
  plugins/source/gitlab/codegen/recipes/apps.go
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/templates/resource.go.tpl
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/users.go
  plugins/source/gitlab/resources/services/users/users.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

working!
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/users.go
  plugins/source/gitlab/config.yml
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_users_users.md
  plugins/source/gitlab/resources/services/users/users.go
Owners: @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#4772)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
