Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-csv v1.1.15 (#5601)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.15
  website/versions/destination-csv.json
Owners: none

chore: Update plugin `source-github` version to v1.4.1 (#5824)
  website/versions/source-github.json
Owners: none

Fix test
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/rate_limiting_test.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-terraform` version to v1.3.2 (#5826)
  website/versions/source-terraform.json
Owners: none

chore: Update plugin `source-datadog` version to v1.0.3 (#5825)
  website/versions/source-datadog.json
Owners: none

chore: Update plugin `source-k8s` version to v2.5.2 (#5827)
  website/versions/source-k8s.json
Owners: none

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `source-okta` version to v1.4.2 (#5828)
  website/versions/source-okta.json
Owners: none

regen docs per new SDK
  plugins/source/aws/docs/tables/aws_organizations.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-heroku` version to v3.1.2 (#5829)
  website/versions/source-heroku.json
Owners: none

chore: Update CLI version to v2.0.27 (#5834)
  website/versions/cli.json
Owners: none

go mod tidy
  plugins/source/slack/go.mod
Owners: none

chore: Update plugin `source-tailscale` version to v1.0.1 (#5835)
  website/versions/source-tailscale.json
Owners: none

Update website/pages/blog/introducing-the-slack-source-plugin.md
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

chore(deps): Update CloudQuery monorepo modules (#5836)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Update website/pages/blog/introducing-the-slack-source-plugin.md
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

chore: Update plugin `source-gcp` version to v5.1.2 (#5837)
  website/versions/source-gcp.json
Owners: none

Update website/pages/blog/introducing-the-slack-source-plugin.md
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

chore: Update plugin `source-azure` version to v2.2.0 (#5838)
  website/versions/source-azure.json
Owners: none

Fixes
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

chore(website): Add callout about Azure policies (#5831)
  website/pages/docs/plugins/sources/azure/policies.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.8 (#5839)
  website/versions/destination-test.json
Owners: none

Remove PK from billing history
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-snowflake` version to v1.0.7 (#5840)
  website/versions/destination-snowflake.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.2.1 (#5841)
  website/versions/destination-bigquery.json
Owners: none

make gen
  plugins/source/digitalocean/docs/tables/digitalocean_billing_history.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-sqlite` version to v1.0.14 (#5842)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.9.0 (#5843)
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `destination-csv` version to v1.1.15 (#5844)
  website/versions/destination-csv.json
Owners: none

chore(main): Release plugins-source-okta v2.0.0
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v8.0.0 (#5608)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

feat(aws): Add aws_organizations (#5677)
  plugins/source/aws/client/client.go
  plugins/source/aws/client/multiplexers.go
  plugins/source/aws/codegen/recipes/organizations.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_organizations.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/organizations/organizations.go
  plugins/source/aws/resources/services/organizations/organizations_fetch.go
  plugins/source/aws/resources/services/organizations/organizations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v8.1.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-slack v1.0.0
  .release-please-manifest.json
  plugins/source/slack/CHANGELOG.md
Owners: none

fix(digitalocean)!: Remove invoice_id from PK for billing history (#5845)
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/docs/tables/digitalocean_billing_history.md
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
Owners: @cloudquery/cloudquery-opensource

Finish use cached serviceusage
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/resources/services/serviceusage/services.go
  plugins/source/gcp/resources/services/serviceusage/services_fetch.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-digitalocean v4.0.0
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v8.0.0
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-aws` version to v8.0.0 (#5850)
  website/versions/source-aws.json
Owners: none
