Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

review comments
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/resources/services/groups/groups_mock_test.go
  plugins/source/gitlab/resources/services/projects/projects_mock_test.go
  plugins/source/gitlab/resources/services/settings/settings_mock_test.go
  plugins/source/gitlab/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

replace local sdk
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
Owners: none

feat(aws): Add inline_policy field to permission_sets table (#5280)
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

pr comments fixes
  plugins/source/gitlab/resources/services/groups/group_members_fetch.go
  plugins/source/gitlab/resources/services/groups/groups_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/projects/projects_releases_fetch.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update base.go
  plugins/source/gitlab/codegen/recipes/base.go
Owners: @cloudquery/cloudquery-opensource

update plugin sdk
  plugins/source/gitlab/go.mod
  plugins/source/gitlab/go.sum
Owners: none

Update plugins/source/gitlab/client/testing.go
  plugins/source/gitlab/client/testing.go
Owners: @cloudquery/cloudquery-opensource

Change precedence of token
  plugins/source/gitlab/client/client.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2 to v1.17.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.18.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.16.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigatewayv2 to v1.12.24
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apprunner to v1.15.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.20.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.24.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudhsmv2 to v1.13.22
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2 to v1.17.2 (#5297)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.18.1 (#5301)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.16.4 (#5303)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigatewayv2 to v1.12.24 (#5305)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apprunner to v1.15.1 (#5307)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.20.1 (#5309)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/account to v1.7.12
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.26
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.24
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/appstream to v1.18.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.24.2 (#5312)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudhsmv2 to v1.13.22 (#5314)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.4 (#5298)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/account to v1.7.12 (#5302)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.43
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/backup to v1.18.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.21.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.22.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/codebuild to v1.19.20
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cognitoidentity to v1.14.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.26 (#5304)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.24 (#5306)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
