Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Update code and docs
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/docs/tables/datadog_user_permissions.md
  plugins/source/datadog/docs/tables/datadog_users.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.10.0 (#5258)
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/docs/tables/datadog_user_permissions.md
  plugins/source/datadog/docs/tables/datadog_users.md
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
Owners: @cloudquery/cloudquery-opensource

Fix name
  .github/workflows/dest_bigquery.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/sagemaker.go
  plugins/source/aws/client/services/sagemaker.go
  plugins/source/aws/docs/tables/aws_sagemaker_endpoint_configurations.md
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.56.0 (#5218)
  plugins/source/aws/client/mocks/sagemaker.go
  plugins/source/aws/client/services/sagemaker.go
  plugins/source/aws/docs/tables/aws_sagemaker_endpoint_configurations.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/sagemaker/endpoint_configurations.go
Owners: @hermanschaaf, @yevgenypats

fix: Handling of NULL bytes in Postgresql Text fields
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/sqlite/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

fix: Handling of NULL bytes in Postgresql Text fields (#5249)
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/sqlite/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-postgresql v1.7.16
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.11
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.16 (#5156)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.16
  website/versions/destination-postgresql.json
Owners: none

add more docs
  website/pages/docs/plugins/sources/crowdstrike/_meta.json
  website/pages/docs/plugins/sources/crowdstrike/overview.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.11 (#5155)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.16 (#5262)
  website/versions/destination-postgresql.json
Owners: none

chore: Don't lint tables
  .github/workflows/lint_markdown.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Better glob pattern
  .github/workflows/lint_markdown.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(website): Update sources overview
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

feat(website): Add plugins tables
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/datadog/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gandi/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/tables.md
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/azure/tables.md
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/cloudflare/tables.md
  website/pages/docs/plugins/sources/datadog/_meta.json
  website/pages/docs/plugins/sources/datadog/tables.md
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/tables.md
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/gcp/tables.md
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/github/tables.md
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/heroku/tables.md
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/k8s/tables.md
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/okta/tables.md
  website/pages/docs/plugins/sources/terraform/_meta.json
  website/pages/docs/plugins/sources/terraform/tables.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @cloudquery/cloudquery-opensource, @disq

feat: Embed links
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/datadog/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gandi/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  website/pages/docs/plugins/sources/aws/tables.md
  website/pages/docs/plugins/sources/azure/tables.md
  website/pages/docs/plugins/sources/cloudflare/tables.md
  website/pages/docs/plugins/sources/datadog/tables.md
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/tables.md
  website/pages/docs/plugins/sources/gcp/tables.md
  website/pages/docs/plugins/sources/github/tables.md
  website/pages/docs/plugins/sources/heroku/tables.md
  website/pages/docs/plugins/sources/k8s/tables.md
  website/pages/docs/plugins/sources/okta/tables.md
  website/pages/docs/plugins/sources/terraform/tables.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `destination-sqlite` version to v1.0.11
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.11 (#5263)
  website/versions/destination-sqlite.json
Owners: none

fix docs
  plugins/source/crowdstrike/README.md
  website/pages/docs/plugins/sources/crowdstrike/overview.md
Owners: @cloudquery/cloudquery-opensource

chore: Fix lint
  cli/cmd/sync2.go
Owners: @yevgenypats

chore: Add comment to section about closing destination clients (#5194)
  cli/cmd/sync2.go
Owners: @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.7.16
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Update main.go
  plugins/source/aws/tools/endpoints/main.go
Owners: @hermanschaaf, @yevgenypats

Update partition_service_region.json
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.7.16 (#5267)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix k8s mocks
  plugins/source/k8s/Makefile
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/mockgen.go
  plugins/source/k8s/mocks/discovery/v1/event.go
  plugins/source/k8s/mocks/discovery/v1beta1/client.go
  plugins/source/k8s/mocks/discovery/v1beta1/event.go
  plugins/source/k8s/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

feat(website): Add plugins tables (#5259)
  .github/workflows/lint_markdown.yml
  plugins/source/aws/Makefile
  plugins/source/azure/Makefile
  plugins/source/cloudflare/Makefile
  plugins/source/datadog/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gandi/Makefile
  plugins/source/gcp/Makefile
  plugins/source/github/Makefile
  plugins/source/heroku/Makefile
  plugins/source/k8s/Makefile
  plugins/source/okta/Makefile
  plugins/source/terraform/Makefile
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/tables.md
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/azure/tables.md
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/cloudflare/tables.md
  website/pages/docs/plugins/sources/datadog/_meta.json
  website/pages/docs/plugins/sources/datadog/tables.md
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/digitalocean/tables.md
  website/pages/docs/plugins/sources/gandi/_meta.json
  website/pages/docs/plugins/sources/gandi/tables.md
  website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/gcp/tables.md
  website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/github/tables.md
  website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/heroku/tables.md
  website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/k8s/tables.md
  website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/okta/tables.md
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/terraform/_meta.json
  website/pages/docs/plugins/sources/terraform/tables.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(k8s): Fix k8s mocks targets (#5252)
  plugins/source/k8s/Makefile
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/k8s/mockgen.go
  plugins/source/k8s/mocks/discovery/v1/event.go
  plugins/source/k8s/mocks/discovery/v1beta1/client.go
  plugins/source/k8s/mocks/discovery/v1beta1/event.go
  plugins/source/k8s/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

fix(website): Remove search
  website/next.config.mjs
  website/theme.config.tsx
Owners: none

chore: Update code and docs
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_dashboard_lists.md
  plugins/source/datadog/docs/tables/datadog_dashboards.md
  plugins/source/datadog/docs/tables/datadog_downtimes.md
  plugins/source/datadog/docs/tables/datadog_global_variables.md
  plugins/source/datadog/docs/tables/datadog_hosts.md
  plugins/source/datadog/docs/tables/datadog_incident_attachments.md
  plugins/source/datadog/docs/tables/datadog_incidents.md
  plugins/source/datadog/docs/tables/datadog_monitor_downtimes.md
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_notebooks.md
  plugins/source/datadog/docs/tables/datadog_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_users.md
  plugins/source/datadog/docs/tables/datadog_roles.md
  plugins/source/datadog/docs/tables/datadog_synthetics.md
  website/pages/docs/plugins/sources/datadog/tables.md
Owners: @cloudquery/cloudquery-opensource

Regenerate
  plugins/source/datadog/docs/tables/README.md
  plugins/source/datadog/docs/tables/datadog_dashboard_lists.md
  plugins/source/datadog/docs/tables/datadog_dashboards.md
  plugins/source/datadog/docs/tables/datadog_downtimes.md
  plugins/source/datadog/docs/tables/datadog_global_variables.md
  plugins/source/datadog/docs/tables/datadog_hosts.md
  plugins/source/datadog/docs/tables/datadog_incident_attachments.md
  plugins/source/datadog/docs/tables/datadog_incidents.md
  plugins/source/datadog/docs/tables/datadog_monitor_downtimes.md
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_notebooks.md
  plugins/source/datadog/docs/tables/datadog_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_permissions.md
  plugins/source/datadog/docs/tables/datadog_role_users.md
  plugins/source/datadog/docs/tables/datadog_roles.md
  plugins/source/datadog/docs/tables/datadog_synthetics.md
  website/pages/docs/plugins/sources/datadog/tables.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-datadog v1.0.0
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.0 (#5193)
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore: Update plugin `source-datadog` version to v1.0.0
  website/versions/source-datadog.json
Owners: none

chore: Update plugin `source-datadog` version to v1.0.0 (#5272)
  website/versions/source-datadog.json
Owners: none

Add Datadog to overview table
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

fix: AWS Endpoint Generation (#5268)
  plugins/source/aws/client/data/partition_service_region.json
  plugins/source/aws/tools/endpoints/main.go
Owners: @hermanschaaf, @yevgenypats
