Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix: Fixed cloudfront policy queries with null json fields
  plugins/source/aws/policies/queries/cloudfront/origin_failover_enabled.sql
  plugins/source/aws/policies/queries/cloudfront/viewer_policy_https.sql
Owners: @hermanschaaf, @yevgenypats

Working!
  plugins/source/gitlab/client/client.go
  plugins/source/gitlab/client/spec.go
  plugins/source/gitlab/codegen/recipes/base.go
  plugins/source/gitlab/codegen/recipes/users.go
  plugins/source/gitlab/resources/plugin/plugin.go
  plugins/source/gitlab/resources/services/users/group_members.go
  plugins/source/gitlab/resources/services/users/group_members_fetch.go
  plugins/source/gitlab/resources/services/users/groups.go
  plugins/source/gitlab/resources/services/users/groups_fetch.go
  plugins/source/gitlab/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

docs
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_users_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_users_groups.md
  plugins/source/gitlab/docs/tables/gitlab_users_users.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.2 (#4737)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancingv2 to v1.18.25
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/redshift to v1.26.15
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/secretsmanager to v1.16.7
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sns to v1.18.5
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/timestreamwrite to v1.14.6
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/appsync to v1.16.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.24.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/databasemigrationservice to v1.22.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.71.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.23.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.25.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.30.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicecatalogappregistry to v1.15.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.33.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_rds_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/rds/instances.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/servicecatalogappregistry.go
  plugins/source/aws/client/services/servicecatalogappregistry.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.2 (#4775)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/ssm.go
  plugins/source/aws/client/services/ssm.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancingv2 to v1.18.25 (#4777)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/redshift to v1.26.15 (#4778)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/secretsmanager to v1.16.7 (#4780)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sns to v1.18.5 (#4781)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.26.0 (#4783)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicecatalogappregistry to v1.15.0 (#4784)
  plugins/source/aws/client/mocks/servicecatalogappregistry.go
  plugins/source/aws/client/services/servicecatalogappregistry.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.33.0 (#4785)
  plugins/source/aws/client/mocks/ssm.go
  plugins/source/aws/client/services/ssm.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.41
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.3
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/workspaces to v1.27.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.15.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_dms_replication_instances.md
  plugins/source/aws/resources/services/dms/replication_instances.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.41 (#4776)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.22
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.3 (#4779)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
