Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ram to v1.16.26
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/frauddetector to v1.20.14 (#5735)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glacier to v1.13.21 (#5737)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iam to v1.18.25 (#5739)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/inspector to v1.12.21 (#5741)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/qldb to v1.14.22 (#5752)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ram to v1.16.26 (#5754)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/iot to v1.32.2 (#5743)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/organizations to v1.17.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.28.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.35.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.4 (#5745)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/organizations to v1.17.2 (#5751)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.28.3 (#5753)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.35.1 (#5755)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/account to v1.7.13 (#5690)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecr to v1.17.25
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecr to v1.17.25 (#5723)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lightsail to v1.24.2 (#5747)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/mwaa to v1.13.14 (#5749)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(azure): Remove extra `fmt.Println`
  plugins/source/azure/resources/plugin/plugin.go
Owners: @erezrokah, @yevgenypats

fine tune fixes
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

fix lint
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix(azure): Remove extra `fmt.Println` (#5756)
  plugins/source/azure/resources/plugin/plugin.go
Owners: @erezrokah, @yevgenypats

feat(postgresql): Update pgx to v5 (#5757)
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/deletestale.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

feat(azure): Add storage_containers
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/codegen2/recipes/storage_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_storage_accounts.md
  plugins/source/azure/docs/tables/azure_storage_containers.md
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/containers.go
  plugins/source/azure/resources/services/storage/containers_fetch.go
  plugins/source/azure/resources/services/storage/containers_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

feat(azure): Add storage_containers (#5759)
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/codegen2/recipes/storage_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_storage_accounts.md
  plugins/source/azure/docs/tables/azure_storage_containers.md
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/containers.go
  plugins/source/azure/resources/services/storage/containers_fetch.go
  plugins/source/azure/resources/services/storage/containers_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

fix(azure): Filter out non supported namespaces
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/data/namespaces.json
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen0/main.go
Owners: @erezrokah, @yevgenypats

Cache Enabled Services
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
Owners: @yevgenypats, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/redshift to v1.26.18
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/route53 to v1.25.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3 to v1.29.6
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.28.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/scheduler to v1.0.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicecatalog to v1.15.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicequotas to v1.13.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sfn to v1.16.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sqs to v1.19.17
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssoadmin to v1.15.15
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/timestreamwrite to v1.14.8
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
