Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

refactor: Remove unused const
  plugins/destination/bigquery/client/spec.go
Owners: @cloudquery/cloudquery-opensource

fix(bigquery-spec): Move `batch_size` from the plugin spec to the top level spec
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @cloudquery/cloudquery-opensource

Update destination-spec.md
  website/pages/docs/reference/destination-spec.md
Owners: none

refactor: Remove unused const
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore: Add note on default value
  website/pages/docs/reference/destination-spec.md
Owners: none

fix: Set default value
  plugins/destination/bigquery/main.go
Owners: @cloudquery/cloudquery-opensource

fix(postgres-spec): Move `batch_size` from the plugin spec to the top level spec
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/spec.go
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @cloudquery/cloudquery-opensource

refactor: Remove unused const
  plugins/destination/postgresql/client/spec.go
Owners: @cloudquery/cloudquery-opensource

chore: Add note on default value
  website/pages/docs/reference/destination-spec.md
Owners: none

fix: Set default value
  plugins/destination/postgresql/main.go
Owners: @cloudquery/cloudquery-opensource

mock test
  plugins/source/github/resources/services/repositories/releases_fetch.go
  plugins/source/github/resources/services/repositories/repositories_test.go
Owners: @cloudquery/cloudquery-opensource

add more docs
  plugins/destination/file/client/spec.go
  website/pages/docs/plugins/destinations/file/overview.md
Owners: @cloudquery/cloudquery-opensource

Update destination-spec.md
  website/pages/docs/reference/destination-spec.md
Owners: none

Update website/pages/docs/plugins/destinations/file/overview.md
  website/pages/docs/plugins/destinations/file/overview.md
Owners: none

refactor(gcp-codegen): Make ListFunction optional
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
Owners: @yevgenypats, @disq

update makefile
  plugins/destination/file/Makefile
Owners: @cloudquery/cloudquery-opensource

update comment
  plugins/destination/file/client/spec.go
Owners: @cloudquery/cloudquery-opensource

add GH action to filetypes
  .github/workflows/filetypes.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

refactor(gcp-codegen): Extract generateTemplate method
  plugins/source/gcp/codegen/main.go
Owners: @yevgenypats, @disq

remove filetypes action for now
  .github/workflows/filetypes.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix fmt
  plugins/destination/file/client/spec.go
Owners: @cloudquery/cloudquery-opensource

feat: New file destination plugin (#6096)
  .github/pr_labeler.yml
  .github/workflows/dest_file.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/file/.gitignore
  plugins/destination/file/.goreleaser.yaml
  plugins/destination/file/CHANGELOG.md
  plugins/destination/file/Makefile
  plugins/destination/file/README.md
  plugins/destination/file/client/client.go
  plugins/destination/file/client/client_test.go
  plugins/destination/file/client/deletestale.go
  plugins/destination/file/client/migrate.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/spec.go
  plugins/destination/file/client/transformer.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/file/main.go
  plugins/destination/file/resources/plugin/plugin.go
  plugins/filetypes/csv/read.go
  plugins/filetypes/csv/transformer.go
  plugins/filetypes/csv/write.go
  plugins/filetypes/csv/write_read_test.go
  plugins/filetypes/go.mod
  plugins/filetypes/go.sum
  plugins/filetypes/json/read.go
  plugins/filetypes/json/transformer.go
  plugins/filetypes/json/write.go
  plugins/filetypes/json/write_read_test.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/file/_meta.json
  website/pages/docs/plugins/destinations/file/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Update destinations to use new Read API
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/internal/priorityqueue/priority_queue.go
  plugins/destination/csv/internal/priorityqueue/priority_queue_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/go.mod
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/go.mod
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/go.mod
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.25.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.38.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/docs/tables/aws_elasticache_replication_groups.md
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/replication_groups.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/services/rds/engine_versions.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.25.0 (#6111)
  plugins/source/aws/docs/tables/aws_elasticache_clusters.md
  plugins/source/aws/docs/tables/aws_elasticache_replication_groups.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/replication_groups.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-test v1.3.26
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.12
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.29
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.38.0 (#6112)
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/rds/engine_versions.go
Owners: @hermanschaaf, @yevgenypats

chore: fix concurrency docs
  website/pages/docs/reference/source-spec.md
Owners: none

chore: Fix concurrency docs (#6113)
  website/pages/docs/reference/source-spec.md
Owners: none

fix(bigquery-spec)!: Move `batch_size` from the plugin spec to the top level spec (#6092)
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/bigquery/main.go
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-bigquery v2.0.0
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

feat(gcp-codegen): Make ListFunction optional (#5971)
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
Owners: @yevgenypats, @disq

fix(postgres-spec)!: Move `batch_size` from the plugin spec to the top level spec (#6091)
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/spec.go
  plugins/destination/postgresql/main.go
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-postgresql v2.0.0
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-bigquery v2.0.0 (#6102)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none
