Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cognitoidentityprovider to v1.21.3 (#5493)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.2 (#5494)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.22.0 (#5495)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.25.0 (#5496)
  plugins/source/aws/client/mocks/eks.go
  plugins/source/aws/client/services/eks.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

upd plugin-sdk
  plugins/source/azure/codegen/resource/generate.go
  plugins/source/azure/codegen/resource/schema.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: @erezrokah, @yevgenypats

gofumpt
  plugins/source/azure/Makefile
  plugins/source/azure/client/multiplexer.go
  plugins/source/azure/codegen/resource/columns.go
  plugins/source/azure/codegen/resource/fetch.go
  plugins/source/azure/codegen/services/signature.go
  plugins/source/azure/codegen/tables/generate.go
  plugins/source/azure/codegen/util/file.go
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/scripts/policy_docs/main.go
Owners: @erezrokah, @yevgenypats

fix makefile
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/client/client.go
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/Makefile
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

fix makefile
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

feat(website): Document Homebrew specific version (#5482)
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/next.config.mjs
  website/pages/docs/deployment/github-actions.md
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.2
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Remove dead code
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

fix: Revert Azure update
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.2 (#5497)
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-aws v7.3.2
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(ci): Add AWS sanity test
  .github/workflows/source_aws.yml
  plugins/source/aws/test/sanity.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Remove dead code (#5498)
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

chore(gcp): Remove unused codegen templates
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_get_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
Owners: @yevgenypats, @disq

chore(gcp): Remove unused codegen templates (#5504)
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_get_mock.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-aws v7.3.2 (#5490)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.3.2
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-aws` version to v7.3.2 (#5506)
  website/versions/source-aws.json
Owners: none

remove `private_key_type` field from `gcp_iam_service_account_keys`
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/resources/services/iam/service_account_keys.go
Owners: @yevgenypats, @disq

fix(gcp)!: Remove `private_key_type` field from `gcp_iam_service_account_keys` (#5505)
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/docs/tables/gcp_iam_service_account_keys.md
  plugins/source/gcp/resources/services/iam/service_account_keys.go
Owners: @yevgenypats, @disq

Support service account keys in BigQuery destination
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/advanced-topics/environment-variable-substitution.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: @cloudquery/cloudquery-opensource

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Fix validation
  plugins/destination/bigquery/client/spec.go
Owners: @cloudquery/cloudquery-opensource

feat: Support service account keys in BigQuery destination (#5508)
  plugins/destination/bigquery/client/client.go
  plugins/destination/bigquery/client/spec.go
  website/pages/docs/advanced-topics/environment-variable-substitution.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-bigquery v1.1.0
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

Update multiplexers.go
  plugins/source/aws/client/multiplexers.go
Owners: @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(aws): Deterministic Multiplexer (#5513)
  plugins/source/aws/client/multiplexers.go
Owners: @hermanschaaf, @yevgenypats

chore(ci): Add AWS sanity test (#5503)
  .github/workflows/source_aws.yml
  plugins/source/aws/test/sanity.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-bigquery v1.1.0 (#5462)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.1.0
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.1.0 (#5518)
  website/versions/destination-bigquery.json
Owners: none

tests and lint passing
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/services.go
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/templates/newapi_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_mock.go.tpl
  plugins/source/gcp/resources/services/bigquery/datasets_mock_test.go
  plugins/source/gcp/resources/services/compute/projects.go
  plugins/source/gcp/resources/services/compute/projects_fetch.go
  plugins/source/gcp/resources/services/compute/projects_mock_test.go
  plugins/source/gcp/resources/services/container/clusters_mock_test.go
  plugins/source/gcp/resources/services/dns/managed_zones_mock_test.go
  plugins/source/gcp/resources/services/dns/policies_mock_test.go
  plugins/source/gcp/resources/services/iam/roles_mock_test.go
  plugins/source/gcp/resources/services/iam/service_accounts_mock_test.go
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/projects_mock_test.go
  plugins/source/gcp/resources/services/sql/instances_mock_test.go
  plugins/source/gcp/resources/services/storage/buckets_mock_test.go
Owners: @yevgenypats, @disq

ci: Debug git diff
  .github/workflows/source_gcp.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
