Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Update plugin `source-cloudflare` version to v2.3.0 (#5430)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-aws` version to v7.3.0 (#5431)
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-digitalocean` version to v3.1.0 (#5432)
  website/versions/source-digitalocean.json
Owners: none

chore: Update plugin `source-k8s` version to v2.5.0 (#5433)
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-heroku` version to v3.1.0 (#5434)
  website/versions/source-heroku.json
Owners: none

chore: Update plugin `source-okta` version to v1.4.0 (#5435)
  website/versions/source-okta.json
Owners: none

chore: Update plugin `source-github` version to v1.3.0 (#5436)
  website/versions/source-github.json
Owners: none

chore: Update plugin `source-gandi` version to v1.1.0 (#5437)
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `source-terraform` version to v1.3.0 (#5438)
  website/versions/source-terraform.json
Owners: none

chore: Update plugin `source-test` version to v1.3.22 (#5439)
  website/versions/source-test.json
Owners: none

chore: Update plugin `destination-bigquery` version to v1.0.1 (#5440)
  website/versions/destination-bigquery.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#5442)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore: Update plugin `destination-postgresql` version to v1.7.17 (#5441)
  website/versions/destination-postgresql.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.17
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-datadog v1.0.1 (#5417)
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.12 (#5443)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `source-datadog` version to v1.0.1
  website/versions/source-datadog.json
Owners: none

fix(ci): Increase wait for Vercel timeout
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update broken_links.yml
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Migrate only tables specified in config (#5424)
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

chore(deps): Update dependency cloudquery/cloudquery to v1.7.17 (#5446)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(website): Remove recipes section and refactor docs (#5423)
  website/pages/blog/announcing-cloudquery-snowflake-destination.md
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/blog/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/blog/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/blog/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/blog/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/blog/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/blog/cloudquery-v1-release.md
  website/pages/blog/scaling-out-elt-with-cq-and-csv.md
  website/pages/docs/_meta.json
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/docker.md
  website/pages/docs/advanced-topics/migrations.md
  website/pages/docs/core-concepts/_meta.json
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/overview.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/recipes/_meta.json
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/_meta.json
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/pages/docs/reference/source-spec.md
  website/vercel.json
Owners: none

fix(ci): Increase wait for Vercel timeout (#5448)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update plugin `source-datadog` version to v1.0.1 (#5447)
  website/versions/source-datadog.json
Owners: none

fix(cli): Flush sentry before exiting
  cli/main.go
Owners: @yevgenypats

feat(aws): S3 storage lens configurations
  plugins/source/aws/codegen/recipes/s3.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_s3_storage_lens_configurations.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/s3/storage_lens_configurations.go
  plugins/source/aws/resources/services/s3/storage_lens_configurations_fetch.go
  plugins/source/aws/resources/services/s3/storage_lens_configurations_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

More codegen
  plugins/source/slack/Makefile
  plugins/source/slack/client/services.go
  plugins/source/slack/client/services/slack.go
  plugins/source/slack/client/testing.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/base.go
  plugins/source/slack/codegen/recipes/recipes.go
  plugins/source/slack/codegen/recipes/users.go
  plugins/source/slack/codegen/services/generate.go
  plugins/source/slack/codegen/services/templates/service.go.tpl
  plugins/source/slack/codegen/services/templates/services.go.tpl
  plugins/source/slack/codegen/templates/resource.go.tpl
  plugins/source/slack/docs/tables/README.md
  plugins/source/slack/docs/tables/test_some_table.md
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
  plugins/source/slack/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

Prevent concurrent map read & write in snowflake write function
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cognitoidentity to v1.14.5
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.33.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix: Update endpoints (#5453)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

chore(main): Release cli v2.0.24
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.24 (#5422)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cognitoidentity to v1.14.5 (#5454)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.33.0 (#5455)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.1
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix: Prevent concurrent map read & write in snowflake write function (#5452)
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix: Revert Azure update
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.11.1 (#5458)
  cli/go.mod
  cli/go.sum
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/gandi/go.mod
  plugins/source/gandi/go.sum
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none
