Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `destination-bigquery` version to v2.0.2
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `destination-bigquery` version to v2.0.2 (#6389)
  website/versions/destination-bigquery.json
Owners: none

chore(docs): Add docs about scheduler option and document round-robin (#6383)
  website/pages/docs/advanced-topics/performance-tuning.md
  website/pages/docs/reference/source-spec.md
Owners: none

guardduty
  plugins/source/aws/resources/services/guardduty/detector_members.go
  plugins/source/aws/resources/services/guardduty/detectors.go
Owners: @hermanschaaf, @yevgenypats

Glacier, Glue
  plugins/source/aws/docs/tables/aws_glacier_vault_lock_policies.md
  plugins/source/aws/docs/tables/aws_glacier_vaults.md
  plugins/source/aws/docs/tables/aws_glue_registries.md
  plugins/source/aws/docs/tables/aws_glue_registry_schemas.md
  plugins/source/aws/resources/services/glacier/data_retrieval_policies.go
  plugins/source/aws/resources/services/glacier/vault_access_policies.go
  plugins/source/aws/resources/services/glacier/vault_lock_policies.go
  plugins/source/aws/resources/services/glacier/vault_notifications.go
  plugins/source/aws/resources/services/glacier/vaults.go
  plugins/source/aws/resources/services/glue/classifiers.go
  plugins/source/aws/resources/services/glue/connections.go
  plugins/source/aws/resources/services/glue/crawlers.go
  plugins/source/aws/resources/services/glue/database_table_indexes.go
  plugins/source/aws/resources/services/glue/database_tables.go
  plugins/source/aws/resources/services/glue/databases.go
  plugins/source/aws/resources/services/glue/datacatalog_encryption_settings.go
  plugins/source/aws/resources/services/glue/dev_endpoints.go
  plugins/source/aws/resources/services/glue/job_runs.go
  plugins/source/aws/resources/services/glue/jobs.go
  plugins/source/aws/resources/services/glue/ml_transform_task_runs.go
  plugins/source/aws/resources/services/glue/ml_transforms.go
  plugins/source/aws/resources/services/glue/registries.go
  plugins/source/aws/resources/services/glue/registry_schema_versions.go
  plugins/source/aws/resources/services/glue/registry_schemas.go
  plugins/source/aws/resources/services/glue/security_configurations.go
  plugins/source/aws/resources/services/glue/triggers.go
  plugins/source/aws/resources/services/glue/workflows.go
Owners: @hermanschaaf, @yevgenypats

FSX
  plugins/source/aws/docs/tables/aws_fsx_backups.md
  plugins/source/aws/docs/tables/aws_fsx_data_repository_associations.md
  plugins/source/aws/docs/tables/aws_fsx_data_repository_tasks.md
  plugins/source/aws/docs/tables/aws_fsx_file_caches.md
  plugins/source/aws/docs/tables/aws_fsx_file_systems.md
  plugins/source/aws/docs/tables/aws_fsx_snapshots.md
  plugins/source/aws/docs/tables/aws_fsx_storage_virtual_machines.md
  plugins/source/aws/docs/tables/aws_fsx_volumes.md
  plugins/source/aws/resources/services/fsx/backups.go
  plugins/source/aws/resources/services/fsx/data_repository_associations.go
  plugins/source/aws/resources/services/fsx/data_repository_tasks.go
  plugins/source/aws/resources/services/fsx/file_caches.go
  plugins/source/aws/resources/services/fsx/file_systems.go
  plugins/source/aws/resources/services/fsx/snapshots.go
  plugins/source/aws/resources/services/fsx/storage_virtual_machines.go
  plugins/source/aws/resources/services/fsx/volumes.go
Owners: @hermanschaaf, @yevgenypats

Clean up
  plugins/source/stripe/codegen/recipes/account.go
  plugins/source/stripe/codegen/recipes/all.go
  plugins/source/stripe/codegen/recipes/customer.go
  plugins/source/stripe/codegen/recipes/dispute.go
  plugins/source/stripe/codegen/recipes/invoice.go
  plugins/source/stripe/codegen/recipes/product.go
  plugins/source/stripe/codegen/recipes/recipes.go
  plugins/source/stripe/codegen/recipes/refund.go
  plugins/source/stripe/codegen/recipes/subscription.go
Owners: @cloudquery/cloudquery-opensource

Update functions_fetch.go
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Owners: @hermanschaaf, @yevgenypats

update md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_resource_policies.md
  plugins/source/aws/docs/tables/aws_config_conformance_pack_rule_compliances.md
Owners: @hermanschaaf, @yevgenypats

breaking changes fixes
  plugins/source/aws/docs/tables/aws_accessanalyzer_analyzer_findings.md
  plugins/source/aws/docs/tables/aws_acm_certificates.md
  plugins/source/aws/docs/tables/aws_apigatewayv2_api_route_responses.md
  plugins/source/aws/docs/tables/aws_apprunner_connections.md
  plugins/source/aws/docs/tables/aws_apprunner_observability_configurations.md
  plugins/source/aws/resources/services/accessanalyzer/analyzer_findings.go
  plugins/source/aws/resources/services/acm/certificates.go
  plugins/source/aws/resources/services/apigatewayv2/api_route_responses.go
  plugins/source/aws/resources/services/apprunner/connections.go
  plugins/source/aws/resources/services/apprunner/observability_configurations.go
  plugins/source/aws/resources/services/docdb/pending_maintenance_actions.go
Owners: @hermanschaaf, @yevgenypats

cognito
  plugins/source/aws/resources/services/codebuild/projects.go
  plugins/source/aws/resources/services/codepipeline/pipelines.go
  plugins/source/aws/resources/services/codepipeline/webhooks.go
  plugins/source/aws/resources/services/cognito/identity_pools.go
  plugins/source/aws/resources/services/cognito/user_pool_identity_providers.go
  plugins/source/aws/resources/services/cognito/user_pools.go
Owners: @hermanschaaf, @yevgenypats

done till cloudwatchlogs
  plugins/source/aws/resources/services/athena/data_catalog_database_tables.go
  plugins/source/aws/resources/services/athena/data_catalog_databases.go
  plugins/source/aws/resources/services/athena/data_catalogs.go
  plugins/source/aws/resources/services/athena/work_group_named_queries.go
  plugins/source/aws/resources/services/athena/work_group_prepared_statements.go
  plugins/source/aws/resources/services/athena/work_group_query_executions.go
  plugins/source/aws/resources/services/athena/work_groups.go
  plugins/source/aws/resources/services/autoscaling/group_lifecycle_hooks.go
  plugins/source/aws/resources/services/autoscaling/group_scaling_policies.go
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/autoscaling/launch_configurations.go
  plugins/source/aws/resources/services/autoscaling/scheduled_actions.go
  plugins/source/aws/resources/services/backup/global_settings.go
  plugins/source/aws/resources/services/backup/plan_selections.go
  plugins/source/aws/resources/services/backup/plans.go
  plugins/source/aws/resources/services/backup/region_settings.go
  plugins/source/aws/resources/services/backup/vault_recovery_points.go
  plugins/source/aws/resources/services/backup/vaults.go
  plugins/source/aws/resources/services/cloudformation/stack_resources.go
  plugins/source/aws/resources/services/cloudformation/stacks.go
  plugins/source/aws/resources/services/cloudfront/cache_policies.go
  plugins/source/aws/resources/services/cloudfront/distributions.go
  plugins/source/aws/resources/services/cloudhsmv2/backups.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters.go
  plugins/source/aws/resources/services/cloudtrail/trail_event_selectors.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/cloudwatchlogs/log_groups.go
  plugins/source/aws/resources/services/cloudwatchlogs/metric_filters.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
Owners: @hermanschaaf, @yevgenypats

add mock tests for docdb
  plugins/source/aws/resources/services/docdb/pending_maintenance_actions_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix makefile
  plugins/source/aws/Makefile
Owners: @hermanschaaf, @yevgenypats

fix breaking changes
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
  plugins/source/aws/resources/services/config/conformance_pack_rule_compliances.go
Owners: @hermanschaaf, @yevgenypats

more fixes for breaking changes
  plugins/source/aws/docs/tables/aws_autoscaling_groups.md
  plugins/source/aws/docs/tables/aws_cloudtrail_trails.md
  plugins/source/aws/docs/tables/aws_config_configuration_recorders.md
  plugins/source/aws/docs/tables/aws_dms_replication_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/resources/services/autoscaling/groups.go
  plugins/source/aws/resources/services/cloudtrail/trails.go
  plugins/source/aws/resources/services/config/configuration_recorders.go
  plugins/source/aws/resources/services/dms/replication_instances.go
Owners: @hermanschaaf, @yevgenypats

fix gomod
  plugins/source/aws/go.mod
Owners: none

elasticbeanstalk
  plugins/source/aws/resources/services/elasticbeanstalk/application_versions.go
  plugins/source/aws/resources/services/elasticbeanstalk/applications.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_options.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_settings.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments.go
Owners: @hermanschaaf, @yevgenypats

elasticsearch
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_application_versions.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_applications.md
  plugins/source/aws/docs/tables/aws_elasticbeanstalk_environments.md
  plugins/source/aws/docs/tables/aws_elasticsearch_packages.md
  plugins/source/aws/docs/tables/aws_elasticsearch_vpc_endpoints.md
  plugins/source/aws/resources/services/elasticbeanstalk/application_versions.go
  plugins/source/aws/resources/services/elasticbeanstalk/applications.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_options.go
  plugins/source/aws/resources/services/elasticbeanstalk/configuration_settings.go
  plugins/source/aws/resources/services/elasticbeanstalk/environments.go
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/packages.go
  plugins/source/aws/resources/services/elasticsearch/versions.go
  plugins/source/aws/resources/services/elasticsearch/vpc_endpoints.go
Owners: @hermanschaaf, @yevgenypats

Add elbv2
  plugins/source/aws/docs/tables/aws_elbv2_listeners.md
  plugins/source/aws/docs/tables/aws_elbv2_load_balancers.md
  plugins/source/aws/docs/tables/aws_elbv2_target_groups.md
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines.go
  plugins/source/aws/resources/services/elastictranscoder/presets.go
  plugins/source/aws/resources/services/elbv1/load_balancer_policies.go
  plugins/source/aws/resources/services/elbv1/load_balancers.go
  plugins/source/aws/resources/services/elbv2/listeners.go
  plugins/source/aws/resources/services/elbv2/load_balancer_attributes.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  plugins/source/aws/resources/services/elbv2/target_group_target_health_descriptions.go
  plugins/source/aws/resources/services/elbv2/target_groups.go
Owners: @hermanschaaf, @yevgenypats

ecs
  plugins/source/aws/docs/tables/aws_ec2_vpc_endpoint_service_configurations.md
  plugins/source/aws/docs/tables/aws_ecr_registries.md
  plugins/source/aws/docs/tables/aws_ecr_registry_policies.md
  plugins/source/aws/docs/tables/aws_ecr_repositories.md
  plugins/source/aws/docs/tables/aws_ecrpublic_repositories.md
  plugins/source/aws/docs/tables/aws_ecs_cluster_services.md
  plugins/source/aws/docs/tables/aws_ecs_cluster_tasks.md
  plugins/source/aws/docs/tables/aws_ecs_clusters.md
  plugins/source/aws/docs/tables/aws_ecs_task_definitions.md
  plugins/source/aws/resources/services/ec2/vpc_endpoint_service_configurations.go
  plugins/source/aws/resources/services/ecr/registries.go
  plugins/source/aws/resources/services/ecr/registry_policies.go
  plugins/source/aws/resources/services/ecr/repositories.go
  plugins/source/aws/resources/services/ecr/repository_images.go
  plugins/source/aws/resources/services/ecrpublic/repositories.go
  plugins/source/aws/resources/services/ecrpublic/repository_images.go
  plugins/source/aws/resources/services/ecs/cluster_services.go
  plugins/source/aws/resources/services/ecs/cluster_tasks.go
  plugins/source/aws/resources/services/ecs/clusters.go
  plugins/source/aws/resources/services/ecs/task_definitions.go
Owners: @hermanschaaf, @yevgenypats

emr
  plugins/source/aws/docs/tables/aws_emr_clusters.md
  plugins/source/aws/resources/services/emr/block_public_access_configs.go
  plugins/source/aws/resources/services/emr/clusters.go
Owners: @hermanschaaf, @yevgenypats

fix columns
  plugins/source/aws/docs/tables/aws_ec2_transit_gateway_attachments.md
  plugins/source/aws/docs/tables/aws_frauddetector_labels.md
  plugins/source/aws/docs/tables/aws_sns_subscriptions.md
  plugins/source/aws/docs/tables/aws_sns_topics.md
  plugins/source/aws/docs/tables/aws_sqs_queues.md
  plugins/source/aws/resources/services/ec2/transit_gateway_attachments.go
  plugins/source/aws/resources/services/frauddetector/labels.go
  plugins/source/aws/resources/services/sns/subscriptions.go
  plugins/source/aws/resources/services/sns/topics.go
  plugins/source/aws/resources/services/sqs/queues.go
Owners: @hermanschaaf, @yevgenypats

add eventbridge
  plugins/source/aws/docs/tables/aws_eventbridge_api_destinations.md
  plugins/source/aws/docs/tables/aws_eventbridge_connections.md
  plugins/source/aws/resources/services/emr/clusters.go
  plugins/source/aws/resources/services/eventbridge/api_destinations.go
  plugins/source/aws/resources/services/eventbridge/archives.go
  plugins/source/aws/resources/services/eventbridge/connections.go
  plugins/source/aws/resources/services/eventbridge/endpoints.go
  plugins/source/aws/resources/services/eventbridge/event_bus_rules.go
  plugins/source/aws/resources/services/eventbridge/event_buses.go
  plugins/source/aws/resources/services/eventbridge/event_sources.go
  plugins/source/aws/resources/services/eventbridge/replays.go
Owners: @hermanschaaf, @yevgenypats

fmt
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines.go
  plugins/source/aws/resources/services/elastictranscoder/presets.go
  plugins/source/aws/resources/services/elbv1/load_balancer_policies.go
  plugins/source/aws/resources/services/elbv1/load_balancers.go
  plugins/source/aws/resources/services/elbv2/listeners.go
  plugins/source/aws/resources/services/elbv2/load_balancer_attributes.go
  plugins/source/aws/resources/services/elbv2/load_balancers.go
  plugins/source/aws/resources/services/elbv2/target_group_target_health_descriptions.go
  plugins/source/aws/resources/services/elbv2/target_groups.go
Owners: @hermanschaaf, @yevgenypats

elasticache
  plugins/source/aws/docs/tables/aws_efs_filesystems.md
  plugins/source/aws/docs/tables/aws_eks_clusters.md
  plugins/source/aws/docs/tables/aws_elasticache_reserved_cache_nodes.md
  plugins/source/aws/resources/services/efs/filesystems.go
  plugins/source/aws/resources/services/eks/clusters.go
  plugins/source/aws/resources/services/elasticache/clusters.go
  plugins/source/aws/resources/services/elasticache/engine_versions.go
  plugins/source/aws/resources/services/elasticache/global_replication_groups.go
  plugins/source/aws/resources/services/elasticache/parameter_groups.go
  plugins/source/aws/resources/services/elasticache/replication_groups.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes.go
  plugins/source/aws/resources/services/elasticache/reserved_cache_nodes_offerings.go
  plugins/source/aws/resources/services/elasticache/service_updates.go
  plugins/source/aws/resources/services/elasticache/snapshots.go
  plugins/source/aws/resources/services/elasticache/subnet_groups.go
  plugins/source/aws/resources/services/elasticache/user_groups.go
  plugins/source/aws/resources/services/elasticache/users.go
Owners: @hermanschaaf, @yevgenypats

firehose
  plugins/source/aws/docs/tables/aws_firehose_delivery_streams.md
  plugins/source/aws/resources/services/firehose/delivery_streams.go
Owners: @hermanschaaf, @yevgenypats

frauddetector
  plugins/source/aws/docs/tables/aws_frauddetector_labels.md
  plugins/source/aws/resources/services/firehose/delivery_streams.go
  plugins/source/aws/resources/services/frauddetector/batch_imports.go
  plugins/source/aws/resources/services/frauddetector/batch_predictions.go
  plugins/source/aws/resources/services/frauddetector/detectors.go
  plugins/source/aws/resources/services/frauddetector/entity_types.go
  plugins/source/aws/resources/services/frauddetector/event_types.go
  plugins/source/aws/resources/services/frauddetector/external_models.go
  plugins/source/aws/resources/services/frauddetector/labels.go
  plugins/source/aws/resources/services/frauddetector/model_versions.go
  plugins/source/aws/resources/services/frauddetector/models.go
  plugins/source/aws/resources/services/frauddetector/outcomes.go
  plugins/source/aws/resources/services/frauddetector/rules.go
  plugins/source/aws/resources/services/frauddetector/variables.go
Owners: @hermanschaaf, @yevgenypats

minot tweaks
  plugins/source/aws/docs/tables/aws_cloudhsmv2_backups.md
  plugins/source/aws/docs/tables/aws_cloudhsmv2_clusters.md
  plugins/source/aws/docs/tables/aws_ec2_network_interfaces.md
  plugins/source/aws/docs/tables/aws_rds_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_db_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/resources/services/cloudhsmv2/backups.go
  plugins/source/aws/resources/services/cloudhsmv2/clusters.go
  plugins/source/aws/resources/services/ec2/network_interfaces.go
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/db_snapshots.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/rds/instances.go
Owners: @hermanschaaf, @yevgenypats

fmt
  plugins/source/aws/resources/services/ec2/byoip_cidrs.go
  plugins/source/aws/resources/services/ec2/customer_gateways.go
  plugins/source/aws/resources/services/ec2/ebs_snapshots.go
  plugins/source/aws/resources/services/ec2/ebs_volumes.go
  plugins/source/aws/resources/services/ec2/egress_only_internet_gateways.go
  plugins/source/aws/resources/services/ec2/eips.go
  plugins/source/aws/resources/services/ec2/flow_logs.go
  plugins/source/aws/resources/services/ec2/hosts.go
  plugins/source/aws/resources/services/ec2/images.go
  plugins/source/aws/resources/services/ec2/instance_types.go
  plugins/source/aws/resources/services/ec2/instances.go
  plugins/source/aws/resources/services/ec2/internet_gateways.go
  plugins/source/aws/resources/services/ec2/key_pairs.go
  plugins/source/aws/resources/services/ec2/nat_gateways.go
  plugins/source/aws/resources/services/ec2/network_acls.go
  plugins/source/aws/resources/services/ec2/network_interfaces.go
  plugins/source/aws/resources/services/ec2/regions.go
  plugins/source/aws/resources/services/ec2/reserved_instances.go
  plugins/source/aws/resources/services/ec2/route_tables.go
  plugins/source/aws/resources/services/ec2/security_groups.go
  plugins/source/aws/resources/services/ec2/subnets.go
  plugins/source/aws/resources/services/ec2/transit_gateway_attachments.go
  plugins/source/aws/resources/services/ec2/transit_gateway_multicast_domains.go
  plugins/source/aws/resources/services/ec2/transit_gateway_peering_attachments.go
  plugins/source/aws/resources/services/ec2/transit_gateway_route_tables.go
  plugins/source/aws/resources/services/ec2/transit_gateways.go
  plugins/source/aws/resources/services/ec2/vpc_endpoint_services.go
  plugins/source/aws/resources/services/ec2/vpc_endpoints.go
  plugins/source/aws/resources/services/ec2/vpc_peering_connections.go
  plugins/source/aws/resources/services/ec2/vpcs.go
  plugins/source/aws/resources/services/ec2/vpn_gateways.go
Owners: @hermanschaaf, @yevgenypats

Update configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
Owners: none

Update client.go
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

Update client.go
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

Update functions_fetch.go
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.8
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.19.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.17.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.16.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.17.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/appstream to v1.19.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
