Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Update plugin `source-gandi` version to v1.1.4 (#6312)
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `destination-gcs` version to v1.0.2 (#6313)
  website/versions/destination-gcs.json
Owners: none

chore: Update plugin `destination-neo4j` version to v1.0.1 (#6314)
  website/versions/destination-neo4j.json
Owners: none

chore: Update plugin `destination-file` version to v1.0.2 (#6315)
  website/versions/destination-file.json
Owners: none

chore: Update plugin `destination-test` version to v1.3.13 (#6316)
  website/versions/destination-test.json
Owners: none

chore: Update plugin `destination-azblob` version to v1.0.1 (#6317)
  website/versions/destination-azblob.json
Owners: none

chore: Update plugin `destination-s3` version to v1.0.2 (#6318)
  website/versions/destination-s3.json
Owners: none

chore(deps): Update CloudQuery monorepo modules
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `destination-mongodb` version to v1.0.4 (#6319)
  website/versions/destination-mongodb.json
Owners: none

chore: Update plugin `destination-snowflake` version to v1.1.4 (#6320)
  website/versions/destination-snowflake.json
Owners: none

feat(gcp-resources): Add Error Reporting
  plugins/source/gcp/codegen/recipes/clouderrorreporting.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_events.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_group_stats.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_events.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore: Update plugin `destination-sqlite` version to v1.1.3 (#6322)
  website/versions/destination-sqlite.json
Owners: none

chore: Update plugin `destination-bigquery` version to v2.0.1 (#6323)
  website/versions/destination-bigquery.json
Owners: none

chore: Update plugin `destination-postgresql` version to v2.0.1 (#6324)
  website/versions/destination-postgresql.json
Owners: none

chore(deps): Update CloudQuery monorepo modules (#6325)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/aws/test/sanity.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#6327)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

feat(gcp-resources): Add Error Reporting (#6326)
  plugins/source/gcp/codegen/recipes/clouderrorreporting.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_events.md
  plugins/source/gcp/docs/tables/gcp_clouderrorreporting_error_group_stats.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_events.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats.go
  plugins/source/gcp/resources/services/clouderrorreporting/error_group_stats_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

fix: Return error if read is called when `no_rotate` is false (#6263)
  plugins/destination/azblob/client/read.go
  plugins/destination/file/client/read.go
  plugins/destination/gcs/client/read.go
  plugins/destination/s3/client/read.go
Owners: @cloudquery/cloudquery-opensource

feat(gcp-resources): Add Billing Budgets (#6251)
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_billing_billing_accounts.md
  plugins/source/gcp/docs/tables/gcp_billing_budgets.md
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/billing_accounts_mock_test.go
  plugins/source/gcp/resources/services/billing/budgets.go
  plugins/source/gcp/resources/services/billing/budgets_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Bigtable admin resources (#6250)
  plugins/source/gcp/codegen/recipes/bigtableadmin.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_app_profiles.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_backups.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_clusters.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_instances.md
  plugins/source/gcp/docs/tables/gcp_bigtableadmin_tables.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/bigtableadmin/app_profiles.go
  plugins/source/gcp/resources/services/bigtableadmin/app_profiles_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/backups.go
  plugins/source/gcp/resources/services/bigtableadmin/backups_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/clusters.go
  plugins/source/gcp/resources/services/bigtableadmin/clusters_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/instances.go
  plugins/source/gcp/resources/services/bigtableadmin/instances_fetch.go
  plugins/source/gcp/resources/services/bigtableadmin/instances_mock_test.go
  plugins/source/gcp/resources/services/bigtableadmin/tables.go
  plugins/source/gcp/resources/services/bigtableadmin/tables_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Remove log lines
  plugins/source/hackernews/resources/services/items/items_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update creating_a_new_plugin.md
  contributing/creating_a_new_plugin.md
Owners: none

chore(docs): Update creating_a_new_plugin.md (#6334)
  contributing/creating_a_new_plugin.md
Owners: none

feat(gcp-resources): Add Cloud Deploy
  plugins/source/gcp/codegen/recipes/clouddeploy.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_delivery_pipelines.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_job_runs.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_releases.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_rollouts.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_targets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines_mock_test.go
  plugins/source/gcp/resources/services/clouddeploy/job_runs.go
  plugins/source/gcp/resources/services/clouddeploy/releases.go
  plugins/source/gcp/resources/services/clouddeploy/rollouts.go
  plugins/source/gcp/resources/services/clouddeploy/targets.go
  plugins/source/gcp/resources/services/clouddeploy/targets_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp-resources): Add Cloud Deploy (#6321)
  plugins/source/gcp/codegen/recipes/clouddeploy.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_delivery_pipelines.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_job_runs.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_releases.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_rollouts.md
  plugins/source/gcp/docs/tables/gcp_clouddeploy_targets.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines.go
  plugins/source/gcp/resources/services/clouddeploy/delivery_pipelines_mock_test.go
  plugins/source/gcp/resources/services/clouddeploy/job_runs.go
  plugins/source/gcp/resources/services/clouddeploy/releases.go
  plugins/source/gcp/resources/services/clouddeploy/rollouts.go
  plugins/source/gcp/resources/services/clouddeploy/targets.go
  plugins/source/gcp/resources/services/clouddeploy/targets_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(website): Azure cost-post (#5940)
  website/pages/blog/azure-cost-optimization-with-cloudquery.md
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_view_queries_props.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_views_props.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/azure_costmanagement_views_props_small.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-menu.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report-annotated.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report-save.png
  website/public/images/blog/azure-cost-optimization-with-cloudquery/cost-analysis-cost-by-resource-report.png
Owners: none

fix: Drop `not null` when a column is no longer a PK in the new schema
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

fix: Report error instead of dropping constraint
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

Use codegenless codegen per request
  plugins/source/stripe/codegen/fixtures/main.go
  plugins/source/stripe/codegen/main.go
  plugins/source/stripe/codegen/recipes/account.go
  plugins/source/stripe/codegen/recipes/customer.go
  plugins/source/stripe/codegen/recipes/dispute.go
  plugins/source/stripe/codegen/recipes/invoice.go
  plugins/source/stripe/codegen/recipes/product.go
  plugins/source/stripe/codegen/recipes/recipes.go
  plugins/source/stripe/codegen/recipes/recipes_test.go
  plugins/source/stripe/codegen/recipes/refund.go
  plugins/source/stripe/codegen/recipes/subscription.go
  plugins/source/stripe/codegen/templates/resource.go.tpl
  plugins/source/stripe/codegen/templates/resource_test.go.tpl
  plugins/source/stripe/docs/tables/stripe_accounts.md
  plugins/source/stripe/docs/tables/stripe_customers.md
  plugins/source/stripe/docs/tables/stripe_disputes.md
  plugins/source/stripe/docs/tables/stripe_invoice_items.md
  plugins/source/stripe/docs/tables/stripe_invoices.md
  plugins/source/stripe/docs/tables/stripe_products.md
  plugins/source/stripe/docs/tables/stripe_refunds.md
  plugins/source/stripe/docs/tables/stripe_subscriptions.md
  plugins/source/stripe/go.mod
  plugins/source/stripe/go.sum
  plugins/source/stripe/resources/services/accounts/accounts.go
  plugins/source/stripe/resources/services/accounts/accounts_test.go
  plugins/source/stripe/resources/services/customers/customers.go
  plugins/source/stripe/resources/services/customers/customers_test.go
  plugins/source/stripe/resources/services/disputes/disputes.go
  plugins/source/stripe/resources/services/disputes/disputes_test.go
  plugins/source/stripe/resources/services/invoices/invoice_items.go
  plugins/source/stripe/resources/services/invoices/invoice_items_test.go
  plugins/source/stripe/resources/services/invoices/invoices.go
  plugins/source/stripe/resources/services/invoices/invoices_test.go
  plugins/source/stripe/resources/services/products/products.go
  plugins/source/stripe/resources/services/products/products_test.go
  plugins/source/stripe/resources/services/refunds/refunds.go
  plugins/source/stripe/resources/services/refunds/refunds_test.go
  plugins/source/stripe/resources/services/subscriptions/subscriptions.go
  plugins/source/stripe/resources/services/subscriptions/subscriptions_test.go
Owners: @cloudquery/cloudquery-opensource

feat(gcp-resources): Add Certificate Manager
  plugins/source/gcp/codegen/recipes/certificatemanager.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_issuance_configs.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_map_entries.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificate_maps.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_certificates.md
  plugins/source/gcp/docs/tables/gcp_certificatemanager_dns_authorizations.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_issuance_configs_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_map_entries.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps.go
  plugins/source/gcp/resources/services/certificatemanager/certificate_maps_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/certificates.go
  plugins/source/gcp/resources/services/certificatemanager/certificates_mock_test.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations.go
  plugins/source/gcp/resources/services/certificatemanager/dns_authorizations_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Remove CHANGELOG.md
  plugins/source/stripe/CHANGELOG.md
Owners: none

Hacker news plugin
  .github/pr_labeler.yml
  .github/workflows/source_hackernews.yml
  .github/workflows/wait_for_required_workflows.yml
  .gitignore
  plugins/source/hackernews/CHANGELOG.md
  plugins/source/hackernews/CONTRIBUTING.md
  plugins/source/hackernews/README.md
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/errors_test.go
  plugins/source/hackernews/client/mocks/backend.go
  plugins/source/hackernews/client/services/backend.go
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/codegen/main.go
  plugins/source/hackernews/codegen/recipes/auth.go
  plugins/source/hackernews/codegen/recipes/items.go
  plugins/source/hackernews/codegen/recipes/recipes.go
  plugins/source/hackernews/docs/tables/README.md
  plugins/source/hackernews/docs/tables/hackernews_items.md
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/internal/intheap/intheap_test.go
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/resources/services/items/items_fetch_test.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/hackernews/_meta.json
  website/pages/docs/plugins/sources/hackernews/overview.md
  website/pages/docs/plugins/sources/hackernews/tables.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

update readme
  website/pages/docs/plugins/sources/hackernews/overview.md
Owners: none

Add field descriptions
  plugins/source/stripe/codegen/recipes/invoice.go
  plugins/source/stripe/codegen/recipes/recipes.go
  plugins/source/stripe/docs/tables/stripe_accounts.md
  plugins/source/stripe/docs/tables/stripe_customers.md
  plugins/source/stripe/docs/tables/stripe_disputes.md
  plugins/source/stripe/docs/tables/stripe_invoice_items.md
  plugins/source/stripe/docs/tables/stripe_invoices.md
  plugins/source/stripe/docs/tables/stripe_products.md
  plugins/source/stripe/docs/tables/stripe_refunds.md
  plugins/source/stripe/docs/tables/stripe_subscriptions.md
  plugins/source/stripe/resources/services/accounts/accounts.go
  plugins/source/stripe/resources/services/customers/customers.go
  plugins/source/stripe/resources/services/disputes/disputes.go
  plugins/source/stripe/resources/services/invoices/invoice_items.go
  plugins/source/stripe/resources/services/invoices/invoices.go
  plugins/source/stripe/resources/services/products/products.go
  plugins/source/stripe/resources/services/refunds/refunds.go
  plugins/source/stripe/resources/services/subscriptions/subscriptions.go
Owners: @cloudquery/cloudquery-opensource

feat(gcp-resources): Add Cloud Identity
  plugins/source/gcp/codegen/recipes/cloudidentity.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_cloudidentity_client_states.md
  plugins/source/gcp/docs/tables/gcp_cloudidentity_device_users.md
  plugins/source/gcp/docs/tables/gcp_cloudidentity_devices.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/cloudidentity/client_states.go
  plugins/source/gcp/resources/services/cloudidentity/client_states_fetch.go
  plugins/source/gcp/resources/services/cloudidentity/client_states_mock_test.go
  plugins/source/gcp/resources/services/cloudidentity/device_users.go
  plugins/source/gcp/resources/services/cloudidentity/device_users_fetch.go
  plugins/source/gcp/resources/services/cloudidentity/device_users_mock_test.go
  plugins/source/gcp/resources/services/cloudidentity/devices.go
  plugins/source/gcp/resources/services/cloudidentity/devices_fetch.go
  plugins/source/gcp/resources/services/cloudidentity/devices_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Use sdk 1.18.0
  plugins/source/stripe/codegen/templates/resource.go.tpl
  plugins/source/stripe/go.mod
  plugins/source/stripe/go.sum
  plugins/source/stripe/resources/services/accounts/accounts.go
  plugins/source/stripe/resources/services/customers/customers.go
  plugins/source/stripe/resources/services/disputes/disputes.go
  plugins/source/stripe/resources/services/invoices/invoice_items.go
  plugins/source/stripe/resources/services/invoices/invoices.go
  plugins/source/stripe/resources/services/products/products.go
  plugins/source/stripe/resources/services/refunds/refunds.go
  plugins/source/stripe/resources/services/subscriptions/subscriptions.go
Owners: @cloudquery/cloudquery-opensource

doc: Emphasize on "secret" api keys
  website/pages/docs/plugins/sources/stripe/overview.md
Owners: none

add missing docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_authorization_role_definitions.md
  plugins/source/azure/docs/tables/azure_cdn_endpoints.md
  plugins/source/azure/docs/tables/azure_cdn_profiles.md
  plugins/source/azure/docs/tables/azure_cdn_rule_sets.md
  plugins/source/azure/docs/tables/azure_cdn_security_policies.md
  plugins/source/azure/docs/tables/azure_compute_skus.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machines.md
  plugins/source/azure/docs/tables/azure_cosmos_database_accounts.md
  plugins/source/azure/docs/tables/azure_cosmos_mongo_db_databases.md
  plugins/source/azure/docs/tables/azure_cosmos_sql_databases.md
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_keys.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_managed_hsms.md
  plugins/source/azure/docs/tables/azure_keyvault_keyvault_secrets.md
  plugins/source/azure/docs/tables/azure_logic_workflows.md
  plugins/source/azure/docs/tables/azure_mariadb_server_configurations.md
  plugins/source/azure/docs/tables/azure_mariadb_servers.md
  plugins/source/azure/docs/tables/azure_monitor_tenant_activity_log_alerts.md
  plugins/source/azure/docs/tables/azure_mysql_server_configurations.md
  plugins/source/azure/docs/tables/azure_mysql_servers.md
  plugins/source/azure/docs/tables/azure_network_express_route_gateways.md
  plugins/source/azure/docs/tables/azure_security_pricings.md
  plugins/source/azure/docs/tables/azure_storage_accounts.md
  plugins/source/azure/docs/tables/azure_storage_blob_services.md
  plugins/source/azure/docs/tables/azure_storage_containers.md
  plugins/source/azure/docs/tables/azure_storage_tables.md
  plugins/source/azure/docs/tables/azure_subscription_subscriptions.md
  plugins/source/azure/docs/tables/azure_subscription_tenants.md
  plugins/source/azure/resources/plugin/plugin.go
  plugins/source/azure/resources/services/mysql/server_configurations.go
  plugins/source/azure/resources/services/mysql/server_configurations_mock_test.go
  plugins/source/azure/resources/services/mysql/servers.go
  plugins/source/azure/resources/services/mysql/servers_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

fix costmgmt
  plugins/source/azure/resources/services/costmanagement/views.go
  plugins/source/azure/resources/services/costmanagement/views_mock_test.go
Owners: @erezrokah, @yevgenypats
