Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update plugin-sdk for okta to v1.0.3 (#3855)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.0.3 (#3851)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.3.6 (#3827)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update dependency cloudquery/cloudquery to v1.6.6 (#3830)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix(aws): Elasticache Subnet Groups (#3835)
  plugins/source/aws/codegen/recipes/elasticache.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elasticache_subnet_groups.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/elasticache/subnet_groups.go
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#3840)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v4.7.5 (#3813)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.0.3 (#3853)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.7 (#3812)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v2.2.7 (#3823)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for github to v1.0.3 (#3852)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.0.3 (#3850)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore: Update plugin `source-terraform` version to v1.2.6 (#3819)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-test` version to v1.3.7 (#3829)
  sites/versions/v2/source-test.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.6.7 (#3899)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.8 (#3943)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-aws` version to v4.10.0 (#3973)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-test v1.3.8 (#3870)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.2.7 (#3866)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.0 (#3873)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.1.2 (#4016)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.3.8 (#3950)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update plugin `destination-test` version to v1.2.16 (#3901)
  sites/versions/v2/destination-test.json
Owners: none

chore(main): Release plugins-destination-test v1.2.17 (#3974)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v4.8.0 (#3911)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-digitalocean` version to v2.2.7 (#3896)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(codegen): Replace CloudQueryServiceName with function (#3904)
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/eventbridge.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/mock_test.go.tpl
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for test to v1.1.2 (#4004)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.1.0 (#3914)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-aws` version to v4.11.0 (#3978)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix: Silence zerolog until initialized (#3908)
  cli/main.go
Owners: @yevgenypats

chore: Update CLI version to v2.0.5 (#3981)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.7 (#3861)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for okta to v1.1.0 (#3924)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.0.4 (#3887)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.2.18 (#3990)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.3.0 (#3912)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.4 (#3957)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v4.7.6 (#3839)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.2.18 (#4000)
  sites/versions/v2/destination-test.json
Owners: none
