Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for csv to v1.5.3
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.3
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.3
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.3
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.3
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.3
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.3
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.3
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.3
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.3
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.3
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.3
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.5.3 (#4640)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.3 (#4641)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.7
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v5.2.0 (#4633)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(aws): Ensure all AWS table names are plural (#4341)
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/lightsail.go
  plugins/source/aws/codegen/recipes/xray.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_auto_scaling_configurations.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_connectors.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_ingress_connections.md
  plugins/source/aws/docs/tables/aws_ec2_regional_configs.md
  plugins/source/aws/docs/tables/aws_lightsail_disk_snapshots.md
  plugins/source/aws/docs/tables/aws_lightsail_disks.md
  plugins/source/aws/docs/tables/aws_xray_encryption_configs.md
  plugins/source/aws/policies/queries/ec2/ebs_encryption_by_default_disabled.sql
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_fetch.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configurations.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_connectors.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connections.go
  plugins/source/aws/resources/services/ec2/regional_config_fetch.go
  plugins/source/aws/resources/services/ec2/regional_config_mock_test.go
  plugins/source/aws/resources/services/ec2/regional_configs.go
  plugins/source/aws/resources/services/lightsail/disk_snapshots.go
  plugins/source/aws/resources/services/lightsail/disks.go
  plugins/source/aws/resources/services/lightsail/disks_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_mock_test.go
  plugins/source/aws/resources/services/xray/encryption_configs.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-aws` version to v6.0.0 (#4635)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

doc: Add performance tuning section (#4639)
  website/components/mdx/_configure.mdx
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/performance-tuning.md
  website/pages/docs/advanced-topics/rate-limiting.md
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
  website/pages/docs/reference/cli/_meta.json
  website/pages/docs/reference/source-spec.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.20 (#4637)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.3 (#4641)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(terraform): Update to new AWS SDK (#4617)
  plugins/source/terraform/client/backend.go
  plugins/source/terraform/client/client.go
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v6.0.0 (#4634)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v5.2.0 (#4631)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

test: Simplify drift test workflow (#4630)
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/source/aws/Makefile
  plugins/source/test/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore: Update plugin `source-terraform` version to v1.2.20 (#4638)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Use same phrasing for all plugins README (#4625)
  plugins/source/aws/README.md
  plugins/source/azure/README.md
  plugins/source/cloudflare/README.md
  plugins/source/digitalocean/README.md
  plugins/source/gcp/README.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/k8s/README.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for aws to v1.5.3 (#4640)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.3 (#4642)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release cli v2.0.18
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.3 (#4651)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.11
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.3 (#4643)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.18
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.3 (#4644)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release plugins-destination-csv v1.1.10
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.3 (#4645)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.22
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.11 (#4660)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.3 (#4646)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
