Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

added sql server vulnerability assessments
  plugins/source/azure/codegen2/recipes/sql_e.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies_fetch.go
  plugins/source/azure/resources/services/sql/database_blob_auditing_policies_mock_test.go
  plugins/source/azure/resources/services/sql/databases.go
  plugins/source/azure/resources/services/sql/databases_fetch.go
  plugins/source/azure/resources/services/sql/databases_mock_test.go
  plugins/source/azure/resources/services/sql/server_vulnerability_assessments.go
  plugins/source/azure/resources/services/sql/server_vulnerability_assessments_fetch.go
  plugins/source/azure/resources/services/sql/server_vulnerability_assessments_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
Owners: @erezrokah, @yevgenypats

feat(gcp-resources): Add Billing Budgets
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_billing_billing_accounts.md
  plugins/source/gcp/docs/tables/gcp_billing_budgets.md
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/billing_accounts_mock_test.go
  plugins/source/gcp/resources/services/billing/budgets.go
  plugins/source/gcp/resources/services/billing/budgets_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-gcp v5.4.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-tailscale v1.1.0
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-salesforce v1.0.1
  .release-please-manifest.json
  plugins/source/salesforce/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-pagerduty v1.1.2
  .release-please-manifest.json
  plugins/source/pagerduty/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v3.0.0
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-slack v1.0.2
  .release-please-manifest.json
  plugins/source/slack/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v2.0.2
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azuredevops v1.0.1
  .release-please-manifest.json
  plugins/source/azuredevops/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-crowdstrike v1.0.2
  .release-please-manifest.json
  plugins/source/crowdstrike/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.4
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.5
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gitlab v1.1.0
  .release-please-manifest.json
  plugins/source/gitlab/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.3.4
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.4
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-vercel v1.0.3
  .release-please-manifest.json
  plugins/source/vercel/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v4.0.2
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v3.1.0
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v2.0.0
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(deps): Update dependency go to v1.19.4
  .github/workflows/source_shopify.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/thoas/go-funk to v0.9.3
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
Owners: none

chore(deps): Update dependency go to v1.19.4 (#6258)
  .github/workflows/source_shopify.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/thoas/go-funk to v0.9.3 (#6259)
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
Owners: none

added postgresql configurations
  plugins/source/azure/codegen2/recipes/postgresql_e.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/postgresql/server_configurations.go
  plugins/source/azure/resources/services/postgresql/server_configurations_fetch.go
  plugins/source/azure/resources/services/postgresql/server_configurations_mock_test.go
  plugins/source/azure/resources/services/postgresql/servers.go
Owners: @erezrokah, @yevgenypats

added postgresql configurations
  plugins/source/azure/codegen2/recipes/postgresql_e.go
  plugins/source/azure/resources/services/postgresql/configurations.go
  plugins/source/azure/resources/services/postgresql/configurations_fetch.go
  plugins/source/azure/resources/services/postgresql/configurations_mock_test.go
  plugins/source/azure/resources/services/postgresql/servers.go
  plugins/source/azure/resources/services/postgresql/servers_mock_test.go
Owners: @erezrokah, @yevgenypats

fix: Return error if read is called when `no_rotate` is false
  plugins/destination/azblob/client/read.go
  plugins/destination/file/client/read.go
  plugins/destination/gcs/client/read.go
  plugins/destination/s3/client/read.go
Owners: @cloudquery/cloudquery-opensource

added sql server admins
  plugins/source/azure/codegen2/recipes/sql_e.go
  plugins/source/azure/resources/services/sql/server_admins.go
  plugins/source/azure/resources/services/sql/server_admins_fetch.go
  plugins/source/azure/resources/services/sql/server_admins_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/cloudquery/filetypes to v1.0.1
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

added sql encryption protectors
  plugins/source/azure/codegen2/recipes/sql_e.go
  plugins/source/azure/resources/services/sql/encryption_protectors.go
  plugins/source/azure/resources/services/sql/encryption_protectors_fetch.go
  plugins/source/azure/resources/services/sql/encryption_protectors_mock_test.go
  plugins/source/azure/resources/services/sql/servers.go
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/cloudquery/filetypes to v1.0.1 (#6264)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

chore(main): Release plugins-source-github v2.0.0 (#6018)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v2.0.0
  website/versions/source-github.json
Owners: none

chore(main): Release plugins-source-azuredevops v1.0.1 (#6028)
  .release-please-manifest.json
  plugins/source/azuredevops/CHANGELOG.md
Owners: none

fix: Return error if read is called when `no_rotate` is false
  plugins/destination/azblob/client/read.go
  plugins/destination/file/client/read.go
  plugins/destination/gcs/client/read.go
  plugins/destination/s3/client/read.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-azuredevops` version to v1.0.1
  website/versions/source-azuredevops.json
Owners: none

chore(main): Release plugins-source-datadog v1.0.5 (#6026)
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore: Update plugin `source-datadog` version to v1.0.5
  website/versions/source-datadog.json
Owners: none

chore(main): Release plugins-source-vercel v1.0.3 (#6029)
  .release-please-manifest.json
  plugins/source/vercel/CHANGELOG.md
Owners: none

chore: Update plugin `source-vercel` version to v1.0.3
  website/versions/source-vercel.json
Owners: none
