Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

linter
  plugins/source/aws/resources/services/iam/access_details_fetch.go
  plugins/source/aws/resources/services/iam/group_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/policy_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/role_last_accessed_services_fetch.go
  plugins/source/aws/resources/services/iam/user_last_accessed_services_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `destination-bigquery` version to v2.0.0
  website/versions/destination-bigquery.json
Owners: none

fix: Update description for location tables
  plugins/source/gcp/codegen/recipes/aiplatform.go
  plugins/source/gcp/docs/tables/gcp_aiplatform_dataset_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_endpoint_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_featurestore_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_index_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_indexendpoint_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_job_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_metadata_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_model_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_pipeline_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_specialistpool_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_tensorboard_locations.md
  plugins/source/gcp/docs/tables/gcp_aiplatform_vizier_locations.md
  plugins/source/gcp/resources/services/aiplatform/dataset_locations.go
  plugins/source/gcp/resources/services/aiplatform/endpoint_locations.go
  plugins/source/gcp/resources/services/aiplatform/featurestore_locations.go
  plugins/source/gcp/resources/services/aiplatform/index_locations.go
  plugins/source/gcp/resources/services/aiplatform/indexendpoint_locations.go
  plugins/source/gcp/resources/services/aiplatform/job_locations.go
  plugins/source/gcp/resources/services/aiplatform/metadata_locations.go
  plugins/source/gcp/resources/services/aiplatform/model_locations.go
  plugins/source/gcp/resources/services/aiplatform/pipeline_locations.go
  plugins/source/gcp/resources/services/aiplatform/specialistpool_locations.go
  plugins/source/gcp/resources/services/aiplatform/tensorboard_locations.go
  plugins/source/gcp/resources/services/aiplatform/vizier_locations.go
Owners: @yevgenypats, @disq

refactor: Remove ServiceDNS
  plugins/source/gcp/codegen/recipes/aiplatform.go
Owners: @yevgenypats, @disq

chore: Clean up locations list method
  plugins/source/gcp/codegen/recipes/aiplatform.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore: Update plugin `destination-bigquery` version to v2.0.0 (#6117)
  website/versions/destination-bigquery.json
Owners: none

chore(main): Release plugins-destination-postgresql v2.0.0 (#6105)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v2.0.0
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `destination-postgresql` version to v2.0.0 (#6118)
  website/versions/destination-postgresql.json
Owners: none

fix(file): Use external filetypes library
  plugins/destination/file/client/client.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/filetypes/csv/read.go
  plugins/filetypes/csv/transformer.go
  plugins/filetypes/csv/write.go
  plugins/filetypes/csv/write_read_test.go
  plugins/filetypes/go.mod
  plugins/filetypes/go.sum
  plugins/filetypes/json/read.go
  plugins/filetypes/json/transformer.go
  plugins/filetypes/json/write.go
  plugins/filetypes/json/write_read_test.go
Owners: @cloudquery/cloudquery-opensource

fix(file): Use external filetypes library (#6119)
  plugins/destination/file/client/client.go
  plugins/destination/file/client/read.go
  plugins/destination/file/client/write.go
  plugins/destination/file/go.mod
  plugins/destination/file/go.sum
  plugins/filetypes/csv/read.go
  plugins/filetypes/csv/transformer.go
  plugins/filetypes/csv/write.go
  plugins/filetypes/csv/write_read_test.go
  plugins/filetypes/go.mod
  plugins/filetypes/go.sum
  plugins/filetypes/json/read.go
  plugins/filetypes/json/transformer.go
  plugins/filetypes/json/write.go
  plugins/filetypes/json/write_read_test.go
Owners: @cloudquery/cloudquery-opensource

update website
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

fix vale
  .github/workflows/dest_s3.yml
  website/pages/docs/plugins/destinations/s3/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fmt
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/write.go
Owners: @cloudquery/cloudquery-opensource

fix: Move to external filtypes lib
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: @cloudquery/cloudquery-opensource

add workload identity
  .github/workflows/dest_s3.yml
  website/pages/docs/plugins/destinations/s3/_meta.json
  website/pages/docs/plugins/destinations/s3/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat: Add S3 destination
  .github/pr_labeler.yml
  .github/workflows/dest_s3.yml
  plugins/destination/s3/.gitignore
  plugins/destination/s3/.goreleaser.yaml
  plugins/destination/s3/CHANGELOG.md
  plugins/destination/s3/Makefile
  plugins/destination/s3/README.md
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/deletestale.go
  plugins/destination/s3/client/migrate.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/transformer.go
  plugins/destination/s3/client/write.go
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
  plugins/destination/s3/main.go
  plugins/destination/s3/resources/plugin/plugin.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Update .github/workflows/dest_s3.yml
  .github/workflows/dest_s3.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update website/pages/docs/plugins/destinations/s3/overview.md
  website/pages/docs/plugins/destinations/s3/overview.md
Owners: none

more tweaks
  plugins/destination/s3/client/client.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/s3/client/read.go
  plugins/destination/s3/client/spec.go
  plugins/destination/s3/client/write.go
  website/pages/docs/plugins/destinations/s3/overview.md
Owners: @cloudquery/cloudquery-opensource

fmt
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

add docs
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/gcs/_meta.json
  website/pages/docs/plugins/destinations/gcs/overview.md
Owners: none

lint
  plugins/destination/gcs/client/read.go
Owners: @cloudquery/cloudquery-opensource

feat: Add destination GCS
  .github/pr_labeler.yml
  .github/workflows/dest_gcs.yml
  plugins/destination/gcs/.gitignore
  plugins/destination/gcs/.goreleaser.yaml
  plugins/destination/gcs/CHANGELOG.md
  plugins/destination/gcs/Makefile
  plugins/destination/gcs/README.md
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/gcs/client/deletestale.go
  plugins/destination/gcs/client/migrate.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/transformer.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
  plugins/destination/gcs/main.go
  plugins/destination/gcs/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fix(gcs): Use external filetypes
  plugins/destination/gcs/client/client.go
  plugins/destination/gcs/client/read.go
  plugins/destination/gcs/client/spec.go
  plugins/destination/gcs/client/write.go
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
Owners: @cloudquery/cloudquery-opensource

Update website/pages/docs/plugins/destinations/gcs/overview.md
  website/pages/docs/plugins/destinations/gcs/overview.md
Owners: none

fine tunes
  .github/workflows/dest_gcs.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fixes
  .github/workflows/dest_gcs.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update .github/workflows/dest_azb.yml
  .github/workflows/dest_azb.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat: Azure Blob Storage destination
  .github/workflows/dest_azb.yml
  plugins/destination/azblob/.gitignore
  plugins/destination/azblob/.goreleaser.yaml
  plugins/destination/azblob/CHANGELOG.md
  plugins/destination/azblob/Makefile
  plugins/destination/azblob/README.md
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/client_test.go
  plugins/destination/azblob/client/deletestale.go
  plugins/destination/azblob/client/migrate.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/transformer.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/azblob/main.go
  plugins/destination/azblob/resources/plugin/plugin.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Update .github/workflows/dest_azb.yml
  .github/workflows/dest_azb.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update plugins/destination/azblob/main.go
  plugins/destination/azblob/main.go
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/azblob/README.md
  plugins/destination/azblob/README.md
Owners: @cloudquery/cloudquery-opensource

chore(deps): Update dependency cloudquery/cloudquery to v2
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fine tunes
  .github/workflows/dest_azblob.yml
  plugins/destination/azblob/client/client.go
  plugins/destination/azblob/client/read.go
  plugins/destination/azblob/client/spec.go
  plugins/destination/azblob/client/write.go
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fix spec
  plugins/destination/gcs/client/spec.go
Owners: @cloudquery/cloudquery-opensource

test weird stuff
  plugins/destination/gcs/client/client.go
Owners: @cloudquery/cloudquery-opensource

feat(gcp-resources): Add AppEngine resources
  plugins/source/gcp/codegen/recipes/appengine.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_appengine_apps.md
  plugins/source/gcp/docs/tables/gcp_appengine_authorized_certificates.md
  plugins/source/gcp/docs/tables/gcp_appengine_authorized_domains.md
  plugins/source/gcp/docs/tables/gcp_appengine_domain_mappings.md
  plugins/source/gcp/docs/tables/gcp_appengine_firewall_ingress_rules.md
  plugins/source/gcp/docs/tables/gcp_appengine_instances.md
  plugins/source/gcp/docs/tables/gcp_appengine_services.md
  plugins/source/gcp/docs/tables/gcp_appengine_versions.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/appengine/apps.go
  plugins/source/gcp/resources/services/appengine/apps_fetch.go
  plugins/source/gcp/resources/services/appengine/apps_mock_test.go
  plugins/source/gcp/resources/services/appengine/authorized_certificates.go
  plugins/source/gcp/resources/services/appengine/authorized_certificates_mock_test.go
  plugins/source/gcp/resources/services/appengine/authorized_domains.go
  plugins/source/gcp/resources/services/appengine/authorized_domains_mock_test.go
  plugins/source/gcp/resources/services/appengine/domain_mappings.go
  plugins/source/gcp/resources/services/appengine/domain_mappings_mock_test.go
  plugins/source/gcp/resources/services/appengine/firewall_ingress_rules.go
  plugins/source/gcp/resources/services/appengine/firewall_ingress_rules_mock_test.go
  plugins/source/gcp/resources/services/appengine/instances.go
  plugins/source/gcp/resources/services/appengine/services.go
  plugins/source/gcp/resources/services/appengine/services_mock_test.go
  plugins/source/gcp/resources/services/appengine/versions.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

refactor: Remove ServiceDNS
  plugins/source/gcp/codegen/recipes/appengine.go
Owners: @yevgenypats, @disq

fix: Lint
  plugins/source/gcp/resources/services/appengine/apps_mock_test.go
  plugins/source/gcp/resources/services/appengine/services_mock_test.go
Owners: @yevgenypats, @disq
