Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-source-pagerduty v1.0.0 (#5853)
  .release-please-manifest.json
  plugins/source/pagerduty/CHANGELOG.md
Owners: none

fix(ci-broken-links): Update `wait-for-vercel` to latest commit sha
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update AWS multi-account docs
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.md
  website/pages/docs/plugins/sources/aws/multi_account.md
Owners: none

fix(ci-broken-links): Update `wait-for-vercel` to latest commit sha (#5866)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

source/crowdstrike
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/resources/services/alerts/query_fetch.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/azuredevops
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/vercel
  plugins/source/vercel/codegen/recipes/recipes.go
  plugins/source/vercel/internal/vercel/deployment.go
  plugins/source/vercel/internal/vercel/project.go
  plugins/source/vercel/internal/vercel/team.go
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/github
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/billing/action_fetch.go
  plugins/source/github/resources/services/billing/package_fetch.go
  plugins/source/github/resources/services/billing/storage_fetch.go
  plugins/source/github/resources/services/external/groups_fetch.go
  plugins/source/github/resources/services/hooks/deliveries_fetch.go
  plugins/source/github/resources/services/hooks/hooks_fetch.go
  plugins/source/github/resources/services/hooks/hooks_test.go
  plugins/source/github/resources/services/installations/installations_fetch.go
  plugins/source/github/resources/services/issues/issues_fetch.go
  plugins/source/github/resources/services/organizations/members_fetch.go
  plugins/source/github/resources/services/organizations/organizations_fetch.go
  plugins/source/github/resources/services/repositories/repositories_fetch.go
  plugins/source/github/resources/services/teams/members_fetch.go
  plugins/source/github/resources/services/teams/repositories_fetch.go
  plugins/source/github/resources/services/teams/teams_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/terraform
  plugins/source/terraform/client/state.go
  plugins/source/terraform/resources/services/tfdata.go
  plugins/source/terraform/resources/services/tfdata_test.go
Owners: @cloudquery/cloudquery-opensource

destination/sqlite
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

destination/csv
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

source/test
  plugins/source/test/tables/test.go
Owners: @cloudquery/cloudquery-opensource

source/okta
  plugins/source/okta/codegen/recipes/recipes.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

destination/snowflake
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

cli
  cli/.golangci.yml
  cli/cmd/root.go
Owners: @yevgenypats

destination/bigquery
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/spec.go
  plugins/destination/bigquery/client/transformer.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

source/cloudflare
  plugins/source/cloudflare/client/filter.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/resources/services/access_groups/access_groups_fetch.go
  plugins/source/cloudflare/resources/services/access_groups/access_groups_mock_test.go
  plugins/source/cloudflare/resources/services/accounts/accounts_fetch.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs_fetch.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records_fetch.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records_mock_test.go
  plugins/source/cloudflare/resources/services/images/images_fetch.go
  plugins/source/cloudflare/resources/services/images/images_mock_test.go
  plugins/source/cloudflare/resources/services/ips/ips.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides_fetch.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages_fetch.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data_fetch.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes_fetch.go
  plugins/source/cloudflare/resources/services/zones/zones_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/datadog
  plugins/source/datadog/client/resolvers.go
  plugins/source/datadog/codegen/recipes/base.go
  plugins/source/datadog/codegen/services/clients.go
  plugins/source/datadog/codegen/services/generate.go
  plugins/source/datadog/resources/services/dashboard_lists/dashboard_lists_fetch.go
  plugins/source/datadog/resources/services/dashboards/dashboards_fetch.go
  plugins/source/datadog/resources/services/downtimes/downtimes_fetch.go
  plugins/source/datadog/resources/services/hosts/hosts_fetch.go
  plugins/source/datadog/resources/services/incidents/incident_attachments_fetch.go
  plugins/source/datadog/resources/services/incidents/incidents_fetch.go
  plugins/source/datadog/resources/services/monitors/monitor_downtimes_fetch.go
  plugins/source/datadog/resources/services/monitors/monitors_fetch.go
  plugins/source/datadog/resources/services/notebooks/notebooks_fetch.go
  plugins/source/datadog/resources/services/roles/permissions_fetch.go
  plugins/source/datadog/resources/services/roles/role_permissions_fetch.go
  plugins/source/datadog/resources/services/roles/role_users_fetch.go
  plugins/source/datadog/resources/services/roles/roles_fetch.go
  plugins/source/datadog/resources/services/synthetics/global_variables_fetch.go
  plugins/source/datadog/resources/services/synthetics/syntethics_fetch.go
  plugins/source/datadog/resources/services/users/user_organizations_fetch.go
  plugins/source/datadog/resources/services/users/user_permissions_fetch.go
  plugins/source/datadog/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/slack
  plugins/source/slack/codegen/recipes/recipes.go
  plugins/source/slack/codegen/services/generate.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

add fmt rule to lint
  plugins/.golangci.yml
Owners: @cloudquery/cloudquery-opensource

source/tailscale
  plugins/source/tailscale/resources/services/acl/acls_fetch.go
  plugins/source/tailscale/resources/services/device/devices_fetch.go
  plugins/source/tailscale/resources/services/device/routes_fetch.go
  plugins/source/tailscale/resources/services/dns/dns_fetch.go
  plugins/source/tailscale/resources/services/key/keys_fetch.go
Owners: @cloudquery/cloudquery-opensource

source/digitalocean
  plugins/source/digitalocean/client/client.go
  plugins/source/digitalocean/codegen/main.go
  plugins/source/digitalocean/codegen/recipes/base.go
  plugins/source/digitalocean/resources/services/accounts/accounts_fetch.go
  plugins/source/digitalocean/resources/services/droplets/neighbors_fetch.go
  plugins/source/digitalocean/resources/services/monitoring/alert_policies_fetch.go
  plugins/source/digitalocean/resources/services/spaces/spaces_fetch.go
  plugins/source/digitalocean/resources/services/storage/volumes_fetch.go
Owners: @cloudquery/cloudquery-opensource

destination/postgresql
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

source/gandi
  plugins/source/gandi/client/client.go
  plugins/source/gandi/client/mocks/mock_email_client.go
  plugins/source/gandi/client/services.go
  plugins/source/gandi/codegen/recipes/recipes.go
  plugins/source/gandi/resources/services/certificates/certificate_packages_fetch.go
  plugins/source/gandi/resources/services/certificates/certificates_fetch.go
  plugins/source/gandi/resources/services/domains/domain_dnssec_keys_fetch.go
  plugins/source/gandi/resources/services/domains/domain_glue_records_fetch.go
  plugins/source/gandi/resources/services/domains/domain_livedns_fetch.go
  plugins/source/gandi/resources/services/domains/domain_web_redirections_fetch.go
  plugins/source/gandi/resources/services/domains/domains_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domain_snapshots_fetch.go
  plugins/source/gandi/resources/services/livedns/livedns_domains_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instance_vhosts_fetch.go
  plugins/source/gandi/resources/services/simplehosting/simplehosting_instances_fetch.go
Owners: @cloudquery/cloudquery-opensource

destination/test
  plugins/destination/test/client/client.go
  plugins/destination/test/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

Add redirect in vercel
  website/vercel.json
Owners: none

chore: Update code and docs
  plugins/source/aws/client/services/sagemaker.go
Owners: @hermanschaaf, @yevgenypats

chore(aws): Fix gen makefile target
  plugins/source/aws/Makefile
Owners: @hermanschaaf, @yevgenypats

Some clean-up
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/spec.go
Owners: @hermanschaaf, @yevgenypats

Move MFA section
  website/pages/docs/plugins/sources/aws/multi-account.md
  website/pages/docs/plugins/sources/aws/overview.md
Owners: none

update
  plugins/source/aws/client/organizations.go
Owners: @hermanschaaf, @yevgenypats

chore(aws): Fix gen makefile target (#5869)
  plugins/source/aws/Makefile
Owners: @hermanschaaf, @yevgenypats

doc(website): Update AWS multi-account docs (#5868)
  website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.md
  website/pages/docs/plugins/sources/aws/multi_account.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/vercel.json
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/sagemaker.go
Owners: @hermanschaaf, @yevgenypats

chore(style): Use any instead of interface
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/resources/services/services/service_rules_fetch.go
  scripts/lint.sh
Owners: @yevgenypats, @disq, @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.59.0 (#5819)
  plugins/source/aws/client/mocks/sagemaker.go
  plugins/source/aws/client/services/sagemaker.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

chore(style): Use `any` instead of `interface` (#5871)
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/pagerduty/client/testing.go
  plugins/source/pagerduty/resources/services/services/service_rules_fetch.go
  scripts/lint.sh
Owners: @yevgenypats, @disq, @cloudquery/cloudquery-opensource

linting
  plugins/source/gcp/client/client.go
  plugins/source/gcp/resources/services/iam/deny_policies_fetch.go
  plugins/source/gcp/resources/services/serviceusage/services_fetch.go
Owners: @yevgenypats, @disq

Update client.go
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

Use queue to get all accounts
  plugins/source/aws/client/organizations.go
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
