Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update plugin-sdk for postgresql to v1.7.0
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.7.0
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.7.0
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.7.0
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.7.0
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.7.0 (#4903)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v7.1.4
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.7.0 (#4905)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release cli v2.0.20
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.7.0 (#4914)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.13
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.7.0 (#4904)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.7.0 (#4906)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.7.0 (#4907)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.7.0 (#4908)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.7.0 (#4909)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-aws v7.1.4 (#4900)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.20 (#4919)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.1.4
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update CLI version to v2.0.20
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.13 (#4920)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.7.0 (#4910)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.13
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.7.0 (#4911)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.7.0 (#4912)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.7.0 (#4913)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.7.0 (#4915)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.7.0 (#4916)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.7.0 (#4917)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.7.0 (#4918)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Update plugin `source-aws` version to v7.1.4 (#4926)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update CLI version to v2.0.20 (#4927)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.13 (#4928)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.13
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore(deps): Update dependency cloudquery/cloudquery to v1.7.13 (#4937)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

address pr comments
  plugins/source/aws/codegen/recipes/cloudwatchlogs.go
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_resource_policies.md
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
Owners: @hermanschaaf, @yevgenypats

feat: Add support for AWS Step Functions (#4832)
  plugins/source/aws/client/mocks/sfn.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/sfn.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/stepfunction.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_stepfunctions_state_machines.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/stepfunctions/state_machines.go
  plugins/source/aws/resources/services/stepfunctions/state_machines_fetch.go
  plugins/source/aws/resources/services/stepfunctions/state_machines_test.go
Owners: @hermanschaaf, @yevgenypats

early return
  plugins/source/aws/codegen/recipes/base.go
Owners: @hermanschaaf, @yevgenypats

Update base.go
  plugins/source/aws/codegen/recipes/base.go
Owners: @hermanschaaf, @yevgenypats

Update base.go
  plugins/source/aws/codegen/recipes/base.go
Owners: @hermanschaaf, @yevgenypats
