Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/cloudquery/plugin-sdk to v1.16.1 (#6222)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/destination/s3/go.mod
  plugins/destination/s3/go.sum
Owners: none

test(s3): Use pre-existing bucket for tests
  plugins/destination/s3/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

test(s3): Use pre-existing bucket for tests (#6225)
  plugins/destination/s3/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

fix(aws): Remove account validation
  plugins/source/aws/client/spec.go
Owners: @hermanschaaf, @yevgenypats

test: Fix tests
  plugins/source/aws/client/spec_test.go
Owners: @hermanschaaf, @yevgenypats

feat: Add Kafka destination
  .github/pr_labeler.yml
  .github/workflows/dest_kafka.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/kafka/.gitignore
  plugins/destination/kafka/.goreleaser.yaml
  plugins/destination/kafka/CHANGELOG.md
  plugins/destination/kafka/CONTRIBUTING.md
  plugins/destination/kafka/Makefile
  plugins/destination/kafka/README.md
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/deletestale.go
  plugins/destination/kafka/client/logger.go
  plugins/destination/kafka/client/metrics.go
  plugins/destination/kafka/client/migrate.go
  plugins/destination/kafka/client/read.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/transformer.go
  plugins/destination/kafka/client/write.go
  plugins/destination/kafka/docker-compose.yml
  plugins/destination/kafka/go.mod
  plugins/destination/kafka/go.sum
  plugins/destination/kafka/main.go
  plugins/destination/kafka/resources/plugin/plugin.go
  release-please-config.json
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/kafka/_meta.json
  website/pages/docs/plugins/destinations/kafka/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fmt
  plugins/destination/kafka/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

trying to fix tests
  plugins/destination/kafka/CONTRIBUTING.md
  plugins/destination/kafka/client/client.go
  plugins/destination/kafka/client/client_test.go
  plugins/destination/kafka/client/spec.go
  plugins/destination/kafka/client/write.go
Owners: @cloudquery/cloudquery-opensource

trying to wait for kafka
  plugins/destination/kafka/client/client.go
Owners: @cloudquery/cloudquery-opensource

minor website fix
  website/pages/docs/plugins/destinations/kafka/overview.md
Owners: none

nit
  website/pages/docs/plugins/destinations/_meta.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/aws/protocol/eventstream to v1.4.10
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/accept-encoding to v1.9.11
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/smithy-go to v1.13.5
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/aws/protocol/eventstream to v1.4.10 (#6229)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/accept-encoding to v1.9.11 (#6233)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/configsources to v1.1.27
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/v4a to v1.0.18
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/checksum to v1.1.22
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/s3shared to v1.13.21
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/configsources to v1.1.27 (#6230)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/v4a to v1.0.18 (#6232)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/checksum to v1.1.22 (#6234)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/s3shared to v1.13.21 (#6236)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/endpoints/v2 to v2.4.21
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/presigned-url to v1.9.21
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/internal/endpoints/v2 to v2.4.21 (#6231)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/internal/presigned-url to v1.9.21 (#6235)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

chore(website): Deprecate CSV
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

chore(website): Deprecate CSV (#6238)
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

fix(aws): Remove account validation
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/spec_test.go
Owners: @hermanschaaf, @yevgenypats

fix(aws): Remove account validation (#6226)
  plugins/source/aws/client/spec.go
  plugins/source/aws/client/spec_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v9.1.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

Update plugins/destination/kafka/README.md
  plugins/destination/kafka/README.md
Owners: @cloudquery/cloudquery-opensource

Update website/pages/docs/plugins/destinations/kafka/overview.md
  website/pages/docs/plugins/destinations/kafka/overview.md
Owners: none

chore(main): Release plugins-source-aws v9.1.0 (#6024)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

remove changelog
  plugins/destination/kafka/CHANGELOG.md
Owners: none

feat(website): Show deprecated plugins last
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: none

chore(deps): Ignore dependencies updates for the CSV plugin
  .github/renovate.json5
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Ignore merge commits when diffing
  .github/workflows/broken_links.yml
  website/scripts/diff.sh
Owners: @erezrokah, @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
