Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-csv v1.1.15
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-bigquery v1.2.1
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.27
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.45
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.22.0 (#5814)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.26.0 (#5815)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.38.1 (#5816)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kinesis to v1.16.0 (#5817)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.36.0 (#5818)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.45 (#5812)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.3.2
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

rm continue
  plugins/source/slack/client/rate_limiting.go
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.21.0 (#5813)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v8.0.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.1.2 (#5593)
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.2 (#5594)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.24 (#5595)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-gandi` version to v1.1.2
  website/versions/source-gandi.json
Owners: none

chore(main): Release plugins-source-digitalocean v3.1.2 (#5596)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.3.2
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-test` version to v1.3.24
  website/versions/source-test.json
Owners: none

chore: Update plugin `source-digitalocean` version to v3.1.2
  website/versions/source-digitalocean.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.59.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-github v1.4.1 (#5597)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.3 (#5602)
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.2 (#5603)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.4.1
  website/versions/source-github.json
Owners: none

chore(main): Release plugins-source-terraform v1.3.2 (#5605)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-datadog` version to v1.0.3
  website/versions/source-datadog.json
Owners: none

chore: Update plugin `source-terraform` version to v1.3.2
  website/versions/source-terraform.json
Owners: none

chore(main): Release plugins-source-okta v1.4.2 (#5606)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.2 (#5607)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.5.2
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-okta` version to v1.4.2
  website/versions/source-okta.json
Owners: none

chore: Update plugin `source-heroku` version to v3.1.2
  website/versions/source-heroku.json
Owners: none

chore(website): Add callout about Azure policies
  website/pages/docs/plugins/sources/azure/policies.md
Owners: none

chore: Add missing code blocks languages, enforce via linter
  .github/workflows/lint_markdown.yml
  .markdownlint.yaml
  contributing/development_environment.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/sqlite/CONTRIBUTING.md
  plugins/source/aws/policies/README.md
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/cloudquery-postgrest.md
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/gcp/policies.md
  website/pages/docs/plugins/sources/k8s/policies.md
  website/pages/docs/plugins/sources/okta/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Add missing code blocks languages, enforce via linter
  .github/workflows/lint_markdown.yml
  .markdownlint.yaml
  contributing/development_environment.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/sqlite/CONTRIBUTING.md
  plugins/source/aws/policies/README.md
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/cloudquery-postgrest.md
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/gcp/policies.md
  website/pages/docs/plugins/sources/k8s/policies.md
  website/pages/docs/plugins/sources/okta/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release cli v2.0.27 (#5613)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none
