Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.23.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_cloudwatch_alarms.md
  plugins/source/aws/resources/services/cloudwatch/alarms.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.3 (#5666)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-tailscale v1.0.0
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.23.0 (#5667)
  plugins/source/aws/docs/tables/aws_cloudwatch_alarms.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/cloudwatch/alarms.go
Owners: @hermanschaaf, @yevgenypats

blog post draft for s3 security settings
  website/pages/blog/_meta.json
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Owners: none

add ACL to vocab
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

update headings and formatting
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Owners: none

fix reference link
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Owners: none

fix capitalization
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
Owners: none

review fixes
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

chore(blog): GCP cost with BigQuery (#5660)
  website/pages/blog/_meta.json
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/public/images/blog/analysing-gcp-cost-with-bigquery-and-cq/bigquery_billing.png
Owners: none

chore(ci-lint): Add some markdown lint rules (#5659)
  .github/styles/proselint/BestPractice.yml
  .github/styles/proselint/RealWorld.yml
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(gcp): Remove error wrapping (#5654)
  plugins/source/gcp/resources/services/bigquery/datasets_fetch.go
  plugins/source/gcp/resources/services/bigquery/tables_fetch.go
  plugins/source/gcp/resources/services/dns/managed_zones_fetch.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
  plugins/source/gcp/resources/services/iam/service_account_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
  plugins/source/gcp/resources/services/storage/bucket_policies_fetch.go
Owners: @yevgenypats, @disq

fix(gcp): Remove error wrapping
  plugins/source/gcp/go.mod
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Owners: @yevgenypats, @disq

refactor: Use Resources var and init function like Azure plugin
  plugins/source/azuredevops/codegen/main.go
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/codegen/recipes/core.go
Owners: @cloudquery/cloudquery-opensource

fix(gcp): Remove error wrapping (#5669)
  plugins/source/gcp/go.mod
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Owners: @yevgenypats, @disq

refactor: Extract write to function
  plugins/source/azuredevops/codegen/recipes/base.go
Owners: @cloudquery/cloudquery-opensource

typo
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

typo
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

pr comments
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

tailscale blog
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

fix intro
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

add to meta
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

refactor: Use pointer for code gen
  plugins/source/azuredevops/codegen/recipes/core.go
Owners: @cloudquery/cloudquery-opensource

doc(tailscale): Tailscale source plugin blog announcement (#5647)
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

chore(main): Release plugins-source-tailscale v1.0.0 (#5614)
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

Update go.mod
  plugins/source/azuredevops/go.mod
Owners: none

feat(website): Vercel introductory blog post
  website/pages/blog/_meta.json
  website/pages/blog/announcing-the-vercel-source-plugin.md
Owners: none

Update website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/announcing-the-vercel-source-plugin.md
Owners: none

CR
  website/pages/blog/announcing-the-vercel-source-plugin.md
Owners: none

Update website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/announcing-the-vercel-source-plugin.md
Owners: none

feat: Add codegen (#5618)
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/codegen/main.go
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/codegen/recipes/core.go
  plugins/source/azuredevops/codegen/recipes/templates/resource.go.tpl
  plugins/source/azuredevops/codegen/recipes/templates/tables.go.tpl
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
Owners: @cloudquery/cloudquery-opensource

chore(website): Clean up blog meta.json file
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
Owners: none

feat(website): Vercel introductory blog post (#5643)
  website/pages/blog/_meta.json
  website/pages/blog/announcing-the-vercel-source-plugin.md
Owners: none

chore: Fix changelog pagination link
  website/pages/docs/_meta.json
Owners: none

chore(website): Clean up blog meta.json file (#5670)
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/docs/_meta.json
Owners: none

chore: Add Vercel do release please
  release-please-config.json
Owners: none

chore: Add Vercel to release please (#5672)
  release-please-config.json
Owners: none

chore(main): Release plugins-source-vercel v1.0.0
  .release-please-manifest.json
  plugins/source/vercel/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
