Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

Create configuring-cq-with-localstack.md
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

fix(website): Fix aws config
  website/pages/docs/plugins/sources/aws/configuration.md
Owners: none

fix(website): Fix aws config (#5947)
  website/pages/docs/plugins/sources/aws/configuration.md
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5948)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/fsx to v1.27.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/inspector2 to v1.10.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_fsx_storage_virtual_machines.md
  plugins/source/aws/resources/services/fsx/storage_virtual_machines.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/fsx to v1.27.0 (#5950)
  plugins/source/aws/docs/tables/aws_fsx_storage_virtual_machines.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/fsx/storage_virtual_machines.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/inspector2 to v1.10.0 (#5951)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

turn instance_view into column
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/resources/services/compute/virtual_machine_instance_views.go
  plugins/source/azure/resources/services/compute/virtual_machine_instance_views_fetch.go
  plugins/source/azure/resources/services/compute/virtual_machine_instance_views_mock_test.go
  plugins/source/azure/resources/services/compute/virtual_machines.go
  plugins/source/azure/resources/services/compute/virtual_machines_mock_test.go
Owners: @erezrokah, @yevgenypats

feat(azure): Add search,logic,monitor,redis tables
  plugins/source/azure/client/client.go
  plugins/source/azure/codegen2/recipes/logic_e.go
  plugins/source/azure/codegen2/recipes/monitor_e.go
  plugins/source/azure/codegen2/recipes/redis_e.go
  plugins/source/azure/codegen2/recipes/search_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_logic_workflows.md
  plugins/source/azure/docs/tables/azure_monitor_tenant_activity_log_alerts.md
  plugins/source/azure/docs/tables/azure_redis_caches.md
  plugins/source/azure/docs/tables/azure_search_services.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/logic/workflows.go
  plugins/source/azure/resources/services/logic/workflows_mock_test.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts_mock_test.go
  plugins/source/azure/resources/services/redis/caches.go
  plugins/source/azure/resources/services/redis/caches_mock_test.go
  plugins/source/azure/resources/services/search/services.go
  plugins/source/azure/resources/services/search/services_fetch.go
  plugins/source/azure/resources/services/search/services_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

update docs
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machines.md
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

tidy
  plugins/source/azure/go.mod
Owners: none

Manual Refactor
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/efs.go
  plugins/source/aws/codegen/recipes/eventbridge.go
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/azure/codegen2/main.go
  plugins/source/azure/codegen2/main.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/codegen2/recipes/compute_e.go
Owners: @erezrokah, @yevgenypats

feat: Add instance_view to azure_compute_virtual_machines table (#5941)
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/compute.go
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/codegen2/recipes/compute.go
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machines.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/virtual_machine_instance_views_fetch.go
  plugins/source/azure/resources/services/compute/virtual_machines.go
  plugins/source/azure/resources/services/compute/virtual_machines_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

fix: Refactor codegen
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/templates/resource.go.tpl
Owners: @hermanschaaf, @yevgenypats

Make Recipes Compile
  plugins/source/aws/codegen/recipes/appstream.go
  plugins/source/aws/codegen/recipes/autoscaling.go
  plugins/source/aws/codegen/recipes/cloudtrail.go
  plugins/source/aws/codegen/recipes/config.go
  plugins/source/aws/codegen/recipes/dms.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/ecs.go
  plugins/source/aws/codegen/recipes/elasticbeanstalk.go
  plugins/source/aws/codegen/recipes/elastictranscoder.go
  plugins/source/aws/codegen/recipes/elbv1.go
  plugins/source/aws/codegen/recipes/elbv2.go
  plugins/source/aws/codegen/recipes/guardduty.go
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/codegen/recipes/identitystore.go
  plugins/source/aws/codegen/recipes/kafka.go
  plugins/source/aws/codegen/recipes/lambda.go
  plugins/source/aws/codegen/recipes/lightsail.go
  plugins/source/aws/codegen/recipes/organizations.go
  plugins/source/aws/codegen/recipes/ram.go
  plugins/source/aws/codegen/recipes/resourcegroups.go
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/codegen/recipes/s3.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_and_describe_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/wafv2.go
Owners: @hermanschaaf, @yevgenypats

feat(salesforce): New Salesforce source plugin
  .github/workflows/source_salesforce.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/salesforce/.gitignore
  plugins/source/salesforce/.goreleaser.yaml
  plugins/source/salesforce/CHANGELOG.md
  plugins/source/salesforce/Makefile
  plugins/source/salesforce/README.md
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/http.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/spec.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/docs/tables/README.md
  plugins/source/salesforce/docs/tables/salesforce_objects.md
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
  plugins/source/salesforce/resources/services/objects_jobs_api.go
  plugins/source/salesforce/resources/services/objects_mock_jobs_api_test.go
  plugins/source/salesforce/resources/services/objects_mock_query_api_test.go
  plugins/source/salesforce/resources/services/objects_query_api.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/salesforce/_meta.json
  website/pages/docs/plugins/sources/salesforce/configuration.md
  website/pages/docs/plugins/sources/salesforce/creating_connected_app.md
  website/pages/docs/plugins/sources/salesforce/overview.md
  website/pages/docs/plugins/sources/salesforce/tables.md
  website/public/images/docs/sf/step1.png
  website/public/images/docs/sf/step2.png
  website/public/images/docs/sf/step3.png
  website/public/images/docs/sf/step4.png
  website/public/images/docs/sf/step5.png
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fixes
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  website/pages/docs/plugins/sources/salesforce/_meta.json
  website/pages/docs/plugins/sources/salesforce/configuration.md
  website/pages/docs/plugins/sources/salesforce/creating_connected_app.md
  website/pages/docs/plugins/sources/salesforce/overview.md
Owners: none

fix linter
  plugins/source/salesforce/resources/services/objects_fetch.go
  plugins/source/salesforce/resources/services/objects_jobs_api.go
  plugins/source/salesforce/resources/services/objects_mock_jobs_api_test.go
  plugins/source/salesforce/resources/services/objects_mock_query_api_test.go
  plugins/source/salesforce/resources/services/objects_query_api.go
Owners: @cloudquery/cloudquery-opensource

fix linter
  plugins/source/salesforce/resources/services/objects_query_api.go
Owners: @cloudquery/cloudquery-opensource

update image limit
  .github/workflows/check_file_size.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

vale
  website/pages/docs/plugins/sources/salesforce/creating_connected_app.md
  website/pages/docs/plugins/sources/salesforce/overview.md
Owners: none

feat(salesforce): New Salesforce source plugin (#5954)
  .github/workflows/check_file_size.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/salesforce/.gitignore
  plugins/source/salesforce/.goreleaser.yaml
  plugins/source/salesforce/CHANGELOG.md
  plugins/source/salesforce/Makefile
  plugins/source/salesforce/README.md
  plugins/source/salesforce/client/client.go
  plugins/source/salesforce/client/http.go
  plugins/source/salesforce/client/multiplexers.go
  plugins/source/salesforce/client/spec.go
  plugins/source/salesforce/client/testing.go
  plugins/source/salesforce/docs/tables/README.md
  plugins/source/salesforce/docs/tables/salesforce_objects.md
  plugins/source/salesforce/go.mod
  plugins/source/salesforce/go.sum
  plugins/source/salesforce/main.go
  plugins/source/salesforce/resources/plugin/plugin.go
  plugins/source/salesforce/resources/services/objects.go
  plugins/source/salesforce/resources/services/objects_fetch.go
  plugins/source/salesforce/resources/services/objects_jobs_api.go
  plugins/source/salesforce/resources/services/objects_mock_jobs_api_test.go
  plugins/source/salesforce/resources/services/objects_mock_query_api_test.go
  plugins/source/salesforce/resources/services/objects_query_api.go
  release-please-config.json
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/salesforce/_meta.json
  website/pages/docs/plugins/sources/salesforce/creating_connected_app.md
  website/pages/docs/plugins/sources/salesforce/overview.md
  website/pages/docs/plugins/sources/salesforce/tables.md
  website/public/images/docs/sf/step1.png
  website/public/images/docs/sf/step2.png
  website/public/images/docs/sf/step3.png
  website/public/images/docs/sf/step4.png
  website/public/images/docs/sf/step5.png
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

feat(azure): Add search,logic,monitor,redis tables (#5952)
  plugins/source/azure/client/client.go
  plugins/source/azure/codegen2/recipes/logic_e.go
  plugins/source/azure/codegen2/recipes/monitor_e.go
  plugins/source/azure/codegen2/recipes/redis_e.go
  plugins/source/azure/codegen2/recipes/search_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_logic_workflows.md
  plugins/source/azure/docs/tables/azure_monitor_tenant_activity_log_alerts.md
  plugins/source/azure/docs/tables/azure_redis_caches.md
  plugins/source/azure/docs/tables/azure_search_services.md
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/logic/workflows.go
  plugins/source/azure/resources/services/logic/workflows_mock_test.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts.go
  plugins/source/azure/resources/services/monitor/tenant_activity_log_alerts_mock_test.go
  plugins/source/azure/resources/services/redis/caches.go
  plugins/source/azure/resources/services/redis/caches_mock_test.go
  plugins/source/azure/resources/services/search/services.go
  plugins/source/azure/resources/services/search/services_fetch.go
  plugins/source/azure/resources/services/search/services_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

feat(resources): Add API Gateway
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apigateway_apis.md
  plugins/source/gcp/docs/tables/gcp_apigateway_gateways.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/apigateway/apis.go
  plugins/source/gcp/resources/services/apigateway/apis_mock_test.go
  plugins/source/gcp/resources/services/apigateway/gateways.go
  plugins/source/gcp/resources/services/apigateway/gateways_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

fix: Add DNS name
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/resources/services/apigateway/apis.go
  plugins/source/gcp/resources/services/apigateway/gateways.go
Owners: @yevgenypats, @disq

feat(resources): Add API Gateway (#5926)
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_apigateway_apis.md
  plugins/source/gcp/docs/tables/gcp_apigateway_gateways.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/apigateway/apis.go
  plugins/source/gcp/resources/services/apigateway/apis_mock_test.go
  plugins/source/gcp/resources/services/apigateway/gateways.go
  plugins/source/gcp/resources/services/apigateway/gateways_mock_test.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

refactor: Make ServiceDNS optional
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apigateway.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/storage.go
Owners: @yevgenypats, @disq

Update website/vercel.json
  website/vercel.json
Owners: none

Simplify
  website/components/BlogHeader.tsx
  website/components/HowToGuideHeader.tsx
  website/components/HowToGuideIndex.tsx
  website/pages/how-to-guides/_meta.json
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/how-to-guides/cloudquery-postgraphile.md
  website/pages/how-to-guides/cloudquery-postgrest.md
  website/pages/how-to-guides/cross-account-access-aws-assumerole.md
  website/pages/how-to-guides/deploying-cloudquery-into-aws-org.md
  website/pages/how-to-guides/open-source-cspm.md
Owners: none

doc(website): Add how-to guides section to website (#5943)
  website/components/HowToGuideHeader.tsx
  website/components/HowToGuideIndex.tsx
  website/pages/_meta.json
  website/pages/how-to-guides.mdx
  website/pages/how-to-guides/_meta.json
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-apache-superset.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-aws-quicksight.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-google-data-studio.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-metabase.md
  website/pages/how-to-guides/cloud-asset-inventory-cloudquery-microsoft-power-bi.md
  website/pages/how-to-guides/cloudquery-postgraphile.md
  website/pages/how-to-guides/cloudquery-postgrest.md
  website/pages/how-to-guides/cross-account-access-aws-assumerole.md
  website/pages/how-to-guides/deploying-cloudquery-into-aws-org.md
  website/pages/how-to-guides/open-source-cspm.md
  website/vercel.json
Owners: none

Add latest blog post to footer
  website/components/Footer.tsx
Owners: none

fix compilation error
  website/components/Footer.tsx
Owners: none

Add more resources
  plugins/source/fastly/codegen/recipes/services.go
  plugins/source/fastly/resources/services/services/service_versions.go
  plugins/source/fastly/resources/services/services/service_versions_fetch.go
  plugins/source/fastly/resources/services/services/services.go
  plugins/source/fastly/resources/services/services/services_fetch.go
Owners: @cloudquery/cloudquery-opensource

Fix broken links in 2022 May update
  website/pages/blog/2022-may-monthly.md
Owners: none

chore(website): Add latest blog post to footer (#5959)
  website/components/Footer.tsx
Owners: none
