Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-snowflake v1.0.5
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.3.1
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.5 (#5459)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore: Update plugin `destination-snowflake` version to v1.0.5
  website/versions/destination-snowflake.json
Owners: none

chore: Update plugin `destination-snowflake` version to v1.0.5 (#5470)
  website/versions/destination-snowflake.json
Owners: none

chore(main): Release cli v2.0.25
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(release-cli): Allow versioned installs via Homebrew
  cli/.goreleaser.yaml
Owners: @yevgenypats

chore(release-cli): Allow versioned installs via Homebrew (#5478)
  cli/.goreleaser.yaml
Owners: @yevgenypats

chore(main): Release cli v2.0.25 (#5476)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.3.1 (#5457)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.3.1
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-aws` version to v7.3.1 (#5479)
  website/versions/source-aws.json
Owners: none

tidy
  plugins/source/azure/go.sum
Owners: none

lint passing
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

added some more docs
  plugins/source/azure/CONTRIBUTING.md
  plugins/source/azure/codegen0/internal/azparser/parser.go
Owners: @erezrokah, @yevgenypats

docs
  plugins/source/azure/CONTRIBUTING.md
Owners: @erezrokah, @yevgenypats

fix(ci): Typo in release CLI
  .github/workflows/release_cli.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(website): Update CLI to latest version
  website/versions/cli.json
Owners: none

gomodtidy
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(website): Update CLI to latest version (#5481)
  website/versions/cli.json
Owners: none

fix vale
  plugins/source/azure/CONTRIBUTING.md
Owners: @erezrokah, @yevgenypats

fix(ci): Typo in release CLI (#5480)
  .github/workflows/release_cli.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

remove policies test for azure
  .github/workflows/source_azure.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

refactor: Simplify replace logic
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/next.config.mjs
  website/pages/docs/deployment/github-actions.md
Owners: none

feat(website): Document Homebrew specific version
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/next.config.mjs
  website/pages/docs/deployment/github-actions.md
Owners: none

Update _download-macOS.mdx
  website/components/mdx/_download-macOS.mdx
Owners: none

fix(website): Broken CLI download links
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
Owners: none

fix(website): Broken CLI download links (#5484)
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
Owners: none

fix(website): Remove copy from code blocks that have version placeholders
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Owners: none

fix(website): Remove copy from code blocks that have version placeholders (#5485)
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/core-concepts/configuration.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
Owners: none

Revert "chore: Update plugin `source-aws` version to v7.3.1 (#5479)"
  website/versions/source-aws.json
Owners: none

fix: Revert "chore: Update plugin `source-aws` version to v7.3.1" (#5488)
  website/versions/source-aws.json
Owners: none

Save
  plugins/source/slack/client/client.go
  plugins/source/slack/client/mocks/slack.go
  plugins/source/slack/client/multiplexers.go
  plugins/source/slack/client/services.go
  plugins/source/slack/client/services/slack.go
  plugins/source/slack/client/testing.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/access_logs.go
  plugins/source/slack/codegen/recipes/conversations.go
  plugins/source/slack/codegen/recipes/emojis.go
  plugins/source/slack/codegen/recipes/groups.go
  plugins/source/slack/codegen/services/generate.go
  plugins/source/slack/codegen/services/templates/service.go.tpl
  plugins/source/slack/codegen/services/templates/services.go.tpl
  plugins/source/slack/docs/tables/README.md
  plugins/source/slack/docs/tables/slack_user_presences.md
  plugins/source/slack/docs/tables/slack_users.md
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/resources/plugin/plugin.go
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/access_logs/logins.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/emojis/emojis.go
  plugins/source/slack/resources/services/groups/group_conversations.go
  plugins/source/slack/resources/services/groups/group_conversations_fetch.go
  plugins/source/slack/resources/services/users/user_presences_mock_test.go
  plugins/source/slack/resources/services/users/users_mock_test.go
  plugins/source/slack/tools/tool.go
  website/pages/docs/plugins/sources/slack/tables.md
Owners: @cloudquery/cloudquery-opensource

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5489)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cognitoidentityprovider to v1.21.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.22.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.25.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/eks.go
  plugins/source/aws/client/services/eks.go
Owners: @hermanschaaf, @yevgenypats
