Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

feat(website): Gandi blog post
  website/pages/blog/_meta.json
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/docs/plugins/sources/gandi/_meta.json
Owners: none

abs rel link
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

chore(website): Add Datadog to overview table (#5274)
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Vale
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

doc: Remove link to Github repo from word "open source"
  README.md
Owners: none

doc: Remove link to Github repo from word "open source" (#5276)
  README.md
Owners: none

Add version badge to overview pages
  website/components/Badge.tsx
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/pages/docs/plugins/sources/azure/overview.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/pages/docs/plugins/sources/datadog/overview.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/gcp/overview.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/overview.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
Owners: none

Sort plugins
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Update website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/gandi/overview.md
Owners: none

Put GA plugins first
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Apply suggestions from code review
  website/pages/docs/plugins/sources/datadog/overview.md
Owners: none

doc(website): Sort plugins (#5278)
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Sort lexicographically
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Fix Kubernetes
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

doc(website): Sort lexicographically (#5279)
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

doc(website): Add version badge to overview pages (#5277)
  website/components/Badge.tsx
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/destinations/sqlite/overview.md
  website/pages/docs/plugins/sources/aws/overview.md
  website/pages/docs/plugins/sources/azure/overview.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/pages/docs/plugins/sources/datadog/overview.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gandi/overview.md
  website/pages/docs/plugins/sources/gcp/overview.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/overview.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
Owners: none

fix(website): Remove search (#5270)
  website/next.config.mjs
  website/theme.config.tsx
Owners: none

Add inline_policy field to permission_sets table
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Remove unused scripts from aws
  plugins/source/aws/scripts/regenerate-changed-directories.sh
  plugins/source/aws/scripts/terraform-apply-all.sh
  plugins/source/aws/scripts/terraform-apply-changes-only.sh
  plugins/source/aws/scripts/terraform-fmt-change-only.sh
  plugins/source/aws/scripts/terraform-init-change-only.sh
  plugins/source/aws/scripts/terraform-plan-change-only.sh
  plugins/source/aws/scripts/terraform-validate-all.sh
  plugins/source/aws/scripts/terraform-validate-change-only.sh
Owners: @hermanschaaf, @yevgenypats

Apply suggestions from code review
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Incorporate PR feedback
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore: Remove unused scripts from aws (#5281)
  plugins/source/aws/scripts/regenerate-changed-directories.sh
  plugins/source/aws/scripts/terraform-apply-all.sh
  plugins/source/aws/scripts/terraform-apply-changes-only.sh
  plugins/source/aws/scripts/terraform-fmt-change-only.sh
  plugins/source/aws/scripts/terraform-init-change-only.sh
  plugins/source/aws/scripts/terraform-plan-change-only.sh
  plugins/source/aws/scripts/terraform-validate-all.sh
  plugins/source/aws/scripts/terraform-validate-change-only.sh
Owners: @hermanschaaf, @yevgenypats

refactor(website): Add PluginsTable component
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Revert this change
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

refactor(website): Add PluginsTable component (#5282)
  website/components/PluginsTable.tsx
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Unmarshal the JSON before setting the column
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
Owners: @hermanschaaf, @yevgenypats

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: none

Update plugin overview page query titles
  website/pages/docs/plugins/sources/gandi/overview.md
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5283)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Remove service from name
  plugins/source/gitlab/codegen/recipes/base.go
Owners: @cloudquery/cloudquery-opensource

regenerate
  plugins/source/gitlab/docs/tables/README.md
  plugins/source/gitlab/docs/tables/gitlab_group_members.md
  plugins/source/gitlab/docs/tables/gitlab_groups.md
  plugins/source/gitlab/docs/tables/gitlab_projects.md
  plugins/source/gitlab/docs/tables/gitlab_settings.md
  plugins/source/gitlab/resources/services/groups/group_members.go
  plugins/source/gitlab/resources/services/groups/groups.go
  plugins/source/gitlab/resources/services/projects/projects.go
  plugins/source/gitlab/resources/services/projects/projects_fetch.go
  plugins/source/gitlab/resources/services/settings/settings.go
Owners: @cloudquery/cloudquery-opensource

docs
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_group_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_groups.md
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/docs/tables/aws_iam_policy_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_role_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_roles.md
  plugins/source/aws/docs/tables/aws_iam_user_last_accessed_services.md
  plugins/source/aws/docs/tables/aws_iam_users.md
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
