Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

more wip
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Document how to run website locally
  website/README.md
Owners: none

Accept npm and nvm
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for digitalocean to v1.8.0 (#4971)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.3
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.8.0 (#4972)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-gcp v3.0.5
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.8.0 (#4973)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

doc(website): Document how to run website locally (#4984)
  .github/styles/Vocab/Base/accept.txt
  website/README.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-github v1.2.18
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.8.0 (#4974)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.9
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.8.0 (#4975)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

chore(main): Release plugins-source-k8s v2.4.3
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for okta to v1.8.0 (#4976)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.13
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.8.0 (#4978)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.9
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.8.0 (#4979)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.24
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.8.0 (#4980)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.5
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.8.0 (#4977)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.14
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.2.0 (#4938)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.21 (#4981)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.8.0 (#4982)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.20
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.21
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-aws` version to v7.2.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-azure v1.4.9 (#4921)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-csv v1.1.12 (#4923)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.9
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-source-cloudflare v2.2.20 (#4922)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.12
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.3 (#4924)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.20
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-gcp v3.0.5 (#4925)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v3.0.3
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-github v1.2.18 (#4929)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none
