Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

Update website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.6.0 (#4844)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.19
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.19
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.12 (#4859)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.12
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release plugins-source-aws v7.1.2 (#4818)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.19 (#4861)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.12
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for digitalocean to v1.6.0 (#4846)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.2
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.1.2
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for gcp to v1.6.0 (#4847)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-gcp v3.0.4
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

gofmt
  plugins/destination/csv/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

chore: Update file substition guide
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Owners: none

Update website/pages/docs/advanced-topics/environment-variable-substitution.md
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Owners: none

Update website/pages/docs/advanced-topics/environment-variable-substitution.md
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Owners: none

fix(aws): Fixed typo in JSON key
  plugins/source/aws/policies/queries/apigateway/api_gw_publicly_accessible.sql
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/aws/resources/services/ssoadmin/account_assignments_fetch.go
  plugins/source/aws/resources/services/ssoadmin/account_assignments_fetch.go
Owners: @hermanschaaf, @yevgenypats

Run linter and regen docs
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ssoadmin_account_assignments.md
  plugins/source/aws/docs/tables/aws_ssoadmin_instances.md
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/account_assignments_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update client.go
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

Update client.go
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

Update client.go
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

Add in unit tests
  plugins/source/aws/client/client.go
  plugins/source/aws/client/client_test.go
Owners: @hermanschaaf, @yevgenypats

lint
  plugins/source/aws/client/client_test.go
Owners: @hermanschaaf, @yevgenypats

fix(aws): Fixed typo in JSON key (#4868)
  plugins/source/aws/policies/queries/apigateway/api_gw_publicly_accessible.sql
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for github to v1.6.0 (#4848)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-source-github v1.2.17
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(aws): Fix logger in aws_fsx_file_caches (#4830)
  plugins/source/aws/resources/services/cloudtrail/trails_fetch.go
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore: Update file substitution guide (#4867)
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/environment-variable-substitution.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.6.0 (#4850)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

chore(main): Release plugins-source-k8s v2.4.2
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.6.0 (#4849)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.8
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for okta to v1.6.0 (#4851)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.12
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.6.0 (#4854)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.23
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
