Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-source-digitalocean v2.2.18 (#4459)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.2 (#4563)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(blog): Update personal link to Github (#4584)
  website/content/team.ts
Owners: none

chore: Update plugin `source-aws` version to v5.0.0 (#4552)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-cloudflare v2.2.17 (#4573)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.16 (#4520)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.9 (#4529)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.0 (#4453)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(ci): Add fail-fast: false to CLI matrix (#4478)
  .github/workflows/cli.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.23.3 (#4445)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-gcp v2.4.16 (#4524)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.2 (#4557)
  cli/go.mod
  cli/go.sum
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.5 (#4518)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

doc(website): Add tables links to source plugins (#4427)
  website/pages/docs/plugins/sources.mdx
Owners: none

chore: Update plugin `source-gcp` version to v2.4.15 (#4414)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore(deps): Update CloudQuery monorepo modules (#4137)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `source-gcp` version to v2.4.16 (#4541)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-aws` version to v4.17.1 (#4533)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for terraform to v1.5.1 (#4508)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

test: Fix policy tests (#4460)
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-github v1.2.14 (#4523)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.2 (#4562)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.2.26 (#4417)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.15 (#4536)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.1 (#4510)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.15 (#4418)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.14 (#4540)
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-aws v4.16.0 (#4466)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix: RDS fixes (#4382)
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-digitalocean` version to v2.2.18 (#4464)
  sites/versions/v2/source-digitalocean.json
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.2 (#4556)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update Website (#4530)
  website/components/BlogIndex.tsx
  website/components/pages/confirm.tsx
  website/components/pages/home.tsx
  website/package.json
  website/pages/_meta.json
  website/pages/blog/_meta.json
  website/pages/privacy.mdx
  website/theme.config.tsx
  website/yarn.lock
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.16 (#4537)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for heroku to v1.5.1 (#4504)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.16 (#4531)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.1 (#4497)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.1 (#4500)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.2 (#4558)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore: Update plugin `source-terraform` version to v1.2.17 (#4545)
  sites/versions/v2/source-terraform.json
Owners: none

fix: Revert "fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396) (#4493)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
