Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-csv v1.1.5 (#4213)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.4.0 (#4226)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-k8s v2.3.12 (#4166)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(tests): Use temp dir for .cq and log file in cmd tests (#4143)
  cli/cmd/doc_test.go
  cli/cmd/migrate_test.go
  cli/cmd/sync_test.go
Owners: @yevgenypats

chore(main): Release plugins-source-heroku v3.0.2 (#4221)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.5 (#4252)
  sites/versions/v2/source-okta.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.1 (#4306)
  sites/versions/v2/destination-sqlite.json
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.4.0 (#4234)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.3.2 (#4199)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.0 (#4386)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.4 (#4373)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.32.1 (#4444)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.2 (#4318)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.2.25 (#4320)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigatewayv2 to v1.12.21 (#4348)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release cli v2.0.13 (#4403)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.7 (#4329)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release plugins-source-okta v1.3.8 (#4410)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.0.4 (#4408)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/configservice to v1.27.3 (#4356)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/directconnect to v1.17.21 (#4358)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.8 (#4426)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.14 (#4309)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore(main): Release plugins-destination-sqlite v1.0.4 (#4412)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/secretsmanager to v1.16.5 (#4442)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.4.1 (#4297)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore: Update plugin `source-heroku` version to v3.0.4 (#4424)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

feat: Increase MaxResults for appstream resources (#4377)
  plugins/source/aws/codegen/recipes/appstream.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/describe_resources_1/fetch.go.tpl
  plugins/source/aws/resources/services/appstream/app_blocks_fetch.go
  plugins/source/aws/resources/services/appstream/directory_configs_fetch.go
  plugins/source/aws/resources/services/appstream/fleets_fetch.go
  plugins/source/aws/resources/services/appstream/image_builders_fetch.go
  plugins/source/aws/resources/services/appstream/images_fetch.go
  plugins/source/aws/resources/services/appstream/stack_user_associations_fetch.go
  plugins/source/aws/resources/services/appstream/usage_report_subscriptions_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/efs to v1.17.19 (#4363)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.39 (#4433)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.0 (#4397)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.3 (#4370)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.4.1 (#4301)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/dynamodb to v1.17.4 (#4360)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.4.1 (#4304)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.0 (#4395)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore: Update plugin `source-github` version to v1.2.12 (#4328)
  sites/versions/v2/source-github.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.20.1 (#4353)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.3 (#4379)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore(website): Some SQLite blog post fixes (#4375)
  website/pages/blog/_meta.json
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
Owners: none
