Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for aws to v1.5.0 (#4385)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v4.15.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.5.0 (#4386)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.4
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix policy test
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for cli to v1.5.0 (#4387)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release cli v2.0.13
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.5.0 (#4388)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.15
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.0 (#4390)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.17
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.0 (#4389)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

chore(main): Release plugins-destination-csv v1.1.7
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.0 (#4391)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(main): Release plugins-source-gcp v2.4.15
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.0 (#4392)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(main): Release plugins-source-github v1.2.13
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.0 (#4393)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore(main): Release plugins-source-heroku v3.0.4
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.5.0 (#4394)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.0 (#4395)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-okta v1.3.8
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.8
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

Fix issues with codegen (WIP)
  cli/cmd/testdata/dest.test-error.yml
  plugins/source/aws/codegen/recipes/appstream.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/discover/discover.go
  plugins/source/aws/codegen/recipes/ram.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/README.md
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/mock_test.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/README.md
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/mock_test.go.tpl
  plugins/source/aws/resources/services/ram/principals_fetch.go
  plugins/source/aws/resources/services/ram/principals_mock_test.go
Owners: @yevgenypats, @hermanschaaf

Wildcard blog post
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.0 (#4397)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.4
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

Updates
  website/pages/blog/_meta.json
  website/pages/blog/introducing-glob-matching-for-tables.md
Owners: none

chore(main): Release plugins-source-aws v4.15.0 (#4336)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v2.4.15 (#4372)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v1.4.4 (#4373)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v2.4.15
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-aws` version to v4.15.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for terraform to v1.5.0 (#4398)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.0 (#4399)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.4.4
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(deps): Update plugin-sdk for test to v1.5.0 (#4400)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Update plugin `source-aws` version to v4.15.0 (#4415)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

Remove PreResourceResolver NotFound checks
  plugins/source/aws/go.mod
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
Owners: @hermanschaaf, @yevgenypats

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
