Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-postgresql v1.7.8 (#4411)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/docdb to v1.19.14 (#4359)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-k8s` version to v2.3.14 (#4323)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for postgresql to v1.4.1 (#4300)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.5.0 (#4396)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.5.0 (#4389)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatch to v1.21.9 (#4354)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix: Update endpoints (#4429)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-digitalocean` version to v2.2.16 (#4326)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-github` version to v1.2.13 (#4423)
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-github v1.2.12 (#4316)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.12 (#4314)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix: Quote tables and columns for SQLite (#4342)
  plugins/destination/sqlite/client/deletestale.go
  plugins/destination/sqlite/client/migrate.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/write.go
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/docs/plugins/destinations.mdx
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/neptune to v1.18.1 (#4437)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.0 (#4399)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix: Update endpoints (#4335)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for github to v1.4.1 (#4295)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.23.1 (#4364)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.38 (#4345)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/resourcegroups to v1.12.21 (#4440)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.0 (#4398)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-destination-csv v1.1.7 (#4406)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.0 (#4400)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore: Update plugin `source-terraform` version to v1.2.15 (#4331)
  sites/versions/v2/source-terraform.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/databasemigrationservice to v1.21.15 (#4357)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `source-aws` version to v4.15.0 (#4415)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go to v1.44.135 (#4343)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.0 (#4392)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.28.1 (#4438)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update plugin `destination-csv` version to v1.1.6 (#4324)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.14 (#4271)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.17.1 (#4346)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.16.2 (#4355)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.7 (#4317)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.23 (#4347)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.34.1 (#4434)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.16 (#4312)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix: Fix links in Grafana compliance dashboards (#4338)
  plugins/source/aws/dashboards/grafana/compliance.json
  plugins/source/azure/dashboards/grafana/compliance.json
  plugins/source/gcp/dashboards/grafana/compliance.json
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq

chore(main): Release plugins-source-k8s v2.3.14 (#4260)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.4.1 (#4303)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none
