Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-salesforce` version to v1.0.0
  website/versions/source-salesforce.json
Owners: none

chore: Update plugin `source-salesforce` version to v1.0.0 (#6017)
  website/versions/source-salesforce.json
Owners: none

wip
  plugins/source/azure/policies/views/policy_assignment_parameters.sql
Owners: @erezrokah, @yevgenypats

Add auth and account resources
  plugins/source/fastly/Makefile
  plugins/source/fastly/codegen/main.go
  plugins/source/fastly/codegen/recipes/account.go
  plugins/source/fastly/codegen/recipes/auth.go
  plugins/source/fastly/docs/tables/README.md
  plugins/source/fastly/docs/tables/fastly_account_events.md
  plugins/source/fastly/docs/tables/fastly_account_users.md
  plugins/source/fastly/docs/tables/fastly_auth_tokens.md
  plugins/source/fastly/resources/plugin/tables.go
  plugins/source/fastly/resources/services/account/account_events.go
  plugins/source/fastly/resources/services/account/account_events_fetch.go
  plugins/source/fastly/resources/services/account/account_events_mock_test.go
  plugins/source/fastly/resources/services/account/account_users.go
  plugins/source/fastly/resources/services/account/account_users_fetch.go
  plugins/source/fastly/resources/services/account/account_users_mock_test.go
  plugins/source/fastly/resources/services/auth/auth_tokens.go
  plugins/source/fastly/resources/services/auth/auth_tokens_fetch.go
  plugins/source/fastly/resources/services/auth/auth_tokens_mock_test.go
  website/pages/docs/plugins/sources/fastly/overview.md
  website/pages/docs/plugins/sources/fastly/tables.md
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

rearrange
  website/pages/how-to-guides/configuring-cq-with-localstack.md
  website/vercel.json
Owners: none

remove old
  website/pages/blog/configuring-cq-with-localstack.md
Owners: none

streamline recipes
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
Owners: @cloudquery/cloudquery-opensource

fix(github): Fix PK order in `github_hook_deliveries`, `github_team_members`, `github_team_repositories` (#6012)
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/docs/tables/github_external_groups.md
  plugins/source/github/docs/tables/github_hook_deliveries.md
  plugins/source/github/docs/tables/github_hooks.md
  plugins/source/github/docs/tables/github_issues.md
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_team_members.md
  plugins/source/github/docs/tables/github_team_repositories.md
  plugins/source/github/docs/tables/github_workflows.md
  plugins/source/github/go.mod
  plugins/source/github/go.sum
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/external/groups.go
  plugins/source/github/resources/services/hooks/deliveries.go
  plugins/source/github/resources/services/hooks/hooks.go
  plugins/source/github/resources/services/issues/issues.go
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/teams/members.go
  plugins/source/github/resources/services/teams/repositories.go
Owners: @cloudquery/cloudquery-opensource

Update vercel.json
  website/vercel.json
Owners: none

Update configuring-cq-with-localstack.md
  website/pages/how-to-guides/configuring-cq-with-localstack.md
Owners: none

feat: Add azure security pricings resource
  plugins/source/azure/codegen2/recipes/security.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/security/pricings.go
  plugins/source/azure/resources/services/security/pricings_fetch.go
  plugins/source/azure/resources/services/security/pricings_mock_test.go
Owners: @erezrokah, @yevgenypats

rename
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

feat(aws): Route53 Add transfer lock Status (#6022)
  plugins/source/aws/codegen/recipes/route53.go
  plugins/source/aws/docs/tables/aws_route53_domains.md
  plugins/source/aws/resources/services/route53/domains.go
  plugins/source/aws/resources/services/route53/domains_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

doc(website): New Guide for CQ + LocalStack (#5946)
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_security_pricings.md
Owners: @erezrokah, @yevgenypats

impl pk order parse
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_6012_diff.txt
Owners: none

chore(go): Make PK order be breaking (#6021)
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_6012_diff.txt
Owners: none

init gen
  plugins/source/github/client/alert.json
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_dependabot.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/dependabot.go
Owners: @cloudquery/cloudquery-opensource

hook_id fix
  plugins/source/github/codegen/recipes/hooks.go
Owners: @cloudquery/cloudquery-opensource

team_id
  plugins/source/github/codegen/recipes/teams.go
Owners: @cloudquery/cloudquery-opensource

impl dependabot tables
  plugins/source/github/client/mocks/mock_dependabot.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/dependabot.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/docs/tables/README.md
  plugins/source/github/docs/tables/github_organization_dependabot_alerts.md
  plugins/source/github/docs/tables/github_organization_dependabot_secrets.md
  plugins/source/github/docs/tables/github_organizations.md
  plugins/source/github/docs/tables/github_repositories.md
  plugins/source/github/docs/tables/github_repository_dependabot_alerts.md
  plugins/source/github/docs/tables/github_repository_dependabot_secrets.md
  plugins/source/github/resources/services/organizations/alerts.go
  plugins/source/github/resources/services/organizations/alerts_fetch.go
  plugins/source/github/resources/services/organizations/dependabot_mock_test.go
  plugins/source/github/resources/services/organizations/organizations.go
  plugins/source/github/resources/services/organizations/organizations_test.go
  plugins/source/github/resources/services/organizations/secrets.go
  plugins/source/github/resources/services/organizations/secrets_fetch.go
  plugins/source/github/resources/services/repositories/alerts.go
  plugins/source/github/resources/services/repositories/alerts_fetch.go
  plugins/source/github/resources/services/repositories/dependabot_mock_test.go
  plugins/source/github/resources/services/repositories/repositories.go
  plugins/source/github/resources/services/repositories/repositories_test.go
  plugins/source/github/resources/services/repositories/secrets.go
  plugins/source/github/resources/services/repositories/secrets_fetch.go
  website/pages/docs/plugins/sources/github/tables.md
Owners: @cloudquery/cloudquery-opensource

fix
  plugins/source/azure/codegen2/recipes/security.go
  plugins/source/azure/codegen2/recipes/security_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/resources/plugin/tables.go
Owners: @erezrokah, @yevgenypats

Update CONTRIBUTING.md
  plugins/source/gcp/CONTRIBUTING.md
Owners: @yevgenypats, @disq

Update main.go
  plugins/source/gcp/codegen/main.go
Owners: @yevgenypats, @disq

fix
  website/pages/docs/plugins/sources/azure/tables.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update configuring-cloudquery-with-localstack.md
  website/pages/how-to-guides/configuring-cloudquery-with-localstack.md
Owners: none

Update cross-account-access-aws-assumerole.md
  website/pages/how-to-guides/cross-account-access-aws-assumerole.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.27.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.27.0 (#6049)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-snowflake v1.1.1
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.10
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.1.1
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-mongodb v1.0.1
  .release-please-manifest.json
  plugins/destination/mongodb/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
