Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

feat(aws): Validate Service Multiplexer (#4882)
  plugins/source/aws/client/helpers.go
  plugins/source/aws/codegen/recipes/base.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add Support for Cloudwatch Logs Resource Policy (#4883)
  plugins/source/aws/codegen/recipes/cloudwatchlogs.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_resource_policies.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_fetch.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_mock_test.go
Owners: @hermanschaaf, @yevgenypats

update
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/deploying-cloudquery-into-aws-org.md
Owners: none

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#4939)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Regen docs
  plugins/source/aws/docs/tables/aws_ssoadmin_account_assignments.md
  plugins/source/aws/docs/tables/aws_ssoadmin_instances.md
  plugins/source/aws/docs/tables/aws_ssoadmin_permission_sets.md
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
Owners: @hermanschaaf, @yevgenypats

first commit for Slack plugin
  plugins/source/slack/.gitignore
  plugins/source/slack/.goreleaser.yaml
  plugins/source/slack/CHANGELOG.md
  plugins/source/slack/Makefile
  plugins/source/slack/README.md
  plugins/source/slack/client/client.go
  plugins/source/slack/client/spec.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/base.go
  plugins/source/slack/codegen/recipes/templates/resource.go.tpl
  plugins/source/slack/codegen/recipes/users.go
  plugins/source/slack/codegen/tables/generate.go
  plugins/source/slack/codegen/tables/templates/tables.go.tpl
  plugins/source/slack/docs/tables/README.md
  plugins/source/slack/docs/tables/test_some_table.md
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
  plugins/source/slack/main.go
  plugins/source/slack/resources/plugin/plugin.go
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/credentials to v1.13.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.17.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.16.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigatewayv2 to v1.12.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/autoscaling to v1.24.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.20.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.16.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/configservice to v1.27.5
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/directconnect to v1.17.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.72.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.3 (#4943)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.17.3 (#4946)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.16.3 (#4947)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigatewayv2 to v1.12.23 (#4949)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.72.1 (#4950)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.42
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.25
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/dynamodb to v1.17.7
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecr to v1.17.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.19.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.24.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticloadbalancing to v1.14.23
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticsearchservice to v1.17.2
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/feature/s3/manager to v1.11.42 (#4945)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/apigateway to v1.15.25 (#4948)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/applicationautoscaling to v1.15.23 (#4952)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/autoscaling to v1.24.3 (#4953)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.20.3 (#4955)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.24.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudwatchlogs to v1.16.4 (#4957)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecr to v1.17.23 (#4951)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
