Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

Update plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/main.go
Owners: @cloudquery/cloudquery-opensource

Remove unneeded TODO line
  plugins/source/cloudflare/codegen/recipes/waf_override.go
Owners: @cloudquery/cloudquery-opensource

chore(release): Add Snowflake filler entry (#5112)
  .release-please-manifest.json
Owners: none

chore(ci): Update broken links wait for vercel step
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Consistent table arrows
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/terraform/_meta.json
Owners: none

chore: Consistent table arrows (#5113)
  website/pages/docs/plugins/sources/azure/_meta.json
  website/pages/docs/plugins/sources/cloudflare/_meta.json
  website/pages/docs/plugins/sources/digitalocean/_meta.json
  website/pages/docs/plugins/sources/terraform/_meta.json
Owners: none

chore(ci): Update broken links wait for vercel step (#5114)
  .github/workflows/broken_links.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

feat(gcp): ContainerAnalysis resources
  plugins/source/gcp/client/services.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_containeranalysis_occurrences.md
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/plugin/autogen_tables.go
  plugins/source/gcp/resources/services/containeranalysis/occurrences.go
  plugins/source/gcp/resources/services/containeranalysis/occurrences_mock_test.go
Owners: @yevgenypats, @disq

fix(website): Remove GCP Terraform from deployment section
  website/pages/docs/deployment/overview.md
Owners: none

chore(website): Fix broken links, re-add Heroku docs
  website/components/mdx/_configure.mdx
  website/components/mdx/_intro.mdx
  website/pages/blog/2022-may-monthly.md
  website/pages/blog/announcing-cloudquery-snowflake-destination.md
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/introducing-wildcard-matching-for-tables.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
  website/vercel.json
Owners: none

fix(website): Remove GCP Terraform from deployment section (#5116)
  website/pages/docs/deployment/overview.md
Owners: none

chore(cloudflare): Better codegen (#5103)
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/recipes_test.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource.go.tpl
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/zones/zones.go
  plugins/source/cloudflare/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

chore(website): Fix broken links, re-add Heroku docs (#5117)
  website/components/mdx/_configure.mdx
  website/components/mdx/_intro.mdx
  website/pages/blog/2022-may-monthly.md
  website/pages/blog/announcing-cloudquery-snowflake-destination.md
  website/pages/blog/announcing-cloudquery-sqlite-destination.md
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/introducing-wildcard-matching-for-tables.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.md
  website/pages/docs/core-concepts/plugins.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/cloudflare/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/heroku/overview.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
  website/vercel.json
Owners: none

feat(docs): Update GitHub Actions deployment to v3
  website/pages/docs/deployment/github-actions.md
Owners: none

feat(docs): Update GitHub Actions deployment to v3 (#5119)
  website/pages/docs/deployment/github-actions.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

more fixes
  website/pages/blog/building-cloudquery.md
Owners: none

fix shimon review
  website/pages/blog/building-cloudquery.md
Owners: none

chore: Blog: Building CloudQuery
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/building-cloudquery.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

more review
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

update date
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

review fixes
  website/pages/blog/building-cloudquery.md
Owners: none

last bits
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

more fixes
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

Update website/pages/blog/building-cloudquery.md
  website/pages/blog/building-cloudquery.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
