Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

Linting
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/organizations_test.go
Owners: @hermanschaaf, @yevgenypats

Update images_fetch.go
  plugins/source/aws/resources/services/ec2/images_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update images_fetch.go
  plugins/source/aws/resources/services/ec2/images_fetch.go
Owners: @hermanschaaf, @yevgenypats

Update images_fetch.go
  plugins/source/aws/resources/services/ec2/images_fetch.go
Owners: @hermanschaaf, @yevgenypats

lint
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/write.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/sqlite/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

Update images_fetch.go
  plugins/source/aws/resources/services/ec2/images_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(azure): Rename e_tag to etag
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/docs/tables/azure_datafactory_factories.md
  plugins/source/azure/resources/services/costmanagement/views.go
  plugins/source/azure/resources/services/datafactory/factories.go
Owners: @erezrokah, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update source_aws.yml
  .github/workflows/source_aws.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5903)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix storage account unrestricted network access check
  plugins/source/azure/policies/queries/storage/accounts_with_unrestricted_access.sql
Owners: @erezrokah, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/identitystore to v1.15.10
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.33.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.61.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/identitystore to v1.15.10 (#5904)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.61.0 (#5906)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.26.0 (#5907)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

update storage secure transfer query
  plugins/source/azure/policies/queries/storage/secure_transfer_to_storage_accounts_should_be_enabled.sql
Owners: @erezrokah, @yevgenypats

fix sqlite
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

go mod tidy
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ssm to v1.33.4 (#5905)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(azure)!: Rename e_tag to etag (#5902)
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/docs/tables/azure_costmanagement_views.md
  plugins/source/azure/docs/tables/azure_datafactory_factories.md
  plugins/source/azure/resources/services/costmanagement/views.go
  plugins/source/azure/resources/services/datafactory/factories.go
Owners: @erezrokah, @yevgenypats

more tidy
  plugins/destination/postgresql/go.sum
Owners: none

fix lint
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

feat: Add PagerDuty IncidentLogs resource
  plugins/source/pagerduty/codegen/recipes/base.go
  plugins/source/pagerduty/codegen/recipes/incidents.go
  plugins/source/pagerduty/codegen/recipes/templates/basic/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_no_options/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_paginated_no_options/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/paginated/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/paginated_no_options/fetch.go.tpl
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_log_entries.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/resources/services/addons/addons_fetch.go
  plugins/source/pagerduty/resources/services/business_services/business_services_fetch.go
  plugins/source/pagerduty/resources/services/escalation_policies/escalation_policies_fetch.go
  plugins/source/pagerduty/resources/services/extension_schemas/extension_schemas_fetch.go
  plugins/source/pagerduty/resources/services/extensions/extensions_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_alerts_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_log_entries.go
  plugins/source/pagerduty/resources/services/incidents/incident_log_entries_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_notes_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incidents.go
  plugins/source/pagerduty/resources/services/incidents/incidents_mock_test.go
  plugins/source/pagerduty/resources/services/maintenance_windows/maintenance_windows_fetch.go
  plugins/source/pagerduty/resources/services/priorities/priorities_fetch.go
  plugins/source/pagerduty/resources/services/rulesets/ruleset_rules_fetch.go
  plugins/source/pagerduty/resources/services/rulesets/rulesets_fetch.go
  plugins/source/pagerduty/resources/services/schedules/schedules_fetch.go
  plugins/source/pagerduty/resources/services/services/services_fetch.go
  plugins/source/pagerduty/resources/services/tags/tags_fetch.go
  plugins/source/pagerduty/resources/services/teams/teams_fetch.go
  plugins/source/pagerduty/resources/services/users/user_contact_methods_fetch.go
  plugins/source/pagerduty/resources/services/users/user_notification_rules_fetch.go
  plugins/source/pagerduty/resources/services/users/users_fetch.go
  plugins/source/pagerduty/resources/services/vendors/vendors_fetch.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Owners: @cloudquery/cloudquery-opensource

Updates based on review
  plugins/source/aws/client/organizations.go
  plugins/source/aws/client/organizations_test.go
  plugins/source/aws/client/spec.go
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/aws/multi-account.md
Owners: @hermanschaaf, @yevgenypats

test err check fix to make linter happy
  plugins/source/azure/resources/services/costmanagement/views_mock_test.go
Owners: @erezrokah, @yevgenypats

feat(azure): Cost management view queries, query views by subscription scope
  plugins/source/azure/codegen2/recipes/costmanagement_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/resources/services/costmanagement/view_queries.go
  plugins/source/azure/resources/services/costmanagement/view_queries_fetch.go
  plugins/source/azure/resources/services/costmanagement/view_queries_mock_test.go
  plugins/source/azure/resources/services/costmanagement/views_fetch.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

include the e_tag fix
  plugins/source/azure/docs/tables/azure_costmanagement_view_queries.md
  plugins/source/azure/resources/services/costmanagement/view_queries.go
Owners: @erezrokah, @yevgenypats

fmt
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

feat(table-diff): Mark newly added PKs as breaking changes
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5802_diff.txt
Owners: none

feat: Add PagerDuty IncidentLogs resource (#5901)
  plugins/source/pagerduty/codegen/recipes/base.go
  plugins/source/pagerduty/codegen/recipes/incidents.go
  plugins/source/pagerduty/codegen/recipes/templates/basic/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_no_options/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/nested_paginated_no_options/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/paginated/fetch.go.tpl
  plugins/source/pagerduty/codegen/recipes/templates/paginated_no_options/fetch.go.tpl
  plugins/source/pagerduty/docs/tables/README.md
  plugins/source/pagerduty/docs/tables/pagerduty_incident_log_entries.md
  plugins/source/pagerduty/docs/tables/pagerduty_incidents.md
  plugins/source/pagerduty/resources/services/addons/addons_fetch.go
  plugins/source/pagerduty/resources/services/business_services/business_services_fetch.go
  plugins/source/pagerduty/resources/services/escalation_policies/escalation_policies_fetch.go
  plugins/source/pagerduty/resources/services/extension_schemas/extension_schemas_fetch.go
  plugins/source/pagerduty/resources/services/extensions/extensions_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_alerts_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_log_entries.go
  plugins/source/pagerduty/resources/services/incidents/incident_log_entries_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incident_notes_fetch.go
  plugins/source/pagerduty/resources/services/incidents/incidents.go
  plugins/source/pagerduty/resources/services/incidents/incidents_mock_test.go
  plugins/source/pagerduty/resources/services/maintenance_windows/maintenance_windows_fetch.go
  plugins/source/pagerduty/resources/services/priorities/priorities_fetch.go
  plugins/source/pagerduty/resources/services/rulesets/ruleset_rules_fetch.go
  plugins/source/pagerduty/resources/services/rulesets/rulesets_fetch.go
  plugins/source/pagerduty/resources/services/schedules/schedules_fetch.go
  plugins/source/pagerduty/resources/services/services/services_fetch.go
  plugins/source/pagerduty/resources/services/tags/tags_fetch.go
  plugins/source/pagerduty/resources/services/teams/teams_fetch.go
  plugins/source/pagerduty/resources/services/users/user_contact_methods_fetch.go
  plugins/source/pagerduty/resources/services/users/user_notification_rules_fetch.go
  plugins/source/pagerduty/resources/services/users/users_fetch.go
  plugins/source/pagerduty/resources/services/vendors/vendors_fetch.go
  website/pages/docs/plugins/sources/pagerduty/tables.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-pagerduty v1.1.0
  .release-please-manifest.json
  plugins/source/pagerduty/CHANGELOG.md
Owners: none
