Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update plugin-sdk for heroku to v1.5.0 (#4393)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore: Update plugin `source-okta` version to v1.3.7 (#4327)
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.3 (#4259)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/autoscaling to v1.24.1 (#4351)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.0 (#4391)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore: Update plugin `source-test` version to v1.3.14 (#4321)
  sites/versions/v2/source-test.json
Owners: none

chore(main): Release plugins-source-github v1.2.13 (#4407)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.15 (#4420)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go to v1.44.136 (#4432)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.14 (#4325)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/acm to v1.16.1 (#4450)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

feat(aws): Add support for FSX File Caches (#4091)
  plugins/source/aws/codegen/recipes/fsx.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_fsx_file_caches.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/fsx/file_caches.go
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
  plugins/source/aws/resources/services/fsx/file_caches_test.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-aws` version to v4.17.0 (#4476)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for test to v1.5.2 (#4570)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(aws): Remove NotFound checks in PreResourceResolvers (#4376)
  plugins/source/aws/resources/services/athena/work_groups_fetch.go
  plugins/source/aws/resources/services/kms/keys_fetch.go
  plugins/source/aws/resources/services/kms/keys_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-csv v1.1.8 (#4521)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.2 (#4569)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

feat(aws): Implement Timestream resources (#4553)
  plugins/source/aws/Makefile
  plugins/source/aws/client/mocks/ecs.go
  plugins/source/aws/client/mocks/elasticsearchservice.go
  plugins/source/aws/client/mocks/iot.go
  plugins/source/aws/client/mocks/mock_docdb.go
  plugins/source/aws/client/mocks/timestreamwrite.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ecs.go
  plugins/source/aws/client/services/elasticsearchservice.go
  plugins/source/aws/client/services/iot.go
  plugins/source/aws/client/services/timestreamwrite.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/get_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/templates/resolver_and_mock_test/list_resources_paginated_1/fetch.go.tpl
  plugins/source/aws/codegen/recipes/timestream.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_timestream_databases.md
  plugins/source/aws/docs/tables/aws_timestream_tables.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/docdb/event_categories_mock_test.go
  plugins/source/aws/resources/services/docdb/event_subscriptions_mock_test.go
  plugins/source/aws/resources/services/docdb/events_mock_test.go
  plugins/source/aws/resources/services/timestream/databases.go
  plugins/source/aws/resources/services/timestream/databases_fetch.go
  plugins/source/aws/resources/services/timestream/databases_mock_test.go
  plugins/source/aws/resources/services/timestream/tables.go
  plugins/source/aws/resources/services/timestream/tables_fetch.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-test` version to v1.3.16 (#4546)
  sites/versions/v2/source-test.json
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/emr to v1.20.14 (#4367)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/redshift to v1.26.14 (#4439)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.1 (#4515)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix: Error handling omissions (#4486)
  cli/cmd/sync.go
Owners: @yevgenypats

chore: Update plugin `destination-test` version to v1.2.26 (#4462)
  sites/versions/v2/destination-test.json
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.1 (#4498)
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.2 (#4560)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4547)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
Owners: @yevgenypats

chore: Update plugin `source-k8s` version to v2.3.15 (#4461)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-digitalocean v2.2.19 (#4481)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.5.1 (#4507)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

chore: Wait for all `validate-release` and `test-policies` workflows (#4138)
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update plugin `source-terraform` version to v1.2.16 (#4465)
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-destination-test v1.3.0 (#4471)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for github to v1.5.1 (#4503)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4470)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for okta to v1.5.2 (#4565)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-k8s v2.3.15 (#4409)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.16 (#4362)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for okta to v1.5.1 (#4506)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore: Update plugin `source-azure` version to v1.4.4 (#4416)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats
