Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/redhatopenshift/armredhatopenshift to v1.1.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage to v1.2.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/cloudflare/cloudflare-go to v0.57.1
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update module github.com/digitalocean/godo to v1.93.0
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update github.com/gocarina/gocsv digest to 1fea7ae (#6168)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update golang.org/x/exp digest to 738e83a (#6169)
  plugins/source/pagerduty/go.mod
  plugins/source/pagerduty/go.sum
  plugins/source/snyk/go.mod
  plugins/source/snyk/go.sum
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: none

fix(deps): Update google.golang.org/genproto digest to f9683d7 (#6170)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(deps): Update dependency go to v1.19.4 (#6171)
  .github/workflows/cli.yml
  .github/workflows/dest_azblob.yml
  .github/workflows/dest_bigquery.yml
  .github/workflows/dest_csv.yml
  .github/workflows/dest_file.yml
  .github/workflows/dest_gcs.yml
  .github/workflows/dest_mongodb.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/dest_s3.yml
  .github/workflows/dest_snowflake.yml
  .github/workflows/dest_sqlite.yml
  .github/workflows/dest_test.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_azuredevops.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_fastly.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_gitlab.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_k8s.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_pagerduty.yml
  .github/workflows/source_salesforce.yml
  .github/workflows/source_slack.yml
  .github/workflows/source_snyk.yml
  .github/workflows/source_tailscale.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  .github/workflows/source_vercel.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(deps): Update github-actions (#6172)
  .github/workflows/dest_bigquery.yml
  .github/workflows/docs_changes_summary.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update ghcr.io/gythialy/golang-cross Docker tag to v1.19.4 (#6174)
  plugins/destination/sqlite/Dockerfile
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/crowdstrike/gofalcon to v0.2.32 (#6175)
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
Owners: none

fix(deps): Update module github.com/schollz/progressbar/v3 to v3.12.2 (#6176)
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update module github.com/slack-go/slack to v0.12.1 (#6177)
  plugins/source/slack/go.mod
  plugins/source/slack/go.sum
Owners: none

fix(deps): Update github.com/golang/groupcache digest to 41bb18b
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
Owners: none

fix(deps): Update github.com/jackc/pgservicefile digest to 091c0ba
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update github.com/pkg/browser digest to 681adbf
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
Owners: none

fix(deps): Update github.com/tailscale/hujson digest to 2048673
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: none

fix(deps): Update github.com/youmark/pkcs8 digest to 1326539
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Owners: none

fix(deps): Update module github.com/snowflakedb/gosnowflake to v1.6.16 (#6178)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/redhatopenshift/armredhatopenshift to v1.1.0 (#6183)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/storage/armstorage to v1.2.0 (#6184)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/digitalocean/godo to v1.93.0 (#6187)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update github.com/golang/groupcache digest to 41bb18b (#6191)
  plugins/destination/bigquery/go.mod
  plugins/destination/bigquery/go.sum
  plugins/destination/gcs/go.mod
  plugins/destination/gcs/go.sum
Owners: none

fix(deps): Update github.com/jackc/pgservicefile digest to 091c0ba (#6192)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update k8s.io/kube-openapi digest to f3cff14
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update sigs.k8s.io/json digest to bc3834c
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update go-openapi packages
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/99designs/keyring to v1.2.2
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update github.com/pkg/browser digest to 681adbf (#6193)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/internal to v1.1.2
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/Azure/go-autorest/autorest to v0.11.28
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/DataDog/zstd to v1.5.2
  plugins/source/datadog/go.mod
  plugins/source/datadog/go.sum
Owners: none

fix(deps): Update github.com/tailscale/hujson digest to 2048673 (#6194)
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: none

fix(deps): Update github.com/youmark/pkcs8 digest to 1326539 (#6195)
  plugins/destination/mongodb/go.mod
  plugins/destination/mongodb/go.sum
Owners: none

fix(deps): Update k8s.io/kube-openapi digest to f3cff14 (#6196)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update sigs.k8s.io/json digest to bc3834c (#6198)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update go-openapi packages (#6203)
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/go.sum
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/99designs/keyring to v1.2.2 (#6204)
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/internal to v1.1.2 (#6205)
  plugins/destination/azblob/go.mod
  plugins/destination/azblob/go.sum
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/Azure/go-autorest/autorest to v0.11.28 (#6206)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none
