Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for test to v1.6.0 (#4855)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.4
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for test to v1.6.0 (#4856)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(main): Release plugins-source-test v1.3.19
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.6.0 (#4853)
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-sqlite v1.0.8
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

doc: Update old blogs (#4805)
  plugins/source/digitalocean/README.md
  website/pages/blog/announcing-cloudquery-history.md
  website/pages/blog/announcing-cloudquery-policies.md
  website/pages/blog/announcing-cloudquery-terraform-drift-detection.md
  website/pages/blog/announcing-policies-in-cloudquery-hub.md
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-log4j-and-finding-unrestricted-outbound-access.md
  website/pages/blog/aws-sso-and-the-lost-iam-keys.md
  website/pages/blog/continuous-aws-iam-security-best-practices.md
  website/pages/blog/how-to-aws-cis-compliance.md
  website/pages/blog/introducing-cloudquery-sdk.md
  website/pages/blog/introducing-the-digital-ocean-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/open-source-cspm.md
  website/pages/blog/running-aws-foundational-security-best-practices-with-cloudquery-policies.md
  website/pages/blog/running-aws-pci-dss-with-cloudquery-policies.md
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-postgresql` version to v1.7.12 (#4862)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.7.12 (#4863)
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v7.1.2 (#4865)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for csv to v1.6.0 (#4845)
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-csv v1.1.11
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore(website): Fix links at bottom of blog posts (#4836)
  website/pages/blog/_meta.json
Owners: none

added comment
  plugins/source/aws/codegen/recipes/iam.go
Owners: @hermanschaaf, @yevgenypats

fix: Region Ordering Failures (#4870)
  plugins/source/aws/client/client.go
  plugins/source/aws/client/client_test.go
Owners: @hermanschaaf, @yevgenypats

fix: Added password enabled column to `aws_iam_credential_reports` (#4840)
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/docs/tables/aws_iam_credential_reports.md
  plugins/source/aws/resources/services/iam/credential_reports.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v7.1.3
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

initial
  plugins/source/aws/client/helpers.go
  plugins/source/aws/codegen/recipes/base.go
Owners: @hermanschaaf, @yevgenypats

Add resource Policy
  plugins/source/aws/codegen/recipes/cloudwatchlogs.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_cloudwatchlogs_resource_policies.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_fetch.go
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-azure v1.4.8 (#4858)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.19 (#4860)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.8
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-source-digitalocean v3.0.2 (#4864)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.19
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-digitalocean` version to v3.0.2
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-gcp v3.0.4 (#4866)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v3.0.4
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-aws v7.1.3 (#4871)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.2.17 (#4872)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.17
  sites/versions/v2/source-github.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Owners: none

chore(main): Release plugins-source-k8s v2.4.2 (#4873)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.0.8 (#4874)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.1.3
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-k8s` version to v2.4.2
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

Apply suggestions from code review
  plugins/source/aws/codegen/recipes/ssoadmin.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-heroku` version to v3.0.8
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.12 (#4875)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.23 (#4876)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.12
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-destination-test v1.3.4 (#4877)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
