Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

Update overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
Owners: none

chore(main): Release plugins-source-azure v2.2.0 (#5662)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

Update lint_markdown.yml
  .github/workflows/lint_markdown.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update CLI version to v2.0.27
  website/versions/cli.json
Owners: none

chore(main): Release plugins-source-gcp v5.1.2 (#5663)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-tailscale v1.0.1 (#5794)
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

chore: Update plugin `source-gandi` version to v1.1.2 (#5820)
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `source-tailscale` version to v1.0.1
  website/versions/source-tailscale.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.3.2 (#5821)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-gcp` version to v5.1.2
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-azure` version to v2.2.0
  website/versions/source-azure.json
Owners: none

chore: Add missing code blocks languages, enforce via linter (#5833)
  .github/workflows/lint_markdown.yml
  .markdownlint.yaml
  contributing/development_environment.md
  plugins/destination/bigquery/CONTRIBUTING.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/sqlite/CONTRIBUTING.md
  plugins/source/aws/policies/README.md
  plugins/source/aws/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/azure/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/gcp/scripts/policy_docs/templates/policies.md.go.tpl
  plugins/source/k8s/scripts/policy_docs/templates/policies.md.go.tpl
  website/pages/blog/announcing-the-vercel-source-plugin.md
  website/pages/blog/cloudquery-postgrest.md
  website/pages/blog/finding-enabled-s3-acls-and-disabled-s3-block-public-access.md
  website/pages/blog/introducing-the-gandi-source-plugin.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-tailscale-source-plugin.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/sources/aws/policies.md
  website/pages/docs/plugins/sources/azure/policies.md
  website/pages/docs/plugins/sources/gcp/policies.md
  website/pages/docs/plugins/sources/k8s/policies.md
  website/pages/docs/plugins/sources/okta/overview.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-test` version to v1.3.24 (#5822)
  website/versions/source-test.json
Owners: none

chore: Update plugin `source-digitalocean` version to v3.1.2 (#5823)
  website/versions/source-digitalocean.json
Owners: none

chore(main): Release plugins-destination-test v1.3.8 (#5604)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.8
  website/versions/destination-test.json
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.7 (#5598)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

Fixes
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/rate_limiting_test.go
  plugins/source/slack/client/resolvers.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/conversations.go
  plugins/source/slack/codegen/recipes/recipes.go
  plugins/source/slack/codegen/recipes/users.go
  plugins/source/slack/docs/tables/slack_conversation_bookmarks.md
  plugins/source/slack/docs/tables/slack_conversations.md
  plugins/source/slack/docs/tables/slack_files.md
  plugins/source/slack/docs/tables/slack_user_presences.md
  plugins/source/slack/docs/tables/slack_users.md
  plugins/source/slack/resources/services/conversations/conversation_bookmarks.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_mock_test.go
  plugins/source/slack/resources/services/files/files.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
  plugins/source/slack/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-sqlite v1.0.14 (#5599)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore: Update plugin `destination-snowflake` version to v1.0.7
  website/versions/destination-snowflake.json
Owners: none

chore(main): Release plugins-destination-bigquery v1.2.1 (#5795)
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

chore: Update plugin `destination-bigquery` version to v1.2.1
  website/versions/destination-bigquery.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.9.0 (#5600)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

feat(okta): Use codegen
  plugins/source/okta/Makefile
  plugins/source/okta/codegen/main.go
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/codegen/recipes/groups.go
  plugins/source/okta/codegen/recipes/recipes.go
  plugins/source/okta/codegen/recipes/recipes_test.go
  plugins/source/okta/codegen/recipes/users.go
  plugins/source/okta/codegen/templates/resource.go.tpl
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/docs/tables/okta_users.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/application_group_assignments.go
  plugins/source/okta/resources/services/application_users.go
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/group_users.go
  plugins/source/okta/resources/services/groups.go
  plugins/source/okta/resources/services/groups/group_users.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/groups/models/models.go
  plugins/source/okta/resources/services/users.go
  plugins/source/okta/resources/services/users/users.go
  plugins/source/okta/resources/services/users/users_fetch.go
  plugins/source/okta/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Remove cloudflare specific things
  plugins/source/okta/codegen/recipes/recipes.go
Owners: @cloudquery/cloudquery-opensource

Add mock tests
  plugins/source/okta/client/client.go
  plugins/source/okta/client/mocks/mock_client_application.go
  plugins/source/okta/client/mocks/mock_client_group.go
  plugins/source/okta/client/mocks/mock_client_user.go
  plugins/source/okta/client/services.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/groups/groups_mock_test.go
  plugins/source/okta/resources/services/users/users_fetch.go
  plugins/source/okta/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-sqlite` version to v1.0.14
  website/versions/destination-sqlite.json
Owners: none

Improve retry logic
  plugins/source/slack/client/rate_limiting.go
Owners: @cloudquery/cloudquery-opensource

Remove source-slack.json
  website/versions/source-slack.json
Owners: none

make gen
  plugins/source/slack/docs/tables/slack_conversation_histories.md
  plugins/source/slack/resources/services/conversations/conversation_histories.go
Owners: @cloudquery/cloudquery-opensource

Update
  plugins/source/okta/client/testing.go
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/codegen/recipes/groups.go
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/groups/group_users.go
Owners: @cloudquery/cloudquery-opensource

Fix test
  plugins/source/okta/resources/services/applications/applications_mock_test.go
Owners: @cloudquery/cloudquery-opensource

codegen: Don't calculate children, allow TableName to be used in parent inferrence
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/codegen/recipes/recipes.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/groups/models/models.go
Owners: @cloudquery/cloudquery-opensource

Embed client
  plugins/source/okta/client/client.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

Re-add testing
  plugins/source/okta/client/testing.go
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/fakes/group.go
  plugins/source/okta/resources/services/fakes/user.go
  plugins/source/okta/resources/services/groups/groups_mock_test.go
  plugins/source/okta/resources/services/users/users_mock_test.go
Owners: @cloudquery/cloudquery-opensource

Use v3 api, remove mock tests
  plugins/source/okta/Makefile
  plugins/source/okta/client/client.go
  plugins/source/okta/client/mocks/mock_client_application.go
  plugins/source/okta/client/mocks/mock_client_group.go
  plugins/source/okta/client/mocks/mock_client_user.go
  plugins/source/okta/client/services.go
  plugins/source/okta/codegen/main.go
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/codegen/recipes/groups.go
  plugins/source/okta/codegen/recipes/users.go
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/docs/tables/okta_users.md
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/applications/applications_mock_test.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/groups/groups_mock_test.go
  plugins/source/okta/resources/services/users/users.go
  plugins/source/okta/resources/services/users/users_fetch.go
  plugins/source/okta/resources/services/users/users_mock_test.go
  plugins/source/okta/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Fix makefile after merge
  plugins/source/okta/Makefile
Owners: @cloudquery/cloudquery-opensource

go mod tidy
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

Clean up
  plugins/source/okta/client/client.go
  plugins/source/okta/client/services.go
  plugins/source/okta/client/testing.go
  plugins/source/okta/codegen/main.go
  plugins/source/okta/codegen/recipes/applications.go
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/resources/services/applications/application_group_assignments.go
  plugins/source/okta/resources/services/applications/application_group_assignments_fetch.go
  plugins/source/okta/resources/services/applications/application_users.go
  plugins/source/okta/resources/services/applications/application_users_fetch.go
  plugins/source/okta/resources/services/applications/applications.go
  plugins/source/okta/resources/services/applications/applications_fetch.go
  plugins/source/okta/resources/services/groups/group_users_fetch.go
  plugins/source/okta/resources/services/groups/groups_fetch.go
  plugins/source/okta/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-postgresql` version to v1.9.0
  website/versions/destination-postgresql.json
Owners: none
