Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

Upgrade test plugin
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

More crazy codegen
  plugins/source/stripe/client/testing.go
  plugins/source/stripe/codegen/fixtures/main.go
  plugins/source/stripe/codegen/main.go
  plugins/source/stripe/codegen/recipes/all.go
  plugins/source/stripe/codegen/recipes/recipes.go
  plugins/source/stripe/codegen/templates/get.go.tpl
  plugins/source/stripe/codegen/templates/list.go.tpl
  plugins/source/stripe/docs/tables/README.md
  plugins/source/stripe/docs/tables/stripe_accounts.md
  plugins/source/stripe/docs/tables/stripe_application_fees.md
  plugins/source/stripe/docs/tables/stripe_capabilities.md
  plugins/source/stripe/docs/tables/stripe_fee_refunds.md
  plugins/source/stripe/docs/tables/stripe_treasury_credit_reversals.md
  plugins/source/stripe/docs/tables/stripe_treasury_debit_reversals.md
  plugins/source/stripe/docs/tables/stripe_treasury_financial_accounts.md
  plugins/source/stripe/docs/tables/stripe_treasury_inbound_transfers.md
  plugins/source/stripe/docs/tables/stripe_treasury_outbound_payments.md
  plugins/source/stripe/docs/tables/stripe_treasury_outbound_transfers.md
  plugins/source/stripe/docs/tables/stripe_treasury_received_credits.md
  plugins/source/stripe/docs/tables/stripe_treasury_received_debits.md
  plugins/source/stripe/docs/tables/stripe_treasury_transaction_entries.md
  plugins/source/stripe/docs/tables/stripe_treasury_transactions.md
  plugins/source/stripe/resources/services/accounts/capabilities.go
  plugins/source/stripe/resources/services/application_fees/fee_refunds.go
  plugins/source/stripe/resources/services/treasury/treasury_credit_reversals.go
  plugins/source/stripe/resources/services/treasury/treasury_debit_reversals.go
  plugins/source/stripe/resources/services/treasury/treasury_financial_accounts.go
  plugins/source/stripe/resources/services/treasury/treasury_inbound_transfers.go
  plugins/source/stripe/resources/services/treasury/treasury_outbound_payments.go
  plugins/source/stripe/resources/services/treasury/treasury_outbound_transfers.go
  plugins/source/stripe/resources/services/treasury/treasury_received_credits.go
  plugins/source/stripe/resources/services/treasury/treasury_received_debits.go
  plugins/source/stripe/resources/services/treasury/treasury_transaction_entries.go
  plugins/source/stripe/resources/services/treasury/treasury_transactions.go
  website/pages/docs/plugins/sources/stripe/tables.md
Owners: @cloudquery/cloudquery-opensource

Fix tests
  plugins/destination/azblob/client/client_test.go
  plugins/destination/gcs/client/client_test.go
  plugins/destination/s3/client/client_test.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/sqlite/client/read.go
Owners: @cloudquery/cloudquery-opensource

testing: Turn off verbosity in mock server
  plugins/source/stripe/client/testing.go
Owners: @cloudquery/cloudquery-opensource

feat(cloudflare): Remove codegen, move to transformation
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/recipes_test.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource.go.tpl
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/zones/zones.go
Owners: @cloudquery/cloudquery-opensource

fix missing fields
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
Owners: @cloudquery/cloudquery-opensource

fix(pg): Return more detailed pg errors
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

improve pgerror formmating
  plugins/destination/postgresql/client/write.go
Owners: @cloudquery/cloudquery-opensource

Change client log level, add stripe_debug option, change example to exclude advanced features
  plugins/source/stripe/client/client.go
  plugins/source/stripe/client/spec.go
  website/pages/docs/plugins/sources/stripe/overview.md
Owners: @cloudquery/cloudquery-opensource

fix(k8s): Fix a typo in source/k8s/views/resource.sql: cq_table -> _cq_table (#6415)
  plugins/source/k8s/views/resource.sql
Owners: @cloudquery/cloudquery-opensource

feat(cloudflare): Remove codegen, move to transformation (#6420)
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/recipes_test.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource.go.tpl
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/zones/zones.go
Owners: @cloudquery/cloudquery-opensource

feat(crowdstrike): Migrate codegen to transformations
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/codegen/recipes/templates/resource.go.tpl
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
Owners: @cloudquery/cloudquery-opensource

fmt
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
Owners: @cloudquery/cloudquery-opensource

update makefil
  plugins/source/crowdstrike/Makefile
Owners: @cloudquery/cloudquery-opensource

feat(crowdstrike): Migrate codegen to transformations (#6423)
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
  plugins/source/crowdstrike/codegen/recipes/base.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/codegen/recipes/templates/resource.go.tpl
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore.go
Owners: @cloudquery/cloudquery-opensource

fix(bigquery): Implement some mitigations for Bigquery data and metadata delays (#6381)
  plugins/destination/bigquery/client/migrate.go
  plugins/destination/bigquery/client/read.go
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

feat(digitalocean): Migrate codegen to transformations
  plugins/source/digitalocean/Makefile
  plugins/source/digitalocean/docs/tables/digitalocean_droplets.md
  plugins/source/digitalocean/docs/tables/digitalocean_firewalls.md
  plugins/source/digitalocean/docs/tables/digitalocean_storage_volumes.md
  plugins/source/digitalocean/resources/services/accounts/accounts.go
  plugins/source/digitalocean/resources/services/balances/balances.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
  plugins/source/digitalocean/resources/services/cdns/cdns.go
  plugins/source/digitalocean/resources/services/certificates/certificates.go
  plugins/source/digitalocean/resources/services/databases/backups.go
  plugins/source/digitalocean/resources/services/databases/databases.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules.go
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/domains/domains.go
  plugins/source/digitalocean/resources/services/domains/records.go
  plugins/source/digitalocean/resources/services/droplets/droplets.go
  plugins/source/digitalocean/resources/services/droplets/neighbors.go
  plugins/source/digitalocean/resources/services/firewalls/firewalls.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
  plugins/source/digitalocean/resources/services/images/images.go
  plugins/source/digitalocean/resources/services/keys/keys.go
  plugins/source/digitalocean/resources/services/monitoring/alert_policies.go
  plugins/source/digitalocean/resources/services/projects/projects.go
  plugins/source/digitalocean/resources/services/projects/resources.go
  plugins/source/digitalocean/resources/services/registries/registries.go
  plugins/source/digitalocean/resources/services/registries/repositories.go
  plugins/source/digitalocean/resources/services/sizes/sizes.go
  plugins/source/digitalocean/resources/services/snapshots/snapshots.go
  plugins/source/digitalocean/resources/services/spaces/cors.go
  plugins/source/digitalocean/resources/services/spaces/spaces.go
  plugins/source/digitalocean/resources/services/storage/volumes.go
  plugins/source/digitalocean/resources/services/vpcs/members.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs.go
Owners: @cloudquery/cloudquery-opensource

fixes to breaking columns
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/docs/tables/datadog_user_organizations.md
  plugins/source/datadog/resources/services/monitors/monitors.go
  plugins/source/datadog/resources/services/users/user_organizations.go
Owners: @cloudquery/cloudquery-opensource

fix datadog monitor
  plugins/source/datadog/docs/tables/datadog_monitors.md
  plugins/source/datadog/resources/services/monitors/monitors.go
Owners: @cloudquery/cloudquery-opensource

feat(digitalocean): Migrate codegen to transformations (#6425)
  plugins/source/digitalocean/Makefile
  plugins/source/digitalocean/docs/tables/digitalocean_droplets.md
  plugins/source/digitalocean/docs/tables/digitalocean_firewalls.md
  plugins/source/digitalocean/docs/tables/digitalocean_storage_volumes.md
  plugins/source/digitalocean/resources/services/accounts/accounts.go
  plugins/source/digitalocean/resources/services/balances/balances.go
  plugins/source/digitalocean/resources/services/billing_history/billing_history.go
  plugins/source/digitalocean/resources/services/cdns/cdns.go
  plugins/source/digitalocean/resources/services/certificates/certificates.go
  plugins/source/digitalocean/resources/services/databases/backups.go
  plugins/source/digitalocean/resources/services/databases/databases.go
  plugins/source/digitalocean/resources/services/databases/firewall_rules.go
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/domains/domains.go
  plugins/source/digitalocean/resources/services/domains/records.go
  plugins/source/digitalocean/resources/services/droplets/droplets.go
  plugins/source/digitalocean/resources/services/droplets/neighbors.go
  plugins/source/digitalocean/resources/services/firewalls/firewalls.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
  plugins/source/digitalocean/resources/services/images/images.go
  plugins/source/digitalocean/resources/services/keys/keys.go
  plugins/source/digitalocean/resources/services/monitoring/alert_policies.go
  plugins/source/digitalocean/resources/services/projects/projects.go
  plugins/source/digitalocean/resources/services/projects/resources.go
  plugins/source/digitalocean/resources/services/registries/registries.go
  plugins/source/digitalocean/resources/services/registries/repositories.go
  plugins/source/digitalocean/resources/services/sizes/sizes.go
  plugins/source/digitalocean/resources/services/snapshots/snapshots.go
  plugins/source/digitalocean/resources/services/spaces/cors.go
  plugins/source/digitalocean/resources/services/spaces/spaces.go
  plugins/source/digitalocean/resources/services/storage/volumes.go
  plugins/source/digitalocean/resources/services/vpcs/members.go
  plugins/source/digitalocean/resources/services/vpcs/vpcs.go
Owners: @cloudquery/cloudquery-opensource

more fixes
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/dependabot.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/multiplex.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/codegen/recipes/templates/resource.go.tpl
  plugins/source/github/resources/services/organizations/members.go
  plugins/source/github/resources/services/repositories/assets.go
Owners: @cloudquery/cloudquery-opensource

fmt
  plugins/source/github/resources/services/organizations/members.go
Owners: @cloudquery/cloudquery-opensource

fix docs
  plugins/source/github/docs/tables/github_organization_members.md
  plugins/source/github/docs/tables/github_release_assets.md
Owners: @cloudquery/cloudquery-opensource

feat(tailscale): Migrate codegen to transformations
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/codegen/main.go
  plugins/source/tailscale/codegen/resources/columns.go
  plugins/source/tailscale/codegen/resources/description.go
  plugins/source/tailscale/codegen/resources/fetch.go
  plugins/source/tailscale/codegen/resources/generate.go
  plugins/source/tailscale/codegen/resources/recipes.go
  plugins/source/tailscale/codegen/resources/resource.go
  plugins/source/tailscale/codegen/resources/schema.go
  plugins/source/tailscale/codegen/resources/tables.go
  plugins/source/tailscale/codegen/resources/template.go
  plugins/source/tailscale/codegen/resources/templates/resource.go.tpl
  plugins/source/tailscale/codegen/resources/templates/tables.go.tpl
  plugins/source/tailscale/codegen/resources/transformers.go
  plugins/source/tailscale/codegen/resources/write.go
  plugins/source/tailscale/resources/services/dns/dns.go
  plugins/source/tailscale/resources/services/key/keys.go
Owners: @cloudquery/cloudquery-opensource

fmt
  plugins/source/tailscale/resources/services/dns/dns.go
  plugins/source/tailscale/resources/services/key/keys.go
Owners: @cloudquery/cloudquery-opensource

skip cockroach
  .github/workflows/dest_postgresql.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(pg): Return more detailed pg errors (#6421)
  .github/workflows/dest_postgresql.yml
  plugins/destination/postgresql/client/write.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Revert "fix: Error if after the migration there are `not null` columns that are not part of the new schema (#6282)"
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

put back cockroach
  .github/workflows/dest_postgresql.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

docs: Adding how-to guide for using Renovate
  website/pages/how-to-guides/update-plugins-using-renovate.md
  website/public/images/blog/manage-plugins-with-renovate/renovate-howto-regex101.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-changedfiles.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-example.png
  website/public/images/blog/manage-plugins-with-renovate/renovate-pr-page.png
Owners: none

fix(postgresql): Revert #6282 (#6434)
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/migrate.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-postgresql v2.0.2
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
