Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-source-okta v1.3.14
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.21
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v3.1.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.25
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.0.10
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v1.4.10
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.0.0
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.4.4
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.4
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.21
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-github v1.2.19
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.74.0 (#5160)
  plugins/source/aws/client/mocks/ec2.go
  plugins/source/aws/client/services/ec2.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.24.0 (#5161)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/firehose to v1.15.0 (#5162)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/fsx to v1.26.0 (#5163)
  plugins/source/aws/docs/tables/aws_fsx_storage_virtual_machines.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/fsx/storage_virtual_machines.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.36.0 (#5164)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/inspector2 to v1.9.0 (#5165)
  plugins/source/aws/docs/tables/aws_inspector2_findings.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/inspector2/findings.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_kms_keys.md
  plugins/source/aws/resources/services/kms/keys.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/s3control.go
  plugins/source/aws/client/services/s3control.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services/quicksight.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.0 (#5166)
  plugins/source/aws/docs/tables/aws_kms_keys.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/kms/keys.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.28.0 (#5168)
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services/quicksight.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.27.0 (#5169)
  plugins/source/aws/client/mocks/s3control.go
  plugins/source/aws/client/services/s3control.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_lambda_function_versions.md
  plugins/source/aws/resources/services/lambda/function_versions.go
Owners: @hermanschaaf, @yevgenypats

Update plugins/source/datadog/README.md
  plugins/source/datadog/README.md
Owners: @cloudquery/cloudquery-opensource

Add docs
  plugins/destination/bigquery/README.md
  website/pages/docs/plugins/destinations/_meta.json
  website/pages/docs/plugins/destinations/bigquery/_meta.json
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.26.0 (#5167)
  plugins/source/aws/docs/tables/aws_lambda_function_versions.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/lambda/function_versions.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v7.2.3
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix: Delete stale entries only for tables selected in config (#5098)
  cli/cmd/migrate.go
  cli/cmd/sync2.go
Owners: @yevgenypats

chore(main): Release cli v2.0.22
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

refactor(website): Simplify Nextra versions replace code (#5145)
  website/next.config.mjs
Owners: none

chore(main): Release cli v2.0.22 (#5050)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.4 (#5027)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v3.1.0 (#5053)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v3.0.4
  website/versions/source-digitalocean.json
Owners: none

chore: Update plugin `source-gcp` version to v3.1.0
  website/versions/source-gcp.json
Owners: none

fix(website): Don't error when new plugins are added
  website/next.config.mjs
Owners: none

chore(main): Release plugins-source-aws v7.2.3 (#5134)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v1.4.10 (#5049)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
