Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-source-gcp v3.0.3 (#4810)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v3.0.1 (#4811)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.22 (#4812)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-aws` version to v7.1.1
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-gcp` version to v3.0.3
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-aws` version to v7.1.1 (#4813)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-gcp` version to v3.0.3 (#4814)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Add permission sets
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#4816)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Add support for account assignments
  plugins/source/aws/codegen/recipes/ssoadmin.go
  plugins/source/aws/resources/services/ssoadmin/account_assignments.go
  plugins/source/aws/resources/services/ssoadmin/account_assignments_fetch.go
  plugins/source/aws/resources/services/ssoadmin/instances.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets.go
  plugins/source/aws/resources/services/ssoadmin/permission_sets_fetch.go
Owners: @hermanschaaf, @yevgenypats

Add tests
  plugins/source/aws/resources/services/ssoadmin/instances_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/dynamodb to v1.17.6
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.21.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.35.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.27.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.55.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicecatalog to v1.15.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.25.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_workspaces_workspaces.md
  plugins/source/aws/resources/services/workspaces/workspaces.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/cloudfront.go
  plugins/source/aws/client/services/cloudfront.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services/quicksight.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/dynamodb to v1.17.6 (#4819)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/xray.go
  plugins/source/aws/client/services/xray.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudfront to v1.21.0 (#4820)
  plugins/source/aws/client/mocks/cloudfront.go
  plugins/source/aws/client/services/cloudfront.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.35.0 (#4822)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/lambda to v1.25.0 (#4823)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/quicksight to v1.27.0 (#4824)
  plugins/source/aws/client/mocks/quicksight.go
  plugins/source/aws/client/services/quicksight.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sagemaker to v1.55.0 (#4825)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/transfer to v1.25.0 (#4826)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/workspaces to v1.27.0 (#4827)
  plugins/source/aws/docs/tables/aws_workspaces_workspaces.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/workspaces/workspaces.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.72.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/docs/tables/aws_servicecatalog_products.md
  plugins/source/aws/resources/services/servicecatalog/products.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.72.0 (#4821)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/servicecatalog to v1.15.0 (#4829)
  plugins/source/aws/docs/tables/aws_servicecatalog_products.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/servicecatalog/products.go
Owners: @hermanschaaf, @yevgenypats

fix(aws): Use correct logger in aws_fsx_file_caches
  plugins/source/aws/resources/services/cloudtrail/trails_fetch.go
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
Owners: @hermanschaaf, @yevgenypats

feat: Add Snowflake (WIP)
  plugins/destination/snowflake/.gitignore
  plugins/destination/snowflake/.goreleaser copy.yaml
  plugins/destination/snowflake/CHANGELOG.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/snowflake/Makefile
  plugins/destination/snowflake/README.md
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/metrics.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/snowflake/resources/plugin/plugin.go
Owners: @cloudquery/cloudquery-opensource

Update docker.md
  website/pages/docs/advanced-topics/docker.md
Owners: none

chore: Fix `docker` example (#4831)
  website/pages/docs/advanced-topics/docker.md
Owners: none

Step function
  plugins/source/aws/client/mocks/sfn.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/sfn.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/stepfunction.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_stepfunctions_state_machines.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/stepfunctions/state_machines.go
  plugins/source/aws/resources/services/stepfunctions/state_machines_fetch.go
  plugins/source/aws/resources/services/stepfunctions/state_machines_test.go
Owners: @hermanschaaf, @yevgenypats
