Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore: Update plugin `source-okta` version to v1.3.10 (#4599)
  sites/versions/v2/source-okta.json
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.5.3 (#4646)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

chore(ci-aws): Increase CI timeout (#4485)
  .github/workflows/source_aws.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(main): Release plugins-destination-postgresql v1.7.10 (#4580)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

service account policy fix
  plugins/source/k8s/policies/queries/pod_security/pod_service_account_token_disabled.sql
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-k8s v2.4.0 (#4579)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.5.3 (#4640)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(website): Redirect some broken links v2 (#4513)
  website/vercel.json
Owners: none

test: Simplify drift test workflow (#4630)
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
  plugins/source/aws/Makefile
  plugins/source/test/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.29.0 (#4612)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.5.3 (#4642)
  cli/go.mod
  cli/go.sum
Owners: none

chore(main): Release plugins-source-digitalocean v2.2.21 (#4575)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v3.0.0 (#4586)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(aws): RDS Version Errors (#4431)
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-k8s` version to v2.4.0 (#4600)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-terraform` version to v1.2.18 (#4605)
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-source-github v1.2.15 (#4576)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release cli v2.0.17 (#4622)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.5.3 (#4653)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.3 (#4654)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.5.3 (#4655)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix broken CI
  .github/workflows/source_k8s.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-azure v1.4.7 (#4658)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.7
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore(main): Release cli v2.0.18 (#4659)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.18 (#4661)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

fixup
  .github/workflows/source_k8s.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore: Update CLI version to v2.0.18
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-destination-csv v1.1.10 (#4662)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.18
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-digitalocean v2.2.22 (#4663)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.10
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update plugin `source-digitalocean` version to v2.2.22
  sites/versions/v2/source-digitalocean.json
Owners: none

chore(main): Release plugins-source-gcp v3.0.1 (#4665)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

docs
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_group_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_groups.md
  plugins/source/aws/docs/tables/aws_iam_policies.md
  plugins/source/aws/docs/tables/aws_iam_policy_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_role_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_roles.md
  plugins/source/aws/docs/tables/aws_iam_user_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_users.md
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-github v1.2.16 (#4666)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v3.0.1
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-github` version to v1.2.16
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.7 (#4668)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.7
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
