Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update plugin-sdk for digitalocean to v1.8.1 (#5037)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.8.1 (#5038)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.8.1 (#5039)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.8.1 (#5041)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.8.1 (#5042)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.8.1 (#5040)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.8.1 (#5043)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

more fixes
  .github/workflows/dest_snowflake.yml
  plugins/destination/snowflake/client/client.go
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

Update contributing/adding_a_new_plugin_to_cq_monorepo.md
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.8.1 (#5044)
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.8.1 (#5045)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.8.1 (#5046)
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix bytea
  plugins/destination/snowflake/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for test to v1.8.1 (#5047)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

more nits
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

some more stuff
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Owners: none

Update contributing/adding_a_new_plugin_to_cq_monorepo.md
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Owners: none

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client.go
Owners: @cloudquery/cloudquery-opensource

review fixes
  plugins/destination/snowflake/README.md
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

indent
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

more review fixes
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/types.go
Owners: @cloudquery/cloudquery-opensource

fix: Update content (#5005)
  plugins/source/aws/docs/configuration.md
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/deploying-cloudquery-into-aws-org.md
Owners: @hermanschaaf, @yevgenypats

feat: Add Snowflake destination plugin (#4965)
  .github/pr_labeler.yml
  .github/workflows/dest_snowflake.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  plugins/destination/snowflake/.gitignore
  plugins/destination/snowflake/.goreleaser.yaml
  plugins/destination/snowflake/CHANGELOG.md
  plugins/destination/snowflake/CONTRIBUTING.md
  plugins/destination/snowflake/Makefile
  plugins/destination/snowflake/README.md
  plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/deletestale.go
  plugins/destination/snowflake/client/metrics.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/spec.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/main.go
  plugins/destination/snowflake/resources/plugin/plugin.go
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-snowflake v1.0.0
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore: Try to fix/simplify snowflake ci
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Try to fix/simplify snowflake ci (#5065)
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Make snowflake compile on windows
  .github/workflows/dest_snowflake.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/snowflake/.goreleaser.yaml
  plugins/destination/snowflake/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore: Make snowflake compile on windows (#5066)
  .github/workflows/dest_snowflake.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/destination/snowflake/.goreleaser.yaml
  plugins/destination/snowflake/Makefile
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-snowflake v1.0.0 (#5064)
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore: More fun stuff with goreleaser
  plugins/destination/snowflake/.goreleaser.yaml
Owners: @cloudquery/cloudquery-opensource

chore: More fun stuff with goreleaser (#5067)
  plugins/destination/snowflake/.goreleaser.yaml
Owners: @cloudquery/cloudquery-opensource

fix: User regular runners for snowflake
  .github/workflows/dest_snowflake.yml
  plugins/destination/snowflake/README.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-snowflake v1.0.1
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none
