Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-source-digitalocean v3.0.1
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/timestreamwrite to v1.14.6 (#4787)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/appsync to v1.16.0 (#4788)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/databasemigrationservice to v1.22.0 (#4790)
  plugins/source/aws/docs/tables/aws_dms_replication_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/dms/replication_instances.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudformation to v1.24.0 (#4789)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.71.0 (#4791)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sqs to v1.19.14
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.23.0 (#4792)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/sqs to v1.19.14 (#4786)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.24.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/elasticache to v1.24.0 (#4793)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

docs fix
  plugins/source/aws/docs/tables/aws_iam_group_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_policy_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_role_services_last_accessed.md
  plugins/source/aws/docs/tables/aws_iam_user_services_last_accessed.md
Owners: @hermanschaaf, @yevgenypats

some more fixes
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/product-updates-1.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

docs fix
  website/pages/blog/aws-kms-key-grants-deep-dive.md
Owners: none

not_configured_across_services_and_users fix
  plugins/source/gcp/policies/queries/logging/not_configured_across_services_and_users.sql
Owners: @yevgenypats, @disq

fix: Fix Name tag reference in grafana dashboard
  plugins/source/aws/dashboards/grafana/aws_ec2_public_private.json
Owners: @hermanschaaf, @yevgenypats

chore: CloudQuery Product Updates #1 (#3408)
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/_meta.json
  website/pages/blog/product-updates-1.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

fix: Fix Name tag reference in grafana dashboard (#4801)
  plugins/source/aws/dashboards/grafana/aws_ec2_public_private.json
Owners: @hermanschaaf, @yevgenypats

chore: Product #1 bugfix (#4802)
  website/pages/blog/product-updates-1.md
Owners: none

chore(main): Release plugins-source-aws v7.1.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.1.0 (#4733)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v7.1.0
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Fix links product updates #1 blog
  website/pages/blog/product-updates-1.md
Owners: none

Add dates to blog posts
  website/components/BlogHeader.tsx
Owners: none

Use constant
  website/components/BlogHeader.tsx
Owners: none

Linting
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/product-updates-1.md
Owners: none

Update website/pages/blog/product-updates-1.md
  website/pages/blog/product-updates-1.md
Owners: none

fix: Linting (#4808)
  website/pages/blog/aws-kms-key-grants-deep-dive.md
  website/pages/blog/product-updates-1.md
Owners: none

chore: Update plugin `source-aws` version to v7.1.0 (#4803)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.30.0 (#4782)
  plugins/source/aws/docs/tables/aws_rds_cluster_snapshots.md
  plugins/source/aws/docs/tables/aws_rds_clusters.md
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/docs/tables/aws_rds_instances.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/rds/cluster_snapshots.go
  plugins/source/aws/resources/services/rds/clusters.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/rds/instances.go
Owners: @hermanschaaf, @yevgenypats

fix: Fixed cloudfront policy queries with null json fields (#4773)
  plugins/source/aws/policies/queries/cloudfront/origin_failover_enabled.sql
  plugins/source/gcp/policies/queries/logging/not_configured_across_services_and_users.sql
Owners: @hermanschaaf, @yevgenypats, @disq

chore(main): Release plugins-source-gcp v3.0.3
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v7.1.1
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(website): Add dates to blog posts (#4807)
  website/components/BlogHeader.tsx
Owners: none

chore(main): Release plugins-source-digitalocean v3.0.1 (#4754)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.22 (#4755)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v3.0.1
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.22
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-source-aws v7.1.1 (#4809)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
