Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

version fix
  plugins/source/datadog/README.md
Owners: @cloudquery/cloudquery-opensource

make nextra compile
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/overview.mdx
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/snowflake/overview.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
Owners: none

fix typos
  website/pages/docs/plugins/overview.md
Owners: none

change order
  website/pages/docs/_meta.json
Owners: none

remove backend over sed
  website/components/mdx/_configure.mdx
  website/next.config.js
  website/next.config.mjs
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/pages/docs/reference/destination-spec.md
  website/pages/docs/reference/source-spec.md
  website/vercel.json
Owners: none

remove the use of latest CLI
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/next.config.mjs
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/plugins/destinations/csv/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/sources/aws/configuration.md
  website/pages/docs/plugins/sources/azure/configuration.md
  website/pages/docs/plugins/sources/cloudflare/configuration.md
  website/pages/docs/plugins/sources/digitalocean/overview.md
  website/pages/docs/plugins/sources/gcp/configuration.md
  website/pages/docs/plugins/sources/github/overview.md
  website/pages/docs/plugins/sources/heroku/configuration.md
  website/pages/docs/plugins/sources/okta/overview.md
  website/pages/docs/plugins/sources/terraform/overview.md
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/destinations/snowflake.md
  website/pages/docs/recipes/destinations/sqlite.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/azure.md
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
  website/pages/docs/reference/destination-spec.md
Owners: none

deprecate sites website
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  website/next.config.mjs
  website/versions/cli.json
  website/versions/destination-csv.json
  website/versions/destination-postgresql.json
  website/versions/destination-snowflake.json
  website/versions/destination-sqlite.json
  website/versions/destination-test.json
  website/versions/source-aws.json
  website/versions/source-azure.json
  website/versions/source-cloudflare.json
  website/versions/source-digitalocean.json
  website/versions/source-gcp.json
  website/versions/source-github.json
  website/versions/source-heroku.json
  website/versions/source-k8s.json
  website/versions/source-okta.json
  website/versions/source-terraform.json
  website/versions/source-test.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats

more fixes
  website/next.config.mjs
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: none

minor fixes
  website/next.config.mjs
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: none

remove search and replace strings across all the codebase
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-macOS.mdx
Owners: none

more fixes
  website/utils/versions.ts
Owners: none

Update website/pages/docs/plugins/sources/github/_meta.json
  website/pages/docs/plugins/sources/github/_meta.json
Owners: none

Update plugins/destination/postgresql/README.md
  plugins/destination/postgresql/README.md
Owners: @cloudquery/cloudquery-opensource

fix plugins link
  website/pages/_meta.json
Owners: none

Update website/pages/docs/plugins/sources/aws/_meta.json
  website/pages/docs/plugins/sources/aws/_meta.json
Owners: none

Update plugins/destination/csv/README.md
  plugins/destination/csv/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/sqlite/README.md
  plugins/destination/sqlite/README.md
Owners: @cloudquery/cloudquery-opensource

more reviews
  website/utils/versions.ts
Owners: none

Update website/pages/docs/plugins/destinations/postgresql/overview.md
  website/pages/docs/plugins/destinations/postgresql/overview.md
Owners: none

Update website/pages/docs/plugins/sources/heroku/_meta.json
  website/pages/docs/plugins/sources/heroku/_meta.json
Owners: none

Update website/pages/docs/plugins/sources/k8s/_meta.json
  website/pages/docs/plugins/sources/k8s/_meta.json
Owners: none

Update plugins/source/aws/README.md
  plugins/source/aws/README.md
Owners: @hermanschaaf, @yevgenypats

Update website/next.config.mjs
  website/next.config.mjs
Owners: none

Update website/pages/docs/plugins/sources/gcp/_meta.json
  website/pages/docs/plugins/sources/gcp/_meta.json
Owners: none

review fixes
  website/pages/docs/plugins/destinations/_meta.json
Owners: none

Update website/pages/docs/plugins/sources/okta/_meta.json
  website/pages/docs/plugins/sources/okta/_meta.json
Owners: none

Update website/pages/docs/plugins/sources/k8s/configuration.md
  website/pages/docs/plugins/sources/k8s/configuration.md
Owners: none

chore: Add Building CQ Blog
  .github/styles/Vocab/Base/accept.txt
  website/pages/blog/building-cloudquery.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Update plugins/source/aws/docs/configuration.md
  plugins/source/aws/docs/configuration.md
Owners: @hermanschaaf, @yevgenypats

chore(release): Add Snowflake filler entry
  .release-please-manifest.json
Owners: none

chore(cloudflare): Better codegen
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/recipes_test.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/docs/tables/cloudflare_dns_records.md
  plugins/source/cloudflare/resources/services/access_groups/access_groups.go
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/accounts/accounts.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
  plugins/source/cloudflare/resources/services/dns_records/dns_records.go
  plugins/source/cloudflare/resources/services/images/images.go
  plugins/source/cloudflare/resources/services/waf_overrides/waf_overrides.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_groups.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_packages.go
  plugins/source/cloudflare/resources/services/waf_packages/waf_rules.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_cron_triggers.go
  plugins/source/cloudflare/resources/services/worker_meta_data/worker_meta_data.go
  plugins/source/cloudflare/resources/services/worker_meta_data/workers_secrets.go
  plugins/source/cloudflare/resources/services/worker_routes/worker_routes.go
  plugins/source/cloudflare/resources/services/zones/zones.go
Owners: @cloudquery/cloudquery-opensource

Initial codegen from gandi plugin
  plugins/source/cloudflare/Makefile
  plugins/source/cloudflare/codegen/main.go
  plugins/source/cloudflare/codegen/recipes/access_group.go
  plugins/source/cloudflare/codegen/recipes/account.go
  plugins/source/cloudflare/codegen/recipes/certificate_pack.go
  plugins/source/cloudflare/codegen/recipes/dns_record.go
  plugins/source/cloudflare/codegen/recipes/image.go
  plugins/source/cloudflare/codegen/recipes/recipes.go
  plugins/source/cloudflare/codegen/recipes/waf_override.go
  plugins/source/cloudflare/codegen/recipes/waf_package.go
  plugins/source/cloudflare/codegen/recipes/worker_meta_data.go
  plugins/source/cloudflare/codegen/recipes/worker_route.go
  plugins/source/cloudflare/codegen/recipes/zone.go
  plugins/source/cloudflare/codegen/templates/resource.go.tpl
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: @cloudquery/cloudquery-opensource

'Fix' modified file
  .github/workflows/source_cloudflare.yml
  plugins/source/cloudflare/go.mod
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Add a check
  .github/workflows/source_cloudflare.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

clarify doc
  plugins/source/cloudflare/codegen/recipes/recipes.go
Owners: @cloudquery/cloudquery-opensource

Add tools/
  plugins/source/cloudflare/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Adds alerts and some testing
  plugins/source/crowdstrike/Makefile
  plugins/source/crowdstrike/client/client.go
  plugins/source/crowdstrike/client/mocks/mock_alerts_client.go
  plugins/source/crowdstrike/client/mocks/mock_incidents_client.go
  plugins/source/crowdstrike/client/services.go
  plugins/source/crowdstrike/client/testing.go
  plugins/source/crowdstrike/codegen/main.go
  plugins/source/crowdstrike/codegen/recipes/alerts.go
  plugins/source/crowdstrike/codegen/recipes/incidents.go
  plugins/source/crowdstrike/go.mod
  plugins/source/crowdstrike/resources/services/alerts/query.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_fetch.go
  plugins/source/crowdstrike/resources/services/incidents/crowdscore_mock_test.go
Owners: @cloudquery/cloudquery-opensource

fix: Rename template variable 'r' to more indicative 'parent'
  plugins/source/gcp/codegen/templates/newapi_get.go.tpl
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/services.go
  plugins/source/gcp/resources/services/compute/addresses.go
  plugins/source/gcp/resources/services/compute/autoscalers.go
  plugins/source/gcp/resources/services/compute/backend_services.go
  plugins/source/gcp/resources/services/compute/disk_types.go
  plugins/source/gcp/resources/services/compute/disks.go
  plugins/source/gcp/resources/services/compute/firewalls.go
  plugins/source/gcp/resources/services/compute/forwarding_rules.go
  plugins/source/gcp/resources/services/compute/images.go
  plugins/source/gcp/resources/services/compute/instance_groups.go
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/compute/interconnects.go
  plugins/source/gcp/resources/services/compute/networks.go
  plugins/source/gcp/resources/services/compute/projects.go
  plugins/source/gcp/resources/services/compute/ssl_certificates.go
  plugins/source/gcp/resources/services/compute/ssl_policies.go
  plugins/source/gcp/resources/services/compute/subnetworks.go
  plugins/source/gcp/resources/services/compute/target_http_proxies.go
  plugins/source/gcp/resources/services/compute/target_ssl_proxies.go
  plugins/source/gcp/resources/services/compute/url_maps.go
  plugins/source/gcp/resources/services/compute/vpn_gateways.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

fix: Rename template variable 'r' to more indicative 'parent' (#5109)
  plugins/source/gcp/codegen/templates/newapi_get.go.tpl
  plugins/source/gcp/codegen/templates/newapi_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_agg_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_get.go.tpl
  plugins/source/gcp/codegen/templates/resource_list.go.tpl
  plugins/source/gcp/codegen/templates/resource_list_one.go.tpl
  plugins/source/gcp/resources/services/apikeys/keys.go
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/services.go
  plugins/source/gcp/resources/services/compute/addresses.go
  plugins/source/gcp/resources/services/compute/autoscalers.go
  plugins/source/gcp/resources/services/compute/backend_services.go
  plugins/source/gcp/resources/services/compute/disk_types.go
  plugins/source/gcp/resources/services/compute/disks.go
  plugins/source/gcp/resources/services/compute/firewalls.go
  plugins/source/gcp/resources/services/compute/forwarding_rules.go
  plugins/source/gcp/resources/services/compute/images.go
  plugins/source/gcp/resources/services/compute/instance_groups.go
  plugins/source/gcp/resources/services/compute/instances.go
  plugins/source/gcp/resources/services/compute/interconnects.go
  plugins/source/gcp/resources/services/compute/networks.go
  plugins/source/gcp/resources/services/compute/projects.go
  plugins/source/gcp/resources/services/compute/ssl_certificates.go
  plugins/source/gcp/resources/services/compute/ssl_policies.go
  plugins/source/gcp/resources/services/compute/subnetworks.go
  plugins/source/gcp/resources/services/compute/target_http_proxies.go
  plugins/source/gcp/resources/services/compute/target_ssl_proxies.go
  plugins/source/gcp/resources/services/compute/url_maps.go
  plugins/source/gcp/resources/services/compute/vpn_gateways.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/logging/metrics.go
  plugins/source/gcp/resources/services/logging/sinks.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
  plugins/source/gcp/resources/services/serviceusage/services.go
Owners: @yevgenypats, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
