Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.35.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/guardduty to v1.16.4 (#5630)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.21.0 (#5631)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.35.0 (#5632)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_compute_skus.md
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

feat(azure): Add azure_compute_skus (#5629)
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_compute_skus.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/skus.go
  plugins/source/azure/resources/services/compute/skus_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

testing: Add to org list
  plugins/source/gcp/client/testing.go
Owners: @yevgenypats, @disq

fix(gcp): ResourceManager folders listing (add OrgMultiplexing) (#5144)
  plugins/source/gcp/Makefile
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
  plugins/source/gcp/client/testing.go
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_folders.md
  plugins/source/gcp/resources/services/billing/billing_accounts.go
  plugins/source/gcp/resources/services/billing/billing_accounts_mock_test.go
  plugins/source/gcp/resources/services/billing/services.go
  plugins/source/gcp/resources/services/billing/services_mock_test.go
  plugins/source/gcp/resources/services/domains/registrations.go
  plugins/source/gcp/resources/services/domains/registrations_mock_test.go
  plugins/source/gcp/resources/services/functions/functions.go
  plugins/source/gcp/resources/services/functions/functions_mock_test.go
  plugins/source/gcp/resources/services/monitoring/alert_policies.go
  plugins/source/gcp/resources/services/monitoring/alert_policies_mock_test.go
  plugins/source/gcp/resources/services/redis/instances.go
  plugins/source/gcp/resources/services/redis/instances_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/folders.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/folders_mock_test.go
  plugins/source/gcp/resources/services/run/services.go
  plugins/source/gcp/resources/services/run/services_mock_test.go
  plugins/source/gcp/resources/services/secretmanager/secrets.go
  plugins/source/gcp/resources/services/secretmanager/secrets_mock_test.go
  plugins/source/gcp/resources/services/serviceusage/services.go
  plugins/source/gcp/resources/services/serviceusage/services_mock_test.go
Owners: @yevgenypats, @disq

refactor(codegen): Simplify needsProjectIDColumn
  plugins/source/gcp/codegen/main.go
Owners: @yevgenypats, @disq

fix(gcp-resources): Set primary keys for `gcp_resourcemanager_projects`
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/resources/services/resourcemanager/projects.go
Owners: @yevgenypats, @disq

fix(website): Default to unpublished in getLatestVersion
  website/utils/versions.ts
Owners: none

fix(table-diff): Support PK changes
  scripts/table_diff/changes/changes.go
  scripts/table_diff/changes/changes_test.go
  scripts/table_diff/changes/testdata/pr_5636_diff.txt
Owners: none

test: Fake correct JSON values
  plugins/source/aws/resources/services/cloudwatchlogs/resource_policies_mock_test.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
  plugins/source/aws/resources/services/ram/resource_shares_mock_test.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-azure v2.1.0
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.0.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(website): yml vs. yaml in markdown format
  plugins/source/gandi/docs/configuration.md
Owners: @cloudquery/cloudquery-opensource

Fix configuration.md under plugin
  plugins/source/gandi/docs/configuration.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-gcp v5.0.0 (#5610)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

Update configuration.md
  plugins/source/gandi/docs/configuration.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-azure v2.1.0 (#5633)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(website): Inconsistent yml vs. yaml in markdown format, remove extra doc (#5640)
  plugins/source/gandi/docs/configuration.md
Owners: @cloudquery/cloudquery-opensource

Move things around, add mock tests
  plugins/source/vercel/.gitignore
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/mocks/mock_vercel_services.go
  plugins/source/vercel/client/services.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/codegen/main.go
  plugins/source/vercel/codegen/recipes/domains.go
  plugins/source/vercel/codegen/recipes/teams.go
  plugins/source/vercel/internal/vercel/domain.go
  plugins/source/vercel/internal/vercel/millitime.go
  plugins/source/vercel/internal/vercel/team.go
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/domain/model/model.go
  plugins/source/vercel/resources/services/team/model/model.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
  plugins/source/vercel/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

go mod tidy
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
Owners: none

Add project and project envs
  plugins/source/vercel/Makefile
  plugins/source/vercel/client/mocks/mock_vercel_services.go
  plugins/source/vercel/client/services.go
  plugins/source/vercel/codegen/main.go
  plugins/source/vercel/codegen/recipes/deployments.go
  plugins/source/vercel/codegen/recipes/projects.go
  plugins/source/vercel/docs/tables/README.md
  plugins/source/vercel/docs/tables/vercel_deployment_checks.md
  plugins/source/vercel/docs/tables/vercel_deployments.md
  plugins/source/vercel/docs/tables/vercel_project_envs.md
  plugins/source/vercel/docs/tables/vercel_projects.md
  plugins/source/vercel/internal/vercel/deployment.go
  plugins/source/vercel/internal/vercel/domain.go
  plugins/source/vercel/internal/vercel/project.go
  plugins/source/vercel/internal/vercel/team.go
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployment_checks_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/deployment/deployments_fetch.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/project_envs_fetch.go
  plugins/source/vercel/resources/services/project/projects.go
  plugins/source/vercel/resources/services/project/projects_fetch.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
Owners: @cloudquery/cloudquery-opensource

Update goreleaser variables
  plugins/source/vercel/.goreleaser.yaml
Owners: @cloudquery/cloudquery-opensource

Use https in href
  plugins/source/vercel/docs/configuration.md
Owners: @cloudquery/cloudquery-opensource

Add vercel to website
  plugins/source/vercel/Makefile
  plugins/source/vercel/docs/configuration.md
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/vercel/_meta.json
  website/pages/docs/plugins/sources/vercel/configuration.md
  website/pages/docs/plugins/sources/vercel/overview.md
  website/pages/docs/plugins/sources/vercel/tables.md
Owners: @cloudquery/cloudquery-opensource

nameservers => name servers
  website/pages/docs/plugins/sources/vercel/overview.md
Owners: none

Test with http router
  plugins/source/vercel/Makefile
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/mocks/mock_vercel_services.go
  plugins/source/vercel/client/services.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/docs/tables/vercel_domain_records.md
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/internal/vercel/domain.go
  plugins/source/vercel/internal/vercel/millitime.go
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/resources/services/deployment/deployments_mock_test.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domains_mock_test.go
  plugins/source/vercel/resources/services/project/projects_mock_test.go
  plugins/source/vercel/resources/services/team/teams_mock_test.go
Owners: @cloudquery/cloudquery-opensource

feat: Vercel source plugin
  plugins/source/vercel/.gitignore
  plugins/source/vercel/.goreleaser.yaml
  plugins/source/vercel/.pre-commit-config.yaml
  plugins/source/vercel/CHANGELOG.md
  plugins/source/vercel/Makefile
  plugins/source/vercel/README.md
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/resolvers.go
  plugins/source/vercel/client/service.go
  plugins/source/vercel/client/spec.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/codegen/main.go
  plugins/source/vercel/codegen/recipes/domains.go
  plugins/source/vercel/codegen/recipes/recipes.go
  plugins/source/vercel/codegen/recipes/teams.go
  plugins/source/vercel/codegen/templates/resource.go.tpl
  plugins/source/vercel/docs/configuration.md
  plugins/source/vercel/docs/tables/README.md
  plugins/source/vercel/docs/tables/vercel_domain_records.md
  plugins/source/vercel/docs/tables/vercel_domains.md
  plugins/source/vercel/docs/tables/vercel_team_members.md
  plugins/source/vercel/docs/tables/vercel_teams.md
  plugins/source/vercel/go.mod
  plugins/source/vercel/go.sum
  plugins/source/vercel/main.go
  plugins/source/vercel/resources/model/millitime.go
  plugins/source/vercel/resources/plugin/plugin.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domain_records_fetch.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/domain/domains_fetch.go
  plugins/source/vercel/resources/services/domain/model/model.go
  plugins/source/vercel/resources/services/team/model/model.go
  plugins/source/vercel/resources/services/team/team_members.go
  plugins/source/vercel/resources/services/team/team_members_fetch.go
  plugins/source/vercel/resources/services/team/teams.go
  plugins/source/vercel/resources/services/team/teams_fetch.go
Owners: @cloudquery/cloudquery-opensource

Remove trailing ,
  website/pages/docs/plugins/sources/_meta.json
Owners: none

Add Vercel to dict
  .github/styles/Vocab/Base/accept.txt
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Clean up
  plugins/source/vercel/client/client.go
  plugins/source/vercel/docs/configuration.md
  plugins/source/vercel/internal/vercel/deployment.go
  plugins/source/vercel/internal/vercel/team.go
Owners: @cloudquery/cloudquery-opensource

Handle null millitime as zero time
  plugins/source/vercel/internal/vercel/millitime.go
Owners: @cloudquery/cloudquery-opensource

Add .github things
  .github/pr_labeler.yml
  .github/workflows/source_vercel.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

Remove pre-commit things just like #5559
  plugins/source/vercel/.pre-commit-config.yaml
  plugins/source/vercel/Makefile
Owners: @cloudquery/cloudquery-opensource

Remove install-tools target
  plugins/source/vercel/Makefile
  plugins/source/vercel/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Auto detect team IDs, multiplex
  plugins/source/vercel/client/client.go
  plugins/source/vercel/client/multiplexer.go
  plugins/source/vercel/client/resolvers.go
  plugins/source/vercel/client/spec.go
  plugins/source/vercel/client/testing.go
  plugins/source/vercel/codegen/recipes/deployments.go
  plugins/source/vercel/codegen/recipes/domains.go
  plugins/source/vercel/codegen/recipes/projects.go
  plugins/source/vercel/codegen/recipes/recipes.go
  plugins/source/vercel/docs/configuration.md
  plugins/source/vercel/internal/vercel/vercel.go
  plugins/source/vercel/resources/services/deployment/deployment_checks.go
  plugins/source/vercel/resources/services/deployment/deployments.go
  plugins/source/vercel/resources/services/domain/domain_records.go
  plugins/source/vercel/resources/services/domain/domains.go
  plugins/source/vercel/resources/services/project/project_envs.go
  plugins/source/vercel/resources/services/project/projects.go
Owners: @cloudquery/cloudquery-opensource

yml => yaml
  website/pages/docs/plugins/sources/vercel/configuration.md
Owners: none

chore: Update plugin `source-gcp` version to v5.0.0
  website/versions/source-gcp.json
Owners: none
