Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update plugin-sdk for postgresql to v1.5.3 (#4651)
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

chore: Update plugin `source-aws` version to v5.1.2 (#4618)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `destination-csv` version to v1.1.9 (#4595)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(gcp): Simplify iterator usage (#4590)
  plugins/source/gcp/resources/services/kms/crypto_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
Owners: @yevgenypats, @disq

chore: Update plugin `source-aws` version to v5.2.0 (#4633)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `destination-sqlite` version to v1.0.6 (#4602)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `source-azure` version to v1.4.6 (#4592)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

fix(aws): Ensure all AWS table names are plural (#4341)
  plugins/source/aws/codegen/recipes/apprunner.go
  plugins/source/aws/codegen/recipes/base.go
  plugins/source/aws/codegen/recipes/ec2.go
  plugins/source/aws/codegen/recipes/lightsail.go
  plugins/source/aws/codegen/recipes/xray.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_apprunner_auto_scaling_configurations.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_connectors.md
  plugins/source/aws/docs/tables/aws_apprunner_vpc_ingress_connections.md
  plugins/source/aws/docs/tables/aws_ec2_regional_configs.md
  plugins/source/aws/docs/tables/aws_lightsail_disk_snapshots.md
  plugins/source/aws/docs/tables/aws_lightsail_disks.md
  plugins/source/aws/docs/tables/aws_xray_encryption_configs.md
  plugins/source/aws/policies/queries/ec2/ebs_encryption_by_default_disabled.sql
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_fetch.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configuration_mock_test.go
  plugins/source/aws/resources/services/apprunner/auto_scaling_configurations.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_connector_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_connectors.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_fetch.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connection_mock_test.go
  plugins/source/aws/resources/services/apprunner/vpc_ingress_connections.go
  plugins/source/aws/resources/services/ec2/regional_config_fetch.go
  plugins/source/aws/resources/services/ec2/regional_config_mock_test.go
  plugins/source/aws/resources/services/ec2/regional_configs.go
  plugins/source/aws/resources/services/lightsail/disk_snapshots.go
  plugins/source/aws/resources/services/lightsail/disks.go
  plugins/source/aws/resources/services/lightsail/disks_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_fetch.go
  plugins/source/aws/resources/services/xray/encryption_config_mock_test.go
  plugins/source/aws/resources/services/xray/encryption_configs.go
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-aws` version to v5.1.1 (#4609)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

feat(website): Chose guide based on OS (#4583)
  website/components/mdx/_configure.mdx
  website/components/mdx/_download-linux.mdx
  website/components/mdx/_download-macOS.mdx
  website/components/mdx/_download-windows.mdx
  website/components/mdx/_getting-started-download-section.mdx
  website/components/mdx/_intro.mdx
  website/middleware.ts
  website/pages/docs/quickstart/_meta.json
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.17 (#4594)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.10 (#4578)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v6.0.0 (#4634)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v5.1.2 (#4615)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go to v1.44.137 (#4611)
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(deps): Update CloudQuery monorepo modules (#4608)
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update plugin `source-aws` version to v6.0.0 (#4635)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(ci): Error when a PR changes too many files (#4483)
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update plugin `source-heroku` version to v3.0.6 (#4598)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.14.0 (#4613)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-destination-test v1.3.2 (#4587)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v5.1.0 (#4591)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-gcp` version to v3.0.0 (#4607)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

fix(deps): Update plugin-sdk for azure to v1.5.3 (#4641)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-terraform v1.2.20 (#4637)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.5.3 (#4648)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.5.3 (#4645)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

chore(main): Release plugins-source-aws v5.1.1 (#4606)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.16 (#4593)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Use same phrasing for all plugins README (#4625)
  plugins/source/aws/README.md
  plugins/source/azure/README.md
  plugins/source/cloudflare/README.md
  plugins/source/digitalocean/README.md
  plugins/source/gcp/README.md
  plugins/source/github/README.md
  plugins/source/heroku/README.md
  plugins/source/k8s/README.md
  plugins/source/okta/README.md
  plugins/source/terraform/README.md
Owners: @hermanschaaf, @yevgenypats, @erezrokah, @cloudquery/cloudquery-opensource, @disq

chore(deps): Update dependency cloudquery/cloudquery to v1.3.17 (#4626)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

fix(deps): Update plugin-sdk for github to v1.5.3 (#4647)
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore: Update plugin `source-github` version to v1.2.15 (#4597)
  sites/versions/v2/source-github.json
Owners: none

chore(main): Release plugins-source-heroku v3.0.6 (#4577)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

doc: Add performance tuning section (#4639)
  website/components/mdx/_configure.mdx
  website/pages/docs/advanced-topics/_meta.json
  website/pages/docs/advanced-topics/performance-tuning.md
  website/pages/docs/advanced-topics/rate-limiting.md
  website/pages/docs/quickstart/linux.mdx
  website/pages/docs/quickstart/macOS.mdx
  website/pages/docs/quickstart/windows.mdx
  website/pages/docs/reference/cli/_meta.json
  website/pages/docs/reference/source-spec.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.19 (#4614)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

fix: Close log file and analytics client on errors (#4477)
  cli/cmd/doc_test.go
  cli/cmd/migrate_test.go
  cli/cmd/root.go
  cli/cmd/sync_test.go
  cli/cmd/testdata/dest.test.yml
  cli/cmd/testdata/source.test.yml
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  cli/go.mod
  cli/go.sum
  cli/main.go
Owners: @yevgenypats

chore(main): Release plugins-destination-postgresql v1.7.11 (#4660)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.2 (#4603)
  sites/versions/v2/destination-test.json
Owners: none

chore(main): Release plugins-destination-csv v1.1.9 (#4574)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
