Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

Update website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-improvements-Q1-2022.md
Owners: none

Update website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-improvements-Q1-2022.md
Owners: none

Update website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-improvements-Q1-2022.md
Owners: none

Fix spacing
  website/pages/blog/aws-improvements-Q1-2022.md
Owners: none

Allow sync to complete when one or more accounts fail to authenticate
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

working snowflake
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/transformer.go
  plugins/destination/snowflake/client/write.go
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
  plugins/destination/snowflake/utilities/generate_copy_into.py
Owners: @cloudquery/cloudquery-opensource

update docs
  plugins/destination/snowflake/README.md
  plugins/destination/snowflake/guide.md
Owners: @cloudquery/cloudquery-opensource

add workflow
  .github/workflows/dest_snowflake.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

remove old files
  plugins/destination/snowflake/utilities/generate_copy_into.py
Owners: @cloudquery/cloudquery-opensource

more nits
  plugins/destination/snowflake/Makefile
Owners: @cloudquery/cloudquery-opensource

add some more docs and workflows
  .github/pr_labeler.yml
  contributing/adding_a_new_plugin_to_cq_monorepo.md
  release-please-config.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats

more stuff
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

fix: Allow sync to complete when one or more accounts fail to authenticate (#5030)
  plugins/source/aws/client/client.go
Owners: @hermanschaaf, @yevgenypats

chore(main): Release plugins-source-aws v7.2.1
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

Update plugins/destination/snowflake/README.md
  plugins/destination/snowflake/README.md
Owners: @cloudquery/cloudquery-opensource

Update plugins/destination/snowflake/client/client.go
  plugins/destination/snowflake/client/client.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v7.2.1 (#5019)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for aws to v1.8.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.8.1
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.8.1
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.8.1
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.8.1
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.8.1
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.8.1
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.8.1
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.8.1
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.8.1
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.8.1
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.8.1
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.8.1
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.8.1
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.8.1
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.8.1
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.8.1 (#5032)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

update to latest sdk
  plugins/destination/snowflake/go.mod
  plugins/destination/snowflake/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.8.1 (#5033)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix vale
  contributing/adding_a_new_plugin_to_cq_monorepo.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.8.1 (#5034)
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.8.1 (#5035)
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.8.1 (#5036)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none
