Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

add new ses resources
  plugins/source/aws/client/mocks/ses.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ses.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_active_receipt_rule_sets.md
  plugins/source/aws/docs/tables/aws_ses_custom_verification_email_templates.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_mock_test.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_fetch.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

feat(aws): AWS SES resources: `aws_ses_active_receipt_rule_sets` & `aws_ses_custom_verification_email_templates` (#5792)
  plugins/source/aws/client/mocks/ses.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/ses.go
  plugins/source/aws/codegen/recipes/ses.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_ses_active_receipt_rule_sets.md
  plugins/source/aws/docs/tables/aws_ses_custom_verification_email_templates.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_fetch.go
  plugins/source/aws/resources/services/ses/active_receipt_rule_sets_mock_test.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_fetch.go
  plugins/source/aws/resources/services/ses/custom_verification_email_templates_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

add elastic transcoder resources
  plugins/source/aws/client/mocks/elastictranscoder.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/elastictranscoder.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/elastictranscoder.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipeline_jobs.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipelines.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_presets.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_mock_test.go
  plugins/source/aws/resources/services/elastictranscoder/presets.go
  plugins/source/aws/resources/services/elastictranscoder/presets_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/presets_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add Elastic Transcoder resources (#5804)
  plugins/source/aws/client/mocks/elastictranscoder.go
  plugins/source/aws/client/services.go
  plugins/source/aws/client/services/elastictranscoder.go
  plugins/source/aws/codegen/main.go
  plugins/source/aws/codegen/recipes/elastictranscoder.go
  plugins/source/aws/codegen/services/clients.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipeline_jobs.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_pipelines.md
  plugins/source/aws/docs/tables/aws_elastictranscoder_presets.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs.go
  plugins/source/aws/resources/services/elastictranscoder/pipeline_jobs_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/pipelines_mock_test.go
  plugins/source/aws/resources/services/elastictranscoder/presets.go
  plugins/source/aws/resources/services/elastictranscoder/presets_fetch.go
  plugins/source/aws/resources/services/elastictranscoder/presets_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Migrate GCP to new proto imports (#5803)
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
  plugins/source/gcp/resources/services/compute/projects_fetch.go
  plugins/source/gcp/resources/services/compute/projects_mock_test.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
Owners: @yevgenypats, @disq

okta-example-queries
  website/pages/docs/plugins/sources/okta/overview.md
Owners: none

Fix heading
  website/pages/docs/plugins/sources/okta/overview.md
Owners: none

Slack plugin blog post
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

refactor elasticsearch
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/aws/Makefile
  plugins/source/aws/codegen/recipes/elasticsearch.go
  plugins/source/aws/docs/tables/aws_elasticsearch_domains.md
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/domains_fetch.go
  plugins/source/aws/resources/services/elasticsearch/domains_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix(aws)!: Fix PK in `aws_elasticsearch_domains` (#5806)
  plugins/source/aws/CONTRIBUTING.md
  plugins/source/aws/Makefile
  plugins/source/aws/codegen/recipes/elasticsearch.go
  plugins/source/aws/docs/tables/aws_elasticsearch_domains.md
  plugins/source/aws/resources/services/elasticsearch/domains.go
  plugins/source/aws/resources/services/elasticsearch/domains_fetch.go
  plugins/source/aws/resources/services/elasticsearch/domains_mock_test.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch.go
  plugins/source/aws/resources/services/elasticsearch/tags_fetch_mock_test.go
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5808)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

Fix links
  website/pages/blog/introducing-the-slack-source-plugin.md
Owners: none

Refactor a bit and add more tests
  plugins/source/slack/client/client.go
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/rate_limiting_test.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  website/pages/docs/plugins/sources/slack/overview.md
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.6
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.21.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecs to v1.22.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/eks to v1.26.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.38.1
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kinesis to v1.16.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.36.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/config to v1.18.6 (#5810)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

chore(main): Release plugins-source-github v1.4.1
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.3
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-crowdstrike v1.0.0
  .release-please-manifest.json
  plugins/source/crowdstrike/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.1.2
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-vercel v1.0.1
  .release-please-manifest.json
  plugins/source/vercel/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-snowflake v1.0.7
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-okta v1.4.2
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.8
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.2
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.24
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v2.2.0
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-postgresql v1.9.0
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.1.2
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.2
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.14
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-tailscale v1.0.1
  .release-please-manifest.json
  plugins/source/tailscale/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.2
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-digitalocean v3.1.2
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
