Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-source-heroku v3.0.9 (#4930)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.18
  sites/versions/v2/source-github.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.9
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-gcp` version to v3.0.5
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-k8s v2.4.3 (#4931)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.4.3
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-okta v1.3.13 (#4932)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.13
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.9 (#4933)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-terraform v1.2.24 (#4934)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.9
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore(main): Release plugins-destination-test v1.3.5 (#4935)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.24
  sites/versions/v2/source-terraform.json
Owners: none

chore(main): Release plugins-source-test v1.3.20 (#4936)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

more fixes for snow
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/types.go
  plugins/destination/snowflake/guide.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `destination-test` version to v1.3.5
  sites/versions/v2/destination-test.json
Owners: none

fmt
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/snowflake/client/migrate.go
  plugins/destination/snowflake/client/read.go
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-test` version to v1.3.20
  sites/versions/v2/source-test.json
Owners: none

chore(main): Release plugins-destination-postgresql v1.7.14 (#4985)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.14
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore: Update plugin `source-aws` version to v7.2.0 (#4987)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore(deps): Update CloudQuery monorepo modules
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

chore: Update CLI version to v2.0.21 (#4986)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-azure` version to v1.4.9 (#4988)
  plugins/source/azure/docs/configuration.md
  sites/versions/v2/source-azure.json
  website/pages/docs/recipes/sources/azure.md
Owners: @erezrokah, @yevgenypats

chore: Update plugin `destination-csv` version to v1.1.12 (#4989)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.20 (#4990)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-digitalocean` version to v3.0.3 (#4991)
  sites/versions/v2/source-digitalocean.json
Owners: none

chore: Update plugin `source-github` version to v1.2.18 (#4992)
  sites/versions/v2/source-github.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.9 (#4993)
  plugins/source/heroku/docs/configuration.md
  sites/versions/v2/source-heroku.json
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-gcp` version to v3.0.5 (#4994)
  plugins/source/gcp/docs/configuration.md
  sites/versions/v2/source-gcp.json
  website/pages/docs/recipes/sources/gcp-k8s.md
  website/pages/docs/recipes/sources/gcp.md
Owners: @yevgenypats, @disq

chore: Update plugin `source-k8s` version to v2.4.3 (#4995)
  plugins/source/k8s/docs/configuration.md
  sites/versions/v2/source-k8s.json
  website/pages/docs/recipes/sources/gcp-k8s.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-okta` version to v1.3.13 (#4996)
  sites/versions/v2/source-okta.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.9 (#4997)
  sites/versions/v2/destination-sqlite.json
  website/pages/docs/recipes/destinations/sqlite.md
Owners: none

chore: Update plugin `destination-test` version to v1.3.5 (#4999)
  sites/versions/v2/destination-test.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.24 (#4998)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update plugin `source-test` version to v1.3.20 (#5000)
  sites/versions/v2/source-test.json
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.14 (#5001)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(deps): Update CloudQuery monorepo modules (#5002)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
  plugins/source/aws/test/policy_cq_config.yml
  plugins/source/azure/test/policy_cq_config.yml
  plugins/source/gcp/test/policy_cq_config.yml
  plugins/source/k8s/test/policy_cq_config.yml
Owners: @yevgenypats, @hermanschaaf, @erezrokah, @disq, @cloudquery/cloudquery-opensource

Update configuration.md
  plugins/source/aws/docs/configuration.md
Owners: @hermanschaaf, @yevgenypats

add start for how to use cq for EventBridge findings
  website/pages/blog/_meta.json
  website/pages/blog/how-to-find-cross-account-aws-eventbridge-usage.md
Owners: none
