Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore: Update plugin `source-azure` version to v2.1.0
  website/versions/source-azure.json
Owners: none

chore: Update plugin `source-gcp` version to v5.0.0 (#5641)
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-azure` version to v2.1.0 (#5642)
  website/versions/source-azure.json
Owners: none

Change something in website to trigger Vercel
  website/pages/docs/plugins/sources/vercel/configuration.md
Owners: none

fix(website): Default to `Unpublished` in `getLatestVersion` (#5637)
  website/utils/versions.ts
Owners: none

fix(gcp-resources): Set primary keys for `gcp_resourcemanager_projects` (#5636)
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/docs/tables/gcp_resourcemanager_projects.md
  plugins/source/gcp/resources/services/resourcemanager/projects.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-gcp v5.1.0
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gcp v5.1.0 (#5646)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v5.1.0
  website/versions/source-gcp.json
Owners: none

chore: Update plugin `source-gcp` version to v5.1.0 (#5648)
  website/versions/source-gcp.json
Owners: none

chore: Fix lint targets (#5562)
  plugins/destination/bigquery/Makefile
  plugins/destination/csv/Makefile
  plugins/destination/postgresql/Makefile
  plugins/destination/snowflake/Makefile
  plugins/destination/sqlite/Makefile
  plugins/destination/test/Makefile
  plugins/source/digitalocean/Makefile
  plugins/source/gcp/Makefile
  plugins/source/heroku/Makefile
  plugins/source/terraform/Makefile
  plugins/source/test/Makefile
Owners: @cloudquery/cloudquery-opensource, @yevgenypats, @disq

chore(main): Release plugins-source-gcp v5.1.1
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v2.1.1
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(website): Show correct Vercel version in docs
  website/pages/docs/plugins/sources/vercel/configuration.md
  website/pages/docs/plugins/sources/vercel/overview.md
Owners: none

chore(main): Release plugins-source-azure v2.1.1 (#5650)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(gcp): Remove error wrapping
  plugins/source/gcp/resources/services/bigquery/datasets_fetch.go
  plugins/source/gcp/resources/services/bigquery/tables_fetch.go
  plugins/source/gcp/resources/services/dns/managed_zones_fetch.go
  plugins/source/gcp/resources/services/iam/roles_fetch.go
  plugins/source/gcp/resources/services/iam/service_account_keys_fetch.go
  plugins/source/gcp/resources/services/kms/keyrings_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
  plugins/source/gcp/resources/services/resourcemanager/project_policies_fetch.go
  plugins/source/gcp/resources/services/storage/bucket_policies_fetch.go
Owners: @yevgenypats, @disq

fix(gcp-resources): Add `projects/` prefix when listing IAM roles
  plugins/source/gcp/resources/services/iam/roles_fetch.go
Owners: @yevgenypats, @disq

chore(main): Release plugins-source-gcp v5.1.1 (#5651)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

fix(website): Show correct Vercel version in docs (#5652)
  website/pages/docs/plugins/sources/vercel/configuration.md
  website/pages/docs/plugins/sources/vercel/overview.md
Owners: none

chore: Update plugin `source-gcp` version to v5.1.1
  website/versions/source-gcp.json
Owners: none

Update client.go
  plugins/source/gitlab/client/client.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-azure` version to v2.1.1
  website/versions/source-azure.json
Owners: none

chore: Update plugin `source-gcp` version to v5.1.1 (#5657)
  website/versions/source-gcp.json
Owners: none

Update users.go
  plugins/source/gcp/resources/services/sql/users.go
Owners: @yevgenypats, @disq

Update client.go
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

chore: Update plugin `source-azure` version to v2.1.1 (#5658)
  website/versions/source-azure.json
Owners: none

chore(ci-lint): Add some markdown lint rules
  .github/styles/proselint/BestPractice.yml
  .github/styles/proselint/RealWorld.yml
  website/pages/blog/introducing-the-gandi-source-plugin.md
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore(blog): GCP cost with BigQuery
  website/pages/blog/_meta.json
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/public/images/blog/analysing-gcp-cost-with-bigquery-and-cq/bigquery_billing.png
Owners: none

vale
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

update title
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

credit community
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
  website/pages/blog/analysing-gcp-cost-with-bigquery-and-cq.md
Owners: none

Update client.go
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5664)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/kms to v1.19.3
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
