Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

tidy
  plugins/source/tailscale/go.sum
Owners: none

Update plugins/source/tailscale/resources/plugin/plugin_test.go
  plugins/source/tailscale/resources/plugin/plugin_test.go
Owners: @cloudquery/cloudquery-opensource

fix text
  plugins/source/tailscale/resources/plugin/plugin_test.go
Owners: @cloudquery/cloudquery-opensource

vendor?
  plugins/source/tailscale/go.sum
Owners: none

due diligence
  .github/workflows/source_tailscale.yml
  .github/workflows/wait_for_required_workflows.yml
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/client/spec.go
  release-please-config.json
  website/pages/docs/plugins/sources/overview.mdx
  website/pages/docs/plugins/sources/tailscale/_meta.json
  website/pages/docs/plugins/sources/tailscale/configuration.md
  website/pages/docs/plugins/sources/tailscale/overview.md
  website/pages/docs/plugins/sources/tailscale/tables.md
  website/versions/source-tailscale.json
Owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource

docs & due diligence
  plugins/source/tailscale/.goreleaser.yaml
  plugins/source/tailscale/.pre-commit-config.yaml
  plugins/source/tailscale/CHANGELOG.md
  plugins/source/tailscale/README.md
Owners: @cloudquery/cloudquery-opensource

rm built binary before status check
  .github/workflows/source_tailscale.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

ignore bin
  plugins/source/tailscale/.gitignore
Owners: @cloudquery/cloudquery-opensource

expose endpoint_url
  plugins/source/tailscale/client/spec.go
  plugins/source/tailscale/client/testing.go
  website/pages/docs/plugins/sources/tailscale/configuration.md
  website/pages/docs/plugins/sources/tailscale/overview.md
Owners: @cloudquery/cloudquery-opensource

pr comments
  plugins/source/tailscale/Makefile
  plugins/source/tailscale/client/client.go
  plugins/source/tailscale/client/interface.go
  plugins/source/tailscale/client/testing.go
  plugins/source/tailscale/go.mod
  plugins/source/tailscale/go.sum
Owners: @cloudquery/cloudquery-opensource

feat(azuredevops): Create client, fetch project ids
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/client/spec.go
  plugins/source/azuredevops/docs/tables/README.md
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/plugin.go
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
Owners: @cloudquery/cloudquery-opensource

chore: Github Actions: Print `git status -s` on failure
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

refactor: Embed connection
  plugins/source/azuredevops/client/client.go
Owners: @cloudquery/cloudquery-opensource

refactor: Simplify loop
  plugins/source/azuredevops/resources/services/core/projects.go
Owners: @cloudquery/cloudquery-opensource

feat: Update to latest SDK
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/services/core/projects.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-azure v2.0.0 (#5220)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-azure` version to v2.0.0
  website/versions/source-azure.json
Owners: none

chore: Github Actions: Print `git status -s` on failure (#5612)
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_cloudflare.yml
  .github/workflows/source_crowdstrike.yml
  .github/workflows/source_datadog.yml
  .github/workflows/source_digitalocean.yml
  .github/workflows/source_gandi.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_github.yml
  .github/workflows/source_heroku.yml
  .github/workflows/source_okta.yml
  .github/workflows/source_terraform.yml
  .github/workflows/source_test.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

chore: Update plugin `source-azure` version to v2.0.0 (#5615)
  website/versions/source-azure.json
Owners: none

feat(azuredevops): Create client, fetch project ids (#5611)
  plugins/source/azuredevops/client/client.go
  plugins/source/azuredevops/client/spec.go
  plugins/source/azuredevops/docs/tables/README.md
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/plugin.go
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
Owners: @cloudquery/cloudquery-opensource

feat: Add codegen
  plugins/source/azuredevops/Makefile
  plugins/source/azuredevops/codegen/main.go
  plugins/source/azuredevops/codegen/recipes/base.go
  plugins/source/azuredevops/codegen/recipes/core.go
  plugins/source/azuredevops/codegen/recipes/templates/resource.go.tpl
  plugins/source/azuredevops/codegen/recipes/templates/tables.go.tpl
  plugins/source/azuredevops/docs/tables/azuredevops_core_projects.md
  plugins/source/azuredevops/go.mod
  plugins/source/azuredevops/go.sum
  plugins/source/azuredevops/resources/plugin/tables.go
  plugins/source/azuredevops/resources/services/core/projects.go
  plugins/source/azuredevops/resources/services/core/projects_fetch.go
Owners: @cloudquery/cloudquery-opensource

Crazy org querying in New()
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/multiplex.go
  plugins/source/gcp/resources/services/resourcemanager/folders_fetch.go
Owners: @yevgenypats, @disq

Remove leaky ctx
  plugins/source/gcp/client/client.go
  plugins/source/gcp/client/testing.go
Owners: @yevgenypats, @disq

gosimple
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

feat(gcp): Add SQL users
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_sql_instances.md
  plugins/source/gcp/docs/tables/gcp_sql_users.md
  plugins/source/gcp/resources/services/sql/instances.go
  plugins/source/gcp/resources/services/sql/instances_mock_test.go
  plugins/source/gcp/resources/services/sql/users.go
  plugins/source/gcp/resources/services/sql/users_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

feat(gcp): Add SQL users (#5622)
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/docs/tables/gcp_sql_instances.md
  plugins/source/gcp/docs/tables/gcp_sql_users.md
  plugins/source/gcp/resources/services/sql/instances.go
  plugins/source/gcp/resources/services/sql/instances_mock_test.go
  plugins/source/gcp/resources/services/sql/users.go
  plugins/source/gcp/resources/services/sql/users_fetch.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

Add more resources
  plugins/source/slack/client/client.go
  plugins/source/slack/client/rate_limiting.go
  plugins/source/slack/client/services/slack.go
  plugins/source/slack/codegen/main.go
  plugins/source/slack/codegen/recipes/conversations.go
  plugins/source/slack/codegen/recipes/files.go
  plugins/source/slack/codegen/recipes/teams.go
  plugins/source/slack/codegen/recipes/users.go
  plugins/source/slack/codegen/services/generate.go
  plugins/source/slack/main.go
  plugins/source/slack/resources/plugin/tables.go
  plugins/source/slack/resources/services/access_logs/logins_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_bookmarks_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_histories.go
  plugins/source/slack/resources/services/conversations/conversation_histories_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members.go
  plugins/source/slack/resources/services/conversations/conversation_members_fetch.go
  plugins/source/slack/resources/services/conversations/conversation_members_mock_test.go
  plugins/source/slack/resources/services/conversations/conversation_replies.go
  plugins/source/slack/resources/services/conversations/conversation_replies_fetch.go
  plugins/source/slack/resources/services/conversations/conversations.go
  plugins/source/slack/resources/services/conversations/conversations_fetch.go
  plugins/source/slack/resources/services/conversations/conversations_mock_test.go
  plugins/source/slack/resources/services/conversations/errors.go
  plugins/source/slack/resources/services/conversations/models/conversation.go
  plugins/source/slack/resources/services/files/files.go
  plugins/source/slack/resources/services/files/files_fetch.go
  plugins/source/slack/resources/services/files/files_mock_test.go
  plugins/source/slack/resources/services/teams/teams.go
  plugins/source/slack/resources/services/teams/teams_fetch.go
  plugins/source/slack/resources/services/teams/teams_mock_test.go
  plugins/source/slack/resources/services/users/user_presences.go
  plugins/source/slack/resources/services/users/user_presences_fetch.go
  plugins/source/slack/resources/services/users/users.go
  plugins/source/slack/resources/services/users/users_fetch.go
Owners: @cloudquery/cloudquery-opensource

Update docs
  plugins/source/slack/README.md
  plugins/source/slack/client/mocks/slack.go
  plugins/source/slack/docs/tables/README.md
  plugins/source/slack/docs/tables/slack_conversation_bookmarks.md
  plugins/source/slack/docs/tables/slack_conversation_histories.md
  plugins/source/slack/docs/tables/slack_conversation_members.md
  plugins/source/slack/docs/tables/slack_conversation_replies.md
  plugins/source/slack/docs/tables/slack_conversations.md
  plugins/source/slack/docs/tables/slack_files.md
  plugins/source/slack/docs/tables/slack_teams.md
  plugins/source/slack/docs/tables/slack_user_presences.md
  plugins/source/slack/docs/tables/slack_users.md
Owners: @cloudquery/cloudquery-opensource

Add website tables
  website/pages/docs/plugins/sources/slack/tables.md
Owners: none

Docs
  website/pages/docs/plugins/sources/slack/_meta.json
  website/pages/docs/plugins/sources/slack/configuration.md
  website/pages/docs/plugins/sources/slack/overview.md
  website/versions/source-slack.json
Owners: none

Clean changelog
  plugins/source/slack/CHANGELOG.md
Owners: none

Update .goreleaser.yaml
  plugins/source/slack/.goreleaser.yaml
Owners: @cloudquery/cloudquery-opensource

Update docs
  website/pages/docs/plugins/sources/_meta.json
  website/pages/docs/plugins/sources/overview.mdx
Owners: none

Get orgs
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

fix: Update endpoints
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

fix: Update endpoints (#5628)
  plugins/source/aws/client/data/partition_service_region.json
Owners: @hermanschaaf, @yevgenypats

feat(azure): Add azure_compute_skus
  plugins/source/azure/codegen2/recipes/compute_e.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/compute/skus.go
  plugins/source/azure/resources/services/compute/skus_mock_test.go
Owners: @erezrokah, @yevgenypats

fix nit
  plugins/source/gcp/client/client.go
Owners: @yevgenypats, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/guardduty to v1.16.4
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/cloudtrail to v1.21.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none
