Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(docs): Remove stale destination plugins readme (#3946)
  plugins/README.md
  plugins/destination/README.md
Owners: @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.5 (#3980)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for csv to v1.0.4 (#3878)
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.1.2 (#3985)
  cli/go.mod
  cli/go.sum
Owners: none

chore: Update plugin `destination-csv` version to v1.0.7 (#3895)
  sites/versions/v2/destination-csv.json
  website/pages/docs/recipes/destinations/csv.md
Owners: none

chore(website): Use Github shield in top bar (#3890)
  website/theme.config.tsx
Owners: none

chore: Update CLI version to v2.0.3 (#3949)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore: Update plugin `source-test` version to v1.3.8 (#3902)
  sites/versions/v2/source-test.json
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.1.0 (#3919)
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

feat(aws): ECR Image Scan Findings (#3607)
  plugins/source/aws/codegen/recipes/ecr.go
  plugins/source/aws/docs/tables/aws_ecr_repository_image_scan_findings.md
  plugins/source/aws/docs/tables/aws_ecr_repository_images.md
  plugins/source/aws/resources/services/ecr/models/ecr.go
  plugins/source/aws/resources/services/ecr/repositories_fetch.go
  plugins/source/aws/resources/services/ecr/repositories_mock_test.go
  plugins/source/aws/resources/services/ecr/repository_image_scan_findings.go
  plugins/source/aws/resources/services/ecr/repository_images.go
Owners: @hermanschaaf, @yevgenypats

feat: Update destination to more managed SDK (#3842)
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/client_test.go
  plugins/destination/csv/client/read.go
  plugins/destination/csv/client/transformer.go
  plugins/destination/csv/client/write.go
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/client/read.go
  plugins/destination/postgresql/client/transformer.go
  plugins/destination/postgresql/client/types.go
  plugins/destination/postgresql/client/write.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

feat(okta): Add groups, group users, applications, app users (#3766)
  plugins/source/okta/docs/tables/README.md
  plugins/source/okta/docs/tables/okta_application_group_assignments.md
  plugins/source/okta/docs/tables/okta_application_users.md
  plugins/source/okta/docs/tables/okta_applications.md
  plugins/source/okta/docs/tables/okta_group_users.md
  plugins/source/okta/docs/tables/okta_groups.md
  plugins/source/okta/resources/plugin/plugin.go
  plugins/source/okta/resources/services/application_group_assignments.go
  plugins/source/okta/resources/services/application_users.go
  plugins/source/okta/resources/services/applications.go
  plugins/source/okta/resources/services/group_users.go
  plugins/source/okta/resources/services/groups.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for test to v1.1.2 (#4005)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.0.4 (#3888)
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

chore(website): Update AWS Recipe (#3841)
  website/pages/docs/recipes/sources/aws.md
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.1.0 (#3922)
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

chore: Update README.md: providers -> plugins (#3958)
  README.md
Owners: none

chore: Update plugin `source-okta` version to v1.3.0 (#3951)
  sites/versions/v2/source-okta.json
Owners: none

chore(main): Release plugins-source-cloudflare v2.2.8 (#3932)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.0 (#3874)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-source-azure v1.3.8 (#3930)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.8 (#3940)
  plugins/source/cloudflare/docs/configuration.md
  sites/versions/v2/source-cloudflare.json
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-aws v4.10.0 (#3959)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.3.7 (#3836)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.7.1 (#4017)
  sites/versions/v2/destination-postgresql.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/destinations/postgresql.md
  website/pages/docs/recipes/overview.md
  website/pages/docs/reference/destination-spec.md
Owners: none

chore(main): Release cli v2.0.1 (#3891)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

chore: Update plugin `source-aws` version to v4.9.0 (#3960)
  plugins/source/aws/docs/configuration.md
  sites/versions/v2/source-aws.json
  website/pages/blog/migrating-from-v0-to-v1.md
  website/pages/docs/deployment/github-actions.md
  website/pages/docs/quickstart.mdx
  website/pages/docs/recipes/overview.md
  website/pages/docs/recipes/sources/aws.md
  website/pages/docs/reference/source-spec.md
Owners: @hermanschaaf, @yevgenypats

chore: Update CLI version to v2.0.4 (#3970)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

chore(main): Release plugins-source-heroku v2.2.9 (#3935)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for azure to v1.2.0 (#4037)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-github v1.2.6 (#4006)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

refactor: Remove unsed option from Heroku code gen (#4128)
  plugins/source/heroku/codegen/main.go
Owners: @cloudquery/cloudquery-opensource

chore: Update CLI version to v2.0.7 (#4083)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

feat(aws): Support RDS Database Versions (#4121)
  plugins/source/aws/codegen/recipes/rds.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_rds_cluster_parameters.md
  plugins/source/aws/docs/tables/aws_rds_engine_versions.md
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/rds/cluster_parameters.go
  plugins/source/aws/resources/services/rds/cluster_parameters_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions.go
  plugins/source/aws/resources/services/rds/engine_versions_fetch.go
  plugins/source/aws/resources/services/rds/engine_versions_mock_test.go
  website/pages/docs/recipes/sources/aws.md
Owners: @hermanschaaf, @yevgenypats

chore: Update plugin `source-terraform` version to v1.2.11 (#4127)
  sites/versions/v2/source-terraform.json
Owners: none

chore: Update CLI version to v2.0.8 (#4139)
  sites/versions/v2/cli.json
  sites/versions/vercel.json
Owners: none

fix(deps): Update plugin-sdk for okta to v1.2.0 (#4046)
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.3.10 (#4052)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-azure v1.3.12 (#4159)
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-csv v1.1.4 (#4162)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
