Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(main): Release plugins-destination-csv v1.1.14
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/mq to v1.13.17 (#5567)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/wafv2 to v1.23.3 (#5568)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ec2 to v1.76.0 (#5569)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/rds to v1.34.0 (#5570)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v7.4.0
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(postgres-plugin): added support to use custom schemaname in postres plugin
  plugins/destination/postgresql/client/client.go
Owners: @cloudquery/cloudquery-opensource

fix: Fix deadlock in BigQuery destination if error occurs during write (#5550)
  plugins/destination/bigquery/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-bigquery v1.1.2
  .release-please-manifest.json
  plugins/destination/bigquery/CHANGELOG.md
Owners: none

fix: Fix potential deadlock in Snowflake destination (#5553)
  plugins/destination/snowflake/client/write.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-snowflake v1.0.6
  .release-please-manifest.json
  plugins/destination/snowflake/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-cloudflare v2.3.1 (#5461)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-datadog v1.0.2 (#5463)
  .release-please-manifest.json
  plugins/source/datadog/CHANGELOG.md
Owners: none

chore: Update plugin `source-cloudflare` version to v2.3.1
  website/versions/source-cloudflare.json
Owners: none

chore(main): Release plugins-source-okta v1.4.1 (#5464)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore: Update plugin `source-datadog` version to v1.0.2
  website/versions/source-datadog.json
Owners: none

chore(main): Release plugins-source-gandi v1.1.1 (#5465)
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-k8s v2.5.1 (#5466)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `source-gandi` version to v1.1.1
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `source-okta` version to v1.4.1
  website/versions/source-okta.json
Owners: none

chore(main): Release plugins-source-digitalocean v3.1.1 (#5467)
  .release-please-manifest.json
  plugins/source/digitalocean/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.5.1
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-digitalocean` version to v3.1.1
  website/versions/source-digitalocean.json
Owners: none

chore(main): Release plugins-destination-csv v1.1.14 (#5468)
  .release-please-manifest.json
  plugins/destination/csv/CHANGELOG.md
Owners: none

chore: Update plugin `destination-csv` version to v1.1.14
  website/versions/destination-csv.json
Owners: none

chore: Update plugin `destination-csv` version to v1.1.14 (#5580)
  website/versions/destination-csv.json
Owners: none

chore(main): Release plugins-source-gcp v4.0.0 (#5469)
  .release-please-manifest.json
  plugins/source/gcp/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.1.1 (#5471)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-gcp` version to v4.0.0
  website/versions/source-gcp.json
Owners: none

chore(main): Release plugins-source-terraform v1.3.1 (#5472)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.1.1
  website/versions/source-heroku.json
Owners: none

chore: Update plugin `source-terraform` version to v1.3.1
  website/versions/source-terraform.json
Owners: none

chore: Update plugin `source-terraform` version to v1.3.1 (#5584)
  website/versions/source-terraform.json
Owners: none

chore(main): Release plugins-destination-sqlite v1.0.13 (#5473)
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

fix(azure): Remove azure_storage_deleted_accounts (#5551)
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen1/recipes/storage.go
  plugins/source/azure/codegen2/recipes/storage.go
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_storage_deleted_accounts.md
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/storage/deleted_accounts.go
  plugins/source/azure/resources/services/storage/deleted_accounts_mock_test.go
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-destination-postgresql v1.8.0 (#5474)
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.7 (#5477)
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore: Update plugin `destination-postgresql` version to v1.8.0
  website/versions/destination-postgresql.json
Owners: none

chore: Update plugin `destination-sqlite` version to v1.0.13
  website/versions/destination-sqlite.json
Owners: none

chore(main): Release plugins-source-github v1.4.0 (#5475)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
