Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-destination-gcs v1.0.2
  .release-please-manifest.json
  plugins/destination/gcs/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-aws v9.1.1
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-test v1.3.13
  .release-please-manifest.json
  plugins/destination/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-destination-sqlite v1.1.3
  .release-please-manifest.json
  plugins/destination/sqlite/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.1.4
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-fastly v1.0.1
  .release-please-manifest.json
  plugins/source/fastly/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-test v1.3.27
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-snyk v1.0.1 (#6188)
  .release-please-manifest.json
  plugins/source/snyk/CHANGELOG.md
Owners: none

chore: Update plugin `source-snyk` version to v1.0.1
  website/versions/source-snyk.json
Owners: none

chore(main): Release cli v2.0.30 (#6189)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen0/internal/azparser/recipe.go
  plugins/source/azure/codegen1/recipes/costmanagement.go
  plugins/source/azure/codegen1/recipes/postgresql.go
  plugins/source/azure/codegen1/recipes/sql.go
  plugins/source/azure/codegen2/recipes/costmanagement.go
  plugins/source/azure/codegen2/recipes/costmanagement_e.go
  plugins/source/azure/codegen2/recipes/postgresql.go
  plugins/source/azure/codegen2/recipes/sql.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/costmanagement/views_mock_test.go
Owners: @erezrokah, @yevgenypats

chore(main): Release plugins-source-test v1.3.27 (#6216)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore: Update CLI version to v2.0.30
  website/versions/cli.json
Owners: none

chore: Update plugin `source-test` version to v1.3.27
  website/versions/source-test.json
Owners: none

chore(main): Release plugins-source-fastly v1.0.1 (#6219)
  .release-please-manifest.json
  plugins/source/fastly/CHANGELOG.md
Owners: none

chore: Update plugin `source-fastly` version to v1.0.1
  website/versions/source-fastly.json
Owners: none

chore(main): Release plugins-source-aws v9.1.1 (#6257)
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v2.0.0 (#6265)
  website/versions/source-github.json
Owners: none

chore: Update plugin `source-azuredevops` version to v1.0.1 (#6266)
  website/versions/source-azuredevops.json
Owners: none

chore: Update plugin `source-datadog` version to v1.0.5 (#6267)
  website/versions/source-datadog.json
Owners: none

Start adding HN plugin
  plugins/source/hackernews/.gitignore
  plugins/source/hackernews/.goreleaser.yaml
  plugins/source/hackernews/CHANGELOG.md
  plugins/source/hackernews/CONTRIBUTING.md
  plugins/source/hackernews/Makefile
  plugins/source/hackernews/README.md
  plugins/source/hackernews/client/client.go
  plugins/source/hackernews/client/errors.go
  plugins/source/hackernews/client/errors_test.go
  plugins/source/hackernews/client/mocks/fastly.go
  plugins/source/hackernews/client/resolvers.go
  plugins/source/hackernews/client/services/hackernews.go
  plugins/source/hackernews/client/spec.go
  plugins/source/hackernews/client/testing.go
  plugins/source/hackernews/codegen/main.go
  plugins/source/hackernews/codegen/recipes/auth.go
  plugins/source/hackernews/codegen/recipes/recipes.go
  plugins/source/hackernews/codegen/services/generate.go
  plugins/source/hackernews/codegen/services/templates/service.go.tpl
  plugins/source/hackernews/codegen/tables/generate.go
  plugins/source/hackernews/codegen/tables/templates/tables.go.tpl
  plugins/source/hackernews/codegen/templates/resource.go.tpl
  plugins/source/hackernews/go.mod
  plugins/source/hackernews/go.sum
  plugins/source/hackernews/main.go
  plugins/source/hackernews/resources/plugin/plugin.go
  plugins/source/hackernews/resources/plugin/tables.go
  plugins/source/hackernews/resources/services/items/items.go
  plugins/source/hackernews/resources/services/items/items_fetch.go
  plugins/source/hackernews/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-vercel` version to v1.0.3 (#6268)
  website/versions/source-vercel.json
Owners: none

chore: Update plugin `source-pagerduty` version to v1.1.2 (#6269)
  website/versions/source-pagerduty.json
Owners: none

chore: Update plugin `source-tailscale` version to v1.1.0 (#6271)
  website/versions/source-tailscale.json
Owners: none

chore: Update plugin `source-slack` version to v1.0.2 (#6270)
  website/versions/source-slack.json
Owners: none

chore: Update plugin `source-gitlab` version to v1.1.0 (#6272)
  website/versions/source-gitlab.json
Owners: none

chore: Update plugin `source-crowdstrike` version to v1.0.2 (#6274)
  website/versions/source-crowdstrike.json
Owners: none

chore: Update plugin `source-aws` version to v9.1.1
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-digitalocean` version to v4.0.2 (#6275)
  website/versions/source-digitalocean.json
Owners: none

chore: Update plugin `source-heroku` version to v3.1.4 (#6277)
  website/versions/source-heroku.json
Owners: none

chore: Update plugin `source-okta` version to v2.0.2 (#6278)
  website/versions/source-okta.json
Owners: none

chore: Update plugin `source-salesforce` version to v1.0.1 (#6279)
  website/versions/source-salesforce.json
Owners: none

Tests
  plugins/source/stripe/.gitignore
  plugins/source/stripe/Makefile
  plugins/source/stripe/client/testing.go
  plugins/source/stripe/codegen/fixtures/main.go
  plugins/source/stripe/codegen/main.go
  plugins/source/stripe/codegen/recipes/account.go
  plugins/source/stripe/codegen/recipes/customer.go
  plugins/source/stripe/codegen/recipes/dispute.go
  plugins/source/stripe/codegen/recipes/invoice.go
  plugins/source/stripe/codegen/recipes/product.go
  plugins/source/stripe/codegen/recipes/recipes.go
  plugins/source/stripe/codegen/recipes/refund.go
  plugins/source/stripe/codegen/recipes/subscription.go
  plugins/source/stripe/codegen/templates/resource_test.go.tpl
  plugins/source/stripe/go.mod
  plugins/source/stripe/go.sum
  plugins/source/stripe/resources/services/accounts/accounts_test.go
  plugins/source/stripe/resources/services/customers/customers_test.go
  plugins/source/stripe/resources/services/disputes/disputes_test.go
  plugins/source/stripe/resources/services/invoices/invoice_items_test.go
  plugins/source/stripe/resources/services/invoices/invoices_test.go
  plugins/source/stripe/resources/services/products/products_test.go
  plugins/source/stripe/resources/services/refunds/refunds_test.go
  plugins/source/stripe/resources/services/subscriptions/subscriptions_test.go
  plugins/source/stripe/resources/testdata/testdata.go
  plugins/source/stripe/tools/tool.go
Owners: @cloudquery/cloudquery-opensource

Add accounts
  plugins/source/stripe/codegen/main.go
  plugins/source/stripe/codegen/recipes/account.go
  plugins/source/stripe/docs/tables/README.md
  plugins/source/stripe/docs/tables/stripe_accounts.md
  plugins/source/stripe/docs/tables/stripe_customers.md
  plugins/source/stripe/resources/plugin/plugin.go
  plugins/source/stripe/resources/services/accounts/accounts.go
  website/pages/docs/plugins/sources/stripe/tables.md
Owners: @cloudquery/cloudquery-opensource

Add customers
  plugins/source/stripe/codegen/main.go
  plugins/source/stripe/codegen/recipes/customer.go
  plugins/source/stripe/resources/plugin/plugin.go
  plugins/source/stripe/resources/services/customers/customers.go
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-cloudflare` version to v3.0.0 (#6280)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-terraform` version to v1.3.4 (#6281)
  website/versions/source-terraform.json
Owners: none

Rename access_token to be api_key, add docs
  plugins/source/stripe/client/client.go
  plugins/source/stripe/client/spec.go
  website/pages/docs/plugins/sources/stripe/_meta.json
  website/pages/docs/plugins/sources/stripe/overview.md
Owners: @cloudquery/cloudquery-opensource

chore: Update plugin `source-k8s` version to v2.5.4 (#6283)
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-gcp` version to v5.4.0 (#6284)
  website/versions/source-gcp.json
Owners: none
