Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

chore(deps): Update github-actions
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module cloud.google.com/go/apikeys to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module cloud.google.com/go/containeranalysis to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module cloud.google.com/go/domains to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module cloud.google.com/go/iam to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module cloud.google.com/go/run to v0.107.0
  plugins/source/gcp/go.mod
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/azcore to v1.2.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/avast/retry-go to v3.1.1
  plugins/source/digitalocean/go.mod
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.18.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.20.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.37.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.28.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore: Update code and docs
  plugins/source/aws/client/mocks/glue.go
  plugins/source/aws/client/services/glue.go
Owners: @hermanschaaf, @yevgenypats

chore: Update code and docs
  plugins/source/aws/client/mocks/athena.go
  plugins/source/aws/client/services/athena.go
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update github.com/gocarina/gocsv digest to c8ef781 (#5199)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update golang.org/x/exp digest to 6ab00d0 (#5200)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update google.golang.org/genproto digest to a2ec334 (#5201)
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/ecrpublic to v1.13.20 (#5203)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/gofrs/uuid to v4.3.1 (#5204)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(deps): Update github-actions (#5205)
  .github/workflows/deps_trigger_gen.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_plugin.yml
  .github/workflows/release_plugin_dest_snowflake.yml
  .github/workflows/release_plugin_dest_sqlite.yml
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/azcore to v1.2.0 (#5211)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/accessanalyzer to v1.18.0 (#5214)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/athena to v1.20.0 (#5215)
  plugins/source/aws/client/mocks/athena.go
  plugins/source/aws/client/services/athena.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/glue to v1.37.0 (#5216)
  plugins/source/aws/client/mocks/glue.go
  plugins/source/aws/client/services/glue.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/s3control to v1.28.0 (#5217)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/azidentity to v1.2.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update module github.com/cloudflare/cloudflare-go to v0.55.0
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update module github.com/digitalocean/godo to v1.91.1
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update module github.com/google/gnostic to v0.6.9
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update module github.com/googleapis/gax-go/v2 to v2.7.0
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update module github.com/okta/okta-sdk-golang/v2 to v2.16.0
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update module golang.org/x/oauth2 to v0.2.0
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

chore: Update code and docs
  plugins/source/cloudflare/docs/tables/cloudflare_account_members.md
  plugins/source/cloudflare/docs/tables/cloudflare_certificate_packs.md
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
Owners: @cloudquery/cloudquery-opensource

chore: Update code and docs
  plugins/source/digitalocean/docs/tables/digitalocean_database_replicas.md
  plugins/source/digitalocean/docs/tables/digitalocean_floating_ips.md
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
Owners: @cloudquery/cloudquery-opensource

chore(deps): Update github-actions
  .github/workflows/dest_csv.yml
  .github/workflows/dest_postgresql.yml
  .github/workflows/source_aws.yml
  .github/workflows/source_azure.yml
  .github/workflows/source_gcp.yml
  .github/workflows/source_k8s.yml
  .github/workflows/validate_pr_title.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(deps): Update module github.com/Azure/azure-sdk-for-go/sdk/azidentity to v1.2.0 (#5212)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update Website
  website/package.json
  website/yarn.lock
Owners: none

fix(deps): Update module github.com/cloudflare/cloudflare-go to v0.55.0 (#5223)
  plugins/source/cloudflare/docs/tables/cloudflare_account_members.md
  plugins/source/cloudflare/docs/tables/cloudflare_certificate_packs.md
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
  plugins/source/cloudflare/resources/services/accounts/account_members.go
  plugins/source/cloudflare/resources/services/certificate_packs/certificate_packs.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/digitalocean/godo to v1.91.1 (#5224)
  plugins/source/digitalocean/docs/tables/digitalocean_database_replicas.md
  plugins/source/digitalocean/docs/tables/digitalocean_floating_ips.md
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
  plugins/source/digitalocean/resources/services/databases/replicas.go
  plugins/source/digitalocean/resources/services/floating_ips/floating_ips.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update module github.com/google/gnostic to v0.6.9 (#5225)
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
