Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/xray to v1.15.0 (#4828)
  plugins/source/aws/client/mocks/xray.go
  plugins/source/aws/client/services/xray.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: @hermanschaaf, @yevgenypats

xray resource policy support
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

initial support
  plugins/source/aws/client/helpers.go
  plugins/source/aws/client/mocks/xray.go
  plugins/source/aws/client/services/xray.go
  plugins/source/aws/codegen/recipes/xray.go
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/plugin/tables.go
  plugins/source/aws/resources/services/xray/resource_policies.go
  plugins/source/aws/resources/services/xray/resource_policies_fetch.go
  plugins/source/aws/resources/services/xray/resource_policies_mock_test.go
Owners: @hermanschaaf, @yevgenypats

linting
  plugins/source/aws/resources/services/xray/resource_policies_fetch.go
  plugins/source/aws/resources/services/xray/resource_policies_mock_test.go
Owners: @hermanschaaf, @yevgenypats

doc: Update old blogs
  plugins/source/digitalocean/README.md
  website/pages/blog/announcing-cloudquery-history.md
  website/pages/blog/announcing-cloudquery-policies.md
  website/pages/blog/announcing-cloudquery-terraform-drift-detection.md
  website/pages/blog/announcing-policies-in-cloudquery-hub.md
  website/pages/blog/aws-improvements-Q1-2022.md
  website/pages/blog/aws-log4j-and-finding-unrestricted-outbound-access.md
  website/pages/blog/aws-sso-and-the-lost-iam-keys.md
  website/pages/blog/continuous-aws-iam-security-best-practices.md
  website/pages/blog/how-to-aws-cis-compliance.md
  website/pages/blog/introducing-cloudquery-sdk.md
  website/pages/blog/introducing-the-digital-ocean-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/open-source-cspm.md
  website/pages/blog/running-aws-foundational-security-best-practices-with-cloudquery-policies.md
  website/pages/blog/running-aws-pci-dss-with-cloudquery-policies.md
  website/pages/blog/running-nsa-and-cisa-kubernetes-hardening-tests-with-cloudquery-policies.md
Owners: @cloudquery/cloudquery-opensource

fix: Deprecation warning for 'introducing-provider-sdk'
  plugins/source/digitalocean/README.md
  website/pages/blog/introducing-cloudquery-sdk.md
  website/pages/blog/introducing-the-digital-ocean-cloudquery-provider.md
Owners: @cloudquery/cloudquery-opensource

Fix links below blogs
  website/pages/blog/_meta.json
  website/pages/blog/cloudquery-product-updates-1.md
Owners: none

Fix naming
  website/pages/blog/_meta.json
  website/pages/blog/product-updates-1.md
Owners: none

Just don't log it
  plugins/source/aws/resources/services/fsx/file_caches_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix: Added password enabled column to `aws_iam_credential_reports`
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/resources/services/iam/credential_reports.go
Owners: @hermanschaaf, @yevgenypats

docs
  plugins/source/aws/docs/tables/aws_iam_credential_reports.md
Owners: @hermanschaaf, @yevgenypats

fix(deps): Update plugin-sdk for aws to v1.6.0
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

fix(deps): Update plugin-sdk for azure to v1.6.0
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

fix(deps): Update plugin-sdk for cli to v1.6.0
  cli/go.mod
  cli/go.sum
Owners: none

fix(deps): Update plugin-sdk for cloudflare to v1.6.0
  plugins/source/cloudflare/go.mod
  plugins/source/cloudflare/go.sum
Owners: none

fix(deps): Update plugin-sdk for csv to v1.6.0
  plugins/destination/csv/go.mod
  plugins/destination/csv/go.sum
Owners: none

fix(deps): Update plugin-sdk for digitalocean to v1.6.0
  plugins/source/digitalocean/go.mod
  plugins/source/digitalocean/go.sum
Owners: none

fix(deps): Update plugin-sdk for gcp to v1.6.0
  plugins/source/gcp/go.mod
  plugins/source/gcp/go.sum
Owners: none

fix(deps): Update plugin-sdk for github to v1.6.0
  plugins/source/github/go.mod
  plugins/source/github/go.sum
Owners: none

fix(deps): Update plugin-sdk for heroku to v1.6.0
  plugins/source/heroku/go.mod
  plugins/source/heroku/go.sum
Owners: none

fix(deps): Update plugin-sdk for k8s to v1.6.0
  plugins/source/k8s/go.mod
  plugins/source/k8s/go.sum
Owners: none

fix(deps): Update plugin-sdk for okta to v1.6.0
  plugins/source/okta/go.mod
  plugins/source/okta/go.sum
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.6.0
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: none

fix(deps): Update plugin-sdk for sqlite to v1.6.0
  plugins/destination/sqlite/go.mod
  plugins/destination/sqlite/go.sum
Owners: none

fix(deps): Update plugin-sdk for terraform to v1.6.0
  plugins/source/terraform/go.mod
  plugins/source/terraform/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.6.0
  plugins/destination/test/go.mod
  plugins/destination/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for test to v1.6.0
  plugins/source/test/go.mod
  plugins/source/test/go.sum
Owners: none

fix(deps): Update plugin-sdk for aws to v1.6.0 (#4841)
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
Owners: none

chore(main): Release plugins-source-aws v7.1.2
  .release-please-manifest.json
  plugins/source/aws/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for cli to v1.6.0 (#4843)
  cli/go.mod
  cli/go.sum
Owners: none

fix sdk upgrade
  plugins/destination/sqlite/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.19
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

fix sdk upgrade
  plugins/destination/postgresql/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

fix(deps): Update plugin-sdk for azure to v1.6.0 (#4842)
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
Owners: none

chore(main): Release plugins-source-azure v1.4.8
  .release-please-manifest.json
  plugins/source/azure/CHANGELOG.md
Owners: none

fix(deps): Update plugin-sdk for postgresql to v1.6.0 (#4852)
  plugins/destination/postgresql/client/client_test.go
  plugins/destination/postgresql/go.mod
  plugins/destination/postgresql/go.sum
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-destination-postgresql v1.7.12
  .release-please-manifest.json
  plugins/destination/postgresql/CHANGELOG.md
Owners: none

fix csv
  plugins/destination/csv/client/client_test.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release cli v2.0.19 (#4857)
  .release-please-manifest.json
  cli/CHANGELOG.md
Owners: none

Update website/pages/blog/introducing-the-github-cloudquery-provider.md
  website/pages/blog/introducing-the-github-cloudquery-provider.md
Owners: none

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md
