Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

fix bug
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

fmt
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

fetch only enabled subscriptions
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

add resources resource
  plugins/source/azure/codegen2/recipes/resources_e.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/resources/resources.go
  plugins/source/azure/resources/services/resources/resources_mock_test.go
Owners: @erezrokah, @yevgenypats

simplify scripts
  plugins/source/azure/client/namespaces.go
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen0/internal/azparser/gomod.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen0/main.go
  plugins/source/azure/codegen1/recipes/cosmos.go
  plugins/source/azure/codegen1/recipes/managementgroups.go
  plugins/source/azure/codegen2/recipes/managementgroups.go
  plugins/source/azure/go.mod
  plugins/source/azure/go.sum
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/managementgroups/entities.go
  plugins/source/azure/resources/services/managementgroups/entities_mock_test.go
  plugins/source/azure/scripts/update_azure_subpackages.sh
Owners: @erezrokah, @yevgenypats

update Makefile
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

gen updated
  plugins/source/azure/Makefile
Owners: @erezrokah, @yevgenypats

update docs
  plugins/source/azure/docs/tables/README.md
  plugins/source/azure/docs/tables/azure_aad_private_link_for_azure_ad.md
  plugins/source/azure/docs/tables/azure_apimanagement_service.md
  plugins/source/azure/docs/tables/azure_authorization_role_definitions.md
  plugins/source/azure/docs/tables/azure_botservice_bots.md
  plugins/source/azure/docs/tables/azure_cdn_endpoints.md
  plugins/source/azure/docs/tables/azure_cdn_profiles.md
  plugins/source/azure/docs/tables/azure_cognitiveservices_deleted_accounts.md
  plugins/source/azure/docs/tables/azure_compute_disks.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machine_scale_sets.md
  plugins/source/azure/docs/tables/azure_compute_virtual_machines.md
  plugins/source/azure/docs/tables/azure_containerinstance_container_groups.md
  plugins/source/azure/docs/tables/azure_cosmos_database_accounts.md
  plugins/source/azure/docs/tables/azure_cosmos_mongo_db_databases.md
  plugins/source/azure/docs/tables/azure_cosmos_sql_databases.md
  plugins/source/azure/docs/tables/azure_hdinsight_clusters.md
  plugins/source/azure/docs/tables/azure_kusto_clusters.md
  plugins/source/azure/docs/tables/azure_network_application_gateways.md
  plugins/source/azure/docs/tables/azure_network_azure_firewalls.md
  plugins/source/azure/docs/tables/azure_network_nat_gateways.md
  plugins/source/azure/docs/tables/azure_network_public_ip_addresses.md
  plugins/source/azure/docs/tables/azure_network_public_ip_prefixes.md
  plugins/source/azure/docs/tables/azure_resources_resources.md
  plugins/source/azure/docs/tables/azure_sql_deleted_servers.md
  plugins/source/azure/docs/tables/azure_storage_deleted_accounts.md
  plugins/source/azure/docs/tables/azure_subscriptions_tenants.md
  website/pages/docs/plugins/sources/azure/tables.md
Owners: @erezrokah, @yevgenypats

minor fixes
  plugins/source/azure/client/helpers.go
  plugins/source/azure/client/testing.go
  plugins/source/azure/resources/services/cdn/endpoints_fetch.go
  plugins/source/azure/resources/services/cosmos/mongo_db_databases_fetch.go
  plugins/source/azure/resources/services/cosmos/sql_databases_fetch.go
Owners: @erezrokah, @yevgenypats

fmt fix
  plugins/source/azure/client/helpers.go
  plugins/source/azure/codegen0/internal/azparser/discover.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
Owners: @erezrokah, @yevgenypats

add tables
  plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen2/recipes/storage.go
  plugins/source/azure/codegen2/recipes/storage_e.go
  plugins/source/azure/resources/plugin/tables.go
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/tables.go
  plugins/source/azure/resources/services/storage/tables_fetch.go
  plugins/source/azure/resources/services/storage/tables_mock_test.go
Owners: @erezrokah, @yevgenypats

tidy more
  plugins/source/azure/client/multiplexer.go
  plugins/source/azure/resources/services/network/virtual_network_gateway_connections.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/client/client.go
  plugins/source/azure/client/client.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/codegen0/internal/azparser/parser.go
  plugins/source/azure/codegen0/internal/azparser/parser.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/codegen0/internal/azparser/gomod.go
  plugins/source/azure/codegen0/internal/azparser/gomod.go
Owners: @erezrokah, @yevgenypats

Update plugins/source/azure/codegen0/main.go
  plugins/source/azure/codegen0/main.go
Owners: @erezrokah, @yevgenypats

fmt
  plugins/source/azure/codegen0/main.go
Owners: @erezrokah, @yevgenypats

minor fixes
  plugins/source/azure/codegen0/main.go
  plugins/source/azure/codegen1/main.go
Owners: @erezrokah, @yevgenypats

make relations private
  plugins/source/azure/codegen2/main.go
  plugins/source/azure/codegen2/templates/list.go.tpl
  plugins/source/azure/resources/services/cdn/endpoints.go
  plugins/source/azure/resources/services/cdn/profiles.go
  plugins/source/azure/resources/services/cosmos/database_accounts.go
  plugins/source/azure/resources/services/cosmos/mongo_db_databases.go
  plugins/source/azure/resources/services/cosmos/sql_databases.go
  plugins/source/azure/resources/services/storage/accounts.go
  plugins/source/azure/resources/services/storage/tables.go
Owners: @erezrokah, @yevgenypats

fix(aws-functions): Return error in case of access denied
  plugins/source/aws/client/helpers.go
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Owners: @hermanschaaf, @yevgenypats

fix(aws-functions): Return error in case of access denied (#5537)
  plugins/source/aws/client/helpers.go
  plugins/source/aws/resources/services/lambda/functions_fetch.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add IAM SSH Public Keys
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_ssh_public_keys.md
  plugins/source/aws/docs/tables/aws_iam_users.md
  plugins/source/aws/resources/services/iam/ssh_public_keys.go
  plugins/source/aws/resources/services/iam/ssh_public_keys_fetch.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

test: Fix destination tests for postgresql,csv,sqlite
  plugins/destination/bigquery/client/client_test.go
  plugins/destination/csv/client/client.go
  plugins/destination/csv/client/reverse_transformer.go
  plugins/destination/postgresql/client/client.go
  plugins/destination/postgresql/client/reverse_transform.go
  plugins/destination/snowflake/client/client_test.go
  plugins/destination/sqlite/client/client.go
  plugins/destination/sqlite/client/client_test.go
  plugins/destination/sqlite/client/read.go
  plugins/destination/sqlite/client/reverse_transform.go
  plugins/destination/sqlite/client/transformer.go
Owners: @cloudquery/cloudquery-opensource

chore: Remove Crowdstrike plugin tables script
  plugins/source/crowdstrike/Makefile
Owners: @cloudquery/cloudquery-opensource

chore: Update crowdstrike docs
  plugins/source/crowdstrike/docs/tables/README.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_alerts_query.md
  plugins/source/crowdstrike/docs/tables/crowdstrike_incidents_crowdscore.md
Owners: @cloudquery/cloudquery-opensource

fix(ci): Don't wait for Azure policy tests
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

fix(ci): Don't wait for Azure policy tests (#5540)
  .github/workflows/wait_for_required_workflows.yml
Owners: @erezrokah, @hermanschaaf, @yevgenypats

BigQuery destination: wait for table migrations to complete before returning
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

chore(main): Release plugins-source-test v1.3.23
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

fix(deps): Update module github.com/aws/aws-sdk-go-v2/service/autoscaling to v1.25.0 (#5524)
  plugins/source/aws/client/mocks/autoscaling.go
  plugins/source/aws/client/services/autoscaling.go
  plugins/source/aws/docs/tables/aws_autoscaling_groups.md
  plugins/source/aws/go.mod
  plugins/source/aws/go.sum
  plugins/source/aws/resources/services/autoscaling/groups.go
Owners: @hermanschaaf, @yevgenypats

feat(aws): Add IAM SSH Public Keys (#5538)
  plugins/source/aws/codegen/recipes/iam.go
  plugins/source/aws/docs/tables/README.md
  plugins/source/aws/docs/tables/aws_iam_ssh_public_keys.md
  plugins/source/aws/docs/tables/aws_iam_users.md
  plugins/source/aws/resources/services/iam/ssh_public_keys.go
  plugins/source/aws/resources/services/iam/ssh_public_keys_fetch.go
  plugins/source/aws/resources/services/iam/users.go
  plugins/source/aws/resources/services/iam/users_mock_test.go
  website/pages/docs/plugins/sources/aws/tables.md
Owners: @hermanschaaf, @yevgenypats

use constants
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

chore(gcp): Minor recipe changes
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/codegen/recipes/storage.go
  plugins/source/gcp/resources/plugin/autogen_tables.go
Owners: @yevgenypats, @disq

Fix linting errors
  plugins/destination/bigquery/client/migrate.go
Owners: @cloudquery/cloudquery-opensource

rerun docs
  plugins/source/gcp/docs/tables/README.md
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

chore(gcp): Minor recipe changes (#5545)
  plugins/source/gcp/codegen/main.go
  plugins/source/gcp/codegen/recipes/apikeys.go
  plugins/source/gcp/codegen/recipes/base.go
  plugins/source/gcp/codegen/recipes/bigquery.go
  plugins/source/gcp/codegen/recipes/billing.go
  plugins/source/gcp/codegen/recipes/compute.go
  plugins/source/gcp/codegen/recipes/container.go
  plugins/source/gcp/codegen/recipes/containeranalysis.go
  plugins/source/gcp/codegen/recipes/dns.go
  plugins/source/gcp/codegen/recipes/domains.go
  plugins/source/gcp/codegen/recipes/functions.go
  plugins/source/gcp/codegen/recipes/iam.go
  plugins/source/gcp/codegen/recipes/kms.go
  plugins/source/gcp/codegen/recipes/logging.go
  plugins/source/gcp/codegen/recipes/monitoring.go
  plugins/source/gcp/codegen/recipes/redis.go
  plugins/source/gcp/codegen/recipes/resourcemanager.go
  plugins/source/gcp/codegen/recipes/run.go
  plugins/source/gcp/codegen/recipes/secretmanager.go
  plugins/source/gcp/codegen/recipes/serviceusage.go
  plugins/source/gcp/codegen/recipes/sqladmin.go
  plugins/source/gcp/codegen/recipes/storage.go
  plugins/source/gcp/docs/tables/README.md
  plugins/source/gcp/resources/plugin/autogen_tables.go
  website/pages/docs/plugins/sources/gcp/tables.md
Owners: @yevgenypats, @disq

codegen
  plugins/source/github/codegen/recipes/actions.go
  plugins/source/github/resources/services/actions/workflows.go
Owners: @cloudquery/cloudquery-opensource

add action
  plugins/source/github/client/client.go
  plugins/source/github/client/mocks/mock_actions.go
  plugins/source/github/client/services.go
  plugins/source/github/codegen/recipes/actions.go
Owners: @cloudquery/cloudquery-opensource

rename recipes
  plugins/source/github/codegen/main.go
  plugins/source/github/codegen/recipes/base.go
  plugins/source/github/codegen/recipes/billing.go
  plugins/source/github/codegen/recipes/columns.go
  plugins/source/github/codegen/recipes/external.go
  plugins/source/github/codegen/recipes/hooks.go
  plugins/source/github/codegen/recipes/installations.go
  plugins/source/github/codegen/recipes/issues.go
  plugins/source/github/codegen/recipes/multiplex.go
  plugins/source/github/codegen/recipes/organizations.go
  plugins/source/github/codegen/recipes/repositories.go
  plugins/source/github/codegen/recipes/teams.go
  plugins/source/github/codegen/recipes/templates/resource.go.tpl
  plugins/source/github/resources/plugin/tables.go
  plugins/source/github/resources/services/actions/workflows.go
  plugins/source/github/resources/services/actions/workflows_fetch.go
  plugins/source/github/resources/services/issues/issues_fetch.go
Owners: @cloudquery/cloudquery-opensource
