Repository cloudquery/cloudquery, changes with the owners that CODEOWNERS names for each.
All owners: @erezrokah, @hermanschaaf, @yevgenypats, @cloudquery/cloudquery-opensource, @disq

CODEOWNERS:

/.github/  @erezrokah @hermanschaaf @yevgenypats
/cli/       @yevgenypats
/plugins/ @cloudquery/cloudquery-opensource
/plugins/source/aws @hermanschaaf @yevgenypats
/plugins/source/azure @erezrokah @yevgenypats
/plugins/source/gcp @yevgenypats @disq

**/go.mod
**/go.sum
.release-please-manifest.json
**/CHANGELOG.md

chore(main): Release plugins-source-cloudflare v2.2.21 (#5051)
  .release-please-manifest.json
  plugins/source/cloudflare/CHANGELOG.md
Owners: none

Update website/next.config.mjs
  website/next.config.mjs
Owners: none

chore(main): Release plugins-source-github v1.2.19 (#5054)
  .release-please-manifest.json
  plugins/source/github/CHANGELOG.md
Owners: none

Update website/next.config.mjs
  website/next.config.mjs
Owners: none

chore: Update plugin `source-azure` version to v1.4.10
  website/versions/source-azure.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.21
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-aws` version to v7.2.3
  website/versions/source-aws.json
Owners: none

refactor: Simplify condition
  website/next.config.mjs
Owners: none

chore(main): Release plugins-source-k8s v2.4.4 (#5055)
  .release-please-manifest.json
  plugins/source/k8s/CHANGELOG.md
Owners: none

chore: Update plugin `source-github` version to v1.2.19
  website/versions/source-github.json
Owners: none

chore(main): Release plugins-source-okta v1.3.14 (#5056)
  .release-please-manifest.json
  plugins/source/okta/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-heroku v3.0.10 (#5057)
  .release-please-manifest.json
  plugins/source/heroku/CHANGELOG.md
Owners: none

chore: Update plugin `source-k8s` version to v2.4.4
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-okta` version to v1.3.14
  website/versions/source-okta.json
Owners: none

chore(main): Release plugins-source-terraform v1.2.25 (#5060)
  .release-please-manifest.json
  plugins/source/terraform/CHANGELOG.md
Owners: none

chore: Update plugin `source-heroku` version to v3.0.10
  website/versions/source-heroku.json
Owners: none

chore: Update plugin `source-terraform` version to v1.2.25
  website/versions/source-terraform.json
Owners: none

chore(main): Release plugins-source-test v1.3.21 (#5062)
  .release-please-manifest.json
  plugins/source/test/CHANGELOG.md
Owners: none

chore(main): Release plugins-source-gandi v1.0.0 (#5101)
  .release-please-manifest.json
  plugins/source/gandi/CHANGELOG.md
Owners: none

chore: Update plugin `source-digitalocean` version to v3.0.4 (#5171)
  website/versions/source-digitalocean.json
Owners: none

chore: Update plugin `source-test` version to v1.3.21
  website/versions/source-test.json
Owners: none

chore: Update plugin `source-gcp` version to v3.1.0 (#5172)
  website/versions/source-gcp.json
Owners: none

fix(website): Don't error on missing plugin version for new plugins (#5170)
  website/next.config.mjs
Owners: none

chore: Update plugin `source-azure` version to v1.4.10 (#5173)
  website/versions/source-azure.json
Owners: none

chore: Update plugin `source-github` version to v1.2.19 (#5176)
  website/versions/source-github.json
Owners: none

chore: Update plugin `source-cloudflare` version to v2.2.21 (#5174)
  website/versions/source-cloudflare.json
Owners: none

chore: Update plugin `source-aws` version to v7.2.3 (#5175)
  website/versions/source-aws.json
Owners: none

chore: Update plugin `source-gandi` version to v1.0.0
  website/versions/source-gandi.json
Owners: none

chore: Update plugin `source-k8s` version to v2.4.4 (#5177)
  website/versions/source-k8s.json
Owners: none

chore: Update plugin `source-okta` version to v1.3.14 (#5178)
  website/versions/source-okta.json
Owners: none

Doc updates
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/pages/docs/recipes/destinations/_meta.json
  website/pages/docs/recipes/destinations/bigquery.md
Owners: none

Set append write_mode in csv and snowflake recipes
  website/pages/docs/recipes/destinations/csv.md
  website/pages/docs/recipes/destinations/snowflake.md
Owners: none

chore: Update plugin `source-terraform` version to v1.2.25 (#5181)
  website/versions/source-terraform.json
Owners: none

chore: Update plugin `source-heroku` version to v3.0.10 (#5180)
  website/versions/source-heroku.json
Owners: none

chore: Update plugin `source-test` version to v1.3.21 (#5182)
  website/versions/source-test.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.21
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

chore: Update plugin `source-gandi` version to v1.0.0 (#5183)
  website/versions/source-gandi.json
Owners: none

chore(deps): Update dependency cloudquery/cloudquery to v1.3.21 (#5185)
  cli/cmd/testdata/sync-missing-path-error.yml
  cli/cmd/testdata/sync-success.yml
Owners: @yevgenypats

added contributing
  plugins/source/datadog/CONTRIBUTING.md
Owners: @cloudquery/cloudquery-opensource

Update
  website/pages/docs/plugins/destinations/bigquery/overview.md
  website/versions/destination-bigquery.json
Owners: none
